Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @ValentinZakharov, @DataDog/ci-app-libraries-java

Remove master from list of triggers for docker release
  .gitlab-ci.yml
Owners: @DataDog/apm-java

Add Wall Time profiler (#3669)
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/test/java/com/datadog/profiling/async/AsyncProfilerTest.java
  dd-java-agent/agent-profiling/profiling-auxiliary-async/src/main/java/com/datadog/profiling/auxiliary/async/AsyncProfilerConfigEvent.java
  dd-java-agent/agent-profiling/profiling-auxiliary-async/src/main/java/com/datadog/profiling/auxiliary/async/AuxiliaryAsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryProfiler.java
  dd-java-agent/agent-profiling/profiling-context/profiling-context.gradle
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/IntervalSequencePruner.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactoryTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalSequencePrunerTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PerSpanTracingContextTrackerFactoryTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PerSpanTracingContextTrackerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-utils/src/main/java/com/datadog/profiling/utils/ProfilingMode.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
Owners: @DataDog/profiling-java, @DataDog/apm-java

Add some logging to instrumentation
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Error handling
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ExecutionInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/InstrumentedDataFetcher.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ValidationInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/java/Book.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/resources/schema.graphqls
Owners: @DataDog/apm-java

Epoch nano calculation can not use epoch millis
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalEncoderTest.java
Owners: @DataDog/profiling-java

Bridge between instrumentation and IAST
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Owners: @DataDog/apm-java

Match all classes inheriting from java.lang.Object (aka all classes)
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Don't use Logger, use System.err directly
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Put log in MainAdvice
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Remove log, use System.err instead
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Epoch nano calculation can not use epoch millis (#3710)
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalEncoderTest.java
Owners: @DataDog/profiling-java

Remove all code and add muzzleCheck method
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Make default async propagation configurable
  dd-java-agent/instrumentation/opentelemetry/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

it seems to work now
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Add System.exit instrumentation
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/SystemExitInstrumentation.java
Owners: @DataDog/apm-java

Move SystemExitTransformation
  dd-java-agent/instrumentation/main/main.gradle
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/systemexit/SystemExitInstrumentation.java
Owners: @DataDog/apm-java

Update functions.sh
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/apm-java

Remove master from list of triggers for docker release (#3709)
  .gitlab-ci.yml
Owners: @DataDog/apm-java

Switch default async propagation to false
  dd-java-agent/instrumentation/aerospike-4/src/main/java/datadog/trace/instrumentation/aerospike4/AerospikeClientInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpSingleRequestInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/DatadogWrapperHelper.java
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/AxisEngineInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java8/datadog/trace/instrumentation/datastax/cassandra4/TracingSession.java
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/main/java/datadog/trace/instrumentation/elasticsearch2/Elasticsearch2TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/src/main/java/datadog/trace/instrumentation/elasticsearch5_3/Elasticsearch53TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-5/src/main/java/datadog/trace/instrumentation/elasticsearch5/Elasticsearch5TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-6/src/main/java/datadog/trace/instrumentation/elasticsearch6/Elasticsearch6TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/src/main/java/datadog/trace/instrumentation/elasticsearch7_3/Elasticsearch73TransportClientInstrumentation.java
  dd-java-agent/instrumentation/google-http-client/src/main/java/datadog/trace/instrumentation/googlehttpclient/GoogleHttpClientInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientStreamListenerImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/lettuce-4/src/main/java8/datadog/trace/instrumentation/lettuce4/InstrumentationPoints.java
  dd-java-agent/instrumentation/micronaut-http-server-netty-2/src/main/java8/datadog/trace/instrumentation/micronaut/ChannelRead0Advice.java
  dd-java-agent/instrumentation/mule-4/src/main/java8/datadog/trace/instrumentation/mule4/CurrentEventHelper.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RediscalaInstrumentation.java
  dd-java-agent/instrumentation/restlet-2.2/src/main/java/datadog/trace/instrumentation/restlet/ResourceInstrumentation.java
  dd-java-agent/instrumentation/restlet-2.2/src/main/java/datadog/trace/instrumentation/restlet/RestletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseClientInstrumentation.java
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseServerInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-3.9/src/main/java8/datadog/trace/instrumentation/vertx_sql_client/QueryAdvice.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Sanitize query except for unparseable
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ExecutionInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/GraphQLInstrumentation.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ParsingInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
Owners: @DataDog/apm-java

Fix url through agent
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Bump async-profiler to 2.8.3-DD-20220812
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Remove "cached files" info of disapplied remote cfg keys
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Owners: @DataDog/apm-java

Add logging stmt
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
Owners: @DataDog/apm-java

Bump async-profiler to 2.8.3-DD-20220812 (#3716)
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Fix Crash Tracking url for agent mode (#3718)
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Fix to load GraphQLQuerySanitizer
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java/datadog.trace.instrumentation.graphqljava/GraphQLJavaInstrumentation.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/GraphQLQuerySanitizer.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ParsingInstrumentationContext.java
Owners: @DataDog/apm-java

Doc
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  dd-java-agent/src/test/java/datadog/trace/agent/test/IntegrationTestUtils.java
Owners: @DataDog/apm-java

Using single class-loader for internal agent classes and resources (#3684)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/BootstrapProxy.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/InternalJarURLHandler.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/exception/ExceptionSampling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/DatadogClassLoaderTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/InternalJarURLHandlerTest.groovy
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/jar-with-nested-classes-jdk8
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/jar-with-nested-classes-jdk8-readme.md
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/testjar-jdk8
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/testjar-readme.md
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Utils.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/CustomExcludes.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/dd-java-agent.gradle
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/UrlInstrumentation.java
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentJar.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/JMXFetchTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/classloading/ShadowPackageRenamingTest.groovy
  dd-java-agent/src/test/java/datadog/trace/agent/test/IntegrationTestUtils.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  internal-api/src/main/java/datadog/trace/util/AgentTaskScheduler.java
  internal-api/src/main/java/datadog/trace/util/ClassNameTrie.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/util/ClassNameTrieTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
Owners: @DataDog/apm-java

Dependencies resolution distributed in time.
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolverQueue.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyService.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyServiceImpl.java
  telemetry/src/main/java/datadog/telemetry/dependency/JbossVirtualFileHelper.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DepSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyPeriodActionSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverQueueSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyServiceImplSpecification.groovy
  telemetry/src/test/java/datadog/telemetry/dependency/DependencyServiceImplTests.java
  telemetry/telemetry.gradle
Owners: @DataDog/apm-java

Move BootstrapProxy to its own top-level class
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
Owners: @DataDog/apm-java

Cleanup use of BootstrapProxy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
Owners: @DataDog/apm-java

Avoid using exception sampler until we know JFR is ready
  dd-java-agent/agent-bootstrap/agent-bootstrap.gradle
Owners: @DataDog/apm-java

Add option to enable and start debugger
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/dd-java-agent.gradle
Owners: @DataDog/apm-java

Revert moving getCommonSuperClass to agent-tooling
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ClassWriterHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
Owners: @DataDog/apm-java

fix debugger packaging
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/agent-debugger.gradle
Owners: @DataDog/apm-java

resolve packaging
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ClassWriterHelper.java
  dd-java-agent/agent-debugger/agent-debugger.gradle
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
Owners: @DataDog/apm-java

Fix muzzle deps
  dd-java-agent/instrumentation/graphql-java-14.0/graphql-java-14.0.gradle
Owners: @DataDog/apm-java

Add exchange and routing key info for RabbitMQ DSM instrumentation
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/TagsCache.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/  @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/ @DataDog/profiling-java

# @ValentinZakharov is not in the @DataDog org :( so add him here
dd-java-agent/appsec/  @DataDog/appsec-java @ValentinZakharov

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/                @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                               @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng-6.4/                              @DataDog/ci-app-libraries-java
