Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java

Run PR tests on master
  trigger
Owners: @DataDog/apm-java

flag SpanDecoration smoke tests Flaky
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Owners: @DataDog/debugger-java

Less verbose dependency collection debug logs (#5904)
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
Owners: @DataDog/apm-java

Correctly handle cases when there are multiple JVM forks per single test module (#5806)
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/TestFramework.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/SpanUtils.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/settings.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/test/java/datadog/smoke/TestSucceedJunit5.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
Owners: @DataDog/ci-app-libraries-java

Automatically compute list of packages for Jacoco instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageTree.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/PackageResolverImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Use automatically computed Jacoco packages in Gradle instrumentation
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Use automatically computed Jacoco packages in Maven instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenTestExecution.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Update Maven Jacoco auto-configuration to look for prepare-agent goal rather than for any execution of Jacoco plugin
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
Owners: @DataDog/ci-app-libraries-java

Add code coverage exclusion
  dd-java-agent/agent-ci-visibility/build.gradle
Owners: @DataDog/ci-app-libraries-java

Add code coverage exclusion
  dd-java-agent/agent-ci-visibility/build.gradle
Owners: @DataDog/ci-app-libraries-java

use _component_override for peer service source
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
Owners: @DataDog/apm-java

Fix Spark streaming flaky test (#5906)
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
Owners: @DataDog/apm-java

Add fallbacks when retrieving databricks ids
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Owners: @DataDog/apm-java

Remove direct references to Taintable from advices
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintUriFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintUriFunction.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Owners: @DataDog/asm-java

add debug logs
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/QueryObfuscator.java
Owners: @DataDog/apm-java

use _component_override for peer service source (#5911)
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
Owners: @DataDog/apm-java

add stack trace
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
Owners: @DataDog/apm-java

Update to ASM rules 1.8.0 (#5902)
  dd-java-agent/appsec/src/main/resources/default_config.json
Owners: @DataDog/asm-java

add more stack trace
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
Owners: @DataDog/apm-java

fix stacktrace print
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
Owners: @DataDog/apm-java

fix stacktrace print - 2
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
Owners: @DataDog/apm-java

fix stacktrace print - 3
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
Owners: @DataDog/apm-java

Fix Span decoration smoke tests flakiness
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Owners: @DataDog/debugger-java

fix logger
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
Owners: @DataDog/apm-java

fix logger -2
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
Owners: @DataDog/apm-java

Rely on spark.databricks.job.parentRunId for databricks_job_run_id
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Owners: @DataDog/apm-java

Remove direct references to Taintable from advices (#5905)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintUriFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintUriFunction.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Owners: @DataDog/asm-java

Add support for scala APIs to IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/scala/build.gradle
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/RandomCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/ScalaJavaConverters.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/SourceCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringBuilderCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringContextCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringOpsCallSite.java
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/AbstractIastScalaTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/RandomCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/SourceCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringContextCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestRandomSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestScalaStringBuilderSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestSourceSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestStringInterpolationSuite.scala
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

add debug logs for HttpClientDecorator
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
Owners: @DataDog/apm-java

add debug logs for DDSpanContext.setResourceName
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Owners: @DataDog/apm-java

add debug logs for TagInterceptor
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
Owners: @DataDog/apm-java

fix debug logs for TagInterceptor
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
Owners: @DataDog/apm-java

fix debug logs for normalize pkg
  internal-api/src/main/java/datadog/trace/api/normalize/AntPatternHttpPathNormalizer.java
  internal-api/src/main/java/datadog/trace/api/normalize/HttpResourceNames.java
Owners: @DataDog/apm-java

Add support for scala APIs to IAST (#5284)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/scala/build.gradle
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/RandomCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/ScalaJavaConverters.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/SourceCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringBuilderCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringContextCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringOpsCallSite.java
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/AbstractIastScalaTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/RandomCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/SourceCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringContextCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestRandomSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestScalaStringBuilderSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestSourceSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestStringInterpolationSuite.scala
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

fix debug logs for normalize pkg - 2
  internal-api/src/main/java/datadog/trace/api/normalize/HttpResourceNames.java
Owners: @DataDog/apm-java

Flag flaky smoke tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Owners: @DataDog/debugger-java

Report every Gradle task as a span
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
Owners: @DataDog/ci-app-libraries-java

reflected updates to liberty-20 from master
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParseParametersInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParsePostDataInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletBlockingHelper.java
Owners: @DataDog/apm-java

spotless
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParseParametersInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParsePostDataInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletBlockingHelper.java
Owners: @DataDog/apm-java

Move logic to datadog.trace.bootstrap.Agent#start.
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
Owners: @DataDog/apm-java, @DataDog/profiling-java
