Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

feat: Improve telemetry service
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/metric/WafMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Owners: @DataDog/iast-java, @DataDog/appsec-java, @DataDog/apm-java

Add support for distribution metrics
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StatsdMetricForwarder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Owners: @DataDog/debugger-java

upgrade ddprof to 0.57.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

cleaning code as per PR comments
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
Owners: @DataDog/iast-java

Support dynamic configuration of trace sampling rate (#5466)
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerAPITest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Owners: @DataDog/apm-java

Test system-tests PR
  .circleci/config.yml
Owners: @DataDog/apm-java

Fix issue when "[" is before TRACEID
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

Improve telemetry service (#5477)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/metric/WafMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Owners: @DataDog/iast-java, @DataDog/appsec-java, @DataDog/apm-java

Fix source of flakiness in logs injection smoke test (#5468)
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

Add possibility to configure network interface used by signal server
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServer.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Minor improvements to unshallow and getObjects commands
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
Owners: @DataDog/ci-app-libraries-java

Implement Git repo unshallowing (#5434)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/dummy.txt
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/config
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/description
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/index
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/info/exclude
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.idx
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.pack
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/packed-refs
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/shallow
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Latest dynamic-config schema changes
  dd-smoke-tests/dynamic-config/src/test/groovy/datadog/smoketest/DynamicServiceMappingSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Owners: @DataDog/apm-java

changed config variable name
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Latest dynamic-config schema changes (#5481)
  dd-smoke-tests/dynamic-config/src/test/groovy/datadog/smoketest/DynamicServiceMappingSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Owners: @DataDog/apm-java

Hook in loglevel switcher
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/logging/GlobalLogLevelSwitcher.java
  internal-api/src/main/java/datadog/trace/logging/LogLevel.java
  internal-api/src/main/java/datadog/trace/logging/LogLevelSwitcher.java
Owners: @DataDog/apm-java

Revert "Improve release note generation (#5464)"
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

fix: Fix release creation
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

feat: Add manual trigger to draft release note action
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

fix: Fix release creation (#5484)
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

Fix support for small type metric values
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot25.java
Owners: @DataDog/debugger-java

fixes
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
Owners: @DataDog/iast-java

Update index.yml
  index.yml
Owners: @DataDog/apm-java

IAST No SameSite Cookie Vulnerability (#5438)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/NoHttpOnlyCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/NoSameSiteCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityDetails.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoHttpCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoSameSiteCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
  dd-java-agent/instrumentation/jersey/src/test/groovy/datadog/trace/instrumentation/jersey/JakartaWSResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/test/groovy/JavaxWSResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastSinksTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/groovy/server/Vertx39InsecureCookieTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HttpResponseHeaderModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoHttpOnlyCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoSameSiteCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/UnvalidatedRedirectModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Owners: @DataDog/iast-java, @DataDog/apm-java

Adding smoke tests for No Same Site cookie vulnerability and fixing vulnerability String
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
Owners: @DataDog/apm-java, @DataDog/iast-java

Implement a mechanism to report data from children processes to parent process (#5427)
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ChannelContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/Signal.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalType.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ChannelContextTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Add support to IAST XPath Injection vulnerability
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XPathInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XPathInjectionModuleTest.groovy
  dd-java-agent/instrumentation/javax-xml/build.gradle
  dd-java-agent/instrumentation/javax-xml/src/main/java/datadog/trace/instrumentation/javax/xml/XPathCallSite.java
  dd-java-agent/instrumentation/javax-xml/src/test/groovy/datadog/trace/instrumentation/javax/xml/XPathInstrumentationTest.groovy
  dd-java-agent/instrumentation/javax-xml/src/test/java/foo/bar/TestXPathSuite.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/resources/xpathi.xml
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/resources/xpathi.xml
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/XPathInjectionModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Owners: @DataDog/iast-java, @DataDog/apm-java

IAST Adding smoke tests for No Same Site cookie vulnerability and fixing vulnerability String (#5486)
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
Owners: @DataDog/apm-java, @DataDog/iast-java

Document implicit relation between test span tags and configuration request fields
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
Owners: @DataDog/ci-app-libraries-java

fix merge codenarc
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Owners: @DataDog/iast-java

Fix tests
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/GlobalLogLevelSwitcherTest.groovy
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDLoggerTest.groovy
Owners: @DataDog/apm-java

more test fixes
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/LogLevelTest.groovy
  internal-api/build.gradle
Owners: @DataDog/apm-java

spotless
  internal-api/build.gradle
Owners: @DataDog/apm-java

feat: Add span metrics
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreCounter.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

Stabilize flaky Maven smoke test
  dd-smoke-tests/maven/src/main/java/datadog/smoketest/maven/MavenRunner.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Add span metrics (#5480)
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreCounter.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

Update current JVM path retrieval logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9ExecutableSupplier.java
  internal-api/src/main/java/datadog/trace/util/ProcessUtils.java
  internal-api/src/test/groovy/datadog/trace/util/ProcessUtilsTest.groovy
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Update asserts for latest Maven 4 alpha
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

pin test agent release
  .circleci/config.yml
Owners: @DataDog/apm-java

Upgrade ddprof to 0.61.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

dd-java-agent/appsec/  @DataDog/appsec-java

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/    @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/                         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/                 @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                                      @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
