Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java

Use process.isAlive() in PortUtils (#5922)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
Owners: @DataDog/apm-java

Move httpUrl into HttpClient for routing purposes
  telemetry/src/main/java/datadog/telemetry/HttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/test/groovy/datadog/telemetry/HttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
Owners: @DataDog/apm-java

Set url in Telemetry HttpClient, so it can be changed to Intake depending on Agent availability
  telemetry/src/main/java/datadog/telemetry/HttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestState.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/test/groovy/datadog/telemetry/HttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
Owners: @DataDog/apm-java

Add ConfigSetting tests. Add missing null checks. Change `jvm.prop` to `jvm_prop`.
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigSettingTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
Owners: @DataDog/apm-java

Register that we will reflect on ConcurrentHashMap constructor at runtime (via GenericClassValue.constructing)
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
Owners: @DataDog/apm-java

Register that we will reflect on ConcurrentHashMap constructor at runtime (via GenericClassValue.constructing) (#5924)
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
Owners: @DataDog/apm-java

Fix file path in diagnostic coverage dumps
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
Owners: @DataDog/ci-app-libraries-java

Automatically configure list of packages for Jacoco instrumentation (#5835)
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageTree.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/PackageResolverImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenTestExecution.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Update Jacoco instrumentation logic to use static method handles instead of reflection
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/MethodVisitorWrapper.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ReflectiveMethodVisitor.java
Owners: @DataDog/ci-app-libraries-java

Update Jacoco instrumentation logic to use static method handles instead of reflection (#5845)
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/MethodVisitorWrapper.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ReflectiveMethodVisitor.java
Owners: @DataDog/ci-app-libraries-java

Imlpement ITR unskippable tests for JUnit 5
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformLauncherUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
Owners: @DataDog/ci-app-libraries-java

Implement additional tags that are set for ITR unskippable tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

fix(core): Fix baggage HTTP header encoding
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
Owners: @DataDog/apm-java

Add a listener to prevent failures caused by the taintable visitor breaking full retransformation batches
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableRedefinitionStrategyListener.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitor.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/MrReturnAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitorTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/bytebuddy/LoadedTaintableClass.java
Owners: @DataDog/apm-java, @DataDog/asm-java

[hackaton] use muzzle to document supported instrumentation versions
  .circleci/collect_muzzle_deps.sh
  .circleci/config.continue.yml.j2
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Owners: @DataDog/apm-java

pulled in new advice helpers from master
  dd-java-agent/instrumentation/liberty-23/build.gradle
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ArrayOfTypeMatcher.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/HttpInboundServiceContextImplInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyBlockingHelper.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/RequestMessageFromServletRequestHelper.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ResponseFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/WebAppHandleExceptionInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/AsyncServlet5.java
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/PassthruSyncServlet5.java
Owners: @DataDog/apm-java

Add some debug logging to coverage logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
Owners: @DataDog/ci-app-libraries-java

Add some debug logging to coverage logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
Owners: @DataDog/ci-app-libraries-java

Imlpement ITR unskippable tests for JUnit 5 (#5874)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformLauncherUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Create separate modules for test framework instrumentations based on JUnit4
  dd-java-agent/instrumentation/junit-4.10-cucumber/build.gradle
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_failed.feature
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-4.10-munit/build.gradle
  dd-java-agent/instrumentation/junit-4.10-munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10-munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/scala/org/example/TestFailedAssumptionMUnit.scala
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/scala/org/example/TestSkippedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/scala/org/example/TestSkippedSuiteMUnit.scala
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/scala/org/example/TestSucceedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4UtilsTest.groovy
  gradle/configure_tests.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/util/MethodHandles.java
  settings.gradle
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Fix double-tracing for JUnit 4 tests run with JUnit 5 platform
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
Owners: @DataDog/ci-app-libraries-java

Add latest dependencies tests to JUnit 4 instrumentations
  dd-java-agent/instrumentation/junit-4.10-cucumber/build.gradle
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10-cucumber/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10-munit/build.gradle
  dd-java-agent/instrumentation/junit-4.10-munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10-munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10-munit/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Suppress FindBugs warning
  internal-api/src/main/java/datadog/trace/util/MethodHandles.java
Owners: @DataDog/apm-java

Replace forbidden API with an alternative
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
Owners: @DataDog/ci-app-libraries-java

Move Cucumber and MUnit instrumentation modules into JUnit 4 module
  dd-java-agent/instrumentation/junit-4.10/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_failed.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-4.10/munit/build.gradle
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestFailedAssumptionMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedSuiteMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSucceedMUnit.scala
  gradle/configure_tests.gradle
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

sync local branch with remote
  dd-java-agent/instrumentation/liberty-23/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/TestServlet5.groovy
  settings.gradle
Owners: @DataDog/apm-java

More diagnostic data
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
Owners: @DataDog/ci-app-libraries-java

Extract trace context from embedded SQS message attribute '_datadog'
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/messaging/DatadogAttributeParser.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/spring-messaging-4/src/main/java/datadog/trace/instrumentation/springmessaging/SpringMessageExtractAdapter.java
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/SpringListenerSQSTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
Owners: @DataDog/apm-java

Add logs to the listener and improve tests
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableRedefinitionStrategyListener.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitorTest.groovy
Owners: @DataDog/asm-java

Fix module coverage computation issue where data from one module could influence data from another module
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
Owners: @DataDog/ci-app-libraries-java

small build change
  dd-java-agent/instrumentation/liberty-23/build.gradle
Owners: @DataDog/apm-java

Fix smoke tests for J9 JVMs
  .circleci/config.continue.yml.j2
  .circleci/render_config.py
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Owners: @DataDog/apm-java, @DataDog/debugger-java

update muzzle range
  dd-java-agent/instrumentation/liberty-20/build.gradle
Owners: @DataDog/apm-java

Fix module coverage computation issue where data from one module could influence data from another module (#5931)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
Owners: @DataDog/ci-app-libraries-java

Extract trace context from embedded SQS message attribute '_datadog' (#5920)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/messaging/DatadogAttributeParser.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/spring-messaging-4/src/main/java/datadog/trace/instrumentation/springmessaging/SpringMessageExtractAdapter.java
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/SpringListenerSQSTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
Owners: @DataDog/apm-java

removed muzzle descriptors
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-23/build.gradle
Owners: @DataDog/apm-java

add message store
  dd-java-agent/instrumentation/pulsar/build.gradle
  dd-java-agent/instrumentation/pulsar/src/main/java/datadog/trace/instrumentation/pulsar/ConsumerDecorator.java
  dd-java-agent/instrumentation/pulsar/src/main/java/datadog/trace/instrumentation/pulsar/ConsumerImplInstrumentation.java
  dd-java-agent/instrumentation/pulsar/src/main/java/datadog/trace/instrumentation/pulsar/MessageStore.java
Owners: @DataDog/apm-java

Create separate modules for test framework instrumentations based on JUnit 4 (#5875)
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_failed.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-4.10/munit/build.gradle
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestFailedAssumptionMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedSuiteMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSucceedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4UtilsTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  gradle/configure_tests.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/util/MethodHandles.java
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Imlpement ITR unskippable tests for JUnit 4
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippableSuite.java
Owners: @DataDog/ci-app-libraries-java

Fix NPE when there is no config in agent response
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Owners: @DataDog/apm-java
