Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java

Add latest dependency tests and muzzle verifications for test frameworks based on JUnit 5 (#5897)
  dd-java-agent/instrumentation/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedFeatureCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped_feature.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/spock/build.gradle
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestParameterizedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  gradle/configure_tests.gradle
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Add latest dependency tests to Cucumber instrumentation
  dd-java-agent/instrumentation/cucumber/build.gradle
Owners: @DataDog/ci-app-libraries-java

add eventbridge rulename
  dd-java-agent/instrumentation/aws-java-sdk-2.2/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/Aws2ClientTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
Owners: @DataDog/apm-java

addeventbridge
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/AWS1ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/LegacyAWS1ClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test_before_1_11_106/groovy/AWS0ClientTest.groovy
Owners: @DataDog/apm-java

Limit akka-http version for latestDepTests following dropping of Java 8
  dd-java-agent/instrumentation/akka-http-10.0/build.gradle
Owners: @DataDog/apm-java

update gradle file
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
Owners: @DataDog/apm-java

update gradle file
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
Owners: @DataDog/apm-java

Limit akka-http version for latestDepTests following dropping of Java 8 (#5956)
  dd-java-agent/instrumentation/akka-http-10.0/build.gradle
Owners: @DataDog/apm-java

Improve error message when can't connect to Telemetry Intake. Minor improvements
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Owners: @DataDog/apm-java

Fix the X-Content-Type-Options header string (#5950)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Owners: @DataDog/asm-java, @DataDog/apm-java

Enable jdk.ZAllocationStall event
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
Owners: @DataDog/profiling-java

fix wallclock profiler enablement logic
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Owners: @DataDog/profiling-java

Use versioned docker images in CI
  .circleci/config.continue.yml.j2
  .circleci/render_config.py
Owners: @DataDog/apm-java

Update system-tests to 74de81e97fd6786854c2fe254764cfb75610c676
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Upgrade to ddprof 0.79.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Prefer checking public type to decide whether to apply pre-2.7 vs post-2.7 Log4j instrumentation.
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/ContextDataInjectorFactoryInstrumentation.java
  dd-java-agent/instrumentation/log4j2/src/main/java/datadog/trace/instrumentation/log4j2/ThreadContextInstrumentation.java
Owners: @DataDog/apm-java

use muzzle to document supported instrumentation versions (#5208)
  .circleci/collect_muzzle_deps.sh
  .circleci/config.continue.yml.j2
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/instrumentation/build.gradle
Owners: @DataDog/apm-java

Update .circleci/render_config.py
  .circleci/render_config.py
Owners: @DataDog/apm-java

Add latest dependency tests to Cucumber instrumentation (#5898)
  dd-java-agent/instrumentation/cucumber/build.gradle
Owners: @DataDog/ci-app-libraries-java

Add latest dependency tests to Maven instrumentation
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/build.gradle
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_unit_and_integration_tests_generates_spans/pom.xml
Owners: @DataDog/ci-app-libraries-java

Try setting full name for depenency plugin
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
Owners: @DataDog/ci-app-libraries-java

Fix connector dependencies in Maven instrumentation tests
  dd-java-agent/instrumentation/maven-3.2.1/build.gradle
Owners: @DataDog/ci-app-libraries-java

Fix Maven instrumentation tests for versions that run in batch mode
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
Owners: @DataDog/ci-app-libraries-java

Add Databricks default service name if not set by the user
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Owners: @DataDog/apm-java

Update system-tests to 74de81e97fd6786854c2fe254764cfb75610c676 (#5964)
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Update IAST vulnerability hash (#5926)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HstsMissingHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XContentTypeModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakCipherModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakHashModuleTest.groovy
Owners: @DataDog/asm-java

[APPSEC-11378] Fix issue redacting consecutive tainted values
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Owners: @DataDog/asm-java

Appsec support for akka
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/akka-http-10.0/build.gradle
  dd-java-agent/instrumentation/akka-http-10.0/src/baseTest/groovy/AkkaHttpClientInstrumentationTest.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/baseTest/groovy/AkkaHttpServerInstrumentationTest.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/baseTest/scala/AkkaHttpTestWebServer.scala
  dd-java-agent/instrumentation/akka-http-10.0/src/latestDepTest/groovy/AkkaHttp102ServerInstrumentationTests.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttp2ServerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpServerDecorator.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpServerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/DatadogAsyncHandlerWrapper.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/DatadogServerRequestResponseFlowWrapper.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/DefaultExceptionHandlerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/MarkSpanAsErroredPF.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/RecoverFromBlockedExceptionPF.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/AkkaBlockResponseFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/BlockingResponseHelper.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/Bug4304Instrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/FormDataToStrictInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/JacksonUnmarshallerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/MultipartUnmarshallersInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/PredefinedFromEntityUnmarshallersInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/ScalaListCollector.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/ScalaListCollectorMuzzleReferences.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/SprayUnmarshallerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/StrictFormCompanionInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/appsec/UnmarshallerHelpers.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/TraitMethodMatchers.java
  dd-java-agent/instrumentation/glassfish/src/test/groovy/GlassFishServerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/WithHttpServer.groovy
Owners: @DataDog/apm-java, @DataDog/asm-java

Fix boolean expression eval as template parameter
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/BooleanValueExpressionAdapter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/BooleanValueExpressionAdapterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateBuilderTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_log_probe.json
Owners: @DataDog/debugger-java

[APPSEC-11378] Fix issue redacting consecutive tainted values (#5969)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Owners: @DataDog/asm-java

Use separate OkHttpClient for Intake
  telemetry/src/main/java/datadog/telemetry/TelemetryClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRouter.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRouterSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Owners: @DataDog/apm-java

Extended JsonWriter approach
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/squareup/moshi/TruncatedWriter.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/asm-java, @DataDog/apm-java

[APPSEC-11378] Fix issue redacting consecutive tainted values (#5969)
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Owners: @DataDog/asm-java

TruncatingAdapter approach
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/SourceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/TaintedObjectAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/TruncatedWriter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/TruncatingAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/squareup/moshi/TruncatedWriter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/TaintedObjectEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Added Multipart instrumentation for Servlet
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/MultipartInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/MultipartInstrumentationForkedTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/MockPart.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaMultipartInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaMultipartInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/MockPart.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Use correct job name for gitlab relenv deploy
  .gitlab-ci.yml
Owners: @DataDog/apm-java

Add new Tainted Range based redaction
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SensitiveHandlerImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/TaintedRangeBasedTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/Ranged.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Owners: @DataDog/asm-java

rename tests
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Owners: @DataDog/asm-java

do not record queue time before JFR is initialised
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/instrumentation/netty-concurrent-4/src/test/groovy/TimingTest.groovy
Owners: @DataDog/apm-java

Fix flaky sampling smoke tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Owners: @DataDog/debugger-java
