Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

Update Git unshallow logic to handle cases when HEAD points to a local-only commit
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
Owners: @DataDog/ci-app-libraries-java

Reset classloader matcher cache when new matchers are created
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
Owners: @DataDog/apm-java

resolved muzzle errors
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyServerInstrumentation.java
Owners: @DataDog/apm-java

revamp muzzle dependency
  .circleci/collect_muzzle_deps.sh
  .circleci/config.continue.yml.j2
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/instrumentation/build.gradle
Owners: @DataDog/apm-java

skip faulty version for muzzle
  dd-java-agent/instrumentation/jax-rs-client-2.0/build.gradle
Owners: @DataDog/apm-java

skip faulty version for muzzle (#5937)
  dd-java-agent/instrumentation/jax-rs-client-2.0/build.gradle
Owners: @DataDog/apm-java

rename to streaming_batch
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
Owners: @DataDog/apm-java

added servlet-5.0 feature to server.xml
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
Owners: @DataDog/apm-java

spotless
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
Owners: @DataDog/apm-java

remove jsp and add servlet-5.0
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
Owners: @DataDog/apm-java

Implement Telemetry routing logic
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  communication/src/test/groovy/datadog/communication/ddagent/DDAgentFeaturesDiscoveryTest.groovy
  communication/src/test/resources/agent-features/agent-info-with-telemetry-proxy.json
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
  telemetry/src/main/java/datadog/telemetry/HttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryHttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestBodySpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryHttpClient.groovy
Owners: @DataDog/apm-java

Add redefinition listener to disable taintable visitor in case of failure (#5928)
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableRedefinitionStrategyListener.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitor.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/MrReturnAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitorTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/bytebuddy/LoadedTaintableClass.java
Owners: @DataDog/apm-java, @DataDog/asm-java

skip faulty version for muzzle (#5937)
  dd-java-agent/instrumentation/jax-rs-client-2.0/build.gradle
Owners: @DataDog/apm-java

revamp muzzle dependency
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Owners: @DataDog/apm-java

First commit
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HstsMissingHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XContentTypeModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Owners: @DataDog/asm-java

PR Issues
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Owners: @DataDog/asm-java

fix format
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Owners: @DataDog/asm-java

avoid service name serialization for vulnerabilities
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
Owners: @DataDog/asm-java

Add more test cases
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Owners: @DataDog/asm-java

Update Git unshallow logic to handle cases when HEAD points to a local-only commit (#5934)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
Owners: @DataDog/ci-app-libraries-java

propagate span into lettuce CommandHandler event loop
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/AsyncCommandInstrumentation.java
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/CommandHandlerInstrumentation.java
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5AsyncClientTest.groovy
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5ReactiveClientTest.groovy
Owners: @DataDog/apm-java

Fix baggage HTTP header encoding (#5927)
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
Owners: @DataDog/apm-java

Move the service name to the location class Change the methods Location.for and extract the span id and service name from span. Make sure that all vulnerabilities are created with a non null location.
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HstsMissingHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XContentTypeModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakCipherModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakHashModuleTest.groovy
Owners: @DataDog/asm-java

Imlpement ITR unskippable tests for JUnit 4 (#5882)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippableSuite.java
Owners: @DataDog/ci-app-libraries-java

Update TestNG instrumentations to have separate modules for versions 6 and 7
  dd-java-agent/instrumentation/testng/testng-6/build.gradle
  dd-java-agent/instrumentation/testng/testng-6/src/main/java/datadog/trace/instrumentation/testng6/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-6/src/test/groovy/TestNG6Test.groovy
  dd-java-agent/instrumentation/testng/testng-7.5/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-7/src/test/groovy/TestNG7Test.groovy
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Add latest dependencies tests for Test NG 7 instrumentation
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/testng-6/src/test/groovy/TestNG6Test.groovy
  dd-java-agent/instrumentation/testng/testng-7/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/src/test/groovy/TestNG7Test.groovy
Owners: @DataDog/ci-app-libraries-java

Implement ITR unskippable tests for TestNG
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedUnskippable.java
Owners: @DataDog/ci-app-libraries-java

Update test projects names
  gradle/configure_tests.gradle
Owners: @DataDog/apm-java

Flush telemetry data on JVM shutdown
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/shutdown/ShutdownHelper.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Owners: @DataDog/apm-java

fixed removal of jsp
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
Owners: @DataDog/apm-java

Fix telemetry runnable test
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
Owners: @DataDog/apm-java

Replace generic shutdown hooks queue with a specific hook field for telemetry
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/shutdown/ShutdownHelper.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Owners: @DataDog/apm-java

Log warns instead of errors to prevent smoke tests failures when Telemetry request failed
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
Owners: @DataDog/apm-java

format text
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Owners: @DataDog/asm-java

register netty event loops known to do IO for wallclock profiling
  dd-java-agent/instrumentation/netty-transport-4/build.gradle
  dd-java-agent/instrumentation/netty-transport-4/src/main/java/datadog/trace/instrumentation/netty40/transport/EventLoopInstrumentation.java
  dd-java-agent/instrumentation/netty-transport-4/src/test/groovy/RegistrationTest.groovy
  settings.gradle
Owners: @DataDog/apm-java

muzzle grpc
  dd-java-agent/instrumentation/netty-transport-4/build.gradle
Owners: @DataDog/apm-java

marked some tests flaky
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Owners: @DataDog/apm-java

spotless
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Owners: @DataDog/apm-java

Improve test coverage for TelemetryHttpClient
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryHttpClientSpecification.groovy
Owners: @DataDog/apm-java

Add API_KEY header only when sending telemetry to Intake
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryHttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java
