Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/apm-idm-java, @DataDog/apm-release-platform, @DataDog/apm-sdk-api-java, @DataDog/apm-serverless, @DataDog/apm-lang-platform-java, @DataDog/asm-java, @Datadog/asm-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/data-jobs-monitoring, @DataDog/data-streams-monitoring, @DataDog/profiling-java, @DataDog/ml-observability

nits/cleanup
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
Owners: @DataDog/apm-java, @DataDog/apm-lang-platform-java

adding line at end of file
  dd-trace-core/src/test/groovy/datadog/trace/core/baggage/BaggagePropagatorTelemetryTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/CoreMetricCollectorBaggageTest.groovy
Owners: @DataDog/apm-sdk-api-java, @DataDog/apm-java

fix: Use testFixture notation, instead of project's compile test fixture task output
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-23/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/build.gradle
Owners: @DataDog/apm-idm-java

fix tests, fix NPE in ConfigSetting.equals, include configId in telemetryrequestbody when nonnull
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
Owners: @DataDog/apm-java, @DataDog/apm-lang-platform-java

Update auto-service-annotations to use latest stable release.
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  gradle/libs.versions.toml
Owners: @DataDog/asm-java, @DataDog/apm-java

ci: use commit-headless to create signed commits from actions
  .github/chainguard/self.update-jmxfetch-submodule.create-pr.sts.yaml
  .github/workflows/add-release-to-cloudfoundry.yaml
  .github/workflows/update-docker-build-image.yaml
  .github/workflows/update-gradle-dependencies.yaml
  .github/workflows/update-jmxfetch-submodule.yaml
Owners: @DataDog/apm-lang-platform-java

Add baggage propagation telemetry (#9289)
  dd-trace-core/src/main/java/datadog/trace/core/baggage/BaggagePropagator.java
  dd-trace-core/src/test/groovy/datadog/trace/core/baggage/BaggagePropagatorTelemetryTest.groovy
  internal-api/src/main/java/datadog/trace/api/metrics/BaggageMetrics.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/CoreMetricCollectorBaggageTest.groovy
Owners: @DataDog/apm-sdk-api-java, @DataDog/apm-java

Add policy for GHA workflow
  .github/chainguard/self.update-jmxfetch-submodule.create-pr.sts.yaml
Owners: @DataDog/apm-lang-platform-java

Added time to error message when port open timed out. (#9287)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
  dd-java-agent/testing/src/test/groovy/utils/PortUtilsTest.groovy
Owners: @DataDog/apm-java

Fix docker build update workflow
  .github/workflows/update-docker-build-image.yaml
Owners: @DataDog/apm-lang-platform-java

Add policy for GHA workflows (#9303)
  .github/chainguard/self.update-jmxfetch-submodule.create-pr.sts.yaml
Owners: @DataDog/apm-lang-platform-java

Fix docker build update workflow (#9304)
  .github/workflows/update-docker-build-image.yaml
Owners: @DataDog/apm-lang-platform-java

Register sources on configprovider in lowest to highest precedence
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigProviderTest.groovy
Owners: @DataDog/apm-sdk-api-java

Change ConfigProvider to iterate from lowest to highest precedence source, adn report all to ConfigCollector
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
Owners: @DataDog/apm-sdk-api-java, @DataDog/apm-java

Support seq_id in ConfigSetting
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
Owners: @DataDog/apm-java

nits: remove superfluous debug logs
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Owners: @DataDog/apm-sdk-api-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/apm-idm-java
/dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/  @DataDog/apm-idm-java
/dd-java-agent/instrumentation/                                                                  @DataDog/apm-idm-java

# @DataDog/apm-release-platform
/.gitlab/                              @DataDog/apm-release-platform
/.gitlab-ci.yml                        @DataDog/apm-release-platform

# @DataDog/apm-sdk-api-java
/dd-java-agent/agent-otel                                       @DataDog/apm-sdk-api-java
/dd-smoke-tests/sample-trace                                    @DataDog/apm-sdk-api-java
/dd-trace-core/src/main/java/datadog/trace/core/baggage         @DataDog/apm-sdk-api-java
/dd-trace-core/src/test/groovy/datadog/trace/core/baggage       @DataDog/apm-sdk-api-java
/dd-trace-core/src/main/java/datadog/trace/core/propagation     @DataDog/apm-sdk-api-java
/dd-trace-core/src/test/groovy/datadog/trace/core/propagation   @DataDog/apm-sdk-api-java
/dd-trace-core/src/main/java/datadog/trace/core/scopemanager    @DataDog/apm-sdk-api-java
/dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager  @DataDog/apm-sdk-api-java
/dd-trace-ot/                                                   @DataDog/apm-sdk-api-java
/internal-api/src/main/java/datadog/trace/bootstrap             @DataDog/apm-sdk-api-java
/internal-api/src/test/groovy/datadog/trace/bootstrap           @DataDog/apm-sdk-api-java
/internal-api/src/main/java/datadog/trace/api/sampling          @DataDog/apm-sdk-api-java
/internal-api/src/test/groovy/datadog/trace/api/sampling        @DataDog/apm-sdk-api-java

# @DataDog/apm-serverless
/dd-trace-core/src/main/java/datadog/trace/lambda/ @DataDog/apm-serverless
/dd-trace-core/src/test/groovy/datadog/trace/lambda/ @DataDog/apm-serverless

# @DataDog/apm-lang-platform-java
/.circleci/                            @DataDog/apm-lang-platform-java
/.github/                              @DataDog/apm-lang-platform-java
/benchmark/                            @DataDog/apm-lang-platform-java
/components/                           @DataDog/apm-lang-platform-java
/dd-java-agent/instrumentation/java-*  @DataDog/apm-lang-platform-java
/metadata/                             @DataDog/apm-lang-platform-java
/remote-config/                        @DataDog/apm-lang-platform-java
/telemetry/                            @DataDog/apm-lang-platform-java
/test-published-dependencies/          @DataDog/apm-lang-platform-java

# @DataDog/asm-java (AppSec/IAST)
/buildSrc/call-site-instrumentation-plugin/                     @DataDog/asm-java
/dd-java-agent/agent-iast/                                      @DataDog/asm-java
/dd-java-agent/instrumentation/*iast*                           @DataDog/asm-java
/dd-java-agent/instrumentation/*appsec*                         @DataDog/asm-java
/dd-java-agent/instrumentation/json/                            @DataDog/asm-java
/dd-java-agent/instrumentation/snakeyaml/                       @DataDog/asm-java
/dd-java-agent/instrumentation/velocity/                        @DataDog/asm-java
/dd-java-agent/instrumentation/freemarker/                      @DataDog/asm-java
/dd-smoke-tests/iast-util/                                      @DataDog/asm-java
/dd-smoke-tests/spring-security/                                @DataDog/asm-java
/dd-java-agent/instrumentation/commons-fileupload/              @DataDog/asm-java
/dd-java-agent/instrumentation/spring-security-5/               @DataDog/asm-java
/dd-trace-api/src/main/java/datadog/trace/api/EventTracker.java @DataDog/asm-java
/internal-api/src/main/java/datadog/trace/api/gateway/          @DataDog/asm-java
**/appsec/                                                      @DataDog/asm-java
**/*CallSite*.java                                              @DataDog/asm-java
**/*CallSite*.groovy                                            @DataDog/asm-java
**/*CallSite*.kt                                                @DataDog/asm-java
**/iast/                                                        @DataDog/asm-java
**/Iast*.java                                                   @DataDog/asm-java
**/Iast*.groovy                                                 @DataDog/asm-java
**/rasp/                                                        @Datadog/asm-java
**/*Rasp*.java                                                  @DataDog/asm-java
**/*Rasp*.groovy                                                @DataDog/asm-java
**/*Waf*.java                                                   @DataDog/asm-java
**/*Waf*.groovy                                                 @DataDog/asm-java

# @DataDog/ci-app-libraries-java
/dd-java-agent/agent-ci-visibility/                 @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/cucumber/            @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/jacoco/              @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/junit-4.10/          @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/junit-5.3/           @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/karate/              @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/scalatest/           @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/selenium/            @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/testng/              @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/gradle-3.0/          @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/gradle-8.3/          @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/gradle-testing/      @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/maven-3.2.1/         @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/maven-surefire/      @DataDog/ci-app-libraries-java
/dd-java-agent/instrumentation/weaver/              @DataDog/ci-app-libraries-java
/dd-smoke-tests/gradle/                             @DataDog/ci-app-libraries-java
/dd-smoke-tests/maven/                              @DataDog/ci-app-libraries-java
/internal-api/src/main/java/datadog/trace/api/git/  @DataDog/ci-app-libraries-java
**/civisibility/                                    @DataDog/ci-app-libraries-java
**/CiVisibility*.java                               @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                             @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
/dd-java-agent/agent-debugger/               @DataDog/debugger-java
/dd-smoke-tests/debugger-integration-tests/  @DataDog/debugger-java

# @DataDog/data-jobs-monitoring
/dd-java-agent/instrumentation/spark/           @DataDog/data-jobs-monitoring
/dd-java-agent/instrumentation/spark-executor/  @DataDog/data-jobs-monitoring

# @DataDog/data-streams-monitoring
/dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams  @DataDog/data-streams-monitoring
/dd-trace-core/src/main/java/datadog/trace/core/datastreams                  @DataDog/data-streams-monitoring
/dd-trace-core/src/test/groovy/datadog/trace/core/datastreams                @DataDog/data-streams-monitoring
/internal-api/src/main/java/datadog/trace/api/datastreams                    @DataDog/data-streams-monitoring
/internal-api/src/test/groovy/datadog/trace/api/datastreams                  @DataDog/data-streams-monitoring
**/datastreams/                                                              @DataDog/data-streams-monitoring
**/DataStreams*                                                              @DataDog/data-streams-monitoring

# @DataDog/profiling-java
/dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
/dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
/dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
/dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
/dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
/dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
/dd-trace-api/src/main/java/datadog/trace/api/profiling                                     @DataDog/profiling-java
/internal-api/src/main/java/datadog/trace/api/profiling                                     @DataDog/profiling-java
/internal-api/src/main/java/datadog/trace/api/EndpointCheckpointer.java                     @DataDog/profiling-java
/internal-api/src/main/java/datadog/trace/api/EndpointTracker.java                          @DataDog/profiling-java
/dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ml-observability
dd-trace-api/src/main/java/datadog/trace/api/llmobs/ @DataDog/ml-observability
dd-java-agent/agent-llmobs/                          @DataDog/ml-observability
dd-trace-core/src/main/java/datadog/trace/llmobs/    @DataDog/ml-observability
dd-trace-core/src/test/groovy/datadog/trace/llmobs/  @DataDog/ml-observability
