Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @ValentinZakharov, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-trace-core/jfr-openjdk/                                                                 @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @ValentinZakharov is not in the @DataDog org :( so add him here
dd-java-agent/appsec/  @DataDog/appsec-java @ValentinZakharov

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/                @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                               @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng-6.4/                              @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java

move dockerfile
  lib-injection/Dockerfile
  lib-injection/copy-lib.sh
  lib-injection/docker/install_ddtrace.sh
Owners: @DataDog/apm-java

Fix TaintedMapTest flakiness in OpenJ9 (#4356)
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Owners: @DataDog/iast-java

Add benchmark for trace serialization
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
Owners: @DataDog/apm-java

build and copy agent
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

debug pipeline
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

fix syntax yaml
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

fix syntax yaml
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

Add data streams monitoring instrumentation for HTTP (#4266)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpSingleRequestInstrumentation.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/DelegatingRequestProducer.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HelperMethods.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/CommonsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/google-http-client/src/main/java/datadog/trace/instrumentation/googlehttpclient/GoogleHttpClientDecorator.java
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/AsyncHttpClientInstrumentation.java
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/HttpUrlConnectionInstrumentation.java
  dd-java-agent/instrumentation/jax-rs-client-1.1/src/main/java/datadog/trace/instrumentation/jaxrs/v1/JaxRsClientV1Instrumentation.java
  dd-java-agent/instrumentation/jax-rs-client-2.0/src/main/java/datadog/trace/instrumentation/jaxrs/ClientTracingFilter.java
  dd-java-agent/instrumentation/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client/JettyClientInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/TracingInterceptor.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/TracingInterceptor.java
  dd-java-agent/instrumentation/play-ws-1/src/main/java/datadog/trace/instrumentation/playws1/PlayWSClientInstrumentation.java
  dd-java-agent/instrumentation/play-ws-2.1/src/main/java/datadog/trace/instrumentation/playws21/PlayWSClientInstrumentation.java
  dd-java-agent/instrumentation/play-ws-2/src/main/java/datadog/trace/instrumentation/playws2/PlayWSClientInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/RequestDispatcherInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Owners: @DataDog/apm-java

Bump RecordingDatastreamsPayloadWriter timeout to account for metrics timing changes in #4355
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/RecordingDatastreamsPayloadWriter.groovy
Owners: @DataDog/apm-java

Bump RecordingDatastreamsPayloadWriter timeout to account for metrics timing changes in #4355 (#4362)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/RecordingDatastreamsPayloadWriter.groovy
Owners: @DataDog/apm-java

Bump RecordingDatastreamsPayloadWriter timeout a bit more to account for metrics timing changes in #4355
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/RecordingDatastreamsPayloadWriter.groovy
Owners: @DataDog/apm-java

Fix flaky tests for DSM caused by DataStreamsCheckpointer not clearing between tests
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamsCheckpointer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/StubDataStreamsCheckpointer.java
Owners: @DataDog/apm-java

lib injection
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

lib injection
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

rsyc for java agent
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

fix copy agent
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

copy java trace
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

Add pitest support (mutation testing) (#4340)
  build.gradle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/appsec/build.gradle
  gradle/java_no_deps.gradle
  gradle/pitest.gradle
Owners: @DataDog/apm-java, @DataDog/iast-java, @DataDog/appsec-java, @ValentinZakharov

Change IAST max concurrent requests setting to align with spec
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
Owners: @DataDog/iast-java

Fix flaky tests for DSM caused by DataStreamsCheckpointer not clearing between tests (#4365)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamsCheckpointer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/StubDataStreamsCheckpointer.java
Owners: @DataDog/apm-java

enable async allocation profiling in smoke tests
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Owners: @DataDog/apm-java

clean yaml
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

Support for EVP Proxy in DDAgentFeaturesDiscovery
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  communication/src/test/groovy/datadog/communication/ddagent/DDAgentFeaturesDiscoveryTest.groovy
  communication/src/test/resources/agent-features/agent-info.json
Owners: @DataDog/apm-java

bump async-profiler to 20221202
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Test case demonstrating getEnclosingType issue when going from full types to outlines while searching the type hierarchy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactoryForkedTest.groovy
Owners: @DataDog/apm-java

simplify switching logic and ensure we reset the flag afterwards
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Owners: @DataDog/apm-java

When mixing full and outline types, byte-buddy might resort to checking the enclosing type (when this happens we can fall back to the declaring type of the outline, if there is one)
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
Owners: @DataDog/apm-java

Make linter happy
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Owners: @DataDog/apm-java

Refactor common code from DDAgentApi and DDIntakeApi
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
Owners: @DataDog/apm-java

Make linter happy
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
Owners: @DataDog/apm-java

Fix intermittent failure in Lettuce4SyncClientTest (#4361)
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactoryForkedTest.groovy
Owners: @DataDog/apm-java

Change IAST max concurrent requests setting to align with spec (#4366)
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
Owners: @DataDog/iast-java

PidHelper changes
  internal-api/build.gradle
  internal-api/src/main/java/datadog/common/process/PidHelper.java
  internal-api/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java

doc: Update requirements
  CONTRIBUTING.md
Owners: @DataDog/apm-java

doc: Update requirements
  CONTRIBUTING.md
Owners: @DataDog/apm-java

Generate support classes using Java8 bytecode
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTransformer.java
Owners: @DataDog/apm-java

Generate support classes using Java8 bytecode (#4377)
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTransformer.java
Owners: @DataDog/apm-java

Removes process-utils module and its references
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
  utils/process-utils/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java

Removes references to process-utils
  dd-java-agent/agent-crashtracking/build.gradle
  dd-java-agent/agent-profiling/profiling-uploader/build.gradle
  dd-java-agent/build.gradle
Owners: @DataDog/profiling-java, @DataDog/apm-java

Removes process-utils module references in gradle
  gradle/dependencies.gradle
  settings.gradle
Owners: @DataDog/apm-java
