Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

Remove warning about unknown grpc.server.request.metadata address
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Owners: @DataDog/appsec-java

feat: Add trace annotation instrumentation name context
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
Owners: @DataDog/apm-java

feat: Add opentracing instrumentation name context
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
Owners: @DataDog/apm-java

feat: Add opentelemetry instrumentation name context
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelTracer.java
Owners: @DataDog/apm-java

feat: Add opentracing instrumentation name context
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
Owners: @DataDog/apm-java

feat: Provide instrumentation name context to span
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/http/HttpResourceDecoratorTest.groovy
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/testing/src/test/groovy/TraceCorrelationTest.groovy
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
  dd-trace-core/src/jmh/java/datadog/trace/core/PendingTraceWrite.java
  dd-trace-core/src/jmh/java/datadog/trace/core/TracerMapperMap.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTestBase.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java, @DataDog/iast-java

fix: Fix code coverage
  internal-api/build.gradle
Owners: @DataDog/apm-java

fix: Revert ci-visibility changes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
Owners: @DataDog/ci-app-libraries-java

fix: Update unit tests
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
Owners: @DataDog/apm-java

Stabilize flaky Gradle Daemon smoke test
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Disable dependency verification for Gradle configurations provisioned by the tracer
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
Owners: @DataDog/ci-app-libraries-java

Wait until the remote-config change is committed before deciding we didn't receive any overrides. (#5489)
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Owners: @DataDog/apm-java

fix lib injection
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

fix lib injection (#5498)
  .github/workflows/lib-injection.yaml
Owners: @DataDog/apm-java

Remove warning about unknown grpc.server.request.metadata address (#5491)
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Owners: @DataDog/appsec-java

Update system-tests to 6f47824f32add0efbd8329707c7fb27a437f0b23
  .circleci/config.yml
Owners: @DataDog/apm-java

feat: Add GitHub action documentation
  .github/workflows/README.md
Owners: @DataDog/apm-java

avoid having duplicates in db.cassandra.contact.points
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/ContactPointsUtil.java
Owners: @DataDog/apm-java

feat: Add context propagation diagnostic information to debug logs
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Owners: @DataDog/apm-java

Update IAST exclusions
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastExclusionTrieTest.groovy
Owners: @DataDog/iast-java

Add GitHub action documentation (#5488)
  .github/workflows/README.md
Owners: @DataDog/apm-java

Add context propagation diagnostic information to debug logs (#5497)
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Owners: @DataDog/apm-java

Implement remote settings fetching for CI Visibility (#5412)
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationsJson.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/Configurations.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/SkippableTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  internal-api/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9ExecutableSupplier.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/ProcessUtils.java
  internal-api/src/test/groovy/datadog/trace/util/ProcessUtilsTest.groovy
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Stabilise flaky Maven smoke test (#5490)
  dd-smoke-tests/maven/src/main/java/datadog/smoketest/maven/MavenRunner.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Implement ITR skippable tests request
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationsJson.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecorator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/JvmInfoFactoryTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/decorator/TestDecoratorImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/CIVisibility.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/DDTestSession.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/Configurations.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/SkippableTestsSerializer.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
  internal-api/src/test/groovy/datadog/trace/api/civisibility/config/SkippableTestsSerializerTest.groovy
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Implement passing module execution results from children processes to parent process
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/DDTestModule.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Implement ITR tests skipping for JUnit 5 (do not report skipped spans)
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrPostDiscoveryFilter.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrPredicate.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5DiscoveryRequestInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5TestTemplateTestDescriptorInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
Owners: @DataDog/ci-app-libraries-java

rework queue time profiling
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskWrapperInstrumentation.java
  gradle/dependencies.gradle
Owners: @DataDog/apm-java, @DataDog/profiling-java

fix: Fix OpenTelemetry metric name
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelTracer.java
Owners: @DataDog/apm-java

Instrument SparkSubmit to capture errors outside of the SparkListener interface
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkInstrumentation.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Owners: @DataDog/apm-java

Skip Guava 32.1.0 from muzzle because it includes a bad gradle dependency module
  dd-java-agent/instrumentation/guava-10/build.gradle
Owners: @DataDog/apm-java

[DSM] - calculate edge latency using message timestamp
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/PathwayContext.java
Owners: @DataDog/apm-java

Skip Guava 32.1.0 from muzzle because it includes a bad gradle dependency module (#5506)
  dd-java-agent/instrumentation/guava-10/build.gradle
Owners: @DataDog/apm-java

Spotless changes
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/PathwayContext.java
Owners: @DataDog/apm-java

feat: Add opentelemetry instrumentation name context
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelTracer.java
Owners: @DataDog/apm-java

feat: Add trace annotation instrumentation name context
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
Owners: @DataDog/apm-java

feat: Add opentracing instrumentation name context
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
Owners: @DataDog/apm-java

fix: Revert ci-visibility changes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
Owners: @DataDog/ci-app-libraries-java

fix: Update unit tests
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
Owners: @DataDog/apm-java

fix: Fix code coverage
  internal-api/build.gradle
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

dd-java-agent/appsec/  @DataDog/appsec-java

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/    @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/                         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/                 @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                                      @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
