Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @ValentinZakharov, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

Increase jar file size
  dd-java-agent/build.gradle
Owners: @DataDog/apm-java

Move logger back down to the child classes
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
Owners: @DataDog/apm-java

Refactor DDIntakeApi to hopefully simplify the logic
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
Owners: @DataDog/apm-java

Linter agent changes
  dd-java-agent/build.gradle
Owners: @DataDog/apm-java

Ignores test coverage for PidHelper
  internal-api/build.gradle
Owners: @DataDog/apm-java

Changes PidHelper test
  internal-api/build.gradle
  internal-api/src/test/groovy/datadog/common/process/PidHelperTest.groovy
  internal-api/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java

capture lambda response
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

Turn off telemetry during field-injection / log-injection tests as its debug output can interfere with the test's log-file scraping, causing intermittent failures on CI
  dd-smoke-tests/field-injection/src/test/groovy/datadog/smoketest/FieldInjectionSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

enable async-profiler by default on J9 and x86/x64
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/Arch.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/OperatingSystem.java
  dd-java-agent/agent-profiling/profiling-controller/build.gradle
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerFactory.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilingSystem.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/profiling-java, @DataDog/apm-java

Turn off telemetry during field-injection / log-injection smoke tests (#4381)
  dd-smoke-tests/field-injection/src/test/groovy/datadog/smoketest/FieldInjectionSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

remove java 7 test
  test-published-dependencies/agent-logs-on-java-7/build.gradle
  test-published-dependencies/agent-logs-on-java-7/src/main/java/test/published/dependencies/App.java
  test-published-dependencies/agent-logs-on-java-7/src/test/java/StartWithAgentTest.java
  test-published-dependencies/settings.gradle
Owners: @DataDog/apm-java

Update Cloud Foundry repo with v1.2.0.
  index.yml
Owners: @DataDog/apm-java

Fix warning message
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SingleSpanSampler.java
Owners: @DataDog/apm-java

byte-buddy 1.12.19
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Migrate from deprecated byte-buddy constants to 'ForLoadedType.of' lookup (cached)
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/CacheProviderTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/FailSafeRawMatcherTest.groovy
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatFactoryBatchBenchmark.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/CachingType.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/main/java/datadog/trace/instrumentation/springcloudzuul2/ZuulProxyRequestHelperInstrumentation.java
Owners: @DataDog/apm-java, @DataDog/iast-java

byte-buddy 1.12.19 (#4383)
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/CacheProviderTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/FailSafeRawMatcherTest.groovy
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatFactoryBatchBenchmark.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/CachingType.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/main/java/datadog/trace/instrumentation/springcloudzuul2/ZuulProxyRequestHelperInstrumentation.java
  gradle/dependencies.gradle
Owners: @DataDog/apm-java, @DataDog/iast-java

chore: Clean up internal-api-8
  internal-api/internal-api-8/build.gradle
Owners: @DataDog/apm-java

chore: Clean up internal-api-8
  internal-api/internal-api-8/build.gradle
Owners: @DataDog/apm-java

Fix rmic Gradle task
  dd-java-agent/instrumentation/rmi/build.gradle
Owners: @DataDog/apm-java

Split up B3 propagator into multi and single header
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Owners: @DataDog/apm-java

Remove internal-api dependency from process-utils
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/Java9ProcessIdSupplier.java
  utils/process-utils/src/main/java/datadog/common/process/JnrProcessIdSupplier.java
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
  utils/process-utils/src/main/java11/datadog/common/process/Java9ProcessIdSupplier.java
Owners: @DataDog/apm-java

Java 11 module
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/Java9ProcessIdSupplier.java
  utils/process-utils/src/main/java11/datadog/common/process/Java9ProcessIdSupplier.java
Owners: @DataDog/apm-java

Fix the pulling of WAF configuration
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
Owners: @DataDog/appsec-java, @ValentinZakharov

remove unnecessary fields from endpoint events
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/EndpointEvent.java
Owners: @DataDog/profiling-java

Set up the process ID suppliers
  dd-java-agent/agent-installer/build.gradle
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/JnrProcessIdSupplier.java
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
  utils/process-utils/src/main/java11/datadog/common/process/Java9ProcessIdSupplier.java
Owners: @DataDog/apm-java

Adds processId retrieval and formats code referencing it
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Moves pidhelper to internal-api and creates groovy test
  internal-api/build.gradle
  internal-api/src/main/java/datadog/common/process/JnrProcessIdSupplier.java
  internal-api/src/main/java/datadog/common/process/PidHelper.java
  internal-api/src/main/java11/datadog.common.process/Java9ProcessIdSupplier.java
  internal-api/src/test/groovy/datadog/common/process/PidHelperTest.groovy
Owners: @DataDog/apm-java

capture lambda response (#4380)
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

Removes extra jnrprocess files and fixes build.gradle
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/common/process/JnrProcessIdSupplier.java
  internal-api/src/main/java11/datadog.common.process/Java9ProcessIdSupplier.java
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
Owners: @DataDog/apm-java

Get it working
  dd-java-agent/agent-builder/build.gradle
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/PrioritySampling.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/http/StoredByteBody.java
  internal-api/src/main/java/datadog/trace/api/http/StoredCharBody.java
  internal-api/src/main/java/datadog/trace/relocate/api/IOLogger.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/test/groovy/datadog/common/process/PidHelperTest.groovy
  internal-api/src/test/java/datadog/trace/api/sampling/AdaptiveSamplerTest.java
  utils/process-utils/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java

Undo formatting only changes
  dd-trace-core/src/main/java/datadog/trace/common/sampling/PrioritySampling.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/http/StoredByteBody.java
  internal-api/src/main/java/datadog/trace/api/http/StoredCharBody.java
  internal-api/src/main/java/datadog/trace/relocate/api/IOLogger.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/test/java/datadog/trace/api/sampling/AdaptiveSamplerTest.java
Owners: @DataDog/apm-java

Fix tests
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/common/process/PidHelperTest.groovy
Owners: @DataDog/apm-java

add axis1.4
  dd-java-agent/instrumentation/axis-1/build.gradle
  dd-java-agent/instrumentation/axis-1/src/main/java/datadog/trace/instrumentation/axis1/AxisClientInstrumentation.java
  dd-java-agent/instrumentation/axis-1/src/main/java/datadog/trace/instrumentation/axis1/AxisMessageDecorator.java
  settings.gradle
Owners: @DataDog/apm-java

add mvn
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
Owners: @DataDog/apm-java

feat(core): Restore addScopeListener to InternalTracer API
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

remove scope events
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-core/build.gradle
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEvent.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEventFactory.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ThreadCpuTimeProvider.java
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/ScopeEventTest.groovy
Owners: @DataDog/apm-java, @DataDog/profiling-java

Move PidHelper to internal-api
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-crashtracking/build.gradle
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-java-agent/agent-profiling/profiling-uploader/build.gradle
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/PosixPidSupplier.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/PidHelperTest.groovy
  dd-java-agent/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  gradle/dependencies.gradle
  internal-api/internal-api-9/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9PidSupplier.java
  internal-api/internal-api-9/src/test/groovy/datadog/trace/util/PidHelperTest.groovy
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/test/java/datadog/trace/util/PidHelperTest.java
  settings.gradle
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
  utils/process-utils/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java, @DataDog/profiling-java

report when we collect native stacks
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JfrProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilerSettingsSupport.java
Owners: @DataDog/profiling-java

PidHelper now returns PID as a string (empty string means we couldn't determine the PID)
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/PidHelperTest.groovy
  internal-api/build.gradle
  internal-api/internal-api-9/src/test/groovy/datadog/trace/util/PidHelperTest.groovy
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/test/java/datadog/trace/util/PidHelperTest.java
Owners: @DataDog/profiling-java, @DataDog/apm-java

Only use jnr-posix for compilation in agent-tooling, it will be included in the final jar via socket-utils (jnr-unixsocket)
  dd-java-agent/agent-tooling/build.gradle
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-trace-core/jfr-openjdk/                                                                 @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @ValentinZakharov is not in the @DataDog org :( so add him here
dd-java-agent/appsec/  @DataDog/appsec-java @ValentinZakharov

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/                @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                               @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng-6.4/                              @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
