Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

Do not attempt to set application key header if the key is not provided
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
Owners: @DataDog/ci-app-libraries-java

Change log level of remote settings fetch error to debug
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
Owners: @DataDog/ci-app-libraries-java

Refactor CI Tags provider (#5407)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProviderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/AppVeyorInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/AzurePipelinesInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BitBucketInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BitriseInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BuddyInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BuildkiteInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CircleCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CodefreshInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GitLabInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GithubActionsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/JenkinsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/TeamcityInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/TravisInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UnknownCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UserSuppliedCIInfoTest.groovy
Owners: @DataDog/ci-app-libraries-java

Do not send empty test suite spans (#5405)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/AbstractTestContext.java
Owners: @DataDog/ci-app-libraries-java

Implement auto-configuration for code-coverage in Gradle (#5399)
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/corruptedConfig/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/failure/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/failure/src/test/java/datadog/smoke/TestFailed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/skip/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/success/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/success/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successLegacy/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successLegacy/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiModule/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiModule/submodule-a/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiModule/submodule-b/src/test/java/datadog/smoke/TestSucceed.java
Owners: @DataDog/ci-app-libraries-java

Implement Git data upload
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploader.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/FileUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOThrowingFunction.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/FileUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/ShellCommandExecutorTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/uploadedPackFile.pack
  dd-smoke-tests/build.gradle
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  utils/test-utils/build.gradle
  utils/test-utils/src/main/groovy/datadog/trace/test/util/MultipartRequestParser.groovy
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Fix java.lang.NoClassDefFoundError due to OSGI issues in servlet requests
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/callsite/HttpServlet3RequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/HttpServlet3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/HttpServletWrapper3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/Servlet3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/ServletSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletRequestInputStreamCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaHttpServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaHttpServletRequestWrapperTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaServletRequestWrapperTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/ServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestInputStreamCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
Owners: @DataDog/apm-java

Implement a mechanism to push data from children processes to parent process
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ByteUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ChannelContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/Signal.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalType.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ByteUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ChannelContextTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Fix Javadoc format
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServer.java
Owners: @DataDog/ci-app-libraries-java

Implement remote settings fetching for CI Visibility
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationsJson.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/Configurations.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/SkippableTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  internal-api/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9ExecutableSupplier.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/ProcessUtils.java
  internal-api/src/test/groovy/datadog/trace/util/ProcessUtilsTest.groovy
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Remove redundant code
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
Owners: @DataDog/ci-app-libraries-java

Add code coverage exclusions
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
Owners: @DataDog/ci-app-libraries-java

Fix java.lang.NoClassDefFoundError due to OSGI issues in servlet requests (#5446)
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/callsite/HttpServlet3RequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/HttpServlet3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/HttpServletWrapper3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/Servlet3TestSuite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/ServletSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletRequestInputStreamCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaHttpServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaHttpServletRequestWrapperTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaServletRequestWrapperTestSuite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/ServletRequestTestSuite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestInputStreamCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
Owners: @DataDog/apm-java

Suppress forbidden APIs
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
Owners: @DataDog/ci-app-libraries-java

test on ubuntu openjdk17
  .circleci/config.yml
Owners: @DataDog/apm-java

PR comments
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/LogContextScopeListener.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

change T to ByteArrayInputStream
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromInputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Owners: @DataDog/apm-java

Ensure lambda instrumentation only notifies extension once. (#5422)
  dd-java-agent/instrumentation/aws-lambda-handler/build.gradle
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromInputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Owners: @DataDog/apm-java

upgrade to ddprof 0.52.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Add code coverage exclusions
  dd-trace-api/build.gradle
Owners: @DataDog/apm-java

Add support for double values for metric probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StatsdMetricForwarder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot25.java
Owners: @DataDog/debugger-java

upgrade ddprof to 0.52.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Exclude log4j 3.0.0-alpha1 from log-injection smoke tests (#5440)
  dd-smoke-tests/log-injection/build.gradle
Owners: @DataDog/apm-java

Fix smoke tests
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
Owners: @DataDog/debugger-java

Update index.yml
  index.yml
Owners: @DataDog/apm-java

first commit
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XPathInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XPathInjectionModuleTest.groovy
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/javax-xml/build.gradle
  dd-java-agent/instrumentation/javax-xml/src/main/java/datadog/trace/instrumentation/javax/xml/XPathInstrumentation.java
  dd-java-agent/instrumentation/javax-xml/src/test/groovy/datadog/trace/instrumentation/javax/xml/XPathInstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/XPathInjectionModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Owners: @DataDog/iast-java, @DataDog/apm-java

Add distribution metric for StatsDClient
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDClient.java
  communication/src/main/java/datadog/communication/monitor/LoggingStatsDClient.java
  communication/src/test/groovy/datadog/communication/monitor/DDAgentStatsDClientTest.groovy
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/DebuggerMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  internal-api/src/main/java/datadog/trace/api/NoOpStatsDClient.java
  internal-api/src/main/java/datadog/trace/api/StatsDClient.java
Owners: @DataDog/apm-java, @DataDog/debugger-java

# This is a combination of 2 commits. # This is the 1st commit message:
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/NoHttpOnlyCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/NoSameSiteCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityDetails.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoHttpCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoSameSiteCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityInfoTest.groovy
  dd-java-agent/instrumentation/jersey/src/test/groovy/datadog/trace/instrumentation/jersey/JakartaWSResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/test/groovy/JavaxWSResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastSinksTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/groovy/server/Vertx39InsecureCookieTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HttpResponseHeaderModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoHttpOnlyCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoSameSiteCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/UnvalidatedRedirectModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Owners: @DataDog/iast-java, @DataDog/apm-java

started
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityDetails.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoHttpCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityInfoTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
Owners: @DataDog/iast-java, @DataDog/apm-java

chore: Update label detection
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

Update label detection (#5462)
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

upgrade to ddprof 0.53.0 to unlink libgcc
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Update index.yml
  index.yml
Owners: @DataDog/apm-java

Try running with profiling disabled
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

Improve release note generation
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

upgrade to ddprof 0.53.0 to unlink libgcc
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

override user-enabled ddprof on unsupported non-LTS JDK versions
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Improve release note generation (#5464)
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

WIP
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Metrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/TelemetryMetrics.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/TelemetryMetricsTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
Owners: @DataDog/apm-java

feat: Add instrumentation name into DDSpan and span metrics
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/metrics/SpanMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java, @DataDog/iast-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

dd-java-agent/appsec/  @DataDog/appsec-java

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/    @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/                         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/                 @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                                      @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
