Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @ValentinZakharov, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

Move PidHelper to internal-api (#4393)
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-crashtracking/build.gradle
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-java-agent/agent-profiling/profiling-uploader/build.gradle
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/PosixPidSupplier.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/PidHelperTest.groovy
  dd-java-agent/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  gradle/dependencies.gradle
  internal-api/build.gradle
  internal-api/internal-api-9/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9PidSupplier.java
  internal-api/internal-api-9/src/test/groovy/datadog/trace/util/PidHelperTest.groovy
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/test/java/datadog/trace/util/PidHelperTest.java
  settings.gradle
  utils/process-utils/build.gradle
  utils/process-utils/src/main/java/datadog/common/process/PidHelper.java
  utils/process-utils/src/test/java/datadog/common/process/PidHelperTest.java
Owners: @DataDog/apm-java, @DataDog/profiling-java

Weaken some GraphQL test error assertions to make it pass with the latest version
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
Owners: @DataDog/apm-java

Adds process_id to all root spans
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Changes error tag name from error.msg to error.message
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Owners: @DataDog/apm-java

Undo newhashmap changes as no longer necessary
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Fix tests part one
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
Owners: @DataDog/apm-java

Fix old tags for test
  dd-java-agent/instrumentation/axis-2/src/test/groovy/datadog/trace/instrumentation/axis2/AxisEngineTest.groovy
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-1/src/test/groovy/WebServiceTest.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-2/src/test/groovy/WebServiceProviderTest.groovy
  dd-java-agent/instrumentation/jsp-2.3/src/test/groovy/JSPInstrumentationBasicTests.groovy
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/restlet-2.2/src/test/groovy/RestletTestBase.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/AbstractServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServletHandlerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/SpringBootZuulTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
Owners: @DataDog/apm-java

Removes unused pid import for corespan groovy test
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
Owners: @DataDog/apm-java

Changes error tag name from error.msg to error.message (#4398)
  dd-java-agent/instrumentation/axis-2/src/test/groovy/datadog/trace/instrumentation/axis2/AxisEngineTest.groovy
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-1/src/test/groovy/WebServiceTest.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-2/src/test/groovy/WebServiceProviderTest.groovy
  dd-java-agent/instrumentation/jsp-2.3/src/test/groovy/JSPInstrumentationBasicTests.groovy
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/restlet-2.2/src/test/groovy/RestletTestBase.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/AbstractServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServletHandlerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/SpringBootZuulTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Owners: @DataDog/apm-java

Fix smoke tests to include process_id partly
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.nested.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.simple.snap
  dd-smoke-tests/springboot-openliberty/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySnapshotTest.groovy
Owners: @DataDog/apm-java

Sets process_id only root level spans for snapshot
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.nested.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.simple.snap
Owners: @DataDog/apm-java

Adds process_id to nested root span
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.nested.snap
Owners: @DataDog/apm-java

Merged master into process_id branch
  dd-java-agent/instrumentation/axis-2/src/test/groovy/datadog/trace/instrumentation/axis2/AxisEngineTest.groovy
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-1/src/test/groovy/WebServiceTest.groovy
  dd-java-agent/instrumentation/jax-ws-annotations-2/src/test/groovy/WebServiceProviderTest.groovy
  dd-java-agent/instrumentation/jsp-2.3/src/test/groovy/JSPInstrumentationBasicTests.groovy
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/restlet-2.2/src/test/groovy/RestletTestBase.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/AbstractServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServletHandlerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/SpringBootZuulTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow-2.0/src/test/groovy/UndertowTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Owners: @DataDog/apm-java

Make paths resolve properly on Windows as well
  dd-java-agent/instrumentation/rmi/build.gradle
Owners: @DataDog/apm-java

Fix rmic Gradle task
  dd-java-agent/instrumentation/rmi/build.gradle
Owners: @DataDog/apm-java

Make paths resolve properly on Windows as well
  dd-java-agent/instrumentation/rmi/build.gradle
Owners: @DataDog/apm-java

feat(dd-trace-ot): Add correlation id injector module
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/build.gradle
  dd-trace-ot/correlation-id-injection/build.gradle
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/AbstractCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/CorrelationIdInjectors.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4j2CorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Slf4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/test/groovy/CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Log4j2CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Slf4jCorrelationIdInjectorTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  settings.gradle
Owners: @DataDog/apm-java

Log level changed to debug
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
Owners: @DataDog/appsec-java, @ValentinZakharov

Fix formatting
  dd-java-agent/instrumentation/rmi/build.gradle
Owners: @DataDog/apm-java

Remove prefixes for value reference in expressions
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferenceResolver.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferences.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/GetMemberExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/StaticValueRefResolver.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/FilterCollectionExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfElseExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/Tester.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_01.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_02.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_03_error.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InsnListValue.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_probe_conditional.json
Owners: @DataDog/debugger-java

Fix flaky SynapseTest
  dd-java-agent/instrumentation/synapse-3/src/test/groovy/datadog/trace/instrumentation/synapse3/SynapseTest.groovy
Owners: @DataDog/apm-java

Adds try block to catch any error around pid
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Add pathway hash to span tags on error
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/PathwayContext.java
Owners: @DataDog/apm-java

feat(dd-trace-ot): Add correlation id injector module
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/build.gradle
  dd-trace-ot/correlation-id-injection/build.gradle
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/AbstractCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/CorrelationIdInjectors.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4j2CorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Slf4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/test/groovy/CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Log4j2CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Slf4jCorrelationIdInjectorTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  settings.gradle
Owners: @DataDog/apm-java

feat(core): Restore addScopeListener to InternalTracer API
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Owners: @DataDog/apm-java

Adds process_id to all root spans (#4397)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.nested.snap
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.simple.snap
  dd-smoke-tests/springboot-openliberty/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySnapshotTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Configure kotlin-coroutines module to be compilable
  dd-java-agent/instrumentation/kotlin-coroutines/build.gradle
Owners: @DataDog/apm-java

TypeFactory.installing should default to false so new threads loading types after the byte-buddy agent is installed are in the right state.
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Owners: @DataDog/apm-java

Remove cache of ForLoadedType common types as outlining is faster
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Owners: @DataDog/apm-java

Simplify Sampler and related interface by moving type parameter from the class to method declaration
  dd-trace-core/src/main/java/datadog/trace/common/sampling/AllSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/DeterministicSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/ForcePrioritySampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/PrioritySampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RateByServiceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RateSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SamplingRule.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SingleSpanSampler.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Owners: @DataDog/apm-java

Rename trace sampler classes for clarity
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-core/src/main/java/datadog/trace/common/sampling/ForcePrioritySampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RateByServiceTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/RateByServiceTraceSamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/RuleBasedSamplingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerAPITest.groovy
Owners: @DataDog/apm-java

Remove unnecessary method type params
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SingleSpanSampler.java
Owners: @DataDog/apm-java

Introduce named presets for the resolver cache, to make it easier to configure
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentStrategies.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/ResolverCacheConfig.java
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
Owners: @DataDog/apm-java

coverage
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
Owners: @DataDog/apm-java

fix prefixes and add more tests
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/GetMemberExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/RefResolverHelper.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/StaticValueRefResolver.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/BinaryExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/FilterCollectionExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfElseExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsEmptyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsUndefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/LenExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/NotExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_04.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/MetricProbeTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_log_probe.json
  dd-java-agent/agent-debugger/src/test/resources/test_metric_probe.json
Owners: @DataDog/debugger-java

Add a test case for kotlin coroutines tracing with suspension
  dd-java-agent/instrumentation/kotlin-coroutines/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/test/kotlin/KotlinCoroutineTests.kt
Owners: @DataDog/apm-java

Add a naive Kotlin coroutines instrumentation
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/core/NoOpContextElement.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/core/ScopeStackCoroutineContextHelper.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/core/scopemanager/ScopeStackCoroutineContext.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/CoroutineContextAdvice.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutinesInstrumentation.java
Owners: @DataDog/apm-java

Add DDEvpProxyApi and use it in CI Visibility mode when not agentless
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeTrackTypeResolver.java
Owners: @DataDog/apm-java

Update DDIntakeTrackTypeResolverTest
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeTrackTypeResolverTest.groovy
Owners: @DataDog/apm-java

Add test for WriterFactory
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-trace-core/jfr-openjdk/                                                                 @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @ValentinZakharov is not in the @DataDog org :( so add him here
dd-java-agent/appsec/  @DataDog/appsec-java @ValentinZakharov

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/                @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                               @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng-6.4/                              @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
