Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java

Attempt sending telemetry to Agent when Intake fails
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryHttpClientSpecification.groovy
Owners: @DataDog/apm-java

Make Telemetry Intake URL configurable
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/TelemetryHttpClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryHttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryHttpClient.groovy
Owners: @DataDog/apm-java

Autogenerated AppSecEvent pojo replaces with persistent pojo
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/TraceSegmentPostProcessor.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFInitializationResultReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEventWrapper.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Parameter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Rule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/RuleMatch.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/StandardizedLogging.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Owners: @DataDog/asm-java

Added test for AppSecEvent report serialization
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/AppSecEventWrapperTest.groovy
Owners: @DataDog/asm-java

Collect api schema
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/MapDataBundle.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Owners: @DataDog/asm-java

Introduced Api Security Context
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Owners: @DataDog/asm-java

Fixed Tests
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
Owners: @DataDog/asm-java

WAF update 7.2.0
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
Owners: @DataDog/asm-java

Config option for Api Security
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Added sampler for Api Security
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Owners: @DataDog/asm-java

Add sampling smoke tests for log probes
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/DebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Owners: @DataDog/debugger-java

Add support of all rule tags in AppSec event reports (#5939)
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/TraceSegmentPostProcessor.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFInitializationResultReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEventWrapper.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Parameter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Rule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/RuleMatch.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/StandardizedLogging.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/AppSecEventWrapperTest.groovy
Owners: @DataDog/asm-java

Fix blocking in netty 3.8
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/ChannelFutureListenerInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/BlockAllWritesHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/BlockingResponseHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/client/PlayWSClientTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/server/PlayAsyncServerTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/server/PlayServerTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/AsyncServer.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/ControllerClosureAdapter.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/Settings.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/SyncServer.scala
Owners: @DataDog/apm-java

Address review comments
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/shutdown/ShutdownHelper.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Owners: @DataDog/apm-java

Prevent calling size method from unknown classes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/MapValue.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot24.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot26.java
Owners: @DataDog/debugger-java

Remove application key header from settings and ITR requests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

Fix unit test
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
Owners: @DataDog/apm-java

Remove application key header from settings and ITR requests (#5949)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Owners: @DataDog/ci-app-libraries-java

disabled broken appsec tests
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Owners: @DataDog/apm-java

remove unused imports
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
Owners: @DataDog/apm-java

Flush telemetry data on JVM shutdown (#5943)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
Owners: @DataDog/apm-java

fixed smoke test version for openliberty 23
  dd-smoke-tests/springboot-openliberty-23/application/pom.xml
Owners: @DataDog/apm-java

Implement ITR unskippable tests for TestNG (#5889)
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/testng/testng-6/build.gradle
  dd-java-agent/instrumentation/testng/testng-6/src/main/java/datadog/trace/instrumentation/testng6/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-6/src/test/groovy/TestNG6Test.groovy
  dd-java-agent/instrumentation/testng/testng-7.5/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-7/src/test/groovy/TestNG7Test.groovy
  gradle/configure_tests.gradle
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Add latest dependency tests and muzzle verifications for test frameworks based on JUnit 5
  dd-java-agent/instrumentation/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedFeatureCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped_feature.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/spock/build.gradle
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestParameterizedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  gradle/configure_tests.gradle
  settings.gradle
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

move assert in doUnknownCount
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Owners: @DataDog/debugger-java

Added trusted IPs protocol
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Rename spark.batch to spark.streaming_batch
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
Owners: @DataDog/apm-java

Fixed tests
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Owners: @DataDog/asm-java

new test for xcontent
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Owners: @DataDog/asm-java, @DataDog/apm-java

fixing the x-content-type-options header string
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
Owners: @DataDog/asm-java

Add API Security request schema extraction (#5888)
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/MapDataBundle.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Collect api schema
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
Owners: @DataDog/asm-java

WAF update 8.0.0
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Owners: @DataDog/asm-java

Fixed Tests
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
Owners: @DataDog/asm-java

Sample rate config option changed into 0.0 - 1.0
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Missing config variables in logging
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Added a false positive test
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Owners: @DataDog/apm-java

Added Api Security request data classification (#5942)
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Added trusted IPs protocol (#5952)
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Owners: @DataDog/asm-java, @DataDog/apm-java

fixed logging in JakartaServletBlockingHelper
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletBlockingHelper.java
Owners: @DataDog/apm-java
