Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @ValentinZakharov, @DataDog/ci-app-libraries-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/  @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/ @DataDog/profiling-java

# @ValentinZakharov is not in the @DataDog org :( so add him here
dd-java-agent/appsec/  @DataDog/appsec-java @ValentinZakharov

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/                @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                               @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng-6.4/                              @DataDog/ci-app-libraries-java

Fix jacoco + Remove debug logging
  dd-java-agent/agent-profiling/profiling-context/profiling-context.gradle
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTracker.java
Owners: @DataDog/profiling-java

Util to get stacktrace for reported vulnerabilities
  .github/workflows/codeql-analysis.yml
  .github/workflows/test-lib-injection.yaml
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  gradle.properties
  gradle/dependencies.gradle
  internal-api/internal-api-8/internal-api-8.gradle
  internal-api/internal-api-8/src/jmh/java/datadog/trace/util/stacktrace/HotSpotStackWalkerBenchmark.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/AbstractStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/DefaultStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/HotSpotStackTraceIterator.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/HotSpotStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackWalkerFactory.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/DefaultStackWalkerTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/HotSpotStackTraceIteratorTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/HotSpotStackWalkerTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/StackWalkerFactoryTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/StackWalkerTestUtil.java
  internal-api/internal-api-9/internal-api-9.gradle
  internal-api/internal-api-9/src/jmh/java/datadog/trace/util/stacktrace/JDK9StackWalkerBenchmark.java
  internal-api/internal-api-9/src/main/java/datadog/trace/util/stacktrace/JDK9StackWalker.java
  internal-api/internal-api-9/src/test/groovy/datadog/trace/util/stacktrace/JDK9StackWalkerTest.groovy
  settings.gradle
  utils/test-utils/src/main/java/external/util/stacktrace/RecursiveRunner.java
Owners: @DataDog/apm-java

Add some tests for AsyncProfilerTracingContextTrackerFactory
  dd-java-agent/agent-profiling/profiling-context/profiling-context.gradle
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactoryTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PerSpanTracingContextTrackerFactoryTest.java
Owners: @DataDog/profiling-java

Add 0.106.0
  index.yml
Owners: @DataDog/apm-java

Presize array list to 10 to avoid reallocations
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogTagsFactory.java
Owners: @DataDog/apm-java

Add tags for parsing/validation errors as well as the errored query.
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ExecutionInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/GraphQLInstrumentation.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java8/datadog/trace/instrumentation/graphqljava/ValidationInstrumentationContext.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
Owners: @DataDog/apm-java

Util to get stacktrace for reported vulnerabilities (#3647)
  .github/workflows/codeql-analysis.yml
  .github/workflows/test-lib-injection.yaml
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  gradle.properties
  gradle/dependencies.gradle
  internal-api/internal-api-8/internal-api-8.gradle
  internal-api/internal-api-8/src/jmh/java/datadog/trace/util/stacktrace/HotSpotStackWalkerBenchmark.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/AbstractStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/DefaultStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/HotSpotStackTraceIterator.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/HotSpotStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackWalkerFactory.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/DefaultStackWalkerTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/HotSpotStackTraceIteratorTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/HotSpotStackWalkerTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/StackWalkerFactoryTest.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/StackWalkerTestUtil.java
  internal-api/internal-api-9/internal-api-9.gradle
  internal-api/internal-api-9/src/jmh/java/datadog/trace/util/stacktrace/JDK9StackWalkerBenchmark.java
  internal-api/internal-api-9/src/main/java/datadog/trace/util/stacktrace/JDK9StackWalker.java
  internal-api/internal-api-9/src/test/groovy/datadog/trace/util/stacktrace/JDK9StackWalkerTest.groovy
  settings.gradle
  utils/test-utils/src/main/java/external/util/stacktrace/RecursiveRunner.java
Owners: @DataDog/apm-java

Fix varint size calculation
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/LEB128Support.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/LEB128SupportTest.java
Owners: @DataDog/profiling-java

Use epoch nanos as the context interval time peg
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/IntervalEncoder.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/ProfilerTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalEncoderTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalParser.java
Owners: @DataDog/profiling-java

Update javadoc
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/StreamingChunkParser.java
Owners: @DataDog/profiling-java

Lightweight streaming JFR chunk parser
  dd-java-agent/agent-profiling/profiling-controller-jfr/profiling-controller-jfr.gradle
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/ChunkHeader.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/ChunkParserListener.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/LongMapping.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/MetadataEvent.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/RecordingStream.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/StreamingChunkParser.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/TestJfrRecorder.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/parser/ParserEvent.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/parser/StreamingChunkParserTest.java
Owners: @DataDog/profiling-java

Use shared deps for jctools
  dd-java-agent/agent-profiling/profiling-controller-jfr/profiling-controller-jfr.gradle
Owners: @DataDog/profiling-java

Generate arguments dynamically
  dd-java-agent/agent-profiling/profiling-async/src/test/java/com/datadog/profiling/async/AsyncProfilerTest.java
Owners: @DataDog/profiling-java

Add spec tests
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfo.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CISpecExtractor.groovy
  internal-api/src/test/resources/ci/buildkite.json
  internal-api/src/test/resources/ci/circleci.json
  internal-api/src/test/resources/ci/github.json
  internal-api/src/test/resources/ci/gitlab.json
  internal-api/src/test/resources/ci/jenkins.json
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Bump async-profiler to DD-20220810
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Fix failure in openliberty test
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractTestAgentSmokeTest.groovy
Owners: @DataDog/apm-java

Apply PR feedback
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfo.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Per-span context tracking fixes (#3707)
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/IntervalEncoder.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/LEB128Support.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/ProfilerTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalEncoderTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalParser.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/LEB128SupportTest.java
Owners: @DataDog/profiling-java

[CIAPP] Add `_dd.ci.env_vars` span tag for every CI Provider (#3646)
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/BuildkiteInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CircleCIInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/GitLabInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/GithubActionsInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/JenkinsInfo.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CISpecExtractor.groovy
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
  internal-api/src/test/resources/ci/buildkite.json
  internal-api/src/test/resources/ci/circleci.json
  internal-api/src/test/resources/ci/github.json
  internal-api/src/test/resources/ci/gitlab.json
  internal-api/src/test/resources/ci/jenkins.json
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Add instrumentation project in settings.gradle
  settings.gradle
Owners: @DataDog/apm-java

Fix compilation
  dd-java-agent/instrumentation/main/main.gradle
  dd-java-agent/instrumentation/main/src/main/java/datadog/trace/instrumentation/main/MainInstrumentation.java
Owners: @DataDog/apm-java

Lightweight streaming JFR chunk parser (#3657)
  dd-java-agent/agent-profiling/profiling-controller-jfr/profiling-controller-jfr.gradle
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/ChunkHeader.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/ChunkParserListener.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/LongMapping.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/MetadataEvent.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/RecordingStream.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/parser/StreamingChunkParser.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/TestJfrRecorder.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/parser/ParserEvent.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/test/java/com/datadog/profiling/controller/jfr/parser/StreamingChunkParserTest.java
Owners: @DataDog/profiling-java

Avoid fetching 'Package' instances unless we really need package details
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
Owners: @DataDog/apm-java

Remove unnecessary (legacy) use of reflection; these types are now defined in same class-loader
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Owners: @DataDog/apm-java

Move BootstrapProxy to its own top-level class
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/BootstrapProxy.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/DatadogClassLoaderTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Utils.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
Owners: @DataDog/apm-java

Simplify Agent/CLI interaction to make refactoring easier
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentJar.java
Owners: @DataDog/apm-java

Provide trie-based index of nested content inside the dd-java-agent jar
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
Owners: @DataDog/apm-java

Generate index for dd-java-agent as part of build
  dd-java-agent/dd-java-agent.gradle
Owners: @DataDog/apm-java

Simplify datadog class-loading to use a single class-loader with jar content indexed at build-time
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/InternalJarURLHandler.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/InternalJarURLHandlerTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/UrlInstrumentation.java
Owners: @DataDog/apm-java

Use dd-java-agent.jar location as code-source
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
Owners: @DataDog/apm-java

Generate internal Packages on demand
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
Owners: @DataDog/apm-java

Add Runnable variants of agent scheduler methods
  internal-api/src/main/java/datadog/trace/util/AgentTaskScheduler.java
Owners: @DataDog/apm-java

Cleanup use of BootstrapProxy
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/BootstrapProxy.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/DatadogClassLoaderTest.groovy
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/jar-with-nested-classes-jdk8
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/jar-with-nested-classes-jdk8-readme.md
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/testjar-jdk8
  dd-java-agent/agent-bootstrap/src/test/resources/classloader-test-jar/testjar-readme.md
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Utils.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ClassLoaderMatchersTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/JMXFetchTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/classloading/ShadowPackageRenamingTest.groovy
  dd-java-agent/src/test/java/datadog/trace/agent/test/IntegrationTestUtils.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  internal-api/src/main/java/datadog/trace/util/ClassNameTrie.java
Owners: @DataDog/apm-java

Fix index generation dependency
  dd-java-agent/dd-java-agent.gradle
Owners: @DataDog/apm-java

Refactor trie reading to avoid builder
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  internal-api/src/main/java/datadog/trace/util/ClassNameTrie.java
  internal-api/src/test/groovy/datadog/trace/util/ClassNameTrieTest.groovy
Owners: @DataDog/apm-java

Avoid loading trie build if no custom excludes
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/CustomExcludes.java
Owners: @DataDog/apm-java

Avoid using exception sampler until we know JFR is ready
  dd-java-agent/agent-bootstrap/agent-bootstrap.gradle
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/exception/ExceptionSampling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/exceptions/ExceptionProfiling.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
Owners: @DataDog/apm-java

No need for repeated check (throwable advice already checks ExceptionSampling.canSampleExceptions)
  dd-java-agent/agent-bootstrap/agent-bootstrap.gradle
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/exceptions/ExceptionProfiling.java
Owners: @DataDog/apm-java

Change name of docker image
  .gitlab-ci.yml
  lib-injection/application/build.gradle.kts
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/apm-java

Change name of docker image (#3713)
  .gitlab-ci.yml
  lib-injection/application/build.gradle.kts
  lib-injection/src/test/shell/functions.sh
Owners: @DataDog/apm-java
