Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

Update to new schema
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

give more time for application start
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Owners: @DataDog/apm-java

parametrize test
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
Owners: @DataDog/iast-java

Unvalidated redirect not reported if Referer header is the source (#5424)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
Owners: @DataDog/iast-java

Exclude log4j 3.0.0-alpha1 from log-injection smoke tests
  dd-smoke-tests/log-injection/build.gradle
Owners: @DataDog/apm-java

Exclude log4j 3.0.0-alpha1 from log-injection smoke tests (#5440)
  dd-smoke-tests/log-injection/build.gradle
Owners: @DataDog/apm-java

Expose runtimeMetricsEnabled flag from Config
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

Add config key for 'trace.debug'
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
Owners: @DataDog/apm-java

Populate rest of TraceConfig
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Owners: @DataDog/apm-java

Move reporting of config updates to its own method and report when config is reset
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Owners: @DataDog/apm-java

Connect up rest of remote lib-config to dynamic trace-config
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
Owners: @DataDog/apm-java

Populate initial trace-config from tracer
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Owners: @DataDog/apm-java

Trace sample rate is optional and may be null
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Owners: @DataDog/apm-java

[system-tests] Tests parametric on migration
  .circleci/config.yml
Owners: @DataDog/apm-java

Implement Git repo unshallowing
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/dummy.txt
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/config
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/description
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/index
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/info/exclude
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.idx
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.pack
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/packed-refs
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/shallow
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

implement queue timing using Datadog profiler, remove JFR implementation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFRTimer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/JFRTimerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/SafeToLoadJFRCheckpointerTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/resources/overrides.jfp
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/api/profiling/QueueTiming.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
Owners: @DataDog/apm-java, @DataDog/profiling-java

disable flaky tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
Owners: @DataDog/debugger-java

More dynamic-config plumbing (#5437)
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Owners: @DataDog/apm-java

Added NPE checkers in Instrumentation Gateway (#5383)
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/build.gradle
Owners: @DataDog/appsec-java, @DataDog/apm-java

Implement ITR tests skipping for JUnit 4
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/ItrFilter.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/SkippedByItr.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Revert "Implement ITR tests skipping for JUnit 5"
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrPostDiscoveryFilter.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrPredicate.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5DiscoveryRequestInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5TestTemplateTestDescriptorInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
Owners: @DataDog/ci-app-libraries-java

Ensure safe class loading in instrumentation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/ASMHelperTest.java
Owners: @DataDog/debugger-java

Add special support for enum values
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot23.java
Owners: @DataDog/debugger-java

Implement ITR tests skipping for JUnit 5 (preserve skipped spans)
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ItrFilter.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Utils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
Owners: @DataDog/ci-app-libraries-java

PR comments
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/LogContextScopeListener.java
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/SpanDecoratingContextDataInjector.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
Owners: @DataDog/apm-java

merge issues
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Owners: @DataDog/apm-java

ve more concise defining where to apply the Advices
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
Owners: @DataDog/apm-java

expose cassandra contact points and use for peer.service
  dd-java-agent/instrumentation/datastax-cassandra-3.8/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-3.8/src/main/java/datadog/trace/instrumentation/datastax/cassandra38/CassandraClusterInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-3.8/src/main/java/datadog/trace/instrumentation/datastax/cassandra38/ContactPointsUtil.java
  dd-java-agent/instrumentation/datastax-cassandra-3.8/src/test/groovy/CassandraClientTest.groovy
  dd-java-agent/instrumentation/datastax-cassandra-3/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/CassandraClientInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/CassandraClusterInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/ContactPointsUtil.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/TracingSession.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/CassandraClientAdvice.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/CassandraClientInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/ContactPointsUtil.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/TracingSession.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/test/groovy/CassandraClientTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
  settings.gradle
Owners: @DataDog/apm-java

Fix unvalidated redirect detection in Jetty
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
Owners: @DataDog/apm-java

fix comments
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
Owners: @DataDog/debugger-java

Run parametric tests with the standard runner
  .circleci/config.yml
Owners: @DataDog/apm-java

Fold stacktrace for exception
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
Owners: @DataDog/debugger-java

Fix inserting line probe before for loops
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LineMap.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/LineMapTest.java
Owners: @DataDog/debugger-java

Implement ITR tests skipping for TestNG
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/ItrFilter.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
Owners: @DataDog/ci-app-libraries-java

Fix Jacoco autoconfiguration for projects that use older versions of Surefire plugin
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
Owners: @DataDog/ci-app-libraries-java

Remove duplicate logging from module execution settings factory
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
Owners: @DataDog/ci-app-libraries-java

Remove unused fallback values from CITagsBuilder#putTagValue
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
Owners: @DataDog/ci-app-libraries-java

Spotless fixes.
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromInputStreamJsonAdapter.java
Owners: @DataDog/apm-java

Deserialize json from byte streams.
  dd-java-agent/instrumentation/aws-lambda-handler/build.gradle
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromInputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Owners: @DataDog/apm-java

track time in FJP shared queues
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
Owners: @DataDog/apm-java, @DataDog/profiling-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

dd-java-agent/appsec/  @DataDog/appsec-java

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/    @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/                         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/                 @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                                      @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java
