Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

Upgrade to ddprof 0.78.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Update system-tests to a5c7ef0fa0f988b4c09e3734b99a37dd436a3eef
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Add fallbacks when retrieving databricks ids (#5910)
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Owners: @DataDog/apm-java

Do not reattempt app-started event until next heartbeat interval
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
Owners: @DataDog/apm-java

Repoint system-tests to fixed Telemetry V2 assertions variant
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Telemetry V2 config origin
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/env/CapturedEnvironment.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/CapturedEnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/EnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/PropertiesConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/SystemPropertiesConfigSource.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/BufferedEvents.java
  telemetry/src/main/java/datadog/telemetry/EventSink.java
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestState.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/api/ConfigChange.java
  telemetry/src/test/groovy/datadog/telemetry/BufferedEventsSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
Owners: @DataDog/apm-java

Document issue with native image generation
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Owners: @DataDog/apm-java

Add config origin for jvm properites
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/PropertiesConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/SystemPropertiesConfigSource.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
Owners: @DataDog/apm-java

Serialize Telemetry V2 `null` config values
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestState.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
Owners: @DataDog/apm-java

Fix smoke test BaseApplication logInjectionEnabled check
  dd-smoke-tests/log-injection/src/main/java/datadog/smoketest/loginjection/BaseApplication.java
Owners: @DataDog/apm-java

Collect merged map settings with source origin.
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigConverter.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigConverterTest.groovy
Owners: @DataDog/apm-java

Clean up TODO
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Owners: @DataDog/apm-java

Fix native-image complaining about ConfigCollector class
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Owners: @DataDog/apm-java

Collect only non-null default config values
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
Owners: @DataDog/apm-java

add more debug logs
  internal-api/src/main/java/datadog/trace/api/normalize/HttpResourceNames.java
  internal-api/src/main/java/datadog/trace/api/normalize/SimpleHttpPathNormalizer.java
Owners: @DataDog/apm-java

add more debug logs
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
Owners: @DataDog/apm-java

fix debug logs
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
Owners: @DataDog/apm-java

add debug logs
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Owners: @DataDog/apm-java

fix debug logs
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Owners: @DataDog/apm-java

First version
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XssModuleTest.groovy
  dd-java-agent/instrumentation/thymeleaf/build.gradle
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ElementTagStructureHandlerInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/StandardUtextTagProcessorInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ThymeleafContext.java
  dd-java-agent/instrumentation/thymeleaf/src/test/groovy/datadog/trace/instrumentation/thymeleaf/ThymeleafXssTest.groovy
  dd-smoke-tests/springboot-thymeleaf-3/build.gradle
  dd-smoke-tests/springboot-thymeleaf-3/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-thymeleaf-3/src/main/java/datadog/smoketest/springboot/XssController.java
  dd-smoke-tests/springboot-thymeleaf-3/src/main/resources/templates/utext.html
  dd-smoke-tests/springboot-thymeleaf-3/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/XssModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

Instrumentation working
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/BodyAdvice.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ElementTagStructureHandlerInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ProcessAdvice.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/StandardUtextTagProcessorInstrumentation.java
Owners: @DataDog/apm-java

fix spotless
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/BodyAdvice.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ElementTagStructureHandlerInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/StandardUtextTagProcessorInstrumentation.java
Owners: @DataDog/apm-java

fix forbiddenApis
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ElementTagStructureHandlerInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/StandardUtextTagProcessorInstrumentation.java
Owners: @DataDog/apm-java

ignore test for java < 17
  dd-smoke-tests/springboot-thymeleaf-3/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
Owners: @DataDog/asm-java

Move to spring boot 2 for XSS smoke
  dd-smoke-tests/springboot-thymeleaf-3/build.gradle
  dd-smoke-tests/springboot-thymeleaf-3/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
Owners: @DataDog/apm-java, @DataDog/asm-java

rename smoke test module
  dd-smoke-tests/springboot-thymeleaf/build.gradle
  dd-smoke-tests/springboot-thymeleaf/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-thymeleaf/src/main/java/datadog/smoketest/springboot/XssController.java
  dd-smoke-tests/springboot-thymeleaf/src/main/resources/templates/utext.html
  dd-smoke-tests/springboot-thymeleaf/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
  settings.gradle
Owners: @DataDog/apm-java, @DataDog/asm-java

add debug log
  dd-java-agent/instrumentation/pulsar/src/main/java/datadog/trace/instrumentation/pulsar/ConsumerDecorator.java
  dd-java-agent/instrumentation/pulsar/src/main/java/datadog/trace/instrumentation/pulsar/ConsumerImplInstrumentation.java
Owners: @DataDog/apm-java

PR issues
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ThymeleafContext.java
  dd-smoke-tests/springboot-thymeleaf/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/XssModule.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Add Thymeleaf support to IAST XSS vulnerability (#5901)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XssModuleTest.groovy
  dd-java-agent/instrumentation/thymeleaf/build.gradle
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/BodyAdvice.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ElementTagStructureHandlerInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ProcessAdvice.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/StandardUtextTagProcessorInstrumentation.java
  dd-java-agent/instrumentation/thymeleaf/src/main/java/datadog/trace/instrumentation/thymeleaf/ThymeleafContext.java
  dd-java-agent/instrumentation/thymeleaf/src/test/groovy/datadog/trace/instrumentation/thymeleaf/ThymeleafXssTest.groovy
  dd-smoke-tests/springboot-thymeleaf/build.gradle
  dd-smoke-tests/springboot-thymeleaf/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-thymeleaf/src/main/java/datadog/smoketest/springboot/XssController.java
  dd-smoke-tests/springboot-thymeleaf/src/main/resources/templates/utext.html
  dd-smoke-tests/springboot-thymeleaf/src/test/groovy/datadog/smoketest/springboot/IastSpringBootThymeleafSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/XssModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

more debug logs
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/http/HttpResourceDecorator.java
  internal-api/src/main/java/datadog/trace/api/normalize/AntPathMatcher.java
  internal-api/src/main/java/datadog/trace/api/normalize/AntPatternHttpPathNormalizer.java
Owners: @DataDog/apm-java

remove unnecessary log
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/http/HttpResourceDecorator.java
  internal-api/src/main/java/datadog/trace/api/normalize/AntPathMatcher.java
Owners: @DataDog/apm-java

Fix changelog generation crash on community contribution
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

Add latest version to cloudfoundry
  index.yml
Owners: @DataDog/apm-java

Add latest version to cloudfoundry (#5921)
  index.yml
Owners: @DataDog/apm-java

Add support for armeria-grpc (#5819)
  dd-java-agent/instrumentation/armeria-grpc/build.gradle
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/ArmeriaMessageDeframerInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/GrpcClientDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/GrpcInjectAdapter.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcExtractAdapter.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcServerDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/HandlerRegistryBuilderInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcStreamingTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/test/proto/helloworld.proto
  dd-smoke-tests/armeria-grpc/application/.gitignore
  dd-smoke-tests/armeria-grpc/application/build.gradle
  dd-smoke-tests/armeria-grpc/application/settings.gradle
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/HelloServiceImpl.java
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/Main.java
  dd-smoke-tests/armeria-grpc/application/src/main/proto/hello.proto
  dd-smoke-tests/armeria-grpc/application/src/main/resources/logback.xml
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/ArmeriaGrpcClient.groovy
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/ArmeriaSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
  settings.gradle
Owners: @DataDog/apm-java

Update system-tests to a5c7ef0fa0f988b4c09e3734b99a37dd436a3eef (#5915)
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Use project folder for building index when running with build system instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
Owners: @DataDog/ci-app-libraries-java

Use process.isAlive() in PortUtils
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
Owners: @DataDog/apm-java

WIP: Jetty 10 smoke test
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
  dd-smoke-tests/springboot-jetty10/build.gradle
  dd-smoke-tests/springboot-jetty10/src/main/java/datadog/smoketest/springboot/SpringbootJetty10Application.java
  dd-smoke-tests/springboot-jetty10/src/main/java/datadog/smoketest/springboot/controller/TestSuite.java
  dd-smoke-tests/springboot-jetty10/src/main/resources/application.properties
  dd-smoke-tests/springboot-jetty10/src/test/groovy/datadog/smoketest/SpringBootJetty10SmokeTest.groovy
  settings.gradle
Owners: @DataDog/apm-java

Fix changelog generation crash on community contribution (#5919)
  .github/workflows/draft-release-notes-on-tag.yaml
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java
