Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/asm-java

Add telemetry to IAST advices (#5426)
  benchmark/load/insecure-bank/benchmark.json
  benchmark/startup/insecure-bank/benchmark.json
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/IastPostProcessorFactory.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/iast/IastPostProcessorFactoryTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/iast/IastAnnotatedAdvice.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteImplInstrumentation.java
Owners: @DataDog/apm-java, @DataDog/asm-java

[APPSEC-11518] Limit the max number of ranges for a tainted value
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleRangeLimitForkedTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/IastDetectionMode.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Update pull request template for JIRA tickets
  .github/pull_request_template.md
Owners: @DataDog/apm-java

Limit the max number of ranges for a tainted value (#5986)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleRangeLimitForkedTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/IastDetectionMode.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Update .github/pull_request_template.md
  .github/pull_request_template.md
Owners: @DataDog/apm-java

Update .github/pull_request_template.md
  .github/pull_request_template.md
Owners: @DataDog/apm-java

Update pull request template for JIRA tickets (#6003)
  .github/pull_request_template.md
Owners: @DataDog/apm-java

Make sure internal 'datadog.trace.api.Functions' class is relocated in dd-trace-ot
  dd-trace-ot/build.gradle
Owners: @DataDog/apm-java

Support servlet getRequestURI/getPathTranslated/getPathInfo as IAST sources
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/HttpServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/TestHttpServletRequestCallSiteSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Make sure internal 'datadog.trace.api.Functions' class is relocated in dd-trace-ot (#6005)
  dd-trace-ot/build.gradle
Owners: @DataDog/apm-java

Relax assert for log sampling smoke test
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Owners: @DataDog/debugger-java

Add DSM implementation for kinesis
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/kinesisDsmTest/groovy/AWS1KinesisClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/GetterAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/HandlerChainFactoryInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
Owners: @DataDog/apm-java

Add DSM implementation for kinesis in SDKv1 (#5981)
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/kinesisDsmTest/groovy/AWS1KinesisClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/GetterAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/HandlerChainFactoryInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
Owners: @DataDog/apm-java

Disable sampling for span decoration probe
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeRateLimiter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Owners: @DataDog/debugger-java

Add propagation support to GRPC request payloads
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/GrpcRequestMessageHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/TrustBoundaryViolationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/TrustBoundaryViolationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/protobuf/build.gradle
  dd-smoke-tests/grpc-1.5/build.gradle
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/App.java
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/service/IastService.java
  dd-smoke-tests/grpc-1.5/src/main/proto/iast.proto
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/GrpcIastSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

Remove not needed contains call in visitor
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
Owners: @DataDog/asm-java

Fix typo in visitor test
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
Owners: @DataDog/asm-java

Move to a recursive solution for the visitor
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
Owners: @DataDog/asm-java

Use a trie to filter by classes in visitor and use a specific one for grpc
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/GrpcRequestMessageHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/service/IastService.java
  dd-smoke-tests/grpc-1.5/src/main/proto/iast.proto
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/GrpcIastSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Owners: @DataDog/asm-java, @DataDog/apm-java

Add protobuf test in the IAST module
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/GrpcRequestMessageHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/TrustBoundaryViolationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/foo/bar/VisitableClass.groovy
  dd-java-agent/agent-iast/src/test/proto/test2.proto
  dd-java-agent/agent-iast/src/test/proto/test3.proto
Owners: @DataDog/asm-java

Change debug levels in visitor
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
Owners: @DataDog/asm-java

Add IAST support to armeria GRPC impl
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/TracingServerInterceptor.java
Owners: @DataDog/apm-java

Remove capturing lambda from propagation module
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
Owners: @DataDog/asm-java

Improve code based on PR comments
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
Owners: @DataDog/asm-java

Add IAST smoke tests to armeria impl
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/IastServiceImpl.java
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/Main.java
  dd-smoke-tests/armeria-grpc/application/src/main/proto/iast.proto
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/IastArmeriaGrpcClient.groovy
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/IastArmeriaSmokeTest.groovy
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/App.java
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/IastServiceImpl.java
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/GrpcIastSmokeTest.groovy
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/IastGrpcClient.groovy
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/IastGrpcSmokeTest.groovy
Owners: @DataDog/asm-java, @DataDog/apm-java

Fix failing tests in CI
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
Owners: @DataDog/asm-java

Use Collections.newSetFromMap in visitor
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
Owners: @DataDog/asm-java

fixed muzzle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracedDelegateKafkaProducer.java
Owners: @DataDog/apm-java

remove prints
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/MetadataInstrumentation.java
Owners: @DataDog/apm-java

remove whitespace
  dd-trace-core/src/main/java/datadog/trace/common/metrics/OkHttpSink.java
Owners: @DataDog/apm-java

ran spotlessapply
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/MetadataInstrumentation.java
Owners: @DataDog/apm-java

Add propagation support to GRPC request payloads (#5894)
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/GrpcRequestMessageHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/TrustBoundaryViolationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/TrustBoundaryViolationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/foo/bar/VisitableClass.groovy
  dd-java-agent/agent-iast/src/test/proto/test2.proto
  dd-java-agent/agent-iast/src/test/proto/test3.proto
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/protobuf/build.gradle
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/IastServiceImpl.java
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/Main.java
  dd-smoke-tests/armeria-grpc/application/src/main/proto/iast.proto
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/IastArmeriaGrpcClient.groovy
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/IastArmeriaSmokeTest.groovy
  dd-smoke-tests/grpc-1.5/build.gradle
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/App.java
  dd-smoke-tests/grpc-1.5/src/main/java/datadog/smoketest/grpc/IastServiceImpl.java
  dd-smoke-tests/grpc-1.5/src/main/proto/iast.proto
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/IastGrpcClient.groovy
  dd-smoke-tests/grpc-1.5/src/test/groovy/datadog/smoketest/IastGrpcSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
  settings.gradle
Owners: @DataDog/asm-java, @DataDog/apm-java

Check if current master will pass changed telemetry v2 system-tests
  .circleci/config.continue.yml.j2
Owners: @DataDog/apm-java

Pin urllib3 to 1.x to avoid compatibility issue with requests
  .circleci/config.yml
Owners: @DataDog/apm-java

Donwgrade urllib3 to work around testcontainer tunnel timeouts
  .circleci/start_docker_autoforward.sh
Owners: @DataDog/apm-java

Remove empty protobuf module
  dd-java-agent/instrumentation/protobuf/build.gradle
Owners: @DataDog/apm-java

Lock down CircleCI build images and remove workaround
  .circleci/config.continue.yml.j2
  .circleci/start_docker_autoforward.sh
Owners: @DataDog/apm-java

Remove empty protobuf module (#6021)
  dd-java-agent/instrumentation/protobuf/build.gradle
Owners: @DataDog/apm-java

Test docker build image with downgraded urllib3
  .circleci/render_config.py
Owners: @DataDog/apm-java

Avoid calling inbox.clear() when shutting down as it might block
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
Owners: @DataDog/apm-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/    @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/ @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                      @DataDog/ci-app-libraries-java
**/civisibility/                           @DataDog/ci-app-libraries-java
**/CiVisibility*.java                      @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                    @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/appsec/                  @DataDog/asm-java
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-smoke-tests/appsec/                 @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java
