Repository DataDog/dd-trace-java, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/apm-java, @DataDog/profiling-java, @DataDog/appsec-java, @DataDog/ci-app-libraries-java, @DataDog/debugger-java, @DataDog/iast-java

.github/CODEOWNERS:

# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

* @DataDog/apm-java

dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

dd-java-agent/appsec/  @DataDog/appsec-java

# @DataDog/ci-app-libraries-java
internal-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-api/src/main/java/datadog/trace/api/civisibility/ @DataDog/ci-app-libraries-java
dd-trace-core/src/main/java/datadog/trace/civisibility/    @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/                         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/                  @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/                   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle/                      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/                 @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                                     @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                                      @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/iast-java
dd-java-agent/agent-iast/   @DataDog/iast-java
dd-java-agent/instrumentation/iast-instrumenter @DataDog/iast-java
**/iast/                    @DataDog/iast-java
**/Iast*.java               @DataDog/iast-java
**/Iast*.groovy             @DataDog/iast-java

WIP
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
  dd-trace-core/src/jmh/java/datadog/trace/core/PendingTraceWrite.java
  dd-trace-core/src/jmh/java/datadog/trace/core/TracerMapperMap.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTestBase.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
Owners: @DataDog/apm-java

WIP
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
Owners: @DataDog/iast-java, @DataDog/apm-java

feat: Improve metrics API and tests
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/TelemetryMetricsTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

WIP
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/http/HttpResourceDecoratorTest.groovy
  dd-java-agent/testing/src/test/groovy/TraceCorrelationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
Owners: @DataDog/apm-java

feat: Plug metrics API into telemetry metrics
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

feat: Improve API documentation and tests
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Metrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/CoreMetricsTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

feat: Improve metrics name API
  dd-trace-core/src/main/java/datadog/trace/core/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/MetricName.java
  internal-api/src/main/java/datadog/trace/api/metrics/Metrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/CoreMetricsTest.groovy
Owners: @DataDog/apm-java

feat: Add support for rate and gauge metrics
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/api/WafMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/MetricName.java
  internal-api/src/main/java/datadog/trace/api/metrics/MetricType.java
  internal-api/src/main/java/datadog/trace/api/metrics/Metrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/TelemetryCollectorsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/metrics/CoreMetricsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
Owners: @DataDog/iast-java, @DataDog/apm-java

feat: Improve performance of metric collection
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
Owners: @DataDog/iast-java, @DataDog/apm-java

Fix log statement (to be merged to ITR branch)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
Owners: @DataDog/ci-app-libraries-java

Do not apply build system instrumentation in child processes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
Owners: @DataDog/ci-app-libraries-java

Add Javadoc, and fix deadlock problem in Shell command executor when process out buffer is filled
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploader.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Use ByteBuffer instead of byte[] for messages serialization and deserialization
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ByteUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ChannelContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/Signal.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ByteUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ChannelContextTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
Owners: @DataDog/ci-app-libraries-java

Add a code coverage exclusion
  dd-java-agent/agent-ci-visibility/build.gradle
Owners: @DataDog/ci-app-libraries-java

Implement Git repo unshallowing
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/dummy.txt
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/config
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/description
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/index
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/info/exclude
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.idx
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.pack
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/packed-refs
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/shallow
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Add javadoc
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
Owners: @DataDog/ci-app-libraries-java

actually disable profiling
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

Update CI Visibility code coverage and ITR config flags
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/ci-app-libraries-java, @DataDog/apm-java

Do not apply build system instrumentation in child processes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
Owners: @DataDog/ci-app-libraries-java

Use parallel execution for log smoke tests
  dd-smoke-tests/log-injection/src/test/resources/SpockConfig.groovy
Owners: @DataDog/apm-java

Add dynamic config support for log injection (#5221)
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/LogContextScopeListener.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/LoggerNodeInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/ContextDataInjectorFactoryInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/SpanDecoratingContextDataInjector.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/CategoryInstrumentation.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/log4j2/src/main/java/datadog/trace/instrumentation/log4j2/ThreadContextInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LogbackLoggerInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LoggingEventInstrumentation.java
  dd-smoke-tests/log-injection/build.gradle
  dd-smoke-tests/log-injection/src/main/java/datadog/smoketest/loginjection/BaseApplication.java
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/resources/SpockConfig.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/scopemanager/ExtendedScopeListener.java
Owners: @DataDog/apm-java

Fix source of flakiness in logs injection smoke test
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Owners: @DataDog/apm-java

uupgrade ddprof to 0.55.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Simplify logger a little big
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLogger.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/SwitchableLogLevelFactory.java
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/GlobalLogLevelSwitcherTest.groovy
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDLoggerTest.groovy
Owners: @DataDog/apm-java

cleanup debugEnabled in preparation for dynamic config
  internal-api/src/main/java/datadog/trace/api/Config.java
Owners: @DataDog/apm-java

reduce number of scope activations in gRPC client instrumentation
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ManagedChannelImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AsyncPropagatingDisableInstrumentation.java
Owners: @DataDog/apm-java

upgrade ddprof to 0.55.0
  gradle/dependencies.gradle
Owners: @DataDog/apm-java

Add a config to enable/disable live heap size tracking
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Owners: @DataDog/profiling-java, @DataDog/apm-java

Fix scanDependencies CLI
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
Owners: @DataDog/apm-java

feat: Add new span metrics and their registry
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/metrics/SpanMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/metrics/SpanMetricsImpl.java
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/TelemetryCollectorsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/metric/WafMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Owners: @DataDog/appsec-java, @DataDog/apm-java, @DataDog/iast-java

Fix scanDependencies CLI (#5474)
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
Owners: @DataDog/apm-java

chore: Remove old CoreMetrics API
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/Counter.java
  internal-api/src/main/java/datadog/trace/api/metrics/Gauge.java
  internal-api/src/main/java/datadog/trace/api/metrics/Instrument.java
  internal-api/src/main/java/datadog/trace/api/metrics/Meter.java
  internal-api/src/main/java/datadog/trace/api/metrics/MetricName.java
  internal-api/src/main/java/datadog/trace/api/metrics/MetricType.java
  internal-api/src/main/java/datadog/trace/api/metrics/Metrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/NoopMetrics.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/CoreMetricsTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Owners: @DataDog/apm-java

Implement Git data upload (#5408)
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploader.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/FileUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOThrowingFunction.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/FileUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/ShellCommandExecutorTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/uploadedPackFile.pack
  dd-smoke-tests/build.gradle
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  utils/test-utils/build.gradle
  utils/test-utils/src/main/groovy/datadog/trace/test/util/MultipartRequestParser.groovy
Owners: @DataDog/apm-java, @DataDog/ci-app-libraries-java

Provide previous snapshot when building new dynamic-config snapshot.
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Owners: @DataDog/apm-java

Create new Sampler when traceSampleRate changes
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerAPITest.groovy
Owners: @DataDog/apm-java

Do not apply instrumentation to JUnit runs that are nested in other JUnit runs
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Utils.java
Owners: @DataDog/ci-app-libraries-java

feat: Improve span metrics tests
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/WafMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
Owners: @DataDog/appsec-java, @DataDog/apm-java

chore: Clean up code coverage
  internal-api/build.gradle
Owners: @DataDog/apm-java

fix: Fix span metric registry
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
Owners: @DataDog/apm-java

Removing method from CoreTracer reduced branch coverage below target (less to test)
  dd-trace-core/build.gradle
Owners: @DataDog/apm-java
