Repository DataDog/dd-trace-java, pull requests merged in 2021-09, with the labels that each got.

#3044 Cache JMS resource names
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageConsumerState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageProducerState.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
Labels: integrations, jms

#3057 Enable tracing of the EDB JDBC driver (based on PostgreSQL)
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/PreparedStatementInstrumentation.java
Labels: integrations, jdbc

#3062 Make span test sorting use the resource when name is equal
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TraceAssert.groovy
Labels: dev/testing, no release notes

#3072 Setting up codescanning for dd-trace-java
  .github/workflows/codeql-analysis.yml
Labels: dev/testing, no release notes

#3060 Rework UnionMap to allow mutable operations
  dd-java-agent/agent-tooling/agent-tooling.gradle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/UnionMap.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/log/UnionMapTest.groovy
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LoggingEventInstrumentation.java
Labels: integrations

#3048 Support synthetic "time-in-queue" for RabbitMQ
  .circleci/config.yml
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitCommandInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/TracedDelegatingConsumer.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.7/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/spring-boot-rabbit/README.md
  dd-smoke-tests/spring-boot-rabbit/spring-boot-rabbit.gradle
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/java/datadog/smoketest/springboot/rabbit/AppConfig.java
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/java/datadog/smoketest/springboot/rabbit/Receiver.java
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/java/datadog/smoketest/springboot/rabbit/Sender.java
  dd-smoke-tests/spring-boot-rabbit/src/main_java8/resources/application.properties
  dd-smoke-tests/spring-boot-rabbit/src/test/groovy/datadog/smoketest/SpringBootRabbitIntegrationTest.groovy
  dd-smoke-tests/springboot-grpc/src/test/groovy/datadog/smoketest/SpringBootGrpcSpannerTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractServerSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ListWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  settings.gradle
Labels: integrations, rabbitmq

#3074 Enable tracing of GridGain's fork of H2
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/PreparedStatementInstrumentation.java
Labels: integrations, jdbc

#3075 Make UnionMap deduplication lazy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/UnionMap.java
Labels: integrations

#3080 Update kafka-streams muzzle range to exclude 3.0.0 which removes the 'checksum' method from ConsumerRecord
  dd-java-agent/instrumentation/kafka-streams-0.11/kafka-streams-0.11.gradle
Labels: integrations, kafka

#3078 Add resource to RabbitMQ smoke test
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-smoke-tests/spring-boot-rabbit/src/test/groovy/datadog/smoketest/SpringBootRabbitIntegrationTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractServerSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
Labels: dev/testing, no release notes

#3054 Support synthetic "time-in-queue" for JMS
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageBatchState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageConsumerState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageProducerState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/SessionState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/TimeInQueue.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/jms/SessionStateTest.groovy
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageExtractAdapter.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageInjectAdapter.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, jms

#3087 ActiveMQ's Transaction class creates two instances of `FutureTask` that are only ever used synchronously and could be re-used
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AsyncPropagatingDisableInstrumentation.java
Labels: integrations, jms

#3088 byte-buddy 1.11.18
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#3089 Fix TraceConfig wildcard matcher to ignore type-initializers…
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceConfigInstrumentation.java
  dd-java-agent/instrumentation/trace-annotation/src/test/groovy/TraceConfigTest.groovy
Labels: integrations

#3091 Store local service name for JMS in static field
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
Labels: integrations, jms

#3082 Add resource (queue) name to the synthetic `amqp.consume` span
  dd-java-agent/instrumentation/spring-rabbit/src/main/java/datadog/trace/instrumentation/springamqp/AbstractMessageListenerContainerInstrumentation.java
  dd-java-agent/instrumentation/spring-rabbit/src/main/java/datadog/trace/instrumentation/springamqp/RabbitListenerDecorator.java
  dd-java-agent/instrumentation/spring-rabbit/src/test/groovy/SpringAmqpTest.groovy
  dd-java-agent/instrumentation/spring-rabbit/src/test/java/rabbit/MessagingRabbitMQApplication.java
  dd-smoke-tests/spring-boot-rabbit/src/test/groovy/datadog/smoketest/SpringBootRabbitIntegrationTest.groovy
Labels: integrations, rabbitmq

#3095 Trace AWS SNS publish requests
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/aws-java-sdk-1.11.0.gradle
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/AWS1ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/aws-java-sdk-2.2.gradle
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java8/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/Aws2ClientTest.groovy
Labels: integrations, aws-sdk

#3096 Use 'sqs' as service name when sending/receiving messages and 'sns' when publishing
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/AWS1ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java8/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/Aws2ClientTest.groovy
Labels: integrations, breaking-change, aws-sdk

#3103 Add type parameter to RequestContext
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/AppSecBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/AddressSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/CaseInsensitiveMapSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/MapDataBundleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/StringKVPairSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/CookieCutterSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/DataBundleMapWrapperSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/AppSecApiSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/DefaultReportStrategySpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/ReportServiceImplTests.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/util/AppSecVersionSpecification.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyByteBodyInstrumentationTest.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyCharBodyInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/WrapperForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/main/java/datadog/trace/api/gateway/RequestContext.java
  internal-api/src/main/java/datadog/trace/api/http/StoredBodyFactories.java
  internal-api/src/main/java/datadog/trace/api/http/StoredByteBody.java
  internal-api/src/main/java/datadog/trace/api/http/StoredCharBody.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
  internal-api/src/test/groovy/datadog/trace/api/http/StoredBodyFactoriesTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/http/StoredCharBodyTest.groovy
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: no release notes, appsec
