Repository DataDog/dd-trace-java, pull requests merged in 2022-02, with the labels that each got.

#3352 Serialize the double value of unknown Number metric types
  communication/src/main/java/datadog/communication/serialization/Codec.java
  communication/src/test/java/datadog/communication/serialization/msgpack/MsgPackWriterTest.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceGenerator.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceGenerator.groovy
Labels: bug

#3356 Pin github actions versions
  .github/workflows/codeql-analysis.yml
Labels: no release notes, dev/build

#3357 Some gradle cleanup in preparation for 7.x (take 2)
  .circleci/config.yml
  dd-cws-tls/dd-cws-tls.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary/profiling-auxiliary.gradle
  dd-java-agent/agent-tooling/agent-tooling.gradle
  dd-java-agent/appsec/weblog/weblog-spring-app/weblog-spring-app.gradle
  dd-java-agent/benchmark-integration/README.md
  dd-java-agent/benchmark-integration/play-perftest/app/controllers/HomeController.scala
  dd-java-agent/benchmark-integration/play-perftest/app/controllers/Worker.scala
  dd-java-agent/benchmark-integration/play-perftest/play-perftest.gradle
  dd-java-agent/benchmark-integration/run-perf-test.sh
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/aws-java-sdk-1.11.0.gradle
  dd-java-agent/instrumentation/micronaut-http-server-netty-2/micronaut-http-server-netty-2.gradle
  dd-java-agent/instrumentation/okhttp-2/okhttp-2.gradle
  dd-java-agent/instrumentation/spray-1.3/spray-1.3.gradle
  dd-smoke-tests/play-2.4/play-2.4.gradle
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/play-2.5.gradle
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/play-2.6.gradle
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/wildfly/wildfly.gradle
  dd-trace-core/dd-trace-core.gradle
  dd-trace-java.gradle
  dd-trace-ot/dd-trace-ot.gradle
  gradle/publish.gradle
  gradle/spotless.gradle
  test-published-dependencies/all-deps-exist/build.gradle
  test-published-dependencies/all-deps-exist/src/main/java/test/published/dependencies/App.java
  test-published-dependencies/build.gradle
  test-published-dependencies/ot-pulls-in-api/build.gradle
  test-published-dependencies/ot-pulls-in-api/src/main/java/test/published/dependencies/App.java
  test-published-dependencies/settings.gradle
  test-published-dependencies/src/main/java/test/published/dependencies/App.java
  utils/histograms/histograms.gradle
  utils/socket-utils/socket-utils.gradle
Labels: no release notes, dev/build

#3351 byte-buddy 1.12.7
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/AdditionalLibraryIgnoresMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/GlobalIgnoresMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/HasSuperMethodMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/NameMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/SafeHasSuperTypeMatcher.java
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/spring-cloud-zuul-2/spring-cloud-zuul-2.gradle
  gradle/dependencies.gradle
Labels: dependencies

#3353 [AppSec] Collect and report pre-defined HTTP response headers
  dd-java-agent/appsec/appsec.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
Labels: appsec

#3341 [Appsec] request.path_params for spring webmvc
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/JettyServlet2Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/AbstractServlet3Test.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/PairList.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/AppConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/urlhandlermapping/UrlHandlerMappingAppConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/urlhandlermapping/UrlHandlerMappingTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: appsec

#3363 Fix MongoDB CommandListener instrumentation
  dd-java-agent/instrumentation/mongo/common/src/main/java/datadog/trace/instrumentation/mongo/MongoCommandListener.java
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/src/test/groovy/MongoCore31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.1/src/test/groovy/MongoJava31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.4/src/main/java/datadog/trace/instrumentation/mongo/MongoClient34Instrumentation.java
  dd-java-agent/instrumentation/mongo/driver-3.4/src/test/groovy/MongoJava34ClientTest.groovy
Labels: bug, integrations

#3364 Explicitly set classFileVersion of auxiliary types to avoid byte-buddy warning
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
Labels: no release notes, dev/build

#3365 Small cleanup of unused utility classes
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Utils.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/UtilsTest.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/latestDepTest/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/test/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/src/test/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-5/src/test/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-6/src/test/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/src/test/groovy/ElasticsearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport/src/main/java/datadog/trace/instrumentation/elasticsearch/ShadowExistingScopeAdvice.java
Labels: no release notes, dev/build

#3362 Add Apache HttpClient 5 instrumentation
  dd-java-agent/instrumentation/apache-httpclient-4/apache-httpclient-4.gradle
  dd-java-agent/instrumentation/apache-httpclient-5/apache-httpclient-5.gradle
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HostAndRequestAsHttpUriRequest.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HttpHeadersInjectAdapter.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/WrappingStatusSettingResponseHandler.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientResponseHandlerTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/HttpUriRequest.groovy
  settings.gradle
Labels: integrations, community

#3368 Complete last polled JMS span when Spring JmsListener is done
  dd-java-agent/instrumentation/spring-jms-3.1/src/main/java/datadog/trace/instrumentation/springjms/AbstractPollingMessageListenerContainerInstrumentation.java
  dd-java-agent/instrumentation/spring-jms-3.1/src/test/groovy/MaxMessagesPerTaskForkedTest.groovy
  dd-java-agent/instrumentation/spring-jms-3.1/src/test/groovy/SpringSAListenerTest.groovy
  dd-java-agent/instrumentation/spring-jms-3.1/src/test/groovy/salistener/MaxMessagesPerTaskConfig.groovy
Labels: integrations, spring, jms

#3369 Make RabbitMQ trace propagation consistent with other messaging integrations
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
Labels: integrations, rabbitmq, context-propagation

#3372 Use playframework gradle plugin for play 2.7/2.8 smoke tests
  dd-smoke-tests/play-2.7/app/Filters.java
  dd-smoke-tests/play-2.7/app/actions/AbstractAction.java
  dd-smoke-tests/play-2.7/app/actions/Action1.java
  dd-smoke-tests/play-2.7/app/actions/Action2.java
  dd-smoke-tests/play-2.7/app/actions/SAction.scala
  dd-smoke-tests/play-2.7/app/controllers/JController.java
  dd-smoke-tests/play-2.7/app/controllers/SController.scala
  dd-smoke-tests/play-2.7/app/filters/AbstractFilter.java
  dd-smoke-tests/play-2.7/app/filters/Filter1.java
  dd-smoke-tests/play-2.7/app/filters/Filter2.java
  dd-smoke-tests/play-2.7/app/filters/Filter3.java
  dd-smoke-tests/play-2.7/app/filters/Filter4.java
  dd-smoke-tests/play-2.7/application/.sbtxopts
  dd-smoke-tests/play-2.7/application/build.sbt
  dd-smoke-tests/play-2.7/application/project/build.properties
  dd-smoke-tests/play-2.7/application/project/plugins.sbt
  dd-smoke-tests/play-2.7/application/sbt
  dd-smoke-tests/play-2.7/conf/application.conf
  dd-smoke-tests/play-2.7/conf/logback.xml
  dd-smoke-tests/play-2.7/conf/routes
  dd-smoke-tests/play-2.7/play-2.7.gradle
  dd-smoke-tests/play-2.7/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8/app/Filters.java
  dd-smoke-tests/play-2.8/app/actions/AbstractAction.java
  dd-smoke-tests/play-2.8/app/actions/Action1.java
  dd-smoke-tests/play-2.8/app/actions/Action2.java
  dd-smoke-tests/play-2.8/app/actions/SAction.scala
  dd-smoke-tests/play-2.8/app/controllers/JController.java
  dd-smoke-tests/play-2.8/app/controllers/SController.scala
  dd-smoke-tests/play-2.8/app/filters/AbstractFilter.java
  dd-smoke-tests/play-2.8/app/filters/Filter1.java
  dd-smoke-tests/play-2.8/app/filters/Filter2.java
  dd-smoke-tests/play-2.8/app/filters/Filter3.java
  dd-smoke-tests/play-2.8/app/filters/Filter4.java
  dd-smoke-tests/play-2.8/application/.sbtxopts
  dd-smoke-tests/play-2.8/application/build.sbt
  dd-smoke-tests/play-2.8/application/project/build.properties
  dd-smoke-tests/play-2.8/application/project/plugins.sbt
  dd-smoke-tests/play-2.8/application/sbt
  dd-smoke-tests/play-2.8/conf/application.conf
  dd-smoke-tests/play-2.8/conf/logback.xml
  dd-smoke-tests/play-2.8/conf/routes
  dd-smoke-tests/play-2.8/play-2.8.gradle
  dd-smoke-tests/play-2.8/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  tooling/.sbtxopts
  tooling/sbt
Labels: no release notes, dev/build

#3375 Fix Elasticsearch7RestClientTest by sorting the spans by start time
  dd-java-agent/instrumentation/elasticsearch/rest-7/src/test/groovy/Elasticsearch7RestClientTest.groovy
Labels: dev/testing, no release notes

#3358 [AppSec] Expose tomcat/jetty parsed urlencoded and spring converted body
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/CallDepthThreadLocalMap.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/AdditionalLibraryIgnoresMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/IReferenceMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVisitor.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/Reference.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceMatcher.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPluginTest.groovy
  dd-java-agent/appsec/appsec.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/SingletonDataBundle.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/SingletonDataBundleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/DataBundleMapWrapperSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/instrumentation/jetty-11/jetty-11.gradle
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/Jetty11Test.groovy
  dd-java-agent/instrumentation/jetty-7.0/jetty-7.0.gradle
  dd-java-agent/instrumentation/jetty-7.0/src/test/groovy/Jetty70Test.groovy
  dd-java-agent/instrumentation/jetty-9/jetty-9.gradle
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/Jetty9Test.groovy
  dd-java-agent/instrumentation/jetty-appsec-7/jetty-appsec-7.gradle
  dd-java-agent/instrumentation/jetty-appsec-7/src/main/java/datadog/trace/instrumentation/jetty70/RequestExtractParametersInstrumentation.java
  dd-java-agent/instrumentation/jetty-appsec-7/src/main/java/datadog/trace/instrumentation/jetty70/UrlEncodedInstrumentation.java
  dd-java-agent/instrumentation/jetty-appsec-9.2/jetty-appsec-9.2.gradle
  dd-java-agent/instrumentation/jetty-appsec-9.2/src/main/java/datadog/trace/instrumentation/jetty92/RequestExtractContentParametersInstrumentation.java
  dd-java-agent/instrumentation/jetty-appsec-9.3/jetty-appsec-9.3.gradle
  dd-java-agent/instrumentation/jetty-appsec-9.3/src/main/java/datadog/trace/instrumentation/jetty93/RequestExtractContentParametersInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/spring-webmvc-3.1.gradle
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HttpMessageConverterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/CustomClassloaderConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/filter/FilteredAppConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/filter/ServletFilterTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TestServlet.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TestServlet.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/tomcat-5.5.gradle
  dd-java-agent/instrumentation/tomcat-appsec-5.5/src/main/java/datadog/trace/instrumentation/tomcat55/ParsedBodyParametersInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-5.5/tomcat-appsec-5.5.gradle
  dd-java-agent/instrumentation/tomcat-appsec-6/src/main/java/datadog/trace/instrumentation/tomcat6/ParsedBodyParametersInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-6/tomcat-appsec-6.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
  settings.gradle
Labels: appsec

#3391 Ignore Guice generated proxy classes
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/GlobalIgnoresMatcher.java
Labels: integrations, low-hanging-fruit, efficiency

#3394 Set connect timeout for apache http client 5 tests
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientResponseHandlerTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientTest.groovy
Labels: dev/testing, no release notes

#3395 [AppSec] Fixed double calling
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/StandardizedLogging.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: appsec

#3354 Add support for redisson 2.0.0
  dd-java-agent/instrumentation/redisson-2.0.0/redisson-2.0.0.gradle
  dd-java-agent/instrumentation/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonClientDecorator.java
  dd-java-agent/instrumentation/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redisson20/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redisson23/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redissonLatest/groovy/RedissonClientTest.groovy
  settings.gradle
Labels: integrations, community, redis

#3399 Introduce API to decouple custom transformers from AgentBuilder
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RequestImplInstrumentation.java
Labels: no release notes, refactoring

#3401 Simplify instrumenter API by dropping `contextStoreForAll`
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/HttpUrlConnectionInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinTaskInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/NonStandardExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/RunnableFutureInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/RunnableInstrumentation.java
  dd-java-agent/instrumentation/rmi/src/main/java/datadog/trace/instrumentation/rmi/context/client/RmiClientContextInstrumentation.java
  dd-java-agent/testing/src/test/java/context/FieldInjectionTestInstrumentation.java
  dd-java-agent/testing/src/test/java/excludefilter/ExcludeFilterTestInstrumentation.java
Labels: no release notes, refactoring

#3402 Drop redundant classLoaderMatchers
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/client/WebClientFilterInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-6/src/main/java/datadog/trace/instrumentation/tomcat6/ParsedBodyParametersInstrumentation.java
Labels: integrations, low-hanging-fruit, no release notes

#3406 Avoid enqueueing PendingTrace multiple times
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTraceBuffer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
Labels: bug, core

#3396 Make mongo tests setup more robust
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/src/test/groovy/MongoCore31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.1/src/test/groovy/MongoJava31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/src/test/groovy/MongoSyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/src/test/groovy/MongoAsyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.4/src/test/groovy/MongoJava34ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/src/test/groovy/MongoCore37ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/driver-4.0.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
Labels: dev/testing, no release notes

#3384 grizzly/jersey/resteasy parsed bodies
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/DataBundle.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/ObjectIntrospection.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/ObjectIntrospectionSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/UnionDataBundleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/glassfish/glassfish.gradle
  dd-java-agent/instrumentation/glassfish/src/test/groovy/GlassFishServerTest.groovy
  dd-java-agent/instrumentation/glassfish/src/test/groovy/TestServlets.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/grizzly-http-2.3.20.gradle
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/GrizzlyByteBodyInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/GrizzlyCharBodyInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/ParsedBodyParametersInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/ClassToConvertBodyTo.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyAsyncTest.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/TestMessageBodyReader.groovy
  dd-java-agent/instrumentation/jersey-2-appsec/jersey-2-appsec.gradle
  dd-java-agent/instrumentation/jersey-2-appsec/src/main/java/datadog/trace/instrumentation/jersey2/MessageBodyReaderInstrumentation.java
  dd-java-agent/instrumentation/jersey-3-appsec/jersey-3-appsec.gradle
  dd-java-agent/instrumentation/jersey-3-appsec/src/main/java/datadog/trace/instrumentation/jersey3/MessageBodyReaderInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/resteasy-appsec.gradle
  dd-java-agent/instrumentation/resteasy-appsec/src/jettyAsyncTest/groovy/datadog/trace/instrumentation/resteasy/JettyResteasyAppsecTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/DecodedFormParametersInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/MessageBodyReaderInvocationInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/nettyTest/groovy/datadog/trace/instrumentation/resteasy/NettyResteasyAppsecTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/testFixtures/groovy/datadog/trace/instrumentation/resteasy/AbstractResteasyAppsecTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HttpMessageConverterInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-5.5/src/main/java/datadog/trace/instrumentation/tomcat55/ParsedBodyParametersInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-6/src/main/java/datadog/trace/instrumentation/tomcat6/ParsedBodyParametersInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/appsec/springboot/springboot.gradle
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  settings.gradle
Labels: appsec

#3403 Appsec: basic grpc support
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-smoke-tests/appsec/springboot-grpc/springboot-grpc.gradle
  dd-smoke-tests/appsec/springboot-grpc/src/test/groovy/datadog/smoketest/appsec/SpringBootWithGRPCAppSecTest.groovy
  dd-smoke-tests/springboot-grpc/src/main_java8/java/datadog/smoketest/springboot/AsyncTask.java
  dd-smoke-tests/springboot-grpc/src/main_java8/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/springboot-grpc/src/main_java8/java/datadog/smoketest/springboot/grpc/AsynchronousGreeter.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
  settings.gradle
Labels: appsec

#3409 [Appsec] Move to libsqreen w/ finalizers; add guardrails
  dd-java-agent/appsec/appsec.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
Labels: appsec

#3410 Add Vertica, Apache Drill JDBC driver support
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/PreparedStatementInstrumentation.java
Labels: integrations, jdbc
