Repository DataDog/dd-trace-java, pull requests merged in 2022-12, with the labels that each got.

#4353 Fix port conflict in NettyResteasyAppsecTest
  dd-java-agent/instrumentation/resteasy-appsec/src/nettyTest/groovy/datadog/trace/instrumentation/resteasy/NettyResteasyAppsecTest.groovy
Labels: dev/testing, no release notes, appsec

#4336 Fix embedded test so we can remove redundant MethodHandles
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/ServletBlockingHelper.java
Labels: dev/testing, no release notes

#4354 Migrate Cassandra tests to testcontainers
  dd-java-agent/instrumentation/datastax-cassandra-3/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-3/src/test/groovy/CassandraClientTest.groovy
  dd-java-agent/instrumentation/datastax-cassandra-4/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-4/src/test/groovy/CassandraClientTest.groovy
Labels: dev/testing, integrations, no release notes

#4352 Unify hostname detection in config and telemetry
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
Labels: core, telemetry

#4355 feat(core): Ensure aggregator thread starts for flush request
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/ConflatingMetricAggregatorTest.groovy
Labels: no release notes

#4360 Add benchmark for trace serialization
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
Labels: dev/testing, no release notes

#4362 Bump RecordingDatastreamsPayloadWriter timeout to account for metrics timing changes in #4355
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/RecordingDatastreamsPayloadWriter.groovy
Labels: dev/testing, no release notes

#4340 Add pitest support (mutation testing)
  build.gradle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/appsec/build.gradle
  gradle/java_no_deps.gradle
  gradle/pitest.gradle
Labels: dev/testing, no release notes

#4358 Adjust notCapturedReason FieldCount location
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
Labels: debugger

#4342 Add evaluation error reporting for expressions
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot08.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithEvalErrorRegex.txt
Labels: debugger

#4367 enable async allocation profiling in non-J9 smoke tests
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: dev/testing, no release notes

#4361 Fix intermittent failure in Lettuce4SyncClientTest
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactoryForkedTest.groovy
Labels: no release notes

#4366 Change IAST max concurrent requests setting to align with spec
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
Labels: no release notes, iast

#4370 bump async-profiler to 20221202
  gradle/dependencies.gradle
Labels: profiling

#4375 fix(doc): Update contributing requirements
  CONTRIBUTING.md
Labels: no release notes

#4383 byte-buddy 1.12.19
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/CacheProviderTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/FailSafeRawMatcherTest.groovy
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatFactoryBatchBenchmark.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/CachingType.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/main/java/datadog/trace/instrumentation/springcloudzuul2/ZuulProxyRequestHelperInstrumentation.java
  gradle/dependencies.gradle
Labels: dependencies

#3974 enable async-profiler by default on x86/x64
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/Arch.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/OperatingSystem.java
  dd-java-agent/agent-profiling/profiling-controller/build.gradle
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerFactory.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilingSystem.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#4384 Clean up internal-api-8
  internal-api/internal-api-8/build.gradle
Labels: no release notes

#4388 Split up B3 propagator into multi and single header
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: context-propagation

#4392 remove scope events
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-core/build.gradle
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEvent.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEventFactory.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ThreadCpuTimeProvider.java
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/ScopeEventTest.groovy
Labels: profiling

#4403 Fix flaky SynapseTest
  dd-java-agent/instrumentation/synapse-3/src/test/groovy/datadog/trace/instrumentation/synapse3/SynapseTest.groovy
Labels: dev/testing, community

#4385 Fixed NPE if the remote config is absent
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
Labels: bug, remote-config

#4396 Add correlation id injection to dd-trace-ot
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/build.gradle
  dd-trace-ot/correlation-id-injection/build.gradle
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/AbstractCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/CorrelationIdInjectors.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4j2CorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Log4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/Slf4jCorrelationIdInjector.java
  dd-trace-ot/correlation-id-injection/src/test/groovy/CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Log4j2CorrelationIdInjectorTest.groovy
  dd-trace-ot/correlation-id-injection/src/test/groovy/Slf4jCorrelationIdInjectorTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  settings.gradle
Labels: feature-request

#4407 Remove cache of ForLoadedType common types as outlining is faster
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Labels: no release notes

#4408 Introduce named presets for the resolver cache, to make it easier to configure
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentStrategies.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/ResolverCacheConfig.java
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
Labels: performance

#4406 TypeFactory.installing should default to false…
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Labels: no release notes

#4090 Create spans for vulnerabilities outside of requests
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/ddtest/client/sources/Hasher.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
Labels: no release notes, iast

#4202 LDAP Injection detection
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleLDAPInjectionTest.groovy
  dd-java-agent/instrumentation/javax-naming/build.gradle
  dd-java-agent/instrumentation/javax-naming/src/main/java/datadog/trace/instrumentation/javax/naming/InitialDirContextCallSite.java
  dd-java-agent/instrumentation/javax-naming/src/test/groovy/InitialDirContextCallSiteTest.groovy
  dd-java-agent/instrumentation/javax-naming/src/test/java/foo/bar/TestInitialDirContextSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: no release notes, iast

#4315 Improve logging in tainted objects
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/TaintedObjectAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/TaintedObjectEncoding.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/TaintedObjectEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintObjectsLogTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLogTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: no release notes, iast

#4418 chore: Remove Java8+ check
  communication/src/test/groovy/datadog/communication/ddagent/SharedCommunicationsObjectsSpecification.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/DatadogClassLoaderTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/RecursiveThreadPoolPropagationTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentation.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/latestDepTest/groovy/KafkaStreamsTest.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/synapse-3/src/test/groovy/datadog/trace/instrumentation/synapse3/SynapseTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/RecordingDatastreamsPayloadWriter.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/monitor/MonitoringImpl.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/AggregateMetricTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/ConflatingMetricAggregatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/FootprintForkedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/MetricsAggregatorFactoryTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/OkHttpSinkTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/SerializingMetricWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/TimingTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DataStreamsIntegrationTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/MetricsIntegrationTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes

#4415 Fix number of dropped spans metric in the Single Span Sampling worker
  dd-trace-core/src/main/java/datadog/trace/common/writer/SpanSamplingWorker.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/SpanSamplingWorkerTest.groovy
Labels: no release notes

#4410 Add DDEvpProxyApi and use it for CI Visibility when not Agentless
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeTrackTypeResolver.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeTrackTypeResolverTest.groovy
Labels: core, ciapp

#4404 Baggage Mapping
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/ExtractorBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/TagContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: community, context-propagation

#4432 fix(dd-java-agent): Exclude bogus elasticsearch release
  dd-java-agent/instrumentation/elasticsearch/transport-2/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-6/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport/build.gradle
Labels: no release notes, elasticsearch

#4426 chore: Remove Java8+ checks
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeAsyncClientTest.groovy
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeBaseTest.groovy
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeClientTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/play-2.3/src/main/java/datadog/trace/instrumentation/play23/PlayHttpServerDecorator.java
  dd-java-agent/instrumentation/play-2.4/src/main/java/datadog/trace/instrumentation/play24/PlayHttpServerDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-java-agent/instrumentation/spymemcached-2.12/src/test/groovy/datadog/trace/instrumentation/spymemcached/SpymemcachedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  dd-smoke-tests/cli/src/test/groovy/datadog/smoketest/CliApplicationSmokeTest.groovy
  dd-smoke-tests/custom-systemloader/src/test/groovy/datadog/smoketest/CustomSystemLoaderSmokeTest.groovy
  dd-smoke-tests/field-injection/src/test/groovy/datadog/smoketest/FieldInjectionSmokeTest.groovy
  dd-smoke-tests/java9-modules/src/test/groovy/datadog/smoketest/Java9ModulesSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/opentracing/src/test/groovy/datadog/smoketest/IncorrectSetupWithAgentTest.groovy
  dd-smoke-tests/opentracing/src/test/groovy/datadog/smoketest/OpenTracingSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DataStreamsWritingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/Java7DataStreamsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DDApiIntegrationTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/FNV64HashTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/ProcessSupervisorTest.groovy
Labels: no release notes

#4434 disable async-profiler for the time being
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes

#4431 Openliberty: fix NPE after blocking response
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyServerInstrumentation.java
Labels: appsec

#4436 Update _dd.iast.enabled tag usage
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastTag.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastTagTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
Labels: no release notes, iast

#4427 Support transitive injection of helper classes
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperScanner.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
Labels: dev/tooling, no release notes

#4437 Activate tracer when native-image runtime starts
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperScanner.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/nativeimage/TracerActivation.java
  dd-java-agent/instrumentation/graal/native-image/build.gradle
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/ClassInitializationFeatureInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/LinkAtBuildTimeInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/ResourcesFeatureInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/VMRuntimeInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java11/datadog/trace/instrumentation/graal/nativeimage/ClassInitializationAdvice.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentation.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: native-image

#4445 byte-buddy 1.12.20
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#4443 Drop experimental agent-installer stub…
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-installer/build.gradle
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/DDClassFileTransformer.java
  dd-java-agent/agent-installer/src/main/java11/datadog/trace/agent/installer/DDJava9ClassFileTransformer.java
  dd-java-agent/instrumentation/build.gradle
  dd-java-agent/testing/build.gradle
  settings.gradle
Labels: no release notes, refactoring

#4034 Add initial Spring Native smoke tests
  .circleci/config.yml
  dd-smoke-tests/spring-native/application/.gitignore
  dd-smoke-tests/spring-native/application/build.gradle
  dd-smoke-tests/spring-native/application/settings.gradle
  dd-smoke-tests/spring-native/application/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-native/application/src/main/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/spring-native/application/src/main/resources/application.properties
  dd-smoke-tests/spring-native/build.gradle
  dd-smoke-tests/spring-native/src/test/groovy/SpringNativeWebmvcIntegrationTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  settings.gradle
Labels: native-image

#4317 Add support for tainting headers
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/SourceTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/source/WebModuleTest.groovy
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/HttpServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/TestHttpServletRequestCallSiteSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Labels: no release notes, iast

#4390 fix spring webflux route extraction + improve webflux tests
  dd-java-agent/instrumentation/spring-webflux-5/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/src/boot20Test/groovy/SingleThreadedSpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/SingleThreadedSpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/SpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/dd/trace/instrumentation/springwebflux/server/EchoHandler.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/dd/trace/instrumentation/springwebflux/server/EchoHandlerFunction.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/dd/trace/instrumentation/springwebflux/server/FooModel.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/dd/trace/instrumentation/springwebflux/server/SpringWebFluxTestApplication.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/groovy/dd/trace/instrumentation/springwebflux/server/TestController.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/boot24Test/java/dd/trace/instrumentation/springwebflux/server/RedirectComponent.java
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/SingleThreadedSpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/SpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/EchoHandler.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/EchoHandlerFunction.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/FooModel.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/SpringWebFluxTestApplication.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/TestController.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/java/dd/trace/instrumentation/springwebflux/server/RedirectComponent.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/RouteOnSuccessOrError.java
Labels: integrations, spring

#4449 Add metric for serialization failure
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
Labels: metrics

#4446 Update overhead controller and add debug info
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/overhead/OverheadControllerBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/Operations.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/NonBlockingSemaphore.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerLogTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLogTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/NonBlockingSemaphoreTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/NoopOverheadController.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes, iast

#4412 Add span probe configuration
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: debugger

#4453 remove publish task from correlation-id-injection
  dd-trace-ot/correlation-id-injection/build.gradle
Labels: no release notes, dev/build

#4454 Reduce Telemetry warnings
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
Labels: telemetry

#4419 Add support for tainting cookies
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/SourceTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/source/WebModuleTest.groovy
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/CookieCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/CookieCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/HttpServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/CookieTestSuite.java
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/TestHttpServletRequestCallSiteSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Labels: no release notes, iast

#4452 Build lib injection image from tags too, so the jar doesn't have a snapshot version
  .github/workflows/lib-injection.yaml
Labels: no release notes, dev/build, kubernetes

#4448 Fix serialization of telemetric metrics
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/RequestBuilder.java
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
Labels: no release notes, telemetry

#4433 Minor refactoring about trace metrics
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/SpanSamplingWorker.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/SpanSamplingWorkerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
Labels: no release notes, metrics

#4462 Cherry pick dependency and muzzle fixes to release/v0.x
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-2/transport-2.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/transport-5.3.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5/transport-5.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-6/transport-6.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/transport-7.3.gradle
  dd-java-agent/instrumentation/elasticsearch/transport/transport.gradle
  dd-java-agent/instrumentation/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/rabbitmq-amqp-2.7.gradle
  dd-java-agent/instrumentation/reactor-core-3.1/reactor-core-3.1.gradle
  dd-java-agent/instrumentation/spring-data-1.8/spring-data-1.8.gradle
  dd-java-agent/instrumentation/spring-jms-3.1/spring-jms-3.1.gradle
  dd-java-agent/instrumentation/spring-rabbit/spring-rabbit.gradle
  dd-java-agent/instrumentation/spring-scheduling-3.1/spring-scheduling-3.1.gradle
  dd-java-agent/instrumentation/spring-webflux-5/spring-webflux-5.gradle
  dd-java-agent/instrumentation/spring-webmvc-3.1/spring-webmvc-3.1.gradle
Labels: no release notes

#4416 Add taint tracking support for URLDecoder
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/UrlModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/UrlModuleTest.groovy
  dd-java-agent/instrumentation/java-net/build.gradle
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLDecoderCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLDecoderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURLDecoderCallSiteSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/UrlModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: no release notes, iast

#4378 Remove prefixes for value reference in expressions
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferenceResolver.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferences.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/GetMemberExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/RefResolverHelper.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/StaticValueRefResolver.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/BinaryExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/FilterCollectionExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfElseExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsEmptyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsUndefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/LenExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/NotExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ObjectWithRefAndValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_01.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_02.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_03_error.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_04.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InsnListValue.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/MetricProbeTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_log_probe.json
  dd-java-agent/agent-debugger/src/test/resources/test_metric_probe.json
  dd-java-agent/agent-debugger/src/test/resources/test_probe_conditional.json
Labels: debugger

#3915 String taint tracking - substring and subSequence methods
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringSubsequenceBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: no release notes, iast

#4194 [testing]Lib injection and system-tests integration
  .github/workflows/lib-injection.yaml
  lib-injection/Dockerfile
  lib-injection/README.md
  lib-injection/application/.gitignore
  lib-injection/application/build.gradle.kts
  lib-injection/application/gradle
  lib-injection/application/gradle.properties
  lib-injection/application/gradlew
  lib-injection/application/gradlew.bat
  lib-injection/application/settings.gradle.kts
  lib-injection/application/src/main/java/com/example/k8slibinjectionapp/Hello.java
  lib-injection/application/src/main/java/com/example/k8slibinjectionapp/HelloHandler.java
  lib-injection/application/src/main/java/com/example/k8slibinjectionapp/HelloService.java
  lib-injection/application/src/main/java/com/example/k8slibinjectionapp/K8sLibInjectionAppApplication.java
  lib-injection/application/src/main/resources/application.properties
  lib-injection/build.sh
  lib-injection/build_java_agent.sh
  lib-injection/copy-lib.sh
  lib-injection/run-local-e2e.sh
  lib-injection/run-local.sh
  lib-injection/run.sh
  lib-injection/src/test/resources/dd-apm-test-agent-config.yaml
  lib-injection/src/test/resources/kind-config.yaml
  lib-injection/src/test/shell/functions.sh
Labels: dev/testing, no release notes

#4467 Make PidHelper fallback lazy
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/PosixPidSupplier.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/PidHelperTest.groovy
  internal-api/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9PidSupplier.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/test/java/datadog/trace/util/PidHelperForkedTest.java
Labels: no release notes, refactoring

#4459 Fix instrumentation problem in jetty 9.4
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/JettyContinuationHandlerTest.groovy
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty/ConnectionHandleRequestVisitor.java
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty/MergeConsecutiveFramesMethodVisitor.java
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty9/HttpChannelHandleVisitor.java
Labels: appsec

#4465 Fix NotEqual operator
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_05.json
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
Labels: debugger

#4461 Fix compilation of when default compiler is not version 8
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/build.gradle
  internal-api/build.gradle
Labels: no release notes, dev/build

#4464 Deprecate dd.propagaion.style for dd.trace.propagation.style
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HelperMethods.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientRequestTracingHandler.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/PropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: context-propagation

#4460 Reenable appsec on IBM J9
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: appsec, IBM

#3985 String taint tracking - join methods
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringJoinBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: no release notes, iast

#4466 Add Span Probe instrumentation for method probe
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerSpan.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTracer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SnapshotInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTracerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: debugger

#4471 DDIntakeWriter: Do not flush after every single trace
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/Payload.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1PayloadTest.groovy
Labels: core, ciapp
