Repository DataDog/dd-trace-java, pull requests merged in 2022-01, with the labels that each got.

#3299 Avoid calling `Scope.span()` which was removed in OT 0.33.0
  dd-trace-ot/src/main/java/datadog/opentracing/CustomScopeManagerWrapper.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
Labels: integrations

#3303 Remove incorrect check that meant 'trace.config' location was never logged
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/PropertiesConfigSource.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: refactoring

#3301 Support custom scope managers with OT33
  dd-trace-ot/src/main/java/datadog/opentracing/CustomScopeManagerWrapper.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/ot31CompatabilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatabilityTest/groovy/OT33ApiTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/IterationSpansForkedTest.groovy
Labels: integrations

#3307 Minor JMS related cleanup
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/SessionState.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
Labels: integrations, jms

#3312 Refactor messaging related config to make it easier to add new integrations
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/SessionState.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/jms/SessionStateTest.groovy
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, no release notes, rabbitmq, kafka, jms

#3314 Make our use of GradleRunner when testing our buildSrc 'Instrumentation' plugin more robust
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
Labels: dev/testing, no release notes

#3321 [AppSec] Bump WAF version
  dd-java-agent/appsec/appsec.gradle
Labels: appsec

#3320 Move jcenter to last in repo list (pending removal)
  buildSrc/build.gradle.kts
  gradle/repositories.gradle
Labels: no release notes

#3313 Add '-Ddd.message.broker.split-by-destination=true' flag
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/MessageConsumerState.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, rabbitmq, jms

#3324 Cancel continuation when FutureTask value/exception is set directly
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/RunnableFutureInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/FutureTaskContinuationTest.groovy
Labels: context-propagation

#3325 Remove jcenter from projects where it is possible
  buildSrc/build.gradle.kts
  dd-java-agent/benchmark-integration/benchmark-integration.gradle
  dd-java-agent/benchmark-integration/play-perftest/play-perftest.gradle
  dd-java-agent/instrumentation/apache-httpclient-4/apache-httpclient-4.gradle
  dd-java-agent/instrumentation/commons-httpclient-2/commons-httpclient-2.gradle
  dd-java-agent/instrumentation/glassfish/glassfish.gradle
  dd-java-agent/instrumentation/grizzly-http-2.3.20/grizzly-http-2.3.20.gradle
  dd-java-agent/instrumentation/guava-10/guava-10.gradle
  dd-java-agent/instrumentation/jms/jms.gradle
  dd-java-agent/instrumentation/play-2.3/play-2.3.gradle
  dd-java-agent/instrumentation/play-2.4/play-2.4.gradle
  dd-java-agent/instrumentation/play-2.6/play-2.6.gradle
  dd-java-agent/instrumentation/restlet-2.2/restlet-2.2.gradle
  dd-java-agent/instrumentation/servlet/request-2/request-2.gradle
  dd-java-agent/instrumentation/servlet/request-3/request-3.gradle
  dd-java-agent/instrumentation/testng-6.4/testng-6.4.gradle
  dd-java-agent/instrumentation/tomcat-5.5/tomcat-5.5.gradle
  dd-smoke-tests/play-2.4/play-2.4.gradle
  dd-smoke-tests/play-2.5/play-2.5.gradle
  dd-smoke-tests/play-2.6/play-2.6.gradle
  dd-trace-java.gradle
  test-published-dependencies/build.gradle
Labels: no release notes, dev/build

#3328 Really remove jcenter from the default repositories
  gradle/repositories.gradle
Labels: no release notes, dev/build

#3288 Reverts behavior of JAX-RS nested resources to pre-0.81.0
  dd-java-agent/instrumentation/jax-rs-annotations-2/jax-rs-annotations-2.gradle
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/main/java/datadog/trace/instrumentation/jaxrs2/JaxRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/nestedTest/groovy/NestedResourcesTest.groovy
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/nestedTest/java/KeyCloakResources.java
Labels: breaking-change

#3329 Expand RejectedExecutionTest to cover rejected calls to 'execute'
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/RejectedExecutionHandlerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/RejectedExecutionTest.groovy
Labels: integrations, context-propagation

#3327 [AppSec] Provide actor.ip in the trace
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/ClientIpAddressResolver.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/ClientIpAddressResolverSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: appsec

#3335 [AppSec] Fixed double status assignment
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Labels: appsec

#3330 Some gradle cleanup in preparation for 7.x
  .circleci/config.yml
  dd-cws-tls/dd-cws-tls.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary/profiling-auxiliary.gradle
  dd-java-agent/agent-tooling/agent-tooling.gradle
  dd-java-agent/appsec/weblog/weblog-spring-app/weblog-spring-app.gradle
  dd-java-agent/benchmark-integration/README.md
  dd-java-agent/benchmark-integration/play-perftest/app/controllers/HomeController.scala
  dd-java-agent/benchmark-integration/play-perftest/app/controllers/Worker.scala
  dd-java-agent/benchmark-integration/play-perftest/play-perftest.gradle
  dd-java-agent/benchmark-integration/run-perf-test.sh
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/aws-java-sdk-1.11.0.gradle
  dd-java-agent/instrumentation/micronaut-http-server-netty-2/micronaut-http-server-netty-2.gradle
  dd-java-agent/instrumentation/okhttp-2/okhttp-2.gradle
  dd-java-agent/instrumentation/spray-1.3/spray-1.3.gradle
  dd-smoke-tests/play-2.4/play-2.4.gradle
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/play-2.5.gradle
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/play-2.6.gradle
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/wildfly/wildfly.gradle
  dd-trace-core/dd-trace-core.gradle
  dd-trace-java.gradle
  dd-trace-ot/dd-trace-ot.gradle
  utils/histograms/histograms.gradle
  utils/socket-utils/socket-utils.gradle
Labels: no release notes, dev/build

#3338 Parse platform string by char
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: efficiency

#3336 Prefer using InternalSpanTypes in Decorators
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/TestDecorator.java
  dd-java-agent/instrumentation/ignite-2.0/src/main/java/datadog/trace/instrumentation/ignite/v2/cache/IgniteCacheDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/mongo/common/src/main/java/datadog/trace/instrumentation/mongo/MongoDecorator.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
Labels: integrations, no release notes

#3337 Share JMS propagation headers via the common decorator class
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageExtractAdapter.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageInjectAdapter.java
Labels: integrations, no release notes, jms

#3326 Support splitting message broker by destination in kafka
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamsDecorator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/ProcessorRecordContextVisitor.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/StampedRecordContextVisitor.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
Labels: integrations, kafka

#3340 Turn off checkpoints for JMS 'time-in-q' spans…
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
Labels: integrations, no release notes, jms

#3342 Make SimpleRateLimiter more robust
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedSampler.java
  dd-trace-core/src/main/java/datadog/trace/core/util/SimpleRateLimiter.java
  dd-trace-core/src/test/groovy/datadog/trace/core/util/SimpleRateLimiterTest.groovy
  internal-api/src/main/java/datadog/trace/util/MathUtils.java
  internal-api/src/test/groovy/datadog/trace/util/MathUtilsTest.groovy
Labels: no release notes

#3333 [AppSec] RateLimit reports
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/RateLimiter.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/RateLimiterSpecification.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: appsec

#3344 [AppSec] Update libddwaf 1.0.17
  dd-java-agent/appsec/appsec.gradle
Labels: appsec

#3345 [AppSec] Updated rules (v1.2.5)
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: no release notes, appsec
