Repository DataDog/dd-trace-java, pull requests merged in 2022-09, with the labels that each got.

#3770 Avoid warning when using StackWalker on JDK <9
  internal-api/internal-api-8/internal-api-8.gradle
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackWalkerFactory.java
Labels: no release notes, iast

#3781 Add temporal bound to awaitGC method
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/classloading/ClassLoadingTest.groovy
  dd-java-agent/testing/src/test/groovy/context/FieldInjectionForkedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  utils/test-utils/src/main/java/datadog/trace/test/util/GCUtils.java
Labels: dev/testing, no release notes

#3783 Standarize IAST config flags
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: iast

#3779 Improve IAST testability with less statics
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/Evidence.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplCipherTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplHashTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplTestBase.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Labels: no release notes, refactoring, iast

#3788 Fix Jboss VFS when content type is not null
  telemetry/src/main/java/datadog/telemetry/dependency/JbossVirtualFileHelper.java
Labels: no release notes, appsec

#3782 Add autossh to maintain forwards for testcontainers
  .circleci/autoforward.py
Labels: dev/testing, no release notes

#3785 Removed Telemetry API auto-generating
  telemetry/src/main/java/datadog/telemetry/api/ApiVersion.java
  telemetry/src/main/java/datadog/telemetry/api/AppDependenciesLoaded.java
  telemetry/src/main/java/datadog/telemetry/api/AppIntegrationsChange.java
  telemetry/src/main/java/datadog/telemetry/api/AppStarted.java
  telemetry/src/main/java/datadog/telemetry/api/Application.java
  telemetry/src/main/java/datadog/telemetry/api/Dependency.java
  telemetry/src/main/java/datadog/telemetry/api/DependencyType.java
  telemetry/src/main/java/datadog/telemetry/api/GenerateMetrics.java
  telemetry/src/main/java/datadog/telemetry/api/Host.java
  telemetry/src/main/java/datadog/telemetry/api/Integration.java
  telemetry/src/main/java/datadog/telemetry/api/KeyValue.java
  telemetry/src/main/java/datadog/telemetry/api/Metric.java
  telemetry/src/main/java/datadog/telemetry/api/Payload.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/main/java/datadog/telemetry/api/Telemetry.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyPeriodicAction.java
  telemetry/src/main/schemas/telemetry-api-v1.yaml
  telemetry/src/main/templates/enumClass.mustache
  telemetry/src/main/templates/enumOuterClass.mustache
  telemetry/src/main/templates/model.mustache
  telemetry/src/main/templates/pojo.mustache
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyPeriodActionSpecification.groovy
  telemetry/telemetry.gradle
Labels: no release notes, telemetry

#3786 fix: use custom shell scripts to run lib injection system tests
  .github/workflows/lib-injection.yaml
Labels: dev/testing, no release notes, dev/build, kubernetes

#3780 Adding _dd.iast.enabled flag to span during request end event
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: iast

#3784 Add download release update to the asset upload workflow
  .github/workflows/add-assets-to-release.yaml
Labels: no release notes, dev/build

#3796 Simplify Throwable instrumentation as its target is a known-type
  dd-java-agent/instrumentation/exception-profiling/src/main/java/datadog/exceptions/instrumentation/ThrowableInstrumentation.java
Labels: performance, refactoring

#3798 Avoid NegativeArraySizeException when printing invalid timeline sequence
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TimelinePrinter.groovy
Labels: dev/testing, no release notes

#3795 Update AppSec WAF to 4.4.0
  dd-java-agent/appsec/appsec.gradle
  dd-java-agent/dd-java-agent.gradle
Labels: appsec

#3706 [IAST] Call Site Instrumentation support
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-tooling/agent-tooling.gradle
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmark.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkHelper.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkInstrumenter.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CalleeBenchmarkInstrumenter.java
  dd-java-agent/agent-tooling/src/jmh/java/foo/bar/DummyApplication.java
  dd-java-agent/agent-tooling/src/jmh/java/foo/bar/DummyController.java
  dd-java-agent/agent-tooling/src/jmh/resources/META-INF/services/datadog.trace.agent.tooling.Instrumenter
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/Pointcut.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumenterTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/StringConcatExample.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/TestCallSiteAdvice.java
  dd-java-agent/agent-tooling/src/test/resources/META-INF/services/datadog.trace.agent.tooling.csi.TestCallSiteAdvice
  dd-java-agent/agent-tooling/src/test/resources/datadog/trace/agent/tooling/bytebuddy/csi/call_site.trie
Labels: iast

#3797 Rework context store injection
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ShouldInjectFieldsRawMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextProvider.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/context/InstrumentationContextProvider.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/context/NoopContextProvider.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/ShouldInjectFieldsMatcherTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextRequestRewriter.java
Labels: performance, refactoring

#3746 Add debugger smoke tests project
  .github/CODEOWNERS
  dd-smoke-tests/debugger-integration-tests/debugger-integration-tests.gradle
  dd-smoke-tests/debugger-integration-tests/latest-jdk-app/latest-jdk-app.gradle
  dd-smoke-tests/debugger-integration-tests/latest-jdk-app/src/main/java/App.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/DebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/SpringBootTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/controller/WebController.java
  dd-smoke-tests/debugger-integration-tests/src/main/resources/application.properties
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProcessBuilderHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/RemoteConfigHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
  settings.gradle
Labels: no release notes, debugger

#3807 Fix weak cipher vulnerability detection
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplCipherTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: iast

#3808 Fix gRPC instrumentation callback for IAST/AppSec
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
Labels: bug, appsec, iast

#3825 Disable latest-jdk-app in debugger-smoke-tests until jgit issue is fixed
  dd-smoke-tests/debugger-integration-tests/debugger-integration-tests.gradle
  settings.gradle
Labels: dev/testing, no release notes, flaky-test

#3815 Move cws-tls and make it an optional part of dd-java-agent
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/cws-tls/cws-tls.gradle
  dd-java-agent/cws-tls/src/main/java/datadog/cws/erpc/Erpc.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/erpc/Request.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/ErpcTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/NoTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/Span.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/Tls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsFactory.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/ErpcTlsTest.groovy
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
  dd-java-agent/cws-tls/src/test/java/datadog/cws/tls/DummyErpcTls.java
  dd-java-agent/cws-tls/src/test/java/datadog/cws/tls/DummyTls.java
  dd-java-agent/dd-java-agent.gradle
  dd-trace-core/dd-trace-core.gradle
  settings.gradle
Labels: no release notes, dev/build

#3829 Merge master into project java 8
  CONTRIBUTING.md
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/cws-tls/cws-tls.gradle
  dd-java-agent/cws-tls/src/main/java/datadog/cws/erpc/Erpc.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/erpc/Request.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/ErpcTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/NoTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/Span.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/Tls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsFactory.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/ErpcTlsTest.groovy
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
  dd-java-agent/cws-tls/src/test/java/datadog/cws/tls/DummyErpcTls.java
  dd-java-agent/cws-tls/src/test/java/datadog/cws/tls/DummyTls.java
  dd-java-agent/dd-java-agent.gradle
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplCipherTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-smoke-tests/debugger-integration-tests/debugger-integration-tests.gradle
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-core/dd-trace-core.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  settings.gradle
Labels: no release notes

#3831 retry all kafka clients tests
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/latestDepTest/groovy/KafkaStreamsTest.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
Labels: no release notes, flaky-test

#3817 direct allocation profiling
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/DirectAllocationEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionCountEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionHistogram.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampleEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampler.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/exception-profiling/src/main/java/datadog/exceptions/instrumentation/ThrowableInstrumentation.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
  dd-java-agent/instrumentation/exception-profiling/src/test/java/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionHistogramTest.java
  dd-java-agent/instrumentation/java-directbytebuffer/java-directbytebuffer.gradle
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java/datadog/trace/instrumentation/directbytebuffer/DirectByteBufferInstrumentation.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java11/datadog/trace/instrumentation/directbytebuffer/AllocateDirectAdvice.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java11/datadog/trace/instrumentation/directbytebuffer/MemoryMappingAdvice.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java11/datadog/trace/instrumentation/directbytebuffer/NewDirectByteBufferAdvice.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/test/groovy/DirectAllocationTrackingTest.groovy
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Platform.java
  settings.gradle
Labels: profiling

#3837 Bumping test forked max heap to 768MB
  .circleci/config.yml
Labels: dev/testing, no release notes

#3830 Fix missing JDK9StackWalker from final jar
  dd-java-agent/agent-bootstrap/agent-bootstrap.gradle
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: bug, dev/build, iast

#3836 Fix debugger smoke test flakiness
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: dev/testing, no release notes

#3840 Upgrade snakeyaml to 1.32 to mitigate CVE-2022-38752
  dd-java-agent/agent-jmxfetch/agent-jmxfetch.gradle
Labels: vulnerability

#3845 Fixes for releasing v0.108.2
  dd-java-agent/agent-jmxfetch/agent-jmxfetch.gradle
  telemetry/src/main/java/datadog/telemetry/dependency/JbossVirtualFileHelper.java
Labels: no release notes, vulnerability

#3841 Updated AppSec rules (v1.4.0)
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: appsec

#3846 feat: Add download release update to asset upload workflow
  .github/workflows/add-assets-to-release.yaml
Labels: no release notes, dev/build

#3839 Rename debugger config properties
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StatsdMetricForwarder.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
Labels: debugger

#3844 Add missing argument constraint to ThreadPoolExecutorInstrumentation.execute
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
Labels: integrations

#3847 Add workflow to update download releases
  .github/workflows/add-assets-to-release.yaml
  .github/workflows/update-download-releases.yaml
Labels: dev/tooling, no release notes

#3789 Introduce class loader masks
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/WeakCache.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/WeakCaches.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
Labels: performance, refactoring

#3854 Simplify Muzzle side-classes to make them easier to unload...
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGradlePlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVisitor.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceMatcher.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPluginTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/muzzle/TestInstrumentationClasses.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/muzzle/MuzzleBytecodeTransformTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/muzzle/MuzzleGenerateTest.groovy
Labels: performance, refactoring

#3855 Collect error logs and heap dumps during CI build
  .circleci/collect_libs.sh
Labels: no release notes, dev/build

#3870 Disable more flaky tests
  dd-java-agent/instrumentation/ratpack-1.5/src/test/groovy/server/RatpackHttpServerTest.groovy
  dd-java-agent/instrumentation/rmi/src/test/groovy/RmiTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
Labels: dev/testing, no release notes

#3860 Avoid these `Instrumenter` anonymous inner classes…
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/DecodedFormParametersInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RequestImplInstrumentation.java
Labels: refactoring

#3866 Upgrade gradle to 7.5.1
  gradle/java_no_deps.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: no release notes, dev/build

#3880 Limit heap of java exec tasks and compile tasks to 256M
  gradle/java_no_deps.gradle
Labels: no release notes, dev/build

#3694 [IAST] Add overhead controller to add caps on analyzed requests and reported vulnerabilities
  dd-java-agent/iast/iast.gradle
  dd-java-agent/iast/src/jmh/java/com/datadog/iast/overhead/OverheadControllerBenchmark.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/RequestStartedHandler.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/overhead/Operation.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/overhead/Operations.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/overhead/OverheadContext.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplCipherTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplHashTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplTestBase.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/RequestStartedHandlerTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/overhead/OverheadContextTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes, iast

#3882 disable `jdk.ExceptionStatistics` event which can be confusing
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
Labels: profiling

#3892 Make SafeRequestBuilderTest check that header values don't leak
  communication/communication.gradle
  communication/src/test/groovy/datadog/communication/http/SafeRequestBuilderTest.groovy
  gradle/dependencies.gradle
  utils/test-agent-utils/decoder/decoder.gradle
Labels: no release notes, security

#3891 Limit memory for compile groovy and kotlin tasks
  gradle/java_no_deps.gradle
Labels: no release notes, dev/build

#3712 [IAST] Vulnerability hashing and deduplication V0
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes, iast

#3888 Update Servlet2 "sendError" matcher to reflect expectations in its advice
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2ResponseStatusInstrumentation.java
Labels: integrations

#3889 Split SQS receive request instrumentation
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/QueueBufferConfigInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsReceiveRequestInstrumentation.java
Labels: integrations, aws-sdk

#3894 Add smoke test for probe error status
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
Labels: no release notes, debugger

#3878 Telemetry heartbeat interval option.
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetryServiceImpl.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/resources/telemetry_intake_emu.py
Labels: telemetry

#3898 Additional cases for VulnerabilityType tests
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Labels: dev/testing, no release notes, iast

#3899 Simplify OSGi helper to only check the first-level of bundle wiring
  dd-java-agent/instrumentation/osgi-4.3/src/main/java/datadog/trace/instrumentation/osgi43/BundleWiringHelper.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations

#3902 byte-buddy 1.12.17
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDTransformers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumenterTest.groovy
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RequestImplInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTransformer.java
  gradle/dependencies.gradle
  utils/test-utils/src/main/groovy/datadog/trace/test/util/DDSpecification.groovy
Labels: dependencies

#3901 Add defensive check to Netty 3.8 advice in case future.getChannel() is null
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/ChannelFutureListenerInstrumentation.java
Labels: integrations

#3858 Add support conditions for duplicated probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
Labels: debugger

#3911 Update wildcard comment to reflect actual usage
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
Labels: docs, no release notes

#3923 update advice transformers for latest bytebuddy version
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
Labels: no release notes

#3918 Disable async-profiler except on Linux
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryProfiler.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerFactory.java
  internal-api/src/main/java/datadog/trace/api/Platform.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Labels: profiling

#3906 Remove snapshot & probe URLs config
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: no release notes, debugger

#3873 Split CircleCI gradle cache into two parts
  .circleci/config.yml
  gradle/wrapper/gradle-wrapper.properties
Labels: no release notes, dev/build

#3908 Product FEATURES, renamed to ASM_FEATURES
  communication/src/test/groovy/datadog/communication/ddagent/SharedCommunicationsObjectsSpecification.groovy
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecFeatures.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/Product.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/FeaturesConfig.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: no release notes, appsec, remote-config

#3931 Updated AppSec rules (v1.4.1)
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: appsec

#3933 Tracer version now corresponds Semantic Versioning 2.0.0
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
Labels: no release notes, remote-config

#3895 Appsec: support parameterization of blocking responses
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/blocking/BlockingActionHelper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/blocking/BlockingActionHelperSpecification.groovy
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/TestSpan.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/test_multi_config.json
  dd-java-agent/instrumentation/jetty-9/jetty-9.gradle
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty/HandleRequestVisitor.java
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty/JettyBlockingHelper.java
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty9/HandleVisitor.java
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/ServletBlockingHelper.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/TomcatBlockingHelper.java
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/TomcatServerInstrumentation.java
  dd-java-agent/instrumentation/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HandlerInstrumentation.java
  dd-java-agent/instrumentation/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/UndertowBlockingHandler.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/gateway/Flow.java
  internal-api/src/main/java/datadog/trace/api/gateway/IGSpanInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: appsec

#3930 [CIAPP] Fix NPE on Cucumber JUnit4 tests
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Decorator.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
Labels: ciapp
