Repository DataDog/dd-trace-java, pull requests merged in 2022-11, with the labels that each got.

#4138 Add assertions for sampling debugger configuration
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
Labels: dev/testing, no release notes, debugger

#4140 "Automagically" create dd_crash_uploader script for crash tracking.
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-crashtracking/agent-crashtracking.gradle
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/upload_crash.bat
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/upload_crash.sh
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/ScriptInitializerTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
Labels: docs

#4127 Go back to actions/github-script@v6
  .github/workflows/add-assets-to-release.yaml
Labels: no release notes, dev/build

#4137 handle null thread names
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: no release notes, profiling

#4148 temporarily disable CodeHotspots asserts
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: no release notes, flaky-test

#4144 Fix concurrency issue in telemetry initialization
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
Labels: bug, telemetry

#4146 Remove OpsConfiguration from Configuration
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: no release notes, debugger

#4102 system-tests and CI Visibility integration
  .circleci/config.yml
Labels: dev/testing, no release notes

#4153 Fix logged NullPointerException in OpenLiberty on getAttribute
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/RequestFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ResponseFinishInstrumentation.java
Labels: bug, appsec

#4154 Update AppSec event rules to v1.4.2
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: appsec

#4141 Drop jnr-jffi dependency from telemetry
  gradle/dependencies.gradle
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/Uname.java
  telemetry/src/test/groovy/datadog/telemetry/HostInfoTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/UnameTest.groovy
  telemetry/telemetry.gradle
Labels: telemetry

#4006 Update generated IAST json with new RFC for ranges
  dd-java-agent/agent-iast/agent-iast.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
Labels: no release notes, iast

#4136 bump async-profiler to 20221104
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
  gradle/dependencies.gradle
Labels: profiling

#4115 Load WAF library lazily
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: efficiency, appsec

#4157 AppSec default to false on OpenJ9 and non supported archs
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: appsec

#4066 Enable telemetry by default
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
Labels: telemetry

#4067 Enable remote config by default
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractTestAgentSmokeTest.groovy
Labels: remote-config

#4163 Minor improvement of Dependency collection
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
Labels: no release notes, efficiency, telemetry

#4166 Catch AccessControlException in telemetry HostInfo
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
Labels: telemetry

#4171 Fix NPE in blocking for undertow
  dd-java-agent/instrumentation/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/UndertowBlockingHandler.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: bug, appsec

#4178 Exclude tracer deps in telemetry
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/LocationsCollectingTransformerSpecification.groovy
Labels: telemetry

#4179 Update async-profiler to 20221107
  gradle/dependencies.gradle
Labels: profiling

#4139 add option to exclude rabbitmq routingKey from resource name
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, rabbitmq

#4174 fix: Fix error message for MacOS
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: dev/testing, no release notes, profiling

#4182 Add non-root user to the `dd-lib-java-init` image
  lib-injection/src/main/docker/Dockerfile
Labels: community, kubernetes

#4188 Less logs verbosity by default
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyServiceImpl.java
Labels: no release notes, appsec, telemetry, remote-config

#4190 Limit reactor ranges for muzzle and tests due to incompatibilities
  dd-java-agent/instrumentation/reactor-core-3.1/reactor-core-3.1.gradle
  dd-java-agent/instrumentation/spring-webflux-5/spring-webflux-5.gradle
Labels: no release notes, dev/build

#4191 Clean up shaded resources
  dd-java-agent/dd-java-agent.gradle
  dd-trace-ot/dd-trace-ot.gradle
Labels: no release notes

#4185 Upgrade axion-release and spotless gradle plugins
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/test/kotlin/KotlinCoroutineTests.kt
  dd-smoke-tests/play-2.4/app/controllers/SController.scala
  dd-smoke-tests/play-2.5/app/controllers/SController.scala
  dd-smoke-tests/play-2.6/app/controllers/SController.scala
  dd-smoke-tests/play-2.7/app/controllers/SController.scala
  dd-smoke-tests/play-2.8/app/controllers/SController.scala
  dd-smoke-tests/quarkus/application/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/application/build.gradle
  dd-trace-java.gradle
  gradle/enforcement/spotless-scalafmt.conf
  gradle/spotless.gradle
  gradle/spotless/spotless-kotlin.gradle
  gradle/test-with-kotlin.gradle
  test-published-dependencies/build.gradle
Labels: no release notes, dev/build

#4195 simplify async-profiler config flags
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/SmokeTestUtils.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#3903 Use call site instrumentation for weak hash and weak cipher (detect SHA-1)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/build.gradle
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumenter.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastExclusionTrieTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumenterTest.groovy
  dd-java-agent/instrumentation/java-security/build.gradle
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakCipherInstrumentation.java
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakCipherInstrumentationCallSite.java
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakHashInstrumentation.java
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakHashInstrumentationCallSite.java
  dd-java-agent/instrumentation/java-security/src/test/groovy/test/WeakCipherTest.groovy
  dd-java-agent/instrumentation/java-security/src/test/groovy/test/WeakHashTest.groovy
  dd-java-agent/instrumentation/java-security/src/test/java/foo/bar/TestSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/springboot/src/main/java/ddtest/client/sources/Hasher.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/iast/IastAdvice.java
  settings.gradle
Labels: no release notes, iast

#4104 decouple endpoint events from checkpoints
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TimelineCheckpointer.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/JFRCheckpointer.java
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/ScopeEventTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Checkpointer.java
  internal-api/src/main/java/datadog/trace/api/EndpointCheckpointer.java
  internal-api/src/main/java/datadog/trace/api/SamplingCheckpointer.java
  internal-api/src/main/java/datadog/trace/api/SpanCheckpointer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/SamplingCheckpointerTest.groovy
Labels: profiling

#4199 don't emit checkpoints or scope events if async-profiler is enabled
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
Labels: profiling

#4206 Fix profiler event labeling
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerScopeListener.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
Labels: profiling

#4207 mark all endpoints as sampled when async-profiler is enabled
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/JFRCheckpointer.java
Labels: no release notes, profiling

#4186 Adjust snapshot structure for this object
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotCapturedValueRegex.txt
Labels: debugger

#4205 Remove Java 8 checks from Agent
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: no release notes, refactoring

#4128 Fix agent bootstrap on IBM Semeru Runtime 8
  .circleci/config.yml
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
Labels: bug, core, IBM

#3834 Request getParameter call site instrumentation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintObjectsLogTest.groovy
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/servlet/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/callsite/Servlet3RequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/Servlet3TestSuite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/TestSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/TestSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Labels: no release notes, iast

#4214 Add iast-instrumenter to iast code owners
  .github/CODEOWNERS
Labels: no release notes, iast

#4208 Improve error message when using oracle jdk 8 w/o commercial features unlocked
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilingSystem.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/ProfilingSystemTest.java
Labels: profiling

#4217 Upgrade jamm to fix NumberFormatException when running Cassandra under openj9
  dd-java-agent/instrumentation/datastax-cassandra-3/build.gradle
Labels: dev/testing, no release notes

#4213 Add support for JTDS 1.2 connections
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
Labels: jdbc

#4220 Ignore failing test on Semeru 8
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomLogManagerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: dev/testing, no release notes, IBM

#4222 Ignore TaintedMapTest case on J9
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Labels: dev/testing, no release notes, flaky-test, iast, IBM

#4225 LogManagerSetter should check 'java.vm.vendor', not 'java.vendor' to match Platform check
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomLogManagerTest.groovy
  dd-java-agent/src/test/java/jvmbootstraptest/LogManagerSetter.java
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: dev/testing, no release notes

#4198 Improve jar file contents check
  test-published-dependencies/ot-is-shaded/build.gradle
  test-published-dependencies/ot-is-shaded/check_jar_contents
  test-published-dependencies/ot-is-shaded/expected_jar_contents.txt
Labels: no release notes, dev/build

#4232 Disable Flaky TracerDebuggerIntegrationTest
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: dev/testing, no release notes

#4239 Remove ScopeListener from public API
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/LogContextScopeListener.java
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  dd-trace-api/src/main/java/datadog/trace/api/IdGenerationStrategy.java
  dd-trace-api/src/main/java/datadog/trace/api/Tracer.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/OpenTracingAPITest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/WithGlobalTracer.java
  internal-api/src/main/java/datadog/trace/api/scopemanager/ExtendedScopeListener.java
  internal-api/src/main/java/datadog/trace/api/scopemanager/ScopeListener.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/WithGlobalTracerForkedTest.groovy
Labels: refactoring

#4245 Update the README and add SECURITY and SUPPORT pages
  README.md
  SECURITY.md
  SUPPORT.md
Labels: community

#4246 Don't shade third party dependencies for now
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/build.gradle
Labels: no release notes, dev/build

#4240 byte-buddy 1.12.18
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#3904 String builder taint tracking
  dd-java-agent/agent-iast/README.MD
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/AbstractBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringBuilderAppendBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringBuilderBatchBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringBuilderInitBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringBuilderToStringBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatBenchmark.java
  dd-java-agent/agent-iast/src/jmh/resources/logback.xml
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnStringBuilderAppendTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnStringBuilderInitTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnStringBuilderToStringTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnStringConcatTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/instrumentation/java-lang/build.gradle
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/internal-api-8/build.gradle
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/AbstractStackWalker.java
  internal-api/internal-api-8/src/main/java/datadog/trace/util/stacktrace/StackUtils.java
  internal-api/internal-api-8/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: no release notes, iast

#4254 Fix issue with the propagation benchmark
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/AbstractBenchmark.java
Labels: bug, no release notes, iast

#4253 Lock down spring-framework versions
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/instrumentation/spring-data-1.8/build.gradle
  dd-java-agent/instrumentation/spring-jms-3.1/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/build.gradle
Labels: no release notes, dev/build

#4262 Hard-code the versions of these smoke apps to avoid issue re-using branch version
  dd-smoke-tests/quarkus/application/build.gradle
  dd-smoke-tests/quarkus/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/application/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/build.gradle
Labels: no release notes, dev/build

#4263 Fix shading of dd-trace-ot to leave all public API packages untouched
  dd-trace-ot/build.gradle
Labels: dev/build

#4264 spring-webmvc-3.1 integration is not compatible with spring-webmvc-6.0.0
  dd-java-agent/instrumentation/spring-webmvc-3.1/build.gradle
Labels: dev/build

#4265 Exclude spring-aop-6.0.0 from muzzle check as it requires Java17
  dd-java-agent/instrumentation/spring-data-1.8/build.gradle
Labels: dev/build

#4267 Exclude spring-context-6.0.0 from muzzle check as it requires Java17
  dd-java-agent/instrumentation/spring-scheduling-3.1/build.gradle
Labels: no release notes, dev/build

#4268 Add dd-api sanity check to dd-trace-ot smoke test
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/ApiVerification.java
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/OTWithAgentApplication.java
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/OTWithoutAgentApplication.java
Labels: dev/testing, no release notes

#4227 Move abstract checks to hierarchy matchers
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/DDElementMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/HierarchyMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGradlePlugin.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/ServerErrorHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/HandlerAdapterInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/RouterFunctionInstrumentation.java
  dd-java-agent/instrumentation/twilio/src/main/java/datadog/trace/instrumentation/twilio/TwilioAsyncInstrumentation.java
  dd-java-agent/instrumentation/twilio/src/main/java/datadog/trace/instrumentation/twilio/TwilioSyncInstrumentation.java
  gradle/forbiddenApiFilters/main.txt
Labels: no release notes, refactoring

#4259 Fixed dependency guessing fallback
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/resources/datadog/telemetry/dependencies/jakarta.inject-2.6.1.jar
Labels: bug, telemetry

#4165 Replace run-time patching of ServletInputStreamWrapper with build-time equivalent
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/AbstractServletInputStreamWrapper.java
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/BufferedReaderWrapper.java
  dd-java-agent/instrumentation/servlet/request-2/build.gradle
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2ResponseStatusInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/ServletInputStreamWrapper.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/WrapperForkedTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/AsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet31InputStreamWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet31RequestBodyInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Instrumentation.java
Labels: refactoring, appsec

#4255 make sure base tests run when files in dd-java-agent module are modified
  .circleci/config.yml
Labels: no release notes, dev/build

#3938 StringConcatFactory taint tracking
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AsmSpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/FreemarkerAdviceGenerator.java
  buildSrc/call-site-instrumentation-plugin/src/main/resources/csi/advice.ftl
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AsmSpecificationBuilderTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/CallSiteSpecificationTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/FreemarkerAdviceGeneratorTest.groovy
  dd-java-agent/agent-iast/README.MD
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatFactoryBatchBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringConcatFactoryBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnStringConcatFactoryTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSite.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/main/java/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/java/foo/bar/TestStringConcatFactorySuite.java
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: no release notes, iast

#4269 [🍒] Add dd-api sanity check to dd-trace-ot smoke test
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/ApiVerification.java
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/OTWithAgentApplication.java
  dd-smoke-tests/opentracing/src/main/java/datadog/smoketest/opentracing/OTWithoutAgentApplication.java
Labels: dev/testing, no release notes

#4275 add jacoco excludes
  dd-java-agent/agent-profiling/profiling-async/build.gradle
Labels: no release notes, profiling, dev/build

#4270 move `AgentSpan.getTag` up to `MutableSpan` for more efficient `TraceInterceptor`s
  dd-java-agent/instrumentation/opentelemetry/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelSpan.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTSpan.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTSpan.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/interceptor/MutableSpan.java
  dd-trace-ot/src/main/java/datadog/opentracing/OTSpan.java
Labels: api

#4277 skip profiling tests to make sure we don't try to use JFR on J9
  .circleci/config.yml
Labels: no release notes

#4243 Add log probe configuration
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ProbeMetricsOnDemandTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: debugger

#4278 Remove unnecessary histogram indirection
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/metrics/AggregateMetric.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/StatsGroup.java
  dd-trace-core/src/main/java/datadog/trace/core/histogram/Histograms.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/Timer.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/AggregateMetricTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/histogram/HistogramsTest.groovy
  settings.gradle
  utils/histograms/build.gradle
  utils/histograms/src/main/java/datadog/trace/core/histogram/DDSketchHistogram.java
  utils/histograms/src/main/java/datadog/trace/core/histogram/DDSketchHistogramFactory.java
  utils/histograms/src/main/java/datadog/trace/core/histogram/Histogram.java
  utils/histograms/src/main/java/datadog/trace/core/histogram/HistogramFactory.java
  utils/histograms/src/main/java/datadog/trace/core/histogram/Histograms.java
  utils/histograms/src/main/java/datadog/trace/core/histogram/StubHistogram.java
  utils/histograms/src/test/groovy/HistogramsTest.groovy
Labels: no release notes, refactoring

#4241 support resource naming extraction on webmvc 5.3
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/PathMatchingHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-5.3/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/OrderedServletPathRequestFilter.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/ServletPathRequestFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/test/groovy/test/apms8174/ServletPathRequestFilterTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/test/groovy/test/apms8174/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/test/resources/logback.xml
  settings.gradle
Labels: spring

#4273 Use closePrevious/activateNext for SQS receive polling
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java8/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: integrations, aws-sdk

#4230 Ensure that only one muzzle task is building instrumenters at a given time
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
Labels: no release notes, refactoring, dev/build

#4170 Split out instrumentation build-time config
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentStrategies.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/CrashUploaderTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ClassFileLocators.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ExceptionHandlers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/CodeSourceExcludes.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/CustomExcludes.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/QueueBufferConfigInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/LoggerNodeInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/PreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/ContextDataInjectorFactoryInstrumentation.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/CategoryInstrumentation.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/log4j2/src/main/java/datadog/trace/instrumentation/log4j2/ThreadContextInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LogbackLoggerInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/src/main/java/datadog/trace/instrumentation/scala/concurrent/PromiseObjectInstrumentation210.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala/concurrent/DefaultPromiseInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala/concurrent/PromiseObjectInstrumentation213.java
  dd-java-agent/instrumentation/scala-promise/src/main/java/datadog/trace/instrumentation/scala/PromiseHelper.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceConfigInstrumentation.java
  dd-java-agent/testing/src/test/groovy/context/FieldInjectionForkedTest.groovy
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEventFactory.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/Platform.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigProviderTest.groovy
  utils/test-utils/src/main/groovy/datadog/trace/test/util/DDSpecification.groovy
Labels: breaking-change, native-image

#4286 Test some uniqueness in IdGenerationStrategy
  dd-trace-api/src/test/groovy/datadog/trace/api/DDSpanIdTest.groovy
  dd-trace-api/src/test/groovy/datadog/trace/api/DDTraceIdTest.groovy
Labels: dev/testing, no release notes

#4287 Fix contextual profiling events
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ContextualEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/DirectAllocationProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/DirectAllocationSampleEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampleEvent.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/test/groovy/DirectAllocationTrackingTest.groovy
Labels: no release notes, profiling

#4282 Retransform class-loader types before transforming any types loaded by them
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDRediscoveryStrategy.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-smoke-tests/custom-systemloader/build.gradle
  dd-smoke-tests/custom-systemloader/src/main/java/datadog/smoketest/systemloader/TestHelper.java
  dd-smoke-tests/custom-systemloader/src/main/java/datadog/smoketest/systemloader/TestLoader.java
  dd-smoke-tests/custom-systemloader/src/main/java/sample/app/App.java
  dd-smoke-tests/custom-systemloader/src/main/java/sample/app/Resource.java
  dd-smoke-tests/custom-systemloader/src/test/groovy/datadog/smoketest/CustomSystemLoaderSmokeTest.groovy
  settings.gradle
Labels: refactoring

#4279 Add parent field support collecting fields
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/FieldExtractor.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/FieldExtractorTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot18.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotCapturedValueRegex.txt
Labels: debugger

#3909 Add SQL Injection detection
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AsmSpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/FreemarkerAdviceGenerator.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/ErrorCode.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/FreemarkerAdviceGeneratorTest.groovy
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplJdbcQueryTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/IastAgentTestRunner.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/NoopOverheadController.groovy
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteUtils.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSite.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteUtilsTest.groovy
  dd-java-agent/instrumentation/jdbc/build.gradle
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/ConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastConnectionCallSite.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastStatementCallSite.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/IastJDBCTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/foo/bar/IastInstrumentedConnection.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/foo/bar/IastInstrumentedStatement.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Labels: no release notes, iast

#4125 Command Injection detection
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/VulnerabilityTypeAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplCommandInjectionTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/RuntimeCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/RuntimeCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestProcessBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestRuntimeSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Labels: no release notes, iast

#4212 Path traversal detection
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplPathTraversalTest.groovy
  dd-java-agent/instrumentation/java-io/build.gradle
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FIleOutputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileInputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/PathCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/PathsCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/BaseIoCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileInputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileOutputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/PathCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/PathsCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestFileInputStreamSuite.java
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestFileOutputStreamSuite.java
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestFileSuite.java
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestPathSuite.java
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestPathsSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: no release notes, iast

#4290 Limit Spring AMQP versions to avoid Spring 6 that requires Java 17
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/build.gradle
  dd-java-agent/instrumentation/spring-rabbit/build.gradle
Labels: no release notes, dev/build

#4251 Remove some Java 7 indirections
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-profiling/profiling-auxiliary-async/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointer.java
Labels: core, no release notes, refactoring

#4169 Refine stacktrace filtering
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleFindValidPackageForVulnerability.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog.trace.instrumentation.iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastExclusionTrieTest.groovy
Labels: no release notes, iast

#4276 Improve Windows support to build project
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/copy-metric-configs.sh
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.7/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/quarkus/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/build.gradle
  dd-smoke-tests/springboot-openliberty/build.gradle
  dd-smoke-tests/vertx-3.9-resteasy/build.gradle
  dd-smoke-tests/vertx-3.9/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  dd-trace-core/src/test/groovy/datadog/trace/api/writer/TraceStructureWriterTest.groovy
Labels: dev/build

#4249 Avoid redundant feature discovery requests
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  communication/src/test/groovy/datadog/communication/ddagent/DDAgentFeaturesDiscoveryTest.groovy
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams/MockFeaturesDiscovery.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsCheckpointer.java
Labels: core, refactoring

#4291 change name of allocation source in DirectAllocationTotalEvent
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/DirectAllocationTotalEvent.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/test/groovy/DirectAllocationTrackingTest.groovy
Labels: no release notes, profiling

#4294 Handle telemetry errors gracefully
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
Labels: telemetry

#4299 Align source types with the spec
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/SourceTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
Labels: no release notes, iast

#4288 Implement log probe instrumentation
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotSummaryBuilder.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SummaryBuilder.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SnapshotInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SnapshotProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: debugger

#4298 Add scheduled task to clear the resolver's type pools
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/SharedTypePools.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/TypeInfoCache.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypePoolFacade.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: overhead

#4301 add some smoke tests for native library usage
  dd-smoke-tests/profiling-integration-tests/build.gradle
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/NativeLibrariesApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: dev/testing, no release notes, profiling

#4303 update codeowners to request profiling reviews to changes to profiling code assets
  .github/CODEOWNERS
Labels: no release notes

#4302 Delay generation of costly config elements
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-installer/src/main/java/datadog/trace/agent/installer/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java/datadog/trace/instrumentation/directbytebuffer/ByteBufferInstrumentation.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java/datadog/trace/instrumentation/directbytebuffer/DirectByteBufferInstrumentation.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/main/java/datadog/trace/instrumentation/directbytebuffer/FileChannelImplInstrumentation.java
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/ProductActivation.java
  internal-api/src/main/java/datadog/trace/api/ProductActivationConfig.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: performance, refactoring

#4305 [🍒] 1.1.1 fixes
  dd-java-agent/instrumentation/tomcat-5.5/build.gradle
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/AbstractServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/ExtractAdapter.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/IdGenerationStrategy.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-api/src/test/groovy/datadog/trace/api/DDSpanIdTest.groovy
  dd-trace-api/src/test/groovy/datadog/trace/api/DDTraceIdTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes

#4244 [testing] System-tests add more weblog variants
  .circleci/config.yml
Labels: dev/testing, no release notes

#4306 add code hotspots test for large number of unique stack traces
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/GenerativeStackTraces.java
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/NativeLibrariesApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: dev/testing, no release notes, profiling

#4308 Add missing call sites for weak hash an cipher
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakCipherInstrumentationCallSite.java
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakHashInstrumentationCallSite.java
  dd-java-agent/instrumentation/java-security/src/test/groovy/test/WeakCipherTest.groovy
  dd-java-agent/instrumentation/java-security/src/test/groovy/test/WeakHashTest.groovy
  dd-java-agent/instrumentation/java-security/src/test/java/foo/bar/TestSuite.java
Labels: no release notes, iast

#4313 Introduced evaluateAt attribute in probe configs
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SnapshotProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/EnvironmentAndVersionCheckerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/MetricProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/SnapshotProbeTest.java
Labels: debugger

#4310 Allow call sites in the benchmark
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog.trace.instrumentation.iastinstrumenter/iast_exclusion.trie
Labels: no release notes, iast

#4311 Fix side effects in CallSiteUtils causing bug
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteUtils.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
Labels: no release notes, iast

#3932 Appsec: create top span for process executions
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/java-lang/java-lang-9/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang.gradle
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentation.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-smoke-tests/springboot-openliberty/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySnapshotTest.groovy
  gradle/forbiddenApiFilters/main.txt
  internal-api/internal-api-8/build.gradle
  internal-api/internal-api-8/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
  settings.gradle
Labels: appsec

#4314 [🍒] Fixes for 1.1.2
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/OrderedServletPathRequestFilter.java
Labels: no release notes

#4258 liberty-20 fixes and tests
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/HttpServletExtractAdapter.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ParsePostDataInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ResponseFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/liberty-20/src/webapp/java/datadog/trace/instrumentation/liberty20/PassthruSyncServlet3.java
  dd-java-agent/instrumentation/liberty-20/src/webapp/resources/WEB-INF/web.xml
  dd-java-agent/instrumentation/liberty-20/src/webapp/resources/index.html
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/ServletBlockingHelper.java
  dd-java-agent/instrumentation/servlet/request-3/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServletHandlerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/TestServlet3.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/springboot-openliberty/snapshots/datadog.smoketest.SpringBootOpenLibertySnapshotTest.exception404.snap
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
Labels: appsec

#4319 Only add OrderedServletPathRequestFilter when Filter interface is available
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/ServletPathRequestFilterInstrumentation.java
Labels: integrations

#4316 Remove ClassFormatError handling during initialization
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: no release notes, refactoring

#4321 [🍒] Only add OrderedServletPathRequestFilter when Filter interface is available
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/ServletPathRequestFilterInstrumentation.java
Labels: no release notes

#4326 speed up test cutoff calculation
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/DeterministicSamplerTest.groovy
Labels: dev/testing, no release notes

#4325 notify context thread listeners when the scope stack becomes empty or non-empty
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
Labels: profiling

#4328 Make StatsDClient flush immediately in tests
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDClientManager.java
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDConnection.java
  communication/src/test/groovy/datadog/communication/monitor/DDAgentStatsDClientTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/StatsDClientManager.java
Labels: dev/testing, no release notes

#4334 Move Config.isLogsMDCTagsInjectionEnabled() to InstrumenterConfig
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/SpanDecoratingContextDataInjector.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LoggingEventInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: native-image

#4333 native-image instrumentation
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/WeakMaps.java
  dd-java-agent/instrumentation/graal/build.gradle
  dd-java-agent/instrumentation/graal/native-image/build.gradle
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/AbstractNativeImageInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/AnnotationSubstitutionProcessorInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/ClassInitializationFeatureInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java11/datadog/trace/instrumentation/graal/nativeimage/ClassInitializationAdvice.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java11/datadog/trace/instrumentation/graal/nativeimage/DeleteFieldAdvice.java
  settings.gradle
Labels: native-image

#4330 Early transform of Config class in tests
  utils/test-utils/src/main/groovy/datadog/trace/test/util/ConfigInstrumentationFailedListener.groovy
  utils/test-utils/src/main/groovy/datadog/trace/test/util/ConfigTransformSpockExtension.groovy
  utils/test-utils/src/main/groovy/datadog/trace/test/util/DDSpecification.groovy
  utils/test-utils/src/main/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: dev/testing, no release notes

#4335 Fix bug in dependency resolution under high concurrency
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolverQueue.java
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverQueueSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/LocationsCollectingTransformerSpecification.groovy
Labels: telemetry

#4339 re-enable asserts, disable reactive test
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: dev/testing, no release notes

#4338 Improve tests for Ranges#rangesProvidedFor in IAST
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
Labels: dev/testing, no release notes, iast

#4322 Reduce the amount of full-type parsing needed for instrumentation
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/CachingType.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/OutlineTypeParser.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
Labels: performance

#4337 allow specification of arbitrary perf events to schedule samples
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#4307 Add flush traces and metrics API
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/Aggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/Batch.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/InboxItem.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/MetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/NoOpMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTraceBuffer.java
  dd-trace-ot/build.gradle
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: no release notes

#4285 add support for multiple configurations for debugger
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationComparer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationDeserializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerFeaturesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/RemoteConfigHelper.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationChangesListener.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationChangesTypedListener.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/state/ParsedConfigKey.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductListener.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
  remote-config/src/main/java/datadog/remoteconfig/state/SimpleProductListener.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/MissingContentException.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigResponse.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
  remote-config/src/test/groovy/datadog/remoteconfig/Rcte1TestVectorsSpecification.groovy
  remote-config/src/test/groovy/datadog/remoteconfig/state/ParsedConfigKeyTests.groovy
Labels: debugger, remote-config

#4347 disable native stackwalking by default
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#4343 use native threadid for attach/detach events
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: profiling

#4344 Rework TaintedMapTest
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/ObjectGen.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/ObjectGenTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Labels: dev/testing, no release notes, iast
