Repository DataDog/dd-trace-java, pull requests merged in 2022-10, with the labels that each got.

#3934 Use a version of gradle 7.5.1 patched for cgroup memory
  .circleci/config.yml
  .github/workflows/gradle-wrapper-validation.yaml.disabled
  dd-smoke-tests/quarkus/quarkus.gradle
  dd-smoke-tests/vertx-3.9-resteasy/vertx-3.9-resteasy.gradle
  dd-smoke-tests/vertx-3.9/vertx-3.9.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: no release notes, dev/build

#3939 Track instrumentation state
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/MuzzleMatcher.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/test/DefaultInstrumenterForkedTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenters.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceMatcher.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/ReferenceMatcherTest.groovy
Labels: performance, refactoring

#3928 Make tests run conditional on changes made
  .circleci/config.yml
  dd-java-agent/agent-debugger/agent-debugger.gradle
  dd-java-agent/agent-profiling/agent-profiling.gradle
  dd-java-agent/iast/iast.gradle
Labels: no release notes, dev/build

#3942 authenticate github requests to avoid api throttling
  .circleci/config.yml
Labels: no release notes, dev/build

#3943 Updated AppSec WAF to 5.1.0
  dd-java-agent/appsec/appsec.gradle
Labels: appsec

#3945 Strip quotes from target branch
  .circleci/config.yml
Labels: no release notes, dev/build

#3827 Adapt snapshot Json structure to new scheme
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/FieldExtractor.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Limits.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ValueConverter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/SnapshotProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodProbeInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SnapshotSummary.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/FieldExtractorTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/ValueConverterTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotCapturedValueRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithCorrelationIdsRegex.txt
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: debugger

#3952 Stub for Telemetry running on aarch64
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Labels: no release notes, telemetry

#3811 Taint tracking API
  dd-java-agent/iast/iast.gradle
  dd-java-agent/iast/src/jmh/java/com/datadog/iast/taint/TaintedMapEmptyBenchmark.java
  dd-java-agent/iast/src/jmh/java/com/datadog/iast/taint/TaintedMapGetsBenchmark.java
  dd-java-agent/iast/src/jmh/java/com/datadog/iast/taint/TaintedMapPutsBenchmark.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplOnConcatTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplOnParameterNameTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/IastModuleImplOnParameterValueTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/model/RangeTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/model/SourceTypeTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/taint/HashCodeTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/taint/TaintUtilsTest.groovy
  dd-java-agent/iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  utils/test-utils/src/main/java/datadog/trace/test/util/CircularBuffer.java
Labels: no release notes, iast

#3955 Populate epoch timestamp part of `X-Amzn-Trace-Id` tracing header
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
Labels: integrations, aws-sdk

#3927 Remove HelperInjector.injectBootstrapClassLoader
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: no release notes, refactoring

#3959 Fix some gradle deprecations
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
  dd-java-agent/instrumentation/akka-http-10.0/akka-http-10.0.gradle
  dd-java-agent/instrumentation/finatra-2.9/finatra-2.9.gradle
  dd-java-agent/instrumentation/jdbc/scalikejdbc/scalikejdbc.gradle
  dd-java-agent/instrumentation/play-2.3/play-2.3.gradle
  dd-java-agent/instrumentation/slick/slick.gradle
  gradle/test-with-kotlin.gradle
Labels: no release notes, dev/build

#3963 Rename :dd-java-agent:iast to :dd-java-agent:agent-iast
  .circleci/config.yml
  .github/CODEOWNERS
  dd-java-agent/agent-iast/agent-iast.gradle
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/overhead/OverheadControllerBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapEmptyBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapGetsBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapPutsBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Evidence.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityBatch.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/SourceIndex.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/SourceTypeAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/SourceTypeString.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/VulnerabilityEncoding.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/Operation.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/Operations.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplCipherTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplHashTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnConcatTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnParameterNameTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplOnParameterValueTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplTestBase.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestStartedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/RangeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/SourceTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/HashCodeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtilsTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  dd-java-agent/dd-java-agent.gradle
  dd-java-agent/instrumentation/java-security/java-security.gradle
  settings.gradle
Labels: no release notes, iast

#3968 allow xlarge images for some tests
  .circleci/config.yml
Labels: no release notes, dev/build

#3947 Collapse build and check on CircleCI
  .circleci/collect_reports.sh
  .circleci/config.yml
Labels: no release notes, dev/build

#3961 Tune HashCodeTest to avoid flaky test
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/HashCodeTest.groovy
Labels: dev/testing, no release notes, iast

#3966 profile tests
  .circleci/collect_profiles.sh
  .circleci/config.yml
Labels: no release notes, dev/build

#3971 allocate fewer large strings in openliberty test
  dd-smoke-tests/springboot-openliberty/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
Labels: dev/testing, no release notes

#3972 Add testJvm for agent_integration_tests
  .circleci/config.yml
Labels: no release notes, dev/build

#3970 Add missing size for map values in snapshots
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
Labels: no release notes, debugger

#3981 Use the PR merge commit to do the diff for changed files
  .circleci/config.yml
Labels: no release notes, dev/build

#3977 don't log smoke tests at debug level
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/osgi/src/test/groovy/datadog/smoketest/AbstractOSGiSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: dev/testing, no release notes

#3983 Improve test coverage for DDIdAdapter
  dd-java-agent/agent-iast/agent-iast.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/DDIdAdapter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
Labels: dev/testing, no release notes, refactoring, iast

#3984 Reduce allocation when matching types with no annotations
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/FieldOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/MethodOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
Labels: performance

#3967 Fix IP blocking (added default AppSec action)
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/another_actions_config.json
  dd-java-agent/appsec/src/test/resources/no_actions_config.json
  dd-java-agent/appsec/src/test/resources/override_actions_config.json
Labels: bug, appsec

#3838 Debugger EL evaluation before sampling
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/debugger-el/debugger-el.gradle
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/StaticValueRefResolver.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodProbeInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/FieldExtractorTest.java
  gradle/dependencies.gradle
Labels: debugger

#3989 Trigger full tests on CI for more build files
  .circleci/config.yml
Labels: no release notes, dev/build

#3991 Merge master into project/java-8
  .circleci/config.yml
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/debugger-el/debugger-el.gradle
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/StaticValueRefResolver.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodProbeInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/FieldExtractorTest.java
  dd-java-agent/agent-iast/agent-iast.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/DDIdAdapter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/FieldOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/MethodOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/another_actions_config.json
  dd-java-agent/appsec/src/test/resources/no_actions_config.json
  dd-java-agent/appsec/src/test/resources/override_actions_config.json
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/osgi/src/test/groovy/datadog/smoketest/AbstractOSGiSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  gradle/dependencies.gradle
Labels: no release notes

#3988 Set IBM -Xdump arg to collect smoke test crash info
  .circleci/collect_reports.sh
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
Labels: dev/testing, no release notes, IBM

#3729 Call Site Instrumentation plugin
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/AdviceGenerator.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/AdvicePointcutParser.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/CallSiteReporter.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/HasErrors.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/PluginApplication.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/SpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/TypeResolver.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/Validatable.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/ValidationContext.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AsmSpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteFactory.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/FreemarkerAdviceGenerator.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/RegexpAdvicePointcutParser.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/TypeResolverPool.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/CallSiteConstants.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/CallSiteUtils.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/ErrorCode.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/MethodType.java
  buildSrc/call-site-instrumentation-plugin/src/main/resources/csi/advice.ftl
  buildSrc/call-site-instrumentation-plugin/src/main/resources/csi/console.ftl
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceSpecificationTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AsmSpecificationBuilderTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/BaseCsiPluginTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/CallSiteSpecificationTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/FreemarkerAdviceGeneratorTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/RegexpAdvicePointcutParserTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/TypeResolverPoolTest.groovy
  buildSrc/settings.gradle
  buildSrc/src/main/groovy/CallSiteInstrumentationPlugin.groovy
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSite.java
Labels: no release notes, dev/build, iast

#3994 Type parsing: avoid creating annotation ArrayLists that will never get populated
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/FieldOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/MethodOutline.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
Labels: performance

#3999 Correct broken default behavior in collect_reports
  .circleci/collect_reports.sh
Labels: no release notes, dev/build

#4000 compress and upload .trc and .dmp files for IBM JVMs, compress collected profiles
  .circleci/collect_profiles.sh
  .circleci/collect_reports.sh
  .circleci/config.yml
Labels: no release notes, dev/build

#3993 Upgrade jnr_unixsocket and jnr_ffi
  dd-java-agent/dd-java-agent.gradle
  gradle/dependencies.gradle
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Labels: security

#3990 Add some info log for debugger
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
Labels: no release notes, debugger

#4003 Handle strange versions properties in JvmRuntime
  internal-api/src/main/java/datadog/trace/api/Platform.java
  internal-api/src/test/groovy/datadog/trace/api/PlatformTest.groovy
Labels: no release notes

#3996 Fix issue with array handling for boxing / unboxing in CSI
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteUtils.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/CallSiteWithArraysExample.java
Labels: bug, no release notes, iast

#4009 Bump async-profiler to 20221010
  gradle/dependencies.gradle
Labels: profiling

#3896 Instrument JBoss Modules to relax visibility rules during transform requests
  dd-java-agent/instrumentation/jboss-modules/jboss-modules.gradle
  dd-java-agent/instrumentation/jboss-modules/src/main/java/datadog/trace/instrumentation/jbossmodules/ModuleInstrumentation.java
  dd-java-agent/instrumentation/jboss-modules/src/main/java/org/jboss/modules/ModuleLinkageHelper.java
  dd-smoke-tests/jboss-modules/jboss-modules.gradle
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/app/Main.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/client/MessageClient.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/common/LogSupport.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/common/ServiceSupport.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/messaging/ClientSupport.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/messaging/Message.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/messaging/PublisherSupport.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/messaging/SubscriberSupport.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/messaging/TextMessage.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/publishing/AsyncPublisher.java
  dd-smoke-tests/jboss-modules/src/main/java/datadog/smoketest/jbossmodules/subscribing/AsyncSubscriber.java
  dd-smoke-tests/jboss-modules/src/main/resources/META-INF/services/datadog.smoketest.jbossmodules.messaging.ClientSupport
  dd-smoke-tests/jboss-modules/src/main/resources/META-INF/services/datadog.smoketest.jbossmodules.messaging.PublisherSupport
  dd-smoke-tests/jboss-modules/src/main/resources/META-INF/services/datadog.smoketest.jbossmodules.messaging.SubscriberSupport
  dd-smoke-tests/jboss-modules/src/main/resources/app/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/client/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/common/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/commons-codec/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/commons-logging/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/guava/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/httpclient/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/httpcore/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/messaging/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/publishing/main/module.xml
  dd-smoke-tests/jboss-modules/src/main/resources/subscribing/main/module.xml
  dd-smoke-tests/jboss-modules/src/test/groovy/datadog/smoketest/AbstractModulesSmokeTest.groovy
  dd-smoke-tests/jboss-modules/src/test/groovy/datadog/smoketest/JBossModulesV1SmokeTest.groovy
  dd-smoke-tests/jboss-modules/src/test/groovy/datadog/smoketest/JBossModulesV2SmokeTest.groovy
  settings.gradle
Labels: integrations

#4013 JBoss modules smoke tests need debug logging enabled
  dd-smoke-tests/jboss-modules/src/test/groovy/datadog/smoketest/AbstractModulesSmokeTest.groovy
Labels: dev/testing, no release notes

#4002 jetty blocking: fix calling of old method
  dd-java-agent/instrumentation/jetty-common/jetty-common.gradle
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty/JettyBlockingHelper.java
  dd-java-agent/instrumentation/jetty-common/src/test/groovy/datadog/trace/instrumentation/jetty/JettyBlockingHelperSpecification.groovy
Labels: appsec

#4005 Fix issue with other Datadog instrumentations
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: debugger

#4014 bump async-profiler
  gradle/dependencies.gradle
Labels: profiling

#4015 Add bytebudy to deps of csi plugin
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
Labels: bug, no release notes, dev/build, iast

#4012 Bring client ip resolution in line with spec
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/http/ClientIpAddressResolver.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/http/ClientIpAddressResolverSpecification.groovy
Labels: appsec

#4008 Avoid creating new limits in loop
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
Labels: no release notes, debugger

#4016 Refactor logHasErrors
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: dev/testing, no release notes, debugger

#4022 Use obviously fake Twilio IDs in tests
  dd-java-agent/instrumentation/twilio/src/test/groovy/test/TwilioClientTest.groovy
Labels: no release notes, security

#4011 Replace summary formater by a builder
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotSummaryBuilder.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SnapshotSummary.java
Labels: no release notes, debugger

#4026 Disable `jdk.ClassLoaderStatistics` unless running on JDK17 or later
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
Labels: profiling

#4024 strip 'v' from version tag
  .github/workflows/add-assets-to-release.yaml
Labels: no release notes, dev/build

#4029 Telemetry lazy loading
  telemetry/src/main/java/datadog/telemetry/RequestBuilderSupplier.java
  telemetry/src/main/java/datadog/telemetry/TelemetryServiceImpl.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: telemetry

#4040 Fix ASM 1-click de-activation
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: bug, appsec

#4035 Telemetry enabled by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: telemetry

#4037 Remote config enabled by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: remote-config

#4041 enable/disable profiler events with ergonomic flags
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#4048 Fix github actions tag
  .github/workflows/add-assets-to-release.yaml
Labels: no release notes, dev/build

#4052 Give the gradle daemon enough memory for our large project
  .circleci/config.yml
Labels: no release notes, dev/build

#4049 hook context installation and thread exit so profiler can be notified of threads with tracing context
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/java-thread/java-thread.gradle
  dd-java-agent/instrumentation/java-thread/src/main/java/datadog/trace/instrumentation/thread/ThreadInstrumentation.java
  dd-java-agent/instrumentation/java-thread/src/test/groovy/InterceptThreadExitTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestContextThreadListener.groovy
  dd-trace-core/dd-trace-core.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ContextThreadListener.java
  settings.gradle
Labels: profiling

#4044 Upgrade async-profiler, simplify tracing context filtering
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactoryTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
Labels: profiling

#4058 Ensure buildSrc can be tested with JDKs > 11
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
Labels: no release notes, dev/build, iast

#4059 Context thread listener attach test
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: dev/testing, no release notes

#4057 add sanity check for embedded JFR event context, enable profiling context integration for all smoke tests
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  gradle/dependencies.gradle
Labels: dev/testing, no release notes, profiling

#4065 remove Thread exit instrumentation
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/java-thread/java-thread.gradle
  dd-java-agent/instrumentation/java-thread/src/main/java/datadog/trace/instrumentation/thread/ThreadInstrumentation.java
  dd-java-agent/instrumentation/java-thread/src/test/groovy/InterceptThreadExitTest.groovy
  settings.gradle
Labels: no release notes

#4063 register ContextThreadListener earlier to capture all tracing interactions
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
Labels: profiling

#4076 Fix IastSpringBootSmokeTest flakiness, wait for traces
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: dev/testing, no release notes, flaky-test, iast

#4074 add asyncprofiler configuration settings (loglevel, toggle thread filtering)
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfiler.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/AsyncProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-async/src/main/java/com/datadog/profiling/async/ContextThreadFilter.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#4042 Delay feature discovery in configuration poller
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
Labels: efficiency, remote-config

#4073 Log config endpoint on feature discovery
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Labels: no release notes, remote-config

#4025 Sanitize env version in remote config request
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/EnvironmentAndVersionChecker.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ProbeStatus.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/TagsHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/EnvironmentAndVersionCheckerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TagsHelperTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: remote-config

#4075 Fix fallback for empty dd.appsec.enabled/DD_APPSEC_ENABLED
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: appsec

#4084 add missing helper class names to avoid IllegalAccessErrors
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AsyncAfterTransmissionInterceptorCallingResponseHandlerInstrumentation.java
Labels: bug, aws-sdk

#4086 make SPAN_ATTRIBUTE public to avoid IllegalAccessError in AWS-SDK instrumentation
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AsyncAfterTransmissionInterceptorCallingResponseHandlerInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java8/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
Labels: bug, aws-sdk

#4089 ignore netty resource leak monitoring in exception profiling
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
Labels: profiling

#4091 Avoid Config mock in PollerRequestFactoryTest
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: dev/testing, no release notes, remote-config

#4092 Fix '_dd.iast.enabled' flaky related test
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: dev/testing, no release notes, flaky-test, iast

#4087 Do not log exceptions when remote config returns 404
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
Labels: remote-config

#4078 Make remote config quiet until endpoint is discovered
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: remote-config

#4096 async profiler scope listener
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-context/profiling-context.gradle
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerScopeListener.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/AsyncProfilerTracingContextTrackerFactoryTest.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ScopeEventFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/scopemanager/ExtendedScopeListener.java
Labels: profiling

#4072 WAF lazy loading
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: efficiency, appsec

#4103 Revert "Merge pull request #4072 from DataDog/vzakharov/lazy_waf"
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: no release notes, appsec

#4101 upgrade to dogstatsd v4.1.0
  communication/src/test/groovy/datadog/communication/monitor/DDAgentStatsDClientTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/JMXFetchTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#4100 Try to fix flaky tainted map test
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  utils/test-utils/src/main/java/datadog/trace/test/util/CircularBuffer.java
Labels: no release notes, flaky-test, iast

#4107 larger smoke tests image
  .circleci/config.yml
  dd-smoke-tests/dd-smoke-tests.gradle
Labels: no release notes, dev/build

#4106 WAF lazy loading
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: appsec

#4111 make sure base tests run when appsec changes are made
  .circleci/config.yml
Labels: dev/testing, no release notes, appsec

#4110 Revert "WAF lazy loading"
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: no release notes, appsec

#4114 Tune TaintedMapTest thresholds
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Labels: no release notes, flaky-test, iast

#4113 Fix assertions inside `eventually` block
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/ProcessSupervisorTest.groovy
Labels: dev/testing, no release notes

#4121 Remove jcenter from build dependencies
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/instrumentation/commons-httpclient-2/commons-httpclient-2.gradle
  dd-java-agent/instrumentation/glassfish/glassfish.gradle
  dd-java-agent/instrumentation/grizzly-http-2.3.20/grizzly-http-2.3.20.gradle
  dd-java-agent/instrumentation/jms/jms.gradle
  dd-java-agent/instrumentation/play-2.3/play-2.3.gradle
  dd-java-agent/instrumentation/play-2.4/play-2.4.gradle
  dd-java-agent/instrumentation/play-2.6/play-2.6.gradle
  dd-java-agent/instrumentation/restlet-2.2/restlet-2.2.gradle
  dd-java-agent/instrumentation/servlet/request-2/request-2.gradle
  dd-java-agent/instrumentation/servlet/request-3/request-3.gradle
  dd-java-agent/instrumentation/testng-6.4/testng-6.4.gradle
  dd-java-agent/instrumentation/tomcat-5.5/tomcat-5.5.gradle
Labels: no release notes, dev/build

#4117 delay notification until a scope has been pushed to the scope stack
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: profiling

#4129 wait for records to be available before starting assertions
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
Labels: no release notes, flaky-test
