Repository DataDog/dd-trace-java, pull requests merged in 2023-11, with the labels that each got.

#6103 Change redacted values in snapshot & log templates
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/RedactedException.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ExpressionHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: comp: debugger

#6056 Taint gson sources (deserialization)
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/gson-1.6/build.gradle
  dd-java-agent/instrumentation/gson-1.6/src/main/java/datadog/trace/instrumentation/gson/JsonReaderInstrumentation.java
  dd-java-agent/instrumentation/gson-1.6/src/test/groovy/datadog/trace/instrumentation/gson/JsonReaderInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/StringReaderCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/StringReaderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestStringReaderSuite.java
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/build.gradle
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  settings.gradle
Labels: comp: asm iast

#6009 Update span links implementation
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
  dd-trace-core/src/jmh/java/datadog/trace/core/PendingTraceWrite.java
  dd-trace-core/src/jmh/java/datadog/trace/core/TracerMapperMap.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanLink.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanLinkTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLinkAttributes.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/SpanLinkTest.groovy
Labels: type: enhancement, comp: core

#6134 Allow delayed start of adaptive sampler reconfiguration task.
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/WindowSampler.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeRateLimiter.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
  internal-api/src/jmh/java/datadog/trace/api/sampling/AdaptiveSamplerBenchmark.java
  internal-api/src/main/java/datadog/trace/api/sampling/AdaptiveSampler.java
  internal-api/src/test/java/datadog/trace/api/sampling/AdaptiveSamplerTest.java
Labels: tag: no release notes, comp: profiling

#6115 Remove dead code from profiler
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: tag: no release notes

#6135 Fix sampling for line probe without condition
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/MethodLocation.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: bug, comp: debugger

#6119 Add Language Specifics in Symbol Extraction
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/LanguageSpecifics.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/Scope.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/Symbol.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symbol/SymbolExtraction13.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symbol/SymbolExtraction14.java
Labels: type: enhancement, comp: debugger

#6121 Rename sampling tests
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5740 Stacktrace leak protection
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/StacktraceLeakModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/StacktraceLeakModuleTest.groovy
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueAdvice.java
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueInstrumentation.java
  dd-smoke-tests/appsec/spring-tomcat7/build.gradle
  dd-smoke-tests/appsec/spring-tomcat7/src/main/java/datadog/smoketest/appsec/springtomcat7/AppConfigurer.java
  dd-smoke-tests/appsec/spring-tomcat7/src/main/java/datadog/smoketest/appsec/springtomcat7/Controller.java
  dd-smoke-tests/appsec/spring-tomcat7/src/main/java/datadog/smoketest/appsec/springtomcat7/Main.java
  dd-smoke-tests/appsec/spring-tomcat7/src/test/groovy/datadog/smoketest/appsec/SpringTomcatSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/StacktraceLeakModule.java
  settings.gradle
Labels: comp: asm iast

#6129 Ensure no strong references are kept due to source names
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
Labels: type: bug, comp: asm iast

#6144 flip flag for resource name tagging
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Labels: tag: no release notes, comp: profiling

#6142 Fix tracer enabled detection default value
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CorrelationAccess.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: type: bug, comp: debugger

#6143 Add git repository and sha in RC request tags
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: comp: debugger

#6150 Sample log probes with errors on condition
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: comp: debugger

#6125 Fix NPE when tracing named parameterised tests in JUnit 4 instrumentation
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestParameterized.java
Labels: type: bug, comp: ci visibility

#6146 Fix NPE in @setup calls when tracing Karate
  .github/CODEOWNERS
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/karate/src/test/java/org/example/TestWithSetupKarate.java
  dd-java-agent/instrumentation/karate/src/test/java/org/example/karate-config.js
  dd-java-agent/instrumentation/karate/src/test/java/org/example/test_with_setup.feature
Labels: type: bug, comp: ci visibility

#6151 Fix forked JVM args duplication when auto-configuring Gradle test tasks
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
Labels: type: bug, comp: ci visibility

#6139 Fix CI Visibility to work with DD Admission Controller
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
Labels: type: bug, comp: ci visibility

#6155 guard operation and resource name encoding properly when encoding is disabled
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: tag: no release notes, comp: profiling

#6157 more heap for muzzledoc
  .circleci/config.continue.yml.j2
Labels: tag: no release notes

#6154 Fix accessing array field by reflection
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot19.java
Labels: type: bug, comp: debugger

#6158 Revert "Append sql comments instead of prepend to prevent exceptions on CallableStatements"
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/SQLCommenter.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/SQLCommenterTest.groovy
Labels: tag: no release notes

#6159 Add test for object array
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot19.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6136 Move RecordingData related classes to internal-api module
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/main/java/com/datadog/profiling/auxiliary/ddprof/AuxiliaryDatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryImplementation.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingData.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingStreams.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingDataTest.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/TestAuxiliaryProfilerImplementation.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/test/java/com/datadog/profiling/controller/ddprof/DatadogProfilerControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/test/java/com/datadog/profiling/controller/ddprof/DatadogProfilerOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkRecordingData.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller-oracle/src/main/java/com/datadog/profiling/controller/oracle/OracleJdkRecordingData.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/OngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilingSystem.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/ProfilingSystemTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerRecording.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerRecordingData.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerRecordingTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/CompressingRequestBody.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/util/JfrCliHelper.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/CompressingRequestBodyTest.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/util/JfrCliHelperTest.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/profiling/RecordingData.java
  internal-api/src/main/java/datadog/trace/api/profiling/RecordingDataListener.java
  internal-api/src/main/java/datadog/trace/api/profiling/RecordingInputStream.java
  internal-api/src/main/java/datadog/trace/api/profiling/RecordingType.java
  internal-api/src/test/java/datadog/trace/api/profiling/RecordingInputStreamTest.java
Labels: tag: no release notes, comp: profiling

#6131 Switch default propagation style from datadog to datadog,tracecontext
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: context propagation

#6169 Bump ddprof dep to 0.83.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6138 Add multiple context extraction support
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, comp: context propagation

#6164 Improve snapshot pruning algorithm
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SnapshotPruner.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SnapshotSlicer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotPrunerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotSlicerTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_0.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_1.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_2.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_0.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_1.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_2.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_3.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_4.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_pruned0.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_pruned1.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_pruned2.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_pruned3.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_pruned4.json
Labels: type: enhancement, comp: debugger

#6172 Remove @Deprecated from Config
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: core, tag: no release notes

#6167 Add limits on dynamic log message
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StringTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ValueScriptHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/StringTemplateBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ValueScriptHelperTest.java
Labels: comp: debugger

#6176 Upgrade to ddprof 0.84.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6177 Ignore alpha builds of org.apache.maven.resolver 2.x
  dd-java-agent/instrumentation/maven-3.2.1/build.gradle
Labels: tag: no release notes

#6161 Enable 128-bit trace identifier generation by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: core

#6170 Make sure AbstractServletInputStreamWrapper does not propagate exceptions
  internal-api/src/main/java/datadog/trace/api/http/StoredByteBody.java
  internal-api/src/main/java/datadog/trace/api/http/StoredCharBody.java
  internal-api/src/test/groovy/datadog/trace/api/http/StoredByteBodyTest.groovy
Labels: type: bug, comp: asm waf

#6179 Avoid calculate Kafka message size when DSM is not enabled
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/Utils.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
Labels: tag: no release notes, inst: kafka

#6180 Add tests for synthetic vars on span deco probes
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6174 Fix NPE when instrumenting Gradle projects that have no 'main' source set
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.groovy
Labels: type: bug, comp: ci visibility

#6178 Add support for synthetic vars for metric probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: type: enhancement, comp: debugger

#6104 Add span operation naming convention
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelConventions.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
  dd-smoke-tests/play-2.8-otel/app/actions/AbstractAction.java
  dd-smoke-tests/play-2.8-otel/app/filters/AbstractFilter.java
  dd-smoke-tests/play-2.8-otel/src/test/groovy/datadog/smoketest/Play28OTelSmokeTest.groovy
Labels: type: enhancement, tag: breaking change, inst: opentelemetry

#6185 disable symdb tests for IBM JVM
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6175 Update keyword hardcoded list
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
Labels: tag: no release notes, comp: debugger

#6188 Fix OpenTracing tests for 128-bit trace identitifer
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
Labels: tag: no release notes, comp: opentracing

#6190 Fix AWS SDK latestDepTests
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/AWS1ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/LegacyAWS1ClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-1.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sqs-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/LegacySqsClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/build.gradle
Labels: tag: no release notes, inst: aws sdk

#6116 Couchbase query normalization
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestSpan.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestSpan.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/test/groovy/CouchbaseClient32Test.groovy
Labels: inst: others, tag: security

#6196 Add smoke tests for probes with conditions
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6191 Add caught/uncaught exception smoke tests
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/DebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6166 Update default versions of DD Javac plugin and Jacoco plugin injected by CI Visibility
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: ci visibility

#6199 Update system-tests to 6998b307ce0e8d206ca6eb99045651dcc8bc853f
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6183 Fix error when trying to get class stream for Mockito mocks
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/Utils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
Labels: type: bug, comp: ci visibility

#6182 Fix error when serializing skippable tests whose names contain non-ASCII characters
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/SkippableTestsSerializer.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/SkippableTestsSerializerTest.groovy
Labels: type: bug, comp: ci visibility

#6168 Fail fast when tracer versions do not match in parent and child processes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#6189 Add x-datadog-trace-id header to ITR backend requests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
Labels: comp: ci visibility

#6203 Add line probe tracer smoke tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6205 Ensure OpenTelemetry span kind is set
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
  dd-smoke-tests/play-2.8-otel/src/test/groovy/datadog/smoketest/Play28OTelSmokeTest.groovy
Labels: type: enhancement, inst: opentelemetry

#6200 Exclude net.jodah.failsafe from IAST
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#6192 Fix CI Visibility Manual API to not fail when there is no tracer injected
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/CIVisibility.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/noop/NoOpDDTest.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/noop/NoOpDDTestModule.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/noop/NoOpDDTestSession.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/noop/NoOpDDTestSuite.java
Labels: type: bug, comp: ci visibility

#6193 Optimize trace context extraction
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
Labels: tag: performance, comp: context propagation

#5616 Add span links support to OpenTelemetry instrumentation
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanLink.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: enhancement, inst: opentelemetry

#6162 Add caching to JVM info factory
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CachingJvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/JvmInfoFactoryTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#6195 Add custom test fingerprint tags to ITR requests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationsJson.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/config/Configurations.java
Labels: comp: ci visibility

#6124 Implement configuration-cache support in Gradle instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerProvider.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPlugin.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServicesInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradlePluginInjectorInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/JavaCompilerPluginArgumentsProvider.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/TracerArgumentsProvider.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleUtils.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: comp: ci visibility

#6211 Update the OpenTelemtry default operation name
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelConventions.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
Labels: tag: no release notes, inst: opentelemetry

#6186 Context propagation improvements
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, tag: do not merge, comp: core, comp: context propagation

#6209 Fix SQL Server connection instrumentation driver class allow list
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DBMCompatibleConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DefaultConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/SQLServerConnectionInstrumentation.java
Labels: comp:database

#6212 Upgrade to ddprof 0.85.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6147 Add google pubsub instrumentation
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/google-pubsub/build.gradle
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/MessageReceiverWithAckResponseWrapper.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/MessageReceiverWrapper.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PubSubDecorator.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PublisherInstrumentation.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/ReceiverInstrumentation.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/ReceiverWithAckInstrumentation.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/MessagingNamingV1.java
  settings.gradle
Labels: type: feature request, inst: others, tag: experimental

#6218 Revert "Upgrade to ddprof 0.85.0"
  gradle/dependencies.gradle
Labels: tag: no release notes, comp: profiling

#6204 Ensure grpc message handler generates telemetry metrics
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/GrpcRequestMessageHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: comp: asm iast

#6219 fix flaky couchbase test
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6184 expose remote peer info for grpc client spans
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
Labels: type: enhancement, inst: grpc

#6221 change default safemode to avoid last Java pc retry strategy
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: comp: profiling

#6227 Exclude VertX 4.4.+. Fix Java release param issue
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/build.gradle
  dd-java-agent/instrumentation/vertx-web-4.0/build.gradle
Labels: tag: no release notes, inst: vertx, comp: tooling

#6057 Report internal errors/exceptions via telemetry
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLogger.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDTelemetryLogger.java
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDTelemetryLoggerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/LogCollector.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackUtils.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  internal-api/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/LogMessage.java
  telemetry/src/main/java/datadog/telemetry/api/LogMessageLevel.java
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/log/LogFilteringTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
  telemetry/src/test/java/datadog/telemetry/log/ExceptionHelper.java
  telemetry/src/test/resources/telemetry_intake_emu.py
Labels: comp: telemetry

#6224 Update ddprof to 0.86.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6229 Support remote logging over logback's SocketAppender
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/UnionMap.java
Labels: comp: logging

#6223 surface cause when DD profiler can't be instantiated
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: comp: profiling

#6123 IAST support for Spring with gson
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/InputStreamReaderCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/InputStreamReaderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestInputStreamReaderSuite.java
  dd-java-agent/instrumentation/spring-core/build.gradle
  dd-java-agent/instrumentation/spring-core/src/main/java/datadog/trace/instrumentation/springcore/StreamUtilsInstrumentation.java
  dd-java-agent/instrumentation/spring-core/src/test/groovy/datadog/trace/instrumentation/springcore/StreamUtilsInstrumentationTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractGsonIastSpringBootSmokeTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/build.gradle
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/GsonIastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/GsonIastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  settings.gradle
Labels: comp: asm iast

#6235 Fix module name calculation for test executions whose working dir is outside of project repository
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
Labels: type: bug, comp: ci visibility

#6232 Store OpenTelemetry span kind as tag instead of span type
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelConventions.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
Labels: type: bug, tag: breaking change, inst: opentelemetry

#3877 [data streams] Log config
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
Labels: comp: data streams

#6238 implement ForKnownTypes
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/CommonsFileuploadInstrumenter.java
Labels: tag: no release notes

#6156 Add DSM for google pubsub
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PubSubDecorator.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PublisherInstrumentation.java
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/TagsProcessor.java
Labels: inst: others, comp: data streams

#6217 Update system-tests to 4e82927b4c93b78339a3e9d89b41b6dce7790075
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6245 Upgrade ddprof to 0.87.0
  gradle/dependencies.gradle
Labels: tag: dependencies, comp: profiling

#6117 disable DBM full propagation for oracle & sql server
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/DBInfo.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/AbstractPreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCDecoratorTest.groovy
Labels: comp:database

#6246 Update docker builder image
  .circleci/render_config.py
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#6252 Add Remote Config based enablement for Symbol DB
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/JarScanner.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDbRemoteConfigRecord.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolAggregator.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractionTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/JarScannerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/resources/debugger-symbol.jar
  internal-api/src/main/java/datadog/trace/api/Config.java
  remote-config/src/main/java/datadog/remoteconfig/Product.java
Labels: type: enhancement, comp: debugger

#6239 Store OpenTelemetry span kind as tag instead of span type and drop reserved attributes from span tags
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelConventions.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
Labels: type: bug, tag: breaking change, inst: opentelemetry

#6256 Fix race for SymDB enablement
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolAggregator.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
Labels: tag: no release notes, comp: debugger

#6257 Update system-tests to 268c7ddfba2c45085dc29434e677ff13307445ef
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6255 Upgrade ddprof to 0.88.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6263 Handle WellKnown classes as primitives in EL
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_10.json
Labels: comp: debugger

#6258 Adjust range for sampling smoke test
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6260 Make timeout error explicit on log serialization
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6266 Upgrade jnr-unixsocket to 0.38.21, jnr-posix to 3.1.18
  gradle/dependencies.gradle
Labels: tag: dependencies

#6165 Add IAST support for org.json
  dd-java-agent/instrumentation/org-json/build.gradle
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONArrayInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONCookieInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONObjectInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONTokenerInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/test/groovy/JSONArrayInstrumentationTest.groovy
  dd-java-agent/instrumentation/org-json/src/test/groovy/JSONCookieInstrumentationTest.groovy
  dd-java-agent/instrumentation/org-json/src/test/groovy/JSONObjectInstrumentationTest.groovy
  dd-java-agent/instrumentation/org-json/src/test/groovy/JSONTokenerInstrumentationTest.groovy
  settings.gradle
Labels: comp: asm iast

#6264 Add support of `@exception` for uncaught exception
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferences.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IsUndefinedExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsUndefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_10.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_11.json
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
Labels: type: enhancement, comp: debugger

#6270 Fix inner class signature matching
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/Where.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/TypesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/WhereTest.java
Labels: type: bug, comp: debugger

#6251 Implement coverage for Cucumber .feature files
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/CompilerAidedSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/NoOpSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/ConventionBasedResourceResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/ResourceResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/SourceType.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/ConventionBasedResourceResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/MockCoverageProbeStore.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/java/org/example/cucumber/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/groovy/CucumberTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbeStore.java
Labels: comp: ci visibility

#6275 Remove user info from SSH git repo urls
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/azurepipelines.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitbucket.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitrise.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buddy.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buildkite.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/circleci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/codefresh.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/github.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/gitlab.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/jenkins.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/teamcity.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/usersupplied.json
  internal-api/src/main/java/datadog/trace/api/git/GitUtils.java
  internal-api/src/test/groovy/datadog/trace/api/git/GitUtilsTest.groovy
Labels: comp: ci visibility

#6249 Spring scheduling: have actuator display the right task class name
  dd-java-agent/instrumentation/spring-scheduling-3.1/build.gradle
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingInstrumentation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/groovy/SpringSchedulingTest.groovy
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/java/TriggerTaskConfig.java
Labels: type: bug, inst: spring

#6279 Change Spring Security ownership to ASM
  .github/CODEOWNERS
Labels: tag: no release notes, comp: tooling

#6278 Exclude OAuth from Spring Security instrumentation
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
Labels: type: bug, comp: asm waf

#6265 Add GraalVM native image build instructions
  CONTRIBUTING.md
Labels: type: documentation

#6250 Replace code-based asserts with template-based asserts in Maven smoke tests
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-smoke-tests/maven/build.gradle
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/CiVisibilitySmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/src/test/java/datadog/smoke/calculator/CalculatorSteps.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/src/test/resources/datadog/smoke/basic_arithmetic.feature
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/events.ftl
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
Labels: comp: testing, tag: no release notes, comp: ci visibility

#6277 Fix race in Spring Security instrumentation (hideUserNotFoundExceptions)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/UsernameNotFoundExceptionInstrumentation.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/AbstractUserDetailsAuthenticationProviderAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/UsernameNotFoundExceptionAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
Labels: type: bug, comp: asm waf

#6294 Allow Jacoco auto-instrumentation even when ITR is disabled
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#6282 Test native-image builds have no ClassNotFoundException
  dd-smoke-tests/spring-boot-3.0-native/src/test/groovy/SpringBootNativeInstrumentationTest.groovy
Labels: tag: no release notes, comp: native-image

#6293 Fix spring-boot-3.0-native gradle dependencies
  dd-smoke-tests/spring-boot-3.0-native/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-native/build.gradle
Labels: tag: no release notes, comp: tooling, comp: native-image

#6296 Reduce ITR overhead on default branches
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
Labels: comp: ci visibility

#6292 Telemetry API cleanup
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDTelemetryLogger.java
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDTelemetryLoggerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/telemetry/IntegrationsCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/LogCollector.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/CoreMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/IntegrationsCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/LogCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  telemetry/src/main/java/datadog/telemetry/integration/IntegrationPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/integration/IntegrationPeriodicActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/log/LogFilteringTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
Labels: tag: no release notes, type: refactoring, comp: telemetry

#6262 Configuration changes to support triage mode
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: tag: diagnostics
