Repository DataDog/dd-trace-java, pull requests merged in 2023-01, with the labels that each got.

#4474 Guard against agent being initialized twice
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
Labels: core

#4478 Add null literal support
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_06.json
Labels: debugger

#4458 AgentCLI command to debug detected dependencies
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentJar.java
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
Labels: telemetry

#4482 Miscellaneous instrumentation cleanup
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmark.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkInstrumentation.java
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CalleeBenchmarkInstrumentation.java
  dd-java-agent/agent-tooling/src/jmh/resources/META-INF/services/datadog.trace.agent.tooling.Instrumenter
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumentation.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/agent-tooling/src/test/resources/META-INF/services/datadog.trace.agent.tooling.csi.TestCallSiteAdvice
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/AbstractHibernateInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/CriteriaInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/QueryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/SessionFactoryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/SessionInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/TransactionInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/AbstractHibernateInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/CriteriaInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/QueryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/SessionFactoryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/SessionInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/TransactionInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_3/ProcedureCallInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_3/SessionInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileOutputStreamCallSite.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DataSourceInstrumentation.java
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/DecodedFormParametersInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/src/main/java/datadog/trace/instrumentation/scala210/concurrent/CallbackRunnableInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/src/main/java/datadog/trace/instrumentation/scala210/concurrent/FutureObjectInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/src/main/java/datadog/trace/instrumentation/scala210/concurrent/PromiseObjectInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala213/concurrent/DefaultPromiseInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala213/concurrent/FutureObjectInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala213/concurrent/PromiseObjectInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala213/concurrent/PromiseTransformationInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/ServletContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RequestImplInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/iast/IastAdvice.java
Labels: no release notes, refactoring

#4483 Decouple muzzle matching
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/MuzzleMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceMatcher.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/muzzle/TestInstrumentationClasses.java
Labels: no release notes, refactoring

#4485 Refactor context field checks to avoid conjunction object
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/InjectContextFieldMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/ShouldInjectFieldsMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/ShouldInjectFieldsState.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactoryForkedTest.groovy
Labels: no release notes, refactoring

#4491 Turn off remote-config during field-injection / log-injection smoke tests
  dd-smoke-tests/field-injection/src/test/groovy/datadog/smoketest/FieldInjectionSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Labels: dev/testing, no release notes

#4484 Load instrumentation classes in separate classloader so they can be unloaded after use
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/InstrumentationClassLoader.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/InstrumenterUnloadTest.groovy
  dd-java-agent/src/test/java/jvmbootstraptest/UnloadingChecker.java
Labels: do-not-merge/WIP

#4444 Provide access to the original location of TypeDescriptions
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ClassFileLocators.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/TypeInfoCache.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypePoolFacade.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/WithLocation.java
Labels: efficiency, refactoring

#4498 Add index operator in Expression Language
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IndexExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_07.json
Labels: debugger

#4475 Add _dd.iast.enabled tag to custom spans
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastTag.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastTagTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Labels: no release notes, iast

#3951 Taint propagation for String.trim
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/IastModuleImplOnStringTrimTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: no release notes, iast

#4502 New propagation settings to master
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HelperMethods.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientRequestTracingHandler.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/PropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: no release notes, context-propagation

#4504 merge master into project/w3c-propagation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/IastModuleImplOnStringTrimTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: no release notes

#4506 Detect process-id on Java 8 via ManagementFactory instead of JNR/POSIX
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/PosixPidSupplier.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/PidHelperTest.groovy
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/test/java/datadog/trace/util/PidHelperForkedTest.java
Labels: performance

#4476 Fix evaluation error reporting for merged probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: debugger

#4492 Merge snapshot probe into log probe config
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/EnvironmentAndVersionChecker.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SnapshotProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/EnvironmentAndVersionCheckerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/ProbeDefinitionTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_empty_probe.json
  dd-java-agent/agent-debugger/src/test/resources/test_empty_probe_with_poll_interval.json
  dd-java-agent/agent-debugger/src/test/resources/test_fleet_probes.json
  dd-java-agent/agent-debugger/src/test/resources/test_fleet_probes_jsonapi.json
  dd-java-agent/agent-debugger/src/test/resources/test_probe.json
  dd-java-agent/agent-debugger/src/test/resources/test_probe2.json
  dd-java-agent/agent-debugger/src/test/resources/test_probe_conditional.json
  dd-java-agent/agent-debugger/src/test/resources/test_template_id_config.json
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: debugger

#4455 Update IAST overhead rates
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: no release notes, iast

#4490 Add configuration timeout for the WAF
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: appsec

#4473 Ignore org.springframework.web.util.WebUtils from exclusion list
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/model/TestBean.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: no release notes, iast

#4517 move JFR code out of dd-trace-core
  .circleci/config.yml
  .github/CODEOWNERS
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFRCheckpointer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/EndpointEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/SafeToLoadJFRCheckpointerTest.java
  dd-java-agent/agent-profiling/profiling-utils/build.gradle
  dd-java-agent/agent-profiling/profiling-utils/src/main/java/com/datadog/profiling/utils/ExcludedVersions.java
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TestEndpointCheckpointer.groovy
  dd-trace-core/jfr-openjdk/build.gradle
  dd-trace-core/jfr-openjdk/src/main/java/datadog/trace/core/jfr/openjdk/ExcludedVersions.java
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/ExcludedVersionsTest.groovy
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/JfrCheckpointerTest.groovy
  dd-trace-core/jfr-openjdk/src/test/groovy/datadog/trace/core/jfr/openjdk/SafeToLoadJFRCheckpointerTest.groovy
  dd-trace-core/jfr-openjdk/src/test/java/datadog/trace/core/jfr/openjdk/JfrHelper.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/EndpointTracker.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/EndpointCheckpointer.java
  internal-api/src/main/java/datadog/trace/api/EndpointCheckpointerHolder.java
  internal-api/src/main/java/datadog/trace/api/EndpointTracker.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/EndpointCheckpointerHolderTest.groovy
  settings.gradle
Labels: no release notes, refactoring, profiling

#3997 String taint tracking - repeat method
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/main/java/datadog/trace/instrumentation/java/lang/jdk11/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/groovy/datadog/trace/instrumentation/java/lang/jdk11/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/java/foo/bar/TestStringJDK11Suite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Labels: no release notes, iast

#4530 Fix issue resolving dependency with empty artifactId
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencySpecification.groovy
Labels: bug, telemetry

#4533 fix and log async-profiler activation
  dd-java-agent/agent-profiling/profiling-auxiliary/build.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryProfiler.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/AuxiliaryProfilerTest.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#4481 Add validation for git metadata env vars
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/TestDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/TestDecoratorTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/AppVeyorInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/AzurePipelinesInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/BitBucketInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/BitriseInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/BuddyInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/BuildkiteInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfoFactory.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CITagsProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CITagsProviderImpl.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/CircleCIInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/GitLabInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/GithubActionsInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/JenkinsInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/TravisInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/UnknownCIInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/CommitInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/GitInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/GitUtils.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/PersonInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/info/CILocalGitInfoBuilder.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/git/info/UserSuppliedGitInfoBuilder.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/utils/PathUtils.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/AppVeyorInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/AzurePipelinesInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/BitBucketInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/BitriseInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/BuddyInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/BuildkiteInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CIProviderInfoFactoryTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CITagsProviderImplTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/CircleCIInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/GitLabInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/GithubActionsInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/JenkinsInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/TravisInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/UnknownCIInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/UserSuppliedCIInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/UserSuppliedGitInfoBuilderTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/git/GitInfoTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/git/GitUtilsTest.groovy
Labels: ci-visibility

#4503 Implement CODEOWNERS parsing and matching
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/Codeowners.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/Entry.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/EntryBuilder.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/AsteriskMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/CharacterMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/CompositeMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/DoubleAsteriskMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/EndOfLineMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/EndOfSegmentMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/Matcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/NegatingMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/QuestionMarkMatcher.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/ci/codeowners/matcher/RangeMatcher.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/codeowners/CodeownersTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/ci/codeowners/EntryBuilderTest.groovy
  internal-api/src/test/resources/ci/codeowners/CODEOWNERS
Labels: no release notes, ci-visibility

#4525 Set error in instrumented span on exception
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerSpan.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTracer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTracerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: debugger

#4534 Fix method log probes at same location
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
Labels: debugger

#4542 Use version 1.1.2 of aws dependency to avoid broken metadata
  dd-java-agent/instrumentation/aws-java-sqs-1.0/build.gradle
Labels: no release notes, dev/build

#4515 Delay activating next iteration scope when SQS polling until after netty call is complete
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
Labels: integrations, aws-sdk

#4544 Upgrade ASM version to 9.4
  gradle/dependencies.gradle
Labels: debugger

#4546 Remove redundant reflection in MuzzleVersionScanPlugin.printMuzzleReferences
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
Labels: dev/tooling, no release notes

#4547 byte-buddy 1.12.22
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#4548 Cleanup IAST Instrumenters
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
Labels: no release notes, refactoring

#4550 Share instrumenter descriptions when logging failed checks
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
Labels: no release notes, refactoring

#4549 Cleanup structureMatcher return type
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/BasicFutureInstrumentation.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/HttpAsyncClientExchangeHandlerInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HttpAsyncClientExchangeHandlerInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/QueueBufferConfigInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/mongo/bson-document/src/main/java/datadog/trace/instrumentation/mongo/ByteBufBsonDocumentInstrumentation.java
  dd-java-agent/instrumentation/mongo/driver-3.1/src/main/java/datadog/trace/instrumentation/mongo/MongoClient31Instrumentation.java
  dd-java-agent/instrumentation/mongo/driver-3.4/src/main/java/datadog/trace/instrumentation/mongo/MongoClient34Instrumentation.java
Labels: no release notes, refactoring

#4551 Miscellaneous matcher cleanup
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/InjectContextFieldMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/MuzzleMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
Labels: no release notes, refactoring

#4558 Add ProbeId as metric tag
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: debugger

#4554 Do not exclude IAST instrumentation in com.datadog.demo
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: no release notes, asm-iast

#4543 Refactor BeanFactory advice so we can repair other injected bean definitions
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/BeanDefinitionRepairer.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/BeanFactoryInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HandlerMappingResourceNameFilter.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/WebApplicationContextInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/OrderedServletPathRequestFilter.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/ServletPathRequestFilterInstrumentation.java
  dd-smoke-tests/wildfly/build.gradle
  dd-smoke-tests/wildfly/spring-ear/.gitignore
  dd-smoke-tests/wildfly/spring-ear/build.gradle
  dd-smoke-tests/wildfly/spring-ear/settings.gradle
  dd-smoke-tests/wildfly/spring-ear/war/build.gradle
  dd-smoke-tests/wildfly/spring-ear/war/src/main/java/com/example/hello/HelloController.java
  dd-smoke-tests/wildfly/spring-ear/war/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  dd-smoke-tests/wildfly/spring-ear/war/src/main/webapp/WEB-INF/web.xml
  dd-smoke-tests/wildfly/src/test/groovy/datadog/smoketest/WildflySmokeTest.groovy
Labels: integrations, spring

#4553 Update ASM event rules to v1.4.3
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: asm-waf

#4564 Java profiler library 0.10.0
  gradle/dependencies.gradle
Labels: profiling

#4563 Add client span without context health metric
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
Labels: metrics

#4557 AppSec: support blocking on Ratpack
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/BlockRequestHandler.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/ServerRegistryInstrumentation.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/TracingHandler.java
  dd-java-agent/instrumentation/ratpack-1.5/src/test/groovy/server/RatpackHttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: asm-waf

#4565 implement profiler context tagging API
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-ddprof/build.gradle
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/experimental/ProfilingContext.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/build.gradle
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: profiling

#4556 Add prettyPrint method in Expressions
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Expression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/BinaryExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/BooleanExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ComparisonExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/FilterCollectionExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/GetMemberExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAllExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAnyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IfElseExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IfExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IndexExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IsEmptyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IsUndefinedExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/NotExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/WhenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/BooleanValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/MapValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/NullValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/NumericValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ObjectValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/StringValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/UndefinedValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/BinaryExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/FilterCollectionExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IfElseExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsEmptyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsUndefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/LenExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/NotExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/BooleanValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/ListLiteralTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/ListValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueEmptyTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueNullTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueUndefinedTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/NumericValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/ObjectValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/StringValueTest.java
Labels: no release notes, debugger

#4567 Use org.springframework.experimental.aot snapshot…
  dd-smoke-tests/spring-native/application/build.gradle
  dd-smoke-tests/spring-native/application/settings.gradle
Labels: dev/tooling, no release notes

#4571 Refactor Datadog propagation tags
  dd-java-agent/instrumentation/opentelemetry/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentelemetry/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogPropagationTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
Labels: no release notes, refactoring

#4574 enable wallclock profiler by default, add config flags
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: profiling

#4580 updated dynamic profiler context attributes
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/experimental/ProfilingContext.java
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: profiling

#4568 Add report of index expression error
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferenceResolver.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IndexExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
Labels: debugger

#4569 Add default rate limit for not capturing Log probe
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
Labels: debugger

#4519 Update muzzle to run on Gradle's WorkerExecutor
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPluginTest.groovy
Labels: dev/tooling, no release notes

#4552 Support alternative agent install
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AbstractTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/LegacyTransformerBuilder.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/test/DefaultInstrumenterForkedTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: no release notes, refactoring

#4531 Add suspicious request blocking for ASM
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecUserConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecUserConfigDeserializer.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CollectedUserConfigs.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/MergedAsmData.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecRuleTogglingDeserializerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecUserConfigDeserializerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/test/StubAppSecConfigService.groovy
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationEndListener.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: asm-waf, remote-config

#4583 Add well known classes as primitive-like objects
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
Labels: debugger

#4578 Support combining instrumenter matchers
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AdviceStack.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/MatchRecorder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/SplittingTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/KnownTypesIndex.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextMatcher.java
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/build.gradle
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/util/ClassNameTrie.java
Labels: performance, refactoring

#3907 Ignore everything under BOOTSTRAP_PACKAGE_PREFIXES when recording muzzle references
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
  dd-java-agent/build.gradle
Labels: performance

#4589 fix profiler version when the profiler hasn't loaded
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: bug, profiling

#4590 Optimization: assume there is only one version of 'java.*' classes in the JVM process
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Labels: performance

#4593 remove context tracker
  dd-java-agent/agent-profiling/build.gradle
  dd-java-agent/agent-profiling/profiling-context/build.gradle
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/Allocator.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/IntervalEncoder.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/IntervalSequencePruner.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/JfrTimestampPatch.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/LEB128Support.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/LongIterator.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/LongSequence.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTracker.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PerSpanTracingContextTrackerFactory.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/PositionDecoder.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/StatsDAccessor.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/AllocatedBuffer.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/Allocators.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/direct/Chunk.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/direct/DirectAllocatedBuffer.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/direct/DirectAllocator.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/heap/HeapAllocatedBuffer.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java/com/datadog/profiling/context/allocator/heap/HeapAllocator.java
  dd-java-agent/agent-profiling/profiling-context/src/main/java11/com/datadog/profiling/context/JfrTimestampPatchImpl.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/AllocatorsTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalEncoderTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalParser.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/IntervalSequencePrunerTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/LEB128SupportTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/LongSequenceTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PerSpanTracingContextTrackerFactoryTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PerSpanTracingContextTrackerTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/PositionDecoderTest.java
  dd-java-agent/agent-profiling/profiling-context/src/test/java/com/datadog/profiling/context/TestSpan.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/HttpAsyncClientExchangeHandlerInstrumentation.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HttpAsyncClientExchangeHandlerInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/TraceContinuedFutureCallback.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/Event.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TimelinePrinter.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TimelineTracingContextTracker.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  internal-api/src/main/java/datadog/trace/api/profiling/TracingContextTracker.java
  internal-api/src/main/java/datadog/trace/api/profiling/TracingContextTrackerFactory.java
  internal-api/src/main/java/datadog/trace/api/profiling/TransientProfilingContextHolder.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/profiling/TracingContextTrackerFactoryTest.groovy
  internal-api/src/test/java/datadog/trace/api/profiling/TestTracingContextTracker.java
  internal-api/src/test/java/datadog/trace/api/profiling/TestTracingContextTrackerFactory.java
  settings.gradle
Labels: profiling

#4591 profiler availability check
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/main/java/com/datadog/profiling/auxiliary/ddprof/AuxiliaryDatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: profiling

#4573 feat(grpc): Improve error status handling
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
Labels: grpc

#4197 substitute jsch fork
  build.gradle
Labels: no release notes, dev/build

#4513 Handle mapped baggage keys as case sensitive
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
Labels: community, context-propagation

#4497 Add flag to disable sending dependencies to telemetry
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/DisabledDependencyServiceTest.groovy
Labels: telemetry

#4581 Blocking on netty and grizzly
  dd-java-agent/appsec/src/main/resources/default_config.json
  dd-java-agent/instrumentation/grizzly-2/build.gradle
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyBlockingHelper.java
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyHttpHandlerInstrumentation.java
  dd-java-agent/instrumentation/grizzly-2/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/build.gradle
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/DefaultFilterChainInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/GrizzlyDecorator.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/GrizzlyHttpBlockingHelper.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/HttpCodecFilterAdvice.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/HttpCodecFilterInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/HttpServerFilterInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/BlockingResponseHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/test/groovy/Netty38ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/BlockingResponseHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/test/groovy/Netty40ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/BlockingResponseHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/test/groovy/Netty41ServerTest.groovy
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/BlockRequestHandler.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/ServerRegistryInstrumentation.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/TracingHandler.java
  dd-java-agent/instrumentation/ratpack-1.5/src/test/groovy/server/RatpackHttpServerTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/DecodedFormParametersInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: asm-waf

#4520 Consider Baggage when creating new root traces
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/ProxyRequestHelperTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: community, context-propagation

#4612 fix IDE error because of ambiguity
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: no release notes

#4603 Add partial key cache to enable cache lookup from parts of keys
  internal-api/src/main/java/datadog/trace/api/cache/CHMCache.java
  internal-api/src/main/java/datadog/trace/api/cache/DDCache.java
  internal-api/src/main/java/datadog/trace/api/cache/DDCaches.java
  internal-api/src/main/java/datadog/trace/api/cache/DDPartialKeyCache.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeCache.java
  internal-api/src/test/groovy/datadog/trace/api/cache/FixedSizeCacheTest.groovy
Labels: core, no release notes

#4614 Fix 1-click activation for appsec without accompanying ASM_DD configuration
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: bug, asm-waf, remote-config

#4604 Fix inner classes matching for line probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ClassesToRetransformFinder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationComparer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/SourceFileTrackingTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/TransformerDefinitionMatcher.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassFileHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/InnerHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SourceFileTrackingTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassFileHelperTest.java
Labels: debugger

#4620 pin buildx version for publishing to GCP
  .github/workflows/lib-injection.yaml
Labels: no release notes, dev/build, kubernetes

#4600 Support Jakarta servlet in IAST
  dd-java-agent/instrumentation/servlet/request-5/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/JakartaTestSuite.java
Labels: no release notes, asm-iast

#4625 Fix lib-injection tests (system-tests)
  .github/workflows/lib-injection.yaml
Labels: dev/testing, no release notes

#4627 Add flag to disable collection of exception messages in exception profiling
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampleEvent.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#4629 Fix NPE when the configured log file doesn't have a path (current directory)
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/simplelogger/SLCompatSettings.java
Labels: bug
