Repository DataDog/dd-trace-java, pull requests merged in 2023-06, with the labels that each got.

#5304 Fix NPE on tomcat with appsec inactive [1.15.x backport]
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/InactiveAppSecTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServer.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ParameterCollector.java
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ParsePartsInstrumentation.java
Labels: bug, asm-waf

#5305 Fix TestNG integration for TESTS parallel mode
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGClassListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/testng-7.5/src/main/java/datadog/trace/instrumentation/testng75/TestNGClassListenerInstrumentation.java
Labels: bug, ci-visibility

#5303 Fix TestNG integration for TESTS parallel mode
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGClassListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/testng-7.5/src/main/java/datadog/trace/instrumentation/testng75/TestNGClassListenerInstrumentation.java
Labels: bug, ci-visibility

#5306 Fix handling of local variable table
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot23.java
Labels: debugger

#5309 Fix NullPointerException in map/list serialization
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
Labels: debugger

#5319 Reset oldest capture time on JMS message-ack
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/SessionState.java
Labels: integrations, jms

#5317 Disabled v05 by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: core

#5318 Fix Collection/Map serialization
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
Labels: debugger

#5325 Disabled v05 by default (#5317)
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: core, no release notes

#5302 allow removal of fake services in v0
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/test/groovy/JMS1Test.groovy
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamsDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/CacheNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/ClientNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/CloudNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/DatabaseNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/MessagingNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/NamingSchemaV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/NamingSchemaV1.java
  internal-api/src/test/groovy/datadog/trace/api/naming/NamingV0ForkedTest.groovy
Labels: no release notes

#5324 Update system-tests to 1aab7b726729ed4fea324169f66c36340b246558
  .circleci/config.yml
Labels: dev/testing, no release notes

#5327 Apply APM tracing overrides from remote-config
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/TracerInstaller.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  remote-config/src/main/java/datadog/remoteconfig/Product.java
Labels: core, remote-config

#5331 update default JFR event config
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkControllerTest.java
Labels: profiling

#5209 IAST insecure cookie - vertx instrumentation
  dd-java-agent/instrumentation/vertx-web-3.4/build.gradle
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/HttpServerResponseInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastVertx34Server.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/Vertx34InsecureCookieTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/IastVertxTestVerticle.java
  dd-smoke-tests/vertx-3.4/application/src/main/java/datadog/smoketest/vertx_3_4/IastHandler.java
  dd-smoke-tests/vertx-3.4/src/test/groovy/datadog/smoketest/IastVertxSmokeTest.groovy
  dd-smoke-tests/vertx-3.9/application/src/main/java/datadog/smoketest/vertx_3_9/IastHandler.java
  dd-smoke-tests/vertx-3.9/src/test/groovy/datadog/smoketest/IastVertxSmokeTest.groovy
Labels: asm-iast

#5334 Run parametric tests on larger instance with newer JVM
  .circleci/config.yml
Labels: dev/testing, no release notes

#5340 Accept any telemetry 2xx response as successful, not just 202
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: no release notes, telemetry

#5338 bump ddprof to 0.45.0
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/main/java/com/datadog/profiling/auxiliary/ddprof/AuxiliaryDatadogProfiler.java
  gradle/dependencies.gradle
Labels: profiling

#5326 Fix spark flaky test
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: dev/testing, integrations, no release notes, apache-spark

#5341 Remove leftover file and check in CI
  .circleci/config.yml
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/PathParameterPublishingHelper.java.orig
Labels: no release notes, dev/build

#5342 Use JUnit XML test results in parametric tests
  .circleci/config.yml
Labels: no release notes, dev/build

#5346 Run instrumentation check in parallel
  .circleci/config.yml
Labels: no release notes, dev/build

#5335 Support app_client_configuration_change telemetry event
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/test/groovy/datadog/trace/api/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/api/AppClientConfigurationChange.java
  telemetry/src/main/java/datadog/telemetry/api/AppStarted.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: core, telemetry

#5348 Introduced separate global rate limiter for logs
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeRateLimiter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: debugger

#5351 Use Datadog profiler on Oracle JDK8u361+
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerFactory.java
Labels: profiling

#5349 Apply any dynamically overridden header-tags to response headers as well
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/ExtractorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Labels: core

#5354 Update dynamic-config to reflect latest schema changes
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Labels: core, no release notes, refactoring

#5300 Upgrade to libddwaf 1.11.0
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFInitializationResultReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: asm-waf

#5356 byte-buddy 1.14.5
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#5355 Less verbose AppSec start log
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
Labels: asm-waf

#5361 upgrade to ddprof 0.46.0
  gradle/dependencies.gradle
Labels: profiling

#5353 Grizzly: fix req blocking not skipping handler
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyHttpHandlerInstrumentation.java
  dd-java-agent/instrumentation/grizzly-2/src/test/groovy/GrizzlyAsyncTest.groovy
  dd-java-agent/instrumentation/grizzly-2/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: asm-waf

#5362 get stack depth from Throwable stackTrace to avoid copy
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampleEvent.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java/datadog/exceptions/instrumentation/ThrowableInstrumentation.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
Labels: profiling

#5366 Upgrade to ddprof 0.47.0
  gradle/dependencies.gradle
Labels: profiling

#5370 Turn off process instrumentation when 'dd.integrations.enabled=false'
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentation.java
Labels: core, no release notes

#5329 Improve insecure cookie detection in Vert.x 3.9
  dd-java-agent/instrumentation/vertx-web-3.9/build.gradle
  dd-java-agent/instrumentation/vertx-web-3.9/src/main/java/datadog/trace/instrumentation/vertx_3_9/Vertx39HttpServertResponseInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/groovy/server/IastVertx39Server.groovy
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/groovy/server/Vertx39InsecureCookieTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/java/server/IastVertx39TestVerticle.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/IastSourcesVerticle.java
  dd-smoke-tests/vertx-3.9/src/test/groovy/datadog/smoketest/IastVertxSmokeTest.groovy
  settings.gradle
Labels: asm-iast

#5372 Generate useful error that includes the bad agent URL instead of unhelpful NullPointerExceptions
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
Labels: diagnostics

#5373 Handle when Servlet3 AsyncEvent was initialized without any ServletRequest
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/FinishAsyncDispatchListener.java
Labels: integrations

#5310 [Spark] Compute available executor time per stage
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkAggregatedTaskMetrics.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkListenerTest.groovy
Labels: integrations, apache-spark

#5374 upgrade ddprof 0.49.0, disable on OpenJDK8/aarch64
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#5321 Avoid having infinite recursive loop serialization
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot24.java
Labels: debugger

#5378 enable contextual allocation profiler by default
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Labels: profiling

#5386 Newer parametric tests with some sampling test fixes
  .circleci/config.yml
Labels: dev/testing, no release notes

#5384 Minor fixes for Quarkus Native
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
Labels: native-image

#5363 Log received config overrides as JSON
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
Labels: core, no release notes, diagnostics

#5385 Stop using LZ4 via JNI, remove lz4-java native libraries
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/CompressingRequestBody.java
  dd-java-agent/build.gradle
Labels: no release notes

#5379 Fix `this` duplicate serialization in snapshot
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeRateLimiter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
Labels: debugger

#5228 Merge DSM context extraction and reduce its public API
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/NoopDataStreamsMonitoring.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DataStreamsWritingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsMonitoringTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/NoopDataStreamsMonitoringTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentDataStreamsMonitoring.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/DataStreamsMonitoring.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopDataStreamsMonitoring.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: core, no release notes, context-propagation, data-streams

#5390 Fix spark flaky test
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: integrations, no release notes, apache-spark

#5394 Enable reloading of Config in Quarkus Native
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
Labels: native-image

#5320 Fix TestNG onBeforeClass/onAfterClass notifications for cases when only a portion of class' test methods is executed
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGClassListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGSuiteListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedThreeCases.java
Labels: bug, ci-visibility

#5352 Unvalidated redirect vertx-3.4
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/AbstractHttpServerRequestInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/Http2ServerRequestInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/HttpServerRequestInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/IastRoutingContextImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/core/HttpServerRequestInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastRoutingContextImplInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastSinksTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastSourceTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/IastVertx34Server.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/Vertx34InsecureCookieTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/IastSinksVerticle.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/IastSourceVerticle.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/IastVertxTestVerticle.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastVertxSmokeTest.groovy
  dd-smoke-tests/vertx-3.4/application/src/main/java/datadog/smoketest/vertx_3_4/IastHandler.java
  dd-smoke-tests/vertx-3.9/application/src/main/java/datadog/smoketest/vertx_3_9/IastHandler.java
Labels: no release notes, asm-iast

#5339 [serverless] json serializer skips all unsupported types
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/SkipAbstractTypeJsonSerializer.java
  dd-trace-core/src/main/java/datadog/trace/lambda/SkipUnsupportedTypeJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/SkipTypeJsonSerializerTest.groovy
Labels: no release notes, serverless

#5347 Fix request tainted metric and simplify code
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/HasDependencies.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/IastTelemetry.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/IastTelemetryImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/NoOpTelemetry.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/RequestContextWithTelemetry.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetry.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplTestBase.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestStartedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLazyTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/AbstractTelemetryCallbackTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/IastTelemetryTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestStartedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetryTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/TaintedObjectCollection.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
Labels: no release notes, asm-iast

#5414 Avoid calling ClassLoader.getParent() once we've found a class resource
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ClassFileLocators.java
Labels: core

#5396 Update system-tests to 733e06a4e535c970fc62a33c7eca7c00b52a730c
  .circleci/config.yml
Labels: dev/testing, no release notes

#5377 Wait for traces to be published before exiting if CI Visibility is enabled
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Labels: core

#5415 Fix integration name for jersey ReaderInterceptorExecutorInstrumentation
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/ReaderInterceptorExecutorInstrumentation.java
Labels: no release notes, asm-iast

#5104 Couchbase 3.x: extract seed nodes info
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CoreEnvironmentBuilderAdvice.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CoreEnvironmentBuilderInstrumentation.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CoreInstrumentation.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestSpan.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/SeedNodeHelper.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/ConnectionStringHelper.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CoreEnvironmentBuilderAdvice.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CoreEnvironmentBuilderInstrumentation.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CoreInstrumentation.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestSpan.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/SeedNodeHelper.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/test/groovy/CouchbaseClient32Test.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
Labels: integrations

#5233 Amazon Opensearch support
  dd-java-agent/instrumentation/opensearch/build.gradle
  dd-java-agent/instrumentation/opensearch/rest/build.gradle
  dd-java-agent/instrumentation/opensearch/rest/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchRestClientInstrumentation.java
  dd-java-agent/instrumentation/opensearch/rest/src/main/java/datadog/trace/instrumentation/opensearch/RestResponseListener.java
  dd-java-agent/instrumentation/opensearch/rest/src/test/groovy/OpensearchRestClientTest.groovy
  dd-java-agent/instrumentation/opensearch/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchRestClientDecorator.java
  dd-java-agent/instrumentation/opensearch/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchTransportClientDecorator.java
  dd-java-agent/instrumentation/opensearch/transport/build.gradle
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchTransportClientInstrumentation.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/ShadowExistingScopeAdvice.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/ThreadedActionListenerInstrumentation.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/TransportActionListener.java
  dd-java-agent/instrumentation/opensearch/transport/src/test/groovy/OpensearchBreakTraceInstrumentation.java
  dd-java-agent/instrumentation/opensearch/transport/src/test/groovy/OpensearchNodeClientTest.groovy
  dd-java-agent/instrumentation/opensearch/transport/src/test/groovy/OpensearchTransportClientTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
  settings.gradle
Labels: integrations

#5273 Include search body in Elaticsearch spans
  dd-java-agent/instrumentation/elasticsearch/rest-5/src/main/java/datadog/trace/instrumentation/elasticsearch5/Elasticsearch5RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/rest-6.4/src/main/java/datadog/trace/instrumentation/elasticsearch6_4/Elasticsearch6RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/rest-7/src/main/java/datadog/trace/instrumentation/elasticsearch7/Elasticsearch7RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
Labels: integrations, elasticsearch

#5417 Remove TaintedMap interface
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapEmptyBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapGetsBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapPutsBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/DefaultTaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/ObjectGen.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Labels: no release notes, refactoring, asm-iast

#5425 Use try-with-resources when reading search request body
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
  dd-java-agent/instrumentation/opensearch/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchRestClientDecorator.java
Labels: integrations, no release notes, elasticsearch

#5423 Add feature-flag to control tagging of search request body/parameters
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
  dd-java-agent/instrumentation/opensearch/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchRestClientDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, elasticsearch

#5146 Per test code coverage in CI Visibility
  .github/CODEOWNERS
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  communication/build.gradle
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ExecutionDataAdapter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SourceAnalyzer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/Utils.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/agent/test/base/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/jacoco/build.gradle
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ReflectiveMethodVisitor.java
  dd-java-agent/testing/build.gradle
  dd-java-agent/testing/src/main/java/datadog/trace/agent/test/civisibility/coverage/NoopCoverageProbeStore.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeMapperDiscovery.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbeStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/TestReport.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/TestReportFileEntry.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/TestReportHolder.java
  internal-api/src/main/java/datadog/trace/api/intake/TrackType.java
  settings.gradle
Labels: ci-visibility

#5431 Log dependency collection errors in JBoss to debug level
  telemetry/src/main/java/datadog/telemetry/dependency/JbossVirtualFileHelper.java
Labels: no release notes, telemetry

#5429 Support extending dynamic-config snapshots
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Labels: no release notes, refactoring

#5418 Fix jersey ReaderInterceptorExecutorInstrumentation base class
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/ReaderInterceptorExecutorInstrumentation.java
Labels: no release notes, asm-iast

#5404 Move CI-visibility classes from internal-api to agent-ci-visibility module
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuddyInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProviderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CodefreshInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TeamcityInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/Codeowners.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CIProviderGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  internal-api/build.gradle
Labels: refactoring, ci-visibility

#5403 Bump default max remote config payload size limit to 5Mb
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: remote-config

#5398 Implement auto-configuration for code-coverage in Maven
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuddyInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProviderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CodefreshInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TeamcityInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/Codeowners.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CIProviderGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-smoke-tests/build.gradle
  dd-smoke-tests/maven/build.gradle
  dd-smoke-tests/maven/src/main/java/datadog/smoketest/maven/MavenRunner.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_sucessful_maven_run/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_sucessful_maven_run/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/MultipartRequestParser.groovy
  internal-api/build.gradle
  settings.gradle
Labels: ci-visibility

#5432 Always call toLowerCase with explicit locale
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakRandomnessModuleImpl.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/simplelogger/SLCompatSettings.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/JfpUtils.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/CompressionType.java
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/CaseInsensitiveMap.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpClientRedirectInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageExtractAdapter.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpanBuilder.java
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/main/java/datadog/trace/instrumentation/springcloudzuul2/ZuulProxyRequestHelperInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintHttpHeadersGetAdvice.java
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapsePassthruInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/DD128bTraceId.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationStyle.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/Functions.java
  internal-api/src/main/java/datadog/trace/api/Platform.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/main/java/datadog/trace/util/TagsHelper.java
  utils/test-utils/src/main/groovy/datadog/trace/test/util/StringUtils.groovy
Labels: no release notes

#5420 Add support for snapshot pruning
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SnapshotSlicer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/SnapshotSlicerTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_0.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_1.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/largeSnapshot_2.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_0.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_1.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_2.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_3.json
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/util/smallSnapshot_4.json
Labels: debugger

#5424 Unvalidated redirect not reported if Referer header is the source
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
Labels: asm-iast

#5440 Exclude log4j 3.0.0-alpha1 from log-injection smoke tests
  dd-smoke-tests/log-injection/build.gradle
Labels: dev/testing, no release notes

#5437 More dynamic-config plumbing
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Labels: no release notes, remote-config

#5444 disable flaky tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
Labels: dev/testing, flaky-test, debugger

#5445 Fix unvalidated redirect detection in Jetty
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
Labels: asm-iast

#5439 implement queue timing using Datadog profiler, remove JFR implementation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFRTimer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/JFRTimerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/SafeToLoadJFRCheckpointerTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/resources/overrides.jfp
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/api/profiling/QueueTiming.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
Labels: profiling

#5436 Ensure safe class loading in instrumentation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/ASMHelperTest.java
Labels: no release notes, debugger

#5447 Run parametric tests with the standard runner
  .circleci/config.yml
Labels: dev/testing, no release notes

#5443 Fold stacktrace for exception
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
Labels: no release notes, debugger

#5407 Refactor CI Tags provider
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProviderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/AppVeyorInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/AzurePipelinesInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BitBucketInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BitriseInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BuddyInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/BuildkiteInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CircleCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CodefreshInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GitLabInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GithubActionsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/JenkinsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/TeamcityInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/TravisInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UnknownCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UserSuppliedCIInfoTest.groovy
Labels: no release notes, refactoring, ci-visibility

#5448 track time in FJP shared queues
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
Labels: profiling

#5422 Ensure lambda instrumentation only notifies extension once.
  dd-java-agent/instrumentation/aws-lambda-handler/build.gradle
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromInputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Labels: no release notes, serverless

#5450 Fix inserting line probe before for-loops
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LineMap.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/LineMapTest.java
Labels: debugger

#5441 Add special support for enum values
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot23.java
Labels: debugger

#5455 upgrade to ddprof 0.52.0
  gradle/dependencies.gradle
Labels: profiling

#5085 test on ubuntu openjdk17
  .circleci/config.yml
Labels: dev/testing, no release notes

#5458 Fix smoke tests
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
Labels: dev/testing, no release notes, debugger

#5462 Update label detection
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: tag: no release notes, comp: tooling

#5463 Upgrade ddprof to 0.53.0 to unlink libgcc
  gradle/dependencies.gradle
Labels: comp: profiling

#5457 Add support for double values for metric probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StatsdMetricForwarder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot25.java
Labels: comp: debugger

#5465 explicitly disable ddprof unsupported jdk versions
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: profiling

#5461 Add distribution metric for StatsDClient
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDClient.java
  communication/src/main/java/datadog/communication/monitor/LoggingStatsDClient.java
  communication/src/test/groovy/datadog/communication/monitor/DDAgentStatsDClientTest.groovy
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/DebuggerMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  internal-api/src/main/java/datadog/trace/api/NoOpStatsDClient.java
  internal-api/src/main/java/datadog/trace/api/StatsDClient.java
Labels: tag: no release notes, comp: debugger

#5469 uupgrade ddprof to 0.55.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5470 reduce number of scope activations in gRPC client instrumentation
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ManagedChannelImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AsyncPropagatingDisableInstrumentation.java
Labels: tag: performance, inst: grpc

#5471 Add a config to enable/disable live heap size tracking
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: tag: no release notes, comp: profiling

#5473 upgrade ddprof to 0.55.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5474 Fix scanDependencies CLI
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
Labels: type: bug, comp: telemetry

#5408 Implement Git data upload
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploader.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/FileUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOThrowingFunction.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/FileUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/ShellCommandExecutorTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/uploadedPackFile.pack
  dd-smoke-tests/build.gradle
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  utils/test-utils/build.gradle
  utils/test-utils/src/main/groovy/datadog/trace/test/util/MultipartRequestParser.groovy
Labels: comp: ci visibility

#5466 Support dynamic configuration of trace sampling rate
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerAPITest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Labels: type: enhancement, comp: remote config

#5477 Improve telemetry service
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/metric/WafMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Labels: type: enhancement, tag: no release notes, comp: telemetry

#5468 Fix source of flakiness in logs injection smoke test
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#5434 Implement Git repo unshallowing
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/dummy.txt
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/config
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/description
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/index
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/info/exclude
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/logs/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.idx
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/objects/pack/pack-5d8e32f4728b0c4a1ce9a1df8abf396036e42acb.pack
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/packed-refs
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/heads/master
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/refs/remotes/origin/HEAD
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/shallow/git/shallow
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#5481 Latest dynamic-config schema changes
  dd-smoke-tests/dynamic-config/src/test/groovy/datadog/smoketest/DynamicServiceMappingSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Labels: tag: no release notes, comp: remote config

#5484 fix: Fix release creation
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: type: bug, comp: tooling

#5427 Implement a mechanism to report data from children processes to parent process
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ChannelContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/Signal.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalType.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ChannelContextTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Labels: comp: ci visibility

#5486 Fix NoSameSiteCookie vulnerability name
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
Labels: comp: asm iast

#5480 Add span metrics
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/metrics/CoreCounter.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/CoreMetricsPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Labels: comp: core, tag: no release notes, comp: telemetry

#5489 wait until the remote-config change is committed before deciding we didn't receive any dynamic-config overrides
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Labels: tag: no release notes, comp: remote config

#5498 [system-tests] fix lib injection
  .github/workflows/lib-injection.yaml
Labels: tag: no release notes, comp: tooling, comp: library injection

#5491 Remove warning about unknown grpc.server.request.metadata address
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Labels: comp: asm waf

#5488 Add GitHub actions documentation
  .github/workflows/README.md
Labels: type: documentation, tag: no release notes, comp: tooling

#5496 avoid having duplicates in db.cassandra.contact.points
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/ContactPointsUtil.java
Labels: type: bug, inst: others

#5497 Add context propagation diagnostic information to debug logs
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: tag: diagnostics, comp: context propagation

#5412 Implement remote settings fetching for CI Visibility
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationsJson.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/Configurations.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/config/SkippableTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  internal-api/build.gradle
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9ExecutableSupplier.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/ProcessUtils.java
  internal-api/src/test/groovy/datadog/trace/util/ProcessUtilsTest.groovy
Labels: comp: ci visibility

#5490 Stabilise flaky Maven smoke test
  dd-smoke-tests/maven/src/main/java/datadog/smoketest/maven/MavenRunner.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: tag: no release notes, tag: flaky test, comp: ci visibility

#5504 rework queue time profiling
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskWrapperInstrumentation.java
  gradle/dependencies.gradle
Labels: comp: profiling

#5506 Skip Guava 32.1.0 from muzzle because it includes a bad gradle dependency module
  dd-java-agent/instrumentation/guava-10/build.gradle
Labels: tag: no release notes, tag: dependencies, comp: tooling

#5492 Provide instrumentation name context to span
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/http/HttpResourceDecoratorTest.groovy
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
  dd-java-agent/testing/src/test/groovy/TraceCorrelationTest.groovy
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/DDSpanHelper.java
  dd-trace-core/src/jmh/java/datadog/trace/core/PendingTraceWrite.java
  dd-trace-core/src/jmh/java/datadog/trace/core/TracerMapperMap.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTestBase.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: telemetry, inst: opentelemetry

#5508 increase unwrapping depth, add new test
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/TaskWrapper.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/TaskWrapperTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskWrapperInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/TaskWrapperTest.groovy
Labels: comp: profiling
