Repository DataDog/dd-trace-java, pull requests merged in 2023-04, with the labels that each got.

#4989 Add IAST propagation for java.net.URI
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AdviceGeneratorImpl.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/ErrorCode.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/StringBuilderInitBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteUtils.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteUtilsTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URICallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URICallSIteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURICallSiteSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/PropagationTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: asm-iast

#4996 Improvements to IAST APIs and tests
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SqlInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/source/WebModuleTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestTestRunner.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/NoopOverheadController.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/TaintMarkerHelpers.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/TaintedObjectCollection.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitor.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/IastJDBCTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/callsite/Servlet3RequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/HttpServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/TestGetParameterInstrumentation.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/iast/Taintable.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Labels: no release notes, refactoring, asm-iast

#5010 Guard against potential NPE when searching bundle wiring during shutdown
  dd-java-agent/instrumentation/osgi-4.3/src/main/java/datadog/trace/instrumentation/osgi43/BundleWiringHelper.java
Labels: integrations

#5011 byte-buddy 1.14.3 + asm 9.5
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: dependencies

#5009 Create ShedLockedTask after creating shedlock table
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/groovy/ShedlockTest.groovy
Labels: dev/testing, no release notes, flaky-test

#4972 Fix Couchbase client race condition
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestSpan.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestSpan.java
Labels: integrations

#5020 Remove -PskipBuildSrcTest
  .circleci/config.yml
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
Labels: no release notes, dev/build

#5021 Restore public DDTraceId class API
  dd-trace-api/src/main/java/datadog/trace/api/DD128bTraceId.java
  dd-trace-api/src/main/java/datadog/trace/api/DD64bTraceId.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTraceId.java
  dd-trace-api/src/test/groovy/datadog/trace/api/DDTraceIdTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3TraceId.java
Labels: core, no release notes

#5016 Refactor context evaluation & ProbeDetails
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/MethodLocation.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotSummaryBuilder.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/diagnosticsRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/multipleDiagnosticsRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/multipleSnapshotRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotCapturedValueRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithCorrelationIdsLineRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithCorrelationIdsRegex.txt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithEvalErrorRegex.txt
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
Labels: no release notes, refactoring, debugger

#5022 Protect calls to ProfilingContextIntegration in ScopeStack
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
Labels: no release notes

#5025 Upgrade WAF rules to v1.6.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: asm-waf

#5029 Remove stray println from RESTEasy IAST instrumentation
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/FormParamInjectorAdvice.java
Labels: no release notes, asm-iast

#5012 Add Windows support to call-site-instrumentation plugin
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/ext/IastExtension.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/BaseCsiPluginTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/ext/IastExtensionTest.groovy
Labels: no release notes, dev/build

#4994 Add IAST propagation for org.apache.commons.codec.binary.Base64
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/BaseCodecModule.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/FastCodecModule.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/UrlModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/BaseCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/FastCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/UrlModuleTest.groovy
  dd-java-agent/instrumentation/commons-codec-1/build.gradle
  dd-java-agent/instrumentation/commons-codec-1/src/main/java/datadog/trace/instrumentation/commonscodec/Base64CallSite.java
  dd-java-agent/instrumentation/commons-codec-1/src/test/groovy/datadog/trace/instrumentation/commonscodec/Base64CallSiteTest.groovy
  dd-java-agent/instrumentation/commons-codec-1/src/test/java/foo/bar/TestBase64CallSiteSuite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLDecoderCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLDecoderCallSiteTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/CodecModule.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/UrlModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: asm-iast

#5028 [6to7] Add malformed_tid and inconsistent_tid decoding error support
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/DatadogPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
Labels: core

#5033 bump jplib to 0.30.0
  gradle/dependencies.gradle
Labels: profiling

#5027 Add iast_enabled to StatusLogger (if enabled)
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
Labels: asm-iast

#4934 CI Visibility Maven instrumentation
  .github/CODEOWNERS
  dd-java-agent/instrumentation/maven-3.2.1/build.gradle
  dd-java-agent/instrumentation/maven-3.2.1/src/latestDepTest/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenDecorator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_failed_tests_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_failed_tests_generates_spans/src/test/java/com/example/TestFailed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_incorrect_command_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_no_fork_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_no_fork_generates_spans/src/test/java/com/example/TestSucceed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_no_tests_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_generates_spans/src/test/java/com/example/TestSucceed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/module-a/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/module-a/src/test/java/com/example/TestSucceed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/module-b/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/module-b/src/test/java/com/example/TestFailed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_unit_and_integration_tests_generates_spans/pom.xml
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_unit_and_integration_tests_generates_spans/src/it/java/com/example/ITSucceed.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_unit_and_integration_tests_generates_spans/src/test/java/com/example/TestSucceed.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/TestFrameworkTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/events/impl/TestEventsHandlerImpl.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  settings.gradle
Labels: ci-visibility

#5023 Add IAST support to hibernate queries
  dd-java-agent/instrumentation/hibernate/core-3.3/src/main/java/datadog/trace/instrumentation/hibernate/core/v3_3/IastQueryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-3.3/src/test/groovy/IastQueryInstrumentationTest.groovy
  dd-java-agent/instrumentation/hibernate/core-4.0/src/main/java/datadog/trace/instrumentation/hibernate/core/v4_0/IastQueryInstrumentation.java
  dd-java-agent/instrumentation/hibernate/core-4.0/src/test/groovy/IastQueryInstrumentationTest.groovy
Labels: asm-iast

#5030 Remove SummaryBuilder interface
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
Labels: no release notes, refactoring, debugger

#5044 Restore support for matching custom 'dd.trace.executors'
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/LegacyTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/KnownTypesMatcher.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
Labels: core

#5046 Update Muzzle plugin for gradle 8
  .circleci/config.yml
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Labels: no release notes, dev/build

#5038 add remote peer info for rediscala
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/OnCompleteHandler.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RedisClientActorInstrumentation.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RedisConnectionInfo.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RediscalaClientDecorator.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RediscalaInstrumentation.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/test/groovy/RediscalaClientTest.groovy
Labels: redis

#5048 Add instrumentation for Span decoration probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Limits.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/TimeoutChecker.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/util/TimeoutCheckerTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanDecorationInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ValueScriptHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ValueScriptHelperTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot21.java
  dd-java-agent/agent-debugger/src/test/resources/test_span_decoration_probe.json
Labels: debugger

#5053 Rename ProbeDetails and move out Snapshot
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeImplementation.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/SnapshotProvider.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ValueScriptHelperTest.java
Labels: no release notes, refactoring, debugger

#4942 IAST: support Spring Webflux
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/TokenBufferInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux/server/IastTestController.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux/server/IastWebFluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/DataBufferAsInputStreamAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/DataBufferInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/HandleMatchAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/HttpHeadersInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/Jackson2TokenizerApplyAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/Json2TokenizerInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/ReadOnlyHttpHeadersInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/RequestHeaderMapResolveAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/RequestHeaderMapResolverInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/ServerHttpRequestInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintCookiesAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintFluxElementsFunction.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintGetBodyAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintHttpHeadersGetAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintHttpHeadersGetFirstAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintHttpHeadersToSingleValueMapAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TaintQueryParamsAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/iast/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-6/build.gradle
  dd-java-agent/instrumentation/spring-webflux-6/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux6/server/IastTestController.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux6/server/IastWebFluxTest.groovy
Labels: asm-iast

#5059 Remove commit method in Snapshot
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
Labels: no release notes, refactoring, debugger

#5060 move resolveEvaluateAt method to CapturedContext
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeImplementation.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
Labels: no release notes, refactoring, debugger

#5054 Remove parametric testTransformations
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
Labels: dev/testing, no release notes, debugger

#5057 Remove gradle's --warning-mode=fail
  .circleci/config.yml
Labels: no release notes, dev/build

#5055 Add inactive state for IAST
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/propagation/AbstractBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
Labels: no release notes, asm-iast

#5062 Fix Git pack-file parsing issue
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/pack/GitPackUtils.java
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/git/pack/extractor/v2/invalid-pack-size.pack
Labels: bug, ci-visibility

#5067 Fix enablement of the ddprof profiler in standalone mode
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerController.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerFactory.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: profiling

#5066 Upgrade to libddwaf 1.9.0 (libsqreen 6.2.0)
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecUserConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: asm-waf

#5069 Try enabling smoke test for the latest OpenJ9
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/DisableOnJ9Condition.java
Labels: no release notes

#5019 IAST support for akka-http
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/source/WebModuleTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitor.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/akka-http-10.0/build.gradle
  dd-java-agent/instrumentation/akka-http-10.0/src/iastTest/groovy/datadog/trace/instrumentation/akkahttp/iast/AkkaIastTestWebServer.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/iastTest/groovy/datadog/trace/instrumentation/akkahttp/iast/IastAkkaTest.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/iastTest/groovy/foo/bar/WithInstrumentedCallSites.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/CookieDirectivesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/CookieHeaderInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/ExtractDirectivesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/FormDataInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/FormFieldDirectivesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/MakeTaintableInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/MarshallingDirectivesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/ParameterDirectivesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/PathMatcherInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/TraitMethodMatchers.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/UnmarshallerInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/UriInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/ScalaToJava.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintCookieFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintFutureHelper.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintMapFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintMultiMapFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintOptionalCookieFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintSeqFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintSingleParameterFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintUnmarshaller.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintUriFunction.java
  dd-java-agent/instrumentation/akka-http-10.2-iast/build.gradle
  dd-java-agent/instrumentation/akka-http-10.2-iast/src/main/java/datadog/trace/instrumentation/akkahttp102/iast/FormFieldDirectivesImplInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.2-iast/src/main/java/datadog/trace/instrumentation/akkahttp102/iast/ParameterDirectivesImplInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.2-iast/src/main/java/datadog/trace/instrumentation/akkahttp102/iast/helpers/TaintParametersFunction.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  internal-api/src/main/java/datadog/trace/api/iast/Taintable.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
  settings.gradle
Labels: asm-iast

#5068 Avoid a second Python install (and build) in parametric-tests
  .circleci/config.yml
Labels: no release notes, dev/build

#5072 Do not automatically enable ddprof for J9 JDK 11/17
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#5070 Split check job to use the right build caches
  .circleci/config.yml
  build.gradle
Labels: no release notes, dev/build

#5064 Upgrade gradle to 8.1
  .circleci/config.yml
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/main/groovy/CallSiteInstrumentationPlugin.groovy
  dd-java-agent/instrumentation/build.gradle
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/scala-promise/build.gradle
  dd-smoke-tests/java9-modules/build.gradle
  dd-smoke-tests/vertx-3.4/application/gradle/wrapper/gradle-wrapper.properties
  dd-smoke-tests/vertx-3.9-resteasy/application/gradle/wrapper/gradle-wrapper.properties
  dd-smoke-tests/vertx-3.9/application/gradle/wrapper/gradle-wrapper.properties
  gradle/configure_tests.gradle
  gradle/dependencies.gradle
  gradle/forbiddenapis.gradle
  gradle/java_no_deps.gradle
  gradle/spotless.gradle
  gradle/test-suites.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: no release notes, dev/build

#5078 disable ddprof allocation profiling
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Labels: profiling

#5074 Create specific status for Log & Span Decoration
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeImplementation.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateBuilderTest.java
Labels: no release notes, refactoring, debugger

#5088 Add support of line probe for span decoration
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: debugger

#5091 When the OpenTracing wrapper is closed, flush any traces but keep the wrapped tracer open
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
Labels: integrations

#5087 Enable continuous benchmarks in Gitlab
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
Labels: dev/testing, performance, no release notes

#5096 Improve OpenTelemetry instrumentation
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpanContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: otel

#5100 Re-enable rule toggling test for AppSec
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: dev/testing, no release notes, asm-waf

#5099 Add AppSec blocking smoke test
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
Labels: dev/testing, no release notes, asm-waf

#4783 Jackson 1 instrumentation for IAST
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/JsonFactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/java/foo/bar/JsonFactoryTestSuite.java
  dd-java-agent/instrumentation/jackson-core/src/test/java/foo/bar/JsonParserTestSuite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/InputStreamInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/ReaderInterceptorExecutorInstrumentation.java
  dd-smoke-tests/jersey-2/src/main/java/com/restserver/Resource.java
  dd-smoke-tests/jersey-2/src/main/java/com/restserver/TestEntity.java
  dd-smoke-tests/jersey-2/src/test/groovy/datadog/smoketest/Jersey2SmokeTest.groovy
  dd-smoke-tests/springboot-tomcat/build.gradle
  settings.gradle
Labels: asm-iast

#5105 Add missing request headers in telemetry
  telemetry/src/main/java/datadog/telemetry/RequestBuilder.java
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
Labels: no release notes, telemetry

#5111 Update tag names for WAF metrics
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionSpecification.groovy
Labels: no release notes, asm-waf

#5107 Add method to vulnerability location in IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
Labels: asm-iast

#5110 Fix potential issue with apache-httpclient call-depth tracking
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HelperMethods.java
Labels: integrations, aws-sdk

#5109 [data streams] Remove partition tag from latency metrics
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/latestDepTest/groovy/KafkaStreamsTest.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
Labels: data-streams

#5076 Add IAST instrumentation for nimbusds' jose-jwt and auth0's java-jwt
  dd-java-agent/instrumentation/jose-jwt/build.gradle
  dd-java-agent/instrumentation/jose-jwt/src/main/java/datadog/trace/instrumentation/josejwt/JSONObjectUtilsInstrumentation.java
  dd-java-agent/instrumentation/jose-jwt/src/main/java/datadog/trace/instrumentation/josejwt/JWTParserInstrumentation.java
  dd-java-agent/instrumentation/jose-jwt/src/test/groovy/JWTParserInstrumentationTest.groovy
  dd-smoke-tests/spring-security/build.gradle
  dd-smoke-tests/spring-security/src/main/java/com/example/jwt/MainController.java
  dd-smoke-tests/spring-security/src/main/java/com/example/jwt/SecurityConfig.java
  dd-smoke-tests/spring-security/src/main/java/com/example/jwt/SecurityJwtDemoApplication.java
  dd-smoke-tests/spring-security/src/main/java/com/example/jwt/Token.java
  dd-smoke-tests/spring-security/src/test/groovy/datadog/smoketest/SpringSecurityJwtTest.groovy
  dd-smoke-tests/springboot/build.gradle
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtAuthentication.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtAuthenticationFilter.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtAuthenticationProvider.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtSecurityConfigurerAdapter.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtUserService.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/RSAKeyService.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  settings.gradle
Labels: asm-iast

#5103 Add initial DynamicConfig API and use it to maintain service mappings
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Labels: core, api

#5106 Add support for OpenTelemetry programmatic context propagation
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelExtractedContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: context-propagation, otel

#5122 Bump ddprof lib to 0.34.0
  gradle/dependencies.gradle
Labels: profiling

#5116 [data streams] Add back consumer group as hashable
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
Labels: data-streams

#5124 Change default telemetry metrics namespace to "tracers"
  telemetry/src/main/java/datadog/telemetry/TelemetryServiceImpl.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: telemetry

#5051 Add support for SSRF vulnerabilities
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SsrfModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/instrumentation/commons-httpclient-2/build.gradle
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/IastCommonsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/IastHttpMethodBaseInstrumentation.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/test/groovy/IastCommonsHttpClientInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URICallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URICallSIteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURICallSiteSuite.java
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURLCallSiteSuite.java
  dd-java-agent/instrumentation/okhttp-2/build.gradle
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastHttpUrlInstrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastInterceptor.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastOkHttp2Instrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/test/groovy/IastOkHttp2InstrumentationTest.groovy
  dd-java-agent/instrumentation/okhttp-3/build.gradle
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastHttpUrlInstrumentation.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastInterceptor.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastOkHttp3Instrumentation.java
  dd-java-agent/instrumentation/okhttp-3/src/test/groovy/IastOkHttp3InstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/SsrfModule.java
Labels: asm-iast

#5115 Switch reliability env deploys to be scheduled
  .gitlab-ci.yml
Labels: no release notes

#5119 Small type pool optimizations
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Labels: core, performance, no release notes

#5127 Use GHCR for docker build images
  .gitlab-ci.yml
Labels: no release notes, dev/build

#5049 Extract remote host info from spymemecached
  dd-java-agent/instrumentation/spymemcached-2.10/build.gradle
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/BulkGetCompletionListener.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/CompletionListener.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/GetCompletionListener.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/MemcacheClientDecorator.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/MemcachedClientInstrumentation.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/MemcachedConnectionInstrumentation.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/OperationCompletionListener.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/SyncCompletionListener.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/test/groovy/datadog/trace/instrumentation/spymemcached/SpymemcachedTest.groovy
  settings.gradle
Labels: integrations

#5043 Implement automatic CI Visibility configuration for Maven projects
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenDependencyVersion.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: ci-visibility

#5129 chore: Use GHCR for docker build images
  .circleci/config.yml
  .gitlab-ci.yml
  dd-java-agent/instrumentation/aws-java-sqs-1.0/aws-java-sqs-1.0.gradle
Labels: no release notes, dev/build

#5121 Provide simpler type-info cache for when we know class names are unique
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/TypeInfoCache.java
Labels: no release notes, refactoring

#5120 Prefer asserting concrete class status, rather than the negative 'not(abstract)'
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/DDElementMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/HierarchyMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGradlePlugin.java
  dd-java-agent/instrumentation/ratpack-1.5/src/main/java/datadog/trace/instrumentation/ratpack/ServerErrorHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/HandlerAdapterInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/RouterFunctionInstrumentation.java
Labels: no release notes, refactoring

#5015 Decouple time in queue from legacy tracing
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jms/SessionState.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/TracingIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamsDecorator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations
