Repository DataDog/dd-trace-java, pull requests merged in 2023-08, with the labels that each got.

#5644 Fix possible invalid parent span using OpenTelemetry API
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelExtractedContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelTracerProvider.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: bug, inst: opentelemetry

#5669 Archive parametric tests results before upload
  .circleci/config.yml
Labels: comp: testing, tag: no release notes

#5643 Add Spring Web Service error capture instrumentation
  dd-java-agent/instrumentation/spring-ws-2/build.gradle
  dd-java-agent/instrumentation/spring-ws-2/src/main/java/datadog/trace/instrumentation/springws2/MethodEndpointInstrumentation.java
  dd-java-agent/instrumentation/spring-ws-2/src/test/groovy/SpringWebServiceTest.groovy
  dd-java-agent/instrumentation/spring-ws-2/src/test/groovy/spring/EchoConfig.groovy
  dd-java-agent/instrumentation/spring-ws-2/src/test/groovy/spring/EchoEndpoint.groovy
  dd-java-agent/instrumentation/spring-ws-2/src/test/resources/application.properties
  dd-java-agent/instrumentation/spring-ws-2/src/test/resources/echo.xsd
  settings.gradle
Labels: type: feature request, inst: spring

#5640 Telemetry V2 preps (Serialization Refactoring)
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
  telemetry/src/main/java/datadog/telemetry/HttpClient.java
  telemetry/src/main/java/datadog/telemetry/PolymorphicAdapterFactory.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilder.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilderProvider.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilderSupplier.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/ApiVersion.java
  telemetry/src/main/java/datadog/telemetry/api/AppClientConfigurationChange.java
  telemetry/src/main/java/datadog/telemetry/api/AppDependenciesLoaded.java
  telemetry/src/main/java/datadog/telemetry/api/AppIntegrationsChange.java
  telemetry/src/main/java/datadog/telemetry/api/AppStarted.java
  telemetry/src/main/java/datadog/telemetry/api/Application.java
  telemetry/src/main/java/datadog/telemetry/api/ConfigChange.java
  telemetry/src/main/java/datadog/telemetry/api/Dependency.java
  telemetry/src/main/java/datadog/telemetry/api/DependencyType.java
  telemetry/src/main/java/datadog/telemetry/api/DistributionSeries.java
  telemetry/src/main/java/datadog/telemetry/api/Distributions.java
  telemetry/src/main/java/datadog/telemetry/api/GenerateMetrics.java
  telemetry/src/main/java/datadog/telemetry/api/Host.java
  telemetry/src/main/java/datadog/telemetry/api/Integration.java
  telemetry/src/main/java/datadog/telemetry/api/KeyValue.java
  telemetry/src/main/java/datadog/telemetry/api/LogMessage.java
  telemetry/src/main/java/datadog/telemetry/api/LogMessageLevel.java
  telemetry/src/main/java/datadog/telemetry/api/Logs.java
  telemetry/src/main/java/datadog/telemetry/api/Metric.java
  telemetry/src/main/java/datadog/telemetry/api/Payload.java
  telemetry/src/main/java/datadog/telemetry/api/Product.java
  telemetry/src/main/java/datadog/telemetry/api/ProductError.java
  telemetry/src/main/java/datadog/telemetry/api/Products.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/main/java/datadog/telemetry/api/Telemetry.java
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyPeriodicAction.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyService.java
  telemetry/src/main/java/datadog/telemetry/integration/IntegrationPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/HttpClientSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/PolymorphicAdapterFactorySpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyPeriodActionSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/integration/IntegrationPeriodicActionTest.groovy
  telemetry/src/test/java/datadog/telemetry/dependency/DependencyServiceTests.java
Labels: type: refactoring, comp: telemetry

#5670 Scale down CircleCI runner resource classes
  .circleci/config.yml
Labels: tag: no release notes

#5671 Fix OpenTelemetry Context instrumentation activation
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ActivationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: bug, inst: opentelemetry

#5658 Upgrade to libddwaf 1.12.0/libsqreen 7.1.0
  dd-java-agent/appsec/build.gradle
Labels: tag: dependencies, comp: asm waf

#5660 Add support for the profiler jmethodid cache
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
Labels: tag: no release notes

#5585 Support HTTP client header tagging
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlConnectionDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecoratorTest.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpAsyncClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HostAndRequestAsHttpUriRequest.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HostAndRequestAsHttpUriRequest.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/CommonsHttpClientDecorator.java
  dd-java-agent/instrumentation/google-http-client/src/main/java/datadog/trace/instrumentation/googlehttpclient/GoogleHttpClientDecorator.java
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/ClientDecorator.java
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/HttpUrlConnectionInstrumentation.java
  dd-java-agent/instrumentation/java-http-client/src/main/java11/datadog/trace/instrumentation/httpclient/JavaNetClientDecorator.java
  dd-java-agent/instrumentation/jax-rs-client-1.1/src/main/java/datadog/trace/instrumentation/jaxrs/v1/JaxRsClientV1Decorator.java
  dd-java-agent/instrumentation/jax-rs-client-2.0/src/main/java/datadog/trace/instrumentation/jaxrs/JaxRsClientDecorator.java
  dd-java-agent/instrumentation/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client/JettyClientDecorator.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/OkHttpClientDecorator.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/OkHttpClientDecorator.java
  dd-java-agent/instrumentation/play-ws/src/main/java/datadog/trace/instrumentation/playws/PlayWSClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/client/SpringWebfluxHttpClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-5/src/test/groovy/dd/trace/instrumentation/springwebflux/client/SpringWebfluxHttpClientBase.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientBase.groovy
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseClientDecorator.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/server/http/TestHttpServer.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: core

#5678 Fix #5640 Telemetry startup degradation
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
  telemetry/src/main/java/datadog/telemetry/HttpClient.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilder.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilderProvider.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
Labels: tag: performance

#5673 Add support for OpenTelemetry Context.makeCurrent()
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: enhancement, inst: opentelemetry

#5604 Add initial version of tracer benchmarks
  .gitignore
  .gitlab/benchmarks.yml
  benchmark/Dockerfile
  benchmark/README.MD
  benchmark/benchmarks.sh
  benchmark/load/insecure-bank/benchmark.json
  benchmark/load/insecure-bank/k6.js
  benchmark/load/petclinic/benchmark.json
  benchmark/load/petclinic/k6.js
  benchmark/load/run.sh
  benchmark/run.sh
  benchmark/startup/insecure-bank/benchmark.json
  benchmark/startup/petclinic/benchmark.json
  benchmark/startup/run.sh
  benchmark/utils/k6.js
  benchmark/utils/run-k6-load-test.sh
  benchmark/utils/run-on-server-ready.sh
  benchmark/utils/run-sirun-benchmarks.sh
  benchmark/utils/update-java-version.sh
Labels: tag: no release notes, comp: tooling

#5676 Upgrade to ddprof 0.70.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5681 Fix span metrics tag
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/CoreMetricsPeriodActionTest.groovy
Labels: type: bug, comp: telemetry

#5682 Make partial flushing settings consistent with other tracer libraries
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTestBase.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: core

#5683 Updated config parsing for integer ranges
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigConverter.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: core

#5629 [Spark] Add support for spark structured streaming
  dd-java-agent/instrumentation/spark/build.gradle
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
  dd-java-agent/instrumentation/spark/src/test/java/TestSparkComputation.java
Labels: type: enhancement, inst: apache spark

#5637 [DSM] Context Propagation for SQS v2
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageAttributeInjector.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/PathwayContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIUtils.java
Labels: comp: data streams

#5653 Add manual Gitlab job for running CI Visibility test environment
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci-visibility-tests.yml
Labels: comp: testing, tag: no release notes

#5605 Encapsulate test session and test module methods that should not be exposed to customers
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/DDTestSession.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/config/JvmInfo.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Labels: tag: no release notes, type: refactoring, comp: ci visibility

#5610 Replace reflection calls with method handle invocations in test utils
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
Labels: tag: performance, comp: ci visibility

#5611 Add Cucumber support to CI Visibility
  .github/CODEOWNERS
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/AbstractTestContext.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/cucumber/build.gradle
  dd-java-agent/instrumentation/cucumber/src/main/java/datadog/trace/instrumentation/cucumber/CucumberInstrumentation.java
  dd-java-agent/instrumentation/cucumber/src/main/java/datadog/trace/instrumentation/cucumber/CucumberStepDecorator.java
  dd-java-agent/instrumentation/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/cucumber/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Utils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformLauncherUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSkippedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSkippedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSkippedFeatureCucumber.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped_feature.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples_skipped.feature
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  settings.gradle
Labels: comp: ci visibility

#5688 Reduce the amount of benchmarks run in the benchmarking platform
  benchmark/Dockerfile
  benchmark/load/insecure-bank/k6.js
  benchmark/load/petclinic/benchmark.json
  benchmark/startup/insecure-bank/benchmark.json
  benchmark/startup/petclinic/benchmark.json
  benchmark/utils/k6.js
  benchmark/utils/run-sirun-benchmarks.sh
Labels: tag: no release notes, comp: tooling

#5613 Report test framework data from child processes instead of parsing project dependencies
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/AbstractTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/ParentProcessTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
Labels: comp: ci visibility

#5627 Disable code coverage segments data gathering by default
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SourceAnalyzer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#5689 Close outstanding APM spans before finishing test span
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
Labels: type: bug, comp: ci visibility

#5694 Fix tests compilation error
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
Labels: tag: no release notes, comp: ci visibility

#5692 Fix sampling when log probe is evaluation at Exit
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: comp: debugger

#5672 Add debug log when sending RC request
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
Labels: comp: remote config

#5699 Exclude Jetty server 12 from Jetty instrumentations support
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-appsec-9.3/build.gradle
Labels: tag: no release notes, inst: jetty

#5695 Remove docker-compose install in system-tests
  .circleci/config.yml
Labels: comp: testing, tag: no release notes

#5700 Fix typos in OT compatibility module names
  dd-trace-ot/build.gradle
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot31CompatibilityTest/java/io/opentracing/tag/Tag.java
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
Labels: tag: no release notes

#5520 HSTS missing header vulnerability detection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestHeaderHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HstsMissingHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestHeaderHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HstsMissingHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HstsMissingHeaderModule.java
Labels: comp: asm iast

#5703 Update system-tests to 68da674b83d7a1a1730387a3b27a1d4328392f3c
  .circleci/config.yml
Labels: comp: testing, tag: no release notes

#4619 Improved logging using placeholders
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/JMXFetch.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/KnownTypesIndex.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/StringConcatExample.java
  dd-java-agent/agent-tooling/src/test/java11/datadog/trace/agent/tooling/csi/StringPlusConstantsExample.java
  dd-java-agent/agent-tooling/src/test/java11/datadog/trace/agent/tooling/csi/StringPlusExample.java
  dd-java-agent/agent-tooling/src/test/java11/datadog/trace/agent/tooling/csi/StringPlusLoadWithTagsExample.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/instrumentation/jsp-2.3/src/main/java/datadog/trace/instrumentation/jsp/JSPDecorator.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/correlation-id-injection/src/main/java/datadog/trace/correlation/CorrelationIdInjectors.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
Labels: tag: no release notes, type: refactoring

#5707 Fix exception in reactor-rabbit
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/build.gradle
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitChannelInstrumentation.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/reactorTest/groovy/ReactorRabbitMQTest.groovy
Labels: type: bug, comp: core, inst: rabbitmq, inst: reactor

#5690 Test deserialization with unknown keys in AppSec rules
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigDeserializerSpecification.groovy
Labels: tag: no release notes, comp: asm waf

#5706 Redact empty sensitive ranges
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/Ranged.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Labels: comp: asm iast

#5684 Fix coverage of BatchUploader
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5714 Set concrete types for the response instrumentation
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/test/java/foo/bar/DummyResponse.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyResponse.java
Labels: type: bug, comp: asm iast

#5712 Exclude org.mockito package from CI Visibility code coverage by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: type: bug, comp: ci visibility

#5730 Exclude Jetty server 12 from Jetty instrumentations support
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-appsec-9.3/build.gradle
Labels: tag: no release notes, inst: jetty

#5728 Ensure OpenTelemetry spans are not modifiable when finished
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: bug, inst: opentelemetry

#5729 Set concrete types for the response instrumentation
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/test/java/foo/bar/DummyResponse.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyResponse.java
Labels: type: bug, comp: asm iast

#5726 Fix automatic tracer configuration for Maven projects that use Jacoco
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/src/test/java/datadog/smoke/TestSucceed.java
Labels: type: bug, comp: ci visibility

#5727 Fix automatic Javac plugin configuration in Maven projects that use annotation processors
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
Labels: type: bug, comp: ci visibility

#5701 add _dd.base_service to disambiguate service map
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/BaseServiceAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PostProcessorChain.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessor.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/BaseServiceAdderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
Labels: comp: core

#5708 Support java.util.Timer once scheduling
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaTimerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TimerTaskInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/TimerTaskContinuationTest.groovy
Labels: inst: others

#5722 Ensure OpenTelemetry spans are not modifiable when finished
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: type: bug, inst: opentelemetry

#5635 Upgrade IAST XSS smoke tests
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/XssController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/XssController.java
Labels: comp: asm iast

#5732 Fixed NPE in User Events Tracking
  dd-smoke-tests/appsec/springboot-security/src/main/java/datadog/smoketest/appsec/springbootsecurity/WebSecurityConfig.java
  dd-smoke-tests/appsec/springboot-security/src/main/resources/application.properties
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Labels: type: bug, comp: asm waf

#5698 Report dd-trace-java and its dependencies to telemetry
  dd-java-agent/build.gradle
  dd-trace-ot/build.gradle
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/LocationsCollectingTransformerSpecification.groovy
Labels: comp: telemetry

#5645 Add freemarker.template.utility.StringUtil tainting support
  dd-java-agent/instrumentation/freemarker/build.gradle
  dd-java-agent/instrumentation/freemarker/src/main/java/datadog/trace/instrumentation/freemarker/StringUtilCallSite.java
  dd-java-agent/instrumentation/freemarker/src/test/groovy/datadog/trace/instrumentation/freemarker/StringUtilCallSiteTest.groovy
  dd-java-agent/instrumentation/freemarker/src/test/java/foo/bar/TestStringUtilSuite.java
  settings.gradle
Labels: comp: asm iast

#5656 Add URLEncoder tainting support
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLEncoderCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLEncoderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURLEncoderCallSiteSuite.java
Labels: comp: asm iast

#5739 Avoid creating new ContinuingScope if the top scope is already keeping the span alive
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
Labels: tag: performance

#5657 Response blocking in openliberty
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ArrayOfTypeMatcher.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/HttpInboundServiceContextImplInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyBlockingHelper.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/RequestMessageFromServletRequestHelper.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ResponseFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/WebAppHandleExceptionInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Server.groovy
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/liberty-20/src/webapp/java/datadog/trace/instrumentation/liberty20/AsyncServlet3.java
  dd-java-agent/instrumentation/liberty-20/src/webapp/java/datadog/trace/instrumentation/liberty20/PassthruSyncServlet3.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/WithHttpServer.groovy
Labels: comp: asm waf

#5738 Update system-tests to 9659a5e409cf8bacabd739b6af07c5f03c9bcbd6
  .circleci/config.continue.yml.j2
  .circleci/update_pinned_system_tests.sh
Labels: comp: testing, tag: no release notes

#5711 Add git command line client builder to GitInfoProvider
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CILocalGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/GitClientGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/IOUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UnknownCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/CILocalGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/GitClientGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/git/GitInfoProvider.java
  internal-api/src/test/groovy/datadog/trace/api/git/GitInfoProviderTest.groovy
Labels: comp: ci visibility

#5724 Fix automatic tracer configuration for Maven projects that use Jacoco
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/src/test/java/datadog/smoke/TestSucceed.java
Labels: type: bug, tag: no release notes, comp: ci visibility

#5725 Fix automatic Javac plugin configuration in Maven projects that use annotation processors
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
Labels: type: bug, tag: no release notes, comp: ci visibility

#5741 Remove duplicate cafe-crypto classes from dd-java-agent jar
  dd-java-agent/build.gradle
  gradle/dependencies.gradle
  remote-config/build.gradle
Labels: tag: no release notes, comp: tooling

#5705 Clean up DSM API from Core Tracer and introduce a new dedicate Propagation implementation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/appsec/src/testFixtures/groovy/com/datadog/appsec/AppSecHttpServerTest.groovy
  dd-java-agent/appsec/src/testFixtures/groovy/com/datadog/appsec/AppSecInactiveHttpServerTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingIterator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamTaskInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelContextPropagators.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
  dd-java-agent/instrumentation/play-ws-1/src/main/java/datadog/trace/instrumentation/playws1/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2.1/src/main/java/datadog/trace/instrumentation/playws21/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2/src/main/java/datadog/trace/instrumentation/playws2/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/rxjava-1/src/main/java/datadog/trace/instrumentation/rxjava/TracedOnSubscribe.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextInjector.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/NoopDataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/CorePropagation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/NoopDataStreamsMonitoringTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/CorePropagationTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentDataStreamsMonitoring.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, type: refactoring, comp: context propagation, comp: data streams

#5749 Elasticsearch and Opensearch should omit `params` by default
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: tag: breaking change, inst:elasticsearch, tag: security

#5745 Update codeowners for ASM
  .github/CODEOWNERS
Labels: tag: no release notes

#5744 Add tracing support for Jetty 12
  dd-java-agent/instrumentation/jetty-12/build.gradle
  dd-java-agent/instrumentation/jetty-12/src/main/java/datadog/trace/instrumentation/jetty12/ContextHandlerInstrumentation.java
  dd-java-agent/instrumentation/jetty-12/src/main/java/datadog/trace/instrumentation/jetty12/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/ExtractAdapter.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/JettyDecorator.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/JettyRunnableWrapper.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/JettyServerAdvice.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/RequestURIDataAdapter.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/SetContextPathAdvice.java
  dd-java-agent/instrumentation/jetty-12/src/test/ee10/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee10/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee9/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee9/groovy/JettyServer.groovy
  settings.gradle
Labels: type: enhancement, inst: jetty

#5751 re-enable muzzle for spring 6
  dd-java-agent/instrumentation/spring-webflux-6/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-6.0/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java17/datadog/trace/instrumentation/springweb6/HandleMatchAdvice.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java17/datadog/trace/instrumentation/springweb6/PairList.java
Labels: tag: no release notes

#5593 Add OpenTelemetry annotations support
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/HierarchyMatchers.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/AsyncResultHelper.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanAnnotationInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanAttributeAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanDecorator.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/groovy/SpanAttributeAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/groovy/WithSpanAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/java/annotatedsample/TracedMethods.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/AddingSpanAttributesAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/AddingSpanAttributesInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/test/groovy/AddingSpanAttributesAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/test/java/annotatedsample/AnnotatedMethods.java
  settings.gradle
Labels: type: enhancement, inst: opentelemetry

#5753 Add correlation Ids for dynamic logs
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: comp: debugger

#5755 Fix NullPointerException in unvalidated redirect detection
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
Labels: type: bug, comp: asm iast

#5759 Fix NullPointerException in unvalidated redirect detection (#5755)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
Labels: type: bug, comp: asm iast

#5764 use case insensitive comparison for _dd.base_service
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/BaseServiceAdder.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/BaseServiceAdderTest.groovy
Labels: comp: core, tag: no release notes

#5756 Enable user event tracking only when AppSec is enabled
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/AbstractUserDetailsAuthenticationProviderAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/AuthenticationProviderAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/UserDetailsManagerAdvice.java
Labels: comp: asm waf

#5761 Make Maven test module names unique
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: type: bug, comp: ci visibility

#5765 Enable user event tracking only when AppSec is enabled (#5756)
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/AbstractUserDetailsAuthenticationProviderAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/AuthenticationProviderAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/UserDetailsManagerAdvice.java
Labels: type: bug, comp: asm waf

#5757 Fix NPE in user events tracking (#5732)
  dd-smoke-tests/appsec/springboot-security/src/main/java/datadog/smoketest/appsec/springbootsecurity/WebSecurityConfig.java
  dd-smoke-tests/appsec/springboot-security/src/main/resources/application.properties
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Labels: type: bug, comp: asm waf

#5762 Make Maven test module names unique
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: type: bug, comp: ci visibility

#5768 Upgrade build to gradle 8.3
  .circleci/config.continue.yml.j2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: tag: no release notes, comp: tooling, run-tests: all

#5766 Update repo URL extraction logic for Bitbucket
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/appveyor.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/azurepipelines.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitbucket.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitrise.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buddy.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buildkite.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/circleci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/github.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/gitlab.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/jenkins.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/teamcity.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/travisci.json
Labels: comp: ci visibility

#5763 Fix multi-buffers response case
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/usm/Payload.java
  dd-java-agent/instrumentation/sslengine/src/main/java/datadog/trace/instrumentation/sslengine/SslEngineInstrumentation.java
Labels: type: enhancement, comp: universal service monitoring

#5650 Netty: block on response
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/ChannelPipelineAdviceUtil.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/ChannelTraceContext.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/MaybeBlockResponseHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/netty-3.8/src/test/groovy/datadog/trace/instrumentation/netty38/Netty38ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/AttributeKeys.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/MaybeBlockResponseHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/netty-4.0/src/test/groovy/Netty40ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.1-shared/src/main/java/datadog/trace/instrumentation/netty41/AttributeKeys.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/MaybeBlockResponseHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/netty-4.1/src/test/groovy/Netty41ServerTest.groovy
  dd-java-agent/instrumentation/ratpack-1.5/src/test/groovy/server/RatpackHttpServerTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxHttpServerForkedTest.groovy
Labels: comp: asm waf

#5746 Use DD Javac Plugin metadata to resolve method lines
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortMethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/ByteCodeMethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/CompilerAidedMethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/BestEffortMethodLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/BestEffortSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/ByteCodeMethodLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/CompilerAidedMethodLinesResolverTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/build.gradle
Labels: comp: ci visibility

#5771 Separate config for Elasticsearch body and params
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
  dd-java-agent/instrumentation/opensearch/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchRestClientDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst:elasticsearch

#5780 Prevent IAST from creating empty spans for duplicated vulnerabilities
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Labels: comp: asm iast

#5783 Check for overhead constraints in weak randomness module
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakRandomnessModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakRandomnessModuleTest.groovy
Labels: tag: performance, comp: asm iast

#5785 rework Queue time tracking to avoid unwrapping the task type unless the event will be recorded
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/profiling/UnwrappingVisitor.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/TaskUnwrappingForkedTest.groovy
  dd-java-agent/instrumentation/netty-concurrent-4/src/main/java/datadog/trace/instrumentation/netty40/concurrent/SingleThreadEventExecutorInstrumentation.java
  dd-java-agent/instrumentation/netty-concurrent-4/src/test/groovy/TimingTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/timer/TestTimer.groovy
  internal-api/src/main/java/datadog/trace/api/profiling/QueueTiming.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TaskWrapper.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/TaskWrapperTest.groovy
Labels: comp: profiling

#5772 Fix for Vert.x 4.0 instrumentation to close span on timeout
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientResponseTracingHandler.java
  dd-java-agent/instrumentation/vertx-web-4.0/build.gradle
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/client/HttpClientRequestBaseInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/client/VertxHttpClientForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
Labels: type: bug, inst: vertx

#5767 Fix instrumentation when bytecode generation fails
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
Labels: comp: debugger

#5719 Update ddprof to 0.71.0
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/SmokeTestUtils.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
Labels: comp: profiling

#5786 Use a NoOp tainted objects for vulnerabilities without context
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsNoOpTest.groovy
Labels: tag: performance, comp: asm iast

#5788 Move spring controllers to common module
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastViewController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/SimpleIastController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/XssController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastViewController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/SimpleIastController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/XssController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
Labels: comp: testing, tag: no release notes, comp: asm iast

#5784 Improve performance while computing IAST metrics
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetry.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestStartedHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
Labels: tag: performance, comp: asm iast

#5787 Fix simultaneous jetty 10/11 instrumentation when jakarta/javax servlet are both present
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-11/src/main/java11/datadog/trace/instrumentation/jetty11/JettyServerAdvice.java
  dd-java-agent/instrumentation/jetty-9/src/main/java_jetty10/datadog/trace/instrumentation/jetty10/HandleAdvice.java
Labels: type: bug, inst: jetty

#5733 Reduce log level for WAF timeouts
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: comp: asm waf

#5776 Remove DDCachingPoolStrategy
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentStrategies.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategy.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/DDOutlinePoolStrategy.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/test/DefaultInstrumenterForkedTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/CacheProviderTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/DDCachingPoolStrategyTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/AbstractHierarchyMatcherTest.groovy
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypePoolFacade.java
  internal-api/src/main/java/datadog/trace/api/ResolverCacheConfig.java
Labels: comp: core, tag: no release notes, type: refactoring

#5789 Fix simultaneous jetty 10/11 instrumentation when jakarta/javax servlet are both present (#5787)
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-11/src/main/java11/datadog/trace/instrumentation/jetty11/JettyServerAdvice.java
  dd-java-agent/instrumentation/jetty-9/src/main/java_jetty10/datadog/trace/instrumentation/jetty10/HandleAdvice.java
Labels: type: bug, inst: jetty

#5781 Add basic Scala MUnit support
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/SourceType.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestFailedSuiteSetUpAssumption.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedSuite.java
  dd-java-agent/instrumentation/junit-4.10/src/test/scala/org/example/TestFailedAssumptionMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/src/test/scala/org/example/TestSkippedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/src/test/scala/org/example/TestSkippedSuiteMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/src/test/scala/org/example/TestSucceedMUnit.scala
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
Labels: comp: ci visibility

#5792 Add redshift support to JDBC URL parser
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCConnectionUrlParserTest.groovy
Labels: type: enhancement, inst: jdbc

#5723 Unify spark metrics naming
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkAggregatedTaskMetrics.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkListenerTest.groovy
Labels: inst: apache spark

#5634 Weak cipher detection in javax.crypto.KeyGenerator
  dd-java-agent/instrumentation/java-security/src/main/java/datadog/trace/instrumentation/java/security/WeakCipherInstrumentationCallSite.java
  dd-java-agent/instrumentation/java-security/src/test/groovy/test/WeakCipherTest.groovy
  dd-java-agent/instrumentation/java-security/src/test/java/foo/bar/TestSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/main/java/ddtest/client/sources/Hasher.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Labels: comp: asm iast

#5798 Filter out alpha and beta versions of dependencies
  dd-java-agent/instrumentation/netty-concurrent-4/build.gradle
Labels: comp: testing, tag: no release notes

#5747 Refactor CI Visibility to better encapsulate internal APIs
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CachingModuleExecutionSettingsFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/JvmInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/CoverageProbeStoreFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CILocalGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/GitClientGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SkippableTestsRequest.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/CompilerAidedSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UnknownCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/JvmInfoFactoryTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/CILocalGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/GitClientGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SkippableTestsRequestTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/BestEffortSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbeStore.java
Labels: type: refactoring, comp: ci visibility

#5737 Add generic async result type support for OpenTelemetry annotations and its Reactive Streams extension
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AsyncResultDecorator.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/AsyncResultHelper.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanAnnotationInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanDecorator.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/groovy/WithSpanAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/java/annotatedsample/TracedMethods.java
  dd-java-agent/instrumentation/reactive-streams/build.gradle
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/ReactiveStreamsAsyncResultSupportExtension.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/ReactiveStreamsInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/test/groovy/ReactiveStreamsAsyncResultSupportExtensionTest.groovy
  dd-java-agent/instrumentation/reactive-streams/src/test/java/annotatedsample/ReactiveStreamsTracedMethods.java
  settings.gradle
Labels: type: enhancement, inst: opentelemetry

#5794 Update system-tests to 3749ab47dba7ceb1ac48bc9de6c89cb6427b0daa
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#5791 Fix Muzzle plugin to fetch correct artifacts when muzzle directive includes classifier
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Labels: type: bug, comp: core

#5805 Type resolver's use of URL caches should be configurable
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ClassFileLocators.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: core, tag: performance

#5801 Add RxJava async result types support for OpenTelemetry annotations
  dd-java-agent/instrumentation/rxjava-2/build.gradle
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaAsyncResultSupportExtension.java
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaPluginsInstrumentation.java
  dd-java-agent/instrumentation/rxjava-2/src/test/groovy/RxJava2ResultSupportExtensionTest.groovy
  dd-java-agent/instrumentation/rxjava-2/src/test/java/annotatedsample/RxJava2TracedMethods.java
Labels: type: enhancement, inst: opentelemetry

#5774 Enable ByteCode verification by default
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/JavacBug.class
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: debugger

#5795 Reports instrumentation failure
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
Labels: comp: debugger

#5796 Capture app, job and databricks parameters in spark streaming spans
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
Labels: inst: apache spark

#5800 Add Reactor async result types support for OpenTelemetry annotations
  dd-java-agent/instrumentation/reactor-core-3.1/build.gradle
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/MonoFluxInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/ReactorAsyncResultSupportExtension.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorAsyncResultSupportExtensionTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/java/annotatedsample/ReactorTracedMethods.java
Labels: type: enhancement, inst: opentelemetry

#5799 Add Guava async result type support for OpenTelemetry annotations
  dd-java-agent/instrumentation/guava-10/build.gradle
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/GuavaAsyncResultSupportExtension.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/test/groovy/GuavaAsyncResultSupportExtensionTest.groovy
  dd-java-agent/instrumentation/guava-10/src/test/java/annotatedsample/GuavaTracedMethods.java
Labels: type: enhancement, inst: opentelemetry

#5809 Merge span decoration and log instrumentation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanDecorationInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
Labels: comp: debugger

#5769 Implement sending total coverage percentage for sessions and modules
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionChild.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionParent.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/CoverageUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.java
  dd-java-agent/instrumentation/jacoco/build.gradle
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/CoverageDataInjector.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/InstrumenterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/success/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/success/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successJunit5/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successJunit5/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/src/test/java/datadog/smoke/TestSucceed.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageDataSupplier.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: comp: ci visibility

#5816 Add metric smoke tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/AgentDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SimpleAppDebuggerIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5812 Preserve single line comment (--) prefixes when normalizing SQL
  internal-api/src/main/java/datadog/trace/api/normalize/SQLNormalizer.java
  internal-api/src/test/groovy/datadog/trace/api/normalize/SQLNormalizerTest.groovy
Labels: inst: jdbc
