Repository DataDog/dd-trace-java, pull requests merged in 2023-09, with the labels that each got.

#5817 Inject WAF custom rules for testing in smoke tests
  dd-java-agent/appsec/src/main/resources/default_config.json
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
Labels: tag: no release notes, comp: asm waf

#5821 Exclude JMXFetch jackson dependencies...
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/src/main/java/com/fasterxml/jackson/core/JsonProcessingException.java
Labels: comp: tooling

#5823 make `@duration` a float value in ms
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
Labels: comp: debugger

#5826 restore exception profiling instrumentation enablement
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
Labels: comp: profiling

#5830 GA profiling context API
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerContextSetter.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingScope.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/experimental/ProfilingContext.java
  dd-trace-api/src/main/java/datadog/trace/api/experimental/ProfilingContextSetter.java
  dd-trace-api/src/main/java/datadog/trace/api/internal/InternalTracer.java
  dd-trace-api/src/main/java/datadog/trace/api/profiling/Profiling.java
  dd-trace-api/src/main/java/datadog/trace/api/profiling/ProfilingContext.java
  dd-trace-api/src/main/java/datadog/trace/api/profiling/ProfilingContextAttribute.java
  dd-trace-api/src/main/java/datadog/trace/api/profiling/ProfilingScope.java
  dd-trace-api/src/test/groovy/datadog/trace/api/EventTrackerTest.groovy
  dd-trace-ot/build.gradle
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: comp: profiling

#5833 Upgrade ddprof to 0.72.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5837 Skip collection of config during native-image build…
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: core, tag: no release notes

#5822 Add span smoke tests
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTracer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InstrumentationResult.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
  utils/test-agent-utils/decoder/src/main/java/datadog/trace/test/agent/decoder/v04/raw/SpanV04.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5839 Avoid ServiceLoader in AppSec
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: tag: no release notes, type: refactoring, comp: asm waf

#5824 Improve query obfuscation regular expression
  .circleci/config.continue.yml.j2
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/QueryObfuscator.java
Labels: comp: asm waf

#5836 Fix NullPointerException when calculating ITR skippable tests in TestNG
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedDataProvider.java
Labels: type: bug, comp: ci visibility

#5834 Fix race condition in AppSec GatewayBridge
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Labels: type: bug, comp: asm waf

#5815 Upgrade ASM rules to v1.7.2
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#5843 Exclude JMXFetch jackson dependencies…
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/src/main/java/com/fasterxml/jackson/core/JsonProcessingException.java
Labels: tag: dependencies, comp: tooling

#5852 Update build to reflect refactoring in grpc-java 1.58
  dd-java-agent/instrumentation/grpc-1.5/build.gradle
Labels: comp: testing, tag: no release notes

#5853 Update build to reflect refactoring in grpc-java 1.58
  dd-java-agent/instrumentation/grpc-1.5/build.gradle
Labels: comp: testing, tag: no release notes

#5846 Replace okio dependency…
  communication/build.gradle
  dd-java-agent/build.gradle
  dd-trace-ot/build.gradle
  gradle/dependencies.gradle
Labels: tag: dependencies

#5851 Replace okio dependency...
  communication/build.gradle
  dd-java-agent/build.gradle
  dd-trace-ot/build.gradle
  gradle/dependencies.gradle
Labels: tag: dependencies

#5848 Update system-tests to 3598f2583cd5c25326cd7a5c01097374d94c1993
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#5856 Exclude net.jpountz.xxhash in IAST
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#5859 Enable Trivy security scanning for published artifacts
  .github/workflows/README.md
  .github/workflows/trivy-analysis.yml
Labels: tag: no release notes, tag: security

#5857 Fix blocking for jetty 10.0.16 and 11.0.16
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty10/DispatchableInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java_jetty10/datadog/trace/instrumentation/jetty10/DispatchableAdvice.java
Labels: type: bug, comp: asm waf

#5864 Fix IAST Akka tests for latest dependency versions
  dd-java-agent/instrumentation/akka-http-10.0/build.gradle
Labels: comp: testing, tag: no release notes, comp: asm iast

#5863 Avoid duplicate traces for nested JMS receive calls
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
Labels: inst: jms

#5854 Skip attaching the tracer when we know the JVM is running a JDK tool such as `jstack`
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/src/test/groovy/datadog/trace/bootstrap/AgentBootstrapTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Labels: comp: core

#5840 Remove AppSec event dispatching for non-data events
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventDispatcher.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventListener.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventType.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/ReplaceableEventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: tag: no release notes, type: refactoring, comp: asm waf

#5820 Add Spark SQL spans
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: inst: apache spark

#5849 WAF refactoring
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: tag: no release notes, type: refactoring, comp: asm waf

#5876 Make sure we close the AppSec default template resource after reading
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/blocking/BlockingActionHelper.java
Labels: comp: asm waf

#5878 JMXFetch 0.47.10
  dd-java-agent/agent-jmxfetch/build.gradle
Labels: comp: metrics

#5881 Upgrade to ddprof 0.74.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5879 Improved IAST sampling mechanism.
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: type: bug, tag: no release notes, comp: asm iast

#5717 Add vertx4 mysql client instrumentation
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/build.gradle
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/CursorImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/CursorReadAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLConnectionFactoryConstructorAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLConnectionFactoryInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLConnectionImplConstructorAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLConnectionImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLPoolImplAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/MySQLPoolImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/PrepareHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/PreparedQueryInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/PreparedStatementImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/PreparedStatementQueryAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/QueryAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/QueryImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/QueryResultHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/SqlClientBaseAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/SqlClientBaseInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/SqlConnectionBaseInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/SqlConnectionBasePrepareAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4/VertxSqlClientDecorator.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/test/groovy/VertxSqlClientForkedTest.groovy
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/test/java/TestDatabases.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/build.gradle
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/MySQLConnectionFactoryConstructorAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/MySQLConnectionFactoryInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/MySQLDriverAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/MySQLDriverInstrumentation.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/SqlConnectionBaseConstructorAdvice.java
  dd-java-agent/instrumentation/vertx-mysql-client-4.4.2/src/main/java/datadog/trace/instrumentation/vertx_sql_client_4_4_2/SqlConnectionBaseInstrumentation.java
  settings.gradle
Labels: tag: community, inst: vertx

#5885 Always populate test.command tag in session spans
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
Labels: type: bug, comp: ci visibility

#5880 Only invalidate current OTel context if we created it
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ContextTest.groovy
Labels: inst: opentelemetry

#5628 Allow specifying additional JVM arguments for children processes
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#5884 Fix deadlock occuring when stopping SignalServer
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
Labels: type: bug, comp: ci visibility

#5867 Fix request body tainting in spring boot 2.7.5
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
Labels: comp: asm iast

#5887 Update ddprof to 0.76.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5861 Update Spock version to 2.2
  buildSrc/build.gradle.kts
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  gradle/dependencies.gradle
Labels: comp: testing, tag: no release notes

#5890 Update CODEOWNERS to reflect additional ASM ownership
  .github/CODEOWNERS
Labels: tag: no release notes, comp: tooling

#5892 Fix trace and span id generation
  dd-trace-api/src/main/java/datadog/trace/api/IdGenerationStrategy.java
Labels: type: bug, comp: core, tag: no release notes

#5813 Add XSS detection for Spring's ResponseBody
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XssModuleTest.groovy
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HandlerMethodReturnValueHandlerCompositeInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/InvocableHandlerMethodInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/iast/HandlerMethodReturnValueHandlerCompositeInstrumentationTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/XssController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/XssModule.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
Labels: comp: asm iast

#5896 Add information about draft pull request to guidelines
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: tag: no release notes

#5886 Fix Telemetry Config Collector to collect String and Map values
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
Labels: type: bug

#5860 Make peer.service manually overridden by component
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/NamingSchemaV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/NamingSchemaV1.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
Labels: comp: core, tag: experimental

#5803 Get rid of TestContext interface
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkSessionProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/AbstractTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/EmptyTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/ParentProcessTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/SpanTestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/context/TestContext.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecorator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/CIUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/FileUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/PathUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/SpanUtils.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/decorator/TestDecoratorImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/CIUtilsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/FileUtilsTest.groovy
Labels: type: refactoring, comp: ci visibility

#5895 Add support for OpenTelemetry record exception span event
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/spring-ws-2/src/main/java/datadog/trace/instrumentation/springws2/MethodEndpointInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Labels: type: enhancement, inst: opentelemetry

#5870 Custom spark spans tags at runtime
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: inst: apache spark

#5802 Add asynchronous type support for trace annotation instrumentation
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceAdvice.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
  dd-java-agent/instrumentation/trace-annotation/src/test/groovy/TraceAnnotationsAsyncTest.groovy
  dd-java-agent/instrumentation/trace-annotation/src/test/java/dd/test/trace/annotation/SayTracedHello.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: type: enhancement, inst: others

#5903 Fix spring response wrapped IAST metric
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
Labels: tag: no release notes, comp: asm iast

#5748 Adds helpful Javadoc for configuration-related classes
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: type: documentation, tag: no release notes

#5865 Add span decoration probe integration tests
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5909 flag SpanDecoration smoke tests Flaky
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5904 Less verbose dependency collection debug logs
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
Labels: comp: telemetry

#5806 Correctly handle cases when there are multiple JVM forks per single test module
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/TestFramework.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/SpanUtils.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/settings.gradleTest
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/test/java/datadog/smoke/TestSucceed.java
  dd-smoke-tests/gradle/src/test/resources/datadog/smoketest/successMultiForks/src/test/java/datadog/smoke/TestSucceedJunit5.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
Labels: type: bug, comp: ci visibility

#5906 Fix Spark streaming flaky test
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkStructuredStreamingTest.groovy
Labels: tag: no release notes, inst: apache spark

#5911 Use _component_override for peer service source
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
Labels: comp: core, tag: no release notes, tag: experimental

#5902 Update to ASM rules 1.8.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#5905 Remove direct references to Taintable from advices
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintUriFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HeaderNameCallSite.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpHeaderSubclassesInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/HttpRequestInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/RequestContextInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestContextFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintRequestFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintUriFunction.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: comp: asm iast

#5284 Add support for scala APIs to IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/scala/build.gradle
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/RandomCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/ScalaJavaConverters.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/SourceCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringBuilderCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringContextCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringOpsCallSite.java
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/AbstractIastScalaTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/RandomCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/SourceCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/groovy/datadog/trace/instrumentation/scala/StringContextCallSiteTest.groovy
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestRandomSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestScalaStringBuilderSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestSourceSuite.scala
  dd-java-agent/instrumentation/scala/src/test/scala/foo/bar/TestStringInterpolationSuite.scala
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Labels: comp: asm iast

#5912 Fix Span decoration smoke tests flakiness
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5914 Upgrade to ddprof 0.78.0
  gradle/dependencies.gradle
Labels: comp: profiling

#5910 Add fallbacks when retrieving databricks ids
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: inst: apache spark

#5680 Telemetry v2 and message-batching
  .circleci/config.continue.yml.j2
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/BufferedEvents.java
  telemetry/src/main/java/datadog/telemetry/EventSink.java
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/main/java/datadog/telemetry/HostInfo.java
  telemetry/src/main/java/datadog/telemetry/RequestBuilder.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestState.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/test/groovy/datadog/telemetry/BufferedEventsSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/RequestBuilderSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
Labels: type: enhancement, comp: telemetry, run-tests: all

#5819 Add support for armeria-grpc
  dd-java-agent/instrumentation/armeria-grpc/build.gradle
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/ArmeriaMessageDeframerInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/GrpcClientDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/GrpcInjectAdapter.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcExtractAdapter.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcServerDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/HandlerRegistryBuilderInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcStreamingTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/test/proto/helloworld.proto
  dd-smoke-tests/armeria-grpc/application/.gitignore
  dd-smoke-tests/armeria-grpc/application/build.gradle
  dd-smoke-tests/armeria-grpc/application/settings.gradle
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/HelloServiceImpl.java
  dd-smoke-tests/armeria-grpc/application/src/main/java/datadog/smoketest/Main.java
  dd-smoke-tests/armeria-grpc/application/src/main/proto/hello.proto
  dd-smoke-tests/armeria-grpc/application/src/main/resources/logback.xml
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/ArmeriaGrpcClient.groovy
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/ArmeriaSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/PeerServiceNamingV1.java
  settings.gradle
Labels: type: enhancement, inst: grpc, inst: armeria

#5915 Update system-tests to a5c7ef0fa0f988b4c09e3734b99a37dd436a3eef
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#5919 Fix changelog generation crash on community contribution
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#5922 Use process.isAlive() in PortUtils
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
Labels: comp: testing, tag: no release notes, type: refactoring

#5736 Telemetry v2 config origin
  dd-smoke-tests/log-injection/src/main/java/datadog/smoketest/loginjection/BaseApplication.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/env/CapturedEnvironment.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/CapturedEnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigConverter.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/EnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/PropertiesConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/SystemPropertiesConfigSource.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/ConfigSettingTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/TelemetryCollectorsTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigConverterTest.groovy
  telemetry/src/main/java/datadog/telemetry/BufferedEvents.java
  telemetry/src/main/java/datadog/telemetry/EventSink.java
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestState.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/api/ConfigChange.java
  telemetry/src/test/groovy/datadog/telemetry/BufferedEventsSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestStateSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestHttpClient.groovy
Labels: comp: telemetry

#5924 Register that we will reflect on ConcurrentHashMap constructor at runtime
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
Labels: comp: native-image

#5835 Automatically configure list of packages for Jacoco instrumentation
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageTree.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/PackageResolverImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenTestExecution.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Labels: comp: ci visibility

#5845 Update Jacoco instrumentation logic to use static method handles instead of reflection
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/MethodVisitorWrapper.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ReflectiveMethodVisitor.java
Labels: tag: performance, comp: ci visibility

#5874 Imlpement ITR unskippable tests for JUnit 5
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkModuleProxy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/DDTestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformLauncherUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestSucceedUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: comp: ci visibility

#5931 Fix module coverage calculation issue where data from one module could influence data from another module
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TestModuleRegistry.java
Labels: type: bug, comp: ci visibility

#5920 Extract trace context from embedded SQS message attribute '_datadog'
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/messaging/DatadogAttributeParser.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/spring-messaging-4/src/main/java/datadog/trace/instrumentation/springmessaging/SpringMessageExtractAdapter.java
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/SpringListenerSQSTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
Labels: type: enhancement, inst: aws sdk

#5875 Create separate modules for test framework instrumentations based on JUnit 4
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestFailedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_failed.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-4.10/munit/build.gradle
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestFailedAssumptionMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSkippedSuiteMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/munit/src/test/scala/org/example/TestSucceedMUnit.scala
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4UtilsTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  gradle/configure_tests.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/util/MethodHandles.java
  settings.gradle
Labels: type: refactoring, comp: ci visibility

#5932 Fix NPE when there is no config in agent response
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Labels: comp: core, tag: no release notes

#5937 skip faulty version for muzzle
  dd-java-agent/instrumentation/jax-rs-client-2.0/build.gradle
Labels: comp: testing, tag: no release notes

#5928 Add redefinition listener to disable taintable visitor in case of failure
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableRedefinitionStrategyListener.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitor.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/MrReturnAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/iast/TaintableVisitorTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/bytebuddy/LoadedTaintableClass.java
Labels: comp: asm iast

#5934 Update Git unshallow logic to handle cases when HEAD points to a local-only commit
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
Labels: type: bug, comp: ci visibility

#5927 Fix baggage HTTP header encoding
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
Labels: type: bug, comp: core

#5882 Imlpement ITR unskippable tests for JUnit 4
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/java/org/example/cucumber/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestSucceedUnskippableSuite.java
Labels: comp: ci visibility

#5916 Fix smoke tests for J9 JVMs
  .circleci/config.continue.yml.j2
  .circleci/render_config.py
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5936 propagate span into lettuce CommandHandler event loop
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/AsyncCommandInstrumentation.java
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/CommandHandlerInstrumentation.java
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5AsyncClientTest.groovy
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5ReactiveClientTest.groovy
Labels: comp: profiling, inst: lettuce

#5944 register netty event loops known to do IO for wallclock profiling
  dd-java-agent/instrumentation/netty-transport-4/build.gradle
  dd-java-agent/instrumentation/netty-transport-4/src/main/java/datadog/trace/instrumentation/netty40/transport/EventLoopInstrumentation.java
  dd-java-agent/instrumentation/netty-transport-4/src/test/groovy/RegistrationTest.groovy
  settings.gradle
Labels: inst: grpc, comp: profiling, inst: lettuce, inst: netty

#5947 Fix blocking in netty 3.8
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/ChannelFutureListenerInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/BlockAllWritesHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/BlockingResponseHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/client/PlayWSClientTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/server/PlayAsyncServerTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/groovy/datadog/trace/instrumentation/play23/test/server/PlayServerTest.groovy
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/AsyncServer.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/ControllerClosureAdapter.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/Settings.scala
  dd-java-agent/instrumentation/play-2.3/src/test/scala/datadog/trace/instrumentation/play23/test/server/SyncServer.scala
Labels: type: bug, comp: asm waf

#5949 Remove application key header from settings and ITR requests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: comp: ci visibility

#5943 Flush telemetry data on JVM shutdown
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
Labels: comp: core, comp: telemetry

#5889 Implement ITR unskippable tests for TestNG
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedUnskippable.java
  dd-java-agent/instrumentation/testng/testng-6/build.gradle
  dd-java-agent/instrumentation/testng/testng-6/src/main/java/datadog/trace/instrumentation/testng6/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-6/src/test/groovy/TestNG6Test.groovy
  dd-java-agent/instrumentation/testng/testng-7.5/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/build.gradle
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-7/src/test/groovy/TestNG7Test.groovy
  gradle/configure_tests.gradle
  settings.gradle
Labels: comp: ci visibility

#5945 Add sampling smoke tests for log probes
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/DebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#5946 Prevent calling size method from unknown classes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/MapValue.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot24.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot26.java
Labels: comp: debugger

#5888 Add API Security request schema extraction
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/MapDataBundle.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: asm waf

#5942 Added Api Security request data classification
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: asm waf

#5952 Added trusted IPs protocol
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: comp: asm waf

#5897 Add latest dependency tests and muzzle verifications for test frameworks based on JUnit 5
  dd-java-agent/instrumentation/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSkippedFeatureCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippable.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedCucumberUnskippableSuite.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/TestSucceedExamplesCucumber.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/CalculatorSteps.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/java/org/example/cucumber/calculator/ParameterTypes.java
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_skipped_feature.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_unskippable_suite.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples.feature
  dd-java-agent/instrumentation/junit-5.3/cucumber/src/test/resources/org/example/cucumber/calculator/basic_arithmetic_with_examples_skipped.feature
  dd-java-agent/instrumentation/junit-5.3/spock/build.gradle
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestParameterizedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippable.groovy
  dd-java-agent/instrumentation/junit-5.3/spock/src/test/groovy/org/example/TestSucceedSpockUnskippableSuite.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  gradle/configure_tests.gradle
  settings.gradle
Labels: tag: no release notes, comp: ci visibility

#5950 Fix the X-Content-Type-Options header string
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Labels: type: bug, comp: asm iast

#5954 Enable jdk.ZAllocationStall event
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
Labels: comp: profiling

#5960 fix wallclock profiler enablement logic
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Labels: type: bug, comp: profiling

#5652 [FRAPMS-3788] Openliberty jakarta integration
  dd-java-agent/instrumentation/liberty-23/build.gradle
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ArrayOfTypeMatcher.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/HttpInboundServiceContextImplInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/HttpServletExtractAdapter.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyBlockingHelper.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyServerInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParameterCollector.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParseParametersInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParsePostDataInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/RequestFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/RequestMessageFromServletRequestHelper.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/RequestURIDataAdapter.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ResponseFinishInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/WebAppHandleExceptionInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23InactiveAppSecTest.groovy
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Server.groovy
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/AsyncServlet5.java
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/PassthruSyncServlet5.java
  dd-java-agent/instrumentation/liberty-23/src/webapp/resources/WEB-INF/web.xml
  dd-java-agent/instrumentation/liberty-23/src/webapp/resources/index.html
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletBlockingHelper.java
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/TestServlet5.groovy
  dd-smoke-tests/springboot-openliberty-20/application/pom.xml
  dd-smoke-tests/springboot-openliberty-20/application/src/main/java/com/openliberty/demo/Application.java
  dd-smoke-tests/springboot-openliberty-20/application/src/main/java/com/openliberty/demo/DemoController.java
  dd-smoke-tests/springboot-openliberty-20/application/src/main/liberty/config/server.xml
  dd-smoke-tests/springboot-openliberty-20/application/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-20/build.gradle
  dd-smoke-tests/springboot-openliberty-20/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
  dd-smoke-tests/springboot-openliberty-23/application/pom.xml
  dd-smoke-tests/springboot-openliberty-23/application/src/main/java/com/openliberty/demo/Application.java
  dd-smoke-tests/springboot-openliberty-23/application/src/main/java/com/openliberty/demo/DemoController.java
  dd-smoke-tests/springboot-openliberty-23/application/src/main/liberty/config/server.xml
  dd-smoke-tests/springboot-openliberty-23/application/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-23/build.gradle
  dd-smoke-tests/springboot-openliberty-23/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
  settings.gradle
Labels: inst: others
