Repository DataDog/dd-trace-java, pull requests merged in 2023-12, with the labels that each got.

#6303 Fix config DD_IAST_TRUNCATION_MAX_VALUE_LENGTH value typo
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
Labels: type: bug, comp: asm iast

#6304 Update system-tests to ca7566bf7e66c0afdf29b0d3c07b2972e5869997
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#5164 Add new sampling rules criteria and support for dynamic config
  dd-java-agent/instrumentation/okhttp-3/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SingleSpanSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SpanSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SpanSamplingRulesFileTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SpanSamplingRulesTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/TraceSamplingRulesTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingRule.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, comp: remote config

#6306 Remove obsolete Sink interface
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Sink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: tag: no release notes, type: refactoring, comp: debugger

#6308 Clean up Sampling Rules
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SpanSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SpanSamplingRulesTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/TraceSamplingRulesTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingRule.java
  internal-api/src/test/groovy/datadog/trace/api/sampling/SamplingRuleTest.groovy
Labels: comp: core, tag: no release notes

#6317 Fix root coverage packages calculation in large repositories
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageTree.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#6291 Armeria Jetty: ensure spans are finished
  dd-java-agent/instrumentation/armeria-jetty/build.gradle
  dd-java-agent/instrumentation/armeria-jetty/src/main/java/datadog/trace/instrumentation/armeria/jetty/ArmeriaHttpConnectionInstrumentation.java
  dd-java-agent/instrumentation/armeria-jetty/src/main/java/datadog/trace/instrumentation/armeria/jetty/ArmeriaJettyInstrumentation.java
  dd-java-agent/instrumentation/armeria-jetty/src/main/java/datadog/trace/instrumentation/armeria/jetty/AttributeKeys.java
  dd-java-agent/instrumentation/armeria-jetty/src/test/jetty11/groovy/ArmeriaJetty11ServerTest.groovy
  dd-java-agent/instrumentation/armeria-jetty/src/test/jetty9/groovy/ArmeriaJetty9ServerTest.groovy
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-11/src/testFixtures/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-9/src/testFixtures/groovy/datadog/trace/instrumentation/jetty9/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-9/src/testFixtures/groovy/datadog/trace/instrumentation/jetty9/TestHandler.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  settings.gradle
Labels: type: bug, inst: armeria

#6171 Configurable DSM bucket duration
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DataStreamsWritingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsMonitoringTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DataStreamsIntegrationTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: data streams

#6316 Revert "Add smoke test for multiple agents and NoProtectionDomain system loader"
  dd-smoke-tests/agent-bootstrap/build.gradle
  dd-smoke-tests/agent-bootstrap/src/another-agent/java/datadog/smoketest/agent/AnotherAgent.java
  dd-smoke-tests/agent-bootstrap/src/main/java/datadog/smoketest/app/App.java
  dd-smoke-tests/agent-bootstrap/src/main/java/datadog/smoketest/classloader/NoProtectionDomainClassLoader.java
  dd-smoke-tests/agent-bootstrap/src/test/groovy/datadog/smoketest/MultiAgentWithNoProtectionDomainSystemLoaderSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
  settings.gradle
Labels: tag: no release notes

#6318 Fix source path detection in multi-project repos
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
Labels: type: bug, comp: ci visibility

#6321 Cherrypick: Fix root coverage packages calculation in large repositories (#6317)
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageTree.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#6330 fix grpc test failures
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
Labels: tag: no release notes

#6313 Make propagation happen on AsyncResponse using CFX JAX-RS
  dd-java-agent/instrumentation/cxf-2.1/build.gradle
  dd-java-agent/instrumentation/cxf-2.1/src/latestDepTest/groovy/CxfContextPropagationTest.groovy
  dd-java-agent/instrumentation/cxf-2.1/src/latestDepTest/java/TestExceptionMapper.java
  dd-java-agent/instrumentation/cxf-2.1/src/latestDepTest/java/TestResource.java
  dd-java-agent/instrumentation/cxf-2.1/src/main/java/datadog/trace/instrumentation/cxf/InvokerInstrumentation.java
  dd-java-agent/instrumentation/cxf-2.1/src/main/java/datadog/trace/instrumentation/cxf/ServletHelper.java
  dd-java-agent/instrumentation/cxf-2.1/src/test/groovy/CxfContextPropagationTest.groovy
  dd-java-agent/instrumentation/cxf-2.1/src/test/java/TestExceptionMapper.java
  dd-java-agent/instrumentation/cxf-2.1/src/test/java/TestResource.java
  settings.gradle
Labels: type: bug, inst: jax-rs

#6122 Match tainted objects with sources when checking unbounded vulnerabilities
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/AbstractSinkModuleTest.groovy
Labels: comp: asm iast

#6310 Enforce new ingestion reason for spark traces
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatabricksParentContext.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkStructuredStreamingTest.groovy
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingMechanism.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/api/sampling/SamplingMechanismTest.groovy
Labels: inst: apache spark

#6309 Add field parent_stage_ids to `spark.stage` spans
  dd-java-agent/instrumentation/spark/spark_2.12/src/main/java/datadog/trace/instrumentation/spark/DatadogSpark212Listener.java
  dd-java-agent/instrumentation/spark/spark_2.13/src/main/java/datadog/trace/instrumentation/spark/DatadogSpark213Listener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
Labels: inst: apache spark

#6173 Add BP trigger for DSM Kafka Benchmark
  .gitlab/benchmarks.yml
Labels: comp: data streams

#6341 Fix span links serialization as tag
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanLink.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanLinkTest.groovy
Labels: type: bug, comp: core

#6344 Remove warning about unknown graphql.server.all_resolvers
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Labels: comp: asm waf

#6354 Ensure module name is consistent between test.module, test.suite and test spans when build system is instrumented
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilitySmokeTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/test-failed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-old-gradle/events.ftl
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_0_0/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/events.ftl
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
Labels: type: bug, comp: ci visibility

#6331 Implement Scalatest support
  .github/CODEOWNERS
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/TestFramework.java
  dd-java-agent/instrumentation/scalatest/build.gradle
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestItrInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestUtils.java
  dd-java-agent/instrumentation/scalatest/src/test/groovy/ScalatestTest.groovy
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-canceled/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-canceled/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed-suite/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed-suite/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-ignored/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-ignored/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-skipping/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable-not-skipped/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-pending/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-pending/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed-flat-spec/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed-flat-spec/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed-parameterized/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed-parameterized/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-succeed/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestFailed.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestFailedSuite.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestIgnored.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestIgnoredCanceled.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestIgnoredPending.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestSucceed.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestSucceedFlatSpec.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestSucceedParameterized.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestSucceedUnskippable.scala
  gradle/configure_tests.gradle
  settings.gradle
Labels: comp: ci visibility

#6241 Remove ReferenceQueue from TaintedMap implementation and purge inline
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapEmptyBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapGetsBenchmark.java
  dd-java-agent/agent-iast/src/jmh/java/com/datadog/iast/taint/TaintedMapPutsBenchmark.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetry.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/TaintedObjectEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/ObjectGen.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLogTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsNoOpTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetryTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
Labels: tag: no release notes, comp: asm iast, run-tests: all

#6349 Update ASM event rules to v1.10.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#6352 Make webflux compatible with latest spring 6
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/spring-webflux-5/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/SpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/client/SpringWebfluxHttpClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/client/StatusCodes.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/client/WebClientFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/AbstractWebfluxInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/AdviceUtils.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/DispatcherHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/HandleResultAdvice.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/HandlerAdapterAdvice.java
  dd-java-agent/instrumentation/spring-webflux-6/build.gradle
  dd-java-agent/instrumentation/spring-webflux-6/src/bootTest/groovy/SpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java/datadog/trace/instrumentation/springwebflux6/client/WebClientFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/TraceWebClientSubscriber.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/WebClientFilterAdvices.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/WebClientTracingFilter.java
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientBase.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoAfterTerminateTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnSuccessOrErrorTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnSuccessTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnTerminateTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-smoke-tests/spring-boot-2.6-webflux/src/test/groovy/datadog/smoketest/SpringBootWebfluxIntegrationTest.groovy
  dd-smoke-tests/spring-boot-2.7-webflux/src/test/groovy/datadog/smoketest/SpringBootWebfluxIntegrationTest.groovy
  dd-smoke-tests/spring-boot-3.0-webflux/src/test/groovy/datadog/smoketest/SpringBootWebfluxIntegrationTest.groovy
Labels: type: bug, inst: spring

#6276 Send probe statuses to new debugger track
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  communication/src/test/groovy/datadog/communication/ddagent/DDAgentFeaturesDiscoveryTest.groovy
  communication/src/test/resources/agent-features/agent-info.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/ProbeStatusSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
Labels: type: enhancement, comp: debugger

#6044 Extract Kafka cluster ID as tag for DSM
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfo.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInstrumentationHelper.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerCallback.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterable.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingList.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TracingListIterator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/TagsProcessor.java
Labels: comp: data streams

#6355 Add support of Java records
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/utils/InstrumentationTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/utils/SourceCompiler.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot29.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symbol/SymbolExtraction15.java
Labels: comp: debugger

#6322 Instrumenter.ForConfiguredType Javadoc update
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
Labels: tag: no release notes

#6363 cleanup crashtracking
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/CrashUploaderTest.java
  dd-java-agent/agent-crashtracking/src/test/resources/redacted-stacktrace.txt
  dd-java-agent/agent-crashtracking/src/test/resources/sample-crash-for-telemetry.txt
Labels: comp: crash tracking

#6360 Fix ContextStore#putIfAbsent method to not use a lambda
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/ContextStore.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/FieldBackedContextStore.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/WeakMapContextStore.java
Labels: comp: core, tag: no release notes, run-tests: all

#6372 Switch some unused Mocks to Stubs to avoid recording actions
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
Labels: comp: testing, tag: no release notes

#6376 Allow comma in request header tag values
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/TagContextExtractor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: breaking change, comp: context propagation

#6381 Allow introspection of cached keys and values
  internal-api/src/main/java/datadog/trace/api/cache/CHMCache.java
  internal-api/src/main/java/datadog/trace/api/cache/DDCache.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeCache.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeWeakKeyCache.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeWeightedCache.java
  internal-api/src/test/groovy/datadog/trace/api/cache/FixedSizeCacheTest.groovy
Labels: tag: no release notes, tag: diagnostics

#6383 Skip Scalatest alpha and beta versions
  dd-java-agent/instrumentation/scalatest/build.gradle
Labels: comp: testing, tag: no release notes

#6379 Ignore configuration blocks when comparing skippable test identifiers
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/TestDataRequest.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/TestIdentifier.java
Labels: comp: ci visibility

#6378 Reduce per-test code coverage overhead
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbeStore.java
Labels: tag: performance, comp: ci visibility

#6356 update jsch ver 0.2.6 -> 0.2.13
  build.gradle
Labels: tag: no release notes

#6374 Replaced unused Mocks with Stubs in AppSec
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/blocking/BlockingServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: testing, tag: no release notes, comp: asm waf

#6377 Replaced unused Mocks with Stubs in IAST
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/AbstractSinkModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/CommandInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HstsMissingHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/LdapInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoHttpCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/NoSameSiteCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/PathTraversalModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SqlInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/TrustBoundaryViolationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakCipherModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakHashModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakRandomnessModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XContentTypeOptionsModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XPathInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/XssModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetryTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/RangedDequeueTest.groovy
Labels: comp: testing, tag: no release notes, comp: asm iast

#6359 Populate tracer-flare zip with configuration details
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlarePoller.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/flare/TracerFlare.java
  internal-api/src/test/groovy/datadog/trace/api/flare/TracerFlareTest.groovy
Labels: tag: diagnostics

#6384 Accept any config id from Remote Config
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
Labels: comp: debugger

#6298 Tag-based sampling rules
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SamplingRule.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/core/util/Matcher.java
  dd-trace-core/src/main/java/datadog/trace/core/util/Matchers.java
  dd-trace-core/src/main/java/datadog/trace/core/util/TagsMatcher.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/RuleBasedSamplingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/TraceSamplingRulesTest.groovy
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingRule.java
Labels: comp: core

#6388 exclude spring-kafka runnables from spring scheduling wrapping
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ExcludeFilter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
Labels: inst: spring

#6336 RC config poller with multiple listeners per product
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: tag: no release notes, comp: remote config

#6394 Upgrade Testcontainers to 1.19.3
  gradle/dependencies.gradle
Labels: comp: testing, tag: no release notes

#6385 Rate limit Datadog tags decoding warnings
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/DatadogPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/test/groovy/datadog/trace/relocate/api/RateLimitedLoggerTest.groovy
Labels: comp: context propagation

#6386 Fix spark streaming flaky test
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkStructuredStreamingTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test, inst: apache spark

#6112 Support SSRF in Apache HttpClient V4
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SsrfModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastHttpServerTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-4/build.gradle
  dd-java-agent/instrumentation/apache-httpclient-4/src/iastIntegrationTest/groovy/IastHttpClientIntegrationTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-4/src/iastIntegrationTest/java/SsrfController.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/ApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/IastApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/IastHelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/test/groovy/IastHttpClientInstrumentationTest.groovy
  dd-java-agent/instrumentation/apache-httpcore-4/build.gradle
  dd-java-agent/instrumentation/apache-httpcore-4/src/main/java/datadog/trace/instrumentation/apachehttpcore/IastHttpHostInstrumentation.java
  dd-java-agent/instrumentation/apache-httpcore-4/src/test/groovy/datadog/trace/instrumentation/apachehttpcore/IastHttpHostInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/server/http/TestHttpServer.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/SsrfModule.java
  settings.gradle
Labels: comp: asm iast

#6361 Fix kinesis dsm flaky tests
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/kinesisDsmTest/groovy/AWS1KinesisClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/kinesisDsmTest/groovy/Aws2KinesisDataStreamsTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6400 dbm connection: do not access contextstore with null key
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DBMCompatibleConnectionInstrumentation.java
Labels: type: bug, inst: jdbc, comp:database

#6358 MongoDB 4.10-11 instrumentation fix
  dd-java-agent/instrumentation/mongo/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.4/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/Arg2Advice.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/BaseClusterInstrumentation410.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/DefaultConnectionPoolInstrumentation410.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
  dd-java-agent/instrumentation/mongo/src/test/groovy/MongoBaseTest.groovy
Labels: inst: mongodb

#6389 Add time and bucket size boundaries to the tainted map
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
Labels: comp: asm iast

#6373 couchbase tests: ignore errors on cleanup
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/test/groovy/CouchbaseClient32Test.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6403 Update repo indexer to not follow symlinks that point inside the repo
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: type: bug, comp: ci visibility

#6401 Update repo indexer to not follow symlinks that point inside the repo
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: type: bug, comp: ci visibility

#6132 Add support for names in jackson propagation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/iast/NamedContext.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/iast/NamedContextTest.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/iastTest/groovy/datadog/trace/instrumentation/akkahttp/iast/IastAkkaTest.groovy
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/pekko-http-1.0/src/iastTest/groovy/datadog/trace/instrumentation/pekkohttp/iast/IastPekkoTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux/server/IastTestController.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux/server/IastWebFluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux6/server/IastWebFluxTest.groovy
Labels: comp: asm iast

#6405 [🍒 6358] MongoDB 4.10-11 instrumentation fix
  dd-java-agent/instrumentation/mongo/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.4/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/Arg2Advice.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/BaseClusterInstrumentation410.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/DefaultConnectionPoolInstrumentation410.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
  dd-java-agent/instrumentation/mongo/src/test/groovy/MongoBaseTest.groovy
Labels: tag: no release notes

#6404 [🍒 6385] Rate limit Datadog tags decoding warnings
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/DatadogPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/test/groovy/datadog/trace/relocate/api/RateLimitedLoggerTest.groovy
Labels: tag: no release notes

#6395 byte-buddy 1.14.9
  buildSrc/build.gradle.kts
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: tag: dependencies

#6387 Report instrumenter state in tracer-flare
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterFlare.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
Labels: tag: diagnostics

#6399 Use OpenTelemetry SDK context key instead of Datadog proprietary one for local root span
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OtelContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
Labels: type: enhancement, inst: opentelemetry

#6370 Track Kafka Avro schemas using Data Streams
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/AvroSchemaExtractor.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/AvroMock.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/AvroMockSerializer.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-smoke-tests/datastreams/kafkaschemaregistry/build.gradle
  dd-smoke-tests/datastreams/kafkaschemaregistry/src/main/java/datadog/smoketest/datastreamskafka/KafkaProducerWithSchemaRegistry.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/SchemaSampler.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsMonitoringTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/SchemaSamplerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentDataStreamsMonitoring.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  settings.gradle
Labels: type: enhancement, comp: data streams

#6412 Optimise per-test code coverage for multi-threaded tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
Labels: tag: performance, comp: ci visibility

#6411 Avoid submitting multiple identical coverage reports when test span has children that are top-level spans
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
Labels: comp: ci visibility

#6408 Make logging the canonical holder of the dynamic debug state
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: tag: no release notes, type: refactoring, tag: diagnostics

#6397 JMXFetch 0.49.0
  dd-java-agent/agent-jmxfetch/build.gradle
Labels: comp: metrics

#6413 add new javaassist proxy separator to ignores
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ProxyClassIgnores.java
Labels: comp: core

#6393 fix logging dependencies for spring-messaging tests
  dd-java-agent/instrumentation/spring-messaging-4/build.gradle
Labels: comp: testing, tag: no release notes, tag: flaky test

#6415 Fix maven tests for 4.0.0-alpha-10
  dd-java-agent/instrumentation/maven-3.2.1/build.gradle
Labels: comp: testing, tag: no release notes

#6406 Add specific support for Optional
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_12.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot08.java
Labels: type: enhancement, comp: debugger

#6365 Add emitting status for probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeId.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ClassesToRetransformFinder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTracer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ProbeStatus.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StatsdMetricForwarder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTracerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/StatsdMetricForwarderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/ProbeStatusSinkTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MetricProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: type: enhancement, comp: debugger

#6420 Fix flaky smoke tests
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/AgentDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanProbesIntegrationTest.java
Labels: tag: no release notes, comp: debugger

#6418 Add install_signature to app-started
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Labels: comp: telemetry

#6419 Introduce special toString for well known classes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Value.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ValueRefExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_10.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
Labels: comp: debugger

#6409 Allow tracer-flare reporters to participate in the prepare+cleanup lifecycle
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterFlare.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlarePoller.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  internal-api/src/main/java/datadog/trace/api/flare/TracerFlare.java
  internal-api/src/test/groovy/datadog/trace/api/flare/TracerFlareTest.groovy
Labels: tag: no release notes, type: refactoring, tag: diagnostics

#6423 Remove retransformation on failed resolution
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: comp: debugger
