Repository DataDog/dd-trace-java, pull requests merged in 2023-02, with the labels that each got.

#4632 Update the Datadog Java Profiler integration
  dd-java-agent/agent-profiling/profiling-ddprof/build.gradle
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-utils/src/main/java/com/datadog/profiling/utils/LibraryHelper.java
  dd-java-agent/agent-profiling/profiling-utils/src/test/java/com/datadog/profiling/utils/LibraryHelperTest.java
  dd-java-agent/agent-profiling/profiling-utils/src/test/resources/libDummy.so
  dd-java-agent/build.gradle
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
Labels: no release notes, profiling

#4630 Fix incorrect arg name for already traced methods
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/controller/WebController.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: debugger

#4602 Fix CI spec tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CITagsProviderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/appveyor.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/azurepipelines.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitbucket.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitrise.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buddy.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buildkite.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/circleci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/github.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/gitlab.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/jenkins.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/travisci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/usersupplied.json
Labels: no release notes, ci-visibility

#4640 activate grpc.client span in ClientCall.request and ClientCall.halfClose
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
Labels: grpc, profiling

#4641 Add support for `this` as object reference in Expression Language
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferences.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/Values.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Value.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ObjectValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/RefResolverHelper.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_01.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_04.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_05.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_06.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LogInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CaptureAssertionHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: debugger

#4639 Update ASM event rules to 1.5.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: asm-waf

#4645 Fallback to run CI in /head of PR /merge
  .circleci/config.yml
Labels: dev/testing, no release notes

#4647 Use fixed commits for system-tests/lib-injection
  .github/workflows/lib-injection.yaml
Labels: dev/testing, no release notes

#4650 Bump libddwaf to 1.6.2
  dd-java-agent/appsec/build.gradle
Labels: asm-waf

#4655 Fix build for agent-iast tests
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
Labels: no release notes, dev/build, asm-iast

#4657 remove debugger check for config endpoint at bootstrap
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
Labels: debugger

#4665 Fix duplicated probe not instrumented
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
Labels: debugger

#4652 Fix failing CI provider tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/BuddyInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/GitUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/LocalFSGitInfoExtractor.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/info/UserSuppliedGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CISpecExtractor.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CITagsProviderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/appveyor.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/azurepipelines.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitbucket.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/bitrise.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buddy.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buildkite.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/circleci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/github.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/gitlab.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/jenkins.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/travisci.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/usersupplied.json
Labels: ci-visibility

#4646 Ensure propagation to gRPC pending calls to improve Code Hotspots for gRPC client
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ManagedChannelImplInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
Labels: grpc, profiling

#4649 Fix mixing capturing and non-capturing log probes
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/sink/snapshotWithEvalErrorRegex.txt
Labels: debugger

#4643 Simplify test framework listeners
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/TestDecorator.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Decorator.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4UtilsTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Decorator.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Utils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/testng-6.4/src/main/java/datadog/trace/instrumentation/testng/TestNGDecorator.java
  dd-java-agent/instrumentation/testng-6.4/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng-6.4/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng-6.4/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
Labels: no release notes, refactoring, ci-visibility

#4624 Instrumentation for Kotlin coroutines 1.5.0+
  dd-java-agent/instrumentation/kotlin-coroutines/build.gradle
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/build.gradle
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines13Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/build.gradle
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines15Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/AbstractCoroutinesInstrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/groovy/datadog/trace/instrumentation/kotlin/coroutines/AbstractKotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/kotlin/datadog/trace/instrumentation/kotlin/coroutines/CoreKotlinCoroutineTests.kt
  gradle/dependencies.gradle
  gradle/test-with-kotlin.gradle
  settings.gradle
Labels: integrations

#4622 Reuse TaintedMap instances in IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLogTest.groovy
Labels: performance, no release notes, asm-iast

#4595 Add support for taint tracking JSON in request body with Spring
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/SourceType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/source/WebModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/JsonFactoryCallSite.java
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/JsonFactoryCallSiteTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/java/foo/bar/JsonFactoryTestSuite.java
  dd-java-agent/instrumentation/jackson-core/src/test/java/foo/bar/JsonParserTestSuite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/InputStreamInstrumentation.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/InputStreamInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestInputStreamSuite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/ServletRequestCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/datadog/smoketest/controller/ServletRequestTestSuite.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
  settings.gradle
Labels: no release notes, asm-iast

#4651 Prefetch Docker images in tests and reorganize Docker scripts
  .circleci/config.yml
  .circleci/fetch_docker_images.sh
  .circleci/prepare_docker_env.sh
  .circleci/start_docker_autoforward.sh
Labels: dev/testing, no release notes

#4674 Fix Single Span Sampling for parent spans
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTagsFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SingleSpanSamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogPropagationTagsTest.groovy
Labels: core

#4676 Add the tracer's new springweb6 filters to reflect-config.json
  .circleci/config.yml
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
Labels: integrations, spring, native-image

#4653 Profiler API to record time spent in queues
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: profiling

#4677 track gRPC scheduling time in SynchronizationContext
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/SynchronizationContextInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/TimedRunnable.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcStreamingTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
Labels: grpc, profiling

#4682 Do not add the `_dd.p.dm` tag for spans selected by SSS
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
Labels: core

#4611 Refactor snapshot & log serializer
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/FieldExtractor.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Limits.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/SnapshotSummaryTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
  dd-java-agent/agent-debugger/src/test/java/datadog/trace/bootstrap/debugger/FieldExtractorTest.java
Labels: no release notes, debugger

#4680 Fix context propagation in gRPC `SerializingExecutor`
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AbstractExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AsyncPropagatingDisableInstrumentation.java
Labels: bug, grpc

#4692 fix gRPC client span start
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
Labels: no release notes

#4685 Mark some more tests as flaky
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpAsyncClient5Test.groovy
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleForkedTest.groovy
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/test/groovy/VertxRedisAPITestBase.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: dev/testing, no release notes

#4654 Split check job out of the critical path
  .circleci/cancel_workflow.sh
  .circleci/config.yml
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
Labels: dev/testing, no release notes

#4686 Fix race condition with transformer in smoke tests
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/DebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
Labels: dev/testing, no release notes, debugger

#4697 Use JDK 11 for spotless
  .circleci/config.yml
Labels: dev/testing, no release notes

#4700 unhook profiler queueing time
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
Labels: no release notes

#4695 Clean up Single Span Sampling logic. It shouldn't change trace sampling priority.
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SingleSpanSamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
Labels: core

#4698 More flaky test marks
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
Labels: dev/testing, no release notes

#4704 Move parseTemplate for log probes to tests part
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogMessageTemplateSummaryBuilderTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/LogProbeTestHelper.java
Labels: dev/testing, no release notes, debugger

#4703 ASM RC: new capabilities; more granularity in subscriptions
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: asm-waf

#4709 Refactor Json deserialization for test code only
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/CapturedValueAdapterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-smoke-tests/debugger-integration-tests/build.gradle
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
Labels: dev/testing, no release notes, debugger

#4706 String constructor instrumentation for IAST propagation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: no release notes, asm-iast

#4711 Do not fail if git info is missing
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
Labels: ci-visibility

#4610 Proposal for standardized storage of installable artifacts
  .gitlab-ci.yml
  tooling/ci/Dockerfile
  tooling/ci/ddtrace-info.sh
Labels: dev/testing, no release notes

#4710 Refactor ScopeManager for future scoped context improvements
  dd-java-agent/instrumentation/opentelemetry/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/NoOpHealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/AbstractContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ConcurrentContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuingScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/SingleContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeAndContinuationLayoutTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerDepthTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/CustomScopeManagerWrapper.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: core, no release notes, refactoring

#4666 Add agent connection reliability tests
  .circleci/config.yml
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  dd-trace-core/build.gradle
  dd-trace-core/src/test/groovy/datadog/trace/TracerConnectionReliabilityTest.groovy
Labels: core, no release notes

#4713 Remove redundant caches from CI
  .circleci/config.yml
Labels: dev/testing, no release notes

#4725 Add smoke tests for conditions & logs
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ProbeCondition.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Visitor.java
  dd-smoke-tests/debugger-integration-tests/build.gradle
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/DebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
Labels: dev/testing, no release notes, debugger

#4719 Fix IllegalStateException caused by Flows instrumentation in Kotlin coroutines
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines13Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines15Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/AbstractCoroutinesInstrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/CoroutineContextHelper.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
Labels: bug, integrations, community

#4740 Fix duplicate listeners registration for JUnit5
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
Labels: bug, ci-visibility

#4735 fix span's ResourceName package representation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: no release notes, debugger

#4721 Automatic demo service deployment
  .gitlab-ci.yml
Labels: debugger

#4752 Break out some hex string utilities used for W3C headers
  dd-trace-api/src/main/java/datadog/trace/api/DDId.java
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanId.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTraceId.java
  dd-trace-api/src/main/java/datadog/trace/api/internal/util/HexStringUtils.java
  dd-trace-api/src/test/groovy/datadog/trace/api/DDSpanIdTest.groovy
  dd-trace-api/src/test/groovy/datadog/trace/api/DDTraceIdTest.groovy
Labels: core, no release notes

#4744 Add ProbeId as span tag
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: debugger

#4742 Ignore additional proxy classes generated by Weld
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ProxyClassIgnores.java
Labels: bug, community

#4758 Fix DD Intake trace interceptor
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeTraceInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeTraceInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/util/TraceUtils.java
Labels: bug, ci-visibility

#4746 Fix flakiness in HttpServerTest
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: dev/testing, no release notes

#4754 Naming schema: mongodb changes
  dd-java-agent/instrumentation/mongo/build.gradle
  dd-java-agent/instrumentation/mongo/common/src/main/java/datadog/trace/instrumentation/mongo/MongoCommandListener.java
  dd-java-agent/instrumentation/mongo/common/src/main/java/datadog/trace/instrumentation/mongo/MongoDecorator.java
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/src/test/groovy/MongoCore31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.1/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.1/src/test/groovy/MongoJava31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/src/test/groovy/MongoSyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/src/test/groovy/MongoAsyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.4/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.4/src/test/groovy/MongoJava34ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/build.gradle
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/src/test/groovy/MongoCore37ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
  dd-java-agent/instrumentation/mongo/src/test/groovy/MongoBaseTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/DatabaseNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/NamingSchemaV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/DatabaseNamingV1.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/NamingSchemaV1.java
Labels: no release notes

#4759 Naming schema: elasticsearch
  dd-java-agent/instrumentation/elasticsearch/rest-5/src/main/java/datadog/trace/instrumentation/elasticsearch5/Elasticsearch5RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/rest-5/src/test/groovy/Elasticsearch5RestClientTest.groovy
  dd-java-agent/instrumentation/elasticsearch/rest-6.4/src/main/java/datadog/trace/instrumentation/elasticsearch6_4/Elasticsearch6RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/rest-7/src/main/java/datadog/trace/instrumentation/elasticsearch7/Elasticsearch7RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchTransportClientDecorator.java
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/main/java/datadog/trace/instrumentation/elasticsearch2/Elasticsearch2TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/test/groovy/Elasticsearch2NodeClientTest.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/test/groovy/Elasticsearch2TransportClientTest.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/test/groovy/springdata/Elasticsearch2SpringRepositoryTest.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/test/groovy/springdata/Elasticsearch2SpringTemplateTest.groovy
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/src/main/java/datadog/trace/instrumentation/elasticsearch5_3/Elasticsearch53TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-5/src/main/java/datadog/trace/instrumentation/elasticsearch5/Elasticsearch5TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-6/src/main/java/datadog/trace/instrumentation/elasticsearch6/Elasticsearch6TransportClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/src/main/java/datadog/trace/instrumentation/elasticsearch7_3/Elasticsearch73TransportClientInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/DatabaseNamingV1.java
Labels: no release notes

#4761 Naming schema: cassandra
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/CassandraClientDecorator.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/TracingSession.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/test/groovy/CassandraClientTest.groovy
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/CassandraClientDecorator.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/TracingSession.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/test/groovy/CassandraClientTest.groovy
Labels: no release notes

#4774 update to Java profiler library 0.15.0
  gradle/dependencies.gradle
Labels: profiling

#4768 naming schema: aerospike
  dd-java-agent/instrumentation/aerospike-4/src/main/java/datadog/trace/instrumentation/aerospike4/AerospikeClientDecorator.java
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeAsyncClientTest.groovy
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeBaseTest.groovy
  dd-java-agent/instrumentation/aerospike-4/src/test/groovy/datadog/trace/instrumentation/aerospike4/AerospikeClientTest.groovy
Labels: no release notes

#4769 service naming: jdbc
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/DatabaseClientDecorator.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v1/DatabaseNamingV1.java
Labels: no release notes

#4766 Add source file path detection for Kotlin
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/RepoIndexSourcePathResolverTest.groovy
Labels: ci-visibility

#4770 spring webflux client 6
  dd-java-agent/instrumentation/spring-webflux-6/NOTICE.txt
  dd-java-agent/instrumentation/spring-webflux-6/build.gradle
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java/datadog/trace/instrumentation/springwebflux6/client/WebClientFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDecorator.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/TraceWebClientSubscriber.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/WebClientFilterAdvices.java
  dd-java-agent/instrumentation/spring-webflux-6/src/main/java17/datadog/trace/instrumentation/springwebflux6/client/WebClientTracingFilter.java
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientBase.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientBasicTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientBuilderReuseTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoAfterTerminateTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnSuccessOrErrorTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnSuccessTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientDoOnTerminateTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientFilterBuilderReuseTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientFilterTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/groovy/dd/trace/instrumentation/springwebflux6/client/SpringWebfluxHttpClientFiltersRemovedTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/test/resources/logback.xml
  settings.gradle
Labels: integrations, spring

#4767 naming schema: couchbase
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/main/java/datadog/trace/instrumentation/couchbase/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/main/java/datadog/trace/instrumentation/couchbase/client/CouchbaseOnSubscribe.java
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/test/groovy/CouchbaseAsyncClientTest.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/test/groovy/CouchbaseClientTest.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/test/groovy/springdata/CouchbaseSpringRepositoryTest.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/test/groovy/util/AbstractCouchbaseTest.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/test/groovy/CouchbaseClient32Test.groovy
  dd-java-agent/instrumentation/rxjava-1/src/main/java/datadog/trace/instrumentation/rxjava/TracedOnSubscribe.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/DatabaseNamingV0.java
Labels: no release notes

#4772 Naming schema: http url connection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/UriBasedClientDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/UrlConnectionDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/httpurlconnection/HttpUrlState.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/UrlConnectionDecoratorTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/UrlInstrumentation.java
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/HttpUrlConnectionTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/ClientNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/NamingSchemaV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/ClientNamingV1.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/NamingSchemaV1.java
Labels: no release notes

#4765 Set 'env' to 'none' if not set or empty
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeTraceInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeTraceInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/util/TraceUtils.java
  internal-api/src/test/groovy/datadog/trace/util/TraceUtilsTest.groovy
Labels: bug, ci-visibility

#4778 Test the right version in test-published-dependencies
  build.gradle
  dd-smoke-tests/quarkus/application/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-webflux/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-webmvc/application/build.gradle
  dd-smoke-tests/wildfly/spring-ear/build.gradle
  test-published-dependencies/build.gradle
Labels: dev/testing, no release notes

#4733 Update agent feature keys to refer to corresponding properties
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: bug, no release notes, ci-visibility

#4776 Fix internal-api test compile with JDK >8 default
  internal-api/build.gradle
Labels: dev/testing, no release notes

#4751 Update ASM event rules to 1.5.1
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: asm-waf

#4760 Upgrade to libsqreen 6.1.0/libddwaf 1.8.2
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/PowerwafBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecUserConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CollectedUserConfigs.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecUserConfigDeserializerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: asm-waf

#4739 Simplify scope activation in AWS-SDK instrumentations [2 of 3]
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/OnErrorDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
Labels: integrations, aws-sdk

#4730 Trace distributed work related to consuming SQS messages
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/AbstractSqsInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/QueueBufferConfigInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsReceiveResultInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/TracingIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/TracingList.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/TracingListIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/AbstractSqsInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsReceiveRequestInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsReceiveResultInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingList.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/TracingListIterator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/TimeInQueueForkedTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: integrations, breaking-change, aws-sdk

#4786 Align DD_TRACE_PROPAGATION_STYLE* names with other tracers
  dd-trace-api/src/main/java/datadog/trace/api/PropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationStyle.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/NoneCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: breaking-change, context-propagation

#4789 Exclude datadog.trace.api.internal.util from shading in dd-trace-ot
  dd-trace-ot/build.gradle
Labels: no release notes, api

#4791 Add 'env' tag assertion to test frameworks integration tests
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/TestFrameworkTest.groovy
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeTraceInterceptor.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: no release notes, ci-visibility

#4720 Move aggregate tasks to gradle
  .circleci/config.yml
  build.gradle
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-profiling/build.gradle
  dd-java-agent/instrumentation/build.gradle
  dd-smoke-tests/build.gradle
Labels: dev/testing, no release notes

#4775 Tag profile events with span operation name
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  gradle/dependencies.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilerContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: profiling

#4524 Rename remote config poll interval environment variable
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/RemoteConfigConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  remote-config/src/main/java/datadog/remoteconfig/PollerScheduler.java
Labels: remote-config

#4793 Skip buildSrc tests by default
  .circleci/config.yml
  buildSrc/build.gradle.kts
Labels: dev/testing, no release notes, dev/build

#4788 naming schema: servlet, tomcat and jetty
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/instrumentation/jetty-11/src/main/java11/datadog/trace/instrumentation/jetty11/JettyDecorator.java
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/Jetty11Test.groovy
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyDecorator.java
  dd-java-agent/instrumentation/jetty-7.0/src/test/groovy/Jetty70Test.groovy
  dd-java-agent/instrumentation/jetty-7.0/src/test/groovy/JettyContinuationHandlerTest.groovy
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/JettyDecorator.java
  dd-java-agent/instrumentation/jetty-7.6/src/test/groovy/Jetty76Test.groovy
  dd-java-agent/instrumentation/jetty-7.6/src/test/groovy/JettyContinuationHandlerTest.groovy
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyDecorator.java
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/Jetty9Test.groovy
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/JettyContinuationHandlerTest.groovy
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleForkedTest.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Decorator.java
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/JettyServlet2Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Decorator.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/AbstractServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/ProxyRequestHelperTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/TomcatDecorator.java
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/AbstractServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/WithHttpServer.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/naming/NamingConventions.groovy
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/NamingSchemaV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/ServerNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/NamingSchemaV1.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/ServerNamingV1.java
Labels: no release notes

#4784 naming schema: grpc client
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/GrpcClientDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcStreamingTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/HierarchyMatcherGrpcStreamingTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/HierarchyMatcherGrpcTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v0/ClientNamingV0.java
Labels: no release notes

#4785 naming schema: rmi clients
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/rmi/RmiClientDecorator.java
  dd-java-agent/instrumentation/rmi/src/test/groovy/RmiTest.groovy
  internal-api/src/main/java/datadog/trace/api/naming/v0/ClientNamingV0.java
Labels: no release notes

#4814 Separate FixedSizePartialKeyCache from FixedSizeCache.
  internal-api/src/main/java/datadog/trace/api/cache/DDCaches.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeCache.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizePartialKeyCache.java
Labels: no release notes, refactoring

#4810 Fix issue when converting bytes and floats to string in invoke dynamic
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/main/java/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/java/foo/bar/TestStringConcatFactorySuite.java
Labels: bug, asm-iast
