Repository DataDog/dd-trace-java, pull requests merged in 2023-05, with the labels that each got.

#5098 Refactor Metric instrumentation
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/DiagnosticMessage.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: no release notes, refactoring, debugger

#5133 Migrate native-image smoke tests from 2.7 beta to Spring Boot 3
  .circleci/config.yml
  dd-smoke-tests/spring-boot-3.0-native/application/.gitignore
  dd-smoke-tests/spring-boot-3.0-native/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-native/application/settings.gradle
  dd-smoke-tests/spring-boot-3.0-native/application/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-boot-3.0-native/application/src/main/java/datadog/smoketest/springboot/controller/WebController.java
  dd-smoke-tests/spring-boot-3.0-native/application/src/main/resources/application.properties
  dd-smoke-tests/spring-boot-3.0-native/build.gradle
  dd-smoke-tests/spring-boot-3.0-native/src/test/groovy/SpringBootNativeInstrumentationTest.groovy
  dd-smoke-tests/spring-native/application/.gitignore
  dd-smoke-tests/spring-native/application/build.gradle
  dd-smoke-tests/spring-native/application/src/main/resources/application.properties
  dd-smoke-tests/spring-native/build.gradle
  settings.gradle
Labels: dev/testing, native-image

#5136 Fix hashcode and equals for Span Decoration Probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
Labels: no release notes, debugger

#5052 add kafka bootstrap server to producer span
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
Labels: kafka

#5128 Safely parse URL and respect http server status code error rule
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/AkkaHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpAsyncClientDecorator.java
  dd-java-agent/instrumentation/finatra-2.9/src/main/java/datadog/trace/instrumentation/finatra/FinatraDecorator.java
  dd-java-agent/instrumentation/google-http-client/src/main/java/datadog/trace/instrumentation/googlehttpclient/GoogleHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/NettyHttpClientDecorator.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/NettyHttpServerDecorator.java
  dd-java-agent/instrumentation/restlet-2.2/src/test/groovy/RestletTestBase.groovy
  dd-java-agent/instrumentation/spray-1.3/src/test/groovy/SprayServerTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/dynamic/DynamicRoutingTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/filter/ServletFilterTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/urlhandlermapping/UrlHandlerMappingTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/urlhandlermapping/UrlHandlerMappingTest.groovy
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseServerDecorator.java
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/RequestURIDataAdapter.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowServletTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowServletTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIDataAdapter.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIDataAdapterBase.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIUtils.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/UnparseableURIDataAdapter.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/URIDataAdapterTest.groovy
Labels: integrations

#5141 upgrade to ddprof 0.35.0
  gradle/dependencies.gradle
Labels: profiling

#5143 [Undertow] move bad url instrumentation to 2.0 version
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HttpRequestParserInstrumentation.java
Labels: no release notes

#5118 Adapt spark instrumentation for databricks
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
Labels: integrations, apache-spark

#5144 Don't use strictly for testng dependency
  dd-java-agent/instrumentation/testng/build.gradle
Labels: no release notes, dev/build

#5140 Upgrade WAF rules to v1.7.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: asm-waf

#5132 Fix Git info extraction logic to fall back to alternative providers when encountering empty or blank strings
  internal-api/src/main/java/datadog/trace/api/git/GitInfoProvider.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/api/git/GitInfoProviderTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
Labels: bug, ci-visibility

#5157 Add basic Spock Framework support to CI Visibility
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestFrameworkUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestParameterizedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/org/example/TestSucceedSpock.groovy
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: ci-visibility

#5130 Implement automatic CI Visibility configuration for Gradle projects
  dd-java-agent/instrumentation/gradle/build.gradle
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleUtils.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: ci-visibility

#5135 [USM] combined SSLSocket and SSLSocketStreams instrumentations
  dd-java-agent/instrumentation/sslsocket/src/main/java/datadog/trace/instrumentation/sslsocket/SslSocketInstrumentation.java
  dd-java-agent/instrumentation/sslsocket/src/main/java/datadog/trace/instrumentation/sslsocket/SslSocketStreamsInstrumentation.java
Labels: USM

#5041 vertx-redis: implement v1 naming and surface remote connection info
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisAPICallAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisAPIImplSendAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisAPIInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisConnectAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisConnectionConstructAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisSendAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/ResponseHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/VertxRedisClientDecorator.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/test/groovy/VertxRedisTestBase.groovy
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/test/groovy/VertxRedisV1ForkedTest.groovy
Labels: redis

#5137 Redact IAST evidences
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Evidence.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/FormattingAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/SourceAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/VulnerabilityEncoding.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/VulnerabilityTypeAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/AbstractRegexTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/CommandRegexpTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/LdapRegexTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SensitiveHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SensitiveHandlerImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SqlRegexpTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/UrlRegexpTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SqlInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/Ranged.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/RangedDeque.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/EvidenceTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/TaintedObjectEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sensitive/SensitiveHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SqlInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/RangedDequeueTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/RangedTest.groovy
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastConnectionCallSite.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastStatementCallSite.java
  dd-smoke-tests/jersey-2/src/test/groovy/datadog/smoketest/Jersey2SmokeTest.groovy
  dd-smoke-tests/jersey-3/src/test/groovy/datadog/smoketest/Jersey3SmokeTest.groovy
  dd-smoke-tests/resteasy/src/test/groovy/smoketest/ResteasySmokeTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/SqlInjectionModule.java
Labels: asm-iast

#5161 Remove propagation from IAST metrics
  dd-java-agent/instrumentation/commons-codec-1/src/main/java/datadog/trace/instrumentation/commonscodec/Base64CallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/main/java/datadog/trace/instrumentation/java/lang/jdk11/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/main/java/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URICallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLCallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLDecoderCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/HttpServletRequestCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/request/ServletRequestCallSite.java
  internal-api/src/main/java/datadog/trace/api/iast/IastAdvice.java
  internal-api/src/main/java/datadog/trace/api/iast/PropagationTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
Labels: no release notes, asm-iast

#5150 Add support of len and index expression for metric
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot22.java
Labels: debugger

#5160 Make embedded git.properties have lower priority than other git metadata sources
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CILocalGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CIProviderGitInfoBuilder.java
  internal-api/src/main/java/datadog/trace/api/git/EmbeddedGitInfoBuilder.java
  internal-api/src/main/java/datadog/trace/api/git/GitInfoBuilder.java
  internal-api/src/main/java/datadog/trace/api/git/GitInfoProvider.java
  internal-api/src/main/java/datadog/trace/api/git/UserSuppliedGitInfoBuilder.java
  internal-api/src/test/groovy/datadog/trace/api/git/GitInfoProviderTest.groovy
Labels: bug, ci-visibility

#5154 Support dynamic configuration of tagged headers
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/ExtractorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/B3HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/DatadogHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HaystackHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/TagContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
Labels: core

#5145 [Spark] Use the name of the last stage as the job name
  dd-java-agent/instrumentation/spark/build.gradle
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
  dd-java-agent/instrumentation/spark/src/test/java/TestSparkComputation.java
Labels: integrations, apache-spark

#5123 [Serverless] fix stackoverflow json deserialization
  dd-trace-core/src/main/java/datadog/trace/lambda/SkipAbstractTypeJsonSerializer.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/SkipTypeJsonSerializerTest.groovy
Labels: serverless

#5162 Set a resolved Undertow servlet route
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/ServletInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/NotHereServlet.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowServletTest.groovy
Labels: bug, integrations

#5040 Create deb and rpm packages in gitlab
  .gitlab-ci.yml
Labels: no release notes

#5147 Update ASM blocking templates
  dd-java-agent/agent-bootstrap/src/main/resources/datadog/trace/bootstrap/blocking/template.html
  dd-java-agent/agent-bootstrap/src/main/resources/datadog/trace/bootstrap/blocking/template.json
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: asm-waf

#5159 Catch exceptions throws from instrumented code
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: debugger

#5165 Add inclusion for org.springframework.security.web.authentication.*
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: no release notes, asm-iast

#5171 Change regular logger to rate limited logger
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
Labels: no release notes, debugger

#5117 Insecure cookies detection for servlet
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureCookieModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureCookieModuleTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/test/java/foo/bar/DummyResponse.java
  dd-java-agent/instrumentation/servlet/request-2/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyResponse.java
  dd-smoke-tests/springboot/build.gradle
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/InsecureCookieModule.java
Labels: asm-iast

#5168 Fix Diagnostic Messages on multi probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InstrumentationResult.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: debugger

#5178 Upgrade to libddwaf v1.10.0 (libsqreen 6.3.0)
  dd-java-agent/appsec/build.gradle
Labels: asm-waf

#5172 Add missing SSRF setup for IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
Labels: asm-iast

#5169 uniform v1 database naming to otel
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/DatabaseClientDecorator.java
  dd-java-agent/instrumentation/aerospike-4/src/main/java/datadog/trace/instrumentation/aerospike4/AerospikeClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/main/java/datadog/trace/instrumentation/couchbase/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/CouchbaseClientDecorator.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/CassandraClientDecorator.java
  dd-java-agent/instrumentation/datastax-cassandra-4/src/main/java/datadog/trace/instrumentation/datastax/cassandra4/CassandraClientDecorator.java
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchRestClientDecorator.java
  dd-java-agent/instrumentation/elasticsearch/src/main/java/datadog/trace/instrumentation/elasticsearch/ElasticsearchTransportClientDecorator.java
  dd-java-agent/instrumentation/ignite-2.0/src/main/java/datadog/trace/instrumentation/ignite/v2/cache/IgniteCacheDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCInstrumentationTestBase.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/jedis-1.4/src/main/java/datadog/trace/instrumentation/jedis/JedisClientDecorator.java
  dd-java-agent/instrumentation/jedis-3.0/src/main/java/datadog/trace/instrumentation/jedis30/JedisClientDecorator.java
  dd-java-agent/instrumentation/jedis-4.0/src/main/java/redis/clients/jedis/JedisClientDecorator.java
  dd-java-agent/instrumentation/lettuce-4/src/main/java/datadog/trace/instrumentation/lettuce4/LettuceClientDecorator.java
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/LettuceClientDecorator.java
  dd-java-agent/instrumentation/mongo/common/src/main/java/datadog/trace/instrumentation/mongo/MongoDecorator.java
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/src/test/groovy/MongoCore31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.1/src/test/groovy/MongoJava31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/src/test/groovy/MongoSyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/src/test/groovy/MongoAsyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.4/src/test/groovy/MongoJava34ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/src/test/groovy/MongoCore37ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
  dd-java-agent/instrumentation/mongo/src/test/groovy/MongoBaseTest.groovy
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/RediscalaClientDecorator.java
  dd-java-agent/instrumentation/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonClientDecorator.java
  dd-java-agent/instrumentation/spymemcached-2.10/src/main/java/datadog/trace/instrumentation/spymemcached/MemcacheClientDecorator.java
  dd-java-agent/instrumentation/vertx-mysql-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_sql_client/VertxSqlClientDecorator.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/VertxRedisClientDecorator.java
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/DatabaseNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/DatabaseNamingV1.java
Labels: no release notes

#5179 Add SSRF smoke tests for IAST
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: dev/testing, no release notes, asm-iast

#5026 Memoized type matching
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/HasContextField.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/HasSuperMethod.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/MemoizedMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/Memoizer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/NoMatchFilter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypePoolFacade.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/ResolverCacheConfig.java
Labels: core, performance, refactoring

#5182 Fix encoding of remote config capabilities
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: remote-config

#5166 Unwrap IAST telemetry tags stored in spans
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/IastTelemetry.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/IastTelemetryImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/IastTelemetryTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: no release notes, asm-iast

#5190 Fix scheduled deploys
  .gitlab-ci.yml
Labels: no release notes

#5195 set traceid and spanid on catalina request
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/TomcatServerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: integrations

#5199 Add null support for metric values
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Visitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/NullValue.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
Labels: debugger

#5200 Provide access to the trace's TraceConfig given a span from that trace
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: core, no release notes, refactoring

#5198 Pass captured TraceConfig from extractor to trace
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: core, no release notes, refactoring

#5202 Exclude jboss-logmanager 3.0.0-alpha1 from log-injection smoke tests
  dd-smoke-tests/log-injection/build.gradle
Labels: dev/testing, no release notes

#5201 Add support for private fields for metric values
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot04.java
Labels: debugger

#5156 Add probe id and eval errors as _dd tags
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: debugger

#5189 record time spent in TPE work queue
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/TaskWrapper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/State.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/TaskWrapperTest.groovy
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFRTimer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/JFRTimerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/SafeToLoadJFRCheckpointerTest.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/profiling/UnwrappingVisitor.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskWrapperInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/ExecutorInstrumentationTest.groovy
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/resources/overrides.jfp
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/profiling/QueueTiming.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timer.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: profiling

#5170 [Spark] Add appId and sparkVersion tags to all spark spans
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkInstrumentation.java
Labels: integrations, apache-spark

#5204 Add ScopeContext and baggage
  dd-trace-api/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDBaggage.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/AbstractContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ConcurrentContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuingScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContext.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/SingleContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/BaggageTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeContextTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/CustomScopeManagerWrapper.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/CustomScopeManagerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScopeContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Baggage.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ContextKey.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
Labels: core

#5207 Add double-quoted string literal in sqlite to IAST redaction
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SqlRegexpTokenizer.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Labels: asm-iast

#5181 Upgrade ddprof to 0.36.0, change profiler defaults
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: profiling

#5212 Fix InsecureCookieModuleTest
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureCookieModuleTest.groovy
Labels: dev/testing, no release notes, asm-iast

#5215 Fix environment variables for IAST redaction
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: asm-iast

#5217 Fix HealthMetricsTest flaky tests
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
Labels: dev/testing, no release notes

#5218 Fix assertj-core version for Kafka tests
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-streams-0.11/build.gradle
Labels: dev/testing, integrations, no release notes

#5225 Fix HttpServerDecoratorTest
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
Labels: dev/testing, no release notes

#5203 Fix for Vert.x 4.0 null path case
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteHandlerWrapper.java
Labels: bug, integrations

#5229 Fix SessionStateTest
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/jms/SessionStateTest.groovy
Labels: dev/testing, no release notes

#5230 Fix :dd-smoke-tests:wildfly build
  dd-smoke-tests/wildfly/build.gradle
Labels: no release notes, dev/build

#5187 Detect unvalidated redirect vulnerabilities in servlets
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/test/java/foo/bar/DummyResponse.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyResponse.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/AbstractSpringBootIastTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootRedirectSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HttpHeaderModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/InsecureCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/UnvalidatedRedirectModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
Labels: asm-iast

#5213 Fix job partitioning in CI
  build.gradle
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/DBTypeProcessingDatabaseClientDecoratorTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/baseTest/groovy/AkkaHttpServerInstrumentationTest.groovy
  dd-java-agent/instrumentation/grizzly-2/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang-9/build.gradle
  dd-java-agent/instrumentation/jedis-4.0/src/test/groovy/Jedis40ClientTest.groovy
  dd-java-agent/instrumentation/netty-3.8/src/latestDepTest/groovy/datadog/trace/instrumentation/netty38/latestdep/Netty38ServerTest.groovy
  dd-java-agent/instrumentation/netty-3.8/src/test/groovy/datadog/trace/instrumentation/netty38/Netty38ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.0/src/test/groovy/Netty40ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.1/src/test/groovy/Netty41ServerTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redisson20/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redisson23/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson-2.0.0/src/test/redissonLatest/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServletHandlerTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/Servlet3TestGetParameterInstrumentation.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/spring-cloud-zuul-2/src/test/groovy/SpringBootZuulTest.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
Labels: dev/testing, no release notes

#5194 Cache TestEventsHandler instance
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/CachingTestEventsHandlerFactory.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/events/CachingTestEventsHandlerFactoryTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: bug, ci-visibility

#5236 Fix TelemetryRunnableSpecification
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
Labels: dev/testing, no release notes, telemetry

#5223 Improve support for SQL escaped literals in redaction
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SqlRegexpTokenizer.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Labels: asm-iast

#5235 Fix telemetry heartbeat in presence of other messages
  telemetry/src/main/java/datadog/telemetry/TelemetryServiceImpl.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: telemetry

#5224 resteasy and jersey unvalidated redirect instrumentation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UnvalidatedRedirectModuleTest.groovy
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/JakartaWSResponseInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/test/groovy/datadog/trace/instrumentation/jersey/JakartaWSResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/JavaxWSResponseInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/test/groovy/JavaxWSResponseInstrumentationTest.groovy
  dd-smoke-tests/jersey-3/src/main/java/smoketest/resource/MyResource.java
  dd-smoke-tests/jersey-3/src/test/groovy/datadog/smoketest/Jersey3SmokeTest.groovy
  dd-smoke-tests/resteasy/src/main/java/smoketest/resteasy/Resource.java
  dd-smoke-tests/resteasy/src/test/groovy/smoketest/ResteasySmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/UnvalidatedRedirectModule.java
Labels: asm-iast

#5173 [Spark] Link databricks spark jobs to databricks workflow tasks
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatabricksParentContext.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkInstrumentation.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: integrations, apache-spark

#5231 Fix java .deb/.rpm versioning
  .gitlab-ci.yml
  .gitlab/build_java_package.sh
Labels: no release notes, dev/build

#5238 Provide 'traceConfig(span)' and 'traceConfig()' static helpers
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: core, no release notes, refactoring

#5242 Disable embedded Git metadata extraction
  internal-api/src/main/java/datadog/trace/api/git/GitInfoProvider.java
Labels: bug, profiling, telemetry

#5237 reenable profiling tests
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-smoke-tests/profiling-integration-tests/src/main/java/datadog/smoketest/profiling/ProfilingTestApplication.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/SmokeTestUtils.java
Labels: no release notes

#5247 bump ddprof to 0.39.0
  gradle/dependencies.gradle
Labels: profiling

#5196 Optimize CSI advices when fetching class file buffers
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesInvokeDynamicTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
Labels: no release notes, asm-iast

#5246 Fix path parameter vulnerability source in resteasy
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/source/WebModuleImpl.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/PathParamInjectorAdvice.java
  internal-api/src/main/java/datadog/trace/api/iast/source/WebModule.java
Labels: asm-iast

#5250 Emit datadog.ProfilerSetting events on J9
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  gradle/dependencies.gradle
Labels: profiling

#5248 Remove unnecessary telemetry interfaces
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetryServiceImpl.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyService.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyServiceImpl.java
  telemetry/src/main/java/datadog/telemetry/dependency/LocationsCollectingTransformer.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyPeriodActionSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/LocationsCollectingTransformerSpecification.groovy
  telemetry/src/test/java/datadog/telemetry/dependency/DependencyServiceTests.java
Labels: no release notes, refactoring, telemetry

#5249 Change span decoration config for interpolation
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/ValueScript.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/LogMessageTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_span_decoration_probe.json
Labels: debugger

#5234 Add utilities to simplify IAST smoke testing
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/CookieInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/ThreadLocalSourceType.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractJerseySmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/model/Vulnerability.groovy
  dd-smoke-tests/jersey-2/build.gradle
  dd-smoke-tests/jersey-2/src/main/java/com/restserver/DB.java
  dd-smoke-tests/jersey-2/src/main/java/com/restserver/Resource.java
  dd-smoke-tests/jersey-2/src/test/groovy/datadog/smoketest/Jersey2SmokeTest.groovy
  dd-smoke-tests/jersey-3/build.gradle
  dd-smoke-tests/jersey-3/src/main/java/smoketest/DB.java
  dd-smoke-tests/jersey-3/src/main/java/smoketest/Resource.java
  dd-smoke-tests/jersey-3/src/test/groovy/datadog/smoketest/Jersey3SmokeTest.groovy
  dd-smoke-tests/resteasy/build.gradle
  dd-smoke-tests/resteasy/src/main/java/smoketest/resteasy/DB.java
  dd-smoke-tests/resteasy/src/main/java/smoketest/resteasy/Resource.java
  dd-smoke-tests/resteasy/src/test/groovy/smoketest/ResteasySmokeTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/build.gradle
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/SimpleIastController.java
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/spring-security/build.gradle
  dd-smoke-tests/spring-security/src/test/groovy/datadog/smoketest/SpringSecurityJwtTest.groovy
  dd-smoke-tests/springboot/build.gradle
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/AbstractSpringBootIastTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootRedirectSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/vertx-3.4/src/test/groovy/datadog/smoketest/IastVertxSmokeTest.groovy
  dd-smoke-tests/vertx-3.9/src/test/groovy/datadog/smoketest/IastVertxSmokeTest.groovy
Labels: dev/testing, no release notes, asm-iast

#5251 implement endpoint profiling for JDKs which don't have JFR
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerCheckpointer.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: profiling

#5214 [netty] don't create two root spans if 100 continue is expected
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-3.8/src/test/groovy/datadog/trace/instrumentation/netty38/Netty38ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/test/groovy/Netty40ServerTest.groovy
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/test/groovy/Netty41ClientTest.groovy
  dd-java-agent/instrumentation/netty-4.1/src/test/groovy/Netty41ServerTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowServletTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/test/groovy/UndertowTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowDispatcherTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowServletTest.groovy
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/test/groovy/UndertowTest.groovy
  dd-java-agent/instrumentation/vertx-rx-3.5/src/test/groovy/server/VertxRxCircuitBreakerHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-rx-3.5/src/test/groovy/server/VertxRxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/VertxTestServer.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/IastSourcesVerticle.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/VertxTestServer.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/OkHttpUtils.java
  dd-smoke-tests/vertx-3.4/application/src/main/java/datadog/vertx_3_4/IastVerticle.java
  dd-smoke-tests/vertx-3.4/application/src/main/java/datadog/vertx_3_4/MainVerticle.java
  dd-smoke-tests/vertx-3.9/application/src/main/java/datadog/vertx_3_9/IastVerticle.java
  dd-smoke-tests/vertx-3.9/application/src/main/java/datadog/vertx_3_9/MainVerticle.java
Labels: bug, integrations, netty

#5211 Add support for weak randomness vulnerability
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakRandomnessModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/WeakRandomnessModuleTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/MathCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/MathCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestMathSuite.java
  dd-java-agent/instrumentation/java-util/build.gradle
  dd-java-agent/instrumentation/java-util/src/main/java/datadog/trace/instrumentation/java/util/RandomCallSite.java
  dd-java-agent/instrumentation/java-util/src/main/java/datadog/trace/instrumentation/java/util/concurrent/ThreadLocalRandomCallSite.java
  dd-java-agent/instrumentation/java-util/src/test/groovy/datadog/trace/instrumentation/java/util/RandomCallSiteTest.groovy
  dd-java-agent/instrumentation/java-util/src/test/groovy/datadog/trace/instrumentation/java/util/concurrent/ThreadLocalRandomCallSiteTest.groovy
  dd-java-agent/instrumentation/java-util/src/test/java/foo/bar/TestRandomSuite.java
  dd-java-agent/instrumentation/java-util/src/test/java/foo/bar/TestThreadLocalRandomSuite.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/WeakRandomnessModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/InstrumentationBridgeTest.groovy
  settings.gradle
Labels: asm-iast

#5257 Fix CI for parametric tests
  .circleci/config.yml
Labels: dev/testing, no release notes

#5262 upgrade to ddprof 0.41.0
  gradle/dependencies.gradle
Labels: profiling

#5254 Fix matrix parameters test in spring boot 2.6
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
Labels: dev/testing, no release notes, asm-iast

#5188 Allow DD Intake Writer to use multiple dispatchers
  dd-trace-core/src/main/java/datadog/trace/common/writer/CompositePayloadDispatcher.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDAgentWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/PayloadDispatcher.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/PayloadDispatcherImpl.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/CompositePayloadDispatcherTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/PayloadDispatcherImplTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceProcessingWorkerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceMapperRealAgentTest.groovy
Labels: core

#5270 Fix SpringBootOpenLibertySnapshotTest
  dd-smoke-tests/springboot-openliberty/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySnapshotTest.groovy
Labels: dev/testing, no release notes

#5271 Avoid opening jar files before checking in pom is available
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
Labels: telemetry

#5258 Update to ASM rules 1.7.1
  dd-java-agent/appsec/src/main/resources/default_config.json
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
Labels: asm-waf

#5264 Pin system-tests
  .circleci/config.yml
  .circleci/update_pinned_system_tests.sh
Labels: dev/testing, no release notes

#5282 Exclude incomplete Elasticsearch 8.8.0 release from muzzle
  dd-java-agent/instrumentation/elasticsearch/transport-2/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-5/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-6/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/build.gradle
  dd-java-agent/instrumentation/elasticsearch/transport/build.gradle
Labels: no release notes, dev/build

#5269 Limit SQL cache by overall content size
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/DBQueryInfo.java
  internal-api/src/main/java/datadog/trace/api/cache/DDCaches.java
  internal-api/src/main/java/datadog/trace/api/cache/FixedSizeWeightedCache.java
  internal-api/src/test/groovy/datadog/trace/api/cache/FixedSizeCacheTest.groovy
Labels: integrations, performance, refactoring, jdbc

#5274 Ensure StringBuilder.append(String, Object) is properly instrumented
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AsmSpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AsmSpecificationBuilderTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestAbstractStringBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackUtils.java
  internal-api/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
Labels: asm-iast

#5260 Improve telemetry intervals behavior
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/KeyValue.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
Labels: telemetry

#5281 Make sure JMS message spans are registered with SessionState before calling onMessage...
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jms/src/test/groovy/TimeInQueueForkedTest.groovy
Labels: integrations, jms

#5259 Update CI providers data extraction logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProviderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CodefreshInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TeamcityInfo.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CISpecExtractor.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CodefreshInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/TeamcityInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buddy.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/buildkite.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/codefresh.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/gitlab.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/jenkins.json
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/teamcity.json
  internal-api/src/main/java/datadog/trace/api/civisibility/ci/CIInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: ci-visibility

#5278 Support parallel test cases execution in TestNG
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGClassListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGMethod.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestSucceedMultiple.java
  dd-java-agent/instrumentation/testng/testng-6.4/src/main/java/datadog/trace/instrumentation/testng64/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-7.5/src/main/java/datadog/trace/instrumentation/testng75/TestNGClassListenerInstrumentation.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/civisibility/DDTestModule.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: bug, ci-visibility

#5287 Bump ddprof lib to 0.44.0
  gradle/dependencies.gradle
Labels: profiling

#5206 fix http resource mapping
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  internal-api/src/main/java/datadog/trace/api/normalize/HttpResourceNames.java
Labels: bug, integrations

#5288 Added alias for OBFUSCATION_QUERY_STRING_REGEXP to prevent breaking c…
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: core

#5291 Fix format (spotless)
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: no release notes

#5267 [Spark] Instrument YARN application end to not drop traces
  dd-java-agent/instrumentation/spark/build.gradle
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkInstrumentation.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
Labels: integrations, apache-spark

#5293 Update system-tests to 6e40e4a9ba37df994cbe0bf5fbc872c25d16a0d4
  .circleci/config.yml
Labels: dev/testing, no release notes

#5286 Use built dd-java-agent in parametric tests
  .circleci/config.yml
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
Labels: dev/testing, no release notes

#5292 Fix Json2FactoryInstrumentation matchers and add support for SSRF
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2ParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2ParserInstrumentationTest.groovy
Labels: asm-iast

#5289 Add exploration tests for debugger
  .gitlab-ci.yml
  .gitlab/exploration-tests.yml
  dd-java-agent/agent-debugger/exploration-tests/Dockerfile.exploration-tests
  dd-java-agent/agent-debugger/exploration-tests/exclude.txt
  dd-java-agent/agent-debugger/exploration-tests/run-exploration-tests.sh
Labels: dev/testing, no release notes, debugger

#5285 Fix addCookie instrumentation in Jetty
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
Labels: asm-iast

#5255 Fix missing path parameter source from Jersey framework
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/ParamValueFactoryWithSourceInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/PathParamValueFactoryInstrumentation.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractJerseySmokeTest.groovy
Labels: asm-iast

#5256 [Spark] Separate the error stack trace from the error message
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/test/groovy/SparkTest.groovy
  dd-java-agent/instrumentation/spark/src/test/java/TestSparkComputation.java
Labels: integrations, apache-spark
