Repository DataDog/dd-trace-java, pull requests merged in 2024-09, with the labels that each got.

#7542 Fix workflow permissions
  .github/workflows/add-milestone-to-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7540 Add missing parallelization to z_test_8_ssi_smoke job
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7539 Update system-tests to 15713a66e48f82b7d995cea2eb6eb78bec0270df
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7544 Revert "Updated ASM rules to 1.13.1 (#7536)"
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: tag: no release notes, comp: asm waf

#7538 Run all system-tests variants in CI
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7543 Improve code analysis workflow
  .github/workflows/analyze-changes.yaml
Labels: tag: no release notes, comp: tooling

#7549 Update system-tests to 4145fd051e6d73685c443f373a3c7e4eb29b0309
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7552 Fix GitHub milestone automation
  .github/workflows/add-milestone-to-pull-requests.yaml
Labels: tag: no release notes, comp: tooling

#7551 Fix JMS flaky tests
  dd-java-agent/instrumentation/jms/src/test/groovy/JMS1Test.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#7532 Add XSS support for Freemarker post 2.3.24-incubating
  dd-java-agent/instrumentation/freemarker-2.3.24/build.gradle
  dd-java-agent/instrumentation/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/DollarVariableDatadogAdvice.java
  dd-java-agent/instrumentation/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/DollarVariableInstrumentation.java
  dd-java-agent/instrumentation/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/ObjectWrapperInstrumentation.java
  dd-java-agent/instrumentation/freemarker-2.3.24/src/main/java/freemarker/core/DollarVariable24Helper.java
  dd-java-agent/instrumentation/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker24/DollarVariableInstrumentationTest.groovy
  dd-java-agent/instrumentation/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker24/ObjectWrapperInstrumentationTest.groovy
  dd-smoke-tests/springboot-freemarker/build.gradle
  dd-smoke-tests/springboot-freemarker/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-freemarker/src/main/java/datadog/smoketest/springboot/XssController.java
  dd-smoke-tests/springboot-freemarker/src/main/resources/templates/freemarker-2.3.24-insecure.ftlh
  dd-smoke-tests/springboot-freemarker/src/main/resources/templates/freemarker-2.3.24-secure.ftlh
  dd-smoke-tests/springboot-freemarker/src/main/resources/templates/freemarker-2.3.9-insecure.ftlh
  dd-smoke-tests/springboot-freemarker/src/main/resources/templates/freemarker-2.3.9-secure.ftlh
  dd-smoke-tests/springboot-freemarker/src/test/groovy/datadog/smoketest/springboot/IastSpringBootFreemarkerSmokeTest.groovy
  settings.gradle
Labels: comp: asm iast

#7547 Update to develocity 3.18 (resource usage)
  settings.gradle
Labels: tag: no release notes, tag: dependencies, comp: tooling

#7414 Tibco BW 5: fix child process parentship
  dd-java-agent/instrumentation/tibco-businessworks/tibcobw-5/src/main/java/com/tibco/pe/core/DDJobMate.java
  dd-java-agent/instrumentation/tibco-businessworks/tibcobw-5/src/main/java/datadog/trace/instrumentation/tibcobw5/JobInstrumentation.java
  dd-java-agent/instrumentation/tibco-businessworks/tibcobw-5/src/main/java/datadog/trace/instrumentation/tibcobw5/JobPoolInstrumentation.java
  dd-java-agent/instrumentation/tibco-businessworks/tibcobw-5/src/main/java/datadog/trace/instrumentation/tibcobw5/TaskInstrumentation.java
  dd-java-agent/instrumentation/tibco-businessworks/tibcobw-stubs/src/main/java/com/tibco/pe/core/Job.java
Labels: type: bug, inst: others

#7558 Do not fail profiler smoke tests on macos
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: tag: no release notes, comp: profiling

#7561 Fix nightly build command line
  .circleci/config.continue.yml.j2
Labels: type: bug, tag: no release notes, comp: tooling

#7563 Vertx: wrap internal routes to let the context propagate for blocking handlers
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteHandlerInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteHandlerWrapperAdvice.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteHandlerInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteHandlerWrapperAdvice.java
Labels: type: bug, inst: vertx

#7564 Google PubSub: implement switchable legacy tracing mode
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PubSubDecorator.java
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, inst: others

#7562 Update system-tests to 39bf65e0d94278c60fdd6ff85ba668cb436467f0
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7504 Add smoke test for Exception Replay
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ExceptionDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Labels: comp: testing, comp: debugger

#7566 Add git commit sha and repostiory url in snapshot
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestHelper.java
  internal-api/src/main/java/datadog/trace/util/TagsHelper.java
Labels: type: bug, comp: debugger

#7570 Change Gradle task ordering to fix build issues with dd-smoke-tests
  dd-smoke-tests/springboot-tomcat/build.gradle
  dd-smoke-tests/wildfly/build.gradle
Labels: tag: no release notes, comp: tooling

#7571 Make redisson tracing the full request
  dd-java-agent/instrumentation/redisson-2.0.0/build.gradle
  dd-java-agent/instrumentation/redisson-2.0.0/gradle.lockfile
  dd-java-agent/instrumentation/redisson/build.gradle
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/build.gradle
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonClientDecorator.java
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/SpanFinishListener.java
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/src/test/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/build.gradle
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/src/main/java/datadog/trace/instrumentation/redisson23/RedissonClientDecorator.java
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/src/main/java/datadog/trace/instrumentation/redisson23/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/src/main/java/datadog/trace/instrumentation/redisson23/SpanFinishListener.java
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/src/test/groovy/RedissonClientTest.groovy
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/build.gradle
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/main/java/datadog/trace/instrumentation/redisson30/PromiseHelper.java
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/main/java/datadog/trace/instrumentation/redisson30/RedissonClientDecorator.java
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/main/java/datadog/trace/instrumentation/redisson30/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/main/java/datadog/trace/instrumentation/redisson30/SpanFinishListener.java
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/test/groovy/RedissonClientTest.groovy
  settings.gradle
Labels: type: bug, inst: redis

#7572 Mute internal process start
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
  internal-api/src/main/java/datadog/trace/util/ProcessSupervisor.java
Labels: type: enhancement, comp: core

#7576 Update system-tests to c87bd359aad64a29f280fc5c70a879f7c7f4846e
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7578 Avoid redundant Python 3.12 in system-tests
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7574 Add exception_hash tag for span
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
Labels: comp: debugger

#7577 Disabled test for local vars on IBM JDK
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: tag: no release notes, comp: debugger, run-tests: semeru8, run-tests: semeru11, run-tests: semeru17

#7497 Add XSS support for Freemarker prior 2.3.24-incubating
  dd-java-agent/instrumentation/freemarker-2.3.24/build.gradle
  dd-java-agent/instrumentation/freemarker-2.3.9/build.gradle
  dd-java-agent/instrumentation/freemarker-2.3.9/src/main/java/datadog/trace/instrumentation/freemarker9/DollarVariableInstrumentation.java
  dd-java-agent/instrumentation/freemarker-2.3.9/src/main/java/freemarker/core/DollarVariable2_3_9Helper.java
  dd-java-agent/instrumentation/freemarker-2.3.9/src/test/groovy/datadog/trace/instrumentation/freemarker9/DollarVariableInstrumentationTest.groovy
  settings.gradle
Labels: comp: asm iast

#7579 Refactor versions of freemarker to a common folder
  dd-java-agent/instrumentation/freemarker/build.gradle
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/build.gradle
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/gradle.lockfile
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker/StringUtilCallSite.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/DollarVariableDatadogAdvice.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/DollarVariableInstrumentation.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker24/ObjectWrapperInstrumentation.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/main/java/freemarker/core/DollarVariable24Helper.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker/StringUtilCallSiteTest.groovy
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker24/DollarVariableInstrumentationTest.groovy
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker24/ObjectWrapperInstrumentationTest.groovy
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/test/java/foo/bar/TestStringUtilSuite.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.9/build.gradle
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.9/src/main/java/datadog/trace/instrumentation/freemarker9/DollarVariableInstrumentation.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.9/src/main/java/freemarker/core/DollarVariable2_3_9Helper.java
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.9/src/test/groovy/datadog/trace/instrumentation/freemarker9/DollarVariableInstrumentationTest.groovy
  settings.gradle
Labels: tag: no release notes, type: refactoring

#7560 prevent errors when dealing with MinimalStage in graphql
  dd-java-agent/instrumentation/graphql-java/graphql-java-14.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/graphql-java/graphql-java-14.0/src/test/resources/schema.graphqls
  dd-java-agent/instrumentation/graphql-java/graphql-java-20.0/src/test/groovy/GraphQLTest.groovy
  dd-java-agent/instrumentation/graphql-java/graphql-java-20.0/src/test/resources/schema.graphqls
  dd-java-agent/instrumentation/graphql-java/graphql-java-common/src/main/java/datadog/trace/instrumentation/graphqljava/InstrumentedDataFetcher.java
Labels: type: bug, inst: graphql

#7557 Send telemetry log when Probe status queue is full
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  internal-api/src/main/java/datadog/trace/relocate/api/RatelimitedLogger.java
  internal-api/src/test/groovy/datadog/trace/relocate/api/RateLimitedLoggerTest.groovy
Labels: type: enhancement, comp: debugger

#7569 Fix span decoration probe EMITTING status
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: type: bug, comp: debugger

#7581 Add support for Optional(Int|Double|Long)
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
Labels: type: enhancement, comp: debugger

#7583 Spring scheduling: ensure spans have no parent
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingRunnableWrapper.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/groovy/SpringSchedulingTest.groovy
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/java/SchedulingConfig.java
Labels: type: bug, inst: spring

#7586 Fix Exploit Prevention capability announcement on remote config
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: type: bug, comp: asm waf

#7595 Test Reactor Core latest versions
  dd-java-agent/instrumentation/reactor-core-3.1/build.gradle
  dd-java-agent/instrumentation/reactor-core-3.1/gradle.lockfile
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
Labels: comp: testing, inst: reactor

#7598 Fix couchbase flaky test (cleanup phase)
  dd-java-agent/instrumentation/couchbase/couchbase-2.0/src/test/groovy/util/AbstractCouchbaseTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#7553 Improve milestone automation
  .github/workflows/README.md
  .github/workflows/increment-milestone-on-tag.yaml
  .github/workflows/increment-milestones-on-tag.yaml
  .github/workflows/tests/add-milestone-to-pull-requests/payload.json
  .github/workflows/tests/add-milestone-to-pull-requests/test.sh
  .github/workflows/tests/env.sh
  .github/workflows/tests/increment-milestone-on-tag/payload.json
  .github/workflows/tests/increment-milestone-on-tag/test.sh
Labels: tag: no release notes, comp: tooling

#7550 Fix flaky test on TomcatServlet3TestAsync
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#7609 add JFR queuetime threshold to recording settings
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
Labels: comp: profiling

#7607 Add support for Intersystems IRIS jdbc driver
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DefaultConnectionInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/PreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCConnectionUrlParserTest.groovy
Labels: type: enhancement, inst: jdbc

#7610 Fix submodule update automation
  .github/workflows/comment-on-submodule-update.yaml
Labels: tag: no release notes, comp: tooling

#7608 Add `spark.stage` details attribute at the end of the stage
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
Labels: type: enhancement, inst: apache spark

#7614 Improve GitHub Workflows
  .github/workflows/analyze-changes.yaml
  .github/workflows/tests/add-milestone-to-pull-requests/payload-pull-request.json
  .github/workflows/tests/add-milestone-to-pull-requests/test-pull-request.sh
  .github/workflows/tests/add-milestone-to-pull-requests/test.sh
  .github/workflows/tests/env.sh
  .github/workflows/tests/increment-milestone-on-tag/payload-create.json
  .github/workflows/tests/increment-milestone-on-tag/test-create.sh
  .github/workflows/tests/increment-milestone-on-tag/test.sh
  .github/workflows/tests/update-issues-on-release/payload-release.json
  .github/workflows/tests/update-issues-on-release/payload-workflow-dispatch.json
  .github/workflows/tests/update-issues-on-release/test-release.sh
  .github/workflows/tests/update-issues-on-release/test-workflow-dispatch.sh
  .github/workflows/update-gradle-dependencies.yaml
  .github/workflows/update-issues-on-release.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#7604 Add pull_request extra tags for GitHub Actions
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CITagsProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GithubActionsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/ci/github-event.json
Labels: comp: ci visibility

#7605 Fix tracing skipped suites in MUnit 1.0.1
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/build.gradle
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
Labels: type: bug, comp: ci visibility

#7617 Clean up Maria DB parsing logic warnings
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
Labels: tag: no release notes, type: refactoring, inst: jdbc

#7616 Fix freemarker test with newer versions
  dd-java-agent/instrumentation/freemarker/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker24/ObjectWrapperInstrumentationTest.groovy
Labels: comp: testing, tag: no release notes, comp: asm iast

#7602 Update Maven wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: tag: no release notes, comp: tooling

#7622 Revert "feat: Update Maven wrapper (#7602)"
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: tag: no release notes, comp: tooling

#7623 Consider Maven wrapper a global change for job skip script
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#7546 Add XSS support for Velocity
  .github/CODEOWNERS
  dd-java-agent/instrumentation/velocity/build.gradle
  dd-java-agent/instrumentation/velocity/src/main/java/datadog/trace/instrumentation/velocity/ASTReferenceInstrumentation.java
  dd-java-agent/instrumentation/velocity/src/main/java/datadog/trace/instrumentation/velocity/EscapeToolCallSite.java
  dd-java-agent/instrumentation/velocity/src/test/groovy/datadog/trace/instrumentation/velocity/ASTReferenceInstrumentationTest.groovy
  dd-java-agent/instrumentation/velocity/src/test/groovy/datadog/trace/instrumentation/velocity/EscapeToolCallSiteTest.groovy
  dd-java-agent/instrumentation/velocity/src/test/java/foo/bar/TestEscapeToolSuite.java
  dd-java-agent/instrumentation/velocity/src/test/resources/velocity-astreference-insecure.vm
  dd-java-agent/instrumentation/velocity/src/test/resources/velocity-astreference-secure.vm
  dd-smoke-tests/springboot-velocity/build.gradle
  dd-smoke-tests/springboot-velocity/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-velocity/src/main/java/datadog/smoketest/springboot/XssController.java
  dd-smoke-tests/springboot-velocity/src/main/resources/templates/velocity-insecure.vm
  dd-smoke-tests/springboot-velocity/src/main/resources/templates/velocity-secure.vm
  dd-smoke-tests/springboot-velocity/src/test/groovy/datadog/smoketest/springboot/IastSpringBootVelocitySmokeTest.groovy
  settings.gradle
Labels: comp: asm iast

#7487 Add LFI exploit prevention support
  .github/CODEOWNERS
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileInputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileLoadedRaspHelper.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/FileOutputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/PathCallSite.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/PathsCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/BaseIoRaspCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileInputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileLoadedRaspHelperForkedTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/FileOutputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/PathCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/PathsCallSiteTest.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/main/java/datadog/trace/api/telemetry/RuleType.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: asm waf

#7625 Retry JettyServlet3ServeFromAsyncTimeout on socket timeout
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test, inst: jetty

#7601 Add profiling scenario to onboarding tests
  .gitlab-ci.yml
Labels: type: enhancement, comp: testing, tag: no release notes

#7627 Retry JettyServlet3TestAsyncDispatchOnAsyncTimeout on socket timeout
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
Labels: comp: testing, tag: no release notes, inst: jetty

#7554 Extract EventTracker logic to the appsec module
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/user/AppSecEventTrackerImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/EventTracker.java
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  dd-trace-api/src/test/groovy/datadog/trace/api/EventTrackerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/UserIdCollectionMode.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
Labels: type: refactoring, comp: asm waf

#7628 Fix flaky smoke tests
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
Labels: tag: no release notes, tag: flaky test, comp: debugger

#7624 Fix local var hoisting
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot31.java
Labels: comp: debugger

#7494 Adjust CircleCI resource classes
  .circleci/config.continue.yml.j2
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
Labels: tag: no release notes, comp: tooling

#7636 Add gradle.lockfiles for the velocity modules
  dd-java-agent/instrumentation/velocity/gradle.lockfile
  dd-smoke-tests/springboot-velocity/gradle.lockfile
Labels: tag: no release notes, comp: tooling, comp: asm iast

#7639 delay closing profiling state when scope reference count > 1
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: type: bug, comp: profiling

#7640 Update test session environment variable name
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes, comp: ci visibility

#7635 Add support of spring boot nested jar for SymDB
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/JarScanner.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/JarScannerTest.java
Labels: comp: debugger

#7591 Add support for session fingerprints to the WAF
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecorator.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/user/AppSecEventTrackerImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/appsec/src/test/resources/fingerprint_config.json
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-20/src/test/groovy/datadog/trace/instrumentation/liberty20/Liberty20Test.groovy
  dd-java-agent/instrumentation/liberty-20/src/webapp/java/datadog/trace/instrumentation/liberty20/AsyncServlet3.java
  dd-java-agent/instrumentation/liberty-20/src/webapp/java/datadog/trace/instrumentation/liberty20/PassthruSyncServlet3.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/LibertyDecorator.java
  dd-java-agent/instrumentation/liberty-23/src/test/groovy/datadog/trace/instrumentation/liberty23/Liberty23Test.groovy
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/AsyncServlet5.java
  dd-java-agent/instrumentation/liberty-23/src/webapp/java/datadog/trace/instrumentation/liberty23/PassthruSyncServlet5.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Decorator.java
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/JettyServlet2Test.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/TestServlet2.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Decorator.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/TestServlet3.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/TestServlet5.groovy
  dd-java-agent/instrumentation/tomcat-5.5-common/src/main/java/datadog/trace/instrumentation/tomcat/TomcatDecorator.java
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/test/groovy/TomcatServletTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/OkHttpUtils.java
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: type: enhancement, comp: asm waf

#7641 Allow enabling experimenta JVMTI wallclock sampler
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/libs.versions.toml
Labels: tag: no release notes, comp: profiling

#7642 make it possible to disable gRPC message spans
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
Labels: inst: grpc

#7573 Add watches support through probe tags
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/resources/test_log_probe.json
Labels: type: enhancement, comp: debugger

#7648 Refactor DI startup to make Exception Replay can be started up alone
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ExceptionDebuggerIntegrationTest.java
Labels: comp: debugger

#7646 Allow enabling experimental JVMTI wallclock sampler (take 2)
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
Labels: tag: no release notes, comp: profiling

#7632 Improved stack trace reporting via telemetry
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
Labels: comp: telemetry, comp: logging

#7650 Stable test names in Mongo instrumentation tests
  dd-java-agent/instrumentation/mongo/driver-3.1-core-test/src/test/groovy/MongoCore31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.1/src/test/groovy/MongoJava31ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.10-sync-test/src/test/groovy/MongoSyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.3-async-test/src/test/groovy/MongoAsyncClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.4/src/test/groovy/MongoJava34ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-3.7-core-test/src/test/groovy/MongoCore37ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
Labels: comp: testing, tag: no release notes, inst: mongodb

#7655 Update libsqreen library to 11.0.1 fixing fingerprint generation
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: type: bug, comp: asm waf

#7652 Add File and Path as string primitive
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
Labels: type: enhancement, comp: debugger

#7656 Fix evaluation errors sampling
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: type: bug, comp: debugger

#7631 Enable telemetry logs by default
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: telemetry

#7657 Reduce log level for "WAF object had not been closed"
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
Labels: type: enhancement, comp: asm waf

#7658 Remove legacy weblog app
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/weblog/README.md
  dd-java-agent/appsec/weblog/weblog-common/build.gradle
  dd-java-agent/appsec/weblog/weblog-common/gradle.lockfile
  dd-java-agent/appsec/weblog/weblog-common/src/main/java/io/sqreen/testapp/imitation/VulnerableExecutions.java
  dd-java-agent/appsec/weblog/weblog-common/src/main/java/io/sqreen/testapp/imitation/VulnerableFiles.java
  dd-java-agent/appsec/weblog/weblog-common/src/main/java/io/sqreen/testapp/imitation/VulnerableQuery.java
  dd-java-agent/appsec/weblog/weblog-common/src/main/java/io/sqreen/testapp/imitation/util/exec/ExecUtil.java
  dd-java-agent/appsec/weblog/weblog-common/src/main/java/io/sqreen/testapp/imitation/util/exec/StreamConsumer.java
  settings.gradle
Labels: tag: no release notes, type: refactoring, comp: asm waf

#7651 Add propagation to String strip methods
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/main/java/datadog/trace/instrumentation/java/lang/jdk11/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/groovy/datadog/trace/instrumentation/java/lang/jdk11/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/java/foo/bar/TestStringJDK11Suite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: comp: asm iast, inst: java

#7670 [🍒 7586] Fix Exploit Prevention capability announcement on remote config
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: type: bug, comp: asm waf

#7668 [🍒 7654] Fix NPE in RASP metrics
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
Labels: type: bug, comp: asm waf

#7667 [🍒 7657] Reduce log level for "WAF object had not been closed"
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
Labels: type: enhancement, comp: asm waf

#7669 [🍒 7655] Update libsqreen library to 11.0.1 fixing fingerprint generation
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: type: bug, comp: asm waf

#7653 Fix message for snapshots with evaluation errors
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: comp: debugger

#7673 Backport systest bump for release v1.39.x
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, tag: flaky test, comp: tooling

#7647 Add Exception Replay config parameters
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7678 [🍒 7635] Add support of spring boot nested jar for SymDB
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/JarScanner.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/JarScannerTest.java
Labels: type: bug, comp: debugger

#7630 Short circuit for WAF/RASP calls
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/small_config.json
Labels: tag: performance, comp: asm waf

#7659 Add CPU count tag to Test Visibility events
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/decorator/TestDecoratorImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/decorator/TestDecoratorImplTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Labels: type: enhancement, comp: ci visibility

#7686 Improve context propagation for rxjava1 observables
  dd-java-agent/instrumentation/rxjava-1/src/main/java/datadog/trace/instrumentation/rxjava/TracedOnSubscribe.java
Labels: type: enhancement, inst: others, tag: flaky test

#7687 Fix flaky log probe tests
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: comp: testing, tag: no release notes, comp: debugger, run-tests: semeru8

#7676 Fix number typing used in maps
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ComparisonOperator.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/NumericValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ValueScriptTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/LenExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/ListValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/NumericValueTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
Labels: type: bug, comp: debugger

#7675 Add support for new telemetry crash data format
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashLogParser.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/CrashLog.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/ErrorData.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/Metadata.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/OSInfo.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/ProcInfo.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/SemanticVersion.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/StackFrame.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/StackTrace.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/parsers/HotspotCrashLogParser.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/CrashUploaderTest.java
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry-2.txt
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry-3.txt
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry.txt
  dd-java-agent/agent-crashtracking/src/test/resources/no-crash.txt
  dd-java-agent/agent-crashtracking/src/test/resources/sample-crash-for-telemetry-2.txt
  dd-java-agent/agent-crashtracking/src/test/resources/sample-crash-for-telemetry-3.txt
  dd-java-agent/agent-crashtracking/src/test/resources/sample-crash-redacted.txt
  dd-java-agent/agent-crashtracking/src/test/resources/sample-crash.txt
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
Labels: tag: no release notes, comp: crash tracking

#7683 Fix duplicated locals with arguments
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/TracerDebuggerIntegrationTest.java
Labels: comp: debugger

#7685 Update Code Origin span tags
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Labels: comp: debugger

#7688 Upgrade testcontainers
  dd-java-agent/instrumentation/aws-java-sns-1.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sns-2.0/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-3.8/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-3/build.gradle
  dd-java-agent/instrumentation/datastax-cassandra-4/build.gradle
  dd-java-agent/instrumentation/jdbc/build.gradle
  gradle/libs.versions.toml
Labels: tag: no release notes, tag: dependencies, comp: tooling

#7618 Improve BUILDING documentation, and fix typo in setup script
  BUILDING.md
  setup.sh
Labels: type: documentation, tag: no release notes

#7620 Parse 128 bit trace Id retuned by lambda extension
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Labels: type: enhancement, inst: aws lambda

#7689 Use remote service to get CI provider info when configured to do so
  communication/src/main/java/datadog/communication/BackendApiFactory.java
  communication/src/main/java/datadog/communication/IntakeApi.java
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AwsCodePipelineInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuddyInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfoFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CodefreshInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TeamcityInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/env/CiEnvironment.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/env/CiEnvironmentImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/env/CompositeCiEnvironment.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CIProviderGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CiVisibilityServicesTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CIProviderInfoFactoryTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/GithubActionsInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/UnknownCIInfoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/env/CiEnvironmentImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/env/CompositeCiEnvironmentTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/CIProviderGitInfoBuilderTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#7674 Fix stack overflow in spock making junit ignore test failures
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/owasp-esapi-2/src/test/groovy/datadog/trace/instrumentation/owasp/esapi/EncoderCallSiteTest.groovy
  dd-java-agent/instrumentation/tomcat-appsec-7/src/test/groovy/datadog/trace/instrumentation/tomcat7/ErrorReportValueInstrumentationForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  dd-java-agent/testing/src/test/groovy/TooManyInvocationsErrorListenerTest.groovy
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: testing, tag: no release notes

#7681 Fixed closing WAF context
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/AsyncConfig.java
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/service/AsyncService.java
  gradle/spotbugFilters/exclude.xml
Labels: type: bug, comp: asm waf

#7645 Send IAST vulnerability secure marks to backend
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/AdapterFactory.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/json/EvidenceAdapter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/RangeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite-with-marks.yml
Labels: comp: asm iast

#7606 Fix jackson json parser propagation for field names
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/iast/NamedContext.java
  dd-java-agent/instrumentation/akka-http/akka-http-10.0/build.gradle
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/jackson-core/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/src/main/java/com/fasterxml/jackson/core/json/JsonParser212Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/src/main/java/com/fasterxml/jackson/core/sym/ByteQuadsCanonicalizer212Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/src/main/java/datadog/trace/instrumentation/jackson_2_12/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/src/test/groovy/datadog/trace/instrumentation/jackson212/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/src/main/java/com/fasterxml/jackson/core/json/JsonParser216Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/src/main/java/com/fasterxml/jackson/core/sym/ByteQuadsCanonicalizer216Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/src/main/java/datadog/trace/instrumentation/jackson_2_16/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/src/test/groovy/datadog/trace/instrumentation/jackson216/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/src/main/java/com/fasterxml/jackson/core/json/JsonParser26Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/src/main/java/com/fasterxml/jackson/core/sym/ByteQuadsCanonicalizer26Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/src/main/java/datadog/trace/instrumentation/jackson_2_6/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/src/test/groovy/datadog/trace/instrumentation/jackson26/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/src/main/java/com/fasterxml/jackson/core/json/JsonParser28Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/src/main/java/com/fasterxml/jackson/core/sym/ByteQuadsCanonicalizer28Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/src/main/java/datadog/trace/instrumentation/jackson_2_8/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/src/test/groovy/datadog/trace/instrumentation/jackson28/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/build.gradle
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/src/main/java/com/fasterxml/jackson/core/json/JsonParser2Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/src/main/java/com/fasterxml/jackson/core/sym/BytesToNameCanonicalizer2Helper.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/src/main/java/datadog/trace/instrumentation/jackson_2/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/src/test/groovy/datadog/trace/instrumentation/jackson2/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/JsonParserInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/iastLatestDepTest3/groovy/iast/KafkaIastDeserializerTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/KafkaIastDeserializerForkedTest.groovy
  dd-java-agent/instrumentation/pekko-http-1.0/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/build.gradle
  dd-java-agent/instrumentation/spring-webflux-5/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux/server/IastWebFluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/build.gradle
  dd-java-agent/instrumentation/spring-webflux-6/src/iastTest/groovy/datadog/trace/instrumentation/springwebflux6/server/IastWebFluxTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastVertxSmokeTest.groovy
  settings.gradle
Labels: type: bug, comp: asm iast
