Repository DataDog/dd-trace-java, pull requests merged in 2024-08, with the labels that each got.

#7358 appsec GatewayBridge refactor
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Labels: tag: no release notes, type: refactoring, comp: asm waf

#7375 Add severity tag to crash upload
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/CrashUploaderTest.java
Labels: comp: crash tracking

#7366 Add Parameter to only inject data jobs for particular java commands
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, inst: apache spark

#7379 Fix built-in retries tracking in Karate framework
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateUtils.java
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/karate/src/test/java/org/example/TestFailedBuiltInRetryKarate.java
  dd-java-agent/instrumentation/karate/src/test/resources/test-built-in-retry/coverages.ftl
  dd-java-agent/instrumentation/karate/src/test/resources/test-built-in-retry/events.ftl
Labels: type: bug, comp: ci visibility

#7235 Support Websphere JMX admin metrics
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jmx/MBeanServerRegistry.java
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/gradle.lockfile
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/AgentConnectionFactory.java
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/InitialMBeanServerConnection.java
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/JMXFetch.java
  dd-java-agent/agent-jmxfetch/src/main/resources/jmxfetch-websphere-config.yaml
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/management/CustomMBeanBuilderInstrumentation.java
  dd-java-agent/instrumentation/websphere-jmx/build.gradle
  dd-java-agent/instrumentation/websphere-jmx/src/main/java/datadog/trace/instrumentation/websphere_jmx/WebsphereSecurityInstrumentation.java
  settings.gradle
Labels: comp: jmx-fetch

#7357 Add shutdown hook to finish the spark application trace
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Labels: inst: apache spark

#7383 Catch invalid patterns exception from dd.data.jobs.command.pattern
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: tag: no release notes

#7389 Retry github upload in case of failure
  .gitlab-ci.yml
Labels: type: enhancement, tag: no release notes, comp: tooling

#7005 Map JSP stack traces to file names
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/AbstractStratum.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/EmbeddedStratum.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/FileInfo.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/LineInfo.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/Location.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/ParserException.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/Resolver.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/SourceMap.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/SourceMapException.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/Stratum.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/StratumExt.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/StratumManager.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/parser/Builder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/parser/Builders.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/parser/Parser.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/stratum/parser/State.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/iast/stratum/StratumManagerTest.groovy
  dd-java-agent/agent-tooling/src/test/resources/datadog.trace.agent.tooling.stratum/register.jsp
  dd-java-agent/agent-tooling/src/test/resources/datadog.trace.agent.tooling.stratum/register_jsp.class
  dd-java-agent/agent-tooling/src/test/resources/datadog.trace.agent.tooling.stratum/register_jsp.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/SourceMapperImpl.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/StratumListener.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/datadog/trace/instrumentation/iastinstrumenter/SourceMapperImplTest.groovy
  dd-smoke-tests/springboot-jetty-jsp/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot-tomcat-jsp/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/stratum/SourceMapper.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
Labels: comp: asm iast

#7307 Don't recompute DSM pathway hash for known tags
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  internal-api/src/main/java/datadog/trace/util/FNV64Hash.java
  internal-api/src/test/groovy/datadog/trace/util/FNV64HashTest.groovy
Labels: tag: performance, comp: data streams

#7393 Add separate test suite for Avro for java 8
  dd-java-agent/instrumentation/avro/build.gradle
Labels: comp: testing, tag: no release notes

#7395 Avoid finishing twice a servlet 3 async dispatch span
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/FinishAsyncDispatchListener.java
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/TestServlet3.groovy
Labels: type: bug, inst: others, tag: flaky test

#7186 Full mode for SQL Server
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/DBInfo.java
  dd-java-agent/instrumentation/jdbc/build.gradle
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/AbstractPreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCDecoratorTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/SQLServerInjectionForkedTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/test/TestConnection.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/test/TestDatabaseMetaData.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: inst: jdbc, comp:database

#7404 Fix ClassNotFoundException: net.jpountz.lz4.LZ4JavaSafeCompressor when instrumenting Kafka 3.7 with Quarkus native
  dd-java-agent/build.gradle
Labels: comp: native-image

#7403 Fix unresolved field error when instrumenting Kafka 3.7 with Quarkus native
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
Labels: comp: native-image

#7401 Add support for suspicious attacker blocking to appsec
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecData.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecDataDeserializer.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/MergedAsmData.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecDataDeserializerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/MergedAsmDataSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/rules_suspicious_attacker_blocking.json
Labels: comp: asm waf

#7348 Add telemetry app product change message
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  internal-api/src/main/java/datadog/trace/api/telemetry/ProductChange.java
  internal-api/src/main/java/datadog/trace/api/telemetry/ProductChangeCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/ProductChangeCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/ProductChangeTest.groovy
  telemetry/src/main/java/datadog/telemetry/BufferedEvents.java
  telemetry/src/main/java/datadog/telemetry/EventSink.java
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/main/java/datadog/telemetry/ExtendedHeartbeatData.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/main/java/datadog/telemetry/products/ProductChangeAction.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestBodySpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
  telemetry/src/test/groovy/datadog/telemetry/products/ProductChangeActionTest.groovy
Labels: type: enhancement, comp: telemetry

#7405 Fix exception handling for SQL Server full mode
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
Labels: type: bug, inst: jdbc

#7411 Improve exception handling in full mode for SQL Server
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
Labels: tag: no release notes, type: refactoring, inst: jdbc

#7380 Allow subsampling the liveheap profiling data
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  gradle/libs.versions.toml
Labels: comp: profiling

#7386 Fix crash-tracking uploader script overwrite warning
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/ScriptInitializerTest.java
Labels: type: bug, comp: crash tracking

#7417 Add exclusions for openid4java and seasar frameworks
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#7415 Bump byte-buddy to 1.14.18
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/libs.versions.toml
Labels: tag: dependencies

#7397 Remove unused arguments and methods from async AdviceUtils
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaEnvelopeInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaForkJoinExecutorTaskInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaForkJoinTaskInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport/src/main/java/datadog/trace/instrumentation/elasticsearch/ThreadedActionListenerInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/QueuedCommandInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/main/java/datadog/trace/instrumentation/java/completablefuture/AsyncTaskInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/main/java/datadog/trace/instrumentation/java/concurrent/structuredconcurrency/StructuredTaskScopeInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/main/java/datadog/trace/instrumentation/java/concurrent/virtualthread/TaskRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/forkjoin/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/forkjoin/JavaForkJoinTaskInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/runnable/RunnableFutureInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/timer/JavaTimerInstrumentation.java
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/AsyncCommandInstrumentation.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/ThreadedActionListenerInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoEnvelopeInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoForkJoinExecutorTaskInstrumentation.java
  dd-java-agent/instrumentation/scala-concurrent/src/main/java/datadog/trace/instrumentation/scala/concurrent/ScalaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/scala-concurrent/src/main/java/datadog/trace/instrumentation/scala/concurrent/ScalaForkJoinTaskInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/src/main/java/datadog/trace/instrumentation/scala210/concurrent/CallbackRunnableInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/src/main/java/datadog/trace/instrumentation/scala213/concurrent/PromiseTransformationInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/src/main/java/datadog/trace/instrumentation/scala/PromiseHelper.java
  dd-java-agent/instrumentation/slick/src/main/java/datadog/trace/instrumentation/slick/SlickRunnableInstrumentation.java
Labels: tag: no release notes, type: refactoring

#7388 Add _dd.tracer_host to local root spans
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/RemoteHostnameAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
Labels: comp: core

#7425 [🍒 7392] Fix Avro latestDepTests
  dd-java-agent/instrumentation/avro/build.gradle
Labels: comp: testing, tag: no release notes

#7426 Add _dd.tracer_host to local root spans
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/RemoteHostnameAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
Labels: comp: core

#7422 [🍒 7404] Fix ClassNotFoundException: net.jpountz.lz4.LZ4JavaSafeCompressor when instrumenting Kafka 3.7 with Quarkus native
  dd-java-agent/build.gradle
Labels: comp: native-image

#7421 [🍒 7403] Fix unresolved field error when instrumenting Kafka 3.7 with Quarkus native
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
Labels: comp: native-image

#7423 [🍒 7417] Add exclusions for openid4java and seasar frameworks
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: bug, comp: asm iast

#7429 Fix Fingerprinter thread safety
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
Labels: type: bug, comp: debugger

#7430 Fix Maven instrumentation to support command-line plugin goals invocation
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
Labels: type: bug, comp: ci visibility

#7431 [🍒 7430] Fix Maven instrumentation to support command-line plugin goals invocation
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
Labels: type: bug, comp: ci visibility

#7434 [🍒 7429] Fix Fingerprinter thread safety
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
Labels: type: bug, comp: debugger

#7412 Make cws-tls use the same JNA dependency as instrumentations
  dd-java-agent/build.gradle
  dd-java-agent/cws-tls/build.gradle
Labels: comp: cws

#7410 Reduce telemetry log messages per minute to 10
  internal-api/src/main/java/datadog/trace/api/telemetry/LogCollector.java
Labels: type: enhancement, comp: telemetry

#7432 Avoid using stdout to report bootstrapping errors
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  test-published-dependencies/agent-logs-on-java-7/src/test/java/StartWithAgentTest.java
Labels: type: bug, comp: core

#7399 Move Attributes implementation outside of SpanLink class
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelConventions.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanLink.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanLink.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanLinkTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanAttributes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLink.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/SpanLinkTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#7439 Only test up to Gradle 8.9…
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
Labels: tag: no release notes, comp: ci visibility

#7433 [🍒 7432] Avoid using stdout to report bootstrapping errors
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  test-published-dependencies/agent-logs-on-java-7/src/test/java/StartWithAgentTest.java
Labels: type: bug, comp: core

#7445 [🍒 7444] OpenTelemetry drop-in fixes for r2dbc
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/api/incubator/semconv/db/SqlStatementInfo.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/api/incubator/semconv/db/SqlStatementSanitizer.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
Labels: inst: opentelemetry

#7441 [🍒 7435] Cache separate InstrumentPlugin class-loader for each distinct set of plugins
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
Labels: tag: no release notes, comp: tooling

#7443 Fix Gradle instrumentation to support v8.10
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServices_8_10_Instrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServices_8_3_Instrumentation.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
Labels: type: bug, comp: ci visibility

#7448 Avoid NullPointerException when publishing SNS messages to phone numbers
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: inst: aws sdk

#7435 Cache separate InstrumentPlugin class-loader for each distinct set of plugins
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
Labels: tag: no release notes, comp: tooling

#7449 [🍒 7448] Avoid NullPointerException when publishing SNS messages to phone numbers
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: inst: aws sdk

#7446 Fix Cucumber JUnit 4 instrumentation to correctly handle feature and scenario names with brackets
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberUtils.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/org/example/cucumber/calculator/name_with_brackets.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-name-with-brackets/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-name-with-brackets/events.ftl
Labels: type: bug, comp: ci visibility

#7447 [🍒 7435] Fix Cucumber JUnit 4 instrumentation to correctly handle feature and scenario names with brackets
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberUtils.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/org/example/cucumber/calculator/name_with_brackets.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-name-with-brackets/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-name-with-brackets/events.ftl
Labels: type: bug, comp: ci visibility

#7444 OpenTelemetry drop-in fixes for r2dbc
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/api/incubator/semconv/db/SqlStatementInfo.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/api/incubator/semconv/db/SqlStatementSanitizer.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
Labels: inst: opentelemetry

#7451 [🍒 7444] Backport review feedback from master
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/api/incubator/semconv/db/SqlStatementInfo.java
Labels: tag: no release notes, inst: opentelemetry

#7437 Remove old gradle.lockfile for datastreams-checkpoints
  dd-java-agent/instrumentation/datastreams-checkpoints/gradle.lockfile
Labels: tag: no release notes, type: refactoring, comp: tooling

#7420 Add modifiers for extracting symbols
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractor.java
Labels: type: bug, comp: debugger

#7453 Increase the allowed size of the agent jar to 30MB
  dd-java-agent/build.gradle
Labels: comp: testing

#7452 Improve Github automation
  .github/workflows/README.md
  .github/workflows/add-milestone-to-pull-requests.yaml
  .github/workflows/update-gradle-dependencies.yaml
Labels: tag: no release notes, comp: tooling

#7459 Fix considering directory as jar file
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
Labels: type: bug, comp: debugger

#7468 Do not leak call depth threadlocal in jdbc instrumentation
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/AbstractPreparedStatementInstrumentation.java
Labels: type: bug, inst: jdbc

#7463 Tag span metrics with 'otel.library' when we know it was created by an OTel extension
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracer.java
Labels: comp: telemetry, inst: opentelemetry

#7467 Fix test selection logic with coverage
  .circleci/config.continue.yml.j2
  build.gradle
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-profiling/build.gradle
  dd-java-agent/instrumentation/build.gradle
  dd-smoke-tests/build.gradle
Labels: tag: no release notes, comp: tooling

#7472 Don't leak calldepth threadlocal on statements
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
Labels: type: bug, inst: jdbc

#7471 Update ddprof to 1.13.0
  gradle/libs.versions.toml
Labels: type: bug, comp: profiling

#7473 Upload test logs to DataDog Test Visibility
  .circleci/upload_ciapp.sh
Labels: tag: no release notes, comp: tooling

#7454 Update cloudfoundry automation with HTTP 2 support
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: tag: no release notes, comp: tooling

#7469 Fix concurrent modification
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ClassesToRetransformFinder.java
Labels: type: bug, comp: debugger

#7478 Skip couchbase-client 3.6.3 from muzzle checks
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/build.gradle
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/build.gradle
Labels: tag: no release notes

#7480 Avoid RemoteHostnameAdder.config resolution error when building Quarkus native images
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/RemoteHostnameAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: native-image

#7482 Remove warning whenever we receive an unknown WAF address
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: type: enhancement, comp: asm waf

#7464 Run CI only for tasks affected by git changes
  .circleci/collect_results.sh
  .circleci/config.continue.yml.j2
  .circleci/render_config.py
  build.gradle
  gradle/ci_jobs.gradle
Labels: tag: no release notes, comp: tooling

#7484 Refactor UntrustedDeserializationModule to be more generic
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UntrustedDeserializationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UntrustedDeserializationModuleTest.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/ObjectInputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ObjectInputStreamCallSiteTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/sink/UntrustedDeserializationModule.java
Labels: tag: no release notes, type: refactoring, comp: asm iast

#7428 Tweak telemetry log stacktrace redaction for error tracking compatibility
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
Labels: tag: no release notes, comp: telemetry

#7373 Exploit prevention for SSRF (in java.net.URL)
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AdviceGeneratorImpl.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AsmSpecificationBuilder.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/ext/IastExtension.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AsmSpecificationBuilderTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/CallSiteSpecificationTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/AssertBuilder.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/CallSiteAssert.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/ext/IastExtensionTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/java/datadog/trace/plugin/csi/impl/ext/tests/RaspCallSites.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSite.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/service/CallSitesLoader.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationForkedTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockRaspCallSites.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/resources/META-INF/services/datadog.trace.api.appsec.RaspCallSites
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLCallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLSinkCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLSinkCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/java/foo/bar/TestURLCallSiteSuite.java
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/appsec/RaspCallSites.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: asm waf

#7374 Fix progagation for Untrusted Deserialization vulnerability
  dd-java-agent/instrumentation/commons-fileupload/build.gradle
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemInstrumenter.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemIteratorInstrumenter.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemStreamInstrumenter.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/ServletFileUploadInstrumenter.java
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemInstrumenterTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemIteratorInstrumenterTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemStreamInstrumenterTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/ServletFileUploadInstrumenterTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/java/foo/bar/smoketest/MockFileItem.java
  dd-java-agent/instrumentation/commons-fileupload/src/test/java/foo/bar/smoketest/MockFileItemIterator.java
  dd-java-agent/instrumentation/commons-fileupload/src/test/java/foo/bar/smoketest/MockFileItemStream.java
  dd-java-agent/instrumentation/commons-fileupload/src/test/java/foo/bar/smoketest/MockHttpServletRequest.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/MultipartInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/MultipartInstrumentationForkedTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/java/foo/bar/smoketest/MockPart.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaMultipartInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaMultipartInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/MockPart.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/config/IastWebConfig.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/servlet/MultipartGetItemIteratorServlet.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/servlet/MultipartParseParameterMapServlet.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/servlet/MultipartParseRequestServlet.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Labels: type: enhancement, comp: asm iast

#7490 Remove commons-fileupload2 references
  dd-java-agent/instrumentation/commons-fileupload/build.gradle
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/MultipartInstrumentationTest.groovy
Labels: tag: no release notes, type: refactoring, comp: asm iast

#7470 Fix Cucumber JUnit 4 instrumentation to support empty scenario names
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberUtils.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/org/example/cucumber/calculator/empty_scenario_name.feature
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-empty-name-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-empty-name-5.4.0/events.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-empty-name-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-empty-name-latest/events.ftl
Labels: type: bug, comp: ci visibility

#7488 Suppress internal exceptions in tomcat stacktrace leak detection
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueAdvice.java
Labels: type: enhancement, comp: asm iast

#7483 Apache http client 4: do not copy all request headers on redirect
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/AgentTextMapPropagator.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpClientRedirectInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-4/build.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/util/PropagationUtils.java
Labels: type: bug, inst: others

#7475 Enable telemetry logs for a subset of Java versions
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: diagnostics, comp: telemetry

#7489 Do not skip ErrorReportValve.report in any case
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueAdvice.java
Labels: type: bug, comp: asm iast

#7390 Upgrade builds to latest JDK versions
  .circleci/render_config.py
Labels: type: enhancement, tag: no release notes, comp: tooling

#7492 Update system-tests to 20b61e9be1e8c922804f8e5ddc80ba4a1f4cdd5b
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes, tag: dependencies

#7493 Implement a fallback method for getting effective JVM for Maven Surefire executions
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
Labels: type: bug, comp: ci visibility

#7458 Implement telemetry and global per-JVM limit for auto test retries
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/RetryIfFailed.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/buildsystem/ProxyTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsRetry.java
Labels: comp: ci visibility

#7406 Add detection of untrusted deserialization in snakeyaml library
  .github/CODEOWNERS
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/snakeyaml/build.gradle
  dd-java-agent/instrumentation/snakeyaml/src/main/java/datadog/trace/instrumentation/snakeyaml/SnakeYamlHelper.java
  dd-java-agent/instrumentation/snakeyaml/src/main/java/datadog/trace/instrumentation/snakeyaml/SnakeYamlInstrumenter.java
  dd-java-agent/instrumentation/snakeyaml/src/test/groovy/SnakeYamlInstrumenterTest.groovy
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  settings.gradle
Labels: comp: asm iast

#7498 OpenTelemetry drop-in fixes for Armeria HTTP
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
Labels: inst: opentelemetry, inst: armeria

#7500 OpenTelemetry drop-in fixes for Apache Pulsar
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
Labels: inst: others, inst: opentelemetry

#7450 Allow instrumented Spark trace linked to Openlineage originated context
  dd-java-agent/instrumentation/spark/spark_2.12/src/main/java/datadog/trace/instrumentation/spark/Spark212Instrumentation.java
  dd-java-agent/instrumentation/spark/spark_2.13/src/main/java/datadog/trace/instrumentation/spark/Spark213Instrumentation.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/OpenlineageParentContext.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/OpenlineageParentContextTest.groovy
Labels: mergequeue-status: removed

#7355 Use W3C Trace Context trace ID as parent ID regardless of propagation style order
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: type: enhancement, comp: context propagation

#7438 Add protobuf collections as safe ones
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
Labels: type: enhancement, comp: debugger

#7509 Add smoke test with SSI enabled
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#7505 Fix grpc server error mark
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/GrpcClientDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcServerDecorator.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/GrpcClientDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/GrpcServerDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
Labels: type: bug, inst: grpc

#7513 Add missing permissions to CustomSecurityManager needed for IBM JVMs
  dd-java-agent/src/test/java/jvmbootstraptest/CustomSecurityManager.java
Labels: comp: core, tag: no release notes, run-tests: ibm8, run-tests: semeru8, run-tests: semeru11, run-tests: semeru17, run-tests: oracle8, run-tests: ubuntu17

#7427 Improving crash tracking script initialization error handling
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploaderScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/OOMENotifierScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/ScriptInitializerTest.java
Labels: type: refactoring, comp: crash tracking

#7514 Make the warning in ScriptInitializer less scary
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
Labels: comp: crash tracking

#7507 Emit recording setting events for SSI details
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JfrProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilerSettingsSupport.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/ProfilerSettingsSupportTest.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/profiling/ProfilingEnablement.java
  internal-api/src/test/java/datadog/trace/api/profiling/ProfilingEnablementTest.java
Labels: comp: profiling

#7515 Update GitHub workflows
  .github/workflows/add-assets-to-release.yaml.disabled
  .github/workflows/update-download-releases.yaml
Labels: tag: no release notes, comp: tooling

#7520 Fail smoke tests if received traces cannot be decoded
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#7442 Fix SymDB upload dropped requests
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SymbolSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
Labels: type: bug, comp: debugger

#7436 Add fingerprint support to the WAF
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/fingerprint_config.json
  remote-config/remote-config-api/src/main/java/datadog/remoteconfig/Capabilities.java
Labels: comp: asm waf

#7518 Enable WAF generate_stack action by default
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/resources/test_multi_config.json
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  utils/test-agent-utils/decoder/src/main/java/datadog/trace/test/agent/decoder/DecodedSpan.java
  utils/test-agent-utils/decoder/src/main/java/datadog/trace/test/agent/decoder/v04/raw/SpanV04.java
  utils/test-agent-utils/decoder/src/main/java/datadog/trace/test/agent/decoder/v05/raw/SpanV05.java
Labels: comp: asm waf

#7517 Ensure RASP call sites are only installed with appsec fully enabled
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationForkedTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
Labels: tag: no release notes, comp: asm waf

#7524 Fix Gradle Daemon process detection
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ProcessHierarchyUtils.java
Labels: type: bug, comp: ci visibility

#7528 Set DD_APPSEC_RASP_ENABLED to true by default
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: type: enhancement, comp: asm waf

#7529 Make RASP addresses ephemeral
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: type: bug, comp: asm waf

#7526 Update system-tests to 1c9542783eedfed1b995d976963fbeb14ba772b9
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7391 Add Otel env var telemetry
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/telemetry/OtelEnvMetricCollector.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/OtelEnvMetricCollectorTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/OtelEnvMetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/metric/OtelEnvMetricPeriodicActionTest.groovy
Labels: type: enhancement, comp: telemetry

#7527 Disabled flaky tests for IBM JVM
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Labels: tag: no release notes, tag: flaky test, comp: debugger, tag: flaky test/disabled

#7533 Refactor freemarker instrumentation folder
  dd-java-agent/instrumentation/freemarker-2.3.24/build.gradle
  dd-java-agent/instrumentation/freemarker-2.3.24/gradle.lockfile
  dd-java-agent/instrumentation/freemarker-2.3.24/src/main/java/datadog/trace/instrumentation/freemarker/StringUtilCallSite.java
  dd-java-agent/instrumentation/freemarker-2.3.24/src/test/groovy/datadog/trace/instrumentation/freemarker/StringUtilCallSiteTest.groovy
  dd-java-agent/instrumentation/freemarker-2.3.24/src/test/java/foo/bar/TestStringUtilSuite.java
  settings.gradle
Labels: tag: no release notes, type: refactoring, comp: asm iast

#7536 Updated ASM rules to 1.13.1
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#7534 Enable telemetry logs for services using AppSec
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: diagnostics, comp: telemetry

#7531 Upgrade GitHub workflows
  .github/workflows/README.md
  .github/workflows/add-milestone-to-pull-requests.yaml
  .github/workflows/add-release-to-cloudfoundry.yaml
  .github/workflows/analyze-changes.yaml
  .github/workflows/ci-static-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment-on-submodule-update.yaml
  .github/workflows/create-next-milestone.yaml
  .github/workflows/draft-release-notes-on-tag.yaml
  .github/workflows/gradle-wrapper-validation.yaml.disabled
  .github/workflows/lib-injection-prune-registry.yaml
  .github/workflows/prune-github-container-registry.yaml
  .github/workflows/trivy-analysis.yml
  .github/workflows/update-download-releases.yaml
  .github/workflows/update-gradle-dependencies.yaml
  .github/workflows/update-issues-on-release.yaml
Labels: type: enhancement, comp: tooling

#7535 Free AppSecRequestContext resources when the request ends
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: asm waf
