Repository DataDog/dd-trace-java, pull requests merged in 2024-10, with the labels that each got.

#7691 Run full build pipeline during nightly builds
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7663 Improve onboarding and testing documentation, add stale PR cleanup automation, and fix milestone automation
  .github/workflows/README.md
  .github/workflows/increment-milestone-on-tag.yaml
  .github/workflows/prune-old-pull-requests.yaml
  BUILDING.md
  CONTRIBUTING.md
  docs/how_to_test.md
  docs/how_to_test/rerun-workflow-from-failed.png
  setup.sh
Labels: type: documentation, tag: no release notes, comp: tooling

#7695 Update the config parameter name to enable code origin
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7697 Fix crashtracking log parser
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/parsers/HotspotCrashLogParser.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/parsers/HotspotCrashLogParserTest.java
Labels: type: bug, comp: crash tracking

#7684 Add propagation to String strip methods
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/main/java/datadog/trace/instrumentation/java/lang/jdk11/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/groovy/datadog/trace/instrumentation/java/lang/jdk11/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-11/src/test/java/foo/bar/TestStringJDK11Suite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: comp: asm iast, run-tests: ibm8, run-tests: semeru8, run-tests: oracle8, run-tests: zulu8, inst: java

#7698 Ensure 'attempt to replace context value' logs are set to debug
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/TestEndpoint.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/UserController.groovy
Labels: type: enhancement, comp: asm waf

#7699 Prevent publishing the same usr.id to the WAF twice
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
Labels: tag: performance, comp: asm waf

#7705 [🍒 7698] Ensure 'attempt to replace context value' logs are set to debug
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/TestEndpoint.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/UserController.groovy
Labels: type: enhancement, comp: asm waf

#7709 [🍒 7699] Prevent publishing the same usr.id to the WAF twice
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
Labels: tag: performance, comp: asm waf

#7711 add test to verify trace does not propagate when TPE is instantiated
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/ContextLeakTest.groovy
Labels: comp: testing, tag: no release notes

#7715 Fix 'Failed to parse plugin descriptor' error in Maven smoke tests
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_junit_platform_runner/pom.xml
Labels: comp: testing, tag: no release notes

#7704 Add backport script
  tooling/backport-pr-to-patch-release.sh
Labels: tag: no release notes, comp: tooling

#7708 Disable grpc client message span by default
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/client/ClientCallImplInstrumentation.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcStreamingTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcTest.groovy
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/MessagesAvailableInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcStreamingTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-smoke-tests/springboot-grpc/src/test/groovy/datadog/smoketest/SpringBootGrpcAsyncAnnotationTest.groovy
  dd-smoke-tests/springboot-grpc/src/test/groovy/datadog/smoketest/SpringBootGrpcAsyncConcurrentTest.groovy
  dd-smoke-tests/springboot-grpc/src/test/groovy/datadog/smoketest/SpringBootGrpcCompletableFutureTest.groovy
Labels: type: enhancement, tag: breaking change, inst: grpc

#7710 Propagate module context from build system process to child JVM processes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ProcessHierarchy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ConcurrentCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/child/ChildProcessCoverageReporter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/child/JacocoChildProcessCoverageReporter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleCoverageDataJacoco.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleSignal.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ProcessHierarchyUtils.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/buildsystem/ProxyTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleCoverageDataJacocoTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/ModuleExecutionResultTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/events.ftl
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1PayloadTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/NoOpCoverageStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/TestReport.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
Labels: comp: ci visibility

#7720 Fix test name uniqueness
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/ExcludeFilterTest.groovy
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/test/DefaultInstrumenterForkedTest.groovy
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastTagTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ResourceLocatingTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesInvokeDynamicTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/DataBundleMapWrapperSpecification.groovy
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/test/groovy/JakartaRsAnnotations3InstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/CrossedContextTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/TaskUnwrappingForkedTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/RecursiveThreadPoolPropagationTest.groovy
  dd-java-agent/instrumentation/java-util/src/test/groovy/datadog/trace/instrumentation/java/util/concurrent/ThreadLocalRandomCallSiteTest.groovy
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/test/groovy/JaxRsAnnotations1InstrumentationTest.groovy
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/test/groovy/JaxRsAnnotations2InstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/groovy/datadog/trace/instrumentation/kotlin/coroutines/AbstractKotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/testing/src/test/groovy/context/FieldInjectionForkedTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/cache/FixedSizeCacheTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/secrets/HardcodedSecretMatcherTest.groovy
Labels: tag: no release notes

#7568 Enable Single Step Instrumentation Guardrails
  .gitlab-ci.yml
  .gitlab/prepare-oci-package.sh
  metadata/base-requirements.json
  metadata/build-requirements.sh
  metadata/denied-arguments.tsv
  metadata/denied-environment-variables.tsv
  metadata/requirements-allow.json
  metadata/requirements-block.json
  metadata/requirements.json
Labels: type: enhancement, comp: tooling

#7726 Disable Hystrix flaky test
  dd-java-agent/instrumentation/hystrix-1.4/src/test/groovy/HystrixObservableTest.groovy
Labels: inst: others, tag: no release notes, tag: flaky test, tag: flaky test/disabled

#7727 Fix test name uniqueness
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
Labels: tag: no release notes

#7714 Trace setup and teardown operations in JUnit 5
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/build.gradle
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/BeforeAfterOperationsTracer.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/JUnit5BeforeAfterInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/groovy/JUnit58Test.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/java/org/example/TestSucceedBeforeAllAfterAll.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/java/org/example/TestSucceedBeforeEachAfterEach.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-all-after-all/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-all-after-all/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-each-after-each/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-each-after-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-suite-setup-failed/events.ftl
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestFailedSuiteSetup.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  gradle/configure_tests.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  settings.gradle
Labels: comp: ci visibility

#7716 Add support for `TRACE_HTTP_SERVER_ERROR_STATUSES`
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
Labels: type: enhancement, comp: api

#7613 Inject trace context into EventBridge detail
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/eventbridge/EventBridgeClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/eventbridge/EventBridgeInterceptor.java
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/eventbridge/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/src/test/groovy/EventBridgeClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/TagsProcessor.java
  settings.gradle
Labels: type: feature request, tag: serverless, inst: eventbridge

#7723 Update signatures to match symDB format
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/spanorigin/CodeOriginInfo.java
Labels: comp: debugger

#7724 Rename the code origin tags
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Labels: tag: no release notes, type: refactoring, comp: debugger

#7735 Fix Where signature
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/CodeOriginProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Types.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/Where.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/TypesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/WhereTest.java
Labels: type: bug, comp: debugger

#7707 Add taint propagation to the String indent method
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/StringUtils.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-17/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang-17/src/main/java/datadog/trace/instrumentation/java/lang/jdk17/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-17/src/test/groovy/datadog/trace/instrumentation/java/lang/jdk17/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-17/src/test/java/foo/bar/TestStringJDK17Suite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Labels: comp: asm iast, run-tests: ibm8, run-tests: semeru8, run-tests: semeru11, run-tests: oracle8, run-tests: zulu8, run-tests: zulu11, inst: java

#7740 Uncomment tests for the forIndentation method
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
Labels: comp: testing, tag: no release notes, comp: asm iast

#7696 Add support for `waf_timeout` tag in telemetry
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Labels: comp: asm waf, comp: telemetry

#7737 rename the DebuggerProbe to TriggerProbe
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/TriggerProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TriggerProbeInstrumentationTest.java
Labels: comp: debugger

#7736 Update bundled Jacoco version
  dd-java-agent/agent-ci-visibility/build.gradle
Labels: comp: ci visibility

#7734 Revert HTTP client sharing in CI Vis components
  communication/src/main/java/datadog/communication/BackendApiFactory.java
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
Labels: comp: ci visibility

#7729 Add new assert to help troubleshoot flaky test
  .circleci/config.continue.yml.j2
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#7706 Add config provider alias priority test
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigProviderTest.groovy
Labels: comp: core, tag: no release notes

#7721 Trace Maven and Gradle build tasks
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/BuildSystemSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildTaskDescriptor.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestModuleDescriptor.java
  dd-java-agent/instrumentation/gradle-3.0/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleBuildListener.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityGradleListener.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenExecutionListener.java
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_failed_tests_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_incorrect_command_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_no_fork_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_no_tests_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_tests_in_multiple_modules_run_in_parallel_generates_spans/events.ftl
  dd-java-agent/instrumentation/maven-3.2.1/src/test/resources/test_maven_build_with_unit_and_integration_tests_generates_spans/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-corrupted-config-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-corrupted-config-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-skip-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-skip-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-old-gradle/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-old-gradle/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_builtin_coverage/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_builtin_coverage/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_junit_platform_runner/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_0_0/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_0_0/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_5_0/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_5_0/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/events.ftl
  internal-api/src/main/java/datadog/trace/api/civisibility/events/BuildEventsHandler.java
Labels: comp: ci visibility

#7746 Fix muzzle CI step
  .circleci/config.continue.yml.j2
  dd-java-agent/instrumentation/protobuf/build.gradle
Labels: type: bug, tag: no release notes, comp: tooling

#7661 Remove `version` metadata for non `DD_SERVICE` spans
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/BaseServiceAdder.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Labels: type: enhancement, comp: core

#7694 Add support for `TRACE_HTTP_CLIENT_ERROR_STATUSES`
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
Labels: type: enhancement, comp: core

#7748 Fix mixed local vars for suspend funs in Kotlin
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot302.kt
Labels: comp: debugger

#7753 Run zio muzzle with java 11
  dd-java-agent/instrumentation/zio/zio-2.0/build.gradle
Labels: tag: no release notes

#7754 Fix muzzle configuration for protobuf instrumentation
  dd-java-agent/instrumentation/protobuf/build.gradle
Labels: tag: no release notes, inst: protobuf

#7758 Fix hoisting local vars for Kotlin code
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot303.kt
Labels: type: bug, comp: debugger

#7742 Append comment on MySQL JDB callables
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/SQLCommenter.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/SQLCommenterTest.groovy
Labels: type: bug, inst: jdbc

#7762 Disable kotlin tests for IBM8
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: comp: testing, tag: no release notes, comp: debugger, run-tests: ibm8

#7750 Put OOME script initializer logging to debug level
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/OOMENotifierScriptInitializer.java
Labels: type: bug, tag: no release notes, comp: crash tracking

#7764 Limit the collections that the iast visitor can handle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
Labels: type: bug, comp: asm iast

#7765 Ignore timeouts on closing elasticmq for sqs tests
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/LegacySqsClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/LegacySqsClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/TimeInQueueForkedTest.groovy
Labels: tag: no release notes, tag: flaky test

#7767 Pin pubsub emulator docker version
  dd-java-agent/instrumentation/google-pubsub/src/test/groovy/PubSubTest.groovy
Labels: comp: testing

#7766 Add unit test for unix domain socket support
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: testing, tag: no release notes, comp: debugger

#7719 Fix exploration tests
  .gitlab/exploration-tests.yml
  dd-java-agent/agent-debugger/exploration-tests/Dockerfile.exploration-tests
  dd-java-agent/agent-debugger/exploration-tests/exclude.txt
  dd-java-agent/agent-debugger/exploration-tests/exclude_jackson-databind.txt
  dd-java-agent/agent-debugger/exploration-tests/exclude_jsoup.txt
  dd-java-agent/agent-debugger/exploration-tests/include_jsoup.txt
  dd-java-agent/agent-debugger/exploration-tests/jsoup_exploration-tests.patch
  dd-java-agent/agent-debugger/exploration-tests/run-exploration-tests.sh
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/include-files/singleClass.txt
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: testing, tag: no release notes, comp: debugger

#7769 [🍒 7736] Update bundled Jacoco version
  dd-java-agent/agent-ci-visibility/build.gradle
Labels: comp: ci visibility

#7768 [🍒 7764] Limit the collections that the iast visitor can handle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/ObjectVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/ObjectVisitorTest.groovy
Labels: type: bug, comp: asm iast

#7756 Fix parametric tests (timeouts, worker allocation)
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7771 [🍒 7742] Append comment on MySQL JDB callables
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/SQLCommenter.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/SQLCommenterTest.groovy
Labels: type: bug, inst: jdbc

#7772 Grizzly http client: finish spans for all handlers
  dd-java-agent/instrumentation/grizzly-client-1.9/build.gradle
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/AsyncCompletionHandlerInstrumentation.java
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/AsyncHandlerAdapter.java
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/AsyncHttpClientInstrumentation.java
  dd-java-agent/instrumentation/grizzly-client-1.9/src/test/groovy/GrizzlyAsyncHttpClientTest.groovy
Labels: type: bug, inst: others

#7672 Add Hikari Pool Name tag
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/DBInfo.java
  dd-java-agent/instrumentation/jdbc/build.gradle
  dd-java-agent/instrumentation/jdbc/gradle.lockfile
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/HikariDataSourceInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCInstrumentationTestBase.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: type: enhancement, inst: jdbc

#7775 Avoid NPE on vertx end advice when parent span is not available
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/EndHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/EndHandlerWrapper.java
Labels: type: bug, inst: vertx

#7626 Support Kafka-clients 3.8+
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/LegacyKafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/OffsetCommitCallbackInvokerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/AvroSchemaExtractor.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/ConstructorAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/ConsumerCoordinatorAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/DDOffsetCommitCallback.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/IterableAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/IteratorAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInfo.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInstrumentationHelper.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaProducerCallback.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/LegacyConstructorAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/ListAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/MetadataUpdate22AndAfterAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/MetadataUpdateBefore22Advice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/NoopTextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/OffsetCommitCallbackInvokerAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/PayloadSizeAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/ProducerAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/RecordsAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapInjectAdapterInterface.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TracingIterable.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TracingIterableDelegator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TracingIterator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TracingList.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TracingListIterator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/AvroMock.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/AvroMockSerializer.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/TextMapExtractAdapterTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  settings.gradle
Labels: inst: kafka

#7785 Use real docker IP on lettuce tests
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5AsyncClientTest.groovy
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5ReactiveClientTest.groovy
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5SyncClientTest.groovy
Labels: tag: no release notes, tag: flaky test

#7781 Improve BUILDING.md
  BUILDING.md
Labels: type: documentation, tag: no release notes, comp: tooling

#7787 Use lower jetty version for SSL socket test
  dd-java-agent/instrumentation/sslsocket/build.gradle
  dd-java-agent/instrumentation/sslsocket/gradle.lockfile
Labels: comp: testing, tag: no release notes, run-tests: ibm8

#7718 Support DD_TRACE_<INTEGRATION>_ENABLED
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/test/groovy/datadog/trace/api/InstrumenterConfigTest.groovy
Labels: type: enhancement, comp: core

#7790 Ensure right ordering when asserting mule remote test
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleForkedTest.groovy
Labels: tag: no release notes, tag: flaky test

#7800 Do not parse DBInfo when no connection
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
Labels: type: bug, inst: jdbc

#7779 Fix module name detection for headless sessions
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CiVisibilityRepoServicesTest.groovy
Labels: type: bug, comp: ci visibility

#7783 Fix Jacoco coverage exclusion
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/instrumentation/gradle-3.0/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  internal-api/src/main/java/datadog/trace/api/civisibility/domain/BuildSessionSettings.java
Labels: type: bug, comp: ci visibility

#7793 Throw exception when using repo index to resolve source path for classes with identical names
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ConcurrentCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/JacocoCoverageCalculator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourceResolutionException.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#7809 [🍒 7784] Fix automatic coverage includes calculation for headless test sessions
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#7806 [🍒 7793] Throw exception when using repo index to resolve source path for classes with identical names
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ConcurrentCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/JacocoCoverageCalculator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/SourceResolutionException.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#7808 [🍒 7783] Fix Jacoco coverage exclusion
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/instrumentation/gradle-3.0/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleProjectConfigurator.groovy
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/java/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  internal-api/src/main/java/datadog/trace/api/civisibility/domain/BuildSessionSettings.java
Labels: type: bug, comp: ci visibility

#7807 [🍒 7779] Fix module name detection for headless sessions
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/CiVisibilityRepoServicesTest.groovy
Labels: type: bug, comp: ci visibility

#7810 [🍒 7795] Fix default value for long-running spans with DJM
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, inst: apache spark

#7774 Avoid exception when capturing fields in jdk16+
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/Fields.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolverTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StringTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/StringTemplateBuilderTest.java
Labels: tag: performance, comp: debugger

#7812 Avoid metadata access in driver connect advice for Oracle sharded connections
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DriverInstrumentation.java
Labels: type: bug, inst: jdbc

#7796 Widen catch blocks to make agent discovery more tolerant
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Labels: comp: core

#7778 Fix String subsequence taint tracking bug
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
Labels: type: bug, comp: asm iast

#7789 Improve isolation of embedded JFFI dependency
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/DatadogClassLoader.java
  dd-java-agent/build.gradle
  utils/socket-utils/src/main/java/com/kenai/jffi/PatchInit.java
Labels: comp: core

#7816 Reenable kafka client tests
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
Labels: comp: testing, tag: no release notes

#7801 Ensure vulnerabilities are reported with taintable values
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/AbstractSinkModuleTest.groovy
Labels: type: bug, comp: asm iast

#7782 Improve CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type: documentation, tag: no release notes, comp: tooling

#7797 Update BUILDING.md
  BUILDING.md
Labels: type: documentation, tag: no release notes, comp: tooling

#7795 Fix default value for long-running spans with DJM
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, inst: apache spark

#7822 Unwrap netty writetask
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
Labels: comp: profiling

#7786 Add new debug logs when no probe for exception
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
Labels: tag: no release notes, comp: debugger

#7819 Update system-tests to 53d9b2c43876a39e5c0426f4df4dd5fd79d062e8
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7788 Fix relying on configId for remote config log level tracer flare change
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlarePoller.java
Labels: type: enhancement, tag: diagnostics, comp: remote config

#7814 Lower log level for duplicate repo index keys warning
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: comp: ci visibility

#7815 Fix code coverage percentage reporting for Android projects
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/AndroidGradleUtils.groovy
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListener.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector_8_10.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector_8_3.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPlugin.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityService.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServices_8_10_Instrumentation.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServices_8_3_Instrumentation.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleDaemonLoggingInstrumentation.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradlePluginInjectorInstrumentation.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/JavaCompilerPluginArgumentsProvider.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/TracerArgumentsProvider.java
Labels: type: bug, comp: ci visibility

#7824 Add retry policy for uploading requests to agent
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SymbolSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
Labels: comp: debugger

#7828 Upgrade to libddwaf 1.20.1 (libddwaf-java 11.1.0)
  dd-java-agent/appsec/build.gradle
Labels: type: enhancement, comp: asm waf

#7832 Disabled kafka tests due to flakiness
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
Labels: comp: testing, tag: no release notes

#7821 Update header injection exclusions (reduce false positives)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HeaderInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HeaderInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
Labels: type: bug, comp: asm iast

#7834 Fix `update-gradle-dependencies` for missing `\`
  .github/workflows/update-gradle-dependencies.yaml
Labels: tag: no release notes, comp: tooling

#7833 Fix telemetry logs default flag
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: type: bug, comp: telemetry

#7757 Attach stacktrace to IAST vulnerabilities
  communication/src/main/java/datadog/communication/serialization/Codec.java
  communication/src/main/java/datadog/communication/serialization/custom/stacktrace/StackTraceEventFrameWriter.java
  communication/src/main/java/datadog/communication/serialization/custom/stacktrace/StackTraceEventWriter.java
  communication/src/test/java/datadog/communication/serialization/msgpack/MsgPackWriterTest.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/AppSecBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/stack_trace/StackTraceCollection.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/stack_trace/StackTraceEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/ObjectFlattener.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/util/ObjectFlattenerSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/gateway/RequestContext.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackTraceEvent.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackTraceFrame.java
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackUtils.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
  internal-api/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
Labels: comp: asm iast

#7744 Enable repository issue templates
  .github/ISSUE_TEMPLATE/config.yml
Labels: tag: no release notes, comp: tooling

#7752 Improve system tests execution
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#7838 Split SymDB payload when too large
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SymbolSinkTest.java
Labels: comp: debugger

#7516 Propagate AppSec blocking exceptions from bytebuddy supressions
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/blocking/BlockingExceptionHandler.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/blocking/BlockingExceptionHandlerTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ExceptionHandlers.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/AppSecDisabledExceptionHandlerForkedTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/BaseExceptionHandlerTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/BlockingExceptionAdvice.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/InstrumentationLogger.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
Labels: comp: core, comp: asm waf

#7677 Add support for `TRACE_HTTP_CLIENT_TAG_QUERY_STRING` and change default value of `HTTP_CLIENT_TAG_QUERY_STRING`
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecoratorTest.groovy
  dd-java-agent/instrumentation/aws-common/build.gradle
  dd-java-agent/instrumentation/aws-common/src/main/java/datadog/trace/instrumentation/aws/ExpectedQueryParams.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/build.gradle
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/dsmTest/groovy/Aws2SnsDataStreamsTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/Aws2ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/LegacyAws2ClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-1.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sns-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/LegacySqsClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/TimeInQueueForkedTest.groovy
  dd-java-agent/instrumentation/mule-4/build.gradle
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleForkedTest.groovy
  dd-java-agent/instrumentation/spring-messaging-4/build.gradle
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/SpringListenerSQSTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  settings.gradle
Labels: type: enhancement, comp: core

#7849 Add DBM_TRACE_INJECTED tag to SQL Server
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
Labels: comp:database

#7850 Fix test name uniqueness
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/RangeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Labels: tag: no release notes, comp: asm iast

#7848 Prevent NPE setting null span baggage
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Labels: type: bug, comp: core

#7856 Fixed remote config update operation
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/CurrentAppSecConfig.java
Labels: type: bug, comp: remote config

#7858 Fix `Where` conversion for CodeOrigin probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/Where.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/WhereTest.java
Labels: comp: debugger

#7859 Remove onboarding container jdk15 and buildpack tests
  .gitlab-ci.yml
Labels: comp: testing, tag: no release notes

#7823 apply rate limit to queue events
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/WindowSampler.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/backpressure/BackpressureSampler.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/DirectAllocationSampler.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionSampler.java
  internal-api/src/main/java/datadog/trace/api/sampling/PerRecordingRateLimiter.java
  internal-api/src/test/java/datadog/trace/api/sampling/PerRecordingRateLimiterTest.java
Labels: type: bug, comp: profiling

#7792 Expand SSRF support in IAST to apache-httpclient, commons-httpclient and okhttp
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecoratorTest.groovy
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SsrfModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/IastApacheHttpClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/IastHelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/test/groovy/IastHttpClientInstrumentationTest.groovy
  dd-java-agent/instrumentation/apache-httpcore-4/src/main/java/datadog/trace/instrumentation/apachehttpcore/IastHttpHostInstrumentation.java
  dd-java-agent/instrumentation/apache-httpcore-4/src/test/groovy/datadog/trace/instrumentation/apachehttpcore/IastHttpHostInstrumentationTest.groovy
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/CommonsHttpClientDecorator.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/IastCommonsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastInterceptor.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastOkHttp2Instrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/OkHttpClientDecorator.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastInterceptor.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastOkHttp3Instrumentation.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/OkHttpClientDecorator.java
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/SsrfController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/build.gradle
  dd-smoke-tests/springboot/build.gradle
  internal-api/src/main/java/datadog/trace/api/iast/sink/SsrfModule.java
  internal-api/src/main/java/datadog/trace/api/iast/util/PropagationUtils.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIUtils.java
  internal-api/src/test/groovy/datadog/trace/api/iast/util/PropagationUtilsTest.groovy
Labels: comp: asm iast

#7864 Support reactor context span propagation
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelSpan.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTSpan.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTSpan.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/TypeConverter.java
  dd-java-agent/instrumentation/reactor-core-3.1/build.gradle
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/CoreSubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/SubscriptionTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/OTSpan.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/CustomScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/WithAgentSpan.java
Labels: type: enhancement, inst: reactor

#7863 Add _dd.dbm_trace_injected tag to SQL Server prepared statements
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/AbstractPreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
Labels: comp: database

#7851 Add compression support for SymDB paylods
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SymbolSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7854 Add Jakarta WebService Instrumentation
  dd-java-agent/instrumentation/jakarta-ws-annotations/build.gradle
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/main/java/datadog/trace/instrumentation/jakartaws/WebServiceDecorator.java
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/main/java/datadog/trace/instrumentation/jakartaws/WebServiceInstrumentation.java
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/test/groovy/WebServiceTest.groovy
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/test/java/TestService1.java
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/test/java/TestService1Impl.java
  dd-java-agent/instrumentation/jakarta-ws-annotations/src/test/java/TestService2.java
  settings.gradle
Labels: inst: jax-ws

#7866 Remove hadoop from the denylist
  metadata/denied-environment-variables.tsv
  metadata/requirements.json
Labels: comp: tooling
