Repository DataDog/dd-trace-java, pull requests merged in 2024-04, with the labels that each got.

#6863 Expand remote config ClientInfo
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: tag: no release notes, comp: remote config

#6864 Fix Datadog-Entity-ID detection paths joining
  utils/container-utils/src/main/java/datadog/common/container/ContainerInfo.java
  utils/container-utils/src/test/groovy/datadog/common/container/ContainerInfoTest.groovy
Labels: type: bug

#6866 Flush pending traces synchronously before terminating child process
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
Labels: type: bug, comp: ci visibility

#6869 Prevent gitlab pipelines from always being "blocked"
  .gitlab/benchmarks.yml
Labels: tag: no release notes, comp: tooling

#6870 Fix handling skipped features in Karate
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/karate/src/test/java/org/example/TestSkippedFeatureKarate.java
  dd-java-agent/instrumentation/karate/src/test/resources/test-skipped-feature/coverages.ftl
  dd-java-agent/instrumentation/karate/src/test/resources/test-skipped-feature/events.ftl
Labels: type: bug, comp: ci visibility

#6861 Update byte-buddy to 1.14.13
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: tag: dependencies

#6860 Keep track of public classes in compact filter
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/IsPublicFilter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/ResolverCacheConfig.java
Labels: comp: core, tag: performance

#6882 Installation of CoreTracer implies tracing submission is on initially
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Labels: comp: core, tag: no release notes

#6877 Remove redundant use of DECORATE in TraceDecorator
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
Labels: tag: no release notes, type: refactoring

#6883 Fix inaccessible fields capture
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot30.java
Labels: type: bug, comp: debugger

#6799 Implement Selenium support in CI Visibility
  .github/CODEOWNERS
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestContextImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/telemetry/CiVisibilityMetricCollectorTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/test/groovy/MavenTest.groovy
  dd-java-agent/instrumentation/selenium/build.gradle
  dd-java-agent/instrumentation/selenium/src/latestDepTest/groovy/datadog/trace/instrumentation/selenium/SeleniumLatestTest.groovy
  dd-java-agent/instrumentation/selenium/src/latestDepTest/java/org/example/TestSucceedMultipleSelenium.java
  dd-java-agent/instrumentation/selenium/src/latestDepTest/resources/test-succeed-multiple/coverages.ftl
  dd-java-agent/instrumentation/selenium/src/latestDepTest/resources/test-succeed-multiple/events.ftl
  dd-java-agent/instrumentation/selenium/src/main/java/datadog/trace/instrumentation/selenium/SeleniumInstrumentation.java
  dd-java-agent/instrumentation/selenium/src/main/java/datadog/trace/instrumentation/selenium/SeleniumTestListener.java
  dd-java-agent/instrumentation/selenium/src/main/java/datadog/trace/instrumentation/selenium/SeleniumUtils.java
  dd-java-agent/instrumentation/selenium/src/test/groovy/datadog/trace/instrumentation/selenium/SeleniumTest.groovy
  dd-java-agent/instrumentation/selenium/src/test/groovy/datadog/trace/instrumentation/selenium/SeleniumUtilsTest.groovy
  dd-java-agent/instrumentation/selenium/src/test/java/org/example/TestSucceedSelenium.java
  dd-java-agent/instrumentation/selenium/src/test/resources/test-succeed/coverages.ftl
  dd-java-agent/instrumentation/selenium/src/test/resources/test-succeed/events.ftl
  dd-java-agent/instrumentation/selenium/src/testFixtures/groovy/datadog/trace/instrumentation/selenium/AbstractSeleniumTest.groovy
  dd-java-agent/instrumentation/selenium/src/testFixtures/resources/dummy-page.html
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/CIConstants.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationTestBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/domain/TestContext.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/BrowserDriver.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsRum.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  settings.gradle
Labels: comp: ci visibility, run-tests: all

#6884 Increase default timeout for requests made to CI Visibility backend through EVP proxy
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
Labels: comp: ci visibility

#6868 Use stack depth to do snapshot assignment
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
Labels: tag: no release notes, comp: debugger

#6692 Add session rewriting detection
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/IastJakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/IastJakartaServletInstrumentationTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/ApplicationModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
Labels: comp: asm iast

#6888 Exclude oracle.j2ee from vulnerability locations
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#6892 Register SpanLinkAdapter and SpanLinkJson for reflection
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanLink.java
Labels: tag: community, comp: native-image

#6901 Fix typo and missing assignment
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpan.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes

#6893 Add Onboarding test on gitlab pipelines
  .gitlab-ci.yml
  .gitlab/single-step-instrumentation-tests.yml
Labels: comp: tooling

#6907 Add some retries around flaky RabbitMQ DSM test
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
Labels: tag: no release notes, inst: rabbitmq

#6900 Fix test names to be unique
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/core/BufferInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/core/HeadersAdaptorInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/core/BufferInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/core/MultiMapInstrumentationTest.groovy
Labels: tag: no release notes, inst: vertx

#6914 Update ddprof to 1.4.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6895 Remove deduplication for session rewriting vulnerability report
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
Labels: comp: asm iast

#6897 Admin Console Active vulnerability hash calculation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
Labels: comp: asm iast

#6920 Run load and startup benchmarks in different jobs
  .gitlab/benchmarks.yml
Labels: comp: tooling

#6867 Detect Tomcat's host manager tomcat application as admin console
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/resources/application/adminconsoleactive/insecure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/adminconsoleactive/insecure/tomcat/host/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/adminconsoleactive/insecure/tomcat/manager/WEB-INF/web.xml
Labels: comp: asm iast, R&D

#6918 Mark Vert.X Redis Client 4 integration test as flaky
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/test/groovy/VertxRedisAPITestBase.groovy
Labels: tag: no release notes, tag: flaky test, inst: vertx, tag: flaky test/disabled

#6922 update spotless to v6.13.0
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  dd-smoke-tests/armeria-grpc/application/build.gradle
  dd-smoke-tests/kafka-3/application/build.gradle
  dd-smoke-tests/quarkus/application/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-native/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-webflux/application/build.gradle
  dd-smoke-tests/spring-boot-3.0-webmvc/application/build.gradle
  dd-smoke-tests/wildfly/spring-ear/build.gradle
  test-published-dependencies/build.gradle
Labels: tag: no release notes, comp: tooling

#6800 Introduced trace post-processing
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDAgentWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/postprocessor/SpanPostProcessor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceProcessingWorkerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: core, comp: asm waf

#6911 Add some Dacapo benchmarks to be run on PRs
  .gitignore
  .gitlab/benchmarks.yml
  benchmark/Dockerfile
  benchmark/benchmarks.sh
  benchmark/dacapo/benchmark.json
  benchmark/dacapo/run.sh
  benchmark/startup/petclinic/benchmark.json
Labels: comp: tooling

#6924 Fix Karate instrumentation to handle parallel tests execution
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/karate/src/test/java/org/example/TestSucceedParallelKarate.java
  dd-java-agent/instrumentation/karate/src/test/resources/test-succeed-parallel/coverages.ftl
  dd-java-agent/instrumentation/karate/src/test/resources/test-succeed-parallel/events.ftl
Labels: type: bug, comp: ci visibility

#6871 Add directory listing support to WEBLOGIC, WEBSPHERE and JETTY
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/jetty/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/tomcat/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/weblogic/WEB-INF/weblogic.xml
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/websphere/xmi/WEB-INF/ibm-web-ext.xmi
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/websphere/xml/WEB-INF/ibm-web-ext.xml
Labels: comp: asm iast, R&D

#6926 Do not abort CI Visibility spans dispatch on interrupt
  communication/src/main/java/datadog/communication/http/HttpRetryPolicy.java
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  communication/src/test/groovy/datadog/communication/http/HttpRetryPolicyTest.groovy
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApiFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
Labels: type: bug, comp: ci visibility

#6927 Do not trace processes spawned by internal shell command executor
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
Labels: type: bug, comp: ci visibility

#6902 Environment variable to activate SCA
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: asm iast

#6921 Fix call-site-plugin build script to avoid rebuilding plugin every time
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/main/groovy/CallSiteInstrumentationPlugin.groovy
Labels: tag: no release notes, comp: tooling

#6931 Update buildscan plugin to latest version
  settings.gradle
Labels: tag: no release notes, comp: tooling

#6820 Refactor propagation module with APIs for strings and objects
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/BaseCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/PathMatcherInstrumentation.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/helpers/TaintSingleParameterFunction.java
  dd-java-agent/instrumentation/akka-http-10.2-iast/src/main/java/datadog/trace/instrumentation/akkahttp102/iast/helpers/TaintParametersFunction.java
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/StringReaderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/AbstractParamValueExtractorInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/AbstractStringReaderAdvice.java
  dd-java-agent/instrumentation/jose-jwt/src/main/java/datadog/trace/instrumentation/josejwt/JSONObjectUtilsInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONArrayInstrumentation.java
  dd-java-agent/instrumentation/org-json/src/main/java/datadog/trace/instrumentation/json/JSONObjectInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/PathMatcherInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintParametersFunction.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/helpers/TaintSingleParameterFunction.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/CookieParamInjectorAdvice.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/FormParamInjectorAdvice.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/HeaderParamInjectorAdvice.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/PathParamInjectorAdvice.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/QueryParamInjectorAdvice.java
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/spring-core/src/main/java/datadog/trace/instrumentation/springcore/StreamUtilsInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/BufferInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: type: refactoring, comp: asm iast, run-tests: all

#6934 Fix TelemetryRequestEndedHandlerTest
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
Labels: comp: testing, tag: no release notes

#6928 Integrate initial list of third party libraries
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ThirdPartyLibraries.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractionTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassNameFiltering.java
  dd-java-agent/agent-debugger/src/main/resources/third_party_libraries.json
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ThirdPartyLibrariesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/FingerprinterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassNameFilteringTest.java
  dd-java-agent/agent-debugger/src/test/resources/akka/actor/SymbolExtraction16.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#6939 Fix folder permission interaction with Gitlab and gradle
  .gitlab-ci.yml
Labels: type: bug, tag: no release notes, comp: tooling

#6940 Exclude package ibm.security.* from IAST
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: tag: no release notes, comp: asm iast

#6932 Lint produced deb and rpm packages
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#6941 Ensure time waiting for `CyclicBarrier` and `CountDownLatch` is eligible for wallclock profiling
  dd-java-agent/instrumentation/enable-wallclock-profiling/build.gradle
  dd-java-agent/instrumentation/enable-wallclock-profiling/gradle.lockfile
  dd-java-agent/instrumentation/enable-wallclock-profiling/src/main/java/datadog/trace/instrumentation/wallclock/EnableWallclockProfilingInstrumentation.java
  dd-java-agent/instrumentation/enable-wallclock-profiling/src/test/groovy/RegistrationForkedTest.groovy
  dd-java-agent/instrumentation/netty-transport-4/src/main/java/datadog/trace/instrumentation/netty40/transport/EventLoopInstrumentation.java
  dd-java-agent/instrumentation/netty-transport-4/src/test/groovy/RegistrationTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  settings.gradle
Labels: comp: profiling

#6949 Mark Grizzly HTTP integration test as flaky
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyTest.groovy
Labels: inst: others, tag: flaky test, tag: flaky test/disabled

#6958 Mark Spark integration test as flaky
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSpark32SqlTest.groovy
Labels: tag: flaky test, tag: flaky test/disabled, inst: apache spark

#6959 Swap meaning of includes and excludes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ThirdPartyLibraries.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassNameFiltering.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ThirdPartyLibrariesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassNameFilteringTest.java
Labels: comp: debugger

#6962 Fix test names to be unique
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/rxjava-2/src/test/groovy/RxJava2Test.groovy
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: inst: others, tag: no release notes, inst: reactor, comp: remote config

#6963 Fix CI broken sources artifact
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/instrumentation/iast-instrumenter/build.gradle
  dd-smoke-tests/springboot-tomcat/build.gradle
  gradle/java_no_deps.gradle
Labels: type: bug, tag: no release notes, comp: tooling

#6942 Improve environment setup documentation
  BUILDING.md
  CONTRIBUTING.md
  gradle/spotless.gradle
  setup.sh
Labels: type: documentation, tag: no release notes

#6904 Fix profiling integration test app startup
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/SmokeTestUtils.java
Labels: tag: no release notes, comp: profiling

#6965 Improve custom Instrumenter Gradle plugin
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
Labels: type: enhancement, tag: no release notes, comp: tooling

#6898 Add option to disable IAST instrumenter for anonymous classes
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/OutlineTypeParser.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/OutlineTypeParserTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/EnclosedClasses.java
  dd-java-agent/instrumentation/iast-instrumenter/build.gradle
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/AnonymousClassesForkedTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/OuterClass.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: asm iast

#6950 Check target super-class implements `FieldBackedContextAccessor` before delegating to it
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
Labels: comp: core, tag: performance

#6947 Optimize Redaction detection when capturing values
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/RefResolverHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
Labels: comp: debugger

#6975 unwrap akka `TaskInvocation` and scala `CallbackRunnable`
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
Labels: comp: profiling, inst: scala, inst: akka

#6956 Finish pyspark-shell trace using SparkListenerApplicationEnd
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractSparkInstrumentation.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
Labels: inst: apache spark

#6943 Add logs on datadog spark listener lifecycle
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
Labels: inst: apache spark
