Repository DataDog/dd-trace-java, pull requests merged in 2024-12, with the labels that each got.

#8037 Fix crash tracking setup in smoke test
  dd-smoke-tests/jersey-2/src/test/groovy/datadog/smoketest/Jersey2SmokeTest.groovy
  dd-smoke-tests/jersey-3/src/test/groovy/datadog/smoketest/Jersey3SmokeTest.groovy
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.7/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8-otel/src/test/groovy/datadog/smoketest/Play28OTelSmokeTest.groovy
  dd-smoke-tests/play-2.8-split-routes/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/resteasy/src/test/groovy/smoketest/ResteasySmokeTest.groovy
  dd-smoke-tests/springboot-tomcat/src/test/groovy/datadog/smoketest/SpringBootTomcatSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-smoke-tests/wildfly/src/test/groovy/datadog/smoketest/WildflySmokeTest.groovy
Labels: tag: no release notes, comp: tooling, run-tests: ibm8, run-tests: semeru8, run-tests: semeru11, run-tests: semeru17, run-tests: oracle8, run-tests: zulu8, run-tests: zulu11, run-tests: ubuntu17

#8030 Tracing of setup and teardown actions in JUnit 4
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/build.gradle
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/gradle.lockfile
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/main/java/datadog/trace/instrumentation/junit4/JUnit4BeforeAfterInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/main/java/datadog/trace/instrumentation/junit4/JUnit4BeforeAfterOperationsTracer.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/groovy/JUnit413Test.groovy
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedAfter.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedAfterClass.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedAfterParam.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedBefore.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedBeforeClass.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestFailedBeforeParam.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestSucceedBeforeAfter.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestSucceedBeforeClassAfterClass.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/java/org/example/TestSucceedBeforeParamAfterParam.java
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after-class/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after-class/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after-param/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after-param/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-after/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before-class/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before-class/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before-param/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before-param/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-failed-before/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-after/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-after/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-class-after-class/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-class-after-class/events.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-param-after-param/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/resources/test-succeed-before-param-after-param/events.ftl
  gradle/configure_tests.gradle
  settings.gradle
Labels: comp: ci visibility

#8044 Set unexpected IAST exceptions to debug log level
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
Labels: type: enhancement, comp: asm iast

#8043 Use lower priorities for grpc server errors
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/BaseDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/BaseDecoratorTest.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/GrpcServerDecorator.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/GrpcServerDecorator.java
Labels: type: bug, inst: grpc

#8029 Cache entry span code origin information to avoid unnecessary repeated stack walks.
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InstrumentationResult.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodInfo.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassFileLines.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
Labels: comp: debugger

#8045 Improve crash tracking install logging
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/OOMENotifierScriptInitializer.java
Labels: type: enhancement, comp: crash tracking

#8046 Fix JUnit test case name uniqueness when uploading results
  .circleci/collect_results.sh
Labels: type: enhancement, comp: tooling

#8049 Only check that the first frame tags are present.
  dd-java-agent/instrumentation/grpc-1.5/build.gradle
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcCodeOriginTest.groovy
Labels: type: bug, tag: no release notes, comp: debugger

#7981 Instrument Mulesoft 4.5.0+
  dd-java-agent/instrumentation/grizzly-client-1.9/src/main/java/datadog/trace/instrumentation/grizzly/client/AsyncHttpClientInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/DefaultFilterChainInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/HttpCodecFilterInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/HttpServerFilterInstrumentation.java
  dd-java-agent/instrumentation/mule-4/application/pom.xml
  dd-java-agent/instrumentation/mule-4/build.gradle
  dd-java-agent/instrumentation/mule-4/gradle.lockfile
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/AbstractMuleInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/ComponentMessageProcessorInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/CurrentEventHelper.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/DDEventTracer.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/EventContextCreationAdvice.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/EventContextInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/EventTracerInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/ExecutionInitialSpanInfoInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/MuleDecorator.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/NoopMuleSpan.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/PrivilegedEventInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/PrivilegedEventSetCurrentAdvice.java
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/SpanState.java
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleForkedTest.groovy
  dd-java-agent/instrumentation/mule-4/src/test/groovy/mule4/MuleHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/mule-4/src/test/groovy/org/mule/runtime/api/util/HttpServerTestBridge.groovy
  dd-java-agent/instrumentation/mule-4/src/test/groovy/org/mule/runtime/api/util/MuleTestUtil.groovy
  dd-java-agent/instrumentation/mule-4/src/test/java/mule4/MuleTestContainer.java
  dd-java-agent/instrumentation/mule-4/src/test/resources/log4j2.xml
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/ListWriterAssert.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TraceAssert.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/OkHttpUtils.java
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  gradle/libs.versions.toml
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
Labels: type: enhancement, inst: others

#8039 Add Micronaut 4 support for code origin for spans
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/instrumentation/micronaut/build.gradle
  dd-java-agent/instrumentation/micronaut/http-server-netty-4.0/build.gradle
  dd-java-agent/instrumentation/micronaut/http-server-netty-4.0/src/test/groovy/MicronautTest.groovy
  dd-java-agent/instrumentation/micronaut/src/main/java/datadog/trace/instrumentation/micronaut/MicronautCodeOriginInstrumentation.java
  dd-java-agent/instrumentation/span-origin/src/main/java/datadog/trace/instrumentation/codeorigin/CodeOriginInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: debugger

#8055 Implement fail-fast tests ordering for JUnit 5
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TestIdentifierSerializer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/build.gradle
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/build.gradle
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/FailFastClassOrderer.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/FailFastMethodOrderer.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/JUnit5OrderUtils.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/JUnit5TestOrderInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/groovy/JUnit58Test.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/java/org/example/TestParameterized.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/java/org/example/TestSucceed.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/java/org/example/TestSucceedAnother.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-all-after-all/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-each-after-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-after-all/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-after-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-before-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/build.gradle
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/scalatest/src/test/groovy/ScalatestTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/CIConstants.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityDistributionMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/AgentlessLogSubmissionEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/FailFastTestOrderEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/FlakyTestRetriesEnabled.java
Labels: comp: ci visibility

#8058 Custom ScopeManagers are deprecated and will be removed in a future release of dd-trace-ot
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
Labels: type: refactoring, comp: opentracing

#8040 Add a built-in trace interceptor for keeping traces depending of their latency
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/interceptor/AbstractTraceInterceptor.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/traceinterceptor/LatencyTraceInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/traceinterceptor/LatencyTraceInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: core

#8062 Protect mdb from instrumenting multiple time the same event
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MDBMessageConsumerInstrumentation.java
Labels: type: bug, inst: jms

#8061 Exclude jboss mdb proxies from instrumenting
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ProxyClassIgnores.java
Labels: type: enhancement, comp: core

#8063 Remove dangling stderr print
  dd-java-agent/instrumentation/ignite-2.0/src/main/java/datadog/trace/instrumentation/ignite/v2/cache/SpanFinishingCallback.java
Labels: inst: others, tag: no release notes, type: refactoring

#7920 Expand SSRF support in IAST to apache-httpclient-5 and apache-httpasyncclient-4
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpAsyncClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HostAndRequestAsHttpUriRequest.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/IastHttpUriRequestBaseInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/IastHttpUriRequestBaseInstrumentationTest.groovy
  dd-java-agent/instrumentation/apache-httpcore-5/build.gradle
  dd-java-agent/instrumentation/apache-httpcore-5/src/main/java/datadog/trace/instrumentation/apachehttpcore5/IastHttpHostInstrumentation.java
  dd-java-agent/instrumentation/apache-httpcore-5/src/test/groovy/datadog/trace/instrumentation/apachehttpcore5/IastHttpHostInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/SsrfController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/build.gradle
  dd-smoke-tests/springboot/build.gradle
  internal-api/src/main/java/datadog/trace/api/iast/util/PropagationUtils.java
  internal-api/src/test/groovy/datadog/trace/api/iast/util/PropagationUtilsTest.groovy
  settings.gradle
Labels: type: enhancement, comp: asm iast, inst: apache httpcomponents

#7987 Fix debugger system tests CI logs upload
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: debugger

#8070 Fix NPE in logic that parses flaky tests list
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
Labels: type: bug, tag: no release notes, comp: ci visibility

#8071 Data streams support in sqs without raw message delivery
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/MessageExtractAdapter.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: data streams

#7959 Instrument self hosted Kafka connectors
  dd-java-agent/instrumentation/kafka-connect-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-connect-0.11/gradle.lockfile
  dd-java-agent/instrumentation/kafka-connect-0.11/src/main/java/datadog/trace/instrumentation/kafka_connect/ConnectWorkerInstrumentation.java
  dd-java-agent/instrumentation/kafka-connect-0.11/src/main/java/datadog/trace/instrumentation/kafka_connect/TaskListener.java
  dd-java-agent/instrumentation/kafka-connect-0.11/src/test/groovy/ConnectWorkerInstrumentationTest.groovy
  settings.gradle
Labels: type: feature request, inst: kafka, comp: data streams

#8010 Increase IAST propagation to StringBuilder append
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestAbstractStringBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: type: enhancement, comp: asm iast

#8078 Support distributed traces in tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TraceContext.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/interceptor/CiVisibilityTraceInterceptor.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/interceptor/CiVisibilityTraceInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/CIConstants.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: comp: ci visibility

#8038 Increase IAST propagation to StringBuffer subSequence
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
Labels: type: enhancement, comp: asm iast

#8079 Add configurable Dependency service resolution period
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyService.java
Labels: type: enhancement, comp: telemetry

#8080 Fix suspend Kotlin methods instrumentation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: debugger

#8087 [🍒 8086] Fix tracing JUnit5 tests in Maven projects with multiple forks
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ProcessHierarchy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/src/test/java/datadog/smoke/TestSucceed.java
Labels: type: bug, comp: ci visibility

#8089 [🍒 8086] Fix tracing JUnit5 tests in Maven projects with multiple forks
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ProcessHierarchy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/src/test/java/datadog/smoke/TestSucceed.java
Labels: type: bug, comp: ci visibility

#8091 Fix test name uniqueness
  communication/src/test/java/datadog/communication/serialization/IntPackingTest.java
Labels: comp: testing, tag: no release notes

#8082 Increase IAST propagation to StringBuffer append
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
Labels: type: enhancement, comp: asm iast

#8073 Add avoid double instrumenting lambda non-streaming handlers.
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
Labels: type: bug, tag: serverless

#8057 Fix class file version detection
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/classfiles/BooleanUtils.classfile
Labels: type: bug, comp: debugger

#8095 Fix system-tests build: requires python3.12-venv
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8097 Upgrade to ASM 9.7.1 (adds new constant for Java 24)
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  gradle/libs.versions.toml
Labels: comp: core, tag: dependencies

#8096 Upgrade to java-dogstatsd-client v4.4.3
  gradle/libs.versions.toml
Labels: tag: dependencies, comp: metrics

#8099 Fix flakiness in Gradle Launcher smoke test
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleLauncherSmokeTest.groovy
Labels: comp: testing, tag: no release notes, comp: ci visibility

#8100 Update system-tests to 6a8c4e9ba065bc52a630051a5b7bb7a4ec84e245
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8104 Refactored requires post-processing flag
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/gateway/IGSpanInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: tag: no release notes, type: refactoring

#8088 Dynamically evaluate service name for message consumers
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/PubSubDecorator.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamsDecorator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-trace-core/src/jmh/java/datadog/trace/api/naming/MessagingNamingBenchmark.java
  internal-api/src/main/java/datadog/trace/api/naming/NamingSchema.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/MessagingNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/MessagingNamingV1.java
  internal-api/src/test/groovy/datadog/trace/api/naming/NamingV0ForkedTest.groovy
Labels: type: bug, comp: core

#7615 Exploit prevention for Shell Injection / Command Injection
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/RuntimeExecStringAdvice.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/RuntimeInstrumentation.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationExecCmdRaspForkedTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/RuntimeInstrumentationForkedTest.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/main/java/datadog/trace/api/telemetry/RuleType.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
  remote-config/remote-config-api/src/main/java/datadog/remoteconfig/Capabilities.java
Labels: type: enhancement, comp: asm waf

#8115 Remove unused Platform.GC code
  dd-smoke-tests/java9-modules/src/test/groovy/datadog/smoketest/Java9ModulesSmokeTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: comp: core, tag: no release notes, type: refactoring

#8109 Improves ServiceNameCollector
  internal-api/src/main/java/datadog/trace/api/remoteconfig/ServiceNameCollector.java
Labels: type: enhancement, comp: core

#8111 Check logs for errors at smoke tests cleanup
  dd-smoke-tests/armeria-grpc/src/test/groovy/datadog/smoketest/ArmeriaSmokeTest.groovy
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingSmokeTest.groovy
  dd-smoke-tests/custom-systemloader/src/test/groovy/datadog/smoketest/CustomSystemLoaderSmokeTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/SsrfController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/java9-modules/src/test/groovy/datadog/smoketest/Java9ModulesSmokeTest.groovy
  dd-smoke-tests/jboss-modules/src/test/groovy/datadog/smoketest/AbstractModulesSmokeTest.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/osgi/src/test/groovy/datadog/smoketest/AbstractOSGiSmokeTest.groovy
  dd-smoke-tests/quarkus-native/src/test/groovy/datadog/smoketest/QuarkusNativeSmokeTest.groovy
  dd-smoke-tests/quarkus/src/test/groovy/datadog/smoketest/QuarkusSmokeTest.groovy
  dd-smoke-tests/spring-boot-3.0-native/src/test/groovy/SpringBootNativeInstrumentationTest.groovy
  dd-smoke-tests/spring-boot-rabbit/src/test/groovy/datadog/smoketest/SpringBootRabbitIntegrationTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
Labels: type: enhancement, comp: testing, tag: no release notes

#8120 Avoid performing blocking I/O operation on application thread
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentTest.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
Labels: type: bug, comp: core

#8090 Add full APM/DBM mode for Oracle
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/DBInfo.java
  dd-java-agent/instrumentation/jdbc/build.gradle
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/AbstractPreparedStatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCDecoratorTest.groovy
  dd-java-agent/instrumentation/jdbc/src/test/groovy/RemoteJDBCInstrumentationTest.groovy
Labels: type: enhancement, inst: jdbc, comp: database

#7997 IAST security controls: handling custom validation and sanitization methods
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/securitycontrol/AbstractMethodAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/securitycontrol/IastSecurityControlTransformer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/securitycontrol/InputValidatorMethodAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/securitycontrol/SanitizerMethodAdapter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/securitycontrol/SecurityControlMethodClassVisitor.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/securitycontrol/IastSecurityControlTransformerForkedTest.groovy
  dd-java-agent/agent-iast/src/test/java/foo/bar/securitycontrol/SecurityControlStaticTestSuite.java
  dd-java-agent/agent-iast/src/test/java/foo/bar/securitycontrol/SecurityControlTestSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/XssController.java
  dd-smoke-tests/iast-util/src/main/java/ddtest/securitycontrols/InputValidator.java
  dd-smoke-tests/iast-util/src/main/java/ddtest/securitycontrols/Sanitizer.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityMarks.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
  internal-api/src/main/java/datadog/trace/api/iast/securitycontrol/SecurityControl.java
  internal-api/src/main/java/datadog/trace/api/iast/securitycontrol/SecurityControlFormatter.java
  internal-api/src/main/java/datadog/trace/api/iast/securitycontrol/SecurityControlHelper.java
  internal-api/src/main/java/datadog/trace/api/iast/securitycontrol/SecurityControlType.java
  internal-api/src/test/groovy/datadog/trace/api/iast/securitycontrol/SecurityControlFormatterTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/securitycontrol/SecurityControlHelperTest.groovy
Labels: comp: asm iast

#8116 Add After callsites support for void methods
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/CallSiteSpecification.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/ErrorCode.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceSpecificationTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteTransformerTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/StringBuilderSetLengthCallSite.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/StringBuilderSetLengthExample.java
Labels: type: enhancement, tag: no release notes, comp: asm iast

#8105 Only decorate spans without code origin information
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin05.java
Labels: comp: debugger

#8117 Introduce a shared context component, independent of tracing.
  components/context/build.gradle.kts
  components/context/src/main/java/datadog/context/Context.java
  components/context/src/main/java/datadog/context/ContextBinder.java
  components/context/src/main/java/datadog/context/ContextKey.java
  components/context/src/main/java/datadog/context/ContextManager.java
  components/context/src/main/java/datadog/context/ContextProviders.java
  components/context/src/main/java/datadog/context/ContextScope.java
  components/context/src/main/java/datadog/context/EmptyContext.java
  components/context/src/main/java/datadog/context/ImplicitContextKeyed.java
  components/context/src/main/java/datadog/context/IndexedContext.java
  components/context/src/main/java/datadog/context/SingletonContext.java
  components/context/src/main/java/datadog/context/ThreadLocalContextManager.java
  components/context/src/main/java/datadog/context/WeakMapContextBinder.java
  components/context/src/test/java/datadog/context/ContextBinderTest.java
  components/context/src/test/java/datadog/context/ContextKeyTest.java
  components/context/src/test/java/datadog/context/ContextManagerTest.java
  components/context/src/test/java/datadog/context/ContextProviderForkedTest.java
  components/context/src/test/java/datadog/context/ContextTest.java
  settings.gradle
Labels: comp: core, type: feature request

#8119 Increase IAST propagation to StringBuilder setLength
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestAbstractStringBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: type: enhancement, comp: asm iast

#8131 Defer remote components to avoid OkHttp class-loading side-effects
  communication/build.gradle
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-logs-intake/src/main/java/datadog/trace/logging/intake/LogsIntakeSystem.java
  dd-java-agent/agent-logs-intake/src/main/java/datadog/trace/logging/intake/LogsWriterImpl.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomLogManagerTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomMBeanServerBuilderTest.groovy
  dd-java-agent/src/test/java/jvmbootstraptest/LogManagerSetter.java
  dd-java-agent/src/test/java/jvmbootstraptest/MBeanServerBuilderSetter.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
Labels: type: enhancement, comp: core, run-tests: ibm8, run-tests: all

#8129 Improve Context API null handling and Javadoc
  components/context/src/main/java/datadog/context/Context.java
  components/context/src/main/java/datadog/context/ContextBinder.java
  components/context/src/main/java/datadog/context/ContextKey.java
  components/context/src/main/java/datadog/context/ContextManager.java
  components/context/src/main/java/datadog/context/ContextScope.java
  components/context/src/main/java/datadog/context/EmptyContext.java
  components/context/src/main/java/datadog/context/ImplicitContextKeyed.java
  components/context/src/main/java/datadog/context/IndexedContext.java
  components/context/src/main/java/datadog/context/SingletonContext.java
  components/context/src/main/java/datadog/context/ThreadLocalContextManager.java
  components/context/src/main/java/datadog/context/WeakMapContextBinder.java
  components/context/src/test/java/datadog/context/ContextBinderTest.java
  components/context/src/test/java/datadog/context/ContextKeyTest.java
  components/context/src/test/java/datadog/context/ContextManagerTest.java
  components/context/src/test/java/datadog/context/ContextProviderForkedTest.java
  components/context/src/test/java/datadog/context/ContextTest.java
  components/context/src/test/java/datadog/context/ImplicitContextKeyedTest.java
Labels: type: enhancement, comp: core

#8136 Add GitHub workflow concurrency settings
  .github/workflows/analyze-changes.yaml
  .github/workflows/check-pull-requests.yaml
  .github/workflows/update-download-releases.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#8122 Fix var hoisting issue when no previous store
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/classfiles/ByteSourceJsonBootstrapper.classfile
Labels: type: bug, comp: debugger
