Repository DataDog/dd-trace-java, pull requests merged in 2024-05, with the labels that each got.

#6976 use real time threshold for queue times
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
Labels: comp: profiling

#6977 make tasks wrapped by grpc-context unwrappable
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/UnwrapGrpcContextForkedTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
Labels: comp: profiling

#6971 Process 'sampling.priority' tags
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/RuleFlags.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/taginterceptor/TagInterceptorTest.groovy
Labels: inst: opentelemetry, comp: opentracing

#6978 Upgrade to ddprof 1.5.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6887 [EXPERIMENTAL] Support deferred matching and transformation for particular class-loaders
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
  utils/time-utils/build.gradle
  utils/time-utils/src/main/java/datadog/trace/api/time/TimeUtils.java
  utils/time-utils/src/test/groovy/datadog/trace/api/time/TimeUtilsTest.groovy
Labels: comp: core, tag: experimental

#6982 Add provenance to sampling rules
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SpanSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingRule.java
Labels: comp: core, tag: no release notes

#6954 Update system-tests to 832e4d8514a06cbe9484ace1fedb3b9344a9ef44
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6913 Fix CI Visibility Gradle plugin to be compatible with Gradle build scans
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradlePluginInjectorInstrumentation.java
Labels: type: bug, comp: ci visibility

#6984 fix ThirdPartyLibraries coverage
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ThirdPartyLibrariesTest.java
Labels: tag: no release notes, comp: debugger

#6973 Fix Selenium instrumentation to avoid trying to set cookies for about:blank and other similar pages
  dd-java-agent/instrumentation/selenium/src/main/java/datadog/trace/instrumentation/selenium/SeleniumUtils.java
  dd-java-agent/instrumentation/selenium/src/test/groovy/datadog/trace/instrumentation/selenium/SeleniumUtilsTest.groovy
Labels: type: bug, comp: ci visibility

#6979 Increase spark listener max collection size
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
Labels: inst: apache spark

#6980 [Dynamic Instrumentation] Consolidate PII redaction keys for all libraries.
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
Labels: comp: debugger

#6974 Add coordinated sampling for Exception Debugging
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MockSampler.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
Labels: comp: debugger

#6987 Accept trace sampling rules via remote-config
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RateSamplingRule.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/RuleBasedTraceSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SingleSpanSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SpanSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingRule.java
Labels: comp: remote config

#6970 Report servlet misconfiguration vulnerabilities with opt-out configuration
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/IastServlet2Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/IastJakartaServletInstrumentation.java
Labels: comp: asm iast

#6960 Only enable byte[] or char[] call sites in full detection mode
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/TaintedObjectCollection.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringFullDetectionCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringFullDetectionCallSiteForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/iastLatestDepTest3/groovy/iast/KafkaIastDeserializerTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDeserializerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaIastHelper.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/UtilsInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/KafkaIastDeserializerForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/UtilsInstrumentationForkedTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/IastEnabledChecks.java
  internal-api/src/test/groovy/datadog/trace/api/iast/IastEnabledChecksTests.groovy
Labels: tag: performance, comp: asm iast

#6983 Capture exception snapshots only once an hour
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
Labels: comp: debugger

#6964 Skip auto user events when sign-up logic fails
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/UserDetailsManagerAdvice.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
Labels: comp: asm waf

#6995 Exclude non username and password authentication from user tracking
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/TestEndpoint.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/java/custom/CustomAuthenticationFilter.java
  dd-java-agent/instrumentation/spring-security-5/src/test/java/custom/CustomAuthenticationProvider.java
  dd-java-agent/instrumentation/spring-security-5/src/test/java/custom/CustomAuthenticationToken.java
Labels: comp: asm waf

#7000 Mark test profiling smoke test as flaky
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/CodeHotspotsTest.java
Labels: tag: no release notes, tag: flaky test, comp: profiling, tag: flaky test/disabled

#6998 Update docker builder image
  .circleci/render_config.py
Labels: tag: no release notes, comp: tooling

#7008 Revert PR #6990 (Add product tags to each span if products are enabled)
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanContextTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes

#6996 Only rebuild tracer tags when the remote-config 'tracing_tags' change
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: performance, comp: remote config

#7004 Relocate JCTools
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/AnnotationSubstitutionProcessorInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/Target_datadog_jctools_counters_FixedSizeStripedLongCounterFields.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/Target_datadog_jctools_util_UnsafeRefArrayAccess.java
Labels: tag: community, comp: native-image

#7006 Upgrade to libddwaf 1.18.0 (libddwaf-java 10.0.0)
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: asm waf

#6986 Add jacoco tasks to debuggerTest
  build.gradle
Labels: tag: no release notes, comp: debugger

#7013 Fix ArrayIndexOutOfBoundsException in adjustLocalVarsBasedOnArgs
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/ASMHelperTest.java
Labels: comp: debugger

#6993 Add log file if size is not too big
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: type: enhancement, comp: telemetry

#7009 Always collect accept, content-type and user-agent when appsec is enabled
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: comp: asm waf

#6944 Add XSS support for JSP
  dd-java-agent/instrumentation/servlet/request-5/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/jsp/JakartaJspWriterCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/jsp/JakartaJspWriterFullDetectionCallSite.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaJspWriterCallsiteTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaJspWriterFullDetectionCallsiteTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/TestJspWriterSuite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/jsp/JspWriterCallSite.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/jsp/JspWriterFullDetectionCallSite.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/JspWriterCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/JspWriterFullDetectionCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/java/foo/bar/TestJspWriterSuite.java
  dd-smoke-tests/springboot-jetty-jsp/build.gradle
  dd-smoke-tests/springboot-jetty-jsp/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-jetty-jsp/src/main/java/datadog/smoketest/springboot/ViewController.java
  dd-smoke-tests/springboot-jetty-jsp/src/main/resources/application.properties
  dd-smoke-tests/springboot-jetty-jsp/src/main/webapp/WEB-INF/jsp/test_xss.jsp
  dd-smoke-tests/springboot-jetty-jsp/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot-tomcat-jsp/build.gradle
  dd-smoke-tests/springboot-tomcat-jsp/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-tomcat-jsp/src/main/java/datadog/smoketest/springboot/ViewController.java
  dd-smoke-tests/springboot-tomcat-jsp/src/main/resources/application.properties
  dd-smoke-tests/springboot-tomcat-jsp/src/main/webapp/WEB-INF/jsp/test_xss.jsp
  dd-smoke-tests/springboot-tomcat-jsp/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot-tomcat/src/main/java/datadog/smoketest/springboot/controller/ViewController.java
  settings.gradle
Labels: comp: asm iast

#7010 Collect common WAF request header values by default
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: comp: asm waf

#7021 Remove debug log on sampling
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: comp: debugger

#6997 Filter out Errors for Exception Debugging
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
Labels: comp: debugger

#7018 Fix support of literals in Expression Language
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Value.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_13.json
Labels: type: bug, comp: debugger

#7016 Fix log level and message for SymDB extraction
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractor.java
Labels: comp: debugger

#6885 Detect a vulnerability when a default application is deployed
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/async/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/jaas/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/javadoc/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/jndi/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/spec/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/jetty/test/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/insecure/tomcat/samples/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaultappdeployed/secure/WEB-INF/web.xml
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
Labels: comp: asm iast, R&D

#6992 Add support of Set in Expression Language
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Value.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Visitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/SetValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/SetValueEmptyTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/SetValueNullTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/SetValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_11.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_14.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
Labels: comp: debugger

#7022 extend latest dep test for undertow
  dd-java-agent/instrumentation/undertow/undertow-2.0/build.gradle
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/ServletInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.2/build.gradle
Labels: comp: testing, tag: no release notes

#7023 Add parametric tests flakiness workaround
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, tag: flaky test, comp: tooling

#7026 Mark Gradle and Maven smoke tests as flaky
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: tag: no release notes, tag: flaky test, comp: ci visibility, tag: flaky test/disabled

#7027 Bump ddprof to 1.6.0
  gradle/dependencies.gradle
Labels: tag: dependencies, comp: profiling

#7029 Enable spring boot service name detection from spring.application.name
  dd-java-agent/instrumentation/spring-boot/src/main/java/datadog/trace/instrumentation/springboot/SpringApplicationInstrumentation.java
  dd-java-agent/instrumentation/spring-boot/src/test/groovy/SpringBootApplicationTest.groovy
Labels: tag: breaking change, inst: spring

#7030 Support loading trace extensions from a comma-separated list of jars, or directories containing jars
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionsLoader.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: core, type: feature request

#7033 Upgrade ddprof to 1.7.0
  gradle/dependencies.gradle
Labels: comp: profiling

#7032 Protect Map and Set accesses to be only in-memory
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/MapValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/SetValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueEmptyTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/values/MapValueTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_07.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
Labels: comp: debugger

#7037 Fix the ddprof safety check
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: profiling

#7039 Print the specification name to help identify flaky tests
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
Labels: tag: no release notes, tag: flaky test, tag: diagnostics

#7041 Fix instrumentation for legacy JUnit 3.8 tests
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit38SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
Labels: type: bug, comp: ci visibility

#7042 Fix expensive folding only in debug level
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/MoshiSnapshotHelper.java
Labels: comp: debugger

#7044 Fix Gradle instrumentation: do not fail if Jacoco excluded CL list is immutable
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
Labels: type: bug, comp: ci visibility

#7043 Add fingerprint info into Tracer flare
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: tag: diagnostics, comp: debugger

#7049 Support mapping extensions from different providers into a form that can be used by the Datadog tracer
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionFinder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionLoader.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionsLoader.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExtensionHandler.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Utils.java
Labels: comp: core, tag: no release notes

#7038 Add test for custom obfuscation regexp with email
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/QueryObfuscatorTest.groovy
Labels: comp: testing, tag: no release notes, comp: asm waf

#7020 Improve onboarding documentation
  BUILDING.md
  CONTRIBUTING.md
  README.md
  docs/how_to_test.md
  setup.sh
Labels: type: documentation, tag: no release notes

#7046 Fix JUnit 4 integration to support PowerMock
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnitLegacySuiteEventsInstrumentation.java
Labels: type: bug, comp: ci visibility

#7048 Do not transform Mockito-generated classes
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
Labels: type: bug, comp: ci visibility

#7047 Add Throwable capturing fields support for JDK16+
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  gradle/java_no_deps.gradle
Labels: type: enhancement, comp: debugger

#7052 Fix perf issue when accessing fields by reflection
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolverTest.java
Labels: comp: debugger

#7054 Add `EXCEPTION_REPLAY_ENABLED` config token
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: debugger

#7053 Fix 'polynomial regular expression used on uncontrolled data' vulnerability in Git config parsing logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/GitConfig.java
Labels: comp: ci visibility

#7058 Fix `ExtractedContext`'s  `toString`
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ExtractedContext.java
Labels: type: bug, comp: core, tag: no release notes

#7056 Fix error handling on RabbitMQ channel cleanup
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/test/groovy/RabbitMQTest.groovy
Labels: tag: no release notes, tag: flaky test, inst: rabbitmq

#7062 Mark Jetty9 integration test as flaky
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: tag: no release notes, tag: flaky test, tag: flaky test/disabled, inst: jetty

#7060 Fix short circuiting of boolean expressions
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/BinaryExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/BinaryOperator.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/BinaryExpressionTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: bug, comp: debugger

#7063 Add config param for local root exception handling
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes, comp: debugger

#7071 fix spring boot latest dep logging dependencies
  dd-java-agent/instrumentation/spring-boot/build.gradle
Labels: comp: testing, tag: no release notes, inst: spring

#7066 Fix the cws tracer on systems using musl libc (like alpine)
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/ErpcTls.java
Labels: type: bug, comp: cws

#7073 Disable URL instrumentation by default
  dd-java-agent/instrumentation/http-url-connection/src/main/java/datadog/trace/instrumentation/http_url_connection/UrlInstrumentation.java
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
Labels: type: enhancement, inst: java

#7031 Add support for meta_struct field in API v4
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-api/src/main/java/datadog/trace/api/internal/TraceSegment.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/TraceMapperV0_4.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/SimpleSpan.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceGenerator.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceMapperV04PayloadTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceGenerator.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, comp: asm waf

#7074 Add circuit breaker for Exception Debugging
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/CircuitBreaker.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/CircuitBreakerTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7070 Update benchmarks gitlab workflow with circle ci token
  .gitlab/benchmarks.yml
Labels: tag: no release notes, comp: tooling

#7059 Prevent AppSec context from being closed more than once on partial flush
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  internal-api/src/main/java/datadog/trace/api/EndpointCheckpointer.java
Labels: type: bug, comp: asm waf

#7072 Move the OpenTelemetry shim to its own module so we can re-use it for drop-in support
  buildSrc/src/main/groovy/InstrumentPlugin.groovy
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/package-info.java
  dd-java-agent/agent-otel/otel-shim/build.gradle
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelScope.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/AgentTextMapPropagator.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/OtelContextPropagators.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/TraceStateHelper.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelConventions.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelExtractedContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpan.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanBuilder.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanLink.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracer.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracerBuilder.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracerProvider.java
  dd-java-agent/agent-otel/otel-tooling/build.gradle
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelShimGradlePlugin.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelShimInjector.java
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  settings.gradle
Labels: tag: no release notes, type: refactoring, inst: opentelemetry

#7083 Add option to limit number of frames captured
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7080 Create commmon backend-mock module to use in smoke tests
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilitySmokeTest.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/backend-mock/build.gradle
  dd-smoke-tests/backend-mock/src/main/groovy/datadog/smoketest/MockBackend.groovy
  dd-smoke-tests/gradle/build.gradle
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/build.gradle
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  settings.gradle
Labels: comp: testing, tag: no release notes

#7081 Move backend communication logic to common module
  communication/build.gradle
  communication/src/main/java/datadog/communication/BackendApi.java
  communication/src/main/java/datadog/communication/BackendApiFactory.java
  communication/src/main/java/datadog/communication/EvpProxyApi.java
  communication/src/main/java/datadog/communication/IntakeApi.java
  communication/src/main/java/datadog/communication/util/IOThrowingFunction.java
  communication/src/main/java/datadog/communication/util/IOUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/GitClientGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/utils/ShellCommandExecutorTest.groovy
  dd-java-agent/instrumentation/selenium/src/testFixtures/groovy/datadog/trace/instrumentation/selenium/AbstractSeleniumTest.groovy
Labels: comp: core

#7084 Fix flaky exception debugger test
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
Labels: tag: no release notes, comp: debugger

#7086 Runtime drop-in support for OpenTelemetry instrumentations
  dd-java-agent/agent-builder/build.gradle
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionFinder.java
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/Java8BytecodeBridge.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/package-info.java
  dd-java-agent/agent-otel/otel-tooling/build.gradle
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelExtensionHandler.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumenter.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumenterModule.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelTransformer.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelTransformerState.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/shim/OtelShimGradlePlugin.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/shim/OtelShimInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExtensionHandler.java
Labels: inst: opentelemetry

#7017 Enable telemetry logs for IAST, CI Visibility and Dynamic Instrumentation users
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLoggerFactory.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: telemetry

#7091 Mark Jetty9 integration test as flaky
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: tag: no release notes, tag: flaky test, tag: flaky test/disabled, inst: jetty

#7089 java-dogstatsd-client 4.4.0 (fix potential file-descriptor leak)
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDConnection.java
  gradle/dependencies.gradle
Labels: tag: dependencies, comp: metrics

#7045 Improve loom features support
  dd-java-agent/instrumentation/java-concurrent/build.gradle
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/build.gradle
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/main/java/datadog/trace/instrumentation/java/concurrent/structuredconcurrency/StructuredTaskScopeInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/main/java/datadog/trace/instrumentation/java/concurrent/virtualthread/TaskRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/previewTest/groovy/StructuredConcurrencyTest.groovy
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/test/groovy/VirtualThreadTest.groovy
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/test/java/JavaAsyncChild.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/NettyExecutorInstrumentationTest.groovy
  docs/how_instrumentations_work.md
  settings.gradle
Labels: type: enhancement, type: refactoring, inst: java

#7096 Use same approach as agent-tooling to setup otel-tooling instrumentPluginClasspath
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-tooling/build.gradle
Labels: tag: no release notes, comp: tooling

#7087 Fix flakiness in Maven and Gradle smoke tests
  dd-smoke-tests/backend-mock/src/main/groovy/datadog/smoketest/MockBackend.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: comp: testing, tag: no release notes, run-tests: all

#7093 Bumps opentracing-tracerresolver to 0.1.6
  dd-trace-ot/build.gradle
Labels: tag: community, tag: dependencies, comp: opentracing

#7094 Preserve `unix:` agent URLs
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/MetricsAggregatorFactoryTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: core

#7102 Add a TracingFactory (since opentracing-tracerresolver 0.1.5) which resolves our tracer
  dd-trace-ot/src/main/java/datadog/opentracing/resolver/DDTracerFactory.java
Labels: comp: opentracing

#7057 Update lib-injection docker image tags
  .gitlab-ci.yml
  .gitlab/build-lib-init.sh
Labels: type: enhancement, comp: tooling

#7092 Report exception when deserializing config
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationAcceptor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerProductChangesListener.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerProductChangesListenerTest.java
Labels: comp: debugger

#7103 Ensure tests are run for dd-trace-api and dd-trace-ot
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7104 DDTracerResolverTest should be ForkedTest…
  dd-trace-ot/src/test/groovy/datadog/opentracing/resolver/DDTracerResolverForkedTest.groovy
Labels: comp: testing, tag: no release notes

#7099 Fix line probe in method with inline lambdas
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/Where.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassFileLines.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/WhereTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassFileLinesTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot07.java
Labels: type: bug, comp: debugger
