Repository DataDog/dd-trace-java, pull requests merged in 2024-02, with the labels that each got.

#6592 Report retried TestNG tests as failed rather than skipped
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-failed-then-succeed-7/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-failed-then-succeed-latest/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-retry-error/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-retry-failed-7/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-retry-failed-latest/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-retry-parameterized/events.ftl
Labels: comp: ci visibility

#6595 Trigger WAF request metrics only at end of request only
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: type: bug, comp: asm waf

#6531 Add requested and completed times to flare_info.txt
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: comp: core, tag: diagnostics

#6540 Initial flush interval for long running spans
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/LongRunningTracesTracker.java
  dd-trace-core/src/test/groovy/datadog/trace/core/LongRunningTracesTrackerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: tag: experimental

#6601 Remove dead code in dependency resolver
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencySpecification.groovy
Labels: tag: no release notes, type: refactoring, comp: telemetry

#6602 increase muzzle parallelism
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6589 Add CI Static Analysis integration
  .github/workflows/ci-static-analysis.yml
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#6606 Update GitHub Actions README.md
  .github/workflows/README.md
Labels: type: documentation, tag: no release notes, comp: tooling

#6612 Include aas related tags in profile tag-map
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/AzureAppServicesTagsTest.groovy
Labels: comp: profiling

#6460 Use spark.app.name as default service if not set by the user
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst: apache spark

#6608 Implement ScopedContext and Baggage API
  dd-trace-core/src/main/java/datadog/trace/core/DDBaggage.java
  dd-trace-core/src/main/java/datadog/trace/core/DDScopedContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/DDBaggageTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDScopedContextTest.groovy
Labels: comp: core

#6590 Support jetty client 10 and 11
  dd-java-agent/instrumentation/jetty-client/build.gradle
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/build.gradle
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/src/main/java/datadog/trace/instrumentation/jetty_client10/JettyClientInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/src/main/java11/datadog/trace/instrumentation/jetty_client10/JettyClientDecorator.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/src/main/java11/datadog/trace/instrumentation/jetty_client10/SendAdvice.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/src/main/java11/datadog/trace/instrumentation/jetty_client10/SpanFinishingCompleteListener.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-10.0/src/test/groovy/JettyClientTest.groovy
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/build.gradle
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/gradle.lockfile
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client91/FutureResponseListenerInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client91/JettyAddListenerInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client91/JettyClientDecorator.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client91/JettyClientInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/main/java/datadog/trace/instrumentation/jetty_client91/SpanFinishingCompleteListener.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-9.1/src/test/groovy/JettyClientTest.groovy
  dd-java-agent/instrumentation/jetty-client/jetty-client-common/build.gradle
  dd-java-agent/instrumentation/jetty-client/jetty-client-common/gradle.lockfile
  dd-java-agent/instrumentation/jetty-client/jetty-client-common/src/main/java/datadog/trace/instrumentation/jetty_client/CallbackWrapper.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-common/src/main/java/datadog/trace/instrumentation/jetty_client/HeadersInjectAdapter.java
  dd-java-agent/testing/build.gradle
  settings.gradle
Labels: inst: jetty

#6603 Fix dependency resolution for nested JARs
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
Labels: comp: telemetry

#6616 Fix context store access with null key on DBM MySQL connection
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/MySQLConnectionInstrumentation.java
Labels: inst: jdbc, comp:database

#6597 Add _dd.appsec.waf.timeouts tag
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: asm waf

#6617 Reduce noise in CI Static Analysis
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#6609 Add instrumentation of exception stacktraces
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/Configuration.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InstrumentationResult.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/LineMap.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodInfo.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/Where.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassFileLines.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationComparerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/instrumentation/LineMapTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/WhereTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassFileLinesTest.java
Labels: type: enhancement, comp: debugger

#6619 Refactor checkout merge commit in CI
  .circleci/checkout_merge_commit.sh
  .circleci/config.continue.yml.j2
  .circleci/config.yml
Labels: tag: no release notes, comp: tooling

#6607 Use intake telemetry client by default when running in agentless mode
  telemetry/src/main/java/datadog/telemetry/TelemetryRouter.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRouterSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Labels: comp: telemetry

#6596 Align apache http client 5 instrumentation names
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpAsyncClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientDecorator.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpClientInstrumentation.java
Labels: inst: others

#6611 Build only release artifacts in build_lib CI job
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6626 Avoid caching class-file resources in build-workers during instrument tasks
  buildSrc/src/main/groovy/InstrumentingPlugin.groovy
Labels: tag: no release notes, comp: tooling

#6575 Introduce concept of an InstrumenterGroup
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AbstractTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/LegacyTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/MuzzleMatcher.java
  dd-java-agent/agent-builder/src/test/groovy/datadog/trace/agent/test/DefaultInstrumenterForkedTest.groovy
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CalleeBenchmarkInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/Instrumenter.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterGroup.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGradlePlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPluginTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/muzzle/TestInstrumentationClasses.java
  dd-java-agent/instrumentation/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/iast/MakeTaintableInstrumentation.java
  dd-java-agent/instrumentation/commons-httpclient-2/src/main/java/datadog/trace/instrumentation/commonshttpclient/IastHttpMethodBaseInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/AbstractNativeImageInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty10/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/JettyServerInstrumentation.java
  dd-java-agent/instrumentation/jetty-appsec-8.1.3/src/main/java/datadog/trace/instrumentation/jetty8/RequestGetPartsInstrumentation.java
  dd-java-agent/instrumentation/liberty-20/src/main/java/datadog/trace/instrumentation/liberty20/ParseParametersInstrumentation.java
  dd-java-agent/instrumentation/liberty-23/src/main/java/datadog/trace/instrumentation/liberty23/ParseParametersInstrumentation.java
  dd-java-agent/instrumentation/mongo/src/test/java/NoOpInstrumentation.java
  dd-java-agent/instrumentation/netty-buffer-4/src/main/java/datadog/trace/instrumentation/netty40/buffer/ByteBufInputStreamInstrumentation.java
  dd-java-agent/instrumentation/netty-buffer-4/src/main/java/datadog/trace/instrumentation/netty40/buffer/ByteBufInstrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/main/java/datadog/trace/instrumentation/okhttp2/IastHttpUrlInstrumentation.java
  dd-java-agent/instrumentation/okhttp-3/src/main/java/datadog/trace/instrumentation/okhttp3/IastHttpUrlInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/iast/MakeTaintableInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/http/CookieInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/tomcat-5.5/src/main/java/datadog/trace/instrumentation/tomcat/RequestInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ParsePartsInstrumentation.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceConfigInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RequestImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/BufferInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/CaseInsensitiveHeadersInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/core/HeadersAdaptorInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/CookieImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.5/src/main/java/datadog/trace/instrumentation/vertx_3_5/core/VertxHttpHeadersInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/core/BufferInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/core/MultiMapInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/CookieImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteImplInstrumentation.java
  dd-java-agent/src/test/groovy/datadog/trace/agent/integration/muzzle/MuzzleGenerateTest.groovy
  dd-java-agent/testing/src/main/java/datadog/trace/agent/test/base/TestInstrumentation.java
Labels: comp: core, type: refactoring

#6627 Fix ConcurrentModificationException in RecursiveThreadPoolPropagationTest
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/RecursiveThreadPoolPropagationTest.groovy
Labels: comp: testing, tag: no release notes

#6624 Add application vulnerabilities to telemetry
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/IastServletContextInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricTest.groovy
Labels: comp: asm iast

#6586 Fix insecure cookies false positives when unsetting cookies
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureCookieModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureCookieModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/test/groovy/HttpServletResponseInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/util/Cookie.java
Labels: comp: asm iast

#6587 Add `scheduledWithFixedDelay` method
  internal-api/src/main/java/datadog/trace/util/AgentTaskScheduler.java
  internal-api/src/test/groovy/datadog/trace/util/AgentTaskSchedulerTest.groovy
Labels: type: enhancement, comp: core

#6614 Detect insecure auth protocol
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureAuthProtocolModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/InsecureAuthProtocolModuleTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/springboot/src/main/java/datadog/smoketest/springboot/jwt/JwtAuthenticationFilter.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/InsecureAuthProtocolModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
Labels: comp: asm iast

#6634 Fix dynamic invoke for string concat in IBM J9
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/main/java/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSiteTest.groovy
Labels: type: bug, comp: asm iast

#6637 Refactor hardcoded secret smoke test
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/HardcodedSecretController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
Labels: comp: testing, tag: no release notes, comp: asm iast

#6639 Fix issue with call site test that should not run in JDK8
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSiteTest.groovy
Labels: comp: testing, comp: asm iast, run-tests: all

#6618 Exclude WAF timeout from telemetry logs
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: comp: asm waf, tag: experimental

#6615 Update system-tests to a0064c4012f19fbec5b9f0583efc80ab5f37c35e
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6643 Add support for periodic submission of telemetry distribution series
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/telemetry/MetricCollector.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/api/DistributionSeries.java
  telemetry/src/main/java/datadog/telemetry/metric/MetricPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRunnableSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
Labels: comp: telemetry

#6651 Push jars from gitlab to gh release instead of via central
  .github/workflows/add-assets-to-release.yaml.disabled
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#6641 Add class filtering and exception probe conditions
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/SpanInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassNameFiltering.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/FingerprinterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestSnapshotListener.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
Labels: type: enhancement, comp: debugger

#6650 Update Gradle smoke tests
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/build.gradleTest
Labels: tag: no release notes, comp: ci visibility

#6642 Fix remote config activation configuration name
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-trace-api/src/main/java/datadog/trace/api/config/RemoteConfigConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: bug, comp: remote config

#6644 Do not switch to agent telemetry client on detecting agent telemetry endpoint availability when intake client is preferred
  telemetry/src/main/java/datadog/telemetry/TelemetryRouter.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRouterSpecification.groovy
Labels: comp: telemetry

#6653 Update telemetry intake client to use CI Visibility agentless URL, if configured
  telemetry/src/main/java/datadog/telemetry/TelemetryClient.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryClientTest.groovy
Labels: comp: telemetry

#6658 Upgrade to libddwaf 1.16.0 (libsqreen 9.0.1)
  dd-java-agent/appsec/build.gradle
Labels: comp: asm waf

#6648 Override tracing preferred service name and pin to dynamic config
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core

#6655 Use pool class name to get fixed test names
  dd-java-agent/instrumentation/akka-concurrent/src/test/groovy/AkkaExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/lambda-testing/src/test/groovy/ExecutorLambdaTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/ExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/NettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/jetty-util/src/test/groovy/JettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/scala-concurrent/src/test/groovy/ScalaExecutorInstrumentationTest.groovy
Labels: comp: testing, tag: no release notes

#6672 Upgrade to ddprof 0.97.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6636 Remote Config. Add target service+env check.
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Labels: comp: remote config

#6673 Add test for class filtering
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
Labels: comp: testing, tag: no release notes, comp: debugger

#6670 Flush traces when spark application is finished
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
Labels: inst: apache spark

#6671 Do not ignore caught exceptions in CI Visibility code
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/CILocalGitInfoBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/GitClientGitInfoBuilder.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
Labels: comp: ci visibility

#6664 Implement telemetry for CI Visibility
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/telemetry/CiVisibilityMetricCollectorImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/telemetry/CiVisibilityMetricCollectorTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityDistributionMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityMetricData.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/NoOpMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/TagValue.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/Command.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/CoverageEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/CoverageErrorType.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/Endpoint.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ErrorType.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/EventType.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ExitCode.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/HasCodeowner.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsBenchmark.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsHeadless.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsUnsupportedCI.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ItrEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ItrSkipEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/Library.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/RequireGit.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/TestFrameworkInstrumentation.java
  internal-api/src/test/groovy/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetricTest.groovy
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/metric/CiVisibilityMetricPeriodicAction.java
Labels: comp: ci visibility

#6665 Implement telemetry for shell git commands
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/GitClientGitInfoBuilderTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitClientTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
Labels: comp: ci visibility

#6679 Upgrade to ddprof 0.99.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6662 Adds RC warning to release notes
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: tag: no release notes, comp: tooling

#6660 Implement a mechanism for adding ad-hoc listeners to OKHTTP requests
  communication/build.gradle
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  communication/src/test/groovy/datadog/communication/http/OkHttpUtilsTest.groovy
Labels: comp: core

#6682 Fix OKHTTP instrumentation tests
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
Labels: comp: core, tag: no release notes

#6684 Fix null test framework name in JUnit 5 instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
Labels: type: bug, comp: ci visibility

#6685 Add communication module as affecting instrumentation tests
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#6683 Fix intake telemetry client URL for EU site
  telemetry/src/main/java/datadog/telemetry/TelemetryClient.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryClientTest.groovy
Labels: type: bug, comp: telemetry

#6649 Custom Tags via Remote Config for Tracing
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
  internal-api/src/main/java/datadog/trace/api/TraceConfig.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: comp: remote config

#6579 Configure byte-buddy to use simpler method-graph
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/testing/src/test/groovy/locator/ClassInjectingForkedTest.groovy
  dd-java-agent/testing/src/test/groovy/locator/ClassInjectingLoadClassDisabledForkedTest.groovy
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTestInstrumentation.java
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTransformer.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: core, tag: performance

#6622 Add Reflection Injection support
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ReflectionInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ReflectionInjectionModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ClassCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ClassLoaderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ClassCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ClassLoaderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestClassLoaderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestClassSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/ReflectionController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityMarks.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/ReflectionInjectionModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
Labels: comp: asm iast

#6130 Implement extra_services for remote config
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/RemoteConfigConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/taginterceptor/TagInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/CacheNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/CloudNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/DatabaseNamingV0.java
  internal-api/src/main/java/datadog/trace/api/naming/v0/MessagingNamingV0.java
  internal-api/src/main/java/datadog/trace/api/remoteconfig/ServiceNameCollector.java
  internal-api/src/test/groovy/datadog/trace/api/naming/ExtraServiceProviderNamingV0ForkedTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/ServiceNameCollectorTest.groovy
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: comp: remote config

#6610 Run CI only for changed modules in pull requests
  .circleci/collect_results.sh
  .circleci/config.continue.yml.j2
  .circleci/render_config.py
  build.gradle
Labels: comp: testing, tag: no release notes

#6688 Fix setup job in CI
  .circleci/render_config.py
Labels: tag: no release notes, comp: tooling

#6667 Implement telemetry for CI Visibility APIs
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/BackendApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/EvpProxyApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/IntakeApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/TelemetryListener.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataApiTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/git/tree/GitDataUploaderImplTest.groovy
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityDistributionMetric.java
Labels: comp: ci visibility

#6647 Improve application module performance and security bounds
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/StringUtils.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/StringUtilsTest.groovy
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/secure/nested/README.md
Labels: tag: performance, comp: asm iast

#6668 Implement telemetry for CI Visibility intakes
  dd-trace-api/src/main/java/datadog/trace/api/interceptor/AbstractTraceInterceptor.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/civisibility/interceptor/CiVisibilityTelemetryInterceptor.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDEvpProxyApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/DDIntakeApi.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/TelemetryListener.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeApiTest.groovy
  internal-api/src/main/java/datadog/trace/api/intake/TrackType.java
Labels: comp: ci visibility

#6677 Ensure superclasses and interfaces are loaded before classes that extend/implement them
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/classloading/ClassDefining.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/MemoizedMatchers.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/PreloadHierarchy.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/classloading/src/main/java/datadog/trace/instrumentation/classloading/DefineClassInstrumentation.java
Labels: comp: core, tag: performance

#6693 Make system-tests required in CI
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#6691 Reflection Injection code improvements
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ReflectionInjectionModuleImpl.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/ReflectionInjectionModule.java
Labels: tag: no release notes, comp: asm iast

#6675 Attach values to sources coming from non char sequences
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/BaseCodecModule.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/FastCodecModule.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/FastCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtilsTest.groovy
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastConfiguration.java
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastController.java
  dd-smoke-tests/kafka/src/test/groovy/IastKafkaSmokeTest.groovy
Labels: comp: asm iast

#6663 Spring boot: autodetect service name from environment
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/spring-boot/build.gradle
  dd-java-agent/instrumentation/spring-boot/gradle.lockfile
  dd-java-agent/instrumentation/spring-boot/src/main/java/datadog/trace/instrumentation/springboot/DeploymentHelper.java
  dd-java-agent/instrumentation/spring-boot/src/main/java/datadog/trace/instrumentation/springboot/SpringApplicationInstrumentation.java
  dd-java-agent/instrumentation/spring-boot/src/main/java/datadog/trace/instrumentation/springboot/SpringServletInitializerInstrumentation.java
  dd-java-agent/instrumentation/spring-boot/src/test/groovy/SpringBootApplicationTest.groovy
  dd-java-agent/instrumentation/spring-boot/src/test/resources/application.properties
  dd-smoke-tests/spring-boot-2.6-webflux/src/main/resources/application.properties
  dd-smoke-tests/spring-boot-2.6-webflux/src/test/groovy/datadog/smoketest/SpringBootWebfluxIntegrationTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/main/resources/application.properties
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/SpringBootWebmvcIntegrationTest.groovy
  dd-smoke-tests/spring-boot-3.0-native/src/test/groovy/SpringBootNativeInstrumentationTest.groovy
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-23/application/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-23/src/main/resources/application.properties
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-tomcat/src/main/resources/application.properties
  dd-smoke-tests/springboot-tomcat/src/test/groovy/datadog/smoketest/SpringBootTomcatSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  settings.gradle
Labels: inst: spring, tag: experimental

#6696 Update system-tests to 2374d120bbbc94109c449a0a9c182a9d4d0af60e
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#6315 Create unit tests to confirm behavior for DD_TRACE_HEADER_TAGS
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigConverterTest.groovy
Labels: comp: testing, tag: no release notes

#6705 Update WAF bindings to 9.0.2
  dd-java-agent/appsec/build.gradle
Labels: comp: asm waf

#6707 Remove automated deploy to DI backend
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#6712 Revert "Fix dependency resolution to nested JARs (#6603)"
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
Labels: type: bug, comp: telemetry

#6713 Revert "Fix dependency resolution to nested JARs (#6603)" (v1.30.x backport of #6712)
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
Labels: type: bug, comp: telemetry

#6669 Implement telemetry for CI Visibility events
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestFrameworkSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/InstrumentationType.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/Codeowners.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/CodeownersProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/NoCodeowners.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/BuildSystemModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/BuildSystemSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/TestModuleRegistry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/BuildEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilitySmokeTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: comp: ci visibility

#6702 Add unsupported (disabled) test cases for OpenTelemetry context
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/TextMap.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cPropagatorTracestateTest.groovy
Labels: tag: no release notes, inst: opentelemetry

#6689 Improve smoke test app caching across builds
  dd-smoke-tests/springboot-openliberty-20/application/pom.xml
  dd-smoke-tests/springboot-openliberty-20/build.gradle
  dd-smoke-tests/springboot-openliberty-23/application/pom.xml
  dd-smoke-tests/springboot-openliberty-23/build.gradle
Labels: tag: no release notes, comp: tooling

#6718 extract headers and baggage when propagation is disabled
  dd-java-agent/instrumentation/tomcat-5.5/build.gradle
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatNoPropagationForkedTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/NoneCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/NoneHttpExtractorTest.groovy
Labels: comp: core, comp: context propagation

#6719 refactor profiling module initialisation and composition
  dd-java-agent/agent-profiling/build.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/build.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/gradle.lockfile
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/main/java/com/datadog/profiling/auxiliary/ddprof/AuxiliaryDatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/main/java/com/datadog/profiling/auxiliary/ddprof/DatadogProfilerConfigEvent.java
  dd-java-agent/agent-profiling/profiling-auxiliary-ddprof/src/test/java/com/datadog/profiling/auxiliary/ddprof/AuxiliaryDatadogProfilerTest.java
  dd-java-agent/agent-profiling/profiling-auxiliary/build.gradle
  dd-java-agent/agent-profiling/profiling-auxiliary/gradle.lockfile
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryImplementation.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryProfiler.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingData.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/main/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingStreams.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/AuxiliaryProfilerTest.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/AuxiliaryRecordingDataTest.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/java/com/datadog/profiling/auxiliary/TestAuxiliaryProfilerImplementation.java
  dd-java-agent/agent-profiling/profiling-auxiliary/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerCheckpointer.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerController.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/test/java/com/datadog/profiling/controller/ControllerFactoryTest.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/test/java/com/datadog/profiling/controller/ddprof/DatadogProfilerControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/test/java/com/datadog/profiling/controller/ddprof/DatadogProfilerOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/InstantiationTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller-oracle/src/main/java/com/datadog/profiling/controller/oracle/OracleJdkController.java
  dd-java-agent/agent-profiling/profiling-controller-oracle/src/test/java/com/datadog/profiling/controller/oracle/OracleJdkControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller/build.gradle
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/Controller.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerContext.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilingSystem.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/ProfilingSystemTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/JavaProfilerLoader.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerRecordingTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/test/java/com/datadog/profiling/ddprof/DatadogProfilerTest.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/CompositeController.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ControllerFactory.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
  dd-java-agent/agent-profiling/src/test/java/com/datadog/profiling/agent/CompositeControllerTest.java
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  settings.gradle
Labels: comp: profiling

#6726 add failure to load dd profiler as periodic JFR event
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JfrProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecording.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ControllerContext.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilerSettingsSupport.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/CompositeController.java
Labels: comp: profiling

#6724 Make signal client timeout configurable
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ipc/SignalServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: ci visibility

#6526 Add OpenTelemetry integrations support
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/otel/AbstractClassVisitor.java
  buildSrc/src/main/groovy/otel/InstrumentationModuleConverter.java
  buildSrc/src/main/groovy/otel/OtelApiVerifier.groovy
  buildSrc/src/main/groovy/otel/OtelConverterPlugin.groovy
  buildSrc/src/main/groovy/otel/TypeInstrumentationConverter.java
  buildSrc/src/main/groovy/otel/VirtualFieldConverter.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleConverter.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleFlag.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleGenerator.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleReference.java
  buildSrc/src/test/groovy/otel/muzzle/MuzzleConverterTest.groovy
  buildSrc/src/test/groovy/otel/muzzle/MuzzleFlagTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-integrations/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-integrations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/HasAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-integrations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/OtelAutomaticInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-integrations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-integrations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeTransformer.java
  settings.gradle
Labels: tag: experimental, inst: opentelemetry

#6674 Add ITR correlator to test events
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/SkippableTests.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializerTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-unskippable-suite/events.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-itr-skipping-parameterized/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-itr-unskippable-suite/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-itr-unskippable-suite/events.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-unskippable-suite/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-itr-skipping-parametrized/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-itr-unskippable-suite/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-itr-skipping-factory-data-provider/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-itr-skipping-parameterized/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-itr-unskippable/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-itr-skipping-factory-data-provider/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-itr-skipping-parameterized/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-itr-skipping/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-itr-unskippable-not-skipped/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-itr-unskippable/events.ftl
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: comp: ci visibility

#6694 Standardize common configuration telemetry
  .circleci/config.continue.yml.j2
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigConverter.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/ConfigSettingTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigConverterTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/test/groovy/datadog/telemetry/BufferedEventsSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/ExtendedHeartbeatDataSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryRequestBodySpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Labels: comp: telemetry

#6735 Added API Security option dd.api-security.enabled
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: asm waf

#6737 Add JMH benchmark for dependency resolution
  telemetry/build.gradle
  telemetry/src/jmh/java/datadog/telemetry/dependency/DependencyResolverBenchmark.java
  telemetry/src/jmh/resources/logback.xml
Labels: tag: performance, tag: no release notes

#6733 Decrease default WAF timeout to 5ms
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: asm waf

#6515 Spark Executor Tasks Instrumentation
  .github/CODEOWNERS
  dd-java-agent/instrumentation/spark-executor/build.gradle
  dd-java-agent/instrumentation/spark-executor/src/baseTest/groovy/SparkExecutorTest.groovy
  dd-java-agent/instrumentation/spark-executor/src/main/java/datadog/trace/instrumentation/spark/SparkExecutorDecorator.java
  dd-java-agent/instrumentation/spark-executor/src/main/java/datadog/trace/instrumentation/spark/SparkExecutorInstrumentation.java
  settings.gradle
Labels: inst: apache spark

#6742 Revert "Decrease default WAF timeout to 5ms (#6733)"
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: tag: no release notes, comp: asm waf

#6738 collapse implementations of timer and checkpointer interfaces into profiling context
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerCheckpointer.java
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerTimer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFRCheckpointer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JFREventContextIntegration.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/SafeToLoadJFRCheckpointerTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilerConfig.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfilingIntegration.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/netty-concurrent-4/src/test/groovy/TimingTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-java-agent/testing/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/checkpoints/TestEndpointCheckpointer.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/timer/TestTimer.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/api/EndpointCheckpointerHolder.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ProfilingContextIntegration.java
  internal-api/src/test/groovy/datadog/trace/api/EndpointCheckpointerHolderTest.groovy
Labels: comp: profiling

#6708 Add Lookup api support for reflection injection
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ReflectionInjectionModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/main/java/datadog/trace/instrumentation/java/lang/invoke/Lookup9CallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/Lookup9CallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/java/foo/bar/TestLookup9Suite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ClassCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/LookupCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/LookupCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestClassLoaderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestClassSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestLookupSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/ReflectionController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Labels: comp: asm iast

#6740 upgrade Gradle v8.3 to v8.4
  .circleci/config.continue.yml.j2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: tag: no release notes

#6698 Add bounds to all range related operations
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/CommandInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HeaderInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HstsMissingHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/InsecureAuthProtocolModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/LdapInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/PathTraversalModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ReflectionInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SqlInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SsrfModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/StacktraceLeakModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/TrustBoundaryViolationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakCipherModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakHashModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/WeakRandomnessModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XContentTypeModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XPathInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/XssModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/Iterators.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/RangeBuilder.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/AbstractSinkModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ReflectionInjectionModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/IteratorsTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/RangeBuilderTest.groovy
Labels: tag: performance, comp: asm iast

#6744 Improve dependency resolver heuristics for MANIFEST.MF
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencySpecification.groovy
  telemetry/src/test/java/datadog/telemetry/dependency/DependencyServiceTests.java
  telemetry/src/test/resources/datadog/telemetry/dependencies/agrona-1.7.2.jar
  telemetry/src/test/resources/datadog/telemetry/dependencies/caffeine-2.8.5.jar
  telemetry/src/test/resources/datadog/telemetry/dependencies/freemarker-2.3.27-incubating.jar
  telemetry/src/test/resources/datadog/telemetry/dependencies/hsqldb-2.3.5-jdk6debug.jar
  telemetry/src/test/resources/datadog/telemetry/dependencies/jakarta.inject-2.6.1.jar
Labels: type: enhancement, comp: telemetry

#6755 Fix equality in the range builder test causing failures in some VMs
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/RangeBuilderTest.groovy
Labels: tag: no release notes, tag: flaky test, comp: asm iast, run-tests: all

#6746 Implement telemetry for early flakiness detection
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  internal-api/src/main/java/datadog/trace/api/civisibility/CIConstants.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityDistributionMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/EarlyFlakeDetectionAbortReason.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/EarlyFlakeDetectionEnabled.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/IsNew.java
Labels: comp: ci visibility

#6722 Avoid instrumentation build when possible
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#6734 Update system-tests to 54517a50d663b92d8b0a2f599261105768e92a72
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6756 Update Docker used in Circle CI
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#6680 Update README.md due to disabled add-assets-to-release workflow
  .github/workflows/README.md
Labels: tag: no release notes, comp: tooling

#6760 Fix PowerWAFModuleSpecification flaky test
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test, comp: asm waf

#6741 Add support for precise tainting of byte array objects
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/FastCodecModule.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/BaseCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/FastCodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/ByteBufferCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ByteBufferTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestByteBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/CodecModule.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: comp: asm iast, run-tests: all

#6751 Update JUnit 4 method name extraction logic to properly handle Kotlin test names
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestParameterizedJUnitParams.java
  dd-java-agent/instrumentation/junit-4.10/src/test/kotlin/org/example/TestSucceedKotlin.kt
  dd-java-agent/instrumentation/junit-4.10/src/test/kotlin/org/example/TestSucceedParameterizedKotlin.kt
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-parameterized-junit-params/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-parameterized-junit-params/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-succeed-kotlin/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-succeed-kotlin/events.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-succeed-parameterized-kotlin/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/src/test/resources/test-succeed-parameterized-kotlin/events.ftl
Labels: comp: ci visibility, run-tests: all

#6757 Improve release candidate detection and its changelog warning
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: tag: no release notes, comp: tooling
