Repository DataDog/dd-trace-java, pull requests merged in 2024-06, with the labels that each got.

#7077 Bump byte-buddy to 1.14.16
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: tag: dependencies

#7111 Bump heap by 512m for the weekly cache job
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#7098 Improve agentServiceCheck to handle scenarios where the tracer is configured to use UDS
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
Labels: comp: core, tag: diagnostics

#7106 Report updated `trace.sampling.rules` to telemetry
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  internal-api/src/main/java/datadog/trace/api/DynamicConfig.java
Labels: comp: telemetry

#7109 Skip tests for Spark 4.x
  dd-java-agent/instrumentation/spark-executor/build.gradle
  dd-java-agent/instrumentation/spark/spark_2.13/build.gradle
Labels: comp: testing, tag: no release notes, inst: apache spark

#7097 Fix IP denylist parsing when expiration date does not fit an integer
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfig.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecDataDeserializerSpecification.groovy
  dd-java-agent/appsec/src/test/resources/rules_with_data_config.json
Labels: type: bug, comp: asm waf

#7100 Fix HandleVisitor instrumentation for jetty >= 11.16.0 (avoids logged error)
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/HttpChannelAppSecTest.groovy
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty9/DelayCertainInsMethodVisitor.java
  dd-java-agent/instrumentation/jetty-common/src/main/java/datadog/trace/instrumentation/jetty9/HandleVisitor.java
Labels: type: bug, comp: asm waf

#7108 add isRemote to DDSpanContext
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
Labels: tag: no release notes, comp: context propagation

#7105 Cleanup OTSpanTest…
  dd-trace-ot/src/test/groovy/datadog/opentracing/OTSpanTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/resolver/DDTracerResolverTest.groovy
Labels: comp: testing, tag: no release notes

#7051 Added support for SQLi exploit prevention
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/DatabaseClientDecorator.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: asm waf

#7095 Update system-tests to 4d979bdcab25754d38a8d190525bef87dad66a6e
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7116 Avoid creating unnecessary OtelSpanContext…
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelExtractedContext.java
Labels: tag: performance, inst: opentelemetry

#7115 Add detailed debug logging for tracing/profiler context integration
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: tag: diagnostics, comp: profiling

#6908 Add aws sns instrumentation for AWS lambda
  dd-java-agent/instrumentation/aws-java-sns-1.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
  settings.gradle
Labels: tag: serverless

#7076 emit rate limited JFR events when RejectedExecutionHandlers run
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/backpressure/BackpressureProfiling.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/backpressure/BackpressureSampleEvent.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/backpressure/BackpressureSampler.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/RejectedExecutionHandlerInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: profiling

#7121 Ensure locals are in scope when generating metrics
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: comp: debugger

#7126 netty client: don't finish parent span
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientResponseTracingHandler.java
Labels: type: bug, inst: netty

#7125 Align classLoaderMatcher signature with OpenTelemetry
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelElementMatchers.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ClassLoaderMatchers.java
  dd-java-agent/instrumentation/armeria-jetty/src/main/java/datadog/trace/instrumentation/armeria/jetty/ArmeriaHttpConnectionInstrumentation.java
  dd-java-agent/instrumentation/cxf-2.1/src/main/java/datadog/trace/instrumentation/cxf/InvokerInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-3.8/src/main/java/datadog/trace/instrumentation/datastax/cassandra38/CassandraClusterInstrumentation.java
  dd-java-agent/instrumentation/datastax-cassandra-3/src/main/java/datadog/trace/instrumentation/datastax/cassandra/CassandraClusterInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/rest-7/src/main/java/datadog/trace/instrumentation/elasticsearch7/Elasticsearch7RestClientInstrumentation.java
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/src/main/java/datadog/trace/instrumentation/elasticsearch7_3/Elasticsearch73TransportClientInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServicesInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradlePluginInjectorInstrumentation.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleBuildListenerInstrumentation.java
  dd-java-agent/instrumentation/gson-1.6/src/main/java/datadog/trace/instrumentation/gson/JsonReaderInstrumentation.java
  dd-java-agent/instrumentation/java-http-client/src/main/java/datadog/trace/instrumentation/httpclient/HttpClientInstrumentation.java
  dd-java-agent/instrumentation/java-http-client/src/main/java/datadog/trace/instrumentation/httpclient/HttpHeadersInstrumentation.java
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/main/java/datadog/trace/instrumentation/jaxrs1/JaxRsAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/main/java/datadog/trace/instrumentation/jaxrs2/JaxRsAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/jedis-1.4/src/main/java/datadog/trace/instrumentation/jedis/JedisInstrumentation.java
  dd-java-agent/instrumentation/jetty-appsec-8.1.3/src/main/java/datadog/trace/instrumentation/jetty8/RequestGetPartsInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/OpensearchTransportClientInstrumentation.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/GlobalTracerInstrumentation.java
  dd-java-agent/instrumentation/osgi-4.3/src/main/java/datadog/trace/instrumentation/osgi43/BundleReferenceInstrumentation.java
  dd-java-agent/instrumentation/reactor-netty-1/src/main/java/datadog/trace/instrumentation/reactor/netty/HttpClientInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/IastServlet2Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2ResponseStatusInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/ServletRequestBodyInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet31RequestBodyInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Instrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HttpMessageConverterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/ServletPathRequestFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/ServletPathRequestFilterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateAndMatrixVariablesInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/TemplateVariablesUrlHandlerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-6/src/main/java/datadog/trace/instrumentation/testng6/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-5.5/src/main/java/datadog/trace/instrumentation/tomcat55/ParsedBodyParametersInstrumentation.java
  dd-java-agent/instrumentation/twilio/src/main/java/datadog/trace/instrumentation/twilio/TwilioAsyncInstrumentation.java
Labels: tag: no release notes, inst: opentelemetry

#7127 Support OpenTelemetry extension helpers
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumenterModule.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
Labels: tag: no release notes, inst: opentelemetry

#7114 Track OpenTelemetry propagated context
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14Test.groovy
Labels: inst: opentelemetry

#7118 Support custom OpenTelemetry context
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelScope.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
Labels: inst: opentelemetry

#7119 Allow custom instrumentations to declare their ordering
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterIndex.java
Labels: comp: core, tag: no release notes

#7132 SpanId in reported AppSec events
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: tag: no release notes, comp: asm waf

#7137 Added config for stack trace collection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/DatabaseClientDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes, comp: asm waf

#7139 Do not gather coverage for skippable tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/CoverageProbeStoreFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SkippableAwareCoverageProbeStoreFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/ModuleExecutionResult.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializerTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-skipping/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-unskippable-suite/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-itr-unskippable/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-itr-unskippable-suite/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-itr-unskippable/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestItrInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  dd-smoke-tests/backend-mock/src/main/groovy/datadog/smoketest/MockBackend.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: tag: performance, comp: ci visibility

#7067 Encode the last seen Datadog span ID within tracestate
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cLastParentIdTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cPropagatorTracestateTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
Labels: comp: context propagation

#7138 Ensure manually created OpenTelemetry spans are compliant with trace metrics
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelConventions.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
Labels: inst: opentelemetry

#7128 Tune static analysis rules
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#7133 Rework the bytecode cache for extensions so it works across connections
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionFinder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExtensionHandler.java
Labels: tag: performance, tag: no release notes, inst: opentelemetry

#7129 Map OpenTelemetry VirtualField to Datadog ContextStore
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumenterModule.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelMethodCallMapper.java
Labels: inst: opentelemetry

#6935 Bump JMXFetch to 0.49.2
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/gradle.lockfile
Labels: tag: dependencies, comp: metrics

#7142 Map OpenTelemetry muzzle references to Datadog equivalent
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelExtensionHandler.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumenterModule.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelMuzzleRefBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExtensionHandler.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
Labels: inst: opentelemetry

#7157 Fix spring-messaging tests
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/listener/Config.groovy
Labels: comp: testing

#7150 SNS integration: do not modify readonly message attributes map
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: type: bug, inst: aws sdk, tag: serverless

#7145 Update shim fields to have the types expected by OtelShimInjector
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracerProvider.java
Labels: tag: no release notes, inst: opentelemetry

#7154 Refactoring of AppSec Events Reporting system
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFResultData.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Parameter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/Rule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/RuleMatch.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/StandardizedLogging.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/AppSecEventWrapperTest.groovy
Labels: tag: no release notes, type: refactoring, comp: asm waf

#7159 Support DD_LOG_LEVEL
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/VMRuntimeInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: logging

#7148 Avoid publishing RC to Sonatype and upload the right assets to GitHub release
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7161 Add Cloud Foundry release automation
  .github/workflows/README.md
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: tag: no release notes, comp: tooling

#7146 Removed scala converter lambdas and ensure they are added as helpers
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/ScalaJavaConverters.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringContextCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringOpsCallSite.java
  dd-smoke-tests/iast-propagation/build.gradle
  dd-smoke-tests/iast-propagation/src/main/groovy/GroovyPropagation.groovy
  dd-smoke-tests/iast-propagation/src/main/java/JavaPropagation.java
  dd-smoke-tests/iast-propagation/src/main/java/datadog/smoketest/springboot/PropagationController.java
  dd-smoke-tests/iast-propagation/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/iast-propagation/src/main/kotlin/KotlinPropagation.kt
  dd-smoke-tests/iast-propagation/src/main/scala/ScalaPropagation.scala
  dd-smoke-tests/iast-propagation/src/test/groovy/datadog/smoketest/IastPropagationSmokeTest.groovy
  settings.gradle
Labels: type: bug, comp: asm iast

#7160 Start Datadog appender when doing agentless log submission for Log4j2
  dd-java-agent/instrumentation/log4j2/logs-intake/src/main/java/datadog/trace/instrumentation/log4j2/LoggerConfigInstrumentation.java
Labels: type: bug, comp: logging

#7166 Fix debugger batch upload URL when using UDS
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: debugger

#7175 Fix spring-messaging tests
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/listener/Config.groovy
Labels: comp: testing, tag: no release notes

#7169 Support DD_LOG_LEVEL
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/VMRuntimeInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: logging

#7170 Rework the bytecode cache for extensions so it works across connections
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ExtensionFinder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExtensionHandler.java
Labels: tag: performance, tag: no release notes, inst: opentelemetry

#7174 SNS integration: do not modify readonly message attributes map
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: type: bug, inst: aws sdk, tag: serverless

#7178 Add cloudfoundry release automation
  .github/workflows/README.md
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: tag: no release notes, comp: tooling

#7179 Avoid publishing RC to Sonatype and upload the right assets to GitHub release
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7181 Use kotlin plugin 1.9.24 in iast-propagation
  dd-smoke-tests/iast-propagation/build.gradle
Labels: tag: no release notes, comp: tooling

#7173 Update shim fields to have the types expected by OtelShimInjector
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelTracerProvider.java
Labels: tag: no release notes, inst: opentelemetry

#7167 Fix debugger batch upload URL when using UDS
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: debugger

#7168 Removed scala converter lambdas and ensure they are added as helpers
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/ScalaJavaConverters.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringContextCallSite.java
  dd-java-agent/instrumentation/scala/src/main/java/datadog/trace/instrumentation/scala/StringOpsCallSite.java
  dd-smoke-tests/iast-propagation/build.gradle
  dd-smoke-tests/iast-propagation/src/main/groovy/GroovyPropagation.groovy
  dd-smoke-tests/iast-propagation/src/main/java/JavaPropagation.java
  dd-smoke-tests/iast-propagation/src/main/java/datadog/smoketest/springboot/PropagationController.java
  dd-smoke-tests/iast-propagation/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/iast-propagation/src/main/kotlin/KotlinPropagation.kt
  dd-smoke-tests/iast-propagation/src/main/scala/ScalaPropagation.scala
  dd-smoke-tests/iast-propagation/src/test/groovy/datadog/smoketest/IastPropagationSmokeTest.groovy
  settings.gradle
Labels: type: bug, comp: asm iast

#7184 Map OpenTelemetry environment variables to their Datadog equivalents
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSource.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSourceTest.groovy
Labels: inst: opentelemetry

#7185 Map OpenTelemetry environment variables to their Datadog equivalents
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSource.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSourceTest.groovy
Labels: inst: opentelemetry

#7079 Add grpc.server.method to WAF addresses with FQN of the grpc method
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/armeria-grpc/src/main/java/datadog/trace/instrumentation/armeria/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-smoke-tests/appsec/springboot-grpc/src/test/groovy/datadog/smoketest/appsec/AbstractSpringBootWithGRPCAppSecTest.groovy
  dd-smoke-tests/appsec/springboot-grpc/src/test/groovy/datadog/smoketest/appsec/ServerMethodTest.groovy
  dd-smoke-tests/appsec/springboot-grpc/src/test/groovy/datadog/smoketest/appsec/ServerRequestMessageTest.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: asm waf

#7189 Added addresses for SSRF and LFI exploits
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
Labels: tag: no release notes, comp: asm waf

#7190 Fix NPE when kafka consumer info is not available
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
Labels: type: bug, inst: kafka

#7192 Upgrade to AppSec rules v1.12.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#7162 Collect and report RASP events (+Stack traces)
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFResultData.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/stack_trace/StackTraceCollection.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/stack_trace/StackTraceEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/ObjectFlattener.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/util/ObjectFlattenerSpecification.groovy
  dd-java-agent/appsec/src/test/resources/test_multi_config.json
Labels: comp: asm waf

#7195 Fix NPE when kafka consumer info is not available
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
Labels: type: bug, inst: kafka

#7187 Do not include system-properties in test session command tag
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListener.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/legacy/GradleUtils.groovy
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
Labels: comp: ci visibility

#7158 Rework the listeners for AMS_FEATURES
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecFeatures.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
Labels: tag: no release notes, type: refactoring, comp: asm waf

#7193 Improve config mapping for OpenTelemetry extensions
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/Java8BytecodeBridge.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/CallDepth.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/internal/InstrumentationConfig.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSource.java
Labels: inst: opentelemetry

#7194 Improve config mapping for OpenTelemetry extensions
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/Java8BytecodeBridge.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/CallDepth.java
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/instrumentation/internal/InstrumentationConfig.java
  dd-java-agent/agent-otel/otel-tooling/src/main/java/datadog/opentelemetry/tooling/OtelInstrumentationMapper.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/OtelEnvironmentConfigSource.java
Labels: inst: opentelemetry

#7198 Only call `shutdownLogsIntake` at shutdown if we called `maybeStartLogsIntake` at startup
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, comp: core, tag: no release notes

#7199 Only call `shutdownLogsIntake` at shutdown if we called `maybeStartLogsIntake` at startup
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, comp: core, tag: no release notes

#7200 Swap original StrictContextStorage with simple wrapper when embedding
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/context/StrictContextStorage.java
Labels: tag: no release notes, comp: native-image, inst: opentelemetry

#7201 Swap original StrictContextStorage with simple wrapper when embedding
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/src/main/java/datadog/trace/bootstrap/otel/context/StrictContextStorage.java
Labels: tag: no release notes, comp: native-image, inst: opentelemetry

#7163 Add more tests about OpenTelemetry attributes conventions
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/OpenTelemetry14ConventionsTest.groovy
Labels: inst: opentelemetry

#7206 Add missing git configuration to cloudfoundry automation
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: tag: no release notes, comp: tooling

#7204 Ignore exception when trying to remove Git data upload shutdown hook during JVM shutdown
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
Labels: comp: ci visibility

#7211 Fix GitLab deployment to Sonatype
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7212 Fix GitLab deployment to Sonatype
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7131 [Dynamic Instrumentation] Run dynamic instrumentation system tests as part of CI
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: debugger

#7223 Add more metrics and tags to CI Visibility telemetry
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AppVeyorInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AwsCodePipelineInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/AzurePipelinesInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitBucketInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BitriseInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuddyInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/BuildkiteInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CIProviderInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CircleCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/CodefreshInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GitLabInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/GithubActionsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/JenkinsInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TeamcityInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/TravisInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ci/UnknownCIInfo.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/communication/TelemetryListener.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddintake/TelemetryListener.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityDistributionMetric.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/AutoInjected.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ExitCode.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/Provider.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/RequestCompressed.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/ResponseCompressed.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/StatusCode.java
Labels: comp: ci visibility

#7225 Update system-tests to 0f27f203c90bba8bce7b58e2b75ff9d7035169eb
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7219 Set _dd.p.dm to -5 for IAST and AppSec spans
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFInitializationResultReporter.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-trace-api/src/main/java/datadog/trace/api/EventTracker.java
  dd-trace-api/src/test/groovy/datadog/trace/api/EventTrackerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/taginterceptor/TagInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
Labels: comp: asm waf

#7224 enable timeline events by default when ddprof disabled
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: comp: profiling

#7197 Fix Protobuf schema sampling logic
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/AvroSchemaExtractor.java
  dd-java-agent/instrumentation/protobuf/src/main/java/datadog/trace/instrumentation/protobuf_java/AbstractMessageInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/SchemaSampler.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultDataStreamsMonitoringTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/SchemaSamplerTest.groovy
Labels: type: bug, inst: others

#7220 Preserve original types before passing data to the WAF
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/ObjectIntrospection.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/ObjectIntrospectionSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: asm waf

#7233 Rename Dynamic Instrumentation system tests run name
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling, comp: debugger

#7229 Update ddpfrof to 1.9.0
  gradle/dependencies.gradle
Labels: comp: profiling

#7213 Update missing RFC parts for user event tacking
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  internal-api/src/main/java/datadog/trace/api/UserEventTrackingMode.java
Labels: comp: asm waf

#7221 Apply appsec rate limiter on event instead of when request end
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/RateLimiter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/RateLimiterSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: asm waf

#7040 Add standalone ASM billing support
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-smoke-tests/asm-standalone-billing/build.gradle
  dd-smoke-tests/asm-standalone-billing/src/main/java/datadog/smoketest/asmstandalonebilling/AppConfig.java
  dd-smoke-tests/asm-standalone-billing/src/main/java/datadog/smoketest/asmstandalonebilling/Controller.java
  dd-smoke-tests/asm-standalone-billing/src/main/java/datadog/smoketest/asmstandalonebilling/SpringbootApplication.java
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AbstractAsmStandaloneBillingSmokeTest.groovy
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingMatrixSmokeTest.groovy
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingSamplingSmokeTest.groovy
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/AsmStandaloneSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/CorePropagation.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/DatadogPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/AsmStandaloneSamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/CorePropagationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/taginterceptor/TagInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingMechanism.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  internal-api/src/test/groovy/datadog/trace/api/sampling/SamplingMechanismTest.groovy
  settings.gradle
Labels: comp: asm waf

#7226 Fix TestNG tracing for parameterized tests that modify parameters
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/src/testFixtures/java/org/example/TestParameterizedModifiesParams.java
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-parameterized-modifies-params/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-parameterized-modifies-params/events.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-parameterized-modifies-params/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-7/src/test/resources/test-parameterized-modifies-params/events.ftl
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestDescriptor.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: type: bug, comp: ci visibility

#7243 Include lastParentId when resetting ContextInterpreter state
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
Labels: type: bug, tag: no release notes, comp: context propagation

#7247 Include propagationTags when resetting ContextInterpreter state
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
Labels: type: bug, tag: no release notes, comp: context propagation

#7244 Do not report code coverage for skipped tests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/TestImplTest.groovy
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
Labels: comp: ci visibility

#7236 Avro instrumentation for schema tracking
  dd-java-agent/instrumentation/avro/build.gradle
  dd-java-agent/instrumentation/avro/src/main/java/datadog/trace/instrumentation/avro/GenericDatumReaderInstrumentation.java
  dd-java-agent/instrumentation/avro/src/main/java/datadog/trace/instrumentation/avro/GenericDatumWriterInstrumentation.java
  dd-java-agent/instrumentation/avro/src/main/java/datadog/trace/instrumentation/avro/SchemaExtractor.java
  dd-java-agent/instrumentation/avro/src/test/groovy/AvroDatumReaderTest.groovy
  settings.gradle
Labels: comp: data streams

#7240 Add logs to tainted map 'garbage-collected entries are purged' flaky test
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObject.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/ObjectGen.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectTest.groovy
Labels: tag: no release notes, tag: flaky test, comp: asm iast

#7248 Update default versions of DD Javac plugin and Jacoco plugin used by CI Visibility
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: ci visibility

#7217  Add support for patch release to milestone automation
  .github/workflows/README.md
  .github/workflows/add-milestone-to-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7245 Fix language detection logic
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/Utils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/CachingRepoIndexBuilderFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/ConventionBasedResourceResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/Language.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/LanguageDetector.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndex.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexProvider.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/ResourceResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/SourceType.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/GroovyFixtures.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/LanguageDetectorTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexSourcePathResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/RepoIndexTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/java/datadog/trace/civisibility/source/index/JavaFixtures.java
  dd-java-agent/agent-ci-visibility/src/test/kotlin/datadog/trace/civisibility/source/index/KotlinFixtures.kt
  dd-java-agent/agent-ci-visibility/src/test/scala/datadog/trace/civisibility/source/index/ScalaFixtures.scala
  dd-java-agent/instrumentation/junit-4.10/build.gradle
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  gradle/test-with-kotlin.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#7255 Save sonatype artifacts in Gitlab pipeline
  .gitlab-ci.yml
Labels: type: bug, tag: no release notes, comp: tooling

#7256 Increase memory and CPU for gitlab builds
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling
