Repository DataDog/dd-trace-java, pull requests merged in 2024-03, with the labels that each got.

#6758 Fix NPE on traceState() in DDSpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLink.java
Labels: type: bug, comp: remote config

#6720 Fix dependency resolution for nested JARs (with fix for Spring Boot)
  telemetry/build.gradle
  telemetry/src/main/java/datadog/telemetry/dependency/Dependency.java
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/main/java/datadog/telemetry/dependency/JarReader.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/JarReaderSpecification.groovy
Labels: comp: telemetry

#6621 Partial IAST opt-out when AppSec is enabled
  benchmark/load/petclinic/benchmark.json
  benchmark/startup/petclinic/benchmark.json
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastOptOutContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastTag.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/StacktraceLeakModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastOptOutContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastTagTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/JakartaWSResponseInstrumentation.java
  dd-java-agent/instrumentation/jersey/src/main/java/datadog/trace/instrumentation/jersey/JavaxWSResponseInstrumentation.java
  dd-java-agent/instrumentation/resteasy-appsec/src/main/java/datadog/trace/instrumentation/resteasy/JavaxWSResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet-common/src/main/java/datadog/trace/instrumentation/servlet/HttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaHttpServletResponseInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/IastServletContextInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-7/build.gradle
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueAdvice.java
  dd-java-agent/instrumentation/tomcat-appsec-7/src/main/java/datadog/trace/instrumentation/tomcat7/ErrorReportValueInstrumentation.java
  dd-java-agent/instrumentation/tomcat-appsec-7/src/test/groovy/datadog/trace/instrumentation/tomcat7/ErrorReportValueInstrumentationTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/HttpServerResponseInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.9/src/main/java/datadog/trace/instrumentation/vertx_3_9/Vertx39HttpServertResponseInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/iast/IastModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/ApplicationModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HstsMissingHeaderModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HttpResponseHeaderModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/InsecureCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoHttpOnlyCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/NoSameSiteCookieModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/StacktraceLeakModule.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/XContentTypeModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/IastModuleTest.groovy
Labels: comp: asm iast

#6739 Do not generate contextStore() from OTel instrumentation if no context store is used
  buildSrc/src/main/groovy/otel/muzzle/MuzzleConverter.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/HasAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/OtelAutomaticInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeTransformer.java
  settings.gradle
Labels: tag: experimental, inst: opentelemetry

#6766 Ensure span links attributes can't be null
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLink.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/SpanLinkTest.groovy
Labels: comp: core

#6767 Move -Ddd.benchmark.output.dir to the main run parameter
  benchmark/startup/insecure-bank/benchmark.json
  benchmark/startup/petclinic/benchmark.json
Labels: tag: no release notes, comp: tooling

#6768 Update system-tests to 454b41b414ba9e4b534893c2fe77477428d3bdca
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6745 Support context propagation over selected Axis2 transport senders
  dd-java-agent/instrumentation/axis-2/build.gradle
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/AxisMessageDecorator.java
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/AxisTransportInstrumentation.java
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/WebSphereAsyncInstrumentation.java
  dd-java-agent/instrumentation/axis-2/src/test/groovy/datadog/trace/instrumentation/axis2/AxisEngineTest.groovy
  dd-java-agent/instrumentation/axis-2/src/test/groovy/datadog/trace/instrumentation/axis2/AxisTransportForkedTest.groovy
  dd-java-agent/instrumentation/axis-2/src/test/java/test/TestSender.java
  dd-java-agent/instrumentation/axis-2/src/test/java/test/TestService.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: context propagation, inst: jax-ws

#6769 Add "applicationkey" as redacted keyword
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
Labels: comp: debugger

#6709 Add `aws.object.key` tag for aws-sdk-2
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/Aws2ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/test/groovy/LegacyAws2ClientForkedTest.groovy
Labels: inst: aws sdk

#6763 Add option to not include couchbase internal spans
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/main/java/datadog/trace/instrumentation/couchbase_31/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.1/src/test/groovy/CouchbaseClient31Test.groovy
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/main/java/datadog/trace/instrumentation/couchbase_32/client/DatadogRequestTracer.java
  dd-java-agent/instrumentation/couchbase/couchbase-3.2/src/test/groovy/CouchbaseClient32Test.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst: others, tag: community

#6754 Upgrade to AppSec rules v1.11.0
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#6771 Add documentation for adding new instrumentations and how instrumentations work
  CONTRIBUTING.md
  docs/add_new_instrumentation.md
  docs/how_instrumentations_work.md
Labels: type: documentation, tag: no release notes

#6777 improve instrumentation doc
  docs/how_instrumentations_work.md
Labels: type: documentation, tag: no release notes

#6774 Update evidence-redaction-suite.yml
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/EvidenceRedactionTest.groovy
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Labels: comp: testing, tag: no release notes, comp: asm iast

#6736 Add support for kafka bytebuffers in 3.x
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/main/java/datadog/trace/instrumentation/jackson/codehouse/core/Json1FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/iastLatestDepTest3/groovy/iast/KafkaIastDeserializerTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDeserializerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaIastHelper.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/UtilsInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/KafkaIastDeserializerForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/UtilsInstrumentationForkedTest.groovy
  dd-smoke-tests/kafka-2/build.gradle
  dd-smoke-tests/kafka-2/src/main/java/datadog/smoketest/kafka/KafkaApplication.java
  dd-smoke-tests/kafka-2/src/main/java/datadog/smoketest/kafka/iast/IastConfiguration.java
  dd-smoke-tests/kafka-2/src/main/java/datadog/smoketest/kafka/iast/IastController.java
  dd-smoke-tests/kafka-2/src/main/java/datadog/smoketest/kafka/iast/IastMessage.java
  dd-smoke-tests/kafka-2/src/test/groovy/IastKafka2SmokeTest.groovy
  dd-smoke-tests/kafka-3/application/build.gradle
  dd-smoke-tests/kafka-3/application/settings.gradle
  dd-smoke-tests/kafka-3/application/src/main/java/datadog/smoketest/kafka/KafkaApplication.java
  dd-smoke-tests/kafka-3/application/src/main/java/datadog/smoketest/kafka/iast/IastConfiguration.java
  dd-smoke-tests/kafka-3/application/src/main/java/datadog/smoketest/kafka/iast/IastController.java
  dd-smoke-tests/kafka-3/application/src/main/java/datadog/smoketest/kafka/iast/IastMessage.java
  dd-smoke-tests/kafka-3/build.gradle
  dd-smoke-tests/kafka-3/src/test/groovy/IastKafka3SmokeTest.groovy
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastConfiguration.java
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastController.java
  settings.gradle
Labels: comp: asm iast, run-tests: all

#6780 Update Spock ITR instrumentation to skip spec setup methods if all features in a spec are skipped
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockUtils.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestParameterizedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestSucceedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-parameterized-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-spec-setup/events.ftl
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: comp: ci visibility

#6781 Fix source path calculation for classes in default package
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/instrumentation/CoverageInstrumentationFilter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/PackageResolverImplTest.groovy
Labels: type: bug, comp: ci visibility

#6783 [🍒 6781] Fix source path calculation for classes in default package
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/instrumentation/CoverageInstrumentationFilter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/index/PackageResolverImplTest.groovy
Labels: tag: no release notes

#6782 [🍒 6780] Update Spock ITR instrumentation to skip spec setup methods if all features in a spec are skipped
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockUtils.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestParameterizedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestSucceedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-parameterized-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-not-skipping-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-spec-setup/events.ftl
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: tag: no release notes

#6728 Optimize in-progress tests and suites lookup
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberUtils.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitUtils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberUtils.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockUtils.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5Instrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateUtils.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestEventsHandlerHolder.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestDescriptor.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestSuiteDescriptor.java
Labels: comp: ci visibility

#6703 use JFR timestamping for queue time thresholds
  dd-java-agent/agent-profiling/profiling-controller-jfr/implementation/src/main/java/com/datadog/profiling/controller/jfr/SimpleJFRAccess.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/implementation/src/main/java11/com/datadog/profiling/controller/jfr/JPMSJFRAccess.java
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/java/com/datadog/profiling/controller/jfr/JFRAccess.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/agent-profiling/profiling-utils/src/main/java/com/datadog/profiling/utils/Timestamper.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
Labels: comp: profiling

#6794 Fix nested JAR resolver when URI has no trailing slash
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/main/java/datadog/telemetry/dependency/JarReader.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
Labels: type: bug, comp: telemetry

#6773 Minify AppSec rules
  dd-java-agent/appsec/build.gradle
Labels: comp: asm waf

#6795 Fix string format when escaped patterns are used
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
Labels: type: bug, comp: asm iast

#6797 Remove legacy agent installer
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AbstractTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/LegacyTransformerBuilder.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: tag: no release notes, type: refactoring

#6791 Refactoring of TagsPostProcessor
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/BaseServiceAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PeerServiceCalculator.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PostProcessorChain.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/QueryObfuscator.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/BaseServiceAdderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PostProcessorChainTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/QueryObfuscatorTest.groovy
Labels: tag: no release notes, type: refactoring

#6805 Fix string format when escaped patterns are used (#6795) (1.31.x backport)
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
Labels: type: bug, tag: no release notes, comp: asm iast

#6687 Replace ASM transient mechanism with WAF ephemeral addresses
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: comp: asm waf

#6803 Improve coverage of application vulnerabilities for servlet
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/IastServlet2Advice.java
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/IastServlet2Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/JettyServlet2Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/IastJakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/IastJakartaServletInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyContext.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyHttpServlet.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/java/foo/bar/smoketest/DummyRequest.java
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/IastServletContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/IastServletContextInstrumentationTest.groovy
Labels: type: enhancement, comp: asm iast

#6817 Use JDK11 to build javadoc of the internal-api-9 module
  internal-api/internal-api-9/build.gradle
Labels: tag: no release notes, comp: tooling

#6375 Added GraphQL monitoring support
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java/datadog/trace/instrumentation/graphqljava/GraphQLDecorator.java
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java/datadog/trace/instrumentation/graphqljava/GraphQLInstrumentation.java
  dd-smoke-tests/appsec/springboot-graphql/build.gradle
  dd-smoke-tests/appsec/springboot-graphql/src/main/java/datadog/smoketest/appsec/springbootgraphql/SpringbootGraphqlApplication.java
  dd-smoke-tests/appsec/springboot-graphql/src/main/java/datadog/smoketest/appsec/springbootgraphql/controller/BookController.java
  dd-smoke-tests/appsec/springboot-graphql/src/main/java/datadog/smoketest/appsec/springbootgraphql/dao/Author.java
  dd-smoke-tests/appsec/springboot-graphql/src/main/java/datadog/smoketest/appsec/springbootgraphql/dao/Book.java
  dd-smoke-tests/appsec/springboot-graphql/src/main/resources/application.properties
  dd-smoke-tests/appsec/springboot-graphql/src/main/resources/graphql/schema.graphqls
  dd-smoke-tests/appsec/springboot-graphql/src/test/groovy/datadog/smoketest/appsec/springbootgraphql/SpringBootGraphqlSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
  settings.gradle
Labels: comp: asm waf

#6822 Re-use helpers across all instrumenters in a module
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
Labels: comp: core, tag: performance, type: refactoring

#6821 Add possibility to retry every failed test when retries are enabled
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializerTest.groovy
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Labels: comp: ci visibility

#6816 create SpanLink from spark.streaming_batch span to databricks.task.execution span for spark instrumentation if applicable.
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkStructuredStreamingTest.groovy
Labels: inst: apache spark

#6811 Delete some legacy classes that are no longer used
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/InjectContextFieldMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/KnownTypesMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/MuzzleMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/SingleTypeMatcher.java
Labels: comp: core, tag: no release notes, type: refactoring

#6824 Add frame tags and send snapshots on addThrowable
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ASMHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/WeakIdentityHashMap.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestTraceInterceptor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/WeakIdentityHashMapTest.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  gradle/spotbugFilters/exclude.xml
Labels: comp: debugger

#6825 Reduce logging noise in CI Visibility
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/CoverageUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ipc/SignalServerRunnable.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: comp: ci visibility

#6828 ensure queue timer is started for RunnableFuture types
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/QueueTimingForkedTest.groovy
Labels: comp: profiling

#6813 Ensure no IAST advices are added unless appsec is fully enabled
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/iast/IastPostProcessorFactoryTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/IastMetricPeriodicActionTest.groovy
Labels: comp: asm iast

#6830 unwrap ForkJoinTask$AdaptedInterruptibleCallable
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
Labels: comp: profiling

#6833 Enable queue time tracing by default
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/ExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/QueueTimingForkedTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/TaskUnwrappingForkedTest.groovy
  dd-java-agent/instrumentation/netty-concurrent-4/src/test/groovy/TimingTest.groovy
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: comp: profiling

#6829 Make Exception debugging instrumentation async
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestHelper.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
Labels: comp: debugger

#6834 Fix AppSec without IAST petclinic benchmark variant
  benchmark/load/petclinic/benchmark.json
Labels: tag: no release notes, comp: tooling

#6831 Improve IAST metric unwrapping logic
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
Labels: tag: performance, comp: asm iast, run-tests: all

#6845 Upgrade ddprof to 1.3.0
  gradle/dependencies.gradle
Labels: comp: profiling

#6843 Fix publishing to local sonatype
  build.gradle
Labels: tag: no release notes, comp: tooling

#6848 refactor isLegacyTracingEnabled usages
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsDecorator.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/KafkaStreamsDecorator.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client/HttpClientRequestTracingHandler.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst: others, tag: no release notes

#6846 Upgrade to libddwaf-java 9.1.1
  dd-java-agent/appsec/build.gradle
Labels: comp: asm waf

#6850 byte-buddy 1.14.12
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/dependencies.gradle
Labels: tag: dependencies

#6851 java-dogstatsd-client 4.3.0
  dd-java-agent/build.gradle
  gradle/dependencies.gradle
Labels: tag: dependencies

#6838 Generate instrumenter index
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterIndex.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModules.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/KnownTypesIndex.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleCheck.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/InstrumenterIndexTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/TestIndexMultiModule.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/TestIndexSelfModule.java
  dd-java-agent/agent-tooling/src/test/resources/META-INF/services/datadog.trace.agent.tooling.InstrumenterModule
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/build.gradle
Labels: comp: core, tag: no release notes

#6840 Support ordering of InstrumenterModules
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterIndex.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/InstrumenterIndexTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/TestIndexFirstModule.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/test/TestIndexLastModule.java
  dd-java-agent/agent-tooling/src/test/resources/META-INF/services/datadog.trace.agent.tooling.InstrumenterModule
Labels: comp: core

#6853 Fix for MySQL multi-host internally_generated connection urls
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jdbc/JDBCConnectionUrlParser.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/DriverInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/JDBCConnectionUrlParserTest.groovy
Labels: type: bug, inst: jdbc

#6856 Avoid touching Config in InstrumenterMetrics
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterMetrics.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: comp: core, tag: performance, tag: no release notes

#6858 Fix Datadog-Entity-ID detection by skipping a root inode
  utils/container-utils/src/main/java/datadog/common/container/ContainerInfo.java
  utils/container-utils/src/test/groovy/datadog/common/container/ContainerInfoTest.groovy
Labels: type: bug
