Repository DataDog/dd-trace-java, pull requests merged in 2024-11, with the labels that each got.

#7867 delay queue time rate limiting until event is committed
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/State.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
Labels: comp: profiling

#7869 Make SymDB upload enabled by default for DI
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: comp: debugger

#7870 Emit warning if a user overrides profiler safemode flag
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
Labels: tag: no release notes, comp: profiling

#7868 [🍒 7866] Remove hadoop from the denylist
  metadata/denied-environment-variables.tsv
  metadata/requirements.json
Labels: comp: tooling

#7876 Support lettuce 6.5
  dd-java-agent/instrumentation/lettuce-5/build.gradle
  dd-java-agent/instrumentation/lettuce-5/src/main/java/datadog/trace/instrumentation/lettuce5/LettuceInstrumentationUtil.java
Labels: type: enhancement, inst: lettuce

#7871 Bump ddprof to 1.16.0
  gradle/libs.versions.toml
Labels: comp: profiling, mergequeue-status: removed

#7879 Add another repository for Trivy database
  .github/workflows/analyze-changes.yaml
Labels: tag: no release notes, comp: tooling

#7799 Updating Span Link creation due to header tag propagations for invalid spans
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpExtractorTest.groovy
Labels: type: enhancement, comp: context propagation

#7883 Protect currentContext access for reactor inner operators
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/PublisherInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/SubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/CoreSubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
Labels: type: bug, inst: reactor

#7884 feat(ci): Add pull request checks
  .github/workflows/README.md
  .github/workflows/check-pull-requests.yaml
  .github/workflows/tests/check-pull-requests/payload-pull-request-draft.json
  .github/workflows/tests/check-pull-requests/payload-pull-request-missing-label.json
  .github/workflows/tests/check-pull-requests/payload-pull-request-no-release-notes.json
  .github/workflows/tests/check-pull-requests/payload-pull-request-title-tag.json
  .github/workflows/tests/check-pull-requests/payload-pull-request.json
  .github/workflows/tests/check-pull-requests/test-pull-request.sh
  .github/workflows/tests/env.sh
Labels: type: enhancement, tag: no release notes, comp: tooling

#7881 Consult the environment variable when setting the max users frames in code origin probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin04.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: debugger

#7895 [🍒 7883] Protect currentContext access for reactor inner operators
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/PublisherInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/SubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/CoreSubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
Labels: type: bug, inst: reactor

#7896 Add support for multiple commits PR backport
  tooling/backport-pr-to-patch-release.sh
Labels: type: enhancement, tag: no release notes, comp: tooling

#7877 Expand SSRF support in IAST to java.net.http.HttpClient
  dd-java-agent/instrumentation/java-http-client/src/main/java11/datadog/trace/instrumentation/httpclient/JavaNetClientDecorator.java
  dd-smoke-tests/iast-util/iast-util-11/build.gradle
  dd-smoke-tests/iast-util/iast-util-11/src/main/java/datadog/smoketest/springboot/controller/SsrfController.java
  dd-smoke-tests/iast-util/iast-util-11/src/testFixtures/groovy/datadog/smoketest/AbstractIast11SpringBootTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/springboot-java-11/build.gradle
  dd-smoke-tests/springboot-java-11/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-java-11/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  settings.gradle
Labels: type: enhancement, comp: asm iast, inst: java

#7899 Use telemetry 'is_sensitive' attribute instead of redacting the crash stacktrace
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/parsers/HotspotCrashLogParser.java
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/CrashUploaderTest.java
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry-2.txt
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry-3.txt
  dd-java-agent/agent-crashtracking/src/test/resources/golden/sample-crash-for-telemetry.txt
Labels: comp: crash tracking

#7886 Test support for reactor-kafka
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaReactorForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaReactorForkedTest.groovy
Labels: type: enhancement, comp: testing, inst: kafka

#7904 Fix test name uniqueness
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
Labels: tag: no release notes, comp: asm iast

#7908 Revert "Removed config variable for disabling kafka-clients"
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/LegacyKafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/OffsetCommitCallbackInvokerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst: kafka

#7894 Fix duplicate PR check comments
  .github/workflows/check-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7914 Update to latest builder image
  .circleci/render_config.py
Labels: type: enhancement, tag: no release notes, comp: tooling

#7915 Bump ddprof to 1.17.0
  gradle/libs.versions.toml
Labels: type: bug, tag: dependencies, comp: profiling

#7741 Add experimental taint propagation to the String replace, replaceFirst, replaceAll methods
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/RangeBuilder.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/StringUtils.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/StringUtilsTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringExperimentalCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringExperimentalCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/IastEnabledChecks.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/test/groovy/datadog/trace/api/iast/IastEnabledChecksTests.groovy
Labels: type: enhancement, tag: experimental, comp: asm iast, inst: java

#7921 enable SystemGC events
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/overrides/comprehensive.jfp
Labels: type: enhancement, comp: profiling

#7900 Finish netty span when request is cancelled
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/HttpServerRequestTracingHandler.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/server/HttpServerResponseTracingHandler.java
  dd-java-agent/instrumentation/spring-webflux-6/src/bootTest/groovy/SpringWebfluxTest.groovy
  dd-java-agent/instrumentation/spring-webflux-6/src/bootTest/groovy/dd/trace/instrumentation/springwebflux/server/TestController.groovy
Labels: type: bug, inst: netty

#7929 Add missing test for JarReader with trailing separator
  telemetry/src/test/groovy/datadog/telemetry/dependency/JarReaderSpecification.groovy
Labels: tag: no release notes, comp: telemetry

#7930 Fix /info endpoint in smoke tests
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#7873 ByteBuddy Exception Suppression Checking
  dd-java-agent/instrumentation-annotation-processor/build.gradle
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/AnnoUtils.java
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/ByteBuddyAdviceProcessor.java
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/ElementUtils.java
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/LogUtils.java
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/TypeUtils.java
  dd-java-agent/instrumentation-annotation-processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  dd-java-agent/instrumentation/build.gradle
  settings.gradle
Labels: type: enhancement, comp: core, tag: no release notes

#7933 unwrap LogExceptionRunnable
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/TaskUnwrappingInstrumentation.java
Labels: type: enhancement, tag: no release notes, comp: profiling

#7922 Update CI reports to prod
  .circleci/upload_ciapp.sh
  .github/workflows/README.md
  .github/workflows/analyze-changes.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#7932 Add Spring Boot 3.3 smoke tests
  dd-smoke-tests/spring-boot-3.3-webmvc/application/.gitignore
  dd-smoke-tests/spring-boot-3.3-webmvc/application/build.gradle
  dd-smoke-tests/spring-boot-3.3-webmvc/application/settings.gradle
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/java/datadog/smoketest/springboot/AppInitializer.java
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/java/datadog/smoketest/springboot/controller/FruitController.java
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/java/datadog/smoketest/springboot/model/Fruit.java
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/java/datadog/smoketest/springboot/repository/FruitRepository.java
  dd-smoke-tests/spring-boot-3.3-webmvc/application/src/main/resources/application.properties
  dd-smoke-tests/spring-boot-3.3-webmvc/build.gradle
  dd-smoke-tests/spring-boot-3.3-webmvc/src/test/groovy/SpringBootWebmvcIntegrationTest.groovy
  settings.gradle
Labels: comp: testing, tag: no release notes

#7916 Remove SSI guardrails entries for hbase and hive
  metadata/denied-environment-variables.tsv
  metadata/requirements.json
Labels: type: bug, comp: tooling

#7906 Add reactor samples and doc
  docs/reactor/README.md
  docs/reactor/img.png
  docs/reactor/img_1.png
  docs/reactor/img_2.png
  docs/reactor/pom.xml
  docs/reactor/src/test/java/test/ReactorTest.java
Labels: type: documentation, inst: reactor

#7927 Bump JMXFetch to 0.49.6
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/gradle.lockfile
Labels: type: bug, comp: jmx-fetch

#7936 [🍒 7927] Bump JMXFetch to 0.49.6
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-jmxfetch/gradle.lockfile
Labels: type: bug, comp: jmx-fetch

#7897 Add outer exceptions support for Exception Replay
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ExceptionHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ExceptionHelperTest.java
Labels: comp: debugger

#7919 Avoid duplicate class symbol extraction
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolAggregator.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
Labels: type: enhancement, comp: debugger

#7898 Add new JPA smoke test to validate the IAST visitor
  dd-smoke-tests/springboot-jpa/build.gradle
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/controller/LibraryController.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/entity/Author.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/entity/Book.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/entity/Library.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/entity/Owner.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/filter/SessionVisitorFilter.java
  dd-smoke-tests/springboot-jpa/src/main/java/datadog/smoketest/springboot/service/LibraryService.java
  dd-smoke-tests/springboot-jpa/src/main/resources/application.yml
  dd-smoke-tests/springboot-jpa/src/main/webapp/WEB-INF/jsp/update.jsp
  dd-smoke-tests/springboot-jpa/src/test/groovy/datadog/smoketest/SpringBootIastJpaIntegrationTest.groovy
  settings.gradle
Labels: comp: testing, tag: no release notes, comp: asm iast

#7939 Exclude spark web from vulnerability locations
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#7938 Exclude dev.failsafe from IAST instrumentation
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: bug, comp: asm iast

#7937 Exclude okio from vulnerability locations
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#7935 [🍒 7916] Remove SSI guardrails entries for hbase and hive
  metadata/denied-environment-variables.tsv
  metadata/requirements.json
Labels: type: bug, comp: tooling

#7948 Support testing of latest quartz versions
  dd-java-agent/instrumentation/quartz-2/build.gradle
  dd-java-agent/instrumentation/quartz-2/gradle.lockfile
Labels: type: enhancement, comp: testing, inst: others

#7949 [🍒 7948] Support testing of latest quartz versions
  dd-java-agent/instrumentation/quartz-2/build.gradle
  dd-java-agent/instrumentation/quartz-2/gradle.lockfile
Labels: type: enhancement, comp: testing, inst: others, tag: no release notes

#7918 Prevent spans from having login success and failure events simultaneously
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/AuthenticationManagerInstrumentation.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/java/custom/FailingAuthenticationProvider.java
  dd-java-agent/instrumentation/spring-security-6/src/test/groovy/datadog/trace/instrumentation/springsecurity6/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-security-6/src/test/groovy/datadog/trace/instrumentation/springsecurity6/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-6/src/test/java/custom/FailingAuthenticationProvider.java
Labels: type: enhancement, comp: asm waf

#7950 Make latest dep tests required in CI
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7931 Fix dependency collection for new Spring Boot nested jars
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/main/java/datadog/telemetry/dependency/JarReader.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/dependency/JarReaderSpecification.groovy
Labels: type: enhancement, comp: telemetry

#7837 Add support for session tracking in jetty
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/instrumentation/armeria-jetty/src/test/jetty11/groovy/ArmeriaJetty11ServerTest.groovy
  dd-java-agent/instrumentation/jetty-11/src/main/java/datadog/trace/instrumentation/jetty11/RequestInstrumentation.java
  dd-java-agent/instrumentation/jetty-11/src/main/java11/datadog/trace/instrumentation/jetty11/SetRequestedSessionIdAdvice.java
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/Jetty11Test.groovy
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/JettyAsyncHandlerTest.groovy
  dd-java-agent/instrumentation/jetty-11/src/testFixtures/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/build.gradle
  dd-java-agent/instrumentation/jetty-12/src/main/java/datadog/trace/instrumentation/jetty12/AbstractSessionManagerInstrumentation.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/ResolveRequestedSessionIdAdvice.java
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-7.0/src/main/java/datadog/trace/instrumentation/jetty70/RequestInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.0/src/test/groovy/Jetty70Test.groovy
  dd-java-agent/instrumentation/jetty-7.6/src/main/java/datadog/trace/instrumentation/jetty76/RequestInstrumentation.java
  dd-java-agent/instrumentation/jetty-7.6/src/test/groovy/Jetty76Test.groovy
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty10/RequestInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/RequestInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/main/java_jetty10/datadog/trace/instrumentation/jetty10/SetRequestedSessionIdAdvice.java
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/datadog/trace/instrumentation/jetty9/Jetty9Test.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/test/groovy/TestServlet2.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/TestServlet3.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/TestServlet5.groovy
Labels: comp: asm waf, inst: jetty

#7952 Avoid DATADOG_API_KEY in test visibility upload
  .circleci/upload_ciapp.sh
Labels: comp: testing, tag: no release notes

#7954 Parallelize system-tests
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7941 Fix Kafka lag instrumentation for version 2.7 of Kafka
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/gradle.lockfile
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaReactorForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/TextMapExtractAdapterTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
Labels: type: bug, inst: kafka

#7958 Remove internal `dd.trace.scope.inherit.async.propagation` feature flag
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: core, type: refactoring

#7957 Fix integer json parsing probe definition
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ValueScriptTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_one_liner_value_expr_02.txt
Labels: type: bug, comp: debugger

#7965 Mark AsmStandaloneBillingSamplingSmokeTest as flaky
  dd-smoke-tests/asm-standalone-billing/src/test/groovy/datadog/smoketest/asmstandalonebilling/AsmStandaloneBillingSamplingSmokeTest.groovy
Labels: tag: no release notes, tag: flaky test, comp: asm waf, tag: flaky test/disabled

#7967 Remove datadog-static-analysis workflow
  .github/workflows/analyze-changes.yaml
Labels: tag: no release notes, comp: tooling

#7962 Improve PR back-port script to handle merge commit
  tooling/backport-pr-to-patch-release.sh
Labels: type: enhancement, tag: no release notes, comp: tooling

#7970 Add JMXFetch to SSI Guardrails denylist
  metadata/denied-arguments.tsv
  metadata/requirements-block.json
  metadata/requirements.json
Labels: type: enhancement, comp: tooling

#7964 Add source line tags to test suites
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/BestEffortMethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/ByteCodeLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/CompilerAidedLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/CompilerAidedMethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/LinesResolver.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/MethodLinesResolver.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/buildsystem/ProxyTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/BestEffortLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/BestEffortMethodLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/ByteCodeLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/CompilerAidedLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/source/CompilerAidedMethodLinesResolverTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/build.gradle
Labels: comp: ci visibility

#7963 Do not reset IAST concurrent request counter
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
Labels: type: bug, comp: asm iast

#7969 Reset iast request context on root span published
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastGlobalContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastOptOutContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastRequestContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastAgentTestRunner.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/IastRequestContextPreparationTrait.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/iastLatestDepTest3/groovy/iast/KafkaIastDeserializerTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/KafkaIastDeserializerForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/IastContext.java
Labels: type: bug, comp: asm iast

#7960 Fix test name uniqueness
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpServerDecoratorTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/IteratorsTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/SerializingMetricWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/RuleBasedSamplingTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/SerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/histogram/HistogramsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/FunctionsTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/cache/QualifiedClassNameCacheTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/MetricPeriodicActionTest.groovy
Labels: comp: testing, tag: no release notes

#7976 Updated ASM rules to 1.13.3
  dd-java-agent/appsec/src/main/resources/default_config.json
Labels: comp: asm waf

#7972 Fix baggages mapping configuration when only keys are provided
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: bug, comp: context propagation

#7974 Remove Strings.join API in favor of JDK String.join
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterState.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/instrumentation/elasticsearch/transport-2/src/main/java/datadog/trace/instrumentation/elasticsearch2/TransportActionListener.java
  dd-java-agent/instrumentation/elasticsearch/transport-5.3/src/main/java/datadog/trace/instrumentation/elasticsearch5_3/TransportActionListener.java
  dd-java-agent/instrumentation/elasticsearch/transport-5/src/main/java/datadog/trace/instrumentation/elasticsearch5/TransportActionListener.java
  dd-java-agent/instrumentation/elasticsearch/transport-6/src/main/java/datadog/trace/instrumentation/elasticsearch6/TransportActionListener.java
  dd-java-agent/instrumentation/elasticsearch/transport-7.3/src/main/java/datadog/trace/instrumentation/elasticsearch7_3/TransportActionListener.java
  dd-java-agent/instrumentation/hazelcast-3.6/src/main/java/datadog/trace/instrumentation/hazelcast36/DistributedObjectDecorator.java
  dd-java-agent/instrumentation/hazelcast-3.9/src/main/java/datadog/trace/instrumentation/hazelcast39/ClientInvocationDecorator.java
  dd-java-agent/instrumentation/hazelcast-4.0/src/main/java/datadog/trace/instrumentation/hazelcast4/HazelcastDecorator.java
  dd-java-agent/instrumentation/opensearch/transport/src/main/java/datadog/trace/instrumentation/opensearch/TransportActionListener.java
  dd-java-agent/instrumentation/redisson/redisson-2.0.0/src/main/java/datadog/trace/instrumentation/redisson/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson/redisson-2.3.0/src/main/java/datadog/trace/instrumentation/redisson23/RedissonInstrumentation.java
  dd-java-agent/instrumentation/redisson/redisson-3.10.3/src/main/java/datadog/trace/instrumentation/redisson30/RedissonInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/CloudNamingV1.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
Labels: type: refactoring, comp: api

#7980 Add propagation to StringBuilder substring methods
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: type: enhancement, comp: asm iast, inst: java

#7983 Fix PR label check
  .github/workflows/check-pull-requests.yaml
  .github/workflows/tests/check-pull-requests/payload-pull-request-instrumentation.json
  .github/workflows/tests/check-pull-requests/test-pull-request.sh
Labels: type: bug, tag: no release notes, comp: tooling

#7989 Unique test names for okhttp
  dd-java-agent/instrumentation/okhttp-2/src/test/groovy/OkHttp2AsyncTest.groovy
  dd-java-agent/instrumentation/okhttp-3/src/test/groovy/OkHttp3AsyncTest.groovy
Labels: comp: testing, tag: no release notes

#7990 Update system-tests to 67fe30ac7504997685859d31feae1782f3527f39
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7955 Add smoke tests for telemetry
  dd-smoke-tests/spring-boot-2.3-webmvc-jetty/src/test/groovy/SpringBootWebmvcIntegrationTest.groovy
  dd-smoke-tests/spring-boot-3.0-native/src/test/groovy/SpringBootNativeInstrumentationTest.groovy
  dd-smoke-tests/spring-boot-3.0-webmvc/src/test/groovy/SpringBootWebmvcIntegrationTest.groovy
  dd-smoke-tests/spring-boot-3.3-webmvc/src/test/groovy/SpringBootWebmvcIntegrationTest.groovy
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractServerSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/RunLast.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/RunLastExtension.groovy
Labels: comp: testing, tag: no release notes, comp: telemetry

#7995 Unique test names in StackUtilsTest
  internal-api/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
Labels: comp: testing, tag: no release notes

#7998 Fix test name uniqueness
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/TimingTest.groovy
Labels: comp: core, tag: no release notes

#7947 Run system-tests scenarios related to RASP
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes, comp: asm waf

#7992 Add propagation to StringBuffer substring methods
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
Labels: type: enhancement, comp: asm iast, inst: java

#7999 Mute some static analysis rules
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#8000 Refactor tests of StringBuffer substring
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
Labels: tag: no release notes, type: refactoring, comp: asm iast

#7971 Common temporary location manager for profiling product
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/JavaProfilerLoader.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
  internal-api/src/main/java/datadog/trace/util/PidHelper.java
Labels: type: enhancement, comp: profiling

#7991 Fix issue with call sites in super calls to constructor
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AdviceGeneratorImpl.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteUtils.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteUtilsTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/csi/SuperInCtorExample.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/StringReaderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestCustomStringReader.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
Labels: type: bug, comp: asm iast

#8002 Fix the temp location manager on J9
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
Labels: type: bug, tag: no release notes, comp: profiling

#8006 Avoid double instrumentation of kafka-clients 3.8+
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDeserializerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/ConsumerCoordinatorInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaConsumerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/KafkaProducerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/LegacyKafkaConsumerInfoInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/MetadataInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/OffsetCommitCallbackInvokerInstrumentation.java
Labels: type: bug, inst: kafka

#8001 Instrument Gradle Launcher to avoid overwriting org.gradle.jvmargs property
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/ProcessHierarchy.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleDaemonInjectionUtils.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleLauncherInstrumentation.java
Labels: type: bug, comp: ci visibility

#7966 Add propagation to String constructors with StringBuffer and StringBuilder
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: type: enhancement, comp: asm iast, inst: java

#7994 Hide static checker notes when notes is enabled
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/LogUtils.java
Labels: tag: no release notes, comp: tooling

#8015 Fix test name uniqueness
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/simplelogger/SLCompatSettingsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PayloadTagsProcessorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/util/MatchersTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Labels: comp: testing, tag: no release notes

#8008 Replace StringBuilder#append(String) with StringBuilder#append(char)
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/parsers/HotspotCrashLogParser.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StringTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/IntakeBatchHelper.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/StringTokenWriter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/CapturedValueAdapterTest.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/simplelogger/SLCompatHelper.java
  dd-java-agent/agent-logs-intake/src/main/java/datadog/trace/logging/intake/LogsDispatcher.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterMetrics.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/instrumentation/aws-java-eventbridge-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/eventbridge/EventBridgeInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/main/java/datadog/trace/instrumentation/jakarta3/JakartaRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/main/java/datadog/trace/instrumentation/jaxrs1/JaxRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/main/java/datadog/trace/instrumentation/jaxrs2/JaxRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/JDBCDecorator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/RabbitDecorator.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/testing/src/test/java/locator/ClassInjectingTestInstrumentation.java
  dd-smoke-tests/crashtracking/src/test/java/datadog/smoketest/CrashtrackingSmokeTest.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/W3CHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/util/GlobPattern.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/URIUtils.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/main/java/datadog/trace/util/TagsHelper.java
  internal-api/src/test/java/datadog/trace/util/TagsHelperTest.java
Labels: tag: no release notes, type: refactoring

#8019 Support using OpenTelemetry Event API inside `@WithSpan` annotated method
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-smoke-tests/opentelemetry/build.gradle
  dd-smoke-tests/opentelemetry/src/main/java/datadog/smoketest/opentelemetry/Application.java
  dd-smoke-tests/opentelemetry/src/test/groovy/datadog/smoketest/OpenTelemetrySmokeTest.groovy
Labels: type: bug, inst: opentelemetry

#8018 Fix test name uniqueness
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/EarlyFlakeDetectionSettingsSerializerTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/payloadTaggingTest/groovy/PayloadTaggingTest.groovy
  dd-java-agent/instrumentation/commons-codec-1/src/test/groovy/datadog/trace/instrumentation/commonscodec/Base64CallSiteTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-1/src/test/groovy/Json1ParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletRequestInstrumentationTest.groovy
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  dd-java-agent/testing/src/test/groovy/excludefilter/ExcludeFilterForkedTest.groovy
Labels: comp: testing, tag: no release notes

#8021 Refactor probe matching for methods
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: enhancement, comp: debugger

#8014 Add a smoke test for Gradle Launcher instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/ShellCommandExecutor.java
  dd-smoke-tests/gradle/build.gradle
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/AbstractGradleTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleLauncherSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/test-gradle-wrapper/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-gradle-wrapper/gradle.properties
  dd-smoke-tests/gradle/src/test/resources/test-gradle-wrapper/gradle/wrapper/gradle-wrapper.jar
  dd-smoke-tests/gradle/src/test/resources/test-gradle-wrapper/gradle/wrapper/gradle-wrapper.properties
  dd-smoke-tests/gradle/src/test/resources/test-gradle-wrapper/gradlew
Labels: comp: testing, tag: no release notes, comp: ci visibility, run-tests: all

#8013 Add IAST propagation to String valueOf
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintUtils.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringSuite.java
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
Labels: type: enhancement, comp: asm iast

#8025 Twilio: allow service name flattening
  dd-java-agent/instrumentation/twilio/src/main/java/datadog/trace/instrumentation/twilio/TwilioClientDecorator.java
  dd-java-agent/instrumentation/twilio/src/test/groovy/test/TwilioClientTest.groovy
Labels: type: bug, inst: others

#8024 Fix JUnit test case name uniqueness when uploading results
  .circleci/collect_results.sh
Labels: type: bug, comp: tooling

#8027 Exclude git data upload errors from telemetry logging
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitDataUploaderImpl.java
Labels: tag: no release notes, comp: ci visibility

#8012 Fix native-image generation of reactive applications
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AsyncResultDecorator.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AsyncResultExtension.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AsyncResultExtensions.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/GuavaAsyncResultExtension.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/test/groovy/GuavaAsyncResultExtensionTest.groovy
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/PublisherInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/ReactiveStreamsAsyncResultExtension.java
  dd-java-agent/instrumentation/reactive-streams/src/test/groovy/ReactiveStreamsAsyncResultExtensionTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorAsyncResultExtensionTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/BlockingPublisherInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/ReactorAsyncResultExtension.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorAsyncResultExtensionTest.groovy
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaAsyncResultExtension.java
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaPluginsInstrumentation.java
  dd-java-agent/instrumentation/rxjava-2/src/test/groovy/RxJava2ResultExtensionTest.groovy
Labels: type: bug, type: refactoring, inst: reactor, comp: native-image

#8028 Introduce marker mechanism for eagerly initializing helpers
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AsyncResultExtensions.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/GuavaAsyncResultExtension.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/PublisherInstrumentation.java
  dd-java-agent/instrumentation/reactive-streams/src/main/java/datadog/trace/instrumentation/reactivestreams/ReactiveStreamsAsyncResultExtension.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/BlockingPublisherInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/ReactorAsyncResultExtension.java
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaAsyncResultExtension.java
  dd-java-agent/instrumentation/rxjava-2/src/main/java/datadog/trace/instrumentation/rxjava2/RxJavaPluginsInstrumentation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/EagerHelper.java
Labels: comp: core, type: feature request

#7982 Update Grizzly instrumentation to check active span instead of scope
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyBlockingHelper.java
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyDecorator.java
  dd-java-agent/instrumentation/grizzly-2/src/main/java/datadog/trace/instrumentation/grizzly/GrizzlyHttpHandlerInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/main/java/datadog/trace/instrumentation/grizzlyhttp232/FilterAdvice.java
Labels: inst: others, tag: no release notes, type: refactoring

#8023 Fix test name uniqueness
  dd-java-agent/instrumentation/hibernate/core-3.3/src/test/groovy/IastQueryInstrumentationTest.groovy
  dd-java-agent/instrumentation/hibernate/core-4.0/src/test/groovy/IastQueryInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.12/src/test/groovy/datadog/trace/instrumentation/jackson212/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.16/src/test/groovy/datadog/trace/instrumentation/jackson216/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.6/src/test/groovy/datadog/trace/instrumentation/jackson26/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2.8/src/test/groovy/datadog/trace/instrumentation/jackson28/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/jackson-core-2/src/test/groovy/datadog/trace/instrumentation/jackson2/core/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/JsonParserInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-9/src/test/groovy/datadog/trace/instrumentation/java/lang/invoke/StringConcatFactoryCallSiteTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/HttpServletRequestTest.groovy
Labels: comp: testing, tag: no release notes

#8034 Ignore RC versions when running Maven smoke tests
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#8035 Muzzle exclude dep from extras
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Labels: type: enhancement, tag: no release notes, comp: tooling

#8009 Ensure instrumentation class is logged if helper class fails to be injected
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
Labels: tag: no release notes, comp: telemetry

#7946 Remove support for X-Forwarded in client IP resolution
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/http/ClientIpAddressResolver.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/http/ClientIpAddressResolverSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ContextInterpreter.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/NoneHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpExtractorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpExtractorTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: comp: core

#8031 Replace JAVA_TOOL_OPTIONS by jvm.options OpenLiberty server configuration file
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-20/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeTest.groovy
  dd-smoke-tests/springboot-openliberty-23/src/test/groovy/datadog/smoketest/SpringBootOpenLibertySmokeVulnerabilityTest.groovy
Labels: comp: testing, tag: no release notes

#8036 Fix NoClassDefFoundError: Could not initialize class DDSpanLink$EncoderHolder in Graal native-image
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
Labels: type: bug, comp: native-image

#7855 Adding crash tracking to integration tests
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractServerSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
Labels: comp: testing, run-tests: ibm8, run-tests: semeru8, run-tests: semeru11, run-tests: semeru17, run-tests: oracle8, run-tests: zulu8, run-tests: zulu11, run-tests: ubuntu17

#8026 Increase IAST propagation to StringBuilder subSequence
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestAbstractStringBuilderSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBufferSuite.java
  dd-java-agent/instrumentation/java-lang/src/test/java/foo/bar/TestStringBuilderSuite.java
Labels: type: enhancement, comp: asm iast
