Repository DataDog/dd-trace-java, pull requests merged in 2024-07, with the labels that each got.

#7241 Add ServiceTalk async context propagation instrumentation
  dd-java-agent/instrumentation/servicetalk/build.gradle
  dd-java-agent/instrumentation/servicetalk/src/main/java/datadog/trace/instrumentation/servicetalk/AbstractAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servicetalk/src/main/java/datadog/trace/instrumentation/servicetalk/ContextMapInstrumentation.java
  dd-java-agent/instrumentation/servicetalk/src/main/java/datadog/trace/instrumentation/servicetalk/ContextPreservingInstrumentation.java
  dd-java-agent/instrumentation/servicetalk/src/test/groovy/ContextPreservingInstrumentationTest.groovy
  settings.gradle
Labels: inst: others

#7262 Add missing appsec propagation tag on appsec events
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
Labels: type: bug, comp: asm waf

#7257 Add /info and /telemetry endpoints to smoke tests agent
  dd-smoke-tests/src/main/groovy/datadog/smoketest/AbstractSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#7258 Use default trace protocol version in smoke tests
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-smoke-tests/spring-boot-2.4-webflux/src/test/groovy/datadog/smoketest/SpringBootWebfluxIntegrationTest.groovy
Labels: comp: testing, tag: no release notes

#7251 Set appsec.blocked in local root span
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Labels: type: bug, comp: asm waf

#7252 Use spark application name when service is set to spark
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
Labels: inst: apache spark

#7242 Capture all spark conf parameter
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkConfAllowList.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
Labels: inst: apache spark

#7265 Fix milestone assignment automation
  .github/workflows/add-milestone-to-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7266 JMS: trace Queue and Topic producers when destination is explicit
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/JMS2Test.groovy
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/test/groovy/JMS1Test.groovy
Labels: type: enhancement, inst: jms

#7269 Fix -DargLine propagation for Maven builds
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenProjectConfigurator.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/src/test/java/datadog/smoke/TestSucceedPropertyAssertion.java
Labels: type: bug, comp: ci visibility

#7272 collapse wall samples by default
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: comp: profiling

#7271 Change log level info->debug for ScriptInitializer
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
Labels: tag: no release notes, comp: profiling

#7122 Add lib-injection multiple JVM agents guardrails
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-smoke-tests/lib-injection/README.md
  dd-smoke-tests/lib-injection/build.gradle
  dd-smoke-tests/lib-injection/src/main/java/datadog/smoketest/Agent.java
  dd-smoke-tests/lib-injection/src/main/java/datadog/smoketest/Application.java
  dd-smoke-tests/lib-injection/src/test/groovy/datadog/smoketest/MultipleAgentGuardrailsTest.groovy
  settings.gradle
Labels: type: enhancement, comp: library injection

#7270 Use Clock in ASM Standalone Sampler
  dd-trace-core/src/main/java/datadog/trace/common/sampling/AsmStandaloneSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/AsmStandaloneSamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SamplerTest.groovy
Labels: tag: no release notes, comp: asm waf

#7207 Do not buffer pending traces for CI Visibility
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelExtractedContext.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatabricksParentContext.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-core/build.gradle
  dd-trace-core/src/jmh/java/datadog/trace/common/writer/ddagent/TraceMapperBenchmark.java
  dd-trace-core/src/jmh/java/datadog/trace/core/PendingTraceWrite.java
  dd-trace-core/src/jmh/java/datadog/trace/core/TracerMapperMap.java
  dd-trace-core/src/jmh/java/datadog/trace/core/propagation/InjectorBenchmark.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/StreamingTraceCollector.java
  dd-trace-core/src/main/java/datadog/trace/core/TraceCollector.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/CorePropagation.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/XRayHttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/AbstractContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ConcurrentContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/SingleContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceProcessingWorkerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceStrictWriteTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTestBase.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/B3HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HaystackHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/HttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/XRayHttpInjectorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/test/DDCoreSpecification.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTraceCollector.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
Labels: comp: core, comp: ci visibility, run-tests: all

#7279 Fix case where past automation branch where not deleted
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7239 Fix Gradle version locking
  .circleci/config.continue.yml.j2
  build.gradle
  buildSrc/src/main/kotlin/datadog.dependency-locking.gradle.kts
  gradle/java.gradle
Labels: tag: no release notes, comp: tooling

#7231 Exploit prevention for SQL injection (blocking support)
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/DatabaseClientDecorator.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFResultData.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/InstrumentationLogger.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
  dd-smoke-tests/appsec/springboot/build.gradle
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  gradle/spotbugFilters/exclude.xml
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: asm waf

#7280 Move snapshot UUID generation at serialization
  .gitlab/benchmarks.yml
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
Labels: comp: debugger

#7285 Fix reliability env deploy / Gitlab scheduled pipeline
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7276 Fetch uri information correctly when httphost argument is null
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HostAndRequestAsHttpUriRequest.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientTest.groovy
Labels: type: enhancement, inst: others, tag: community

#7290 Spring scheduling: do not wrap runnables on each schedule
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingInstrumentation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingRunnableWrapper.java
Labels: type: bug, inst: spring

#7273 Report span metrics for Exploit Prevention
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/EventDispatcherBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/blocking/BlockingServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/DataListener.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventDispatcher.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/ReplaceableEventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/blocking/BlockingServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFStatsReporterSpecification.groovy
Labels: comp: asm waf

#7274 Serialize restricted collections as regular object
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SnapshotSerializationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
Labels: comp: debugger

#7282 Remove explicit capture of fields
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/RefResolverHelper.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/JsonSnapshotSerializer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/SerializerWithLimits.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CaptureAssertionHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/el/ELIntegrationSanityTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/MoshiSnapshotTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/StringTokenWriterTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot19.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Labels: comp: debugger

#7292 This feature was migrated to the modules under `dd-java-agent/agent-otel`
  buildSrc/build.gradle.kts
  buildSrc/src/main/groovy/otel/AbstractClassVisitor.java
  buildSrc/src/main/groovy/otel/InstrumentationModuleConverter.java
  buildSrc/src/main/groovy/otel/OtelApiVerifier.groovy
  buildSrc/src/main/groovy/otel/OtelConverterPlugin.groovy
  buildSrc/src/main/groovy/otel/TypeInstrumentationConverter.java
  buildSrc/src/main/groovy/otel/VirtualFieldConverter.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleConverter.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleFlag.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleGenerator.java
  buildSrc/src/main/groovy/otel/muzzle/MuzzleReference.java
  buildSrc/src/test/groovy/otel/muzzle/MuzzleConverterTest.groovy
  buildSrc/src/test/groovy/otel/muzzle/MuzzleFlagTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/build.gradle
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/HasAdvice.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/datadog/trace/instrumentation/opentelemetry/automatic/OtelAutomaticInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-instrumentations/src/main/java/io/opentelemetry/javaagent/extension/instrumentation/TypeTransformer.java
  settings.gradle
Labels: tag: no release notes, type: refactoring

#7295 GraphQl: Fix advices for 22+
  dd-java-agent/instrumentation/graphql-java/graphql-java-20.0/build.gradle
  dd-java-agent/instrumentation/graphql-java/graphql-java-20.0/gradle.lockfile
  dd-java-agent/instrumentation/graphql-java/graphql-java-20.0/src/main/java/datadog/trace/instrumentation/graphqljava20/GraphQLJavaInstrumentation.java
Labels: type: bug, inst: graphql

#7246 Fix mixing log/span decoration probes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
Labels: comp: debugger

#7302 Remove fast codec module as only one will ever exist
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/CodecModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/CodecModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/FastCodecModuleTest.groovy
Labels: tag: no release notes, type: refactoring, comp: asm iast

#7304 Introduce GatewayContext to propagate instrumentation specific traits
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/EventDispatcherBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/blocking/BlockingServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/DataListener.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventDispatcher.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/EventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/ReplaceableEventProducerService.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/blocking/BlockingServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
Labels: tag: no release notes, type: refactoring, comp: asm waf

#7306 Add missing dependency to unlock dependency lock updates
  dd-java-agent/agent-ci-visibility/build.gradle
Labels: tag: no release notes, comp: tooling

#7308 Support field-injection of record classes
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/context/FieldBackedContextRequestRewriter.java
Labels: comp: core, tag: no release notes

#7305 Support jetty client 12
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/build.gradle
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java/datadog/trace/instrumentation/jetty_client12/FutureResponseListenerInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java/datadog/trace/instrumentation/jetty_client12/JettyHttpClientInstrumentation.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/CallbackWrapper.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/HeadersInjectAdapter.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/JettyClientDecorator.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/LinkListenerAdvice.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/RequestCreateAdvice.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/SendAdvice.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/SpanFinishingCompleteListener.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/main/java17/datadog/trace/instrumentation/jetty_client12/WrapListenerAdvice.java
  dd-java-agent/instrumentation/jetty-client/jetty-client-12.0/src/test/groovy/JettyClientTest.groovy
  settings.gradle
Labels: type: feature request, inst: jetty

#7294 Use spark application name when service is set to hadoop
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkTest.groovy
Labels: inst: apache spark

#7319 Fix Gradle v8.9 instrumentation
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServicesInstrumentation.java
Labels: type: bug, comp: ci visibility

#7310 Add high rate queue for log template snapshots
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SnapshotSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestSnapshotListener.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  internal-api/src/main/java/datadog/trace/util/AgentThreadFactory.java
Labels: tag: performance, comp: debugger

#7315 Optimize per-test code coverage
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilitySystem.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ConcurrentCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/CoverageProbeStoreFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/ExecutionDataAdapter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/NoopCoverageProbeStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SegmentlessTestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/SkippableAwareCoverageStoreFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/TestProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/instrumentation/CoverageUtils.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/ExecutionDataAdapter.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineProbes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/SourceAnalyzer.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestContextImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ClassInstrumenterInstrumentation.java
  dd-java-agent/instrumentation/jacoco/src/main/java/datadog/trace/instrumentation/jacoco/ProbeInserterInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberTracingListener.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbeStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageProbes.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/CoverageStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/NoOpCoverageStore.java
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/NoOpProbes.java
  internal-api/src/main/java/datadog/trace/api/civisibility/domain/TestContext.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/CiVisibilityCountMetric.java
Labels: tag: performance, comp: ci visibility, run-tests: all

#7311 Reset call depth counter if query is blocked
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/StatementInstrumentation.java
Labels: tag: no release notes, inst: jdbc, comp: asm waf

#7297 Update system-tests to 06cbfad5f9facbc6e258d9c8208c466cd46efeea and use Python 3.12
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#7309 Create new ranges for vulns to prevent GC issues
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Evidence.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/EvidenceTest.groovy
Labels: comp: asm iast

#7299 Update URI and URL call sites for precise taint tracking
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/CodecModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/CodecModuleTest.groovy
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URICallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLCallSite.java
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLEncoderCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URICallSIteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLCallSiteTest.groovy
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLEncoderCallSiteTest.groovy
  dd-java-agent/instrumentation/okhttp-2/src/test/groovy/IastOkHttp2InstrumentationTest.groovy
  dd-java-agent/instrumentation/okhttp-3/src/test/groovy/IastOkHttp3InstrumentationTest.groovy
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/propagation/CodecModule.java
Labels: comp: asm iast

#7328 Fix EL function behavior for null values
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAllExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAnyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IndexExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IsEmptyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/LenExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/StringPredicateExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ContainsExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/EndsWithExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IndexExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsEmptyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/LenExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/MatchesExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/StartsWithExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/null_expressions.txt
Labels: comp: debugger

#7313 Fix `instanceof` as predicate for value expression
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ValueScriptTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_one_liner_value_expr_01.txt
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_one_liner_value_expr_02.txt
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_value_expr_01.json
Labels: type: bug, comp: debugger

#7316 Refine static analysis rules
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#7336 [🍒 7319] Fix Gradle v8.9 instrumentation
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector.java
  dd-java-agent/instrumentation/gradle/src/main/groovy/datadog/trace/instrumentation/gradle/GradleBuildScopeServicesInstrumentation.java
Labels: type: bug, comp: ci visibility

#7296 Reduce scope listener API
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/log/LogContextScopeListener.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/api/scopemanager/ExtendedScopeListener.java
Labels: comp: core, tag: no release notes, type: refactoring

#7325 Fix tracer freeze when CI Visibility is enabled
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDAgentWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterTest.groovy
Labels: type: bug, comp: ci visibility

#7322 Fix dependency lock update workflow
  .github/workflows/update-gradle-dependencies.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7314 Report telemetry metrics for Exploit Prevention
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/blocking/BlockingServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/EventDispatcherSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/RuleType.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: comp: asm waf

#7324 Fix parsing of binary datadog headers in SQS
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/messaging/DatadogAttributeParser.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
Labels: type: bug, inst: aws sdk

#7340 Add `Set` support for `hasAny`/`hasAll` expression
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAllExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAnyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
Labels: comp: debugger

#7085 Add tracer log file to tracer flare when datadog.slf4j.simpleLogger.logFile is NOT defined
  dd-java-agent/agent-logging/build.gradle
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/LogReporter.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/PrintStreamWrapper.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/simplelogger/SLCompatSettings.java
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/simplelogger/SLCompatSettingsTest.groovy
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: type: enhancement, comp: core

#7327 Add k6 + petclinic macrobenchmark
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/macrobenchmarks.yml
Labels: tag: no release notes, comp: tooling

#7346 Add support for `any`/`all`
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/null_expressions.txt
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_01.json
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_one_liner_value_expr_01.txt
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_value_expr_01.json
Labels: comp: debugger

#7337 Extend `contains` EL expression
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ContainsExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/CollectionValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/ListValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/MapValue.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/values/SetValue.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ContainsExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/contains_expressions.txt
Labels: type: enhancement, comp: debugger

#7341 Add pathway propagation for SNS
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: comp: data streams

#7151 Use unified Gitlab pipeline for APM libraries
  .github/workflows/README.md
  .github/workflows/lib-injection-manual-release.yaml
  .github/workflows/lib-injection.yaml
  .gitlab-ci.yml
  .gitlab/benchmarks.yml
  .gitlab/build-lib-init.sh
  .gitlab/build_java_package.sh
  .gitlab/build_java_package_oci.sh
  .gitlab/prepare-oci-package.sh
  .gitlab/single-step-instrumentation-tests.yml
  lib-injection/Dockerfile
  lib-injection/build_java_agent.sh
  lib-injection/copy-lib.sh
Labels: comp: tooling

#7333 Fix github artifact upload using explicit jar names
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#7345 Add Untrusted Deserialization vulnerability
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UntrustedDeserializationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/UntrustedDeserializationModuleTest.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/ObjectInputStreamCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ObjectInputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestObjectInputStreamSuite.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityMarks.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/UntrustedDeserializationModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
Labels: comp: asm iast

#7344 Fix exception thrown for distribution metric
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/DebuggerContextTest.java
Labels: type: bug, comp: debugger

#7135 Use three modes for auto user id collection: identification (default), anonymization and disabled
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/AppSecUserEventDecoratorTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java17/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/UserIdCollectionMode.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/main/java/datadog/trace/util/Strings.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/UserIdCollectionModeTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/util/StringsTest.groovy
Labels: comp: asm waf

#7323 Fix session rewriting false positives
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastOptOutHttpServletRequest3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/IastServlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/TomcatServlet3Test.groovy
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/TestServlet3.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/IastJakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/IastOptOutJakartaHttpServletRequestInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/IastJakartaServletInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletRequestInstrumentationTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
Labels: type: bug, comp: asm iast

#7318 Replace segments with bitmaps in per-test code coverage
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/file/FileCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/LineCoverageStore.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/line/SourceAnalyzer.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-efd-known-test/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-efd-new-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-efd-new-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-efd-new-slow-test/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-efd-new-test/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-failure/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-multiple-features-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-multiple-features-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-retry-failure/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-retry-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-retry-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/resources/test-succeed/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-efd-known-test/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-efd-new-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-efd-new-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-efd-new-slow-test/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-efd-new-test/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-failed-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-failed-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-failed-then-succeed/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-failed/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-parallel/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-retry-failed/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-scenario-outline-5.4.0/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-scenario-outline-latest/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-skipped/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/resources/test-succeed/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-old-gradle/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_builtin_coverage/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_0_0/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/coverages.ftl
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCovMapperV2Test.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/coverage/TestReportFileEntry.java
Labels: tag: no release notes, type: refactoring, comp: ci visibility

#7354 Fix null JvmInfo exception in Maven instrumentation
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CachingJvmInfoFactory.java
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenLifecycleParticipant.java
Labels: type: bug, comp: ci visibility

#7356 Fix package resolution for non-Java source files
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/PackageResolverImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: type: bug, comp: ci visibility

#7362 Fix Gradle dependency automation
  .github/workflows/update-gradle-dependencies.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7338 Fix milestone parsing for PR assignment
  .github/workflows/add-milestone-to-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7364 Fix SNS tests to not test for order of tags
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
Labels: type: bug, comp: testing, tag: no release notes

#7283 [Bugfix] remove binary `_datadog` attribute if present in JMS SQS instrumentation to avoid crash
  dd-java-agent/instrumentation/aws-java-sqs-1.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsJmsMessageInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sqs-2.0/src/test/groovy/SqsClientTest.groovy
Labels: type: bug, inst: aws sdk

#7351 Separate manual & automatic checkpoints when aggregating
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-1.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sns-2.0/src/test/groovy/SnsClientTest.groovy
  dd-java-agent/instrumentation/datastreams-checkpoints/build.gradle
  dd-java-agent/instrumentation/datastreams-checkpoints/src/test/groovy/ManualAPITest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaProducerInstrumentation.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/StatsBucket.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/CheckpointerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/StatsPoint.java
  settings.gradle
Labels: comp: data streams

#7363 Automate Cloud Foundry repository update
  .github/workflows/add-release-to-cloudfoundry.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#7359 Improve SSRF detection in apache http client
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SsrfModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/SsrfModuleTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-4/build.gradle
  dd-java-agent/instrumentation/apache-httpclient-4/src/iastIntegrationTest/groovy/IastHttpClientIntegrationTest.groovy
  dd-java-agent/instrumentation/apache-httpclient-4/src/iastIntegrationTest/java/SsrfController.java
  dd-java-agent/instrumentation/apache-httpclient-4/src/iastIntegrationTest/java/foo/bar/VulnerableUrlBuilder.java
Labels: comp: asm iast

#7259 Switch to 128-bit trace ID tracking
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/ErpcTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/NoTls.java
  dd-java-agent/cws-tls/src/main/java/datadog/cws/tls/TlsScopeListener.java
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/ErpcTlsTest.groovy
  dd-java-agent/cws-tls/src/test/groovy/datadog/cws/tls/TlsTest.groovy
Labels: comp: cws

#7369 Upgrade to libddwaf 1.19.0 (libddwaf-java 10.1.0)
  dd-java-agent/appsec/build.gradle
Labels: type: enhancement, comp: asm waf

#7371 Fix links in pull request template
  .github/pull_request_template.md
Labels: type: bug, tag: no release notes, comp: tooling

#7370 Fix nightly deploys
  .gitlab-ci.yml
  .gitlab/macrobenchmarks.yml
Labels: type: bug, tag: no release notes, comp: tooling
