Repository DataDog/dd-trace-java, pull requests merged in 2024-01, with the labels that each got.

#6425 Add `instanceof` operator in Expression Language
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ComparisonExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/ComparisonOperator.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/ProbeConditionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ComparisonExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_05.json
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: enhancement, comp: debugger

#6366 Avoid flakiness on webflux 5 tests
  dd-java-agent/instrumentation/spring-webflux-5/src/bootTest/groovy/SpringWebfluxTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6371 add spring webmvc 6 latestDep tests
  dd-java-agent/instrumentation/spring-webmvc-6.0/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/SetupSpecHelper.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/SpringBootBasedTest.groovy
Labels: tag: no release notes, inst: spring

#6428 Allow disabling JFR profiler manually via configuration
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ControllerFactory.java
  dd-trace-api/src/main/java/datadog/trace/api/config/ProfilingConfig.java
Labels: tag: no release notes, comp: profiling

#6427 Enable diagnostics on debugger track
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
Labels: comp: debugger

#6431 Revert "Enable diagnostics on debugger track"
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
Labels: tag: no release notes

#6422 Include dynamic_instrumentation product into the app_started telemetry event
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Labels: comp: telemetry

#6424 Introduce more local counters for tracer health metrics
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/OpenTracingAPITest.groovy
Labels: comp: metrics

#6414 Capture the SELinux status as a profiler setting event
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/JfrProfilerSettings.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilerSettingsSupport.java
  dd-smoke-tests/play-2.4/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.5/src/test/groovy/datadog/smoketest/PlayNettySmokeTest.groovy
  dd-smoke-tests/play-2.6/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.7/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
  dd-smoke-tests/play-2.8-otel/src/test/groovy/datadog/smoketest/Play28OTelSmokeTest.groovy
  dd-smoke-tests/play-2.8/src/test/groovy/datadog/smoketest/PlaySmokeTest.groovy
Labels: comp: profiling

#6426 Keep historical tracer health/span counts
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
Labels: comp: metrics

#6434 Synchronously flush test session finish event
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDTestSessionImpl.java
Labels: comp: ci visibility

#6437 spring sqs listener test: block on send
  dd-java-agent/instrumentation/spring-messaging-4/src/test/groovy/SpringListenerSQSTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6438 Tidy up tracer health metrics
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
Labels: tag: diagnostics, comp: metrics

#6429 Fix support of string primitives for index in EL
  dd-java-agent/agent-debugger/debugger-el/build.gradle
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IndexExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/TestHelper.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IndexExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
Labels: comp: debugger

#6440 avoid extra time due to telemetry for jmx tests
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomMBeanServerBuilderTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#6416 Add tracer health and span count summaries to tracer-flare
  dd-trace-core/src/main/java/datadog/trace/common/writer/MultiWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlarePoller.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
  internal-api/src/main/java/datadog/trace/api/metrics/CoreCounter.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistry.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricRegistryImpl.java
  internal-api/src/main/java/datadog/trace/api/metrics/SpanMetricsImpl.java
  internal-api/src/main/java/datadog/trace/api/telemetry/CoreMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/metrics/SpanMetricRegistryTest.groovy
Labels: tag: diagnostics, comp: metrics

#6439 Provide summary of JMXFetch for tracer-flare
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/AgentStatsdReporter.java
  dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/JMXFetch.java
Labels: tag: diagnostics, comp: metrics

#6436 Add finally block for `@duration` metric
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/Instrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
Labels: comp: debugger

#6446 Be consistent when checking if tasks are excluded from wrapping/injection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/TPEHelper.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaTimerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/ThreadPoolExecutorInstrumentation.java
Labels: comp: context propagation

#6445 Fix package names
  dd-java-agent/instrumentation/graphql-java-14.0/src/main/java/datadog/trace/instrumentation/graphqljava/GraphQLJavaInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/jmh/java/datadog/trace/instrumentation/jdbc/SQLCommenterBenchmark.java
  dd-java-agent/instrumentation/slick/src/main/java/datadog/trace/instrumentation/slick/SlickRunnableInstrumentation.java
Labels: tag: no release notes, type: refactoring

#6452 lock aerospike to < 8
  dd-java-agent/instrumentation/aerospike-4/build.gradle
Labels: comp: testing, tag: no release notes

#6451 Fix Telemetry App-Started event retry that prevents the application from exiting.
  telemetry/src/main/java/datadog/telemetry/TelemetryRunnable.java
Labels: type: bug, comp: telemetry

#6450 update jsch
  build.gradle
Labels: tag: no release notes

#6300 Detect servlet configuration vulnerabilities with IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/ApplicationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/ApplicationModuleTest.groovy
  dd-java-agent/agent-iast/src/test/resources/application/adminconsoleactive/insecure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/adminconsoleactive/secure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaulthtmlescapeinvalid/false_tag/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaulthtmlescapeinvalid/no_tag_1/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaulthtmlescapeinvalid/no_tag_2/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaulthtmlescapeinvalid/secure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/defaulthtmlescapeinvalid/secure_tag/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/insecure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/directorylistingleak/secure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/insecure/WEB-INF/secure.jsp
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/insecure/insecure.jsp
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/insecure/insecure.jspx
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/insecure/nestedinsecure/insecure2.jsp
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/insecure/nestedinsecure/nestedinsecure/insecure3.jsp
  dd-java-agent/agent-iast/src/test/resources/application/insecurejsplayout/secure/WEB-INF/secure.jsp
  dd-java-agent/agent-iast/src/test/resources/application/sessiontimeout/insecure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/sessiontimeout/secure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/verbtampering/insecure/WEB-INF/web.xml
  dd-java-agent/agent-iast/src/test/resources/application/verbtampering/secure/WEB-INF/web.xml
  dd-java-agent/instrumentation/servlet/src/main/java/datadog/trace/instrumentation/servlet/dispatcher/IastServletContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/src/test/groovy/IastServletContextInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/src/test/groovy/RequestDispatcherUtils.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/ApplicationModule.java
Labels: comp: asm iast

#6455 Fix issue for parsing classes from debugger.symbol
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractionTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction01.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction02.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction03.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction04.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction05.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction06.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction07.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction08.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction09.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction10.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction11.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction12.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction13.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction14.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/symboltest/SymbolExtraction15.java
Labels: type: bug, comp: debugger

#6456 Remove debug logs when not sampled
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: tag: no release notes, comp: debugger

#6457 Fix flaky test due to usage of Thread.sleep
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedMapTest.groovy
Labels: tag: flaky test, comp: asm iast

#6326 R&D week: blackhole span
  dd-java-agent/instrumentation/apache-httpclient-4/src/main/java/datadog/trace/instrumentation/apachehttpclient/HelperMethods.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/HelperMethods.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/DoNotTraceAdvice.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/DoNotTraceAnnotationInstrumentation.java
  dd-java-agent/instrumentation/trace-annotation/src/test/groovy/TraceAnnotationsTest.groovy
  dd-java-agent/instrumentation/trace-annotation/src/test/java/dd/test/trace/annotation/DontTraceClass.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/DoNotTrace.java
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  dd-trace-api/src/main/java/datadog/trace/api/Tracer.java
  dd-trace-api/src/main/java/datadog/trace/context/NoopTraceScope.java
  dd-trace-api/src/test/groovy/datadog/trace/api/EventTrackerTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/BlackholeSpanTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: experimental, comp: api, inst: trace annotation, comp: opentracing

#6449 Update flaky tests endpoint URI and response format
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
Labels: tag: no release notes, comp: ci visibility

#6442 zio: fix context propagation
  dd-java-agent/instrumentation/zio/zio-2.0/src/main/java/datadog/trace/instrumentation/zio/v2_0/FiberContext.java
  dd-java-agent/instrumentation/zio/zio-2.0/src/main/java/datadog/trace/instrumentation/zio/v2_0/ZioRuntimeInstrumentation.java
Labels: type: bug, inst: others, tag: flaky test

#6453 Skip IBM8 for spark 3.2 tests
  dd-java-agent/instrumentation/spark/spark_2.12/src/test_spark32/groovy/Spark32SqlTest.groovy
Labels: tag: no release notes, inst: apache spark, run-tests: ibm8

#6454 Enable flaky tests retries based on remote settings
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/DDBuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/CiVisibilitySettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializer.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ModuleExecutionSettingsSerializerTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilitySmokeTest.groovy
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/settings.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/src/test/java/datadog/smoke/TestFailed.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/src/test/java/datadog/smoke/TestFailed.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/config/ModuleExecutionSettings.java
Labels: comp: ci visibility

#6462 Enable diagnostics on debugger track
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
Labels: comp: debugger

#6447 Implement flaky tests retries for Scalatest
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/NeverRetry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/RetryIfFailed.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/retry/RetryAwareNotifier.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/retry/RetryContextImpl.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestUtils.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/retry/ScalatestRetryInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/retry/SuppressedTestFailedException.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/retry/TestExecutionWrapper.java
  dd-java-agent/instrumentation/scalatest/src/test/groovy/ScalatestTest.groovy
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed-then-succeed/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-failed-then-succeed/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-retry-failed/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-retry-failed/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-retry-parameterized/coverages.ftl
  dd-java-agent/instrumentation/scalatest/src/test/resources/test-retry-parameterized/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestFailedParameterized.scala
  dd-java-agent/instrumentation/scalatest/src/test/scala/org/example/TestFailedThenSucceed.scala
  internal-api/src/main/java/datadog/trace/api/civisibility/retry/TestRetryPolicy.java
Labels: comp: ci visibility

#6471 support PATCH and other custom jaxrs annotations
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/main/java/datadog/trace/instrumentation/jakarta3/JakartaRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/main/java/datadog/trace/instrumentation/jakarta3/JakartaRsAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/test/groovy/JakartaRsAnnotations3InstrumentationTest.groovy
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/src/test/java/CustomMethod.java
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/main/java/datadog/trace/instrumentation/jaxrs1/JaxRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/main/java/datadog/trace/instrumentation/jaxrs1/JaxRsAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/test/groovy/JaxRsAnnotations1InstrumentationTest.groovy
  dd-java-agent/instrumentation/jax-rs-annotations-1/src/test/java/CustomMethod.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/main/java/datadog/trace/instrumentation/jaxrs2/JaxRsAnnotationsDecorator.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/main/java/datadog/trace/instrumentation/jaxrs2/JaxRsAnnotationsInstrumentation.java
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/test/groovy/JaxRsAnnotations2InstrumentationTest.groovy
  dd-java-agent/instrumentation/jax-rs-annotations-2/src/test/java/CustomMethod.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
Labels: type: bug, inst: jax-rs

#6362 Add support for tracestate extraction from OpenTelemetry API
  dd-java-agent/agent-bootstrap/src/main/resources/META-INF/native-image/com.datadoghq/dd-java-agent/reflect-config.json
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/propagation/AgentTextMapPropagator.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/propagation/TraceStateHelper.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/trace/OtelSpanLink.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/AbstractPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/B3MultiPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/B3SinglePropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/DatadogPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/OtelW3cPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cPropagatorTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/propagation/W3cPropagatorTracestateTest.groovy
Labels: type: enhancement, inst: opentelemetry

#6216 Add auto-instrumentation for Message Driven Beans
  dd-java-agent/instrumentation/jakarta-jms/build.gradle
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/MDB1.groovy
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/MDB2.groovy
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/MDBBad.groovy
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/MDBJmsMsg.groovy
  dd-java-agent/instrumentation/jakarta-jms/src/test/groovy/MDBTest.groovy
  dd-java-agent/instrumentation/jms/build.gradle
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/test/groovy/MDB1.groovy
  dd-java-agent/instrumentation/jms/src/test/groovy/MDB2.groovy
  dd-java-agent/instrumentation/jms/src/test/groovy/MDBBad.groovy
  dd-java-agent/instrumentation/jms/src/test/groovy/MDBJmsMsg.groovy
  dd-java-agent/instrumentation/jms/src/test/groovy/MDBTest.groovy
Labels: inst: jms

#6473 Add case_id and epoch time to flare_file name
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: tag: no release notes, tag: diagnostics

#6472 Add Instrumenter metrics to tracer-flare
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningMatcher.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/MatchRecorder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/SplittingTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterFlare.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterMetrics.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ClassFileLocators.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/memoize/Memoizer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
Labels: tag: diagnostics

#6470 Rename isUndefined expression to isDefined
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/DSL.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/JsonToExpressionConverter.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/Visitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/IsDefinedExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsDefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IsUndefinedExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/resources/test_conditional_11.json
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MetricInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/MoshiConfigTestHelper.java
Labels: comp: debugger

#6475 fix mongo 4 tests
  dd-java-agent/instrumentation/grpc-1.5/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/build.gradle
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/Mongo4ClientTest.groovy
  dd-java-agent/instrumentation/mongo/driver-4.0/src/test/groovy/MongoReactiveClientTest.groovy
Labels: tag: no release notes, tag: flaky test

#6476 Improve testing in iast-instrumenter module
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastExclusionTrieTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockCallSites.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockCallSitesWithTelemetry.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/resources/META-INF/services/datadog.trace.api.iast.IastCallSites
Labels: comp: testing, tag: no release notes, comp: asm iast

#6478 Don't create a process span for agent internal threads
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
Labels: tag: no release notes, run-tests: all

#6444 Enforce ordering of probe instrumentation
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTracerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
Labels: comp: debugger

#6463 add operation label to endpoint events
  dd-java-agent/agent-profiling/profiling-controller-ddprof/src/main/java/com/datadog/profiling/controller/ddprof/DatadogProfilerCheckpointer.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/EndpointEvent.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  gradle/dependencies.gradle
Labels: comp: profiling

#6487 log4j: preserve mdc when copied and injection is disabled
  dd-java-agent/instrumentation/log4j1/build.gradle
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/log4j1/src/test/groovy/MdcTest.groovy
Labels: type: bug, inst: others

#6485 Add thread-dump to tracer-flare when triage or debug mode is enabled
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: tag: diagnostics

#6491 Don't run debugger tests twice in CI
  .circleci/config.continue.yml.j2
  build.gradle
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-profiling/build.gradle
Labels: tag: no release notes, comp: tooling

#6495 Skip failing maven version v4.0.0-alpha-12
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: tag: no release notes, comp: ci visibility

#6488 Extend ProcessImpl instrumentation tests
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
Labels: comp: testing, tag: no release notes

#6489 Add missing error tags to process spans
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
Labels: type: enhancement, inst: others

#6498 Fix Maven instrumentation following the latest release. Disable Maven smoke tests for alpha versions
  dd-java-agent/instrumentation/maven-3.2.1/src/main/java/datadog/trace/instrumentation/maven3/MavenUtils.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
Labels: tag: no release notes, comp: ci visibility

#6490 Add IAST exclusion for org.openjdk.jol.vm
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#6479 Support delayed trigger of local triage report
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/AgentInstaller.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: diagnostics

#6506 Update Java tracer flare name to be `dd-java-flare-<runtimeId>-<currentTimeMillis>.zip`
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: tag: diagnostics

#6508 Do not change JFR repo location if cleanup not required
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
Labels: tag: no release notes, comp: profiling

#6504 Update system-tests to 706b4eb3ff053068e961a684d21dfe2ff4487d37
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6509 Add call sites in spring ldap template
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#6511 Add IAST exclusion for OpenTelemetry SDK package
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: comp: asm iast

#6510 Replace string.format calls with regular concatenation
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
Labels: tag: performance, comp: asm iast

#6493 Decouple telemetry logs from minimum log level
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDLogger.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/ddlogger/DDTelemetryLogger.java
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDTelemetryLoggerTest.groovy
Labels: comp: telemetry

#6512 Skip milestone and issues gh workflows for Release Candidates
  .github/workflows/README.md
  .github/workflows/increment-milestones-on-tag.yaml
  .github/workflows/update-issues-on-release.yaml
Labels: tag: no release notes

#6516 Refactor http headers to reduce memory allocations
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestHeaderHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HeaderInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/UnvalidatedRedirectModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeaderMap.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/HttpHeaderMapTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/HttpHeaderTest.groovy
Labels: tag: performance, type: refactoring, comp: asm iast

#6523 Add release not draft support for RC
  .github/workflows/draft-release-notes-on-tag.yaml
Labels: tag: no release notes, comp: tooling

#6517 Scoped context API
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Baggage.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ImplicitContextKeyed.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopedContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopedContextKey.java
Labels: tag: do not merge, comp: core, tag: no release notes

#6483 Enable Java 21 in CI
  .circleci/render_config.py
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/BaseExceptionHandlerTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ExceptionHandlerExitOnFailureForkedTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/ExceptionHandlerForkedTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/groovy/SpringSchedulingTest.groovy
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/AdviceUtils.java
  dd-java-agent/instrumentation/spring-webflux-5/src/main/java/datadog/trace/instrumentation/springwebflux/server/RouteOnSuccessOrError.java
  gradle/dependencies.gradle
  internal-api/src/main/java/datadog/trace/util/MethodHandles.java
Labels: tag: no release notes, comp: tooling

#6530 Create triage report directories if they don't exist…
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: comp: core, tag: no release notes, tag: diagnostics

#6532 Rename version.txt to tracer_version.txt in tracer-flare
  dd-trace-core/src/main/java/datadog/trace/core/flare/TracerFlareService.java
Labels: comp: core, tag: diagnostics

#6480 Add `@exception` as local var in snapshots
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot05.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Labels: type: enhancement, comp: debugger

#6519 Add TriageReport for Dynamic Instrumentation
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ProbeStatus.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/InstrumentationResult.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
Labels: type: enhancement, comp: debugger

#6527 Extract user principal on jakarta servlets 5+
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/spring-security-5/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/TestController.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/AbstractServletTest.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: type: enhancement, inst: others

#6507 Support special case of empty catch block
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot05.java
Labels: comp: debugger

#6525 Improve telemetry log deduplication
  dd-java-agent/agent-logging/src/test/groovy/datadog/trace/logging/ddlogger/DDTelemetryLoggerTest.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/LogCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/LogCollectorTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/main/java/datadog/telemetry/api/LogMessage.java
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
Labels: comp: telemetry

#6522 Added RC product listeners per config
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: tag: no release notes, comp: remote config

#6536 Reduce long running default flush interval to 120 seconds
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: tag: experimental

#6501 Reduce the memory footprint of IAST sources
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Range.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Source.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/PropagationModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/json/VulnerabilityEncodingTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/PropagationModuleTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/propagation/PropagationModule.java
Labels: tag: performance, comp: asm iast

#6340 API Security configuration via remote-config
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecFeatures.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/state/ProductState.java
  remote-config/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
Labels: comp: asm waf

#6542 Add latestDepTest for Jvm 21 on CI
  .circleci/config.continue.yml.j2
Labels: comp: testing

#6545 KafkaConsumer: avoid null key context access
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaConsumerInfoInstrumentation.java
Labels: type: bug, inst: kafka

#6094 Improve IAST coverage by not relying on an active context for tainting purposes
  benchmark/load/insecure-bank/benchmark.json
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Dependencies.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastGlobalContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestEndedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/RequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/overhead/OverheadController.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedMap.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestStartedHandler.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetry.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/Wrapper.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/GrpcRequestMessageHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastGlobalContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastModuleImplTestBase.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastRequestContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/RequestStartedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadContextTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/overhead/OverheadControllerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsLogTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/TaintedObjectsNoOpTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/taint/TaintedObjectsWithTelemetryTest.groovy
  dd-java-agent/agent-iast/src/testFixtures/groovy/com/datadog/iast/test/TaintedObjectsUtils.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/jersey-2/src/test/groovy/datadog/smoketest/Jersey2SmokeTest.groovy
  dd-smoke-tests/jersey-3/src/test/groovy/datadog/smoketest/Jersey3SmokeTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/src/test/groovy/IastSpringBootSmokeTest.groovy
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/IastContext.java
  internal-api/src/test/groovy/datadog/trace/api/iast/IastContextTest.groovy
Labels: comp: asm iast, run-tests: all

#6544 Update system-tests to ed41a27fd2900491e459b9ceac534f4c65ff0ba8
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#6461 Hardcoded secrets detection
  benchmark/load/insecure-bank/benchmark.json
  benchmark/startup/insecure-bank/benchmark.json
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HardcodedSecretModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/LocationTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HardcodedSecretModuleTest.groovy
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/IastSecretClassReader.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/iast/IastSecretVisitor.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesInvokeDynamicTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/AdvicesTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/iast/IastSecretClassReaderTest.groovy
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/iast/WithHardcodedSecret.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastHardcodedSecretListener.java
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/IastInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/groovy/datadog/trace/instrumentation/iastinstrumenter/IastHardcodedSecretListenerTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockCallSites.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastSpringBootSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/secrets/HardcodedSecretMatcher.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/HardcodedSecretModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/secrets/HardcodedSecretMatcherTest.groovy
Labels: comp: asm iast

#6459 Capture relationships between spark SQL stages
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkSQLUtils.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSpark24SqlTest.groovy
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSpark32SqlTest.groovy
Labels: inst: apache spark

#6481 Attach command execution spans to current span if it exists
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
Labels: inst: others, run-tests: all

#6543 Add aerospike 8 latestDepTests
  dd-java-agent/instrumentation/aerospike-4/build.gradle
Labels: comp: testing, inst: others

#6548 Fix for No @ToJson SamplingRules deserialization exception
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/sampling/SpanSamplingRules.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/TraceSamplingRules.java
Labels: type: bug, comp: core

#6556 Adjust log level or error messages written by repo indexer
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
Labels: comp: ci visibility

#6546 Force test failure on unhandled instrumented exception
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/InstrumentationErrors.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/ExceptionHandlers.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/BaseExceptionHandlerTest.groovy
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/grizzly-http-2.3.20/src/test/groovy/GrizzlyTest.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletBlockingHelper.java
  dd-java-agent/instrumentation/servlet/request-5/src/test/groovy/JakartaHttpServletResponseInstrumentationTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
Labels: comp: testing

#6563 Use \n for new line in telemetry log stacktraces
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/log/LogFilteringTest.groovy
Labels: tag: no release notes, tag: experimental, comp: telemetry

#6564 Remove noisy telemetry log with exception
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/StringTemplateBuilder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
Labels: tag: no release notes, comp: debugger

#6562 Fix profiling on Quarkus native-image
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/JfrHelper.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/directallocation/AllocatorHistogram.java
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionHistogram.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/AvailableProcessorCoresEvent.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/DeadlockEventFactory.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: profiling, comp: native-image, mergequeue-status: rejected

#6570 Avoid NumberFormatException when logging 128bit trace ID
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/BlackholeSpanTest.groovy
Labels: type: bug, comp: core, inst: aws sdk

#6549 Do not compute DBInfo on every statement call
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastConnectionCallSite.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastStatementCallSite.java
Labels: tag: performance, comp: asm iast

#6558 Improve the performance of the IAST cookie parser
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/HttpResponseHeaderModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/HttpHeader.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/HttpResponseHeaderModuleTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/HttpHeaderTest.groovy
Labels: tag: performance, comp: asm iast

#6567 Simplify testing of telemetry log redaction
  telemetry/src/test/groovy/datadog/telemetry/log/LogFilteringTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
  telemetry/src/test/java/datadog/telemetry/log/ExceptionHelper.java
Labels: comp: testing, tag: no release notes, tag: experimental, comp: telemetry

#6561 Cache IAST metric tag values to be used in metrics and spans
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/telemetry/TelemetryRequestEndedHandler.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/telemetry/TelemetryRequestEndedHandlerTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/iast/SourceTypesTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/IastMetricPeriodicActionTest.groovy
Labels: tag: performance, comp: asm iast

#6557 Improve content of redacted stacktraces in telemetry logs
  internal-api/src/main/java/datadog/trace/util/stacktrace/StackUtils.java
  internal-api/src/test/java/datadog/trace/util/stacktrace/StackUtilsTest.java
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/log/LogPeriodicActionTest.groovy
Labels: tag: experimental, comp: telemetry

#6566 Change telemetry logs tracer time to seconds
  internal-api/src/main/java/datadog/trace/api/telemetry/LogCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/LogCollectorTest.groovy
Labels: type: bug, tag: no release notes, tag: experimental, comp: telemetry

#6559 Add Datadog-Entity-Id header
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
  remote-config/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
  remote-config/src/test/groovy/datadog/remoteconfig/Rcte1TestVectorsSpecification.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
  utils/container-utils/src/main/java/datadog/common/container/ContainerInfo.java
  utils/container-utils/src/test/groovy/datadog/common/container/ContainerInfoTest.groovy
  utils/container-utils/src/test/groovy/datadog/common/container/ServerlessInfoTest.groovy
Labels: comp: telemetry

#6555 Add `aws.object.key` tag for aws-sdk-1
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/GetterAccess.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/AWS1ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test/groovy/LegacyAWS1ClientForkedTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test_before_1_11_106/groovy/AWS0ClientTest.groovy
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/test_before_1_11_106/groovy/LegacyAWS0ClientForkedTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
Labels: inst: aws sdk

#6576 Handle remote config 204 responses gracefully
  remote-config/src/main/java/datadog/remoteconfig/ConfigurationPoller.java
  remote-config/src/test/groovy/datadog/remoteconfig/ConfigurationPollerSpecification.groovy
Labels: comp: remote config

#6560 Get access to tag values from the top of TraceSegments
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastRequestContext.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-api/src/main/java/datadog/trace/api/internal/TraceSegment.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
Labels: type: refactoring, comp: asm iast

#6584 Mute tracing for subprocesses executed in by the tracer
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/ProfilerSettingsSupport.java
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: inst: others, run-tests: all

#6502 Add component and fix cmd.exit_code tag in subprocess instrumentation
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/ProcessImplStartAdvice.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/ProcessImplInstrumentationSpecification.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
Labels: type: enhancement, inst: others

#6568 Add exception debugging for span error
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/Fingerprinter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeManagerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/FingerprinterTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/build.gradle
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: debugger

#6484 Upload SARIF from CodeQL to CI Static Analysis
  .github/workflows/codeql-analysis.yml
Labels: comp: testing, tag: no release notes

#6588 Fix issue with cookie parser and empty cookie values
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/CookieSecurityParser.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/CookieSecurityParserTest.groovy
Labels: type: bug, comp: asm iast

#6577 Improve header injection redaction
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/HeaderRegexpTokenizer.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sensitive/SensitiveHandlerImpl.java
  dd-java-agent/agent-iast/src/test/resources/redaction/evidence-redaction-suite.yml
Labels: comp: asm iast

#6465 Kafka support as IAST source
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
  dd-java-agent/instrumentation/jackson-core/src/main/java/datadog/trace/instrumentation/jackson/core/Json2FactoryInstrumentation.java
  dd-java-agent/instrumentation/jackson-core/src/test/groovy/Json2FactoryInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-io/src/main/java/datadog/trace/instrumentation/java/lang/ByteBufferCallSite.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ByteBufferTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestByteBufferSuite.java
  dd-java-agent/instrumentation/kafka-clients-0.11/build.gradle
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDeserializerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaIastHelper.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/iast/KafkaIastDeserializerForkedTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/model/Vulnerability.groovy
  dd-smoke-tests/kafka/build.gradle
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/KafkaApplication.java
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastConfiguration.java
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastController.java
  dd-smoke-tests/kafka/src/main/java/datadog/smoketest/kafka/iast/IastMessage.java
  dd-smoke-tests/kafka/src/test/groovy/IastKafkaSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
  internal-api/src/test/groovy/datadog/trace/api/iast/telemetry/IastMetricTest.groovy
  settings.gradle
Labels: comp: asm iast

#6593 Migrate from docker:runner to arch:amd64
  .gitlab-ci.yml
Labels: tag: no release notes
