Repository DataDog/dd-trace-java, pull requests merged in 2025-08, with the labels that each got.

#9285 Add URI in string primitives
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/WellKnownClasses.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/SubStringExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/EndsWithExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/MatchesExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/StartsWithExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/SubStringExpressionTest.java
Labels: type: bug, comp: debugger

#9288 Avoid using GITHUB_TOKEN for PR creation
  .github/chainguard/self.update-docker-build-image.create-pr.sts.yaml
  .github/chainguard/self.update-gradle-dependencies.create-pr.sts.yaml
  .github/workflows/update-docker-build-image.yaml
  .github/workflows/update-gradle-dependencies.yaml
Labels: tag: no release notes

#9277 Update Endpoint discovery model
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/RequestMappingInfoIterator.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/RequestMappingInfoWithPathPatternsIterator.java
  internal-api/src/main/java/datadog/trace/api/telemetry/Endpoint.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
Labels: type: enhancement, tag: no release notes, inst: spring

#9228 Replace `shipkit-auto-version` by custom version plugin
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/integTest/kotlin/datadog/gradle/plugin/version/TracerVersionIntegrationTest.kt
  buildSrc/src/main/kotlin/datadog/gradle/plugin/version/GitCommandValueSource.kt
  buildSrc/src/main/kotlin/datadog/gradle/plugin/version/TracerVersionPlugin.kt
Labels: tag: no release notes, comp: tooling

#9298 Fix `FootprintForkedTest` that was also measuring Spock mock
  dd-trace-core/build.gradle
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/FootprintForkedTest.groovy
Labels: tag: no release notes, type: refactoring, comp: metrics

#9287 Added time to error message when port open timed out.
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/PortUtils.java
  dd-java-agent/testing/src/test/groovy/utils/PortUtilsTest.groovy
Labels: comp: testing, tag: no release notes

#9303 Add policy for GHA workflow
  .github/chainguard/self.update-jmxfetch-submodule.create-pr.sts.yaml
Labels: type: enhancement, tag: no release notes

#9304 Fix docker build update workflow
  .github/workflows/update-docker-build-image.yaml
Labels: type: bug, tag: no release notes

#9300 Fix small gradle mistakes
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-23/build.gradle
  dd-java-agent/instrumentation/servlet/request-3/build.gradle
  dd-java-agent/instrumentation/servlet/request-5/build.gradle
  dd-smoke-tests/springboot-tomcat/build.gradle
  dd-smoke-tests/wildfly/build.gradle
  gradle/publish.gradle
Labels: tag: no release notes, comp: tooling

#9278 Improve tag propagation between test event levels
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/AbstractTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/SpanTagsPropagator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemModuleImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/BuildSystemSessionImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestSession.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/SpanTagsPropagatorTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
Labels: type: enhancement, comp: ci visibility

#9317 Update GHA workflows to avoid creating PRs if no changes to commit
  .github/workflows/update-docker-build-image.yaml
  .github/workflows/update-jmxfetch-submodule.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#9315 Configure lazily `MuzzlePlugin`
  buildSrc/src/main/groovy/MuzzlePlugin.groovy
Labels: tag: no release notes, comp: tooling

#9332 Allow `testJvm` property to receive paths
  gradle/java_no_deps.gradle
Labels: tag: no release notes, comp: tooling

#9184 Make rum injector stream/writer more resilient to errors
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStreamTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriterTest.groovy
Labels: type: enhancement, comp: rum

#9334 Properly handle trace agent IPv6 URL in profiling
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: bug, comp: profiling

#9323 Improve RUM injection matching and avoid truncating responses
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/RumServlet.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/RumServlet.groovy
  dd-smoke-tests/rum/src/main/groovy/datadog/smoketest/rum/AbstractRumServerSmokeTest.groovy
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/XmlServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/XmlServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/XmlServlet.java
Labels: type: bug, comp: rum

#9340 🍒 9184 - Make rum injector stream/writer more resilient to errors
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStreamTest.groovy
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriterTest.groovy
Labels: type: enhancement, comp: rum

#9333 Support async servlet for RUM injection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/AsyncRumServlet.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-smoke-tests/rum/src/main/groovy/datadog/smoketest/rum/AbstractRumServerSmokeTest.groovy
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/Main.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/Main.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/Main.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/rum/RumInjector.java
  internal-api/src/test/groovy/datadog/trace/api/rum/RumInjectorTest.groovy
Labels: type: enhancement, comp: rum

#9342 🍒 9323 - Improve RUM injection matching and avoid truncating responses
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-3/src/testFixtures/groovy/datadog/trace/instrumentation/servlet3/RumServlet.groovy
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/RumServlet.groovy
  dd-smoke-tests/rum/src/main/groovy/datadog/smoketest/rum/AbstractRumServerSmokeTest.groovy
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/XmlServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/XmlServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/XmlServlet.java
Labels: type: bug, comp: rum

#9343 🍒 9333 - Support async servlet for RUM injection
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeOutputStream.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/buffer/InjectingPipeWriter.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Instrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/WrappedServletOutputStream.java
  dd-java-agent/instrumentation/servlet/request-5/src/testFixtures/groovy/datadog/trace/instrumentation/servlet5/AsyncRumServlet.groovy
  dd-java-agent/instrumentation/tomcat-5.5/src/latestDepTest/groovy/TomcatServletTest.groovy
  dd-smoke-tests/rum/src/main/groovy/datadog/smoketest/rum/AbstractRumServerSmokeTest.groovy
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-10/src/main/java/com/example/Main.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-11/src/main/java/com/example/Main.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/HtmlAsyncServlet.java
  dd-smoke-tests/rum/tomcat-9/src/main/java/com/example/Main.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/main/java/datadog/trace/api/rum/RumInjector.java
  internal-api/src/test/groovy/datadog/trace/api/rum/RumInjectorTest.groovy
Labels: type: enhancement, comp: rum

#9328 Fixed flaky test for play-2.8: Source directory '.../routes' is not a directory.
  dd-smoke-tests/play-2.8/build.gradle
Labels: comp: testing, tag: no release notes

#9348 Circle CI leftovers cleanup.
  .circleci/config.yml
Labels: tag: no release notes, type: refactoring

#9353 Avoid NPE on featureDiscovery creation
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
Labels: type: bug, comp: core

#9354 🍒 9353 - Avoid NPE on featureDiscovery creation
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
Labels: type: bug, comp: core

#9351 Use magic mirror depot rather than artifactual for maven central proxy
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#9339 🍒 9334 - Properly handle trace agent IPv6 URL in profiling
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: bug, comp: profiling

#9357 Fix for play-2.8 'Source directory xxx is not a directory.`
  dd-smoke-tests/play-2.8-split-routes/build.gradle
  dd-smoke-tests/play-2.8/build.gradle
  dd-smoke-tests/play-common/fix-play-routes.gradle
Labels: comp: testing, tag: no release notes

#9364 Add policy for add-release-to-cloudfoundry
  .github/chainguard/self.add-release-to-cloudfoundry.sts.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#9366 Updated flaky tests.
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
Labels: comp: testing, tag: no release notes

#9377 Implement health metrics for client stats
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/MetricsAggregatorFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/ConflatingMetricAggregatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/FootprintForkedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/MetricsAggregatorFactoryTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/MetricsReliabilityTest.groovy
Labels: type: enhancement, comp: metrics

#9385 Ensure minimum number of fuzz tests on TagsMap
  internal-api/src/main/java/datadog/trace/api/TagMap.java
  internal-api/src/test/java/datadog/trace/api/TagMapFuzzTest.java
  internal-api/src/test/java/datadog/trace/api/TagMapTest.java
Labels: comp: testing, tag: no release notes, type: refactoring

#9394 Fix health metrics report size
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
Labels: type: bug, tag: no release notes, comp: metrics

#9397 Test `PekkoHttpServerInstrumentationAsyncHttp2Test.test exception` marked as flaky.
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: comp: testing, tag: no release notes

#9299 Report config_id for Hands Off Config files
  boolean-conversion-proposal.md
  internal-api/src/main/java/datadog/trace/api/ConfigCollector.java
  internal-api/src/main/java/datadog/trace/api/ConfigSetting.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/stableconfig/StableConfig.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigCollectorTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigSourceTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/test/groovy/datadog/telemetry/EventSourceTest.groovy
Labels: type: enhancement, comp: telemetry

#9402 🍒 9401 - Properly fall-back on UDS profiling URL
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: bug, comp: profiling

#9392 Avoid multiple injections on dispatch on jboss
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/rum/RumControllableResponse.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/RumHttpServletResponseWrapper.java
  dd-java-agent/instrumentation/servlet/request-3/src/main/java/datadog/trace/instrumentation/servlet3/Servlet3Advice.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/JakartaServletInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumAsyncContextInstrumentation.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletRequestWrapper.java
  dd-java-agent/instrumentation/servlet/request-5/src/main/java/datadog/trace/instrumentation/servlet5/RumHttpServletResponseWrapper.java
  dd-smoke-tests/rum/src/main/groovy/datadog/smoketest/rum/AbstractRumServerSmokeTest.groovy
  dd-smoke-tests/rum/wildfly-15/build.gradle
  dd-smoke-tests/rum/wildfly-15/gradle.lockfile
  dd-smoke-tests/rum/wildfly-15/rum-ear/.gitignore
  dd-smoke-tests/rum/wildfly-15/rum-ear/build.gradle
  dd-smoke-tests/rum/wildfly-15/rum-ear/settings.gradle
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/build.gradle
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/java/com/example/HtmlJspFilter.java
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/java/com/example/HtmlServlet.java
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/java/com/example/XmlServlet.java
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/webapp/WEB-INF/beans.xml
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/webapp/WEB-INF/web.xml
  dd-smoke-tests/rum/wildfly-15/rum-ear/war/src/main/webapp/jsp/html.jsp
  dd-smoke-tests/rum/wildfly-15/src/test/groovy/datadog/smoketest/Wildfly15RumSmokeTest.groovy
  settings.gradle.kts
Labels: type: bug, comp: rum

#9412 Fix using SpanAttribute annotation on multiple parameters
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/main/java/datadog/trace/instrumentation/opentelemetry/annotations/WithSpanDecorator.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/groovy/SpanAttributeAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.20/src/test/java/annotatedsample/TracedMethods.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/test/groovy/AddingSpanAttributesAnnotationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/test/java/annotatedsample/AnnotatedMethods.java
Labels: type: bug, inst: opentelemetry

#9418 Test `IastOverheadControlSpringBootSmokeTest.Test that all the vulnerabilities are detected` marked as flaky.
  dd-smoke-tests/springboot/src/test/groovy/datadog/smoketest/IastOverheadControlSpringBootSmokeTest.groovy
Labels: comp: testing, tag: no release notes

#9427 Provide access to the captured Context from its Continuation
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  internal-api/build.gradle.kts
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
Labels: type: refactoring, comp: api

#9384 Migrate instrumentations to Context API
  dd-java-agent/instrumentation/aws-java/aws-java-dynamodb-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/dynamodb/DynamoDbInterceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-eventbridge-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/eventbridge/EventBridgeInterceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-s3-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/s3/S3Interceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsSdkClientDecorator.java
  dd-java-agent/instrumentation/aws-java/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-sfn-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sfn/SfnInterceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-sns-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sns/SnsInterceptor.java
  dd-java-agent/instrumentation/aws-java/aws-java-sqs-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sqs/SqsInterceptor.java
Labels: type: refactoring, comp: context propagation

#9408 Move base and peer service adder before span is published
  dd-trace-core/src/main/java/datadog/trace/core/CoreSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/SimpleSpan.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceGenerator.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceGenerator.groovy
Labels: type: enhancement, comp: core

#9435 Tests: implemented switch from `logback` to `slf4j-simple` when needed.
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/build.gradle
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/test/groovy/VirtualThreadTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  gradle/slf4j-simple.gradle
Labels: comp: testing, tag: no release notes

#9438 Limit latest deps of spring-boot to 3.x
  dd-java-agent/instrumentation/spring-security-6/build.gradle
Labels: tag: no release notes, tag: dependencies, comp: asm waf
