Repository DataDog/dd-trace-java, pull requests merged in 2025-01, with the labels that each got.

#8140 Update system-test commit to 752456136fab0642446d124ead05aa7d8f4fa5c4
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8108 Update user lifecycle tracking to V3
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/user/AppSecEventTrackerImpl.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-6/src/test/groovy/datadog/trace/instrumentation/springsecurity6/SpringBootBasedTest.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
  internal-api/src/main/java/datadog/trace/api/appsec/LoginEventCallback.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/main/java/datadog/trace/api/telemetry/LoginEvent.java
  internal-api/src/main/java/datadog/trace/api/telemetry/LoginFramework.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: type: enhancement, comp: asm waf

#8142 Increase timeout in Gradle Launcher smoke tests
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleLauncherSmokeTest.groovy
Labels: comp: testing, tag: no release notes, run-tests: all

#8145 Retry open connection on lettuce 5 tests
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5ReactiveClientTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#8144 Consistency: instrumentation classes should be in files ending with `Instrumentation.java`
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/CommonsFileuploadInstrumentation.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemInstrumentation.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemIteratorInstrumentation.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/FileItemStreamInstrumentation.java
  dd-java-agent/instrumentation/commons-fileupload/src/main/java/datadog/trace/instrumentation/commons/fileupload/ServletFileUploadInstrumentation.java
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemInstrumentationTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemIteratorInstrumentationTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/FileItemStreamInstrumentationTest.groovy
  dd-java-agent/instrumentation/commons-fileupload/src/test/groovy/ServletFileUploadInstrumentationTest.groovy
Labels: inst: others, tag: no release notes, type: refactoring

#8150 Refactor exploration tests
  .gitlab/exploration-tests.yml
  dd-java-agent/agent-debugger/exploration-tests/.sdkmanrc
  dd-java-agent/agent-debugger/exploration-tests/Dockerfile.exploration-tests
  dd-java-agent/agent-debugger/exploration-tests/exclude_jackson-databind.txt
  dd-java-agent/agent-debugger/exploration-tests/include_jackson-core.txt
  dd-java-agent/agent-debugger/exploration-tests/include_jackson-databind.txt
  dd-java-agent/agent-debugger/exploration-tests/jackson-core_exploration-tests.patch
Labels: type: enhancement, comp: testing, tag: no release notes, comp: debugger

#8153 Support instrumentation of repackaged libraries
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ShadedAdviceLocator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AdviceShader.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/InstrumenterModule.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleGenerator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
Labels: type: feature request, comp: tooling

#8154 Group `javax.jms` instrumentations under a single module
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JavaxJmsModule.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
Labels: type: refactoring, inst: jms

#8157 Instrument EMR's relocated AWS SDK
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AwsSdkModule.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/EmrSdkModule.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/HandlerChainFactoryInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestExecutorInstrumentation.java
Labels: type: feature request, inst: aws sdk

#8133 Remove restriction to not run vertx4 latest tests on java 17
  dd-java-agent/instrumentation/vertx-web-4.0/build.gradle
Labels: type: bug, comp: testing, inst: vertx, run-tests: ubuntu17

#8155 Re-use `javax` JMS module for `jakarta` namespace
  dd-java-agent/instrumentation/jakarta-jms/build.gradle
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/DatadogMessageListener.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MessageExtractAdapter.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MessageInjectAdapter.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/MessageInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jakarta/jms/SessionInstrumentation.java
  dd-java-agent/instrumentation/jakarta-jms/src/main/java/datadog/trace/instrumentation/jms/JakartaJmsModule.java
  dd-java-agent/instrumentation/jms/build.gradle
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSDecorator.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JavaxJmsModule.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MDBMessageConsumerInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/MessageInstrumentation.java
  dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/SessionInstrumentation.java
Labels: type: refactoring, inst: jms

#8160 disable telemetry for MethodHandle lookups
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
Labels: type: enhancement, tag: no release notes, comp: debugger

#8164 Remove custom scope manager support
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-ot/src/main/java/datadog/opentracing/CustomScopeManagerWrapper.java
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/ot31CompatibilityTest/groovy/OT31ApiTest.groovy
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/CustomScopeManagerTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/DDTracerTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/IterationSpansForkedTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScopeManager.java
Labels: type: refactoring, comp: opentracing

#8170 Squash AgentSpan.Attributes with SpanAttributes
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelConventions.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpanLink.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanAttributes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanLink.java
Labels: comp: core, tag: no release notes, type: refactoring

#8166 Reactor: early propagate span in context when subscribing
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/ContextSpanHelper.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/CorePublisherInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/CoreSubscriberInstrumentation.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
Labels: type: bug, inst: reactor

#8103 K8s Lib Injection tests new scenarios
  .gitlab-ci.yml
Labels: tag: no release notes, type: refactoring, comp: tooling

#8165 Cancel running PR check jobs
  .github/workflows/check-pull-requests.yaml
Labels: tag: no release notes, comp: tooling

#8137 Clean up DSM pathway binary encoding
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/google-pubsub/src/main/java/datadog/trace/instrumentation/googlepubsub/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/NoopTextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/TextMapInjectAdapterInterface.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/NoopTextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapExtractAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/TextMapInjectAdapterInterface.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/ProcessorRecordContextSetter.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/ProcessorRecordContextVisitor.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/StampedRecordContextSetter.java
  dd-java-agent/instrumentation/kafka-streams-0.11/src/main/java/datadog/trace/instrumentation/kafka_streams/StampedRecordContextVisitor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextInjector.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultPathwayContext.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DefaultPathwayContextTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/PathwayContext.java
Labels: comp: core, tag: no release notes, type: refactoring, comp: data streams

#8173 Bump ddprof to 1.18.0
  gradle/libs.versions.toml
Labels: type: enhancement, tag: dependencies, comp: profiling

#8106 Switch to mandatory issue templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  SECURITY.md
Labels: type: documentation, tag: no release notes

#8128 Increase IAST propagation to StringBuffer setLength
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringBuilderCallSite.java
  dd-java-agent/instrumentation/java-lang/src/test/groovy/datadog/trace/instrumentation/java/lang/StringBuilderCallSiteTest.groovy
Labels: type: enhancement, comp: asm iast

#8179 fix github issue creation
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: tag: no release notes

#8183 Skip jacoco coverage for internal class
  internal-api/build.gradle
Labels: comp: testing, tag: no release notes

#8175 Add security control metrics
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/securitycontrol/IastSecurityControlTransformerForkedTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/iast/telemetry/IastMetric.java
Labels: type: enhancement, comp: asm iast

#8184 Move Trace/SpanId capture at commit time
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: type: enhancement, tag: performance, comp: debugger

#8193 Ensure shaded helpers have unique names when injected into class-loaders
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ShadedAdviceLocator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AdviceShader.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
Labels: type: bug, comp: tooling

#8167 Add support for session tracking in Vertx
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RoutingContextImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RoutingContextSessionAdvice.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/VertxTestServer.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RoutingContextImplInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RoutingContextSessionAdvice.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/VertxTestServer.java
Labels: type: enhancement, comp: asm waf, inst: vertx

#8192 Ensure shaded helpers have unique names when injected into class-loaders
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/CombiningTransformerBuilder.java
  dd-java-agent/agent-builder/src/main/java/datadog/trace/agent/tooling/ShadedAdviceLocator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AdviceShader.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
Labels: type: bug, comp: tooling

#8194 🍒 8190 Fix source and destination folders computation for Android Gradle projects
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/AndroidGradleUtils.groovy
Labels: type: bug, comp: ci visibility

#8195 🍒 8187 - Fix crash using Mule with JPMS
  dd-java-agent/instrumentation/mule-4/build.gradle
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/JpmsMuleInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java11/datadog/trace/instrumentation/mule4/JpmsAdvisingHelper.java
  dd-java-agent/instrumentation/mule-4/src/main/java11/datadog/trace/instrumentation/mule4/JpmsClearanceAdvice.java
Labels: type: bug, inst: others

#8191 TempLocationManager Fixes and Improvements
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: type: bug, comp: profiling, run-tests: semeru11

#8187 Fix crash using Mule with JPMS
  dd-java-agent/instrumentation/mule-4/build.gradle
  dd-java-agent/instrumentation/mule-4/src/main/java/datadog/trace/instrumentation/mule4/JpmsMuleInstrumentation.java
  dd-java-agent/instrumentation/mule-4/src/main/java11/datadog/trace/instrumentation/mule4/JpmsAdvisingHelper.java
  dd-java-agent/instrumentation/mule-4/src/main/java11/datadog/trace/instrumentation/mule4/JpmsClearanceAdvice.java
Labels: type: bug, inst: others

#8161 Introduce context propagation API
  components/context/src/main/java/datadog/context/Context.java
  components/context/src/main/java/datadog/context/ContextBinder.java
  components/context/src/main/java/datadog/context/ContextKey.java
  components/context/src/main/java/datadog/context/package-info.java
  components/context/src/main/java/datadog/context/propagation/CarrierSetter.java
  components/context/src/main/java/datadog/context/propagation/CarrierVisitor.java
  components/context/src/main/java/datadog/context/propagation/CompositePropagator.java
  components/context/src/main/java/datadog/context/propagation/Concern.java
  components/context/src/main/java/datadog/context/propagation/NoopPropagator.java
  components/context/src/main/java/datadog/context/propagation/Propagator.java
  components/context/src/main/java/datadog/context/propagation/Propagators.java
  components/context/src/main/java/datadog/context/propagation/package-info.java
  components/context/src/test/java/datadog/context/propagation/ConcernTest.java
  components/context/src/test/java/datadog/context/propagation/PropagatorsTest.java
Labels: type: enhancement, comp: core

#8198 Update system-tests to 2d531d6f809cfcdd5d6d375f92bda86202dea332
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8169 Capture values at entry for method probe
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/TriggerProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: bug, comp: debugger

#8072 Add IAST taint tracking for DB values
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/SinkModuleBase.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/taint/RangesTest.groovy
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/IastResultSetInstrumentation.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/IastResultSetInstrumentationTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/iast/SourceTypes.java
Labels: type: enhancement, comp: asm iast

#8214 Remove flakiness from field-injection smoke test
  dd-smoke-tests/field-injection/src/main/java/datadog/smoketest/fieldinjection/FieldInjectionApp.java
  dd-smoke-tests/field-injection/src/test/groovy/datadog/smoketest/FieldInjectionSmokeTest.groovy
Labels: comp: testing, tag: no release notes, type: refactoring

#8211 Don't redact env tokens from debugger probe snapshots
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
Labels: type: bug, comp: debugger

#8217 Make sure background/shutdown threads are in AGENT_THREAD_GROUP
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
Labels: type: enhancement, comp: core, tag: no release notes

#8206 Add Docker build image update automation
  .github/workflows/README.md
  .github/workflows/create-next-milestone.yaml
  .github/workflows/update-docker-build-image.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#8212 Fix BitSet builder in VulnerabilityTypes
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/Ranges.java
Labels: type: bug, tag: no release notes, comp: asm iast

#8225 Use method enter advices for vert.x session blocking
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RoutingContextSessionAdvice.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RoutingContextSessionAdvice.java
Labels: type: enhancement, tag: no release notes, comp: asm waf, inst: vertx

#7984 Support IPv6 values for `DD_AGENT_HOST` and `DD_TRACE_AGENT_URL`
  communication/src/test/groovy/datadog/communication/ddagent/SharedCommunicationsObjectsSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: core

#8186 Propagation of translateEscapes of String class
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-15/build.gradle
  dd-java-agent/instrumentation/java-lang/java-lang-15/src/main/java/datadog/trace/instrumentation/java/lang/jdk15/StringCallSite.java
  dd-java-agent/instrumentation/java-lang/java-lang-15/src/test/groovy/datadog/trace/instrumentation/java/lang/jdk15/StringCallSiteTest.groovy
  dd-java-agent/instrumentation/java-lang/java-lang-15/src/test/java/foo/bar/TestStringJDK15Suite.java
  dd-smoke-tests/iast-util/iast-util-17/build.gradle
  dd-smoke-tests/iast-util/iast-util-17/src/main/java/datadog/smoketest/springboot/controller/StringOperationController.java
  dd-smoke-tests/iast-util/iast-util-17/src/testFixtures/groovy/datadog/smoketest/AbstractIast17SpringBootTest.groovy
  dd-smoke-tests/springboot-java-17/build.gradle
  dd-smoke-tests/springboot-java-17/src/main/java/datadog/smoketest/springboot/SpringbootApplication.java
  dd-smoke-tests/springboot-java-17/src/test/groovy/datadog/smoketest/springboot/IastSpringBootSmokeTest.groovy
  internal-api/src/main/java/datadog/trace/api/iast/propagation/StringModule.java
  settings.gradle
Labels: type: enhancement, comp: asm iast, inst: java

#8222 Test http server requests in parallel
  dd-java-agent/instrumentation/servlet/request-3/src/test/groovy/JettyServlet3Test.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: type: enhancement, comp: testing

#8234 Decouple test JDK and gradle JDK in karate latestDepTest
  dd-java-agent/instrumentation/karate/build.gradle
Labels: comp: testing, tag: no release notes, comp: ci visibility

#8229 Ensure cached subscriptions are cleared on reconfiguration via RC
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: type: bug, comp: asm waf

#8241 Remove flakiness from CustomLogManagerTest and CustomMBeanServerBuilder
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomLogManagerTest.groovy
  dd-java-agent/src/test/groovy/datadog/trace/agent/CustomMBeanServerBuilderTest.groovy
Labels: type: bug, comp: testing, tag: no release notes

#8237 Fix vertx worker propagation and error handling
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/WrapRunnableAsNewTaskInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/build.gradle
  dd-java-agent/instrumentation/vertx-web-4.0/src/latestDepTest/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/latestDepTest/groovy/server/VertxServer.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/client/HttpClientRequestBaseInstrumentation.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/client/VertxHttpClientForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/IastVertxHttpServerTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxHttpServerForkedTest.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/groovy/server/VertxServer.groovy
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/VertxTestServer.java
Labels: type: bug, inst: vertx

#8215 Enhance log probes to honor debug session tags
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/DebugSessionStatus.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ProbeDefinition.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/TriggerProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/trigger/TriggerProbeTest.java
Labels: type: enhancement, comp: debugger

#8236 Decouple test JDK and gradle JDK in selenium latestDepTest
  dd-java-agent/instrumentation/selenium/build.gradle
  dd-java-agent/instrumentation/selenium/src/latestDepTest/resources/test-succeed-multiple/events.ftl
Labels: type: enhancement, comp: testing, tag: no release notes, comp: ci visibility

#8228 Valkey intrumentation support
  dd-java-agent/instrumentation/valkey-java/build.gradle
  dd-java-agent/instrumentation/valkey-java/src/main/java/datadog/trace/instrumentation/valkey/ValkeyInstrumentation.java
  dd-java-agent/instrumentation/valkey-java/src/main/java/io/valkey/ValkeyClientDecorator.java
  dd-java-agent/instrumentation/valkey-java/src/test/groovy/ValkeyClientTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
  settings.gradle
Labels: type: enhancement, inst: others, tag: community

#8247 Revert "Add avoid double instrumenting lambda non-streaming handlers."
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
Labels: type: bug, inst: aws sdk, tag: serverless

#8246 Remove unused CI Visibility test fixtures
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/coverages.ftl
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-itr-skipping-parameterized-spec-setup/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-known-parameterized-test/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-known-parameterized-test/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-known-test/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-known-test/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-new-very-slow-test/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-efd-new-very-slow-test/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-retry-analyzer/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-retry-analyzer/events.ftl
Labels: comp: testing, tag: no release notes, type: refactoring

#8249 Compile latest dep tests for Karate with Java 11
  dd-java-agent/instrumentation/karate/build.gradle
Labels: type: enhancement, comp: testing, tag: no release notes, comp: ci visibility

#8232 Exclude false positive weak randomness
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: bug, comp: asm iast

#8240 Add check_debugger job to CI
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ReflectiveFieldValueResolver.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: comp: testing, tag: no release notes

#8251 Add debug logging to Android Gradle module layout logic
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/AndroidGradleUtils.groovy
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector_8_10.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListenerInjector_8_3.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPlugin.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityPluginExtension.java
Labels: type: enhancement, comp: ci visibility

#8244 Apply the standard nomenclature to the stacktrace configs
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/IastConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: asm waf, comp: asm iast

#8253 Fix NPE when trying to get retry analyzer in Test NG
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
Labels: type: enhancement, comp: ci visibility

#8189 Add basic Scala Weaver sbt support
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/TracingListener.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/weaver/build.gradle
  dd-java-agent/instrumentation/weaver/gradle.lockfile
  dd-java-agent/instrumentation/weaver/src/main/java/datadog/trace/instrumentation/weaver/DatadogWeaverReporter.java
  dd-java-agent/instrumentation/weaver/src/main/java/datadog/trace/instrumentation/weaver/TaskDefAwareQueueProxy.java
  dd-java-agent/instrumentation/weaver/src/main/java/datadog/trace/instrumentation/weaver/WeaverInstrumentation.java
  dd-java-agent/instrumentation/weaver/src/main/java/datadog/trace/instrumentation/weaver/WeaverUtils.java
  dd-java-agent/instrumentation/weaver/src/main/scala/datadog/trace/instrumentation/weaver/WeaverIntegrationTestRunner.scala
  dd-java-agent/instrumentation/weaver/src/test/groovy/WeaverTest.groovy
  dd-java-agent/instrumentation/weaver/src/test/resources/test-canceled/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-canceled/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed-exception-pure/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed-exception-pure/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed-pure/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed-pure/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-failed/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-ignored/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-ignored/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-global-resource/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-global-resource/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-pure/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-pure/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-suite-resource/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeed-suite-resource/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeeded/coverages.ftl
  dd-java-agent/instrumentation/weaver/src/test/resources/test-succeeded/events.ftl
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestCanceled.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestFailed.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestFailedExceptionPure.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestFailedPure.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestIgnored.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestSucceed.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestSucceedGlobalResource.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestSucceedPure.scala
  dd-java-agent/instrumentation/weaver/src/test/scala/org/example/TestSucceedSuiteResource.scala
  gradle/configure_tests.gradle
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/TestFrameworkInstrumentation.java
  settings.gradle
Labels: type: enhancement, comp: ci visibility

#8256 Assign ci-app-libraries-java as owners of Weaver instrumentation
  .github/CODEOWNERS
Labels: type: documentation, tag: no release notes, comp: ci visibility

#8196 Remove tag from backported PR titles
  tooling/backport-pr-to-patch-release.sh
Labels: type: bug, tag: no release notes, comp: tooling

#8254 Add failing Kotlin coroutine tests
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/groovy/datadog/trace/instrumentation/kotlin/coroutines/AbstractKotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/kotlin/datadog/trace/instrumentation/kotlin/coroutines/CoreKotlinCoroutineTests.kt
Labels: type: bug, inst: kotlin

#8255 Fix test name uniqueness
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
Labels: comp: testing, tag: no release notes

#8258 Prevents a NPE when there is no subscriber for user events
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/AppSecDeferredContext.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
Labels: type: bug, comp: asm waf

#8257 Re-enable profiler for Java9ModulesSmokeTest
  dd-smoke-tests/java9-modules/src/test/groovy/datadog/smoketest/Java9ModulesSmokeTest.groovy
Labels: type: bug, tag: no release notes, comp: profiling

#8261 Upgrade actions/cache before it breaks
  .github/workflows/analyze-changes.yaml
Labels: tag: no release notes, comp: tooling

#8260 🍒 8258 - Prevents a NPE when there is no subscriber for user events
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/AppSecDeferredContext.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
Labels: type: bug, comp: asm waf

#8231 Move async propagation API from scope to tracer
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/instrumentation/akka-concurrent/src/test/groovy/AkkaExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/hystrix-1.4/src/main/java/datadog/trace/instrumentation/hystrix/HystrixThreadPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/test/groovy/CompletableFutureTest.groovy
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/test/groovy/VirtualThreadTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/AsyncPropagatingDisableInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/ExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/NettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/RejectedExecutionTest.groovy
  dd-java-agent/instrumentation/jetty-util/src/test/groovy/JettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/kotlin/datadog/trace/instrumentation/kotlin/coroutines/CoreKotlinCoroutineTests.kt
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelScope.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-java-agent/instrumentation/play-2.3/src/main/java/datadog/trace/instrumentation/play23/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-2.4/src/main/java/datadog/trace/instrumentation/play24/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-2.6/src/main/java/datadog/trace/instrumentation/play26/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-ws-1/src/main/java/datadog/trace/instrumentation/playws1/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2.1/src/main/java/datadog/trace/instrumentation/playws21/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2/src/main/java/datadog/trace/instrumentation/playws2/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/reactor-core-3.1/src/latestDepTest/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/reactor-core-3.1/src/test/groovy/ReactorCoreTest.groovy
  dd-java-agent/instrumentation/rxjava-2/src/test/groovy/RxJava2Test.groovy
  dd-java-agent/instrumentation/scala-concurrent/src/test/groovy/ScalaExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/scala-promise/src/test/groovy/ScalaPromiseTestBase.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Advice.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpannedMethodInvocation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/TraceUtils.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  dd-trace-api/src/main/java/datadog/trace/api/Tracer.java
  dd-trace-api/src/main/java/datadog/trace/context/NoopTraceScope.java
  dd-trace-api/src/main/java/datadog/trace/context/TraceScope.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceStrictWriteTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/OpenTracingAPITest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, type: refactoring

#8218 Add testcase source file attribute to JUnit XML reports
  .circleci/collect_results.sh
Labels: type: enhancement, tag: no release notes, comp: tooling

#8250 Allow use of span as a primordial context
  components/context/src/main/java/datadog/context/Context.java
  components/context/src/test/java/datadog/context/ContextTest.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Constants.java
  dd-java-agent/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  gradle/dependencies.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalContextKeys.java
Labels: comp: core, tag: no release notes, type: refactoring

#8075 Create S3 instrumentation + add span pointers
  dd-java-agent/instrumentation/aws-java-s3-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-s3-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/s3/S3ClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-s3-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/s3/S3Interceptor.java
  dd-java-agent/instrumentation/aws-java-s3-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/s3/TextMapInjectAdapter.java
  dd-java-agent/instrumentation/aws-java-s3-2.0/src/test/groovy/S3ClientTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TraceInstrumentationConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/BaseServiceAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PayloadTagsProcessor.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PeerServiceCalculator.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/PostProcessorChain.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/QueryObfuscator.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/RemoteHostnameAdder.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/SpanPointersProcessor.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessor.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/BaseServiceAdderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PayloadTagsProcessorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PeerServiceCalculatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/PostProcessorChainTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/QueryObfuscatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/tagprocessor/SpanPointersProcessorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
  settings.gradle
Labels: type: feature request, tag: serverless, inst: aws s3

#8176 Remove filtering of `DD_SERVICE` and `DD_ENV` from the tracer
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
Labels: type: bug, comp: remote config

#8270 Optimize Git repository information computation
  internal-api/src/main/java/datadog/trace/api/git/GitInfoProvider.java
Labels: type: enhancement, tag: performance, comp: ci visibility

#8201 Change hash computation for protobuf to better represent impacting changes + save proto number in schema
  dd-java-agent/instrumentation/avro/src/main/java/datadog/trace/instrumentation/avro/SchemaExtractor.java
  dd-java-agent/instrumentation/protobuf/src/main/java/datadog/trace/instrumentation/protobuf_java/SchemaExtractor.java
  dd-java-agent/instrumentation/protobuf/src/test/groovy/com/datadog/instrumentation/protobuf/AbstractMessageInstrumentationTest.groovy
  dd-java-agent/instrumentation/protobuf/src/test/groovy/com/datadog/instrumentation/protobuf/DynamicMessageInstrumentationTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/SchemaBuilder.java
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/SchemaBuilderTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SchemaBuilder.java
Labels: type: enhancement, comp: data streams, inst: protobuf

#8272 Properly finish spans and support latest apache httpclient5
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpAsyncClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpAsyncClient5Test.groovy
  dd-java-agent/instrumentation/apache-httpclient-5/src/test/groovy/ApacheHttpClientTest.groovy
Labels: type: bug, inst: apache httpcomponents

#8267 Replace UUID.randomUUID() with RandomUtils.randomUUID()
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/dto/CrashLog.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/ProbeId.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/Snapshot.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/taint/TaintedObjects.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  gradle/forbiddenApiFilters/main.txt
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/RandomUtils.java
  internal-api/src/test/java/datadog/trace/util/RandomUtilsTest.java
  remote-config/remote-config-core/src/main/java/datadog/remoteconfig/PollerRequestFactory.java
Labels: type: enhancement, comp: core, tag: no release notes

#8262 Refactor CapturedSnapshotTest method/line probes
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
Labels: tag: no release notes, type: refactoring, comp: debugger

#8230 Add Exception probe custom instrumentation
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/CapturedContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/ExceptionInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/ExceptionProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
Labels: type: enhancement, comp: debugger

#8252 Set test framework and test framework version tags atomically
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/SpanUtils.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: type: bug, comp: ci visibility

#8224 Fix Docker build image update automation
  .github/workflows/update-docker-build-image.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#8279 Tag profiles for serverless
  dd-java-agent/agent-profiling/profiling-uploader/build.gradle
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/ProfileUploader.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: profiling, type:task

#8273 Avoid double snapshots for Exception Replay
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/DefaultExceptionDebugger.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/exception/ExceptionProbeManager.java
Labels: type: bug, comp: debugger

#8277 Institute a 10 snapshot per probe per trace budget
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: type: enhancement, comp: debugger

#8275 Introduce id-based line probe source matching
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/trigger/TriggerProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/utils/InstrumentationTestHelper.java
  dd-java-agent/agent-debugger/src/test/java/utils/TestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot01.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot02.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot03.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot04.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot05.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot06.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot07.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot08.java
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot101.scala
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot201.groovy
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot301.kt
  dd-java-agent/agent-debugger/src/test/resources/CapturedSnapshot302.kt
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot10.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot11.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot18.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot21.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot29.java
Labels: tag: no release notes, type: refactoring, comp: debugger

#8264 Properly capture lambda payloads for all handler types.
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/Handler.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/LambdaHandlerInstrumentationTest.groovy
  dd-trace-core/src/main/java/datadog/trace/lambda/LambdaHandler.java
  dd-trace-core/src/main/java/datadog/trace/lambda/ReadFromOutputStreamJsonAdapter.java
  dd-trace-core/src/test/groovy/datadog/trace/lambda/LambdaHandlerTest.groovy
Labels: type: bug, inst: aws lambda

#8283 Use two budgets depending on type
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: type: enhancement, comp: debugger

#8278 Remove redundant setJavaVersion calls in gradle
  dd-java-agent/instrumentation/java-lang/build.gradle
  dd-java-agent/instrumentation/java-net/build.gradle
  dd-java-agent/instrumentation/javax-naming/build.gradle
Labels: tag: no release notes, comp: tooling

#8286 Remove skip and shouldBeSkipped methods from TestEventsHandler in favor of isSkippable
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionResults.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4ItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockItrInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5SpockParameterizedRetryInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5ItrInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGItrInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: type: refactoring, comp: ci visibility

#8242 add queue type and length to queue events
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/QueueTimerHelper.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/events/QueueTimeEvent.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/DatadogProfiler.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/QueueTimeTracker.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/QueuedCommandInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/executor/ThreadPoolExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/forkjoin/JavaForkJoinPoolInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/forkjoin/JavaForkJoinWorkQueueInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/timer/JavaTimerInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/QueueTimingForkedTest.groovy
  dd-java-agent/instrumentation/netty-concurrent-4/src/main/java/datadog/trace/instrumentation/netty40/concurrent/SingleThreadEventExecutorInstrumentation.java
  dd-java-agent/instrumentation/netty-concurrent-4/src/test/groovy/TimingTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/TestProfilingContextIntegration.groovy
  gradle/libs.versions.toml
  internal-api/src/main/java/datadog/trace/api/profiling/QueueTiming.java
  internal-api/src/main/java/datadog/trace/api/profiling/Timing.java
Labels: type: enhancement, comp: profiling, type:task

#8287 Improve gitlab caching by adding a second cache
  .gitlab-ci.yml
  gradle/wrapper/gradle-wrapper.properties
Labels: tag: no release notes, comp: tooling

#8294 IAST doesn't actively make remote calls, so never delay starting it
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/IastSystemTest.groovy
Labels: type: enhancement, comp: core, tag: no release notes, comp: asm iast

#8291 Consider any custom security provider as potentially loading JUL
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: enhancement, comp: core, tag: no release notes, run-tests: ibm8

#8293 Preserve getQualifier from spring scheduling runnables
  dd-java-agent/instrumentation/spring-scheduling-3.1/build.gradle
  dd-java-agent/instrumentation/spring-scheduling-3.1/gradle.lockfile
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/groovy/ShedlockTest.groovy
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/groovy/SpringAsyncTest.groovy
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/groovy/SpringSchedulingTest.groovy
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/AsyncTask.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/AsyncTaskConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/IntervalTask.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/IntervalTaskConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/LambdaTaskConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/LambdaTaskConfigurer.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/SchedulingConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/ShedLockedTask.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/ShedlockConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/TriggerTask.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/latestDepTest/java/TriggerTaskConfig.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingInstrumentation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringSchedulingRunnableWrapper.java
Labels: type: bug, inst: spring

#8288 Generalize tests skipping logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberSkipInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/retry/Cucumber4RetryInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/retry/MUnitRetryInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SkipInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4SuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnitLegacySuiteEventsInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/SkippedByDatadog.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/retry/JUnit4RetryInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5CucumberSkipInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SpockSkipInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/SpockUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnit5SkipInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestSkipInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGSkipInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/SkipReason.java
Labels: type: refactoring, comp: ci visibility

#8289 Generalize test retry logic
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/NeverRetry.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/RetryIfFailed.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/retry/RetryNTimes.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/retry/RetryAwareNotifier.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5RetryInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/retry/TestDescriptorHandle.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateRetryInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/retry/TestExecutionWrapper.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/retry/RetryAnalyzer.java
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGClassListenerInstrumentation.java
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGRetryInstrumentation.java
  dd-java-agent/instrumentation/weaver/src/main/java/datadog/trace/instrumentation/weaver/DatadogWeaverReporter.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/retry/TestRetryPolicy.java
  internal-api/src/main/java/datadog/trace/api/civisibility/telemetry/tag/RetryReason.java
Labels: type: refactoring, comp: ci visibility

#8299 Parallelize CI Visibility settings requests
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApi.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/SkippableTests.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/JacocoCoverageCalculator.java
Labels: type: refactoring, comp: ci visibility

#8300 Add SymDB report for any jar scanning failures
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/JarScanner.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBReport.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolAggregator.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/JarScannerTest.java
Labels: type: enhancement, comp: debugger

#8295 Do not set test framework version tag if the value is null
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/utils/SpanUtils.java
Labels: type: bug, tag: no release notes, comp: ci visibility

#8304 Avoid unsupported API call for creating folders on windows
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
Labels: type: bug, comp: profiling

#8306 Add support for SymDB to scan directories
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBReport.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
Labels: type: enhancement, comp: debugger

#8307 Make jnr-unixsocket an explicit dependency of dd-trace-ot
  dd-trace-ot/build.gradle
  test-published-dependencies/ot-is-shaded/build.gradle
Labels: tag: breaking change, type: refactoring, comp: opentracing

#8303 Remove more test files from static analysis
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#8305 Clean up internal API excluded classes from coverage
  internal-api/build.gradle
Labels: comp: core, tag: no release notes, type: refactoring

#8281 Fix String.replace instrumentation for IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/propagation/StringModuleImpl.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/StringUtils.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/propagation/StringModuleTest.groovy
  dd-java-agent/instrumentation/java-lang/src/main/java/datadog/trace/instrumentation/java/lang/StringExperimentalCallSite.java
Labels: type: bug, comp: asm iast

#8269 Create span tag: _dd.appsec.rasp.timeout
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFStatsReporter.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFStatsReporterSpecification.groovy
Labels: type: enhancement, comp: asm iast

#8302 Generalize TestRetryPolicy to TestExecutionPolicy
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/execution/Regular.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/execution/RetryUntilSuccessful.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/execution/RunNTimes.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/buildsystem/ProxyTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/CucumberTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/JUnit4CucumberInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/main/java/datadog/trace/instrumentation/junit4/execution/Cucumber4ExecutionInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/execution/MUnitExecutionInstrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Instrumentation.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4TracingListener.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/execution/FailureSuppressingNotifier.java
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/execution/JUnit4ExecutionInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5SpockParameterizedExecutionInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5ExecutionInstrumentation.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/retry/JUnit5NodeTestTaskContextInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/ExecutionContext.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateExecutionInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/execution/ScalatestExecutionInstrumentation.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/execution/SuppressedTestFailedException.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/execution/TestExecutionWrapper.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TracingListener.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/execution/RetryAnalyzer.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/execution/RetryAnnotationTransformer.java
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/TestNGExecutionInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
  internal-api/src/main/java/datadog/trace/api/civisibility/execution/TestExecutionPolicy.java
  internal-api/src/main/java/datadog/trace/api/civisibility/retry/TestRetryPolicy.java
Labels: type: refactoring, comp: ci visibility

#7913 Add peer service tag in dbm sql commenter
  dd-java-agent/instrumentation/jdbc/src/jmh/java/datadog/trace/instrumentation/jdbc/SQLCommenterBenchmark.java
  dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trace/instrumentation/jdbc/SQLCommenter.java
  dd-java-agent/instrumentation/jdbc/src/test/groovy/SQLCommenterTest.groovy
Labels: comp: database, type:task

#8310 Add non default propagator registration
  components/context/src/main/java/datadog/context/EmptyContext.java
  components/context/src/main/java/datadog/context/IndexedContext.java
  components/context/src/main/java/datadog/context/SingletonContext.java
  components/context/src/main/java/datadog/context/propagation/CarrierSetter.java
  components/context/src/main/java/datadog/context/propagation/Propagators.java
  components/context/src/test/java/datadog/context/ContextTest.java
  components/context/src/test/java/datadog/context/propagation/PropagatorsTest.java
Labels: type: enhancement, comp: context propagation

#8312 Ensure IAST smoke tests wait for the product to be started
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastServerSmokeTest.groovy
Labels: type: enhancement, comp: testing, tag: no release notes, comp: asm iast

#8315 Add classes to be reinitialized during runtime
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
Labels: tag: community, comp: native-image, type:task

#8316 Assert test run status in CI Vis instrumentation tests
  dd-java-agent/instrumentation/junit-4.10/cucumber-junit-4/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-4.10/junit-4.13/src/test/groovy/JUnit413Test.groovy
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/test/groovy/MUnitTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/groovy/JUnit4Test.groovy
  dd-java-agent/instrumentation/junit-5.3/cucumber-junit-5/src/test/groovy/CucumberTest.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/groovy/JUnit58Test.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/SpockTest.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestFailedThenSucceedParameterizedSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/resources/test-parameterized-failed-then-succeed/events.ftl
  dd-java-agent/instrumentation/junit-5.3/src/test/groovy/JUnit5Test.groovy
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateExecutionInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateUtils.java
  dd-java-agent/instrumentation/karate/src/test/groovy/KarateTest.groovy
  dd-java-agent/instrumentation/karate/src/test/resources/test-retry-failed/events.ftl
  dd-java-agent/instrumentation/karate/src/test/resources/test-retry-parameterized/events.ftl
  dd-java-agent/instrumentation/scalatest/src/test/groovy/ScalatestTest.groovy
  dd-java-agent/instrumentation/testng/build.gradle
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-failed-then-succeed-6/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-failed-then-succeed-6/events.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-retry-failed-6/coverages.ftl
  dd-java-agent/instrumentation/testng/testng-6/src/test/resources/test-retry-failed-6/events.ftl
Labels: comp: testing, tag: no release notes, comp: ci visibility

#8318 Add tag to specify if the user is setting DD_SERVICE
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/interceptor/CiVisibilityApmProtocolInterceptor.java
  dd-trace-core/src/main/java/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1.java
  dd-trace-core/src/test/groovy/datadog/trace/civisibility/writer/ddintake/CiTestCycleMapperV1PayloadTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeApiTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/civisibility/CiVisibilityWellKnownTags.java
Labels: type: enhancement, comp: ci visibility
