Repository DataDog/dd-trace-java, pull requests merged in 2025-04, with the labels that each got.

#8649 When activating a span merge it with any non-span context
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#8572 Instrument Runtime.exit() to finish spark application spans
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkExitAdvice.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/SparkExitInstrumentation.java
Labels: type: enhancement, inst: apache spark

#8639 Fix the instrumentation to instrument at the exit line
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CodeOriginInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin05.java
Labels: type: enhancement, tag: no release notes, comp: debugger, inst: java

#8645 Migrate OtelContext wrapper to new internal Context API
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelScope.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/AgentTextMapPropagator.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextForkedTest.groovy
Labels: type: refactoring, inst: opentelemetry

#8525 Rename classes to better reflect their counterparts in libddwaf
  .circleci/config.continue.yml.j2
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/BenchmarkUtil.java
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/WafBenchmark.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/AppSecSpanPostProcessor.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFInitializationResultReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFResultData.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFStatsReporter.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WafInitialization.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/report/AppSecEvent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/StandardizedLogging.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/AppSecSpanPostProcessorTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/DataBundleMapWrapperSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/WAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/WAFStatsReporterSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecificationForkedTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/report/AppSecEventWrapperTest.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  telemetry/src/main/java/datadog/telemetry/log/LogPeriodicAction.java
Labels: tag: no release notes, type: refactoring, comp: asm waf

#8658 When continuing a span merge it with any non-span context
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#8646 Remove unused activeScope method
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: no release notes, type: refactoring

#8651 Avoid disconnected traces when using Kotlin flowOn
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/groovy/KotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/test/kotlin/KotlinCoroutineTests.kt
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/CoroutineContextHelper.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/groovy/datadog/trace/instrumentation/kotlin/coroutines/AbstractKotlinCoroutineInstrumentationTest.groovy
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/kotlin/datadog/trace/instrumentation/kotlin/coroutines/CoreKotlinCoroutineTests.kt
Labels: type: enhancement, inst: kotlin

#8659 Support CompletableFuture on spring webmvc controllers
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AsyncResultExtensions.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/ignored_class_name.trie
  dd-java-agent/instrumentation/spring-webmvc-3.1/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/AppConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/HandlerAdapterInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/InvocableHandlerMethodInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/SpringWebHttpServerDecorator.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/InvocableHandlerMethodInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java17/datadog/trace/instrumentation/springweb6/ControllerAdvice.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java17/datadog/trace/instrumentation/springweb6/SpringWebHttpServerDecorator.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java17/datadog/trace/instrumentation/springweb6/WrapContinuableResultAdvice.java
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/TestController.groovy
Labels: type: bug, inst: spring

#8662 Don't use strict trace writing for vertx sql tests
  dd-java-agent/instrumentation/vertx-mysql-client-3.9/src/test/groovy/VertxSqlClientForkedTest.groovy
  dd-java-agent/instrumentation/vertx-mysql-client-4.0/src/test/groovy/VertxSqlClientForkedTest.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#8663 Remove error log when source path resolution fails on isModified check
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
Labels: type: enhancement, comp: ci visibility

#8661 Remove process information from JFR recording
  dd-java-agent/agent-profiling/profiling-controller-jfr/src/main/resources/jfr/dd.jfp
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
Labels: type: bug, comp: profiling

#8629 Add buffer size customizability to JDK UDS support
  utils/socket-utils/src/main/java17/datadog/common/socket/TunnelingJdkSocket.java
  utils/socket-utils/src/test/java/datadog/common/socket/TunnelingJdkSocketTest.java
Labels: type: enhancement, comp: tooling

#8526 Support targeting services with configurations in stable configuration file
  components/yaml/build.gradle.kts
  components/yaml/src/main/java/datadog/yaml/YamlParser.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Constants.java
  dd-java-agent/build.gradle
  dd-java-agent/instrumentation/build.gradle
  dd-java-agent/instrumentation/snakeyaml/build.gradle
  dd-java-agent/testing/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  gradle/dependencies.gradle
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/StableConfigParser.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/StableConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/stableconfigyaml/ConfigurationMap.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/stableconfigyaml/Rule.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/stableconfigyaml/Selector.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/stableconfigyaml/StableConfigYaml.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigParserTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigSourceTest.groovy
  settings.gradle
Labels: type: enhancement, comp: core

#8670 Do not use strict write with latest lettuce
  dd-java-agent/instrumentation/lettuce-5/build.gradle
  dd-java-agent/instrumentation/lettuce-5/src/test/groovy/Lettuce5ClientTestBase.groovy
Labels: comp: testing, tag: no release notes, tag: flaky test

#8668 Bump ddprof to 1.23.0
  gradle/libs.versions.toml
Labels: type: enhancement, comp: profiling

#8624 Fix appsec.rasp.error and appsec.waf.error telemetry metrics
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/WAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: bug, comp: telemetry

#8671 Add profiler env check command to AgentCLI
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/OOMENotifierScriptInitializer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/profiler/EnvironmentChecker.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentJar.java
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: type: enhancement, comp: profiling

#8652 Remove dependency on bash from crash/oome uploder scripts
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/notify_oome.sh
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/upload_crash.sh
Labels: type: bug, comp: crash tracking

#8682 Prevent double reporting of Scalatest events when using SBT with test forking
  .circleci/config.continue.yml.j2
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/DatadogReporter.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/RunContext.java
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestForkInstrumentation.java
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: ci visibility

#8679 Fix In-Product when config is empty
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DefaultProductConfigUpdater.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DefaultProductConfigUpdaterTest.java
Labels: type: bug, comp: debugger

#8674 Remove unused TestEventsHandler methods
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: type: refactoring, comp: ci visibility

#8686 Delete print line
  utils/socket-utils/src/main/java17/datadog/common/socket/TunnelingJdkSocket.java
Labels: type: bug, comp: logging

#8687 Delete print line
  utils/socket-utils/src/main/java17/datadog/common/socket/TunnelingJdkSocket.java
Labels: type: bug, comp: logging

#8666 Exclude ProxyLeakTask exception from exception profiling
  dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionProfiling.java
  dd-java-agent/instrumentation/exception-profiling/build.gradle
  dd-java-agent/instrumentation/exception-profiling/src/main/java/datadog/exceptions/instrumentation/KnownExcludesInstrumentation.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ExclusionAdvice.java
  dd-java-agent/instrumentation/exception-profiling/src/main/java11/datadog/exceptions/instrumentation/ThrowableInstanceAdvice.java
  dd-java-agent/instrumentation/exception-profiling/src/test/groovy/datadog/trace/bootstrap/instrumentation/jfr/exceptions/KnownExcludesForkedTest.groovy
  dd-java-agent/instrumentation/exception-profiling/src/test/java/com/zaxxer/hikari/pool/ProxyLeakTask.java
Labels: type: enhancement, comp: profiling

#8693 Allow dogstatsd port to be configurable with DD_DOGSTATSD_PORT
  communication/src/main/java/datadog/communication/monitor/DDAgentStatsDClientManager.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: metrics, comp: telemetry

#8685 Make Crashtracking smoke test more resilient
  dd-smoke-tests/crashtracking/src/test/java/datadog/smoketest/CrashTelemetryData.java
  dd-smoke-tests/crashtracking/src/test/java/datadog/smoketest/CrashtrackingSmokeTest.java
  dd-smoke-tests/crashtracking/src/test/java/datadog/smoketest/MinimalTelemetryData.java
  dd-smoke-tests/crashtracking/src/test/java/datadog/smoketest/TestUDPServer.java
  dd-smoke-tests/src/main/groovy/datadog/smoketest/ProcessManager.groovy
  dd-smoke-tests/src/main/java/datadog/smoketest/OutputThreads.java
Labels: tag: no release notes, type: refactoring, comp: crash tracking

#8697 Add system property to force injection of the tracing library even though multiple javaagents have been detected
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/SystemUtils.java
Labels: type: enhancement, comp: library injection, tag: multiple-javaagent

#8707 Bump ddprof-java to 1.24.0
  gradle/libs.versions.toml
Labels: type: bug, comp: profiling

#8644 Fix appsec.waf.requests telemetry metric
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/WAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Labels: type: bug, comp: telemetry

#8717 🍒 8707 - Bump ddprof-java to 1.24.0
  gradle/libs.versions.toml
Labels: type: bug, comp: profiling

#8692 Move system-tests to GHA
  .github/workflows/system-tests.yaml
Labels: comp: testing, tag: no release notes

#8715 Turn off JDK socket support by default
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: core

#8716 🍒 8715 - Turn off JDK socket support by default
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, comp: core

#8720 Update bytebuddy and ASM to support JDK 24
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  dd-java-agent/build.gradle
  gradle/libs.versions.toml
Labels: type: enhancement, comp: core, tag: dependencies

#8695 Update linting to forbid System.out/err
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-logging/src/main/java/datadog/trace/logging/simplelogger/SLCompatSettings.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AgentCLI.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/profiler/EnvironmentChecker.java
  dd-java-agent/instrumentation-annotation-processor/src/main/java/datadog/apt/ByteBuddyAdviceProcessor.java
  dd-java-agent/instrumentation/weaver/src/main/scala/datadog/trace/instrumentation/weaver/WeaverIntegrationTestRunner.scala
  dd-java-agent/load-generator/src/main/java/datadog/loadgenerator/LoadGenerator.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentJar.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/server/http/HttpProxy.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/utils/ClasspathUtils.java
  dd-smoke-tests/build.gradle
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/DDTraceCoreInfo.java
  gradle/forbiddenApiFilters/main.txt
  internal-api/src/jmh/java/datadog/trace/util/stacktrace/HotSpotStackWalkerBenchmark.java
Labels: type: enhancement, comp: tooling

#8669 Add support for @key and @value for Map filtering
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/el/ValueReferences.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/PrettyPrintVisitor.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/FilterCollectionExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAllExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/expressions/HasAnyExpression.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/FilterCollectionExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAllExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/HasAnyExpressionTest.java
Labels: type: enhancement, comp: debugger

#8722 Handle reentrant scope cleanup in Akka/Pekko actor instrumentations
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: type: bug, inst: akka

#8684 Make source file tracking asynchronous
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/SourceFileTrackingTransformer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SourceFileTrackingTransformerTest.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/InProductEnablementIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SimpleAppDebuggerIntegrationTest.java
Labels: type: enhancement, comp: debugger

#8726 Use OpenLineage root parent information to generate trace id
  dd-java-agent/instrumentation/spark/spark_2.12/src/test/groovy/SparkListenerTest.groovy
  dd-java-agent/instrumentation/spark/spark_2.13/src/test/groovy/SparkListenerTest.groovy
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/AbstractDatadogSparkListener.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/OpenlineageParentContext.java
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkListenerTest.groovy
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/OpenlineageParentContextTest.groovy
Labels: type: enhancement, inst: apache spark

#8728 Ensure net.bytebuddy.raw is set to true when ConfigTransformSpockExtension is installed
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactoryForkedTest.groovy
  utils/test-utils/src/main/groovy/datadog/trace/test/util/ConfigTransformSpockExtension.groovy
Labels: type: enhancement, comp: testing

#8732 Limit net.bytebuddy.raw fix to agent-tooling…
  dd-java-agent/agent-tooling/build.gradle
  utils/test-utils/src/main/groovy/datadog/trace/test/util/ConfigTransformSpockExtension.groovy
Labels: type: bug, comp: testing, tag: no release notes

#8731 Revert "Update config line to account for large binary files"
  .circleci/config.continue.yml.j2
  dd-java-agent/instrumentation/mule-4/build.gradle
  dd-java-agent/instrumentation/spark/src/testFixtures/groovy/datadog/trace/instrumentation/spark/AbstractSparkListenerTest.groovy
Labels: type: bug, tag: no release notes, comp: tooling

#8734 Update trace sampling formula
  dd-trace-core/src/main/java/datadog/trace/common/sampling/DeterministicSampler.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/DeterministicTraceSamplerTest.groovy
Labels: type: enhancement, comp: core, tag: no release notes

#8742 Fix exclude identifiers normalization
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/util/RedactionTest.java
Labels: type: bug, comp: debugger

#8744 Do not run JFR specific tests on J9
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkControllerTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkOngoingRecordingTest.java
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/test/java/com/datadog/profiling/controller/openjdk/OpenJdkRecordingDataTest.java
  dd-java-agent/instrumentation/exception-profiling/src/test/groovy/datadog/trace/bootstrap/instrumentation/jfr/exceptions/KnownExcludesForkedTest.groovy
  dd-java-agent/instrumentation/exception-profiling/src/test/java/datadog/trace/bootstrap/instrumentation/jfr/exceptions/ExceptionHistogramTest.java
  dd-java-agent/instrumentation/java-directbytebuffer/src/test/groovy/DirectAllocationTrackingTest.groovy
Labels: type: enhancement, tag: no release notes, comp: profiling

#8745 Do not inspect reactor context when not needed
  dd-java-agent/instrumentation/reactor-core-3.1/src/main/java/datadog/trace/instrumentation/reactor/core/ContextSpanHelper.java
Labels: type: enhancement, tag: performance, inst: reactor

#8678 Use prefix trie for proxy ignores
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/ProxyIgnoreBenchmark.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/matcher/ProxyClassIgnores.java
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/proxy_ignored_class_name.trie
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/matcher/ProxyClassIgnoresTest.groovy
Labels: type: enhancement, comp: core, tag: performance

#8698 Collect process tags for tracing
  .circleci/config.continue.yml.j2
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/spring-boot/src/main/java/datadog/trace/instrumentation/springboot/SpringApplicationInstrumentation.java
  dd-java-agent/instrumentation/spring-boot/src/test/groovy/SpringBootApplicationTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/SerializingMetricWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/TraceMapper.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/TraceMapperV0_4.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/TraceMapperV0_5.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/Metadata.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/TagsPostProcessorFactory.java
  dd-trace-core/src/test/groovy/datadog/trace/common/metrics/SerializingMetricWriterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceGenerator.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceMapperV04PayloadTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceMapperV05PayloadTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceGenerator.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ProcessTags.java
  internal-api/src/main/java/datadog/trace/api/env/CapturedEnvironment.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/ProcessTagsForkedTest.groovy
Labels: type: enhancement, comp: core

#8714 Improve error reporting on profiler startup
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/CompositeController.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/ProfilingAgent.java
Labels: type: enhancement, comp: profiling

#8747 Exclude jackson afterburner dynamic classes from instrumentation
  dd-java-agent/agent-tooling/src/main/resources/datadog/trace/agent/tooling/bytebuddy/matcher/proxy_ignored_class_name.trie
Labels: type: enhancement, comp: core

#8705 Add process tags as list to remote config payload
  internal-api/src/main/java/datadog/trace/api/ProcessTags.java
  internal-api/src/test/groovy/datadog/trace/api/ProcessTagsForkedTest.groovy
  remote-config/remote-config-core/src/main/java/datadog/remoteconfig/tuf/RemoteConfigRequest.java
  remote-config/remote-config-core/src/test/groovy/datadog/remoteconfig/PollerRequestFactoryTest.groovy
Labels: type: enhancement, comp: remote config

#8751 Fix incorrect use of Path.getRoot()
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: type: bug, tag: no release notes, comp: profiling

#8749 Take defensive copy of parent scope stack when closing nested coroutines
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
  dd-java-agent/instrumentation/zio/zio-2.0/src/main/java/datadog/trace/instrumentation/zio/v2_0/FiberContext.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopeState.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopeStateAware.java
Labels: type: bug, inst: kotlin

#8736 Introduce Java 8 bytecode bridge for instrumentation API
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/api/Java8BytecodeBridge.java
Labels: type: enhancement, comp: core

#8746 Remove cleanup-on-shutdown for temporary files
  dd-java-agent/agent-profiling/profiling-controller-openjdk/src/main/java/com/datadog/profiling/controller/openjdk/OpenJdkController.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: type: bug, comp: profiling

#8676 Add scope filtering for symbol extraction
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/AvroFilter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/ProtoFilter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/ScopeFilter.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolAggregator.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/WireFilter.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/AvroFilterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/ProtoFilterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolAggregatorTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/WireFilterTest.java
Labels: type: enhancement, comp: debugger
