Repository DataDog/dd-trace-java, pull requests merged in 2025-03, with the labels that each got.

#8472 Remove all old testing OCI images
  .github/workflows/prune-github-container-registry.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#8483 Exclude com.stripe.net.HttpURLConnectionClient to solve IAST SSRF vulnerability false positives
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: bug, comp: asm iast

#8485 Mark profiling test as flaky
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: tag: no release notes, tag: flaky test, comp: profiling, tag: flaky test/disabled

#8484 Fix an NPE in Gradle Android instrumentation
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/CiVisibilityGradleListener.java
Labels: type: bug, comp: ci visibility

#8330 Implementation of BaggagePropagator and BaggageContext
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationStyle.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/baggage/BaggagePropagator.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/HttpCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/util/EscapedData.java
  dd-trace-core/src/main/java/datadog/trace/core/util/PercentEscaper.java
  dd-trace-core/src/test/groovy/datadog/trace/core/baggage/BaggagePropagatorTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/BaggageContext.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: comp: core, type: feature request, inst: java

#8473 fix error happening when sqs message attributes are readonly
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/main/java/datadog/trace/instrumentation/aws/v1/sqs/SqsInterceptor.java
  dd-java-agent/instrumentation/aws-java-sqs-1.0/src/test/groovy/SqsClientTest.groovy
Labels: type: bug, inst: aws sdk, comp: data streams

#8474 Consider modified tests when applying fail-fast tests ordering
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/FailFastClassOrderer.java
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/main/java/datadog/trace/instrumentation/junit5/order/FailFastMethodOrderer.java
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGUtils.java
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/order/FailFastOrderInterceptor.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: type: enhancement, comp: ci visibility

#8492 Prefer using activeSpan() over activeScope()
  dd-java-agent/instrumentation/akka-http/akka-http-10.0/src/main/java/datadog/trace/instrumentation/akkahttp/DatadogServerRequestResponseFlowWrapper.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/DatadogServerRequestResponseFlowWrapper.java
  dd-java-agent/instrumentation/sslsocket/src/main/java/datadog/trace/instrumentation/sslsocket/SocketConnectInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HandlerInstrumentation.java
Labels: comp: core, tag: no release notes, type: refactoring

#8506 Disable debugger by default if CI Visibility is enabled
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, tag: no release notes, comp: ci visibility, comp: debugger

#8502 Update system-tests to ffc1cfbe944dcf466606a84b4a442b990f675979
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8509 Revert "Add In-Product Enablement (#8461)"
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DefaultProductConfigUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DefaultProductConfigUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/InProductEnablementIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/RemoteConfigHelper.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  remote-config/remote-config-api/src/main/java/datadog/remoteconfig/Capabilities.java
Labels: type: refactoring, comp: debugger

#8500 Collect system-tests logs on test failure
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8512 Update system-tests to 344e4abc912ada8004f2d0828a09efb65b5ee1e1
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8508 Add DBMTracePreparedStatements to tracer configuration log
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, comp: database

#8432 Add azure-functions instrumentation
  dd-java-agent/instrumentation/azure-functions/build.gradle
  dd-java-agent/instrumentation/azure-functions/src/main/java/datadog/trace/instrumentation/azure/functions/AzureFunctionsDecorator.java
  dd-java-agent/instrumentation/azure-functions/src/main/java/datadog/trace/instrumentation/azure/functions/AzureFunctionsInstrumentation.java
  dd-java-agent/instrumentation/azure-functions/src/main/java/datadog/trace/instrumentation/azure/functions/HttpRequestMessageExtractAdapter.java
  dd-java-agent/instrumentation/azure-functions/src/test/groovy/AzureFunctionsTest.groovy
  dd-java-agent/instrumentation/azure-functions/src/test/groovy/Function.java
  dd-trace-api/src/main/java/datadog/trace/api/DDSpanTypes.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/naming/v1/CloudNamingV1.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InternalSpanTypes.java
  settings.gradle
Labels: type: feature request, inst: azure-functions

#8478 Remove activeScope() use in OpenTracing shim
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/GlobalTracerInstrumentation.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/GlobalTracerInstrumentation.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-ot/build.gradle
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  dd-trace-ot/src/ot33CompatibilityTest/groovy/OT33ApiTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/IterationSpansForkedTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: type: refactoring, comp: opentracing

#8503 Migrate certain instrumentations to use closeActive() to close outstanding spans
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestExecutorInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/google-http-client/src/main/java/datadog/trace/instrumentation/googlehttpclient/GoogleHttpClientInstrumentation.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HttpRequestParserInstrumentation.java
Labels: inst: others, tag: no release notes, type: refactoring

#8510 Improve detection of missing request end events
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/resources/logback-test.xml
Labels: type: enhancement, comp: asm waf

#8515 Update system-tests to 590162e1f5223cbbcd2876fdb820837cb13a85e1
  .circleci/config.continue.yml.j2
Labels: type: enhancement, comp: testing, tag: no release notes

#8522 Ignore IBM jdk when running Netty reactor tests
  dd-java-agent/instrumentation/reactor-netty-1/src/test/groovy/ReactorNettyHttp2ClientTest.groovy
  dd-java-agent/instrumentation/reactor-netty-1/src/test/groovy/ReactorNettyHttpClientTest.groovy
Labels: tag: no release notes, tag: flaky test, tag: flaky test/disabled, inst: netty

#8524 Reduce footprint of SourceFile tracking
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ClassesToRetransformFinder.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/InnerHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SourceFileTrackingTransformerTest.java
Labels: type: enhancement, tag: performance, comp: debugger

#8532 Support pekko http 1.1
  dd-java-agent/instrumentation/pekko-http-1.0/build.gradle
  dd-java-agent/instrumentation/pekko-http-1.0/gradle.lockfile
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/PekkoHttp2ServerInstrumentation.java
  dd-java-agent/instrumentation/pekko-http-1.0/src/main/java/datadog/trace/instrumentation/pekkohttp/PekkoHttpServerInstrumentation.java
Labels: type: enhancement, inst: others

#8527 Migrate zio instrumentation to new Context API
  dd-java-agent/instrumentation/zio/zio-2.0/src/main/java/datadog/trace/instrumentation/zio/v2_0/FiberContext.java
Labels: inst: others, tag: no release notes, type: refactoring

#8528 Migrate kotlin coroutines instrumentation to new Context API
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.3/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines13Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/coroutines-1.5/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/KotlinCoroutines15Instrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/AbstractCoroutinesInstrumentation.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/CoroutineContextHelper.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/DatadogCoroutineContext.java
Labels: tag: no release notes, type: refactoring, inst: kotlin

#8529 Remove unused ScopeStateAware API
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopeState.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopeStateAware.java
Labels: comp: core, tag: no release notes, type: refactoring

#8520 Optimize the SourceFile tracking
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassFileHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SourceFileTrackingTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/TransformerDefinitionMatcherTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/trigger/TriggerProbeTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassFileHelperTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/TestHelper.java
  dd-java-agent/agent-debugger/src/test/java/utils/TestClassFileHelper.java
  dd-java-agent/agent-debugger/src/test/java/utils/TestHelper.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/CommandLine.class
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/JDK23.class
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/JDK23.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/JDK8.class
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/classfiles/JDK8.java
Labels: type: enhancement, tag: performance, comp: debugger

#8530 Migrate OtelContext wrapper to new Context API
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelContext.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/OtelScope.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/context/propagation/AgentTextMapPropagator.java
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelSpanBuilder.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/OpenTelemetryInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/main/java/datadog/trace/instrumentation/opentelemetry14/context/OpenTelemetryContextStorageInstrumentation.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
Labels: tag: no release notes, type: refactoring, inst: opentelemetry

#8531 Remove unused activeScope method
  dd-java-agent/instrumentation/akka-concurrent/src/akka23Test/scala/AkkaActors.scala
  dd-java-agent/instrumentation/pekko-concurrent/src/test/scala/PekkoActors.scala
  dd-java-agent/instrumentation/scala-concurrent/src/latestDepTest/scala/ScalaConcurrentTests.scala
  dd-java-agent/instrumentation/scala-concurrent/src/test/scala/ScalaConcurrentTests.scala
  dd-java-agent/instrumentation/slick/src/test/scala/SlickUtils.scala
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: no release notes, type: refactoring

#8533 Fix Test Optimization init when repo root cannot be determined
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityRepoServices.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/JacocoCoverageCalculator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/GitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/NoOpGitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/git/tree/ShellGitClient.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/CachingRepoIndexBuilderFactory.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexBuilder.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/source/index/RepoIndexProvider.java
Labels: type: bug, comp: ci visibility

#8534 Remove AttachableWrapper aspect from scopes
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/TypeConverter.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#8523 Improve Baggage API
  dd-trace-core/src/main/java/datadog/trace/core/baggage/BaggagePropagator.java
  dd-trace-core/src/main/java/datadog/trace/core/util/EscapedData.java
  dd-trace-core/src/main/java/datadog/trace/core/util/PercentEscaper.java
  dd-trace-core/src/test/groovy/datadog/trace/core/baggage/BaggagePropagatorTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Baggage.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/BaggageContext.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/BaggageTest.groovy
Labels: type: enhancement, tag: no release notes, comp: api

#8536 Introducing `DD_TRACE_EXPERIMENTAL_FEATURES_ENABLED` Config
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, comp: api

#8539 Remove AgentScope.source() from instrumentation API
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopScope.java
Labels: comp: core, tag: no release notes, type: refactoring

#8540 Update capabilities tagging to use versioning
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ConfigurationApiImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettings.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettingsFactoryImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TracerEnvironment.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestSession.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/manualapi/ManualApiTestModule.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ConfigurationApiImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/config/ExecutionSettingsTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/TestSuiteImplTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/buildsystem/ProxyTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/domain/headless/HeadlessTestModuleTest.groovy
  dd-java-agent/agent-ci-visibility/src/test/resources/datadog/trace/civisibility/config/test-management-tests-request.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-flaky-retries/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-failed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-junit-5/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-forks-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-legacy-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-multi-module-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-new-instrumentation/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-old-gradle/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_failed_maven_run_flaky_retries/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_builtin_coverage/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_impacted_tests/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_junit_platform_runner/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_multiple_forks/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_0_0/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_surefire_3_5_0/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_test_management/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_arg_line_property/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_cucumber/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_with_jacoco_and_argline/events.ftl
  internal-api/src/main/java/datadog/trace/api/civisibility/config/LibraryCapability.java
Labels: type: enhancement, comp: ci visibility

#8542 Remove ScopeSource from instrumentation API
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTracer.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot20.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot21.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot28.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CapturedSnapshot29.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin01.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin02.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin03.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin04.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/CodeOrigin05.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/TriggerProbe01.java
  dd-java-agent/agent-debugger/src/test/resources/com/datadog/debugger/TriggerProbe02.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/instrumentation/junit-4.10/src/test/java/org/example/TestFailedThenSucceed.java
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestParameterizedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/spock-junit-5/src/test/groovy/org/example/TestSucceedSetupSpecSpock.groovy
  dd-java-agent/instrumentation/junit-5.3/src/test/java/org/example/TestFailedThenSucceed.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/testFixtures/kotlin/datadog/trace/instrumentation/kotlin/coroutines/CoreKotlinCoroutineTests.kt
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelTracer.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-1.4/src/test/groovy/opentelemetry14/context/ContextTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-annotations-1.26/src/test/groovy/AddingSpanAttributesAnnotationTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTTracer.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTTracer.java
  dd-java-agent/instrumentation/zio/zio-2.0/src/test/scala/ZioTestFixtures.scala
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  dd-java-agent/testing/src/test/groovy/TraceCorrelationTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: no release notes, type: refactoring

#8546 🍒 8521 - Fix NPE when calculating code coverage for Gradle projects with non-standard directory layout
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/CoverageCalculator.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/coverage/percentage/JacocoCoverageCalculator.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/AndroidGradleUtils.groovy
Labels: type: bug, comp: ci visibility

#8545 🍒 8544 - Make the default config sources more robust when a security manager is installed
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/EnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/SystemPropertiesConfigSource.java
Labels: type: enhancement, comp: core

#8544 Make the default config sources more robust when a security manager is installed
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/EnvironmentConfigSource.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/SystemPropertiesConfigSource.java
Labels: type: enhancement, comp: core

#8547 Support common config sources for user-provided git info
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/ci/CITagsProviderTest.groovy
  internal-api/src/main/java/datadog/trace/api/git/GitInfo.java
  internal-api/src/main/java/datadog/trace/api/git/UserSuppliedGitInfoBuilder.java
  internal-api/src/test/groovy/datadog/trace/api/git/UserSuppliedGitInfoBuilderTest.groovy
Labels: type: enhancement, comp: core

#8464 Allow login events SDK to be used with appsec disabled
  .circleci/config.continue.yml.j2
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/EventTrackerAppSecDisabledForkedTest.groovy
  dd-java-agent/appsec/src/testFixtures/groovy/com/datadog/appsec/AppSecHttpServerTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/main/java/datadog/trace/instrumentation/springsecurity5/SpringSecurityUserEventDecorator.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
  internal-api/src/main/java/datadog/trace/api/appsec/LoginEventCallback.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: type: enhancement, comp: asm waf

#8551 Remove unnecessary calls to setAsyncPropagationEnabled
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/instrumentation/akka-concurrent/src/test/groovy/AkkaExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/test/groovy/CompletableFutureTest.groovy
  dd-java-agent/instrumentation/java-concurrent/java-concurrent-21/src/test/groovy/VirtualThreadTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/ExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/NettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/java-concurrent/src/test/groovy/executor/RejectedExecutionTest.groovy
  dd-java-agent/instrumentation/jetty-util/src/test/groovy/JettyExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/OpenTelemetryTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-java-agent/instrumentation/play-2.3/src/main/java/datadog/trace/instrumentation/play23/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-2.4/src/main/java/datadog/trace/instrumentation/play24/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-2.6/src/main/java/datadog/trace/instrumentation/play26/RequestCompleteCallback.java
  dd-java-agent/instrumentation/play-ws-1/src/main/java/datadog/trace/instrumentation/playws1/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2.1/src/main/java/datadog/trace/instrumentation/playws21/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2/src/main/java/datadog/trace/instrumentation/playws2/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/scala-concurrent/src/test/groovy/ScalaExecutorInstrumentationTest.groovy
  dd-java-agent/instrumentation/servlet/request-2/src/main/java/datadog/trace/instrumentation/servlet2/Servlet2Advice.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpannedMethodInvocation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceStrictWriteTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#8555 Be consistent when deciding when to do async propagation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ExecutorInstrumentationUtils.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/executor/JavaExecutorInstrumentation.java
  dd-java-agent/instrumentation/scala-promise/src/main/java/datadog/trace/instrumentation/scala/PromiseHelper.java
Labels: inst: others, tag: no release notes, type: refactoring

#8296 Add new parser for `DD_TAGS` and prioritizing `DD_SERVICE`
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigConverter.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/ConfigConverterTest.groovy
Labels: type: enhancement, comp: core

#8556 Cleanup Hystrix instrumentation
  dd-java-agent/instrumentation/hystrix-1.4/src/main/java/datadog/trace/instrumentation/hystrix/HystrixThreadPoolInstrumentation.java
  dd-java-agent/instrumentation/hystrix-1.4/src/test/groovy/HystrixTest.groovy
Labels: inst: others, tag: no release notes, type: refactoring

#8559 Ensure shaded helpers have unique names
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/AdviceShader.java
Labels: type: bug, comp: core

#8558 ssi tests one-pipeline
  .gitlab-ci.yml
Labels: comp: testing, type: refactoring

#8557 Simplify activateSpan API to not include async propagation flag
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaActorCellInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaMailboxInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoActorCellInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoMailboxInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: no release notes, type: refactoring, run-tests: all

#8554 Use internal artifact proxy for Gitlab jobs
  .gitlab-ci.yml
  gradle/repositories.gradle
Labels: tag: no release notes, comp: tooling

#8565 Remove ScopeSource enum
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/HealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeStack.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerDepthTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ScopeSource.java
Labels: comp: core, tag: no release notes, type: refactoring

#8568 Mark tests as flaky
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-smoke-tests/sample-trace/src/test/groovy/datadog/smoketest/SampleTraceSmokeTest.groovy
Labels: tag: no release notes, tag: flaky test, tag: flaky test/disabled

#8549 Prevent before callsites targeting constructors in super calls
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AdviceGeneratorImpl.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/ext/IastExtension.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/CallSiteConstants.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/AdviceAssert.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/AssertBuilder.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/ext/IastExtensionTest.groovy
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSites.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockCallSites.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockRaspCallSites.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ObjectInputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestCustomObjectInputStream.java
Labels: type: bug, comp: asm iast

#8314 Add JDK built-in support for UDS on Java 16+
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  gradle/java_no_deps.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  utils/socket-utils/build.gradle
  utils/socket-utils/src/main/java/datadog/common/socket/UnixDomainSocketFactory.java
  utils/socket-utils/src/main/java17/datadog/common/socket/TunnelingJdkSocket.java
  utils/socket-utils/src/test/java/datadog/common/socket/TunnelingJdkSocketTest.java
Labels: type: enhancement, comp: tooling

#8576 Fix PlayNettySmokeTest logging config
  dd-smoke-tests/play-2.4/conf/logback.xml
  dd-smoke-tests/play-2.5/conf/logback.xml
  dd-smoke-tests/play-2.6/conf/logback.xml
  dd-smoke-tests/play-2.7/conf/logback.xml
  dd-smoke-tests/play-2.8-otel/conf/logback.xml
  dd-smoke-tests/play-2.8-split-routes/conf/logback.xml
  dd-smoke-tests/play-2.8/conf/logback.xml
Labels: comp: testing, tag: no release notes

#8578 Inherited decision maker is a meta
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/WebsocketDecorator.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: type: bug, tag: no release notes, inst: websocket

#8580 Simplification: Context.root() is always empty
  components/context/src/main/java/datadog/context/Context.java
  components/context/src/main/java/datadog/context/ContextManager.java
  components/context/src/main/java/datadog/context/ThreadLocalContextManager.java
  components/context/src/test/java/datadog/context/ContextProviderForkedTest.java
  components/context/src/test/java/datadog/context/ContextTest.java
Labels: comp: core, tag: no release notes, type: refactoring

#8582 🍒 8549 - Prevent before callsites targeting constructors in super calls
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/AdviceGeneratorImpl.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/impl/ext/IastExtension.java
  buildSrc/call-site-instrumentation-plugin/src/main/java/datadog/trace/plugin/csi/util/CallSiteConstants.java
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/AdviceGeneratorTest.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/AdviceAssert.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/assertion/AssertBuilder.groovy
  buildSrc/call-site-instrumentation-plugin/src/test/groovy/datadog/trace/plugin/csi/impl/ext/IastExtensionTest.groovy
  dd-java-agent/agent-tooling/src/jmh/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteBenchmarkInstrumentation.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/Advices.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/csi/CallSiteTransformer.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSiteAdvice.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/csi/CallSites.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/BaseCallSiteTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/csi/CallSiteInstrumentationTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockCallSites.java
  dd-java-agent/instrumentation/iast-instrumenter/src/test/java/MockRaspCallSites.java
  dd-java-agent/instrumentation/java-io/src/test/groovy/datadog/trace/instrumentation/java/io/ObjectInputStreamCallSiteTest.groovy
  dd-java-agent/instrumentation/java-io/src/test/java/foo/bar/TestCustomObjectInputStream.java
Labels: type: bug, comp: asm iast

#8581 Support and test kafka-clients 4
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/gradle.lockfile
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/ProducerAdvice.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-connect-0.11/build.gradle
Labels: type: enhancement, inst: kafka

#8482 Add setUser to user monitoring SDK
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/EventTrackerAppSecDisabledForkedTest.groovy
  dd-java-agent/appsec/src/testFixtures/groovy/com/datadog/appsec/AppSecHttpServerTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-security-5/src/test/groovy/datadog/trace/instrumentation/springsecurity5/UserController.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/appsec/api/user/User.java
  dd-trace-api/src/main/java/datadog/appsec/api/user/UserService.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
Labels: type: enhancement, comp: asm waf

#8535 Adding Support for `TRACE_PROPAGATION_BEHAVIOR_EXTRACT`
  dd-java-agent/agent-otel/otel-shim/src/main/java/datadog/opentelemetry/shim/trace/OtelExtractedContext.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/DatabricksParentContext.java
  dd-java-agent/instrumentation/spark/src/main/java/datadog/trace/instrumentation/spark/OpenlineageParentContext.java
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/TracePropagationBehaviorExtract.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpanContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopSpanContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NotSampledSpanContext.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/TagContext.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, comp: context propagation

#8588 Use embedded kafka for 3.8+ testing
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/gradle.lockfile
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientCustomPropagationConfigTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaCodeOriginForkedTest.groovy
Labels: comp: testing, tag: no release notes, type: refactoring

#8489 Config Consistency Round 2
  dd-java-agent/instrumentation/jboss-logmanager/src/main/java/datadog/trace/instrumentation/jbosslogmanager/ExtLogRecordInstrumentation.java
  dd-java-agent/instrumentation/log4j-2.7/src/main/java/datadog/trace/instrumentation/log4j27/SpanDecoratingContextDataInjector.java
  dd-java-agent/instrumentation/log4j1/src/main/java/datadog/trace/instrumentation/log4j1/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/logback-1/src/main/java/datadog/trace/instrumentation/logback/LoggingEventInstrumentation.java
  dd-java-agent/instrumentation/tinylog-2/src/main/java/datadog/trace/instrumentation/tinylog2/LogEntryInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/log/injection/LogContextInjectionTestBase.groovy
  dd-smoke-tests/log-injection/src/test/groovy/datadog/smoketest/LogInjectionSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/InstrumenterConfig.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, comp: api

#8590 Introduce constants to eliminate unnecessary calls to String.format()
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-trace-api/src/main/java/datadog/trace/api/DDTags.java
Labels: tag: no release notes, comp: debugger, inst: java

#8593 Disable some static analysis rules
  static-analysis.datadog.yml
Labels: tag: no release notes, comp: tooling

#8553 e2e pipeline configuration when data jobs is enabled
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: enhancement, comp: data streams

#8518 Enable tracer computed trace metrics by default for Azure Functions
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, inst: azure-functions

#8596 Most contexts won't have baggage, so this debug line is not that helpful
  dd-trace-core/src/main/java/datadog/trace/core/baggage/BaggagePropagator.java
Labels: tag: no release notes, type: refactoring, comp: logging

#8577 Minimize changes needed to test code origin on instrumentations
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcCodeOriginTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaCodeOriginForkedTest.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
Labels: type: enhancement, tag: no release notes, comp: debugger, inst: java

#8602 Add scenario TRACING_CONFIG_NONDEFAULT in system-tests
  .circleci/config.continue.yml.j2
Labels: type: enhancement, comp: testing, tag: no release notes

#8587 Add In-Product Enablement
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DefaultProductConfigUpdater.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymDBEnablement.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DefaultProductConfigUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/TestApplicationHelper.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/BaseIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/InProductEnablementIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/RemoteConfigHelper.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/TracingConfigPoller.java
  remote-config/remote-config-api/src/main/java/datadog/remoteconfig/Capabilities.java
Labels: type: enhancement, comp: debugger

#8595 add DynamoDB in DEFAULT_TRACE_CLOUD_PAYLOAD_TAGGING_SERVICES
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
Labels: type: enhancement, inst: aws sdk

#8562 Instrument Jetty websocket pojo
  dd-java-agent/instrumentation/jetty-11/build.gradle
  dd-java-agent/instrumentation/jetty-11/src/test/groovy/Jetty11Test.groovy
  dd-java-agent/instrumentation/jetty-11/src/testFixtures/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/build.gradle
  dd-java-agent/instrumentation/jetty-12/src/test/ee10/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee10/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee8/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee9/groovy/Jetty12Test.groovy
  dd-java-agent/instrumentation/jetty-12/src/test/ee9/groovy/JettyServer.groovy
  dd-java-agent/instrumentation/jetty-9/build.gradle
  dd-java-agent/instrumentation/jetty-9/src/main/java/datadog/trace/instrumentation/jetty9/WebSocketSessionInstrumentation.java
  dd-java-agent/instrumentation/jetty-9/src/test/groovy/datadog/trace/instrumentation/jetty9/Jetty9Test.groovy
  dd-java-agent/instrumentation/jetty-9/src/testFixtures/groovy/test/JettyServer.groovy
  dd-java-agent/instrumentation/websocket/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jakarta-websocket-2.0/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jakarta-websocket-2.0/src/test/groovy/WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/javax-websocket-1.0/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jetty-websocket/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/latestDepTest/groovy/Endpoints.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/latestDepTest/groovy/WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/main/java/datadog/trace/instrumentation/websocket/jetty10/JavaxWebSocketFrameHandlerFactoryInstrumentation.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/main/java/datadog/trace/instrumentation/websocket/jetty10/JavaxWebSocketFrameHandlerInstrumentation.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/main/java/datadog/trace/instrumentation/websocket/jetty10/Jetty10JavaxPojoWebSocketModule.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/main/java11/datadog/trace/instrumentation/websocket/jetty10/MethodHandleWrappers.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/main/java11/datadog/trace/instrumentation/websocket/jetty10/WebSocketAdvices.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/test/groovy/Endpoints.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/src/test/groovy/WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/src/latestDepTest/groovy/Endpoints.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/src/latestDepTest/groovy/WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/src/main/java/datadog/trace/instrumentation/websocket/jetty11/Jetty11JakartaPojoWebsocketModule.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/src/test/groovy/Endpoints.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/src/test/groovy/WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/gradle.lockfile
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/main/java/datadog/trace/instrumentation/websocket/jetty12/Jetty12EE10JakartaPojoWebsocketModule.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/main/java/datadog/trace/instrumentation/websocket/jetty12/Jetty12EE8JavaxPojoWebsocketModule.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/main/java/datadog/trace/instrumentation/websocket/jetty12/Jetty12EE9JakartaPojoWebsocketModule.java
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/test/groovy/EE10WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/test/groovy/EE8WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/test/groovy/EE9WebsocketTest.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/test/groovy/JakartaEndpoints.groovy
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/src/test/groovy/JavaxEndpoints.groovy
  settings.gradle
Labels: type: enhancement, inst: websocket

#8601 Introduce cache for peer.hostname lookup
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/BaseDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, inst: others

#8611 🍒 8601 - Introduce cache for peer.hostname lookup
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/BaseDecorator.java
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, inst: others

#8605 Make TempLocationManager USER aware
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: type: bug, comp: profiling

#8613 mark as flaky testExceptionReplayEnablement
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/InProductEnablementIntegrationTest.java
Labels: type: bug, comp: testing, comp: debugger

#8598 Support `all` value for `DD_TRACE_EXPERIMENTAL_FEATURES_ENABLED`
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
Labels: type: enhancement, comp: core, tag: no release notes

#8615 Set default Attempt to Fix retries if none provided from the backend
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/TestManagementSettings.java
Labels: type: bug, comp: ci visibility

#8609 Fix weak randomness in oracle.ucp.util.OpaqueString
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#8610 Fix vulnerability location org.jose4j.lang.HashUtil
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#8617 Revert "Inherited decision maker is a meta"
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/WebsocketDecorator.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
Labels: tag: no release notes, inst: websocket

#8538 Provide access to VM arguments via shared CLIHelper
  components/cli/build.gradle.kts
  components/cli/src/main/java/datadog/cli/CLIHelper.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Constants.java
  dd-java-agent/build.gradle
  dd-java-agent/src/main/java/datadog/trace/bootstrap/AgentBootstrap.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/SpockRunner.java
  gradle/dependencies.gradle
  internal-api/build.gradle
  settings.gradle
Labels: comp: core, tag: no release notes, type: refactoring

#8618 Create metric: appsec.rasp.rule.skipped
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: enhancement, comp: telemetry

#8622 Add latestdeptest for spring boot 2
  dd-java-agent/instrumentation/spring-webmvc-3.1/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/datadog/trace/instrumentation/springweb/HandlerMappingResourceNameFilterForkedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/datadog/trace/instrumentation/springweb/ResteasySpringBeanProcessorForkedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/datadog/trace/instrumentation/springweb/SingleEndpointController.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/SetupSpecHelper.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/AppConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/AuthServerConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/CustomBeanClassloaderTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/CustomClassloaderConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SavingAuthenticationProvider.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SecurityConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SpringBootServer.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/SpringInactiveAppSecTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/TestProvider.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/WebsocketConfig.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/boot/WebsocketEndpoint.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/groovy/test/iast/HandlerMethodReturnValueHandlerCompositeInstrumentationTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/latestDepTest/resources/logback.xml
Labels: type: enhancement, comp: testing, tag: no release notes, inst: spring

#8612 Add support for filtering shaded third-party libs
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ThirdPartyLibraries.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/symbol/SymbolExtractionTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassNameFiltering.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ThirdPartyLibrariesTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymbolExtractionTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassNameFilteringTest.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/util/ClassNameTrie.java
  internal-api/src/test/groovy/datadog/trace/util/ClassNameTrieTest.groovy
Labels: type: enhancement, comp: debugger

#8178 New API Security sampling algorithm
  .circleci/config.continue.yml.j2
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/AppSecSystem.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityRequestSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecuritySampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecuritySamplerImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/AppSecSpanPostProcessor.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityRequestSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecuritySamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/AppSecSpanPostProcessorTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDAgentWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDIntakeWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceProcessingWorker.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/postprocessor/SpanPostProcessor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/TraceProcessingWorkerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/gateway/IGSpanInfo.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ExtractedSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ImmutableSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/SpanPostProcessor.java
Labels: type: enhancement, comp: asm waf

#8625 Simplify the Akka/Pekko checkpointing advice
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaActorCellInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaMailboxInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoActorCellInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoMailboxInstrumentation.java
Labels: tag: no release notes, type: refactoring, inst: akka

#8630 Increase parallelism of check_inst, rather than bump heap max
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, type: refactoring, comp: tooling

#8561 Extract git tags from embedded git.properties and datadog_git.properties
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  internal-api/src/main/java/datadog/trace/api/git/EmbeddedGitInfoBuilder.java
  internal-api/src/test/groovy/datadog/trace/api/git/EmbeddedGitInfoBuilderTest.groovy
Labels: type: enhancement, comp: profiling, comp: telemetry

#8628 Document when we manage a span's lifecycle without scopes
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestSuiteImpl.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/TracingRequestHandler.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/TracingExecutionInterceptor.java
  dd-java-agent/instrumentation/karate/src/main/java/datadog/trace/instrumentation/karate/KarateTracingHook.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HttpRequestParserInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, tag: no release notes, type: refactoring

#8627 Fix flaky InProduct enablement smoke test
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/InProductEnablementIntegrationTest.java
Labels: type: bug, tag: no release notes, comp: debugger

#8634 Upgrade to Spock 2.3
  gradle/libs.versions.toml
Labels: tag: no release notes, comp: tooling

#8352 Add support for endpoint discovery in spring mvc
  .circleci/config.continue.yml.j2
  dd-java-agent/instrumentation/spring-webmvc-3.1/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/AppSecDispatcherServletInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/main/java/datadog/trace/instrumentation/springweb/RequestMappingInfoIterator.java
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-3.1/src/test/groovy/test/boot/TestController.groovy
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/AppSecDispatcherServletWithPathPatternsInstrumentation.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/main/java/datadog/trace/instrumentation/springweb/RequestMappingInfoWithPathPatternsIterator.java
  dd-java-agent/instrumentation/spring-webmvc-5.3/src/test/groovy/test/boot/EndpointCollectorSpringBootTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/SpringBootBasedTest.groovy
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/test/groovy/datadog/trace/instrumentation/springweb6/boot/TestController.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/telemetry/Endpoint.java
  internal-api/src/main/java/datadog/trace/api/telemetry/EndpointCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/EndpointCollectorTest.groovy
  telemetry/src/main/java/datadog/telemetry/BufferedEvents.java
  telemetry/src/main/java/datadog/telemetry/EventSink.java
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/main/java/datadog/telemetry/ExtendedHeartbeatData.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/main/java/datadog/telemetry/TelemetryRequestBody.java
  telemetry/src/main/java/datadog/telemetry/TelemetryService.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/main/java/datadog/telemetry/api/RequestType.java
  telemetry/src/main/java/datadog/telemetry/endpoint/EndpointPeriodicAction.java
  telemetry/src/test/groovy/datadog/telemetry/BufferedEventsSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/EventSourceTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
  telemetry/src/test/groovy/datadog/telemetry/TestTelemetryRouter.groovy
  telemetry/src/test/groovy/datadog/telemetry/endpoint/EndpointPeriodicActionTest.groovy
Labels: type: enhancement, inst: spring, comp: asm waf

#8620 Update login events public SDK to V2
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/EventTrackerAppSecDisabledForkedTest.groovy
  dd-trace-api/build.gradle
  dd-trace-api/src/main/java/datadog/appsec/api/login/EventTrackerService.java
  dd-trace-api/src/main/java/datadog/appsec/api/login/EventTrackerV2.java
  dd-trace-api/src/main/java/datadog/trace/api/EventTracker.java
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
  internal-api/src/main/java/datadog/trace/api/telemetry/LoginEvent.java
  internal-api/src/main/java/datadog/trace/api/telemetry/LoginVersion.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: enhancement, comp: asm waf

#8633 Upgrade to develocity plugin 3.19.2
  settings.gradle
Labels: tag: no release notes, comp: tooling

#8643 Reduce number of jobs running in Circle CI
  .circleci/config.continue.yml.j2
  .circleci/no_circleci_changes.sh
  .circleci/render_config.py
Labels: tag: no release notes, comp: tooling

#8631 Update system-tests to 1de04c42cbd9783432258004e46eb5982bbc9fe5
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8635 Fix continuation metrics
  dd-trace-core/src/main/java/datadog/trace/core/PendingTrace.java
  dd-trace-core/src/main/java/datadog/trace/core/StreamingTraceCollector.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceStrictWriteTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTraceCollector.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: type: bug, tag: no release notes, comp: metrics

#8619 Websocket: ensure that trace context is propagated from the handshake
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/WebsocketDecorator.java
  dd-java-agent/instrumentation/websocket/javax-websocket-1.0/src/test/groovy/WebsocketTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
Labels: type: bug, tag: no release notes, inst: websocket

#8592 Fix more places to use the internal maven proxy
  .gitlab-ci.yml
  build.gradle
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/benchmark-integration/build.gradle
  dd-java-agent/benchmark-integration/play-perftest/build.gradle
  dd-java-agent/instrumentation/build.gradle
  dd-java-agent/instrumentation/datanucleus-4/build.gradle
  dd-java-agent/instrumentation/mule-4/application/pom.xml
  dd-java-agent/testing/build.gradle
  dd-smoke-tests/apm-tracing-disabled/build.gradle
  dd-smoke-tests/armeria-grpc/application/settings.gradle
  dd-smoke-tests/datastreams/kafkaschemaregistry/build.gradle
  dd-smoke-tests/grpc-1.5/build.gradle
  dd-smoke-tests/kafka-3/application/settings.gradle
  dd-smoke-tests/play-2.4/build.gradle
  dd-smoke-tests/play-2.5/build.gradle
  dd-smoke-tests/play-2.6/build.gradle
  dd-smoke-tests/play-2.7/build.gradle
  dd-smoke-tests/play-2.8-otel/build.gradle
  dd-smoke-tests/play-2.8-split-routes/build.gradle
  dd-smoke-tests/play-2.8/build.gradle
  dd-smoke-tests/quarkus-native/application/settings.gradle
  dd-smoke-tests/quarkus/application/settings.gradle
  dd-smoke-tests/spring-boot-2.5-webflux/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/application/settings.gradle
  dd-smoke-tests/spring-boot-3.0-native/application/settings.gradle
  dd-smoke-tests/spring-boot-3.0-webflux/application/settings.gradle
  dd-smoke-tests/spring-boot-3.0-webmvc/application/settings.gradle
  dd-smoke-tests/spring-boot-3.3-webmvc/application/settings.gradle
  dd-smoke-tests/springboot-freemarker/build.gradle
  dd-smoke-tests/springboot-java-11/build.gradle
  dd-smoke-tests/springboot-java-17/build.gradle
  dd-smoke-tests/springboot-jetty-jsp/build.gradle
  dd-smoke-tests/springboot-thymeleaf/build.gradle
  dd-smoke-tests/springboot-tomcat-jsp/build.gradle
  dd-smoke-tests/wildfly/spring-ear/settings.gradle
  dd-smoke-tests/wildfly/spring-ear/war/build.gradle
  gradle/repositories.gradle
  remote-config/remote-config-core/build.gradle
  settings.gradle
  test-published-dependencies/build.gradle
Labels: tag: no release notes, comp: tooling
