Repository DataDog/dd-trace-java, pull requests merged in 2025-02, with the labels that each got.

#8313 Introduce tracing propagator
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/TracingPropagator.java
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/TracingPropagatorTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentPropagation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/ExtractedSpanTest.groovy
Labels: type: enhancement, comp: core, comp: context propagation

#8319 Fix equals/hashCode for CodeOrigin probe
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/MetricProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanDecorationProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/SpanProbe.java
Labels: type: bug, comp: debugger

#8329 Add APPSEC_WAF_TELEMETRY to system-tests
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes, comp: asm waf

#8309 Fix blocked PR checks
  .github/workflows/check-pull-requests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#8333 Fix test name uniqueness
  .github/workflows/README.md
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/telemetry/MetricCollectorTest.groovy
Labels: type: enhancement, comp: testing, tag: no release notes

#8332 Rename debugger config to dynamic instrumentation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/util/Redaction.java
  dd-java-agent/agent-debugger/debugger-bootstrap/src/test/java/datadog/trace/bootstrap/debugger/util/RedactionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/GetMemberExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/IndexExpressionTest.java
  dd-java-agent/agent-debugger/debugger-el/src/test/java/com/datadog/debugger/el/expressions/ValueRefExpressionTest.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/CapturedContextInstrumentor.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/DebuggerSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/ProbeStatusSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SnapshotSink.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/uploader/BatchUploader.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/DebuggerMetrics.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ValueScriptHelper.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/ConfigurationUpdaterTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerAgentTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/DebuggerTransformerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/LogProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/MetricProbesInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanDecorationProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/SpanProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/DefaultExceptionDebuggerTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/exception/ExceptionProbeInstrumentationTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/DebuggerSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/ProbeStatusSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SnapshotSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/uploader/BatchUploaderTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/test/groovy/datadog/trace/api/ConfigTest.groovy
  telemetry/src/main/java/datadog/telemetry/TelemetryRequest.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetryServiceSpecification.groovy
Labels: type: enhancement, tag: no release notes, comp: debugger

#8210 Address cookie vulnerability cardinality issues
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/model/VulnerabilityTypeTest.groovy
Labels: type: enhancement, comp: asm iast

#8340 Update muzzle to record that the Ignite 2.0 instrumentation is not compatible with Ignite 3.0
  dd-java-agent/instrumentation/ignite-2.0/build.gradle
Labels: inst: others, tag: no release notes, type:task

#8205 Email HTML Injection detection in IAST
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/IastSystem.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/VulnerabilityType.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/sink/EmailInjectionModuleImpl.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/sink/EmailInjectionModuleTest.groovy
  dd-java-agent/instrumentation/commons-lang-2/src/main/java/datadog/trace/instrumentation/commonslang/StringEscapeUtilsCallSite.java
  dd-java-agent/instrumentation/commons-lang-2/src/test/groovy/datadog/trace/instrumentation/commonslang/StringEscapeUtilsCallSiteTest.groovy
  dd-java-agent/instrumentation/commons-lang-3/src/main/java/datadog/trace/instrumentation/commonslang3/StringEscapeUtilsCallSite.java
  dd-java-agent/instrumentation/commons-lang-3/src/test/groovy/datadog/trace/instrumentation/commonslang3/StringEscapeUtilsCallSiteTest.groovy
  dd-java-agent/instrumentation/commons-text/src/main/java/datadog/trace/instrumentation/commonstext/StringEscapeUtilsCallSite.java
  dd-java-agent/instrumentation/commons-text/src/test/groovy/datadog/trace/instrumentation/commonstext/StringEscapeUtilsCallSiteTest.groovy
  dd-java-agent/instrumentation/jakarta-mail/build.gradle
  dd-java-agent/instrumentation/jakarta-mail/src/main/java/datadog/trace/instrumentation/jakarta/mail/JakartaMailInstrumentation.java
  dd-java-agent/instrumentation/jakarta-mail/src/main/java/datadog/trace/instrumentation/jakarta/mail/JakartaMailPartInstrumentation.java
  dd-java-agent/instrumentation/jakarta-mail/src/test/groovy/JakartaMailInstrumentationTest.groovy
  dd-java-agent/instrumentation/jakarta-mail/src/test/java/MockTransport.java
  dd-java-agent/instrumentation/javax-mail/build.gradle
  dd-java-agent/instrumentation/javax-mail/src/main/java/datadog/trace/instrumentation/javax/mail/JavaxMailInstrumentation.java
  dd-java-agent/instrumentation/javax-mail/src/main/java/datadog/trace/instrumentation/javax/mail/JavaxMailPartInstrumentation.java
  dd-java-agent/instrumentation/javax-mail/src/test/groovy/JavaxMailInstrumentationTest.groovy
  dd-java-agent/instrumentation/javax-mail/src/test/java/MockTransport.java
  dd-smoke-tests/iast-util/build.gradle
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/IastWebController.java
  dd-smoke-tests/iast-util/src/main/java/datadog/smoketest/springboot/controller/mock/JakartaMockTransport.java
  dd-smoke-tests/iast-util/src/testFixtures/groovy/datadog/smoketest/AbstractIastSpringBootTest.groovy
  dd-smoke-tests/spring-boot-2.6-webmvc/build.gradle
  dd-smoke-tests/springboot/build.gradle
  internal-api/src/main/java/datadog/trace/api/iast/InstrumentationBridge.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityMarks.java
  internal-api/src/main/java/datadog/trace/api/iast/VulnerabilityTypes.java
  internal-api/src/main/java/datadog/trace/api/iast/sink/EmailInjectionModule.java
  internal-api/src/test/groovy/datadog/trace/api/iast/VulnerabilityTypesTest.groovy
  settings.gradle
Labels: type: enhancement, comp: asm iast

#8180 improve dev env setup documentation for Windows
  BUILDING.md
  setup.ps1
Labels: type: documentation, comp: tooling

#8339 Rename debugger symbol to symbol database
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerAgent.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/sink/SymbolSinkTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/symbol/SymDBEnablementTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, tag: no release notes, comp: debugger

#8337 Fix smoke test
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/LogProbesIntegrationTest.java
Labels: type: bug, tag: no release notes, comp: debugger

#8324 Combine continuation implementations into one which supports multiple activations
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ConcurrentState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ContinuationClaim.java
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/main/java/java/util/concurrent/CompletableFutureAdvice.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelScope.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-trace-api/src/main/java/datadog/trace/context/NoopTraceScope.java
  dd-trace-api/src/main/java/datadog/trace/context/TraceScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/AbstractContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ConcurrentContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuingScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/SingleContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeAndContinuationLayoutTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, type: refactoring

#8341 Refactor appsec.waf.updates and appsec.waf.init success tag
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
Labels: tag: no release notes, type: refactoring, comp: asm waf, comp: telemetry

#8346 fix wildfly module dependencies
  dd-java-agent/instrumentation/wildfly-9/build.gradle
  dd-java-agent/instrumentation/wildfly-9/src/test/java/test/ModulePatchInstrumentation.java
Labels: type: bug, comp: testing, tag: no release notes

#8355 Remove debug log on log probe critical path
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
Labels: type: enhancement, tag: no release notes, comp: debugger

#8356 Clean up deprecated input of static analyzer
  .github/workflows/analyze-changes.yaml
Labels: type: enhancement, tag: no release notes, comp: tooling

#8321 Refactor agent spans and scopes
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ConcurrentState.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaActorCellInstrumentation.java
  dd-java-agent/instrumentation/akka-concurrent/src/main/java/datadog/trace/instrumentation/akka/concurrent/AkkaMailboxInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/AWSHttpClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-1.11.0/src/main/java/datadog/trace/instrumentation/aws/v0/RequestExecutorInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sdk-2.2/src/main/java/datadog/trace/instrumentation/aws/v2/AwsHttpClientInstrumentation.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/NettyChannelHandlerContextInstrumentation.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/NettyChannelHandlerContextInstrumentation.java
  dd-java-agent/instrumentation/okhttp-2/src/test/groovy/OkHttp2AsyncTest.groovy
  dd-java-agent/instrumentation/okhttp-3/src/test/groovy/OkHttp3AsyncTest.groovy
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/TypeConverter.java
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/TypeConverter.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/TypeConverterTest.groovy
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoActorCellInstrumentation.java
  dd-java-agent/instrumentation/pekko-concurrent/src/main/java/datadog/trace/instrumentation/pekko/concurrent/PekkoMailboxInstrumentation.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisFutureSendAdvice.java
  dd-java-agent/instrumentation/vertx-redis-client-3.9/src/main/java/datadog/trace/instrumentation/vertx_redis_client/RedisSendAdvice.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/main/java/datadog/trace/instrumentation/vertx_3_4/server/RouteHandlerWrapper.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/main/java/datadog/trace/instrumentation/vertx_4_0/server/RouteHandlerWrapper.java
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/Tracer.java
  dd-trace-api/src/main/java/datadog/trace/context/TraceScope.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpan.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  dd-trace-core/src/main/java/datadog/trace/core/tagprocessor/SpanPointersProcessor.java
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreSpanBuilderTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerDepthTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  dd-trace-ot/src/main/java/datadog/opentracing/TypeConverter.java
  dd-trace-ot/src/test/groovy/datadog/opentracing/TypeConverterTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/BlackHoleSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ExtractedSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/ImmutableSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopSpan.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopSpanContext.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/instrumentation/api/ExtractedSpanTest.groovy
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: comp: core, tag: no release notes, type: refactoring

#8354 Update appsec metrics with event_rules_version tag
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: enhancement, comp: asm waf

#8349 Update CODEOWNERS parser to not log errors on comments with leading whitespace
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/codeowners/EntryBuilder.java
  dd-java-agent/agent-ci-visibility/src/test/groovy/datadog/trace/civisibility/codeowners/EntryBuilderTest.groovy
Labels: type: enhancement, comp: ci visibility

#8361 Muzzle: do not generate references for primitive arrays in method body
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
  dd-java-agent/agent-tooling/src/test/java/datadog/trace/agent/tooling/muzzle/TestAdviceClasses.java
Labels: type: bug, comp: tooling

#8348 Use Java home of the crashed process to launch crash uploader
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/CrashUploaderScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/ScriptInitializer.java
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/notify_oome.bat
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/notify_oome.sh
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/upload_crash.bat
  dd-java-agent/agent-crashtracking/src/main/resources/com/datadog/crashtracking/upload_crash.sh
  dd-java-agent/agent-crashtracking/src/test/java/com/datadog/crashtracking/ScriptInitializerTest.java
Labels: type: bug, comp: crash tracking

#8363 Skip benchmarks on release
  .gitlab/benchmarks.yml
Labels: tag: no release notes, comp: tooling

#8365 Return noop continuation when not async propagating
  dd-java-agent/instrumentation/opentracing/api-0.31/src/test/groovy/OpenTracing31Test.groovy
  dd-java-agent/instrumentation/opentracing/api-0.32/src/test/groovy/OpenTracing32Test.groovy
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopContinuation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopScope.java
Labels: comp: core, tag: no release notes, type: refactoring

#8367 Add a smoke test for quarantine feature
  dd-smoke-tests/backend-mock/src/main/groovy/datadog/smoketest/MockBackend.groovy
  dd-smoke-tests/gradle/src/test/resources/logback.xml
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-smoke-tests/maven/src/test/resources/logback.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_quarantined_tests/coverages.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_quarantined_tests/events.ftl
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_quarantined_tests/pom.xml
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_quarantined_tests/src/main/java/datadog/smoke/Calculator.java
  dd-smoke-tests/maven/src/test/resources/test_successful_maven_run_quarantined_tests/src/test/java/datadog/smoke/TestFailed.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: comp: testing, tag: no release notes, comp: ci visibility

#8301 Add code origin support to kafka message listeners
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/instrumentation/MethodInfo.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcCodeOriginTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java/datadog/trace/instrumentation/kafka_clients38/MessageListenerInstrumentation.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaCodeOriginForkedTest.groovy
  dd-java-agent/instrumentation/span-origin/src/main/java/datadog/trace/instrumentation/codeorigin/EntrySpanOriginAdvice.java
  dd-java-agent/testing/build.gradle
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/asserts/TagsAssert.groovy
Labels: type: enhancement, comp: debugger, inst: java

#8369 Disable capture of entry values
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: bug, comp: debugger

#8373 Update system-tests commit
  .circleci/config.continue.yml.j2
Labels: type: enhancement, comp: testing, tag: no release notes

#8344 Fix CodeOrigin for `@Trace` annotation
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/instrumentation/micronaut/http-server-netty-4.0/src/test/groovy/MicronautTest.groovy
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceAdvice.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
Labels: type: bug, comp: debugger

#8374 Ensure usr.exists tag is not overridden by auto instrumentation
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
Labels: type: bug, type: enhancement, comp: asm waf

#8366 Add messaging.destination.name tag to kafka integrations
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/main/java/datadog/trace/instrumentation/kafka_clients/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaReactorForkedTest.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/main/java17/datadog/trace/instrumentation/kafka_clients38/KafkaDecorator.java
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/latestDepTest/groovy/KafkaStreamsTest.groovy
  dd-java-agent/instrumentation/kafka-streams-0.11/src/test/groovy/KafkaStreamsTestBase.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/InstrumentationTags.java
Labels: type: enhancement, inst: kafka

#8376 Ensure usr.exists tag is not overridden when UsernameNotFoundException is thrown
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/user/AppSecEventTrackerSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/appsec/AppSecEventTracker.java
Labels: type: bug, type: enhancement, comp: asm waf

#8382 Update muzzle directive for ignite 2.17.0 to use Java 11
  dd-java-agent/instrumentation/ignite-2.0/build.gradle
Labels: type: bug, comp: testing, tag: no release notes

#8371 Move continuation capture methods from scope to tracer
  dd-java-agent/instrumentation/opentelemetry/opentelemetry-0.3/src/main/java/datadog/trace/instrumentation/opentelemetry/OtelScope.java
  dd-java-agent/instrumentation/opentracing/api-0.31/src/main/java/datadog/trace/instrumentation/opentracing31/OTScopeManager.java
  dd-java-agent/instrumentation/opentracing/api-0.32/src/main/java/datadog/trace/instrumentation/opentracing32/OTScopeManager.java
  dd-java-agent/instrumentation/play-ws-1/src/main/java/datadog/trace/instrumentation/playws1/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2.1/src/main/java/datadog/trace/instrumentation/playws21/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/play-ws-2/src/main/java/datadog/trace/instrumentation/playws2/AsyncHandlerWrapper.java
  dd-java-agent/instrumentation/servicetalk/src/test/groovy/ContextPreservingInstrumentationTest.groovy
  dd-java-agent/instrumentation/zio/zio-2.0/src/main/java/datadog/trace/instrumentation/zio/v2_0/FiberContext.java
  dd-trace-api/src/main/java/datadog/trace/api/GlobalTracer.java
  dd-trace-api/src/main/java/datadog/trace/api/Tracer.java
  dd-trace-api/src/main/java/datadog/trace/context/NoopTraceScope.java
  dd-trace-api/src/main/java/datadog/trace/context/TraceScope.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java
  dd-trace-ot/src/main/java/datadog/opentracing/OTScopeManager.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
Labels: comp: core, type: refactoring

#8219 Configuration to Disable APM Tracing
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-smoke-tests/apm-tracing-disabled/build.gradle
  dd-smoke-tests/apm-tracing-disabled/gradle.lockfile
  dd-smoke-tests/apm-tracing-disabled/src/main/java/datadog/smoketest/apmtracingdisabled/AppConfig.java
  dd-smoke-tests/apm-tracing-disabled/src/main/java/datadog/smoketest/apmtracingdisabled/Controller.java
  dd-smoke-tests/apm-tracing-disabled/src/main/java/datadog/smoketest/apmtracingdisabled/SpringbootApplication.java
  dd-smoke-tests/apm-tracing-disabled/src/test/groovy/datadog/smoketest/apmtracingdisabled/AbstractApmTracingDisabledSmokeTest.groovy
  dd-smoke-tests/apm-tracing-disabled/src/test/groovy/datadog/smoketest/apmtracingdisabled/ApmTracingDisabledMatrixSmokeTest.groovy
  dd-smoke-tests/apm-tracing-disabled/src/test/groovy/datadog/smoketest/apmtracingdisabled/ApmTracingDisabledSamplingSmokeTest.groovy
  dd-smoke-tests/apm-tracing-disabled/src/test/groovy/datadog/smoketest/apmtracingdisabled/ApmTracingDisabledSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/AsmStandaloneSampler.java
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/ddagent/DDAgentApi.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/DDSpanContext.java
  dd-trace-core/src/main/java/datadog/trace/core/TraceCollector.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ApmTracingDisabledPropagator.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/PropagationTags.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/DatadogPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/PTagsFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/propagation/ptags/W3CPTagsCodec.java
  dd-trace-core/src/main/java/datadog/trace/core/taginterceptor/TagInterceptor.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SamplerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/DatadogPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/TracingPropagatorTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/propagation/W3CPropagationTagsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/taginterceptor/TagInterceptorTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/ProductTraceSource.java
  internal-api/src/main/java/datadog/trace/api/sampling/SamplingMechanism.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/Tags.java
  internal-api/src/test/groovy/datadog/trace/api/ProductTraceSourceTest.groovy
  internal-api/src/test/groovy/datadog/trace/api/sampling/SamplingMechanismTest.groovy
  settings.gradle
Labels: type: enhancement, comp: asm waf, comp: asm iast

#8391 Disable backend requests for impacted tests data
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/config/ExecutionSettingsFactoryImpl.java
  dd-smoke-tests/maven/src/test/groovy/datadog/smoketest/MavenSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/CiVisibilityConfig.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: tag: no release notes, type: refactoring, comp: ci visibility

#8389 Update system-tests commit
  .circleci/config.continue.yml.j2
Labels: type: enhancement, comp: testing, tag: no release notes

#8392 Capture continuations via agent tracer
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/AdviceUtils.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ConcurrentState.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ContinuationClaim.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ExecutorInstrumentationUtils.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/State.java
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/Wrapper.java
  dd-java-agent/instrumentation/aerospike-4/src/main/java/datadog/trace/instrumentation/aerospike4/AerospikeClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/ApacheHttpAsyncClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpasyncclient-4/src/main/java/datadog/trace/instrumentation/apachehttpasyncclient/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/ApacheHttpAsyncClientInstrumentation.java
  dd-java-agent/instrumentation/apache-httpclient-5/src/main/java/datadog/trace/instrumentation/apachehttpclient5/TraceContinuedFutureCallback.java
  dd-java-agent/instrumentation/axis-2/src/main/java/datadog/trace/instrumentation/axis2/AxisEngineInstrumentation.java
  dd-java-agent/instrumentation/guava-10/src/main/java/datadog/trace/instrumentation/guava10/ListenableFutureInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/main/java/java/util/concurrent/CompletableFutureAdvice.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/executor/JavaExecutorInstrumentation.java
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/runnable/ConsumerTaskInstrumentation.java
  dd-java-agent/instrumentation/jetty-12/src/main/java17/datadog/trace/instrumentation/jetty12/JettyRunnableWrapper.java
  dd-java-agent/instrumentation/kotlin-coroutines/src/main/java/datadog/trace/instrumentation/kotlin/coroutines/ScopeStateCoroutineContext.java
  dd-java-agent/instrumentation/mongo/driver-4.0/src/main/java/datadog/trace/instrumentation/mongo/CallbackWrapper.java
  dd-java-agent/instrumentation/netty-3.8/src/main/java/datadog/trace/instrumentation/netty38/NettyChannelInstrumentation.java
  dd-java-agent/instrumentation/netty-4.0/src/main/java/datadog/trace/instrumentation/netty40/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/NettyChannelPipelineInstrumentation.java
  dd-java-agent/instrumentation/netty-promise-4/src/main/java/datadog/trace/instrumentation/netty4/promise/ListenerWrapper.java
  dd-java-agent/instrumentation/spring-rabbit/src/main/java/datadog/trace/instrumentation/springamqp/DeliveryInstrumentation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpannedMethodInvocation.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/main/java/datadog/trace/instrumentation/springscheduling/SpringAsyncAdvice.java
  dd-java-agent/instrumentation/spring-scheduling-3.1/src/test/groovy/SpringAsyncTest.groovy
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseClientWorkerInstrumentation.java
  dd-java-agent/instrumentation/synapse-3/src/main/java/datadog/trace/instrumentation/synapse3/SynapseServerWorkerInstrumentation.java
  dd-java-agent/instrumentation/undertow/src/main/java/datadog/trace/instrumentation/undertow/UndertowBlockingHandler.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/ExchangeEndSpanListener.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HandlerInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/HttpServerExchangeSenderInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/ServletInstrumentation.java
  dd-java-agent/instrumentation/undertow/undertow-2.0/src/main/java/datadog/trace/instrumentation/undertow/UndertowRunnableWrapper.java
  dd-java-agent/instrumentation/undertow/undertow-2.2/src/main/java/datadog/trace/instrumentation/undertow/JakartaServletInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/core/CoreTracer.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScope.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ContinuableScopeManager.java
  dd-trace-core/src/main/java/datadog/trace/core/scopemanager/ScopeContinuation.java
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceBufferTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceStrictWriteTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/PendingTraceTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentScope.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/AgentTracer.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/NoopContinuation.java
  internal-api/src/main/java/datadog/trace/bootstrap/instrumentation/api/java/lang/ProcessImplInstrumentationHelpers.java
Labels: comp: core, tag: no release notes, type: refactoring

#8400 Fix APM Tracing disabled for SCA
  dd-trace-core/src/main/java/datadog/trace/common/sampling/Sampler.java
  dd-trace-core/src/test/groovy/datadog/trace/common/sampling/SamplerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: bug, tag: no release notes, comp: asm waf, comp: asm iast

#8384 Move stackId from Vulnerability to Location
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Location.java
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/model/Vulnerability.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Labels: type: bug, tag: no release notes, comp: asm iast

#8401 Amend CODEOWNERS for some ASM classes
  .github/CODEOWNERS
Labels: tag: no release notes, comp: asm waf, comp: tooling

#8402 Add hasProductChangeEvent check to isEmpty
  telemetry/src/main/java/datadog/telemetry/EventSource.java
  telemetry/src/test/groovy/datadog/telemetry/EventSourceTest.groovy
Labels: type: bug, tag: no release notes, comp: telemetry

#8410 Fix test name uniqueness
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/CounterTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/TimingTest.groovy
Labels: type: enhancement, comp: core, tag: no release notes

#8412 Fix IAST Vulnerabilities stack trace generation when multiple vulnerabilities share location
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/Reporter.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/ReporterTest.groovy
Labels: type: bug, tag: no release notes, comp: asm iast

#8364 Create metric: appsec.rasp.error
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: enhancement, comp: metrics

#8414 Probe trace endpoints with a valid payload of empty arrays
  communication/src/main/java/datadog/communication/ddagent/DDAgentFeaturesDiscovery.java
Labels: comp: core, type: task

#8415 Skip mule-core 4.9.1 due to missing mule-artifact-ast:1.5.1 dependency
  dd-java-agent/instrumentation/mule-4/build.gradle
Labels: tag: no release notes, comp: tooling, type: task

#8407 Fix location for SSRF with Kong Unirest
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#8408 Fix weak randomness false positive in Kafka client
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: enhancement, comp: asm iast

#8397 Check async propagation flag via agent tracer
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/java/concurrent/ExecutorInstrumentationUtils.java
  dd-java-agent/instrumentation/armeria-grpc/src/test/groovy/ArmeriaGrpcStreamingTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcCodeOriginTest.groovy
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcStreamingTest.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/latestDepTest/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-0.11/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaClientTestBase.groovy
  dd-java-agent/instrumentation/kafka-clients-3.8/src/test/groovy/KafkaCodeOriginForkedTest.groovy
  dd-java-agent/instrumentation/scala-promise/src/main/java/datadog/trace/instrumentation/scala/PromiseHelper.java
  dd-java-agent/instrumentation/vertx-web-3.4/src/test/java/server/VertxTestServer.java
  dd-java-agent/instrumentation/vertx-web-3.9/src/test/java/server/IastVertx39TestVerticle.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/latestDepTest/java/server/VertxTestServer.java
  dd-java-agent/instrumentation/vertx-web-4.0/src/test/java/server/VertxTestServer.java
  dd-java-agent/instrumentation/vertx-web-5.0/src/test/java/server/VertxTestServer.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/scopemanager/ScopeManagerTest.groovy
Labels: comp: core, tag: no release notes, type: refactoring

#8378 Make sure budgets apply to line probes, too.
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
Labels: tag: no release notes, comp: debugger, inst: java, type: task

#8409 Add ASM standalone scenario V2
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: asm waf, comp: asm iast

#8381 Create metric: appsec.waf.error
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
Labels: type: enhancement, comp: metrics

#8420 Actually use CleanupTask in TempLocationManager
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
Labels: type: bug, comp: profiling

#8422 Revert "FIXME: temporarily ignore hostname assertions on CircleCI (#8411)"
  dd-smoke-tests/profiling-integration-tests/src/test/java/datadog/smoketest/JFRBasedProfilingIntegrationTest.java
  telemetry/src/test/groovy/datadog/telemetry/HostInfoTest.groovy
Labels: comp: testing, tag: no release notes

#8416 Add code origin support for spring-webmvc
  dd-java-agent/instrumentation/spring-webmvc-6.0/build.gradle
  dd-java-agent/instrumentation/spring-webmvc-6.0/src/main/java/datadog/trace/instrumentation/springweb6/SpringWebCodeOriginInstrumentation.java
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/AgentTestRunner.groovy
Labels: type: enhancement, comp: debugger, inst: java

#8387 Fix service name overrides in consumers
  dd-java-agent/instrumentation/kafka-connect-0.11/src/test/groovy/ConnectWorkerInstrumentationTest.groovy
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamContextExtractor.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DataStreamPropagator.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
Labels: type: bug, comp: data streams

#8405 Adjust JFR checks for J9
  dd-java-agent/agent-profiling/profiling-uploader/src/main/java/com/datadog/profiling/uploader/util/JfrCliHelper.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/ProfileUploaderTest.java
  dd-java-agent/agent-profiling/profiling-uploader/src/test/java/com/datadog/profiling/uploader/util/JfrCliHelperTest.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/CompositeController.java
  dd-java-agent/testing/src/test/groovy/AgentTestRunnerTest.groovy
  internal-api/src/main/java/datadog/trace/api/Platform.java
Labels: type: bug, comp: profiling, run-tests: semeru8, run-tests: semeru11, run-tests: semeru17

#7585 Inject trace context into AWS Step Functions input
  dd-java-agent/instrumentation/aws-java-sfn-2.0/build.gradle
  dd-java-agent/instrumentation/aws-java-sfn-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sfn/InputAttributeInjector.java
  dd-java-agent/instrumentation/aws-java-sfn-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sfn/SfnClientInstrumentation.java
  dd-java-agent/instrumentation/aws-java-sfn-2.0/src/main/java/datadog/trace/instrumentation/aws/v2/sfn/SfnInterceptor.java
  dd-java-agent/instrumentation/aws-java-sfn-2.0/src/test/groovy/SfnClientTest.groovy
  settings.gradle
Labels: type: feature request, inst: aws sdk

#8419 Only fork jps when required
  dd-java-agent/agent-crashtracking/src/main/java/com/datadog/crashtracking/OOMENotifierScriptInitializer.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/TempLocationManager.java
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: type: enhancement, comp: profiling, comp: crash tracking

#8385 Migrate spotless, muzzle, and test-published-artifacts from CircleCI to Gitlab
  .circleci/config.continue.yml.j2
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#8424 🍒 8369 - Disable capture of entry values
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/LogProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
Labels: type: bug, comp: debugger

#8426 Bump ddprof to 1.21.0
  gradle/libs.versions.toml
Labels: type: enhancement, tag: dependencies, comp: profiling

#8428 Add support for JBoss jar:file format to DependencyResolver
  telemetry/src/main/java/datadog/telemetry/dependency/DependencyResolver.java
  telemetry/src/test/groovy/datadog/telemetry/dependency/DependencyResolverSpecification.groovy
Labels: type: bug, comp: telemetry

#8429 Revert job removal from CircleCI
  .circleci/config.continue.yml.j2
Labels: tag: no release notes, comp: tooling

#8425 🍒 8344 - Fix CodeOrigin for @Trace annotation
  dd-java-agent/agent-debugger/debugger-bootstrap/src/main/java/datadog/trace/bootstrap/debugger/DebuggerContext.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/CodeOriginProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/instrumentation/grpc-1.5/src/test/groovy/GrpcCodeOriginTest.groovy
  dd-java-agent/instrumentation/ignite-2.0/build.gradle
  dd-java-agent/instrumentation/micronaut/http-server-netty-4.0/src/test/groovy/MicronautTest.groovy
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceAdvice.java
  dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceDecorator.java
Labels: type: bug, type: enhancement, comp: debugger

#8417 Send error message and stack to Lambda extension
  dd-java-agent/instrumentation/aws-lambda-handler/src/main/java/datadog/trace/instrumentation/aws/v1/lambda/LambdaHandlerInstrumentation.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/HandlerStreamingWithError.java
  dd-java-agent/instrumentation/aws-lambda-handler/src/test/groovy/LambdaHandlerInstrumentationTest.groovy
Labels: type: bug, inst: aws lambda

#8430 Disable flaky tests
  dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/base/HttpServerTest.groovy
  dd-smoke-tests/custom-systemloader/src/test/groovy/datadog/smoketest/CustomSystemLoaderSmokeTest.groovy
  utils/test-utils/src/main/groovy/datadog/trace/test/util/Predicates.java
Labels: comp: core, tag: no release notes, tag: flaky test, tag: flaky test/disabled, inst: play framework

#8386 Adds a new load tests variant for code origin entry spans
  benchmark/load/petclinic/benchmark.json
Labels: type: enhancement, tag: performance, comp: debugger

#8418 Introduce new flag to enable the live debugger specifically
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/codeorigin/DefaultCodeOriginRecorder.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/origin/CodeOriginTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/probe/LogProbeTest.java
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/DebuggerConfig.java
  dd-trace-core/src/main/java/datadog/trace/core/StatusLogger.java
  internal-api/src/main/java/datadog/trace/api/Config.java
Labels: type: enhancement, tag: no release notes, comp: debugger, inst: java

#8433 Fix ignite-2.0 latestDepTest compilation
  dd-java-agent/instrumentation/ignite-2.0/build.gradle
Labels: comp: testing, inst: others, tag: no release notes

#8338 Stable Configuration implementation
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  internal-api/build.gradle
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/StableConfigParser.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/StableConfigSource.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigParserTest.groovy
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigSourceTest.groovy
Labels: comp: core, type: feature request

#8388 Add Exception Replay smoke test
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ExceptionDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ProbeStateIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ServerAppDebuggerIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/SpanDecorationProbesIntegrationTests.java
Labels: comp: testing, tag: no release notes, comp: debugger

#8423 Add notification channel for build pipeline
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#8443 Fix GHCR registry pruning
  .github/workflows/README.md
  .github/workflows/prune-github-container-registry.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#8444 Fix Scalatest tracing for tests that are reported asynchronously
  dd-java-agent/instrumentation/scalatest/src/main/java/datadog/trace/instrumentation/scalatest/ScalatestInstrumentation.java
Labels: type: bug, comp: ci visibility

#8445 Remove warning log when JUnit 4 test method cannot be retrieved
  dd-java-agent/instrumentation/junit-4.10/src/main/java/datadog/trace/instrumentation/junit4/JUnit4Utils.java
Labels: type: enhancement, comp: ci visibility

#8442 Enable system-tests scenarios for API Security
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes, comp: asm waf

#8450 Fix stable-config lookup from Agent in premain
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
Labels: type: bug, comp: core, tag: no release notes

#8452 Fix Exception Replay with Lambda proxy classes
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/util/ClassNameFiltering.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/util/ClassNameFilteringTest.java
  dd-smoke-tests/debugger-integration-tests/src/main/java/datadog/smoketest/debugger/ServerDebuggerTestApplication.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/CodeOriginIntegrationTest.java
  dd-smoke-tests/debugger-integration-tests/src/test/java/datadog/smoketest/ExceptionDebuggerIntegrationTest.java
Labels: type: bug, comp: debugger

#8456 Exclude OrderedThreadPoolExecutor from queue-time measurements
  dd-java-agent/instrumentation/java-concurrent/src/main/java/datadog/trace/instrumentation/java/concurrent/executor/ThreadPoolExecutorInstrumentation.java
Labels: type: bug, comp: profiling

#8395 Computes cutoff/threshold once in DeterministicSampler.
  dd-trace-core/src/main/java/datadog/trace/common/sampling/DeterministicSampler.java
Labels: type: enhancement, tag: no release notes

#8454 Exclude datadog.trace.api.Config from coverage verification
  internal-api/build.gradle
Labels: comp: testing, comp: core, tag: no release notes

#8353 Update metrics: appsec.waf.requests
  .circleci/config.continue.yml.j2
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/powerwaf/PowerWAFModule.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFModuleSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/powerwaf/PowerWAFStatsReporterSpecification.groovy
  internal-api/src/main/java/datadog/trace/api/telemetry/WafMetricCollector.java
  internal-api/src/main/java/datadog/trace/api/telemetry/WafTruncatedType.java
  internal-api/src/test/groovy/datadog/trace/api/telemetry/WafMetricCollectorTest.groovy
  telemetry/src/test/groovy/datadog/telemetry/metric/WafMetricPeriodicActionSpecification.groovy
Labels: type: enhancement, comp: asm waf, comp: telemetry

#8446 Extend NonBlockingSemaphore and make release for 1-permit case atomic
  dd-java-agent/agent-iast/src/main/java/com/datadog/iast/util/NonBlockingSemaphore.java
  dd-java-agent/agent-iast/src/test/groovy/com/datadog/iast/util/NonBlockingSemaphoreTest.groovy
Labels: comp: testing, tag: no release notes, type: refactoring, comp: asm iast

#8459 Mark profiling test as flaky
  dd-java-agent/agent-profiling/profiling-controller/build.gradle
  dd-java-agent/agent-profiling/profiling-controller/src/test/java/com/datadog/profiling/controller/TempLocationManagerTest.java
Labels: tag: no release notes, tag: flaky test, comp: profiling, tag: flaky test/disabled

#8447 Update system-tests to 0509dbd094c9cbf15f58db96f62276a0adff7efa
  .circleci/config.continue.yml.j2
Labels: comp: testing, tag: no release notes

#8434 Add log warning in AgentJarIndex if an entryKey has multiple prefixIds.
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/AgentJarIndex.java
Labels: tag: no release notes, comp: logging

#8463 Bump ddprof library to 1.22.0
  gradle/libs.versions.toml
Labels: type: bug, tag: dependencies, comp: profiling

#8460 Fix Stable Config telemetry source names
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  internal-api/src/main/java/datadog/trace/api/ConfigOrigin.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/ConfigProvider.java
  internal-api/src/main/java/datadog/trace/bootstrap/config/provider/StableConfigSource.java
  internal-api/src/test/groovy/datadog/trace/bootstrap/config/provider/StableConfigSourceTest.groovy
Labels: type: bug, comp: core

#8467 Implement tests reordering for TestNG
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestFrameworkModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/TestImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/buildsystem/ProxyTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/domain/headless/HeadlessTestModule.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/NoOpTestEventsHandler.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/events/TestEventsHandlerImpl.java
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/test/ExecutionStrategy.java
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityInstrumentationTest.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/groovy/JUnit58Test.groovy
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-all-after-all/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-before-each-after-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-after-all/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-after-each/events.ftl
  dd-java-agent/instrumentation/junit-5.3/junit-5.8/src/test/resources/test-failed-before-each/events.ftl
  dd-java-agent/instrumentation/testng/src/main/java/datadog/trace/instrumentation/testng/TestNGInstrumentation.java
  dd-java-agent/instrumentation/testng/src/testFixtures/groovy/datadog/trace/instrumentation/testng/TestNGTest.groovy
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/order/FailFastOrderInterceptor.java
  dd-java-agent/instrumentation/testng/testng-7/src/main/java/datadog/trace/instrumentation/testng7/order/TestNGOrderInstrumentation.java
  internal-api/src/main/java/datadog/trace/api/civisibility/events/TestEventsHandler.java
Labels: type: enhancement, comp: ci visibility

#8449 Don't skip muzzle and test_published_artifacts for the nightly Gitlab build
  .gitlab-ci.yml
Labels: tag: no release notes, comp: tooling

#8462 Add exclusion to solve IAST weak randomness vulnerability false positives
  dd-java-agent/instrumentation/iast-instrumenter/src/main/resources/datadog/trace/instrumentation/iastinstrumenter/iast_exclusion.trie
Labels: type: bug, comp: asm iast

#8465 Fix Gradle Launcher instrumentation to not interfere with Gradle Test Kit
  dd-java-agent/agent-ci-visibility/src/testFixtures/groovy/datadog/trace/civisibility/CiVisibilityTestUtils.groovy
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleDaemonInjectionUtils.java
  dd-java-agent/instrumentation/gradle-8.3/src/main/groovy/datadog/trace/instrumentation/gradle/GradleServiceValidationInstrumentation.java
  dd-smoke-tests/gradle/src/test/groovy/datadog/smoketest/GradleDaemonSmokeTest.groovy
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/build.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/coverages.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/events.ftl
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/settings.gradleTest
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/src/main/java/datadog/smoke/HelloPlugin.java
  dd-smoke-tests/gradle/src/test/resources/test-succeed-gradle-plugin-test/src/test/java/datadog/smoke/HelloPluginFunctionalTest.java
Labels: type: bug, comp: ci visibility

#8468 Look in another location for grpc service methods
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/MethodHandlersInstrumentation.java
Labels: type: enhancement, inst: grpc, comp: debugger, inst: java

#8448 Migrate agent integration tests to gitlab
  .circleci/config.continue.yml.j2
  .gitlab-ci.yml
  dd-trace-core/src/traceAgentTest/groovy/AbstractTraceAgentTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DDApiIntegrationTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DataStreamsIntegrationTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/MetricsIntegrationTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/TraceMapperRealAgentTest.groovy
Labels: type: enhancement, tag: no release notes, comp: tooling

#8470 Reduce use of activeScope() in instrumentation
  dd-java-agent/instrumentation/couchbase/couchbase-2.6/src/main/java/datadog/trace/instrumentation/couchbase/client/CouchbaseCoreInstrumentation.java
  dd-java-agent/instrumentation/cucumber/src/main/java/datadog/trace/instrumentation/cucumber/CucumberInstrumentation.java
  dd-java-agent/instrumentation/cucumber/src/main/java/datadog/trace/instrumentation/cucumber/CucumberStepDecorator.java
  dd-java-agent/instrumentation/enable-wallclock-profiling/src/main/java/datadog/trace/instrumentation/wallclock/EnableWallclockProfilingInstrumentation.java
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/client/ClientStreamListenerImplInstrumentation.java
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/HttpUrlConnectionConnectFirstTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/HttpUrlConnectionTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/HttpUrlConnectionUseCachesFalseTest.groovy
  dd-java-agent/instrumentation/http-url-connection/src/test/groovy/UrlConnectionTest.groovy
  dd-java-agent/instrumentation/java-concurrent/java-completablefuture/src/test/java/Fanout.java
  dd-java-agent/instrumentation/java-concurrent/src/test/java/runnable/CheckpointTask.java
  dd-java-agent/instrumentation/junit-4.10/munit-junit-4/src/main/java/datadog/trace/instrumentation/junit4/MUnitTracingListener.java
  dd-java-agent/instrumentation/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/JUnitPlatformUtils.java
  dd-java-agent/instrumentation/rediscala-1.8.0/src/main/java/datadog/trace/instrumentation/rediscala/OnCompleteHandler.java
Labels: comp: core, tag: no release notes, type: refactoring

#8458 Don't instrument trigger probes if the distributed debugger is disabled
  dd-java-agent/agent-debugger/debugger-el/build.gradle
  dd-java-agent/agent-debugger/debugger-el/src/main/java/com/datadog/debugger/el/EvaluationException.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/probe/TriggerProbe.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/trigger/TriggerProbeTest.java
Labels: type: enhancement, tag: no release notes, comp: debugger, inst: java

#8476 Use proper class def to find interfaces
  dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/MethodHandlersInstrumentation.java
Labels: type: bug, tag: no release notes, comp: debugger, inst: java
