Repository DataDog/dd-trace-java, pull requests merged in 2025-10, with the labels that each got.

#9635 Test netty 4.2
  dd-java-agent/instrumentation/netty/netty-4.1/build.gradle
  dd-java-agent/instrumentation/netty/netty-4.1/gradle.lockfile
Labels: type: enhancement, comp: testing, tag: no release notes

#9641 Improves openliberty project laziness
  dd-java-agent/instrumentation/liberty-20/build.gradle
  dd-java-agent/instrumentation/liberty-23/build.gradle
Labels: type: enhancement, tag: no release notes, comp: tooling

#9639 Failing with the stacktrace when instrumentation post-processing fails.
  buildSrc/src/main/groovy/InstrumentingPlugin.groovy
Labels: type: enhancement, tag: no release notes, comp: tooling

#9618 Update gradle compile tasks written in list format
  dd-java-agent/agent-profiling/profiling-controller-jfr/build.gradle
  dd-java-agent/instrumentation/akka/akka-actor-2.5/build.gradle
  dd-java-agent/instrumentation/akka/akka-http/akka-http-10.6/build.gradle
  dd-java-agent/instrumentation/armeria/armeria-jetty-1.24/build.gradle
  dd-java-agent/instrumentation/axis2-1.3/build.gradle
  dd-java-agent/instrumentation/cxf-2.1/build.gradle
  dd-java-agent/instrumentation/exception-profiling/build.gradle
  dd-java-agent/instrumentation/finatra-2.9/build.gradle
  dd-java-agent/instrumentation/graal/native-image/build.gradle
  dd-java-agent/instrumentation/jakarta-rs-annotations-3/build.gradle
  dd-java-agent/instrumentation/java-directbytebuffer/build.gradle
  dd-java-agent/instrumentation/java-http-client/build.gradle
  dd-java-agent/instrumentation/jdbc/scalikejdbc/build.gradle
  dd-java-agent/instrumentation/jetty/jetty-server/jetty-server-12.0/build.gradle
  dd-java-agent/instrumentation/jetty/jetty-server/jetty-server-9.0/build.gradle
  dd-java-agent/instrumentation/junit/junit-4.10/build.gradle
  dd-java-agent/instrumentation/junit/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit/junit-5.3/junit-5.8/build.gradle
  dd-java-agent/instrumentation/kafka/kafka-clients-3.8/build.gradle
  dd-java-agent/instrumentation/karate/build.gradle
  dd-java-agent/instrumentation/kotlin-coroutines/build.gradle
  dd-java-agent/instrumentation/micronaut/http-server-netty-4.0/build.gradle
  dd-java-agent/instrumentation/mule-4.5/build.gradle
  dd-java-agent/instrumentation/pekko/pekko-concurrent-1.0/build.gradle
  dd-java-agent/instrumentation/play/play-2.6/build.gradle
  dd-java-agent/instrumentation/scala-concurrent/build.gradle
  dd-java-agent/instrumentation/scala-promise/build.gradle
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.10/build.gradle
  dd-java-agent/instrumentation/scala-promise/scala-promise-2.13/build.gradle
  dd-java-agent/instrumentation/selenium/build.gradle
  dd-java-agent/instrumentation/slick/build.gradle
  dd-java-agent/instrumentation/spring/spring-boot-1.3/build.gradle
  dd-java-agent/instrumentation/spring/spring-messaging-4.0/build.gradle
  dd-java-agent/instrumentation/spring/spring-scheduling-3.1/build.gradle
  dd-java-agent/instrumentation/spring/spring-webmvc/spring-webmvc-6.0/build.gradle
  dd-java-agent/instrumentation/tomcat/tomcat-5.5/build.gradle
  dd-java-agent/instrumentation/vertx/vertx-web/vertx-web-4.0/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-10/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-11/build.gradle
  dd-java-agent/instrumentation/websocket/jetty-websocket/jetty-websocket-12/build.gradle
  dd-java-agent/instrumentation/wildfly-9.0/build.gradle
  dd-java-agent/instrumentation/zio/zio-2.0/build.gradle
  dd-smoke-tests/armeria-grpc/build.gradle
  dd-smoke-tests/play-2.4/build.gradle
  dd-smoke-tests/play-2.5/build.gradle
  dd-smoke-tests/quarkus/build.gradle
  dd-smoke-tests/rum/wildfly-15/build.gradle
  dd-smoke-tests/spring-boot-2.7-webflux/build.gradle
  dd-smoke-tests/spring-boot-3.0-webflux/build.gradle
  dd-smoke-tests/springboot-openliberty-20/build.gradle
  dd-smoke-tests/springboot-openliberty-23/build.gradle
  dd-smoke-tests/vertx-3.4/build.gradle
  dd-smoke-tests/vertx-3.9-resteasy/build.gradle
  dd-smoke-tests/vertx-3.9/build.gradle
  dd-smoke-tests/vertx-4.2/build.gradle
  dd-smoke-tests/wildfly/build.gradle
  gradle/test-with-kotlin.gradle
  gradle/test-with-scala.gradle
Labels: type: enhancement, tag: no release notes, comp: tooling

#9619 Update task naming in gradle files PT 3
  dd-java-agent/agent-bootstrap/build.gradle
  dd-java-agent/agent-builder/build.gradle
  dd-java-agent/agent-ci-visibility/build.gradle
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-iast/build.gradle
  dd-java-agent/agent-jmxfetch/build.gradle
  dd-java-agent/agent-llmobs/build.gradle
  dd-java-agent/agent-logs-intake/build.gradle
  dd-java-agent/agent-otel/otel-bootstrap/build.gradle
  dd-java-agent/agent-profiling/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-ddprof/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-jfr/build.gradle
  dd-java-agent/agent-profiling/profiling-controller-openjdk/build.gradle
  dd-java-agent/agent-profiling/profiling-ddprof/build.gradle
  dd-java-agent/agent-tooling/build.gradle
  dd-java-agent/appsec/build.gradle
  dd-java-agent/benchmark-integration/jetty-perftest/build.gradle
Labels: type: enhancement, tag: no release notes, comp: tooling

#9632 Remove EA note from build doc
  BUILDING.md
Labels: type: documentation, tag: no release notes, comp: tooling

#9637 Improve OS type and architecture detection
  components/environment/build.gradle.kts
  components/environment/src/main/java/datadog/environment/OperatingSystem.java
  components/environment/src/test/java/datadog/environment/OperatingSystemTest.java
  dd-java-agent/agent-profiling/profiling-controller/src/main/java/com/datadog/profiling/controller/EnvironmentChecker.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/Arch.java
  dd-java-agent/agent-profiling/profiling-ddprof/src/main/java/com/datadog/profiling/ddprof/OperatingSystem.java
  dd-java-agent/agent-profiling/src/main/java/com/datadog/profiling/agent/CompositeController.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/NativeImageGeneratorRunnerInstrumentation.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/TraceStructureWriter.java
  dd-trace-core/src/test/groovy/datadog/trace/api/writer/TraceStructureWriterTest.groovy
Labels: type: enhancement, comp: platform

#9572 Add downstream HTTP request/response analysis for OkHttp2 client
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecorator.java
  dd-java-agent/agent-bootstrap/src/test/groovy/datadog/trace/bootstrap/instrumentation/decorator/HttpClientDecoratorTest.groovy
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityDownstreamSampler.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/api/security/ApiSecurityDownstreamSamplerImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/event/data/KnownAddresses.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/util/BodyParser.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/api/security/ApiSecurityDownstreamSamplerTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/event/data/KnownAddressesSpecificationForkedTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/AppSecRequestContextSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeIGRegistrationSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/gateway/GatewayBridgeSpecification.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/util/BodyParserSpecification.groovy
  dd-java-agent/instrumentation-testing/src/main/groovy/datadog/trace/agent/test/base/HttpClientTest.groovy
  dd-java-agent/instrumentation/java-net/src/main/java/datadog/trace/instrumentation/java/net/URLSinkCallSite.java
  dd-java-agent/instrumentation/java-net/src/test/groovy/datadog/trace/instrumentation/java/net/URLSinkCallSiteTest.groovy
  dd-java-agent/instrumentation/okhttp/okhttp-2.2/src/main/java/datadog/trace/instrumentation/okhttp2/AppSecInterceptor.java
  dd-java-agent/instrumentation/okhttp/okhttp-2.2/src/main/java/datadog/trace/instrumentation/okhttp2/OkHttp2Instrumentation.java
  dd-java-agent/instrumentation/okhttp/okhttp-2.2/src/main/java/datadog/trace/instrumentation/okhttp2/OkHttpClientDecorator.java
  dd-java-agent/instrumentation/okhttp/okhttp-2.2/src/test/groovy/OkHttp2AsyncTest.groovy
  dd-java-agent/instrumentation/okhttp/okhttp-2.2/src/test/groovy/OkHttp2Test.groovy
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/SpringbootApplication.java
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/WebController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/SpringBootSmokeTest.groovy
  dd-smoke-tests/appsec/src/main/groovy/datadog/smoketest/appsec/AbstractAppSecServerSmokeTest.groovy
  dd-trace-api/src/main/java/datadog/trace/api/ConfigDefaults.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AppSecConfig.java
  internal-api/build.gradle.kts
  internal-api/src/main/java/datadog/trace/api/Config.java
  internal-api/src/main/java/datadog/trace/api/appsec/HttpClientPayload.java
  internal-api/src/main/java/datadog/trace/api/appsec/HttpClientRequest.java
  internal-api/src/main/java/datadog/trace/api/appsec/HttpClientResponse.java
  internal-api/src/main/java/datadog/trace/api/appsec/MediaType.java
  internal-api/src/main/java/datadog/trace/api/gateway/Events.java
  internal-api/src/main/java/datadog/trace/api/gateway/InstrumentationGateway.java
  internal-api/src/test/groovy/datadog/trace/api/appsec/MediaTypeSpecification.groovy
  internal-api/src/test/java/datadog/trace/api/gateway/InstrumentationGatewayTest.java
Labels: type: enhancement, inst: others, comp: asm waf

#9643 Simplify `HelperInjector` to make it easier to switch out the underlying approach
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPlugin.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/test/HelperInjectionTest.groovy
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/muzzle/MuzzleVersionScanPluginTest.groovy
  internal-api/internal-api-9/src/main/java/datadog/trace/util/JDK9ModuleAccess.java
Labels: comp: core, tag: no release notes, type: refactoring

#9607 Fixed race condition on dumping future cleanup.
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/integTest/kotlin/datadog/gradle/plugin/version/DumpHangedTestIntegrationTest.kt
  buildSrc/src/integTest/kotlin/datadog/gradle/plugin/version/TracerVersionIntegrationTest.kt
  buildSrc/src/main/kotlin/datadog/gradle/plugin/dump/DumpHangedTestPlugin.kt
  gradle/configure_tests.gradle
  gradle/dump_hanging_test.gradle
Labels: type: bug, comp: testing, tag: no release notes

#9642 Stream the SymDB serialization and compression
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/sink/SymbolSink.java
Labels: type: enhancement, comp: debugger

#9647 Disable process context sharing when using native image
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/AnnotationSubstitutionProcessorInstrumentation.java
  dd-java-agent/instrumentation/graal/native-image/src/main/java/datadog/trace/instrumentation/graal/nativeimage/Target_com_datadog_profiling_agent_ProcessContext.java
Labels: type: bug, comp: native-image

#9649 Ignore java.lang.Object methods when creating muzzle references
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/muzzle/ReferenceCreator.java
Labels: type: enhancement, tag: no release notes, comp: tooling

#9644 Simplify type outlines to not implement type.getDeclaringType() and type.getEnclosingType()
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/OutlineTypeParser.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeFactory.java
  dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/bytebuddy/outline/TypeOutline.java
  dd-java-agent/agent-tooling/src/test/groovy/datadog/trace/agent/tooling/bytebuddy/outline/OutlineTypeParserTest.groovy
  dd-java-agent/instrumentation/iast-instrumenter/src/main/java/datadog/trace/instrumentation/iastinstrumenter/IastInstrumentation.java
Labels: comp: core, tag: no release notes, type: refactoring

#9603 Port remote API response to Java 8+
  dd-trace-core/src/main/java/datadog/trace/common/writer/RemoteApi.java
  dd-trace-core/src/main/java/datadog/trace/core/monitor/TracerHealthMetrics.java
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDIntakeWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDEvpProxyApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddintake/DDIntakeApiTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/monitor/HealthMetricsTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DDApiIntegrationTest.groovy
Labels: type: enhancement, comp: core, tag: no release notes

#9651 Version file was not always generated on first jar generation
  gradle/version.gradle
Labels: type: bug, tag: no release notes, comp: tooling

#9646 Fix Kotlin unit test running on JDK 25
  dd-java-agent/agent-debugger/build.gradle
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturedSnapshotTest.java
  dd-java-agent/agent-debugger/src/test/java/com/datadog/debugger/agent/CapturingTestBase.java
Labels: tag: no release notes, type: refactoring, comp: debugger

#9655 Fix Retransform dependent classes for arrays
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ClassesToRetransformFinder.java
Labels: type: bug, tag: no release notes, comp: debugger

#9664 Add support for JUnit 5.14
  dd-java-agent/instrumentation/junit/junit-5.3/build.gradle
  dd-java-agent/instrumentation/junit/junit-5.3/gradle.lockfile
  dd-java-agent/instrumentation/junit/junit-5.3/src/main/java/datadog/trace/instrumentation/junit5/ExecutionRequestFactory.java
Labels: type: enhancement, comp: ci visibility

#9666 Add akka repository token to update Gradle dependencies action.
  .github/workflows/update-gradle-dependencies.yaml
Labels: comp: testing, tag: no release notes, comp: tooling

#9628 Initial implementation of the AI Guard SDK
  .github/CODEOWNERS
  communication/src/main/java/datadog/communication/serialization/Codec.java
  communication/src/main/java/datadog/communication/serialization/custom/aiguard/FunctionWriter.java
  communication/src/main/java/datadog/communication/serialization/custom/aiguard/MessageWriter.java
  communication/src/main/java/datadog/communication/serialization/custom/aiguard/ToolCallWriter.java
  communication/src/test/groovy/datadog/communication/serialization/aiguard/MessageWriterTest.groovy
  dd-java-agent/agent-aiguard/build.gradle
  dd-java-agent/agent-aiguard/src/main/java/com/datadog/aiguard/AIGuardInternal.java
  dd-java-agent/agent-aiguard/src/main/java/com/datadog/aiguard/AIGuardSystem.java
  dd-java-agent/agent-aiguard/src/test/groovy/com/datadog/aiguard/AIGuardInternalTests.groovy
  dd-java-agent/agent-aiguard/src/test/groovy/com/datadog/aiguard/AIGuardSystemTests.groovy
  dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/Agent.java
  dd-java-agent/build.gradle
  dd-smoke-tests/appsec/springboot/build.gradle
  dd-smoke-tests/appsec/springboot/src/main/java/datadog/smoketest/appsec/springboot/controller/AIGuardController.java
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/AIGuardSmokeTest.groovy
  dd-trace-api/build.gradle.kts
  dd-trace-api/src/main/java/datadog/trace/api/aiguard/AIGuard.java
  dd-trace-api/src/main/java/datadog/trace/api/aiguard/Evaluator.java
  dd-trace-api/src/main/java/datadog/trace/api/aiguard/noop/NoOpEvaluator.java
  dd-trace-api/src/main/java/datadog/trace/api/config/AIGuardConfig.java
  dd-trace-api/src/main/java/datadog/trace/api/config/GeneralConfig.java
  dd-trace-api/src/test/groovy/datadog/trace/api/aiguard/AIGuardTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  settings.gradle.kts
Labels: type: enhancement, tag: experimental, comp: api

#9672 Removes flakes from mapper tests
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/DDAgentWriterCombinedTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceMapperV04PayloadTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/ddagent/TraceMapperV05PayloadTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/DDSpanSerializationTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DataStreamsWritingTest.groovy
Labels: type: enhancement, comp: testing, tag: no release notes, tag: flaky test

#9660 Create shared DD intake HTTP client
  communication/src/main/java/datadog/communication/BackendApiFactory.java
  communication/src/main/java/datadog/communication/ddagent/SharedCommunicationObjects.java
  communication/src/main/java/datadog/communication/http/OkHttpUtils.java
  communication/src/test/groovy/datadog/communication/ddagent/SharedCommunicationsObjectsSpecification.groovy
  dd-java-agent/agent-ci-visibility/src/main/java/datadog/trace/civisibility/CiVisibilityServices.java
  dd-java-agent/appsec/src/jmh/java/datadog/appsec/benchmark/AppSecBenchmark.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/AppSecSystemSpecification.groovy
  dd-java-agent/instrumentation-testing/src/main/groovy/datadog/trace/agent/test/InstrumentationSpecification.groovy
  dd-trace-api/src/main/java/datadog/trace/api/config/TracerConfig.java
  dd-trace-core/src/main/java/datadog/trace/common/metrics/ConflatingMetricsAggregator.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/DDAgentWriter.java
  dd-trace-core/src/main/java/datadog/trace/common/writer/WriterFactory.java
  dd-trace-core/src/main/java/datadog/trace/core/datastreams/DefaultDataStreamsMonitoring.java
  dd-trace-core/src/test/groovy/datadog/trace/TracerConnectionReliabilityTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/common/writer/WriterFactoryTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/CoreTracerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/TracingConfigPollerTest.groovy
  dd-trace-core/src/test/groovy/datadog/trace/core/datastreams/DataStreamsWritingTest.groovy
  dd-trace-core/src/traceAgentTest/groovy/DDApiIntegrationTest.groovy
  internal-api/src/main/java/datadog/trace/api/Config.java
  telemetry/src/main/java/datadog/telemetry/TelemetrySystem.java
  telemetry/src/test/groovy/datadog/telemetry/TelemetrySystemSpecification.groovy
  utils/flare-utils/src/main/java/datadog/flare/TracerFlarePoller.java
Labels: type: enhancement, comp: core, tag: performance

#9682 Fix system tests PR check
  .github/workflows/run-system-tests.yaml
Labels: type: bug, tag: no release notes, comp: tooling

#9675 Throttle warning log when resolving probe
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/ConfigurationUpdater.java
Labels: type: bug, comp: debugger

#9684 Upgrade asm to 9.9
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  gradle/libs.versions.toml
Labels: type: enhancement, comp: core, tag: dependencies

#9687 Fix log level ClassWriter
  dd-java-agent/agent-debugger/src/main/java/com/datadog/debugger/agent/DebuggerTransformer.java
Labels: type: bug, tag: no release notes, comp: debugger

#9692 byte-buddy 1.17.7
  buildSrc/build.gradle.kts
  buildSrc/call-site-instrumentation-plugin/build.gradle.kts
  buildSrc/src/test/groovy/CallSiteInstrumentationPluginTest.groovy
  buildSrc/src/test/groovy/InstrumentPluginTest.groovy
  gradle/libs.versions.toml
Labels: type: enhancement, comp: core, tag: dependencies

#9685 Add origin header to crashtracking telemetry
  dd-java-agent/agent-crashtracking/src/main/java/datadog/crashtracking/CrashUploader.java
  dd-java-agent/agent-crashtracking/src/test/java/datadog/crashtracking/CrashUploaderTest.java
Labels: type: enhancement, comp: crash tracking

#9486 Libddwaf upgrade to 17.1.0
  dd-java-agent/appsec/build.gradle
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/config/AppSecConfigServiceImpl.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/ddwaf/WAFModule.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/AppSecRequestContext.java
  dd-java-agent/appsec/src/main/java/com/datadog/appsec/gateway/GatewayBridge.java
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/config/AppSecConfigServiceImplJsonAdapterTest.groovy
  dd-java-agent/appsec/src/test/groovy/com/datadog/appsec/ddwaf/WAFModuleSpecification.groovy
  dd-smoke-tests/appsec/springboot/src/test/groovy/datadog/smoketest/appsec/TraceTaggingSmokeTest.groovy
Labels: type: enhancement, comp: asm waf
